﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util
@{
    ViewBag.Title = "Журнал операций";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/stock", "stock-log-list-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("stock", "Сводное наличие"))
}

@section menuPath {
<div class="cab-menu-path">
    @Html.ActionLink("Услуги", "DefectList", "Defect") - @Html.ActionLink("Сводное наличие", "StockList", "Stock") - @Html.ActionLink("Журнал операций", "StockLogList", "Stock")
</div>
}

<style>
</style>
@(Html.Kendo().ToolBar().Name("stockLogToolbar")
    .Resizable(false)
    .Items(item =>
    {
        item.Add().Template("<span><strong>Организация</strong></span>");
        item.Add().Template(Html.Kendo()
            .DropDownList()
            .Name("stockLogClientDdl")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("GetClientList_Stock", "Cabinet");
                });
            })
            .AutoBind(true)
            .DataTextField("client_name")
            .DataValueField("client_id")
            .Events(ev =>
            {
                ev.Change("stockLogList.onStockLogClientDdlChange");
                ev.DataBound("stockLogList.onStockLogClientDdlDataBound");
            })
            .HtmlAttributes(new { @id = "stockLogClientDdl", @style = "width: 150px;" })
            .ToHtmlString()
            );
        item.Add().Type(CommandType.Separator);
        item.Add().Template("<span><strong>Отделение</strong></span>");
        item.Add().Template(Html.Kendo()
            .DropDownList()
            .Name("stockLogSalesDdl")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("GetSalesList_Stock", "Cabinet").Data("stockLogList.getStockLogSalesDdlData");
                });
            })
            .AutoBind(false)
            .DataTextField("adress")
            .DataValueField("sales_id")
            .OptionLabel("все")
            .Events(ev => 
            {
                ev.Change("stockLogList.onStockLogSalesDdlChange");
                ev.DataBound("stockLogList.onStockLogSalesDdlDataBound");
            })
            .HtmlAttributes(new { @id = "stockLogSalesDdl", @style = "width: 150px;" })
            .ToHtmlString()
            );
    })    
)

@(Html.Kendo().Grid<CabinetMvc.ViewModel.Stock.StockBatchViewModel>()
                      .Name("stockUploadLogGrid")
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {
                          model.Id(ev => ev.batch_id);
                      })
                      .PageSize(100)
                      .Sort(sort => sort.Add("crt_date").Descending())
                      .Read(read => read.Action("GetStockUploadLogList", "Stock").Data("stockLogList.getStockLogGridData"))
                   )
                  .ToolBar(tb => tb.Template("<span><strong>Отправка наличия</strong></span>"))
                  .Columns(columns =>
                  {
                      columns.Bound(item => item.sales_name)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.pharmacy_name)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.depart_name)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.crt_date)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Format("{0:dd.MM.yyyy HH:mm:ss}")
                          .Width(100)
                          ;
                      columns.Bound(item => item.row_cnt)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.part_num)
                          .Filterable(ftb => ftb.Enabled(false))
                          .Title("Части пакета")
                          .ClientTemplate("#=part_num#" + " из " + "#=part_cnt#")
                          .Width(100)
                          ;
                      columns.Bound(item => item.batch_num)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.is_active)
                          .Filterable(ftb =>
                          {
                              ftb.Cell(cell => cell.Operator("eq"));
                              ftb.Messages(m =>
                              {
                                  m.IsTrue("да");
                                  m.IsFalse("нет");
                              });
                          })
                          .ClientTemplate("#if (is_active) {#" + "Да" + "#} else {#" + "Нет" + "#}#")
                          .Width(100)
                          ;

                      columns.Bound(item => item.depart_id)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(50)
                          ;                      
                      columns.Bound(item => item.batch_id)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(50)
                          ;
                  })
                  .Pageable(page => { page.PageSizes(new int[] { 10, 50, 100, 500, 1000 }); page.Refresh(true); })
                  .Sortable()
                  .Groupable(gr => gr.Enabled(false))
                  .AutoBind(false)
                  .Resizable(resize => resize.Columns(true))
                  .Scrollable(scr => scr.Height("auto"))
                  .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                  .HtmlAttributes(new { @style = "margin-top:15px;" })
                  .Events(ev =>
                  {
                      ev.DataBound("stockLogList.onStockUploadLogGridDataBound");
                  })
)
@(Html.Kendo().Grid<CabinetMvc.ViewModel.Stock.StockSalesDownloadViewModel>()
                      .Name("stockDownloadLogGrid")
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {
                          model.Id(ev => ev.download_id);
                      })
                      .PageSize(100)
                      .Sort(sort => sort.Add("crt_date").Descending())
                      .Read(read => read.Action("GetStockDownloadLogList", "Stock").Data("stockLogList.getStockLogGridData"))
                   )
                  .ToolBar(tb => tb.Template("<span><strong>Загрузка наличия</strong></span>"))
                  .Columns(columns =>
                  {
                      columns.Bound(item => item.sales_name)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(300)
                          ;
                      columns.Bound(item => item.crt_date)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Format("{0:dd.MM.yyyy HH:mm:ss}")
                          .Width(100)
                          ;
                      columns.Bound(item => item.row_cnt)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.part_num)
                          .Filterable(ftb => ftb.Enabled(false))
                          .Title("Части пакета")
                          .ClientTemplate("#=part_num#" + " из " + "#=part_cnt#")
                          .Width(200)
                          ;
                      columns.Bound(item => item.is_active)
                          .Filterable(ftb =>
                          {
                              ftb.Cell(cell => cell.Operator("eq"));
                              ftb.Messages(m =>
                              {
                                  m.IsTrue("да");
                                  m.IsFalse("нет");
                              });
                          })
                          .ClientTemplate("#if (is_active) {#" + "Да" + "#} else {#" + "Нет" + "#}#")
                          .Width(100)
                          ;

                      columns.Bound(item => item.download_id)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(100)
                          ;
                  })
                  .Pageable(page => { page.PageSizes(new int[] { 10, 50, 100, 500, 1000 }); page.Refresh(true); })
                  .Sortable()
                  .Groupable(gr => gr.Enabled(false))
                  .AutoBind(false)
                  .Resizable(resize => resize.Columns(true))
                  .Scrollable(scr => scr.Height("auto"))
                  .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                  .HtmlAttributes(new { @style = "margin-top:15px;" })
                  .Events(ev =>
                  {
                      ev.DataBound("stockLogList.onStockDownloadLogGridDataBound");
                  })
)
<script>
</script>