﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util
@{
    ViewBag.Title = "Состояние обмена";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currUser = ((CabinetMvc.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/stock", "stock-last-list-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("stock", "Сводное наличие"))
}

@section menuPath {
<div class="cab-menu-path">
    @Html.ActionLink("Услуги", "DefectList", "Defect") - @Html.ActionLink("Сводное наличие", "StockList", "Stock") - @Html.ActionLink("Состояние обмена", "StockLastList", "Stock")
</div>
}

<style>
</style>
@(Html.Kendo().ToolBar().Name("stockLastToolbar")
    .Resizable(false)
    .Items(item =>
    {
        item.Add().Template("<span><strong>Организация</strong></span>");
        item.Add().Template(Html.Kendo()
            .DropDownList()
            .Name("stockClientDdl")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("GetClientList_Stock", "Cabinet");
                });
            })
            .AutoBind(true)
            .DataTextField("client_name")
            .DataValueField("client_id")
            .OptionLabel("все")
            .Events(ev =>
            {
                ev.Change("stockLastList.onStockClientDdlChange");
                ev.DataBound("stockLastList.onStockClientDdlDataBound");
            })
            .HtmlAttributes(new { @id = "stockClientDdl", @style = "width: 150px;" })
            .ToHtmlString()
            );
        item.Add().Type(CommandType.Separator);
        item.Add().Template("<span><strong>Отделение</strong></span>");
        item.Add().Template(Html.Kendo()
            .DropDownList()
            .Name("stockSalesDdl")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("GetSalesList_Stock", "Cabinet").Data("stockLastList.getStockSalesDdlData");
                });
            })
            .AutoBind(false)
            .DataTextField("adress")
            .DataValueField("sales_id")
            .OptionLabel("все")
            .Events(ev =>
            {
                ev.Change("stockLastList.onStockSalesDdlChange");
                ev.DataBound("stockLastList.onStockSalesDdlDataBound");
            })
            .HtmlAttributes(new { @id = "stockSalesDdl", @style = "width: 150px;" })
            .ToHtmlString()
            );
        item.Add().Type(CommandType.Separator);
        item.Add().Template("<span>Сколько дней не было обмена:</span>");
        item.Add().Template(Html.Kendo().NumericTextBox().Name("stock-last-day-cnt")
            .Min(0)
            .HtmlAttributes(new { @id = "stock-last-day-cnt", @style = "width: 100px;", @onkeyup = "stockLastList.onStockLastDayCntKeyup(event)" })
            .ToHtmlString());
    })
)

@(Html.Kendo().Grid<CabinetMvc.ViewModel.Stock.StockLogViewModel>()
                  .Name("stockLastGrid")
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {
                          model.Id(ev => ev.sales_id);
                      })
                      .PageSize(100)
                      .Sort(sort => sort.Add("client_name").Ascending())
                      .Read(read => read.Action("GetStockLastList", "Stock").Data("stockLastList.getStockLastGridData"))
                   )
                  .Columns(columns =>
                  {
                      columns.Bound(item => item.client_name)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.sales_name)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.last_upl_date)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("lte")))
                          .Format("{0:dd.MM.yyyy HH:mm:ss}")
                          .Width(100)
                          ;
                      columns.Bound(item => item.last_downl_date)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("lte")))
                          .Format("{0:dd.MM.yyyy HH:mm:ss}")
                          .Width(100)
                          ;
                      columns.Bound(item => item.last_del_date)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("lte")))
                          .Format("{0:dd.MM.yyyy HH:mm:ss}")
                          .Width(100)
                          ;
                  })
                  .Pageable(page => { page.PageSizes(new int[] { 10, 50, 100, 500, 1000 }); page.Refresh(true); })
                  .Sortable()
                  .Groupable(gr => gr.Enabled(false))
                  .AutoBind(false)
                  .Resizable(resize => resize.Columns(true))
                  .Scrollable(scr => scr.Height("auto"))
                  .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                  .Excel(excel => excel
                      .FileName("Сводное наличие.xlsx")
                      .AllPages(false)
                  )
                  .HtmlAttributes(new { @style = "margin-top:15px;" })
                  .Events(ev =>
                  {
                      ev.DataBound("stockLastList.onStockLastGridDataBound");
                  })
)
<script>
</script>