﻿@using CabinetMvc.Util

<!DOCTYPE html>
<html>
<head>
    <title>Личный кабинет</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="icon" type="image/png" href="/Images/au_logo16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/Images/au_logo32.png" sizes="32x32">

    @Scripts.Render(CabinetUtil.GetJsBundleName())
    @Styles.Render(CabinetUtil.GetCssBundleName())

    <script type="text/javascript">
        kendo.culture("ru-RU");
    </script>

    <!--[if lt IE 9]>
        <script src="vendor/html5shiv.js"></script>
        <script src="vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <header>
        <nav id="cab-nav-main" class="navbar navbar-default navbar-fixed-top">
        </nav>
    </header>
    <div class="container">
        <div class="row nomargin">
            <div class="col-sm-12">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>

<script>
</script>