﻿@model CabinetMvc.ViewModel.Storage.StorageFileTypeGroupViewModel

@(Html.Kendo().DropDownListFor(m => m)
        .DataValueField("group_id")
        .DataTextField("group_name")
        .ValueTemplate("<span class='storage storage-#:data.img#'></span><span>#:data.group_name#</span>")
        .Template("<span class='storage storage-#:data.img#'></span><span>#:data.group_name#</span>")
        .BindTo((System.Collections.IEnumerable)ViewData["FileTypeGroupList"])
)