﻿@model CabinetMvc.ViewModel.Planner.PlannerEventViewModel

@functions{
    public Dictionary<string, object> generateDatePickerAttributes(
           string elementId,
           string fieldName,
           string dataBindAttribute,
           Dictionary<string, object> additionalAttributes = null)
    {

        Dictionary<string, object> datePickerAttributes = additionalAttributes != null ? new Dictionary<string, object>(additionalAttributes) : new Dictionary<string, object>();

        datePickerAttributes["id"] = elementId;
        datePickerAttributes["name"] = fieldName;
        datePickerAttributes["data-bind"] = dataBindAttribute;
        datePickerAttributes["required"] = "required";
        datePickerAttributes["style"] = "z-index: inherit;";
        datePickerAttributes["type"] = "text";

        return datePickerAttributes;
    }
}

@(Html.Kendo().TabStrip().Name("tabPlannerEditor")
.Animation(an => an.Enable(false))
.Collapsible(false)
.Items(tab =>
{
    tab.Add().Text("Основное").Selected(true).Content(@<text>

        <div class="container-fluid">
            <div class="row k-schediler-editor-row">
                <div class="col-md-5">
                    @(Html.LabelFor(model => model.Start))
                    @(Html.Kendo().DateTimePickerFor(model => model.Start)
        .HtmlAttributes(generateDatePickerAttributes("startDateTime", "start", "value:start,invisible:isAllDay")))

                    @(Html.Kendo().DatePickerFor(model => model.Start)
        .HtmlAttributes(generateDatePickerAttributes("startDate", "start", "value:start,visible:isAllDay")))

                    <span data-for="start" class="k-invalid-msg"></span>
                </div>
                <div class="col-md-5">
                    @(Html.LabelFor(model => model.End))
                    @(Html.Kendo().DateTimePickerFor(model => model.End)
                        .HtmlAttributes(generateDatePickerAttributes(
                            "endDateTime",
                            "end",
                            "value:end,invisible:isAllDay")))

                    @(Html.Kendo().DatePickerFor(model => model.End)
                        .HtmlAttributes(generateDatePickerAttributes(
                            "endDate",
                            "end",
                            "value:end,visible:isAllDay")))

                    <span data-for="end" class="k-invalid-msg"></span>
                </div>
            </div>
            <div class="row k-schediler-editor-row">
                <div class="col-md-3">
                    @(Html.Kendo().CheckBoxFor(model => model.IsAllDay).Label("На весь день").Name("isAllDay").Checked(Model.IsAllDay).HtmlAttributes(new { @class = "k-checkbox" }))
                </div>
                <div class="col-md-3">
                    @(Html.Kendo().CheckBoxFor(model => model.IsPrivate).Label("Личное").Name("IsPrivate").Checked(Model.IsPrivate).HtmlAttributes(new { @class = "k-checkbox" }))
                </div>
            </div>
            <div class="row k-schediler-editor-row">
                <div class="col-md-5 exec-user">
                    @(Html.Label("Исполнитель"))
                    @(Html.Kendo().DropDownListFor(model => model.exec_user_id)
                    .BindTo((IEnumerable<CabinetMvc.ViewModel.Adm.CabUserViewModel>)ViewData["executerList"])
                    .DataValueField("user_id")
                    .DataTextField("user_name")
                    .OptionLabel("[не указан]")
                    .Value(Model.exec_user_id.HasValue ? Model.exec_user_id.ToString() : "")
                    )
                </div>
                <div class="col-md-5">
                    @(Html.Label("Статус"))
                    @(Html.Kendo().DropDownListFor(model => model.event_state_id)
                    .BindTo((IEnumerable<CabinetMvc.ViewModel.Crm.CrmStateViewModel>)ViewData["eventStateList"])
                    .DataValueField("state_id")
                    .DataTextField("state_name")
                    .Value(Model.event_state_id.ToString())
                    )
                </div>
            </div>
            <div class="row k-schediler-editor-row">
                <div class="col-md-11">
                    @(Html.LabelFor(model => model.Title))
                    @(Html.TextAreaFor(model => model.Title, new { @class = "k-textbox", @data_bind = "value:title" }))
                </div>
            </div>
            <div class="row k-schediler-editor-row">
                <div class="col-md-11">
                    @(Html.LabelFor(model => model.Description))
                    @(Html.TextAreaFor(model => model.Description, new { @class = "k-textbox", @data_bind = "value:description" }))
                </div>
            </div>
            <div class="row k-schediler-editor-row">
                <div class="col-md-11">
                    @(Html.LabelFor(model => model.progress))
                    @(Html.TextAreaFor(model => model.progress, new { @class = "k-textbox", @data_bind = "value:progress" }))
                </div>
            </div>
            <div class="row k-schediler-editor-row">
                <div class="col-md-11">
                    @(Html.LabelFor(model => model.result))
                    @(Html.TextAreaFor(model => model.result, new { @class = "k-textbox", @data_bind = "value:result" }))
                </div>
            </div>
        </div>


    </text>);
})
.ToClientTemplate()
)
