﻿@model CabinetMvc.ViewModel.Prj.PrjPlanViewModel

@functions{
    public Dictionary<string, object> generateDatePickerAttributes(
           string elementId,
           string fieldName,
           string dataBindAttribute,
           Dictionary<string, object> additionalAttributes = null)
    {

        Dictionary<string, object> datePickerAttributes = additionalAttributes != null ? new Dictionary<string, object>(additionalAttributes) : new Dictionary<string, object>();

        datePickerAttributes["id"] = elementId;
        datePickerAttributes["name"] = fieldName;
        datePickerAttributes["data-bind"] = dataBindAttribute;
        datePickerAttributes["required"] = "required";
        datePickerAttributes["style"] = "z-index: inherit;";
        datePickerAttributes["type"] = "text";

        return datePickerAttributes;
    }
}

<div class="container-fluid">
    <div class="row k-scheduler-editor-row">
        <div class="col-md-5">
            @(Html.LabelFor(model => model.Start))
            @(Html.Kendo().DateTimePickerFor(model => model.Start)
        .HtmlAttributes(generateDatePickerAttributes("startDateTime", "start", "value:start,invisible:isAllDay")))

            @(Html.Kendo().DatePickerFor(model => model.Start)
        .HtmlAttributes(generateDatePickerAttributes("startDate", "start", "value:start,visible:isAllDay")))

            <span data-for="start" class="k-invalid-msg"></span>
        </div>
        <div class="col-md-5">
            @(Html.LabelFor(model => model.End))
            @(Html.Kendo().DateTimePickerFor(model => model.End)
                        .HtmlAttributes(generateDatePickerAttributes(
                            "endDateTime",
                            "end",
                            "value:end,invisible:isAllDay")))

            @(Html.Kendo().DatePickerFor(model => model.End)
                        .HtmlAttributes(generateDatePickerAttributes(
                            "endDate",
                            "end",
                            "value:end,visible:isAllDay")))

            <span data-for="end" class="k-invalid-msg"></span>
        </div>
    </div>
    <div class="row k-scheduler-editor-row">
        <div class="col-md-3">
            @(Html.Kendo().CheckBoxFor(model => model.IsAllDay).Label("На весь день").Name("isAllDay").Checked(Model.IsAllDay).HtmlAttributes(new { @class = "k-checkbox" }))
        </div>
        <div class="col-md-3">
            @(Html.Kendo().CheckBoxFor(model => model.is_public).Label("публичное").Name("is_public").Checked(Model.is_public).HtmlAttributes(new { @class = "k-checkbox" }))
        </div>
    </div>
    <div class="row k-scheduler-editor-row">
        <div class="col-md-5 exec-user">
            @(Html.Label("Исполнитель"))
            @(Html.Kendo().DropDownListFor(model => model.exec_user_id)
                            .BindTo((IEnumerable<CabinetMvc.ViewModel.Adm.CabUserViewModel>)ViewData["cabUserList"])
                    .DataValueField("user_id")
                    .DataTextField("user_name")
                    .OptionLabel("[не указан]")
                    .Value(Model.exec_user_id.ToString())
            )
        </div>
        <div class="col-md-5">
            @(Html.Label("Статус"))
            @(Html.Kendo().DropDownListFor(model => model.state_type_id)
                    .BindTo((IEnumerable<CabinetMvc.ViewModel.Prj.PrjWorkStateTypeViewModel>)ViewData["workStateTypeList"])
                    .DataValueField("state_type_id")
                    .DataTextField("state_type_name")
                    .Value(Model.state_type_id.ToString())
            )
        </div>
    </div>
    <div class="row k-scheduler-editor-row">
        <div class="col-md-5">
            @(Html.Label("Напоминание"))
            @(Html.Kendo().DropDownListFor(model => model.notify_type_id)
                    .BindTo((IEnumerable<CabinetMvc.ViewModel.Prj.PrjNotifyTypeViewModel>)ViewData["notifyTypeList"])
                    .DataValueField("notify_type_id")
                    .DataTextField("notify_type_name")
                    .Value(Model.notify_type_id.ToString())
            )
        </div>
        <div class="col-md-5">
            @(Html.Label("Участники"))
            @(Html.Kendo().MultiSelectFor(model => model.PartyUserIdList)
                    .Placeholder("...")
                    .AutoClose(false)
                    .AutoBind(true)
                    .ValuePrimitive(true)
                    .BindTo((IEnumerable<CabinetMvc.ViewModel.Adm.CabUserViewModel>)ViewData["cabUserList"])
                    .DataValueField("user_id")
                    .DataTextField("user_name")
                    //.Value(Model.PartyUserIdList_get)
            )
        </div>
    </div>
    <div class="row k-scheduler-editor-row">
        <div class="col-md-11">
            @(Html.Label("Заголовок"))
            @(Html.TextAreaFor(model => model.task_text, new { @class = "k-textbox", @data_bind = "value:task_text" }))
        </div>
    </div>
    <div class="row k-scheduler-editor-row">
        <div class="col-md-11">
            @(Html.Label("Описание"))
            @(Html.TextAreaFor(model => model.claim_name, new { @class = "k-textbox", @data_bind = "value:claim_name" }))
        </div>
    </div>
    <div class="row k-scheduler-editor-row">
        <div class="col-md-11">
            @(Html.LabelFor(model => model.progress))
            @(Html.TextAreaFor(model => model.progress, new { @class = "k-textbox", @data_bind = "value:progress" }))
        </div>
    </div>
    <div class="row k-scheduler-editor-row">
        <div class="col-md-11">
            @(Html.LabelFor(model => model.result))
            @(Html.TextAreaFor(model => model.result, new { @class = "k-textbox", @data_bind = "value:result" }))
        </div>
    </div>
</div>