﻿@using CabinetMvc.Extensions

@model CabinetMvc.ViewModel.Discount.ProgrammStepConditionViewModel

@{
    IEnumerable<CabinetMvc.ViewModel.Discount.ProgrammStepConditionTypeViewModel> programmStepConditionTypeList = (IEnumerable<CabinetMvc.ViewModel.Discount.ProgrammStepConditionTypeViewModel>)ViewData["programmStepConditionTypeList"];
}

@(Html.HiddenFor(model => model.condition_id))
@(Html.HiddenFor(model => model.step_id))
@(Html.HiddenFor(model => model.programm_id))
@(Html.HiddenFor(model => model.condition_id_str))
@(Html.HiddenFor(model => model.step_id_str))
@(Html.HiddenFor(model => model.programm_id_str))


<div class="container-fluid">
    <div class="form-group">
        @(Html.LabelFor(model => model.condition_num))
        @(Html.Kendo().NumericTextBoxFor(model => model.condition_num).Min(1).Decimals(0).Format("#").HtmlAttributes(new { @type = "text", @class = "input-sm" }))
        @(Html.ValidationMessageFor(model => model.condition_num))
    </div>
    <div class="form-group">
        @(Html.LabelFor(model => model.condition_name))
        @(Html.Kendo().TextBoxFor(model => model.condition_name).HtmlAttributes(new { @class = "input-sm", }))
        @(Html.ValidationMessageFor(model => model.condition_name))
    </div>
    <div class="form-group">
        @(Html.LabelFor(model => model.condition_type_id))
        @(Html.Kendo().DropDownListFor(model => model.condition_type_id)
        .BindTo(programmStepConditionTypeList)
        .DataTextField("condition_type_name")
        .DataValueField("condition_type_id")
        .ValuePrimitive(true)
        .HtmlAttributes(new { @class = "step-condition-type-id input-sm", })
        )
        @(Html.ValidationMessageFor(model => model.condition_type_id))
    </div>
    <div class="form-group">
        @(Html.LabelFor(model => model.op1_param_id_str))
        @(Html.Kendo().DropDownListFor(model => model.op1_param_id_str)
        .DataSource(ds => ds.Read(r =>
        {
            r.Action("GetProgrammStepParamList_forStep", "Card").Data("programmBuilder.getProgrammStepParamGridData");
        }
        ))
        .DataTextField("param_name")
        .DataValueField("param_id_str")
        .ValuePrimitive(true)
        .OptionLabel("не задано")
        .HtmlAttributes(new { @class = "step-condition-op1-param-id input-sm", })
        )
        @(Html.ValidationMessageFor(model => model.op1_param_id_str))
    </div>
    <div class="form-group">
        @(Html.LabelFor(model => model.op2_param_id_str))
        @(Html.Kendo().DropDownListFor(model => model.op2_param_id_str)
        .DataSource(ds => ds.Read(r =>
        {
            r.Action("GetProgrammStepParamList_forStep", "Card").Data("programmBuilder.getProgrammStepParamGridData");
        }
        ))
        .DataTextField("param_name")
        .DataValueField("param_id_str")
        .ValuePrimitive(true)        
        .OptionLabel("не задано")
        .HtmlAttributes(new { @class = "step-condition-op2-param-id input-sm", })
        )
        @(Html.ValidationMessageFor(model => model.op2_param_id_str))
    </div>

</div>