﻿@using CabinetMvc.Extensions

@model CabinetMvc.ViewModel.Discount.ProgrammStepViewModel


@(Html.HiddenFor(model => model.step_id))
@(Html.HiddenFor(model => model.step_id_str))

<div class="container-fluid">
    <div class="form-group">
        @(Html.LabelFor(model => model.step_num))
        @(Html.Kendo().NumericTextBoxFor(model => model.step_num).Min(1).Decimals(0).Format("#").HtmlAttributes(new { @type = "text", @class = "input-sm" }))
        @(Html.ValidationMessageFor(model => model.step_num))
    </div>
    <div class="form-group">
        @(Html.LabelFor(model => model.descr_short))        
        @(Html.TextAreaFor(model => model.descr_short, new { @class = "form-control", @rows = "3", @placeholder = "краткое описание шага" }))
        @(Html.ValidationMessageFor(model => model.descr_short))
    </div>
    <div class="form-group">
        @(Html.LabelFor(model => model.descr_full))
        @(Html.TextAreaFor(model => model.descr_full, new { @class = "form-control", @rows = "3", @placeholder = "полное описание шага" }))
        @(Html.ValidationMessageFor(model => model.descr_full))
    </div>
    <div class="form-group">
        @(Html.Kendo().CheckBoxFor(model => model.single_use_only_chb).Label("Выполняется один раз").HtmlAttributes(new { @class = "k-checkbox", }))
        @(Html.ValidationMessageFor(model => model.single_use_only_chb))
    </div>
</div>