﻿@using CabinetMvc.Extensions

@model CabinetMvc.ViewModel.Discount.ProgrammStepLogicViewModel

@{
    IEnumerable<CabinetMvc.ViewModel.Discount.ProgrammStepLogicTypeViewModel> programmStepLogicTypeList = (IEnumerable<CabinetMvc.ViewModel.Discount.ProgrammStepLogicTypeViewModel>)ViewData["programmStepLogicTypeList"];
}

@(Html.HiddenFor(model => model.logic_id))
@(Html.HiddenFor(model => model.step_id))
@(Html.HiddenFor(model => model.programm_id))
@(Html.HiddenFor(model => model.logic_id_str))
@(Html.HiddenFor(model => model.step_id_str))
@(Html.HiddenFor(model => model.programm_id_str))


<div class="container-fluid">
    <div class="form-group">
        @(Html.LabelFor(model => model.logic_num))
        @(Html.Kendo().NumericTextBoxFor(model => model.logic_num).Min(1).Decimals(0).Format("#").HtmlAttributes(new { @type = "text", @class = "input-sm" }))
        @(Html.ValidationMessageFor(model => model.logic_num))
    </div>
    <div class="form-group">
        @(Html.LabelFor(model => model.logic_type_id))
        @(Html.Kendo().DropDownListFor(model => model.logic_type_id)
        .BindTo(programmStepLogicTypeList)
        .DataTextField("logic_type_name")
        .DataValueField("logic_type_id")
        .ValuePrimitive(true)
        .HtmlAttributes(new { @class = "step-logic-type-id input-sm", })
        )
        @(Html.ValidationMessageFor(model => model.logic_type_id))
    </div>
    <div class="form-group">
        @(Html.LabelFor(model => model.op1_param_id_str))
        @(Html.Kendo().DropDownListFor(model => model.op1_param_id_str)
        .DataSource(ds => ds.Read(r =>
        {
            r.Action("GetProgrammStepParamList_forStep", "Card").Data("programmBuilder.getProgrammStepParamGridData");
        }
        ))
        .DataTextField("param_name")
        .DataValueField("param_id_str")
        .ValuePrimitive(true)
        .OptionLabel("не задано")
        .HtmlAttributes(new { @class = "step-logic-op1-param-id input-sm", })
        )
        @(Html.ValidationMessageFor(model => model.op1_param_id_str))
    </div>
    <div class="form-group">
        @(Html.LabelFor(model => model.op2_param_id_str))
        @(Html.Kendo().DropDownListFor(model => model.op2_param_id_str)
        .DataSource(ds => ds.Read(r =>
        {
            r.Action("GetProgrammStepParamList_forStep", "Card").Data("programmBuilder.getProgrammStepParamGridData");
        }
        ))
        .DataTextField("param_name")
        .DataValueField("param_id_str")
        .ValuePrimitive(true)
        .OptionLabel("не задано")
        .HtmlAttributes(new { @class = "step-logic-op2-param-id input-sm", })
        )
        @(Html.ValidationMessageFor(model => model.op2_param_id_str))
    </div>
    <div class="form-group">
        @(Html.LabelFor(model => model.op3_param_id_str))
        @(Html.Kendo().DropDownListFor(model => model.op3_param_id_str)
        .DataSource(ds => ds.Read(r =>
        {
            r.Action("GetProgrammStepParamList_forStep", "Card").Data("programmBuilder.getProgrammStepParamGridData");
        }
        ))
        .DataTextField("param_name")
        .DataValueField("param_id_str")
        .ValuePrimitive(true)        
        .OptionLabel("не задано")
        .HtmlAttributes(new { @class = "step-logic-op3-param-id input-sm", })
        )
        @(Html.ValidationMessageFor(model => model.op3_param_id_str))
    </div>
    <div class="form-group">
        @(Html.LabelFor(model => model.op4_param_id_str))
        @(Html.Kendo().DropDownListFor(model => model.op4_param_id_str)
        .DataSource(ds => ds.Read(r =>
        {
            r.Action("GetProgrammStepParamList_forStep", "Card").Data("programmBuilder.getProgrammStepParamGridData");
        }
        ))
        .DataTextField("param_name")
        .DataValueField("param_id_str")
        .ValuePrimitive(true)
        .OptionLabel("не задано")
        .HtmlAttributes(new { @class = "step-logic-op4-param-id input-sm", })
        )
        @(Html.ValidationMessageFor(model => model.op4_param_id_str))
    </div>
    <div class="form-group">
        @(Html.LabelFor(model => model.condition_id_str))
        @(Html.Kendo().DropDownListFor(model => model.condition_id_str)
        .DataSource(ds => ds.Read(r =>
        {
            r.Action("GetProgrammStepConditionList_forStep", "Card").Data("programmBuilder.getProgrammStepParamGridData");
        }
        ))
        .DataTextField("condition_name")
        .DataValueField("condition_id_str")
        .ValuePrimitive(true)
        .OptionLabel("не задано")
        .HtmlAttributes(new { @class = "step-logic-condition-id input-sm", })
        )
        @(Html.ValidationMessageFor(model => model.condition_id_str))
    </div>

</div>