/*
@font-face {
    font-family: "Kendo UI";
    src: url("http://cdn.kendostatic.com/2013.3.1030/styles/images/kendoui.woff") format("woff"),
         url("http://cdn.kendostatic.com/2013.3.1030/styles/images/kendoui.ttf") format("truetype");
}
*/

body:before
{
    /*font-family: "Kendo UI";*/
    /*font-family: Verdana,Arial,sans-serif;*/    
    content: "\a0";
    font-size: 0;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
}

html {
    margin: 0;
    padding: 0;
    min-width: 320px;
    background: #eee none repeat scroll 0 0;
    height: 100%;
}

body {
    /*font-family: 'Roboto Slab';*/    
    /*font-family: fantasy, Georgia;*/
    font-family: Tahoma,verdana,sans-serif,arial;
    margin: 0;
    padding: 90px 0 0 0;
    min-width: 320px;    
    background-color: transparent !important;
    height: 100%;
}

header {
    margin: 0;
    /*font-size: 20px*/;
    font-size: 18px;
    /*color: #fff;*/
    color: #f5f5f5;    
    background-color: #272727;
    /*background: url('../Images/back.jpg') repeat-x;*/
}

header h1,
header button {
    display: inline-block;
    vertical-align: middle;
}

header .container h1 {
    margin: 0;
    font-size: 21px;
    line-height: 65px;
    padding-top: 20px;
    padding-left: 0;
}

#configure,
header label {
    border-style: solid;
    border-color: #636363;
    border-width: 0 0 0 1px;
    margin-bottom: 0;
    font-weight: normal;
}

header .container {
    position: relative;
}

header .description {
    text-transform: uppercase;
    color: #ccc;
    font-size: 10px;
    line-height: 29px;
}

header .k-dropdown,
header #font-size-value {
    font-size: 18px;
    line-height: 45px;
    margin-bottom: 9px;
}

header .k-dropdown {
    width: 100%;
}

header .k-dropdown-wrap {
    background-image: none !important;
}

header .k-dropdown,
header .k-dropdown-wrap.k-state-default {
    background-color: transparent;
    border-color: #5c5c5c;
    border-radius: 0;
}

header .k-dropdown-wrap.k-state-hover,
header .k-dropdown-wrap.k-state-active,
header .k-dropdown-wrap.k-state-focused {
    background-color: #030303;
}

header .k-dropdown-wrap.k-state-focused {
    box-shadow: none;
}

header .k-dropdown .k-input {
    padding-top: 0;
    padding-bottom: 0;
    height: auto;
    text-indent: 14px;
}

header .k-dropdown .k-input,
header .k-dropdown-wrap .k-select {
    line-height: 45px;
}

header .k-dropdown .k-i-arrow-s {
    background-image: url("http://cdn.kendostatic.com/2013.2.918/styles/Bootstrap/sprite.png");
    background-position: -16px -32px;
}

header .k-dropdown-wrap.k-state-default .k-input {
    color: #fff;
}

.k-popup.ra-list {
    background-color: #010101;
    border-color: #5c5c5c;
    color: #fff;
    padding: 0;
    border-radius: 0;
}

.k-popup.ra-list .k-state-hover,
.k-popup.ra-list .k-state-selected,
.k-popup.ra-list .k-state-focused {
    background-image: none;
    background-color: #555;
    box-shadow: none;
    color: #fff;
    border-color: #555;
}

.k-popup.ra-list .k-item {
    border-radius: 0;
    text-indent: 7px;
}

#configure {
    z-index: 10;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-width: 0 0 0 1px;
    background-color: transparent;
    position: absolute;
    top: 0; right: 0;
    color: #fff;
}

#demo {
    padding-top: 46px;
}

#menu {
    margin-bottom: 30px;
}

#profile {
    position: relative;
}

.ra-well-title {
    /*font-size: 1.2857em;*/
    line-height: 1.2857em;
    border-bottom: 1px solid #e7e7e7;
    margin: -5px -19px 0.8333em;
    padding: 0 19px 0.7222em;
}

.ra-avatar {
    border: 1px solid #e7e7e7;
    border-radius: 2px;
}

.ra-first-name {
    display: block;
    margin-top: 0.8571em;
}

.ra-last-name {
    display: block;
    font-size: 1.7143em;
    line-height: 1.3em;
}

.ra-position {
    font-size: 0.8571em;
    color: #999;
    padding-bottom: 2em;
}

.form-group .k-widget, .form-group .k-textbox {
    width: 100%;
}

.buttons-wrap {
    border-top: 1px solid #e7e7e7;
    padding-top: .5em;
    text-align: right;
}

.ra-section {
    margin-bottom: 20px;
}

.ra-well-overlay {
    margin: -16px -20px -19px;
}

#tabstrip .k-content {
    min-height: 156px;
}

#tabstrip .k-chart {
    height: 156px;
}

#tabstrip .k-content {
    padding: 1px;
}

#tabstrip-4 {
    text-align: center;
}

#tabstrip .km-icon:after {
    font: 1.3em/1em "Kendo UI" !important;
}

.revenue:after { content: "\E08C"; }
.spd:after { content: "\E04B"; }
.spr:after { content: "\E050"; }
.share:after { content: "\E04E"; }

#tabstrip .k-tabstrip-items span {
    float: left;
    line-height: 1.3em;
    vertical-align: middle;
}

#tabstrip .k-tabstrip-items .hidden-xs {
    margin-left: 4px;
}

.market-donut {
    display: inline-block;
    width: 170px;
}

#panelbar .k-content {
    padding: 1em;
}

#panelbar ul {
    margin-bottom: 10px;
}

#listview {
    list-style-type: none;
    padding: 0 0 15px;
}

#listview figure {
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    padding: 5px;
    margin-top: 15px;
}

figure h4 {
    font-size: 1.15em;
}

figure p.hidden-sm {
    min-height: 80px;
}

footer {
    text-align: right;
    font-size: 0.8571em;
    padding: 2em 0;
}

header .container h1.visible-sm {
    padding-top: 10px;
    line-height: 33px;
    padding-bottom: 10px;
}

@media (max-width: 767px) {
    .k-menu.k-menu-horizontal .k-item {
        float: none;
    }

    header .container {
        padding-right: 0;
    }

    header .container h1 {
        padding-top: 0;
        line-height: 50px;
    }

    header label {
        border-width: 1px 0 0 0;
        display: block;
    }
}

.k-black body,
.k-metroblack body,
.k-black .well,
.k-metroblack .well,
.k-black .ra-well-title,
.k-metroblack .ra-well-title,
.k-black .buttons-wrap,
.k-metroblack .buttons-wrap
{
    border-color: #444;
    background-color: #1e1e1e;
    color: #fff;
}

.k-highcontrast body,
.k-highcontrast .well
.k-highcontrast .ra-well-title,
.k-highcontrast .buttons-wrap
{
    border-color: #664e62;
    background-color: #2c232b;
    color: #fff;
}

.k-moonlight body,
.k-moonlight .well,
.k-moonlight .ra-well-title,
.k-moonlight .buttons-wrap
{
    border-color: #171e28;
    background-color: #212a33;
    color: #fff;
}

/***************************/
@media (min-width: 1400px) {
  .container {
    width: 1360px;
  }
}

@media (min-width: 1600px) {
  .container {
    width: 1520px;
  }
}

.nopadding {
   padding: 0 !important;   
}

.nopadding-right {
   padding-right: 0 !important;   
}

.nomargin {   
   margin: 0 !important;
}

.noborder {   
    border: 0 !important;
}

.noborder-top {   
    border-top: 0 !important;
}

#cab-content {
    min-height: 98%;    
    box-shadow: 0 0 15px #999;    
    background-color:#fff; 
    margin-bottom: 10px;
    font-size: 0.83em;
    width: 65% !important;
}

#main-menu-container {
    box-shadow: 0 0 15px #999;
    background-color:#fff;
}

#side-menu-div {
    padding-top: 5px !important;
}

#main-content-div {
    padding-top: 10px !important;
    /*font-size: 12px !important;*/
}

/*
#main-page-container {
    box-shadow: 0 0 15px #999;    
    background-color:#fff;    
    min-height: 80%;
}
*/

#cab-nav-main {    
    background: url('/Images/back.jpg') repeat-x;
    height: 80px;
    padding-top: 8px;
}

.cab-side-info {
    /*font-size: 12px;*/
    padding: 5px;
}


.cab-side-info p {
    /*font-size: .96em;*/
    /*text-align: right;*/
}

.cab-header-text {
    border: medium none;
    color: #fff;
    font-family: "Segoe UI";
    font-size: 2.2em;
    font-weight: 700;
    line-height: 0.9em;
    z-index: 1;
}

.cab-header-img {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url('/Images/au_logo2.gif');
    background-repeat: no-repeat;
}

.cab-color-grey1 {    
    background-color: #eee7e7;
}

.cab-color-grey2 {    
    background-color: #ccc;
}

.cab-border-left-right {   
    border-style: solid;
    border-color: #636363;
    border-width: 0 0.5px 0 0.5px;
}

.cab-border-left {   
    border-style: solid;
    border-color: #636363;
    border-width: 0 0 0 0.5px;
}

.cab-border-right {   
    border-style: solid;
    border-color: #636363;
    border-width: 0 0.5px 0 0;
}

.cab-menu-path {
    background-color: transparent;
    line-height: 1;
}

.cab-menu-path > a {    
    color: #fff;
    font-size: 0.6em;
}

.k-checkbox-label {          
    font-weight: initial;
    /*font-size: .9em;*/
}


/*
.affix {        
    left: 200px !important;
}

.container.affix {    
    left: 200px !important;
}
*/
body:not(:-moz-handler-blocked) .affix .affix-ext {
    position: initial;
  }

body:not(:-moz-handler-blocked) .affix-ext {
    position: initial;
  }

body:not(:-moz-handler-blocked) #side-menu-div.affix-top {
    position: static;
    /*
    margin-top:30px;
    width:228px;
    */
  }

body:not(:-moz-handler-blocked) #side-menu-div.affix-ext {
    position: sticky;
    top:70px;
    /*width:228px;*/
}

.inline {
    display: inline !important;
}

.inline-block {
    display: inline-block !important;
}

.input-sm {
    padding: 0;
}

.fixedsticky { 
    top: 0;
}

/* styles for validation helpers */

.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;    
}

.validation-summary-valid {
    display: none;
}

/* styles for Index.cshtml  */

.header-text {
	background-color: #f5f5f5;
	border-radius: 5px;
	text-align: center;
}
.header-text h4 {
	font-size: 1.5em !important;
}
.group-send {
	margin-top: 60px;
}
.val-mess {
	margin-left: -20px;
}
.control-label {
	text-align: left;
}
.svg-btn {
	margin-left: -10px;
}
.group-send button {
	width: 100%;
}
#btnClear {
    background-color: #fed77c;
    width: 25px;
    height: 25px;
}