﻿@using CabinetMvc.Util

@model CabinetMvc.ViewModel.Planner.PlannerNoteViewModel

@{
    ViewBag.Title = "Запись";    
    Layout = "";
}

<style>   
</style>

@Html.HiddenFor(x => x.note_id)
@Html.ValidationSummary()

@(Html.Kendo().TabStrip().Name("tabPlannerEditor")
.Animation(an => an.Enable(false))
.Collapsible(false)
.Items(tab =>
{
    tab.Add().Text("Основное").Selected(true).Content(@<text>

        <div class="container-fluid">
            <div class="row k-schediler-editor-row">
                <div class="col-md-3">
                    @(Html.Kendo().CheckBoxFor(model => model.IsPrivate).Label("Личное").Name("IsPrivate").Checked(Model.IsPrivate).HtmlAttributes(new { @class = "k-checkbox" }))
                </div>
            </div>
            <div class="row k-schediler-editor-row">
                <div class="col-md-5">
                    @(Html.Label("Статус"))
                    @(Html.Kendo().DropDownListFor(model => model.event_state_id)
                    .BindTo((IEnumerable<CabinetMvc.ViewModel.Crm.CrmStateViewModel>)ViewData["eventStateList"])
                    .DataValueField("state_id")
                    .DataTextField("state_name")
                    .Value(Model.event_state_id.ToString())
                    )
                </div>
            </div>
            <div class="row k-schediler-editor-row">
                <div class="col-md-11">
                    @(Html.LabelFor(model => model.title))
                    @(Html.TextAreaFor(model => model.title, new { @class = "k-textbox", @data_bind = "value:title" }))
                </div>
            </div>
            <div class="row k-schediler-editor-row">
                <div class="col-md-11">
                    @(Html.LabelFor(model => model.description))
                    @(Html.TextAreaFor(model => model.description, new { @class = "k-textbox", @data_bind = "value:description" }))
                </div>
            </div>
            @if (Model.note_id > 0)
            {
                <div class="row k-schediler-editor-row">
                    <div class="col-md-11">
                        @(Html.LabelFor(model => model.progress))
                        @(Html.TextAreaFor(model => model.progress, new { @class = "k-textbox", @data_bind = "value:progress" }))
                    </div>
                </div>
                <div class="row k-schediler-editor-row">
                    <div class="col-md-11">
                        @(Html.LabelFor(model => model.result))
                        @(Html.TextAreaFor(model => model.result, new { @class = "k-textbox", @data_bind = "value:result" }))
                    </div>
                </div>
            }
            <div class="row k-schediler-editor-row">
                <div class="col-md-offset-2 col-md-8">
                    <button type="button" class="btn btn-primary btn-save">Сохранить</button>
                    <button type="button" class="btn btn-default btn-cancel">Выйти</button>
                </div>
            </div>            
        </div>

    </text>);
})
)
