﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util
@using AuDev.Common.Util

@functions
{
    private IEnumerable<CabinetMvc.ViewModel.Crm.CrmTaskGroupOperationViewModel> operationList;
}

@{
    ViewBag.Title = "Планировщик";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currUser = ((CabinetMvc.Controllers.BaseController)ViewContext.Controller).CurrentUser;
    IEnumerable<CabinetMvc.ViewModel.Adm.CabUserViewModel> executerList = ViewBag.ExecuterList;
    ViewData["executerList"] = executerList;
    ViewData["eventStateList"] = ViewBag.EventStateList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmStateViewModel> filterStateList = ViewBag.FilterStateList;
    IEnumerable<CabinetMvc.ViewModel.Adm.CabUserViewModel> filterUserList = ViewBag.FilterUserList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmProjectViewModel> filterProjectList = ViewBag.FilterProjectList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmClientViewModel> filterClientList = ViewBag.FilterClientList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmPriorityViewModel> filterPriorityList = ViewBag.FilterPriorityList;
    CabinetMvc.ViewModel.Crm.CrmTaskUserFilterViewModel userFilter = ViewBag.UserFilter;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmBatchViewModel> filterBatchList = ViewBag.FilterBatchList;
    operationList = ViewBag.OperationList;
    IEnumerable<CabinetMvc.ViewModel.Sys.CabGridColumnUserSettingsViewModel> taskGridColumnSettings = ViewBag.TaskGridColumnSettings;
    string taskGridColumnWidths = ViewBag.TaskGridColumnWidths;
    int? taskGridColorColumn = ViewBag.TaskGridColorColumn;
    string taskGridSortOptions = ViewBag.TaskGridSortOptions;
    string taskGridFilterOptions = ViewBag.TaskGridFilterOptions;
    string state1_color = ViewBag.state1_color;
    string state2_color = ViewBag.state2_color;
    string state3_color = ViewBag.state3_color;
    string state4_color = ViewBag.state4_color;
    string state5_color = ViewBag.state5_color;
    string state6_color = ViewBag.state6_color;
    string state7_color = ViewBag.state7_color;
    string state8_color = ViewBag.state8_color;
    string leftBottomPane_minSize = "33px";
}

@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/planner", "planner-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("crm", "Задачи"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Сервис", "TaskList", "Crm") - @Html.ActionLink("Планировщик", "Planner", "Planner")
    </div>
}


<style>
    #taskFilterPanel > .k-item > .k-link {
        text-decoration: underline !important;
    }
    /*
    #plannerTaskGrid .k-grid-content, #plannerTaskGrid .k-grid-content table {
        -moz-transform:rotateX(180deg);
        -ms-transform:rotateX(180deg);
        -o-transform:rotateX(180deg);
        -webkit-transform:rotateX(180deg);
        transform:rotateX(180deg);
    }
    */
    #tabPlanerPanel .k-loading.k-complete {
        display: none;
    }

    #tabPlanerPanel > div.k-content {
        border: none;
    }

    #plannerMainSplitter .planner-event-header span.cab-png {
        margin-top: -4px;
    }
</style>

<script>
    var TenDaysView = kendo.ui.TimelineWorkWeekView.extend({
        options: {
            name: "TenDaysView",
            title: "Timeline Month",
            selectedDateFormat: "{0:D} - {1:D}",
            selectedShortDateFormat: "{0:d} - {1:d}",
            majorTick: 2880,
            numberOfDays: 10,
            eventHeight: 20,
            showWorkHours: false,
            columnWidth: 250
        },
        name: "TenDaysView",
        calculateDateRange: function() {
            var start = this.options.date,
                idx, length,
                dates = [];

            start = kendo.date.addDays(start, -5);

            for (idx = 0, length = this.options.numberOfDays; idx < length; idx++) {
                dates.push(start);
                start = kendo.date.nextDay(start);
            };

            this._render(dates);
        },
        previousDate: function() {
            var date = new Date(this.startDate());
            date.setDate(date.getDate() - this.options.numberOfDays/2);
            return date
        },
        nextDate: function () {
            return kendo.date.addDays(this.startDate(), this.options.numberOfDays + this.options.numberOfDays/2);
        }
    });
    var ThreeDaysView = kendo.ui.TimelineWorkWeekView.extend({
        options: {
            name: "ThreeDaysView",
            title: "Timeline Month",
            selectedDateFormat: "{0:D} - {1:D}",
            selectedShortDateFormat: "{0:d} - {1:d}",
            majorTick: 2880,
            numberOfDays: 3,
            eventHeight: 20,
            showWorkHours: false,
            columnWidth: 250
        },
        name: "ThreeDaysView",
        calculateDateRange: function() {
            var start = this.options.date,
                idx, length,
                dates = [];

            start = kendo.date.addDays(start, -1);

            for (idx = 0, length = this.options.numberOfDays; idx < length; idx++) {
                dates.push(start);
                start = kendo.date.nextDay(start);
            };

            this._render(dates);
        },
        previousDate: function() {
            var date = new Date(this.startDate());
            date.setDate(date.getDate() - this.options.numberOfDays/2);
            return date
        },
        nextDate: function () {
            return kendo.date.addDays(this.startDate(), this.options.numberOfDays + this.options.numberOfDays/2);
        }
    });
</script>

@helper PlannerMainHelper(CabinetMvc.ViewModel.User.UserViewModel currUser, IEnumerable<CabinetMvc.ViewModel.Adm.CabUserViewModel> executerList)
{
    @(Html.Kendo().Scheduler<CabinetMvc.ViewModel.Planner.PlannerEventViewModel>()
    .Name("scheduler")
    .Date(DateTime.Today)
    .StartTime(DateTime.Today)
            //.Height(600)
    .Views(views =>
    {
        views.DayView(dv =>
        {
            dv.ShowWorkHours(true);
            dv.WorkDayStart(8, 0, 0);
            dv.WorkDayEnd(20, 0, 0);
            dv.Footer(false);
            dv.Selected(true);            
            //dv.AllDaySlotTemplate
        });
        views.CustomView("ThreeDaysView", cs =>
        {
            cs.Title("3 дня");
        });        
        views.TimelineWeekView(wv =>
        {
            /*
            wv.ShowWorkHours(true);
            wv.Footer(false);
            */
            wv.StartTime(DateTime.Today);
            wv.MajorTick(2880);
            //wv.MajorTick(1440);
            wv.EventHeight(20);
            wv.Title("Неделя");
            wv.ColumnWidth(250);
            wv.ShowWorkHours(false);
        });
        views.CustomView("TenDaysView", cs =>
        {
            cs.Title("10 дней");            
        });
        views.TimelineMonthView(mv =>
        {
            mv.StartTime(DateTime.Today);
            mv.MajorTick(1440);
            mv.EventHeight(20);
            mv.Title("Месяц");
            mv.ColumnWidth(250);
            mv.ShowWorkHours(false);
        });
        views.MonthView(mv =>
        {
            mv.EventHeight(80);            
            mv.Title("Календарь");
        });
        /*
        views.WeekView(mv =>
        {
            mv.StartTime(DateTime.Today);            
            mv.Title("Неделя-2");            
            mv.ShowWorkHours(true);
        });        
        */
    })
            //.WorkDayStart(8, 0, 0)
            //.WorkDayEnd(20, 0, 0)
            //.ShowWorkHours(true)
    .Timezone("Asia/Yekaterinburg")
    .Resources(resource =>
    {
        resource.Add(m => m.exec_user_id)
            .Title("User")
            .Name("Users")
            .DataSource(rds =>
            {
                rds.ServerFiltering(false);
            })
            .DataTextField("user_name")
            .DataValueField("user_id")
            .BindTo(executerList.Where(ss => ss.user_id == currUser.CabUserId).ToList())
            ;
    })
    .Group(group =>
    {
        group.Resources("Users").Orientation(SchedulerGroupOrientation.Vertical);
    })
    .DataSource(d => d
        .Model(m =>
        {
            m.Id(f => f.event_id);
            m.RecurrenceId(f => f.RecurrenceId);
            m.Field(f => f.is_public).Editable(true).DefaultValue(true);
            m.Field(f => f.is_public_global).Editable(true).DefaultValue(false);
            m.Field(f => f.event_state_id).Editable(true).DefaultValue(1);
        })
            .Read(rd => rd.Action("GetPlannerEventList", "Planner").Data("planner.getEventFilter")
        )
                .Create(cr => cr.Action("PlannerEventAdd", "Planner").Data("planner.getCurrUserId"))
                .Update("PlannerEventEdit", "Planner")
                .Destroy("PlannerEventDel", "Planner")
                .ServerOperation(true)
                .Events(ev => { ev.Error("planner.onSchedulerError"); ev.RequestEnd("planner.onSchedulerRequestEnd"); })
    )
    .Editable(ed =>
        {
            ed.TemplateName("PlannerEditorTemplate");
            ed.Move(false);
            ed.Resize(true);
        }
    )
    .Pdf(pdf => { pdf.FileName("Календарь задач.pdf"); pdf.Title("PDF"); })
    .Toolbar(tb => tb.Pdf())    
    .DateHeaderTemplate("<span class='k-link k-nav-day'>#=kendo.toString(date, 'dd.MM ddd')#</span>")
    .EventTemplateId("planner-event-template")
    .AllDayEventTemplateId("planner-event-template")
    .Messages(ms => ms.AllDay("день"))
    .HtmlAttributes(new { @style = "height:100%;" })
    .Events(ev =>
    {
        ev.Edit("planner.onSchedulerEdit");
        ev.DataBound("planner.onSchedulerDataBound");
        ev.Save("planner.onSchedulerSave");
        ev.Remove("planner.onSchedulerRemove");
        ev.ResizeStart("planner.onSchedulerResizeStart");
        ev.ResizeEnd("planner.onSchedulerResizeEnd");
        ev.Navigate("planner.onSchedulerNavigate");
        ev.Add("planner.onSchedulerAdd");
    })
    )
}

@helper PlanerTaskHelper(IEnumerable<CabinetMvc.ViewModel.Sys.CabGridColumnUserSettingsViewModel> taskGridColumnSettings,
    string taskGridColumnWidths,
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmStateViewModel> filterStateList,
    IEnumerable<CabinetMvc.ViewModel.Adm.CabUserViewModel> filterUserList,
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmProjectViewModel> filterProjectList,
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmClientViewModel> filterClientList,
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmPriorityViewModel> filterPriorityList,
    CabinetMvc.ViewModel.Crm.CrmTaskUserFilterViewModel userFilter,
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmBatchViewModel> filterBatchList
)
{
    @(Html.Kendo().TabStrip().Name("tabPlanerTask")
    .Items(tab =>
    {
        tab.Add().Text("Календарь").Selected(true)
            .SpriteCssClasses("cab-png cab-png-planner")
            .HtmlAttributes(new { @class = "planner-planner" })
            .Content("");
        tab.Add().Text("Задачи")
            .SpriteCssClasses("cab-png cab-png-task")
            .HtmlAttributes(new { @class = "planner-task" })
            .Content(PlanerTaskListHelper(taskGridColumnSettings,
            taskGridColumnWidths,
            filterStateList,
            filterUserList,
            filterProjectList,
            filterClientList,
            filterPriorityList,
            userFilter,
            filterBatchList
            ).ToHtmlString());
        tab.Add().Text("Просроченные")
            .SpriteCssClasses("cab-png cab-png-error")
            .HtmlAttributes(new { @class = "planner-overdue" })
            .Content(PlanerPanelOverdueHelper().ToHtmlString());
        tab.Add().Text("Стратегические")
            .SpriteCssClasses("cab-png cab-png-monitor-yellow")
            .HtmlAttributes(new { @class = "planner-strateg" })
            .Content(PlanerPanelStrategHelper().ToHtmlString());
        tab.Add().Text("Скоро")
            .SpriteCssClasses("cab-png cab-png-soon")
            .HtmlAttributes(new { @class = "planner-soon" })
            .Content(PlanerPanelUpcomingHelper().ToHtmlString());
        tab.Add().Text("Справочники")
            .SpriteCssClasses("cab-png cab-png-cab-sprav")
            .Enabled(false)
            .Content("в разработке");
        tab.Add().Text("Настройки")
            .SpriteCssClasses("cab-png cab-png-tools")
            .Enabled(false)
            .Content("в разработке");
        tab.Add().Text("История")
            .SpriteCssClasses("cab-png cab-png-log")
            .Enabled(false)
            .Content("в разработке");
    })
    .Events(ev => ev.Select("planner.onTabPlanerTaskSelect"))
    )
}

@helper PlanerNotesHelper()
{
    @(Html.Kendo().TabStrip().Name("tabPlanerNotes")
    .Items(tab =>
    {
        tab.Add().Text("Записи").Selected(true)
            .SpriteCssClasses("cab-png cab-png-note")
            .HtmlAttributes(new { @class = "planner-note" })
            .Content(PlanerPanelNotesHelper().ToHtmlString());
    })    
    )
}

@helper PlanerPanelUpcomingHelper()
{
    @(Html.Kendo().ToolBar().Name("tbUpcomingPlanner").Items(items =>
                    {
                        items.Add().Type(CommandType.ButtonGroup).Buttons(buttons =>
                        {
                            buttons.Add().Text("завтра").Togglable(true).Group("upcoming-event-filter").Selected(true)
                                .HtmlAttributes(new { @title = "Показать события на завтра", @id = "btn-upcoming-event-filter-tomorrow" });
                            buttons.Add().Text("3 дня").Togglable(true).Group("upcoming-event-filter")
                                .HtmlAttributes(new { @title = "Показать события на 3 дня вперед", @id = "btn-upcoming-event-filter-3days" });
                            buttons.Add().Text("7 дней").Togglable(true).Group("upcoming-event-filter")
                                .HtmlAttributes(new { @title = "Показать события на 7 дней вперед", @id = "btn-upcoming-event-filter-7days" });
                        })
                        ;
                    }
    )
    .Events(e => e.Toggle("planner.onTbUpcomingPlannerToggle"))
    )
    @(Html.Kendo().Grid<CabinetMvc.ViewModel.Planner.PlannerEventViewModel>()
                  .Name("plannerUpcomingEventGrid")
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {
                          model.Id(ev => ev.event_id);
                      })
                      .PageSize(100)
                      .Sort(sort => { sort.Add("date_beg_date_only").Ascending(); sort.Add("Start").Ascending(); })
                      .Read(read => read.Action("GetUpcomingEventList", "Planner").Data("planner.getUpcomingEventFilter"))
                      .Group(groups =>
                      {
                          groups.Add(p => p.date_beg_date_only);
                      })
                   )
                  .Columns(columns =>
                  {
                      columns.Bound(item => item.date_beg_date_only)
                          .Hidden(true)
                          .ClientGroupHeaderTemplate("#: kendo.toString(value, 'dd.MM') #")
                          ;
                      columns.Bound(item => item.Title)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Title(" ")
                          .HeaderHtmlAttributes(new { @style = "display:none;" })
                          .ClientTemplate("<span class='planner-event-header'>"
                            + "#if (is_overdue) {#<span class='cab-png cab-png-error'></span>#}#"
                            + "#if (!is_public) {#<span class='cab-png cab-png-private'></span>#}#"
                            + "#if ((task_id) && (task_num)) {#"
                            + "#if((kendo.toString(event_date_beg_orig, 'dd.MM.yyyy') != kendo.toString(event_date_beg_curr, 'dd.MM.yyyy')) || (kendo.toString(event_date_end_orig, 'dd.MM.yyyy') != kendo.toString(event_date_end_curr, 'dd.MM.yyyy'))) {#<span class='cab-png cab-png-date-warning'></span>#}#"
                            + "<span class='planner-event-rounded' style='background-color: #:getColorForStateId(event_state_id)#; color: #:getFontColorForStateId(event_state_id)#;'>#: state_name #</span>"
                            + "<span class='planner-event-rounded' style='background-color: \\#bbc5c7; color: \\#428bca'>" + " #: task_num # " + "</span>"
                            + " #} #"
                            + " # if (!IsAllDay) { #"
                            + " <span class='planner-event-rounded'>#: kendo.toString(Start, 'HH:mm') # - #: kendo.toString(End, 'HH:mm') #</span>"
                            + " # } #"
                            + "</span>"
                            + "<span>#: Title #" + "</span>"
                            );
                  })
                  .Pageable(pg => pg.Enabled(false))
                  .Groupable(gr => gr.Enabled(false))
                  .Resizable(resize => resize.Columns(true))
                  .Scrollable(scr => scr.Height("auto"))
                  .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                  .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                  .AutoBind(false)
                  .Events(ev => ev.DataBound("planner.onPlannerUpcomingEventGridDataBound"))
    )
}

@helper PlanerPanelOverdueHelper()
{
    @(Html.Kendo().Grid<CabinetMvc.ViewModel.Planner.PlannerEventViewModel>()
                  .Name("plannerOverdueEventGrid")
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {
                          model.Id(ev => ev.event_id);
                      })
                      .PageSize(500)
                      .Sort(sort => { sort.Add("exec_user_name").Ascending(); sort.Add("End").Ascending(); })
                      .Read(read => read.Action("GetOverdueEventList", "Planner").Data("planner.getOverdueEventFilter"))
                   )
                  .Columns(columns =>
                  {
                      columns.Bound(item => item.End)
                          .Filterable(ft => ft.Enabled(false))
                          .HeaderHtmlAttributes(new { @style = "display:none;" })
                          .ClientTemplate("<span class='planner-event-header'>"
                            + "#if (!is_public) {#<span class='cab-png cab-png-private'></span>#}#"
                            + "#if ((task_id) && (task_num)) {#"
                            + "#if((kendo.toString(event_date_beg_orig, 'dd.MM.yyyy') != kendo.toString(event_date_beg_curr, 'dd.MM.yyyy')) || (kendo.toString(event_date_end_orig, 'dd.MM.yyyy') != kendo.toString(event_date_end_curr, 'dd.MM.yyyy'))) {#<span class='cab-png cab-png-date-warning'></span>#}#"
                            + "<span class='planner-event-rounded' style='background-color: #:getColorForStateId(event_state_id)#; color: #:getFontColorForStateId(event_state_id)#;'>#: state_name #</span>"
                            + "<span class='planner-event-rounded' style='background-color: \\#bbc5c7; color: \\#428bca'>" + " #: task_num # " + "</span>"
                            + " #} #"
                            + " # if (!IsAllDay) { #"
                            + " <span class='planner-event-rounded'>#: kendo.toString(Start, 'HH:mm') # - #: kendo.toString(End, 'HH:mm') #</span>"
                            + " # } else { #"
                            + " # if (kendo.toString(Start, 'dd.MM.yyyy') == kendo.toString(End, 'dd.MM.yyyy')) { #"
                            + " <span class='planner-event-rounded'>#: kendo.toString(Start, 'dd.MM.yyyy') # </span>"
                            + " # } else { #"
                            + " <span class='planner-event-rounded'>#: kendo.toString(Start, 'dd.MM.yyyy') # - #: kendo.toString(End, 'dd.MM.yyyy') #</span>"
                            + " # } #"
                            + " # } #"
                            + "</span>"
                            + "<span>#: Title #" + "</span>"
                            );
                      ;
                  })
                  .Pageable(page => { page.PageSizes(false); page.ButtonCount(0); page.Info(true); page.Input(false); page.Numeric(false); page.PreviousNext(false); page.Refresh(true); })
                  .Resizable(resize => resize.Columns(true))
            //.Scrollable(scr => scr.Height("auto"))
                  .Scrollable(scr => scr.Enabled(false))
                  .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                  .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                  .AutoBind(false)
                  .Events(ev => ev.DataBound("planner.onPlannerOverdueEventGridDataBound"))
    )
}

@helper PlanerPanelStrategHelper()
{
    @(Html.Kendo().Grid<CabinetMvc.ViewModel.Planner.PlannerEventViewModel>()
                  .Name("plannerStrategEventGrid")
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {
                          model.Id(ev => ev.event_id);
                      })
                      .PageSize(500)
                      .Sort(sort => { sort.Add("exec_user_name").Ascending(); sort.Add("End").Ascending(); })
                      .Read(read => read.Action("GetStrategEventList", "Planner").Data("planner.getStrategEventFilter"))
                   )
                   .ToolBar(tb =>
                   {
                       tb.Template(@Html.Kendo().CheckBox().Name("chbStrategActive").Label("активные").Checked(true).ToHtmlString());
                   })
                  .Columns(columns =>
                  {
                      columns.Bound(item => item.End)
                          .Filterable(ft => ft.Enabled(false))
                          .HeaderHtmlAttributes(new { @style = "display:none;" })
                          .ClientTemplate("<span class='planner-event-header'>"
                            + "#if (is_overdue) {#<span class='cab-png cab-png-error'></span>#}#"
                            + "#if (!is_public) {#<span class='cab-png cab-png-private'></span>#}#"
                            + "#if ((task_id) && (task_num)) {#"
                            + "#if((kendo.toString(event_date_beg_orig, 'dd.MM.yyyy') != kendo.toString(event_date_beg_curr, 'dd.MM.yyyy')) || (kendo.toString(event_date_end_orig, 'dd.MM.yyyy') != kendo.toString(event_date_end_curr, 'dd.MM.yyyy'))) {#<span class='cab-png cab-png-date-warning'></span>#}#"
                            + "<span class='planner-event-rounded' style='background-color: #:getColorForStateId(event_state_id)#; color: #:getFontColorForStateId(event_state_id)#;'>#: state_name #</span>"
                            + "<span class='planner-event-rounded' style='background-color: \\#bbc5c7; color: \\#428bca'>" + " #: task_num # " + "</span>"
                            + " #} #"
                            + " # if (!IsAllDay) { #"
                            + " <span class='planner-event-rounded'>#: kendo.toString(Start, 'HH:mm') # - #: kendo.toString(End, 'HH:mm') #</span>"
                            + " # } else { #"
                            + " # if (kendo.toString(Start, 'dd.MM.yyyy') == kendo.toString(End, 'dd.MM.yyyy')) { #"
                            + " <span class='planner-event-rounded'>#: kendo.toString(Start, 'dd.MM.yyyy') # </span>"
                            + " # } else { #"
                            + " <span class='planner-event-rounded'>#: kendo.toString(Start, 'dd.MM.yyyy') # - #: kendo.toString(End, 'dd.MM.yyyy') #</span>"
                            + " # } #"
                            + " # } #"
                            + "</span>"
                            + "<span>#: Title #" + "</span>"
                            );
                      ;
                  })
                  .Pageable(page => { page.PageSizes(false); page.ButtonCount(0); page.Info(true); page.Input(false); page.Numeric(false); page.PreviousNext(false); page.Refresh(true); })
                  .Resizable(resize => resize.Columns(true))
            //.Scrollable(scr => scr.Height("auto"))
                  .Scrollable(scr => scr.Enabled(false))
                  .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                  .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                          .AutoBind(false)
                  .Events(ev => ev.DataBound("planner.onPlannerStrategEventGridDataBound"))
    )
}

@helper PlanerPanelNotesHelper()
{
    @(Html.Kendo().ToolBar().Name("tbPoolPlanner").Items(items =>
                    {
                        items.Add().Type(CommandType.Button).Text("").Id("btn-add-note")
                            .Icon("plus")
                            .HtmlAttributes(new { @title = "Новая запись" })
                            .Click("planner.onBtnAddNoteClick");
                        /*
                        items.Add().Type(CommandType.Button).Text("").Id("btn-add-task")
                            .Icon("restore")
                            .HtmlAttributes(new { @title = "Выбрать задачу" })
                            .Click("planner.onBtnAddTaskClick");
                        */
                        items.Add().Type(CommandType.Button).Text("").Id("btn-notes-search")
                            .SpriteCssClass("k-icon k-filter")
                            .Click("planner.onBtnNotesSearchClick")
                            .HtmlAttributes(new { @title = "Поиск записей", });
                        items.Add().Type(CommandType.Button).Text("").Id("btn-notes-refresh")
                            .Icon("refresh")
                            .Click("planner.onBtnNotesRefreshClick")
                            .HtmlAttributes(new { @title = "Обновить список", });
                    }
    ))
    @(Html.Kendo().Grid<CabinetMvc.ViewModel.Planner.PlannerNoteViewModel>()
                  .Name("plannerNoteGrid")
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {
                          model.Id(ev => ev.note_id);
                      })
                      .PageSize(100)
                      .Sort(sort => sort.Add("sort_num").Descending())
                      .Read(read => read.Action("GetPlannerNoteList", "Planner").Data("planner.getPlanerNoteFilter"))
                      .Create(cr => cr.Action("PlannerNoteAdd", "Planner").Data("planner.getCurrUserId"))
                      .Update(cr => cr.Action("PlannerNoteEdit", "Planner"))
                              .Events(ev => ev.Error("planner.onPlannerNoteGridError"))
                   )
                  .Columns(columns =>
                  {
                      columns.Bound(item => item.description)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Title(" ")
                          .HeaderHtmlAttributes(new { @style = "display:none;" })
                          .ClientTemplate("<span class='planner-event-header'>"
                            + "#if ((task_id) && (task_num)) {#"
                            + "<span class='planner-event-rounded' style='background-color: #:getColorForStateId(state_id)#; color: #:getFontColorForStateId(state_id)#;'>#: state_name #</span>"
                            + "<span class='planner-event-rounded' style='background-color: \\#bbc5c7; color: \\#428bca'>" + " #: task_num # " + "</span>"
                            + " #} #"
                            + "</span>"
                            + "<span>#: title #"
                            + "<button class='k-button k-button-icon pull-right btn-del-note btn-transparent' type='button' title='Удалить запись'>"
                            + "<span class='k-icon k-i-cancel pull-right'></span>"
                            + "</button>"
                            + "</span>")
                          //.EditorTemplateName("TextWithDelButton")
                          ;
                  })
            //.Editable(ed => ed.Mode(GridEditMode.InCell))
                  .Pageable(pg => pg.Enabled(false))
                  .Resizable(resize => resize.Columns(true))
                  .Scrollable(scr => scr.Height("auto"))
                  .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                          .AutoBind(false)
                      .Events(ev =>
                      {
                          ev.DataBound("planner.onPlannerNoteGridDataBound");
                      })
    )
}

@helper PlanerTaskListToolbarHelper()
{
    <div style="float:left;">
        @(Html.Kendo().DropDownList()
                                        .OptionLabel("Действие...")
                                        .BindTo(operationList)
                                        .DataSource(ds =>
                                        {
                                            ds.ServerFiltering(false);
                                        })
                                        .DataTextField("operation_name")
                                        .DataValueField("operation_id")
                                        .Name("taskGridCombo")
                                        .HtmlAttributes(new { @id = "taskGridCombo", })
                                        .Events(ev =>
                                        {
                                            ev.Change("planner.onTaskGridComboChange");
                                        })
        )
        <button class="k-button k-button-icontext add-task-btn" disabled onclick='planner.onAddTaskBtnClick(this)' title="Добавить задачу в окне"><span class="k-icon k-i-restore"></span></button>
        <button class="k-button k-button-icontext add-task-new-btn" disabled onclick='planner.onAddTaskNewBtnClick(this)' title="Добавить задачу в форме"><span class="k-icon k-i-plus"></span></button>
        <button class="k-button k-button-icontext k-grid-excel" title="Экспорт в Excel"><span class="k-icon k-i-excel" title="Экспорт в Excel"></span> </button>
        <button class="k-button k-button-icontext k-grid-pdf" title="Экспорт в PDF"><span class="k-icon k-i-pdf" title="Экспорт в PDF"></span> </button>
        @(Html.Kendo().CheckBox().Name("taskGridExportAll").HtmlAttributes(new { @id = "taskGridExportAll", }).Checked(false).Label("экспорт всех страниц"))
        @(Html.Kendo().TextBox().Name("taskGridPhrase").HtmlAttributes(new { @id = "taskGridPhrase", @placeholder = "поиск по фразе", @style = "margin-left: 10px;" }))
        <a href='#' class='grid-phrase-search-btn' onclick='planner.onGridPhraseSearchBtnClick(this)'><span class="cab-png cab-png-arrow-right" title="Поиск"></span></a>
    </div>
    <div style="float:right;">
        <a href='#' class='grid-config-btn' onclick='planner.onGridConfigBtnClick(this)'><span class="cab-png cab-png-page-edit" title="Настройка списка"></span></a>
    </div>
}

<script type="text/x-kendo-template" id="planerTaskListToolbarHelper">
    @Html.Raw(@PlanerTaskListToolbarHelper().ToHtmlString().Replace("#", "\\#").Replace("</scr", "<\\/scr"))
</script>

@helper PlanerTaskListHelper(IEnumerable<CabinetMvc.ViewModel.Sys.CabGridColumnUserSettingsViewModel> taskGridColumnSettings,
    string taskGridColumnWidths,
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmStateViewModel> filterStateList,
    IEnumerable<CabinetMvc.ViewModel.Adm.CabUserViewModel> filterUserList,
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmProjectViewModel> filterProjectList,
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmClientViewModel> filterClientList,
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmPriorityViewModel> filterPriorityList,
    CabinetMvc.ViewModel.Crm.CrmTaskUserFilterViewModel userFilter,
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmBatchViewModel> filterBatchList
)
{
    @(Html.Kendo().Menu().Name("taskListMenu").Orientation(MenuOrientation.Horizontal).Events(ev => ev.Select("planner.onTaskListMenuSelect"))
.Items(menuItem =>
{
    menuItem.Add().Text("Неразобранные").HtmlAttributes(new { @id = "menu-task-bucket" }).Url("#");
    menuItem.Add().Text("Обработанные").HtmlAttributes(new { @id = "menu-task-prepared" }).Url("#");
    menuItem.Add().Text("К утверждению").HtmlAttributes(new { @id = "menu-task-fixed" }).Url("#");
    menuItem.Add().Text("В работе").HtmlAttributes(new { @id = "menu-task-approved" }).Url("#");
    menuItem.Add().Text("В версии").HtmlAttributes(new { @id = "menu-task-version" }).Url("#");
    menuItem.Add().Text("Закрытые").HtmlAttributes(new { @id = "menu-task-closed" }).Url("#");
    menuItem.Add().Text("Проекты").HtmlAttributes(new { @id = "menu-task-project" }).Url("#");
    menuItem.Add().Text("Все").HtmlAttributes(new { @id = "menu-task-all" }).Url("#");
})
    )
    @(Html.Kendo().PanelBar()
    .Name("taskFilterPanel")
    .ExpandMode(PanelBarExpandMode.Multiple)
    .Items(panelbar =>
    {
        panelbar.Add().Text("Фильтры").LinkHtmlAttributes(new { @id = "filter-panel-header" })
       .Expanded(false)
       .Selected(true)
       .Content(@<text>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("Программа", new { @class = "control-label" })
                        @(Html.Kendo().MultiSelect()
                                .Placeholder("...")
                                .AutoClose(false)
                                .AutoBind(true)
                                .BindTo(filterProjectList)
                                .Name("filterProjectList")
                                .HtmlAttributes(new { @id = "filterProjectList" })
                                .DataTextField("project_name")
                                .DataValueField("project_id")
                                .Value(userFilter.projectFilterList)
                                //.Value(new List<int>() {2})
                        )
                    </div>
                    <div class="form-group">
                        @Html.Label("Клиент", new { @class = "control-label" })
                        @(Html.Kendo().MultiSelect()
                                .Placeholder("...")
                                .AutoClose(false)
                                        .AutoBind(true)
                                .BindTo(filterClientList)
                                .Name("filterClientList")
                                .HtmlAttributes(new { @id = "filterClientList" })
                                .DataTextField("client_name")
                                .DataValueField("client_id")
                                .Value(userFilter.clientFilterList)
                        )
                    </div>
                    <div class="form-group">
                        @Html.Label("Приоритет", new { @class = "control-label" })
                        @(Html.Kendo().MultiSelect()
                                .Placeholder("...")
                                .AutoClose(false)
                                        .AutoBind(true)
                                .BindTo(filterPriorityList)
                                .Name("filterPriorityList")
                                .HtmlAttributes(new { @id = "filterPriorityList" })
                                .DataTextField("priority_name")
                                .DataValueField("priority_id")
                                .Value(userFilter.priorityFilterList)
                        )
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-sm" id="btnTaskListFilter">Применить</button>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("Статус", new { @class = "control-label" })
                        @(Html.Kendo().MultiSelect()
                                .Placeholder("...")
                                .AutoClose(false)
                                .AutoBind(true)
                                .BindTo(filterStateList)
                                .Name("filterStateList")
                                .HtmlAttributes(new { @id = "filterStateList" })
                                .DataTextField("state_name")
                                .DataValueField("state_id")
                                .Value(userFilter.stateFilterList)
                        )
                    </div>
                    <div class="form-group">
                        @Html.Label("Ответственный", new { @class = "control-label" })
                        @(Html.Kendo().MultiSelect()
                                .Placeholder("...")
                                .AutoClose(false)
                                .AutoBind(true)
                                .BindTo(filterUserList)
                                .Name("filterAssignedUserList")
                                .HtmlAttributes(new { @id = "filterAssignedUserList" })
                                .DataTextField("user_name")
                                .DataValueField("user_id")
                                .Value(userFilter.assignedUserFilterList)
                        )
                    </div>
                    <div class="form-group">
                        @Html.Label("Исполнитель", new { @class = "control-label" })
                        @(Html.Kendo().MultiSelect()
                                .Placeholder("...")
                                .AutoClose(false)
                                .AutoBind(true)
                                .BindTo(filterUserList)
                                .Name("filterExecUserList")
                                .HtmlAttributes(new { @id = "filterExecUserList" })
                                .DataTextField("user_name")
                                .DataValueField("user_id")
                                .Value(userFilter.execUserFilterList)
                        )
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.Label("Проект", new { @class = "control-label" })
                        @(Html.Kendo().MultiSelect()
                                .Placeholder("...")
                                .AutoClose(false)
                                .AutoBind(true)
                                .BindTo(filterBatchList)
                                .Name("filterBatchList")
                                .HtmlAttributes(new { @id = "filterBatchList" })
                                .DataTextField("batch_name")
                                .DataValueField("batch_id")
                                .Value(userFilter.batchFilterList)
                        )
                    </div>
                    <div class="form-group">
                        @Html.Label("Плановая дата (с - по)", new { @class = "control-label" })
                        @(Html.Kendo().DatePicker()
                                .Name("filterRequiredDate1")
                                        .HtmlAttributes(new { @type = "text", @id = "filterRequiredDate1", @style = "width: 49% !important;", })
                                .Value(userFilter.required_date1_filter)
                        )
                        @(Html.Kendo().DatePicker()
                                .Name("filterRequiredDate2")
                                        .HtmlAttributes(new { @type = "text", @id = "filterRequiredDate2", @style = "width: 49% !important;", })
                                .Value(userFilter.required_date2_filter)
                        )
                    </div>
                    <div class="form-group">
                        @Html.Label("Фактическая дата (с - по)", new { @class = "control-label" })
                        @(Html.Kendo().DatePicker()
                                .Name("filterRepairDate1")
                                        .HtmlAttributes(new { @type = "text", @id = "filterRepairDate1", @style = "width: 49% !important;", })
                                .Value(userFilter.repair_date1_filter)
                        )
                        @(Html.Kendo().DatePicker()
                                .Name("filterRepairDate2")
                                        .HtmlAttributes(new { @type = "text", @id = "filterRepairDate2", @style = "width: 49% !important;", })
                                .Value(userFilter.repair_date2_filter)
                        )
                    </div>
                    <div class="form-group">
                        @(Html.Kendo().CheckBox()
                    .Name("filterIsModerated")
                    .HtmlAttributes(new { @id = "filterIsModerated", })
                    .Label("модерация")
                    .Checked(userFilter.is_moderated_filter)
                        )
                    </div>
                </div>
            </div>
        </div>
    </text>);
    })
                                                            .HtmlAttributes(new { @style = "margin-bottom: 10px; margin-top: 10px;" })
    )

    @(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmTaskViewModel>()
                          .Name("plannerTaskGrid")
                      .DataSource(dataSource => dataSource
                          .Ajax()
                          .Model(model =>
                          {
                              model.Id(ev => ev.task_id);
                          })
                          .PageSize(50)
                         .Sort(sort => sort.Add("task_id").Descending())
                             .Read(read => read.Action("GetTaskList", "Crm").Data("planner.getTaskListData"))
                       )
                              .Columns(columns =>
                              {
                                  columns.Bound(p => p.IsChecked)
                                      .ClientTemplate("<input type='checkbox' value='false' class='cab-grid-checkbox' onclick='planner.onCabGridCheckboxClick(this)'/>")
                                      .HeaderTemplate("<input type='checkbox' value='false' class='cab-grid-checkbox-header' onclick='planner.onCabGridCheckboxHeaderClick(this)'/>")
                                      .Filterable(false)
                                      .Sortable(false)
                                      .Width("30px")
                                  ;
                                  columns.Bound(p => p.group_name)
                                      .Sortable(true)
                                      .Width("120px")
                                      ;
                                  columns.Bound(p => p.moderator_user_id)
                                      .ClientTemplate("#if(moderator_user_id > 0){#" + "<span title='Модерация: #=moderator_user_name#'>М</span>"
                                        + "#} else {#" + "# } #")
                                      .Filterable(false)
                                      .Sortable(true)
                                      .Width("30px")
                                      .Title("М")
                                      .HeaderHtmlAttributes(new { @title = "Задача прошла модерацию" })
                                      ;
                                  HtmlExtensions.ColumnsForModel<CabinetMvc.ViewModel.Crm.CrmTaskViewModel>(columns, taskGridColumnSettings, taskGridColumnWidths);
                              })
                              .ToolBar(toolbar =>
                                  {
                                      toolbar.Template(
                                        @<text>
                                            @PlanerTaskListToolbarHelper()
                                        </text>
                                        );
                                  }
            )
            .Pageable(page => { page.PageSizes(new int[] { 10, 20, 50, 100 }); page.Refresh(true); })
            .Resizable(rsb => rsb.Columns(true))
            .Sortable(sort => sort.SortMode(GridSortMode.SingleColumn))
            .Scrollable(scr => scr.Height("auto"))
            .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
            .AutoBind(false)
            .Events(ev =>
            {
                ev.DataBound("planner.onPlannerTaskGridDataBound");
            })
    )
}

<div class="row">
    <div class="col-md-12">
        <div class="form-group service-info">
            <p><strong class="text-danger">ВНИМАНИЕ</strong> ! С 25.05.2017 действует <a href="PrjList">новый раздел задач</a>, здесь можно только просматривать созданные ранее задачи</p>
        </div>
    </div>
</div>

@(Html.Kendo().ToolBar()
    .Name("plannerToolBar")
    .Items(items =>
    {
        items.Add().Type(CommandType.ButtonGroup).Buttons(buttons =>
        {
            buttons.Add().SpriteCssClass("cab-png cab-png-split-vert").Togglable(true)
                .Group("panel-split")
                .HtmlAttributes(new { @id = "btn-panel-split-vert" });
            buttons.Add().SpriteCssClass("cab-png cab-png-split-hor").Togglable(true)
                .Group("panel-split")
                .HtmlAttributes(new { @id = "btn-panel-split-hor" });
        })
        .HtmlAttributes(new { @class = "pull-right" })
        ;

        items.Add().Type(CommandType.ButtonGroup).Buttons(buttons =>
        {
            buttons.Add().Icon("pdf")
                .Group("panel-operations")
                .Id("btn-planner-export-pdf");
            buttons.Add().Icon("excel")
                .Group("panel-operations")
                .Id("btn-planner-export-excel");
        })
        .HtmlAttributes(new { @class = "pull-right" })
        ;        

        
        items.Add().Template(Html.Kendo().DropDownList()
        .Name("userList")
        .HtmlAttributes(new { @class = "form-control", @style = "width: 100px;padding-top:4px;" })
        .DataTextField("user_name")
        .DataValueField("user_id")
        .BindTo(executerList)
        .Value(currUser.CabUserId.ToString())
        .Events(s => { s.Change("planner.onUserChange"); })
        .ToHtmlString()
        )
        .Overflow(ShowInOverflowPopup.Never);       
    })
        .Events(e => e.Toggle("planner.onPlannerToolBarToggle"))
)

@(Html.Kendo().Splitter()
      .Name("plannerMainSplitter")
      .Orientation(SplitterOrientation.Horizontal)
      .HtmlAttributes(new { style = "height: 800px;" })
      .Panes(horizontalPanes =>
      {
          horizontalPanes.Add()
              .Size("100%")
              .HtmlAttributes(new { id = "left-pane" })
              .Scrollable(false)
              .Collapsible(false)
              .Resizable(true)
              //.CollapsedSize("67%") 
              .Content(Html.Kendo().Splitter()
                      .Name("plannerEventSplitter")
                      .Orientation(SplitterOrientation.Vertical)
                      .HtmlAttributes(new { style = "height: 100%;" })
                      .Panes(panes2 =>
                      {
                          panes2.Add()                             
                              .HtmlAttributes(new { @id = "left-top-pane", })
                              .Scrollable(true)
                              .Collapsible(false)
                              .Resizable(true)
                              .Content(PlannerMainHelper(currUser, executerList).ToHtmlString());
                          panes2.Add()
                              .HtmlAttributes(new { @id = "left-bottom-pane", @style = "background-color: #f5f5f5;" })
                              .Scrollable(false)
                              .Collapsible(false)
                              .Resizable(true)
                              .Size(leftBottomPane_minSize)
                              .MinSize(leftBottomPane_minSize)
                              .CollapsedSize(leftBottomPane_minSize)
                              .Content(PlanerTaskHelper(taskGridColumnSettings,
                                        taskGridColumnWidths,
                                        filterStateList,
                                        filterUserList,
                                        filterProjectList,
                                        filterClientList,
                                        filterPriorityList,
                                        userFilter,
                                        filterBatchList
                              ).ToHtmlString());
                      }
                      )
                      .Events(ev =>
                      {
                          ev.Resize("planner.onPlannerEventSplitterResize");
                      })
                      .ToHtmlString());
          horizontalPanes.Add()
              //.Size("100px")
              //.Size("165px")
              //.MinSize("165px")
              //.CollapsedSize("165px")              
              .HtmlAttributes(new { id = "right-pane" })
              .Scrollable(false)
              .Collapsible(false) 
              .Resizable(true)
              .Collapsed(false)
              .Content(PlanerNotesHelper().ToHtmlString())
            ;
      })
)

@(Html.Kendo().Sortable()
    .For("#taskGridColumnSettingsGrid")
    .Filter("table > tbody > tr")
    .Cursor("pointer")
    .HintHandler("noHint")
    .PlaceholderHandler("planner.placeholder")
    .ContainerSelector("#taskGridColumnSettingsGrid tbody")
    .Events(events => events.Change("planner.onSortChange"))
)

@(Html.Kendo().Window()
            .Name("winTaskEditPlanner")
            .Draggable()
            .Resizable()
        //.Position(pos => { pos.Top(5); })
            .Width(950)
            .Iframe(false)
            .Visible(false)
            .Modal(true)
            .Title("Задача")
            .Actions(actions => { actions.Close(); })
            .Events(ev =>
            {
                ev.Refresh("planner.onWinTaskEditPlannerRefresh");
            })
)

@(Html.Kendo().Window()
            .Name("winPlannerNoteEdit")
            .Draggable()
            .Resizable()
            .Width(650)
            .Iframe(false)
            .Visible(false)
            .Modal(true)
            .Title("Запись")
            .Actions(actions => actions.Close())
        //.Events(ev => { ev.Open("planner.onWinPlannerNoteEditOpen"); })
                .HtmlAttributes(new { @class = "k-popup-edit-form k-scheduler-edit-form" })
)

@(Html.Kendo().Window()
            .Name("winTaskGridConfig")
            .Title("Настройка списка")
            .Content(@<text>
                @(Html.Kendo().Grid(taskGridColumnSettings)
                      .Name("taskGridColumnSettingsGrid")
                      .DataSource(dataSource => dataSource
                          .Ajax()
                          .PageSize(30)
                          .ServerOperation(false)
                       )
                      .Columns(columns =>
                      {
                          columns.Bound(p => p.column_name_rus)
                              .HeaderHtmlAttributes(new { style = "display: none;" });
                          columns.Bound(p => p.is_visible)
                              .HeaderHtmlAttributes(new { style = "display: none;" })
                              .ClientTemplate(
                                "<input type='checkbox' value= '#=is_visible#' class='chkbx1' onclick='planner.onTaskGridColumnSettingsGridClick(this)' " +
                                    "# if (is_visible) { #" +
                                        "checked='checked'" +
                                    "# } #" +
                                "/>")
                                ;
                      })
                )
                @(Html.Kendo().Button().Name("btnTaskGridConfigOk").Content("OK"))
                @(Html.Kendo().Button().Name("btnTaskGridConfigCancel").Content("Отмена"))
            </text>)
            .Draggable()
            .Resizable()
            .Width(500)
            .Height(800)
            .Visible(false)
            .Modal(true)
            .Actions(actions => actions.Close())
)

@(Html.Kendo().Window()
            .Name("winTaskBatch")
            .Title("Выберите проект")
            .Content(@<text>
                @(Html.Kendo().DropDownList()
                    .BindTo(filterBatchList)
                    .DataTextField("batch_name")
                    .DataValueField("batch_id")
                    .Name("ddlTaskBatch")
                    .HtmlAttributes(new { @id = "ddlTaskBatch", })
                    .Value("0")
                )
                @(Html.Kendo().Button().Name("btnWinTaskBatchOk").Content("OK").HtmlAttributes(new { @type = "button" }))
                @(Html.Kendo().Button().Name("btnWinTaskBatchCancel").Content("Отмена").HtmlAttributes(new { @type = "button" }))
            </text>)
                                .Draggable()
                                .Resizable()
                                //.Width(300)
                                //.Height(500)
                                .Visible(false)
                                .Modal(true)
                                .Actions(actions => actions.Close())
)

<script>
    function getColorForState(data, useOverdue) {
        if (useOverdue) {
            if (data.is_overdue) {
                return 'red';
            };
        };
        return getColorForStateId(data.event_state_id);
    };
    function getColorForStateId(state_id) {
        switch (state_id) {
            case 1:
                return '@state1_color';
            case 2:
                return '@state2_color';
            case 3:
                return '@state3_color';
            case 4:
                return '@state4_color';
            case 5:
                return '@state5_color';
            case 6:
                return '@state6_color';
            case 7:
                return '@state7_color';
            case 8:
                return '@state8_color';
            default:
                break;
        }
    };
    function getFontColor(data) {
        var currColor = getColorForState(data, false);
        if ((currColor == 'black') || (currColor == 'rgba(0, 0, 0, 1)')) {
            return 'white';
        } else {
            return 'black';
        };
    };
    function getFontColorForStateId(state_id) {
        var currColor = getColorForStateId(state_id);
        if ((currColor == 'black') || (currColor == 'rgba(0, 0, 0, 1)')) {
            return 'white';
        } else {
            return 'black';
        };
    };
    function getColorForEvent(data) {
        if (!data.task_id) {
            return '#e6d974';
        } else {
            return '#b9fcbc';
        };
    };
</script>

<script id="planner-event-template" type="text/x-kendo-template">
    <div class="planner-event k-event-template" style="background-color: #:getColorForState(data, true)#; color: #:getFontColor(data)#;">
        <span class="planner-event-header">
            #if (is_overdue) {#<span class="cab-png cab-png-error day-view-only"></span>#}#
            #if((kendo.toString(event_date_beg_orig, 'dd.MM.yyyy') != kendo.toString(event_date_beg_curr, 'dd.MM.yyyy')) || (kendo.toString(event_date_end_orig, 'dd.MM.yyyy') != kendo.toString(event_date_end_curr, 'dd.MM.yyyy'))) {#<span class="cab-png cab-png-date-warning day-view-only"></span>#}#
            #if (!is_public) {#<span class="cab-png cab-png-private day-view-only"></span>#}#
            <span class="planner-event-rounded exec-user">#: exec_user_name #</span>
            <span class="planner-event-rounded day-view-only" style="background-color: #:getColorForState(data, false)#; color: #:getFontColor(data)#;">#: state_name #</span>
            #if (!isAllDay) {#<span class='planner-event-rounded'>#: kendo.toString(start, 'HH:mm') # - #: kendo.toString(end, 'HH:mm') #</span>
            #} else { #
            # if (kendo.toString(start, 'dd.MM.yyyy') != kendo.toString(end, 'dd.MM.yyyy')) { #
            <span class='planner-event-rounded'>#: kendo.toString(start, 'dd.MM') # - #: kendo.toString(end, 'dd.MM') #</span>
            # } #
            # } #
            <span class="planner-event-rounded" style="background-color: #:getColorForEvent(data)#; color: \\#428bca">#if (task_id) {# #: task_num # #} else {# #: event_num # #}#</span>
        </span>
        <span> #: title # </span>
    </div>
</script>

<script id="planner-event-tooltip-template" type="text/x-kendo-template">
    #var element = target.is(".k-task") ? target : target.parent();#
    #var uid = element.attr("data-uid");#
    #var scheduler = target.closest("[data-role=scheduler]").data("kendoScheduler");#
    #var model = scheduler.occurrenceByUid(uid);#

    #if(model) {#
    #if(model.is_overdue) {#
    <strong>ПРОСРОЧЕНО</strong>
    <br />
    <br />
    #}#
    <strong>Исполнитель:</strong> #if(model.task_id) {# #=model.task_exec_user_name# #} else {# #=model.exec_user_name# #}#
    <br />
    #if((kendo.toString(model.event_date_beg_orig, 'dd.MM.yyyy') != kendo.toString(model.event_date_beg_curr, 'dd.MM.yyyy')) || (kendo.toString(model.event_date_end_orig, 'dd.MM.yyyy') != kendo.toString(model.event_date_end_curr, 'dd.MM.yyyy'))){#
    <strong>Исходный период:</strong> #=kendo.toString(model.event_date_beg_orig, 'dd.MM.yyyy')# - #=kendo.toString(model.event_date_end_orig, 'dd.MM.yyyy')#
    <br />
    #}#
    <strong>Период:</strong> #=kendo.toString(model.start, 'dd.MM.yyyy')# - #=kendo.toString(model.end, 'dd.MM.yyyy')#
    <br />
    <strong>Статус:</strong> #=model.state_name#
    <br />
    <strong>Описание:</strong> #=model.description#
    <br />
    #if(!model.task_id) {#
    <strong>Ход выполнения:</strong> #if(model.progress) {# #=model.progress# #} else {# - #}#
    <br />
    <strong>Результат:</strong> #if(model.result) {# #=model.result# #} else {# - #}#
    <br />
    #}#
    <strong>Создано:</strong> #=kendo.format('{0:dd.MM.yyyy HH:mm}',model.crt_date)# #=model.crt_user#
    <br />
    #} else {#
    <strong>нет данных</strong>
    <br />
    #}#
</script>

<script id="planner-event-grid-tooltip-template" type="text/x-kendo-template">
    #var element = target;#
    #var grid = target.closest("[data-role=grid]").data("kendoGrid");#
    #var model = grid.dataItem(element);#

    #if(model) {#
    #if(model.is_overdue) {#
    <strong>ПРОСРОЧЕНО</strong>
    <br />
    <br />
    #}#
    <strong>Исполнитель:</strong> #if(model.task_id) {# #=model.task_exec_user_name# #} else {# #=model.exec_user_name# #}#
    <br />
    #if((kendo.toString(model.event_date_beg_orig, 'dd.MM.yyyy') != kendo.toString(model.event_date_beg_curr, 'dd.MM.yyyy')) || (kendo.toString(model.event_date_end_orig, 'dd.MM.yyyy') != kendo.toString(model.event_date_end_curr, 'dd.MM.yyyy'))){#
    <strong>Исходный период:</strong> #=kendo.toString(model.event_date_beg_orig, 'dd.MM.yyyy')# - #=kendo.toString(model.event_date_end_orig, 'dd.MM.yyyy')#
    <br />
    #}#
    <strong>Период:</strong> #=kendo.toString(model.Start, 'dd.MM.yyyy')# - #=kendo.toString(model.End, 'dd.MM.yyyy')#
    <br />
    <strong>Статус:</strong> #=model.state_name#
    <br />
    <strong>Описание:</strong> #=model.Description#
    <br />
    #if(!model.task_id) {#
    <strong>Ход выполнения:</strong> #if(model.progress) {# #=model.progress# #} else {# - #}#
    <br />
    <strong>Результат:</strong> #if(model.result) {# #=model.result# #} else {# - #}#
    <br />
    #}#
    <strong>Создано:</strong> #=kendo.format('{0:dd.MM.yyyy HH:mm}',model.crt_date)# #=model.crt_user#
    <br />
    #} else {#
    <strong>нет данных</strong>
    <br />
    #}#
</script>

<script>
    var url_Planner = '@Url.Action("Planner", "Planner", new { })';
    var currUser_CabUserId = @currUser.CabUserId;
    var currUser_CabUserName = '@currUser.CabUserName';
    var settings_state_name = @taskGridColumnSettings.Where(ss => ss.column_id == (int)@Enums.CabGridColumn_TaskList.state_name && ss.is_visible).Select(ss => ss.column_index + 4).FirstOrDefault();
    var taskGridColorColumn_state_name = @(taskGridColorColumn == (int)Enums.CabGridColumn_TaskList.state_name ? "true" : "false");
    var html_taskGridSortOptions = @Html.Raw(taskGridSortOptions);
    var html_taskGridFilterOptions = @Html.Raw(taskGridFilterOptions);
    var userFilter_curr_group_id = @userFilter.curr_group_id.GetValueOrDefault(0);
    var leftBottomPane_minSize = '@leftBottomPane_minSize';
</script>

