﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util

@model CabinetMvc.ViewModel.Auth.AuthUserRoleViewModel

@{
    ViewBag.Title = "Полномочия сотрудника";    
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currUser = ((CabinetMvc.Controllers.BaseController)ViewContext.Controller).CurrentUser;
    IEnumerable<CabinetMvc.ViewModel.Auth.AuthRoleViewModel> authRoleList = ViewBag.AuthRoleList;
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/auth", "auth-user-perm-edit-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("auth", "Полномочия"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Админ", "AdminList", "Adm") - @Html.ActionLink("Полномочия", "AuthList", "Auth") - @Html.ActionLink("Полномочия сотрудников", "AuthList", "Auth") - @Html.ActionLink("Полномочия сотрудника " + @Model.user_name, "AuthUserPermEdit", "Auth", new { @user_id = @Model.user_id }, null)
    </div>
}

<style>
</style>

@Html.Label("Назначенная роль:", htmlAttributes: new { @class = "control-label" })
@(Html.Kendo().DropDownList()
                              .Name("authRoleList")
                              .HtmlAttributes(new { @class = "input-sm", @id = "authRoleList" })
                              .DataTextField("role_name")
                              .DataValueField("role_id")
                                  .BindTo(authRoleList)
                    .AutoBind(true)
                    .Value(@Model.role_id.ToString())
                            .Events(ev => ev.Change("authUserPermEdit.onAuthRoleListChange"))
)

@(Html.Kendo().Grid<CabinetMvc.ViewModel.Auth.AuthUserPermViewModel>()
                  .Name("authUserRoleSectionGrid")
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {                          
                          model.Id(ev => ev.section_id);
                          model.Field(fld => fld.section_name).Editable(false);
                      })
                          .PageSize(1000)
                      .Sort(sort => sort.Add("section_id").Ascending())
                              .Read(read => read.Action("GetAuthUserRoleSectionList", "Auth").Data("authUserPermEdit.getUserRoleSectionGridData"))
                   )
                  .Columns(columns =>
                  {
                      columns.Bound(item => item.section_name)                          
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(450)
                          ;
                      columns.Bound(item => item.allow_view)
                                .ClientTemplate("<input type='checkbox' value='#=allow_view#' class='chb-allow-view-section' " +
                                "# if (allow_view) { #" +
                                "checked='checked'" +
                                "# } #" +
                                "/>")
                          .Filterable(ftb => ftb.Enabled(false))
                          .Width(100)
                          ;
                      columns.Bound(item => item.allow_edit)
                                .ClientTemplate("<input type='checkbox' value='#=allow_edit#' class='chb-allow-edit-section' " +
                                "# if (allow_edit) { #" +
                                "checked='checked'" +
                                "# } #" +
                                "/>")
                          .Filterable(ftb => ftb.Enabled(false))
                          .Width(100)
                          ;                      
                  })
                .Pageable(page => { page.PageSizes(false); page.ButtonCount(0); page.Info(false); page.Input(false); page.Numeric(false); page.PreviousNext(false); page.Refresh(true); })
                  .Sortable()
                  .Resizable(resize => resize.Columns(true))
                  .Scrollable(scr => scr.Height("auto"))
                  .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                  .ClientDetailTemplateId("templSectionPart")
                       .Events(ev => ev.DataBound("authUserPermEdit.onAuthUserRoleSectionGridDataBound"))
)

<div class="container-fluid">
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-6">
            <button type="button" class="btn btn-primary" id="btnSave">Сохранить</button>
            <button type="button" class="btn btn-warning" id="btnCancel">Отменить изменения</button>
        </div>
    </div>
</div>

<script id="templSectionPart" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<CabinetMvc.ViewModel.Auth.AuthUserPermViewModel>()
                        .Name("grid1_#=section_id#")
                                .DataSource(dataSource => dataSource
                                    .Ajax()
                                      .Model(model =>
                                      {
                                          model.Id(id => id.part_id);
                                          model.Field(fld => fld.part_name).Editable(false);
                                      })
                                                        .Read(read => read.Action("GetAuthUserRolePartList", "Auth", new { @user_id = @Model.user_id, @section_id = "#=section_id#" }).Data("authUserPermEdit.getUserRolePartGridData"))
                                .Sort(s => s.Add("part_name"))                                
                                )                        
                        .Columns(columns =>
                        {
                            columns.Bound(item => item.part_name)
                                .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                .Width(450)
                                ;
                            columns.Bound(item => item.allow_view)
                                .ClientTemplate("<input type='checkbox' value='\\#=allow_view\\#' class='chb-allow-view-part' " +
                                "\\# if (allow_view) { \\#" +
                                "checked='checked'" +
                                "\\# } \\#" +
                                "/>")
                                .Filterable(ftb => ftb.Enabled(false))
                                .Width(100)
                                ;
                            columns.Bound(item => item.allow_edit)
                                .ClientTemplate("<input type='checkbox' value='\\#=allow_edit\\#' class='chb-allow-edit-part' " +
                                "\\# if (allow_edit) { \\#" +
                                "checked='checked'" +
                                "\\# } \\#" +
                                "/>")
                                .Filterable(ftb => ftb.Enabled(false))
                                .Width(100)
                                ;
                        })                        
                        .Pageable(p => p.Enabled(false))
                        .Sortable()
                        .Scrollable(scr => scr.Height("auto"))
                        .Resizable(resize => resize.Columns(true))
                                .Events(ev => ev.DataBound("authUserPermEdit.onAuthUserRolePartGridDataBound"))
                        .ToClientTemplate()
    )
</script>

<script>
    var init_role_id = @Model.role_id;
    var model_user_id = @Model.user_id;
</script>

        