﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util

@{
    ViewBag.Title = "Права сотрудников";    
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currUser = ((CabinetMvc.Controllers.BaseController)ViewContext.Controller).CurrentUser;    
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/auth", "auth-list-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("auth", "Полномочия"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Админ", "AdminList", "Adm") - @Html.ActionLink("Полномочия", "AuthList", "Auth") - @Html.ActionLink("Права сотрудников", "AuthList", "Auth")
    </div>
}

<style>    
.k-grid tr td.templateCell {
    overflow:visible;
}
.templateCell>.k-menu>.k-item {
    border-width: 0 !important;
}
</style>

<div class="row">
    <div class="col-md-12">
        <div class="form-inline">
            <div class="form-group">
                <button type="button" class="btn btn-default btn-admin-list-filter" id="btnShowAll">Все</button>
                <button type="button" class="btn btn-default btn-primary btn-admin-list-filter" id="btnShowActive">Активные</button>
                <button type="button" class="btn btn-default btn-admin-list-filter" id="btnShowNotActive">Неактивные</button>
            </div>
        </div>
    </div>
</div>

@(Html.Kendo().Grid<CabinetMvc.ViewModel.Auth.AuthUserRoleViewModel>()
                  .Name("authGrid")
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {
                          model.Id(ev => ev.user_id);
                      })
                      .PageSize(100)
                      .Sort(sort => sort.Add("user_name").Ascending())
                      .Read(read => read.Action("GetAuthList", "Auth"))
                      .Filter(flt => flt.Add(f => f.is_active).IsEqualTo(true))
                   )
                  .ToolBar(tb =>
                  {
                      tb.Custom().Name("btnAddPers").Text("Добавить сотрудника").Action("AdminEdit", "Adm", new { @user_id = "0" }).HtmlAttributes(new { @id = "btnAddPers" });
                      tb.Custom().Name("btnAddRole").Text("Добавить роль").Action("AuthRoleList", "Auth", new { @add = "1" }).HtmlAttributes(new { @id = "btnAddRole" });
                  })
                  .Columns(columns =>
                  {
                      columns.Bound(item => item.user_id)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(150)
                          ;
                      columns.Bound(item => item.user_name)
                          .Template(@<text></text>)
                          .ClientTemplate(
                          Html.Kendo().Menu()
                          .Name("authGridUserMenu_#=user_id#")
                          .Direction(MenuDirection.Right)
                          .Items(menuItem => menuItem.Add().Text("#=user_name#").Items(menuSubitem =>
                          {
                              menuSubitem.Add().Text("Атрибуты").Url(Url.Action("AdminEdit", "Adm", new { @user_id = "#=user_id#" }));
                              menuSubitem.Add().Text("Полномочия").Url(Url.Action("AuthUserPermEdit", "Auth", new { @user_id = "#=user_id#" }));
                          }))
                          .ToClientTemplate().ToHtmlString()
                          )
                          .HtmlAttributes(new { @class = "templateCell" })
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(180)
                          ;
                      columns.Bound(item => item.user_name_full)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(300)
                          ;
                      columns.Bound(item => item.role_name)
                          //.ClientTemplate("<a href='/AuthRolePermEdit?role_id=#=role_id#' title='Настроить полномочия роли'>#=role_name#</a>")
                          .Template(@<text></text>)
                          .ClientTemplate(
                          Html.Kendo().Menu()
                          .Name("authGridRoleMenu_#=user_id#")
                          .Direction(MenuDirection.Right)
                          .Items(menuItem => menuItem.Add().Text("#=role_name#").Items(menuSubitem =>
                          {
                              menuSubitem.Add().Text("Атрибуты").Url(Url.Action("AuthRoleList", "Auth"));
                              menuSubitem.Add().Text("Полномочия").Url(Url.Action("AuthRolePermEdit", "Auth", new { @role_id = "#=role_id#" }));
                          }))
                          .ToClientTemplate().ToHtmlString()
                          )
                          .HtmlAttributes(new { @class = "templateCell" })
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(150)
                          ;
                      columns.Bound(item => item.user_login)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(150)
                      ;
                      columns.Bound(item => item.email)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(100)
                      ;
                      columns.Bound(item => item.icq)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(100)
                      ;
                      columns.Bound(item => item.is_crm_user)
                      .ClientTemplate("<input type='checkbox' value='#=is_crm_user#' class='chb-is_crm_user' disabled "
                      + "# if (is_crm_user) { #"
                      + "checked='checked'"
                      + "# } #"
                      + "/>")
                      .Filterable(ftb => ftb.Enabled(false))
                      .Width(100)
                      ;
                      columns.Bound(item => item.crm_user_role_name)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(200)
                      ;
                      columns.Bound(item => item.is_executer)
                      .ClientTemplate("<input type='checkbox' value='#=is_executer#' class='chb-is_executer' disabled "
                      + "# if (is_executer) { #"
                      + "checked='checked'"
                      + "# } #"
                      + "/>")
                      .Filterable(ftb => ftb.Enabled(false))
                      .Width(100)
                      ;
                      columns.Bound(item => item.is_notify_prj)
                      .ClientTemplate("<input type='checkbox' value='#=is_notify_prj#' class='chb-is_notify_prj' disabled "
                      + "# if (is_notify_prj) { #"
                      + "checked='checked'"
                      + "# } #"
                      + "/>")
                      .Filterable(ftb => ftb.Enabled(false))
                      .Width(100)
                      ;                      
                      columns.Bound(item => item.is_superadmin)
                      .ClientTemplate("<input type='checkbox' value='#=is_superadmin#' disabled "
                      + "# if (is_superadmin) { #"
                      + "checked='checked'"
                      + "# } #"
                      + "/>")
                      .Filterable(ftb => ftb.Enabled(false))
                      .Width(100)
                      ;
                      columns.Bound(item => item.is_active)
                      .ClientTemplate("<input type='checkbox' value='#=is_active#' class='chb-is_active' disabled "
                      + "# if (is_active) { #"
                      + "checked='checked'"
                      + "# } #"
                      + "/>")
                      .Filterable(ftb => ftb.Enabled(false))
                      .Width(100)
                      ;
                  })
                  .Pageable(page => { page.PageSizes(new int[] { 50, 100, 500, 1000 }); page.Refresh(true); })
                  .Sortable()
                  .Resizable(resize => resize.Columns(true))
                  .Scrollable(scr => scr.Height("auto"))
                  .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                  .HtmlAttributes(new { @style = "margin-top: 15px;" })
                  .Events(ev => ev.DataBound("authList.onAuthGridDataBound"))
)

<script>
</script>

        