﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util

@{
    ViewBag.Title = "Роли";    
    Layout = "~/Views/Shared/_Layout.cshtml";
    var add = Request.QueryString["add"];
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/auth", "auth-role-list-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("auth", "Полномочия"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Админ", "AdminList", "Adm") - @Html.ActionLink("Полномочия", "AuthList", "Auth") - @Html.ActionLink("Роли", "AuthRoleList", "Auth")
    </div>
}

@(Html.Kendo().Grid<CabinetMvc.ViewModel.Auth.AuthRoleViewModel>()
                  .Name("authRoleGrid")
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {
                          model.Id(ev => ev.role_id);
                      })
                      .PageSize(1000)
                      .Sort(sort => sort.Add("role_name").Ascending())
                      .Read(read => read.Action("GetAuthRoleList", "Auth"))
                      .Create(cr => cr.Action("AuthRoleAdd", "Auth"))
                      .Update(upd => upd.Action("AuthRoleEdit", "Auth"))
                      .Destroy(ds => ds.Action("AuthRoleDel", "Auth"))
                          .Events(e => { e.RequestEnd("authRoleList.onAuthRoleGridRequestEnd"); e.Error("onGridError(\"#authRoleGrid\")"); })
                   )
                  .ToolBar(tb => { tb.Create().Text(" ").HtmlAttributes(new { @title = "Добавить роль" }); })
                  .Columns(columns =>
                  {
                      columns.Command(cmd =>
                      {
                          cmd.Edit().Text(" ").CancelText(" ").UpdateText(" ").HtmlAttributes(new { @title = "Изменить роль" });
                          cmd.Destroy().Text(" ").HtmlAttributes(new { @title = "Удалить роль" });
                      })
                      .Width(50);
                      columns.Bound(item => item.role_name)
                          .ClientTemplate("<a href='/AuthRolePermEdit?role_id=#=role_id#' title='Полномочия роли'>#=role_name#</a>")
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(250)
                          ;
                      columns.Bound(item => item.is_group1)
                            .ClientTemplate("<input type='checkbox' value='#=is_group1#' disabled='disabled' " +
                                "# if (is_group1) { #" +
                                "checked='checked'" +
                                "# } #" +
                                "/>")   
                          .Filterable(ftb => ftb.Enabled(false))
                          .Width(50)
                          ;
                      columns.Bound(item => item.is_group2)
                            .ClientTemplate("<input type='checkbox' value='#=is_group2#' disabled='disabled' " +
                                "# if (is_group2) { #" +
                                "checked='checked'" +
                                "# } #" +
                                "/>")                           
                          .Filterable(ftb => ftb.Enabled(false))
                          .Width(50)
                          ;
                  })
                  .Editable(ed => ed.Mode(GridEditMode.InLine))
                  .Pageable(page => { page.PageSizes(false); page.ButtonCount(0); page.Info(false); page.Input(false); page.Numeric(false); page.PreviousNext(false); page.Refresh(true); })
                  .Sortable()
                  .Resizable(resize => resize.Columns(true))
                  .Scrollable(scr => scr.Height("auto"))
                  .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                        .Events(ev => { ev.DataBound("authRoleList.onAuthRoleGridDataBound"); })
)

<script>
    var request_add = '@add';
</script>

        