﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util
@{
    ViewBag.Title = "Список клиентов";    
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<CabinetMvc.ViewModel.Cabinet.ServiceViewModel> serviceList = ViewBag.ServiceList;
    IEnumerable<CabinetMvc.ViewModel.Sys.CabGridColumnUserSettingsViewModel> clientGridColumnSettings = ViewBag.ClientGridColumnSettings;
    string clientGridColumnWidths = ViewBag.ClientGridColumnWidths;    
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/cabinet", "client-list-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("client", "Клиенты"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Клиенты", "ClientList", "Cabinet") - @Html.ActionLink("Список клиентов", "ClientList", "Cabinet")
    </div>
}

<style>
    #clientListGrid td
    {
        /* this makes the menu visibile */
        overflow: visible;
    }
    .k-widget .templateCell
    {
        overflow: visible;
    }

    #clientListGrid {
        margin-top: 15px;
    }
</style>

@helper ToolbarTemplate()
{    
    <div class="pull-left">
        <button type="button" id="btnClientAdd" class="k-button k-button-icontext"><span class="k-icon k-i-plus"></span>Добавить клиента</button>
    </div>
    <div class="pull-right">
        <button type="button" id="btnGridConfig" class="k-button" title="Настройка списка" alt="Настройка"><span class="k-icon k-i-pencil"></span></button>        
    </div>
}

<script type="text/x-kendo-template" id="toolbarTemplate">
    @Html.Raw(@ToolbarTemplate().ToHtmlString().Replace("#", "\\#").Replace("</scr", "<\\/scr"))
</script>

@(Html.Kendo().Sortable()
    .For("#clientGridColumnSettingsGrid")
    .Filter("table > tbody > tr")
    .Cursor("pointer")
    .HintHandler("noHint")
    .PlaceholderHandler("clientList.placeholder")
    .ContainerSelector("#clientGridColumnSettingsGrid tbody")
    .Events(events => events.Change("clientList.onSortChange"))
)

@(Html.Kendo().Window()
            .Name("winClientGridConfig")
            .Title("Настройка списка")
            .Content(@<text>
                @(Html.Kendo().Grid(clientGridColumnSettings)
                      .Name("clientGridColumnSettingsGrid")
                      .DataSource(dataSource => dataSource
                          .Ajax()
                          .PageSize(22)
                          .ServerOperation(false)
                       )
                      .Columns(columns =>
                      {
                          columns.Bound(p => p.column_name_rus)
                              .HeaderHtmlAttributes(new { style = "display: none;" });
                          columns.Bound(p => p.is_visible)
                              .HeaderHtmlAttributes(new { style = "display: none;" })
                              .ClientTemplate(
                                "<input type='checkbox' value= '#=is_visible#' class='chkbx1' onclick='clientList.onClientGridColumnSettingsGridClick(this)' " +
                                    "# if (is_visible) { #" +
                                        "checked='checked'" +
                                    "# } #" +
                                "/>")
                                ;
                      })
                )
                @(Html.Kendo().Button().Name("btnClientGridConfigOk").Content("OK"))
                @(Html.Kendo().Button().Name("btnClientGridConfigCancel").Content("Отмена"))
            </text>)
                                .Draggable()
                                .Resizable()
                                .Width(500)
                                .Height(800)
                                .Visible(false)
                                .Modal(true)
                                .Actions(actions => actions.Close())
)

<script type="text/x-kendo-template" id="toolbarTemplate">
    @Html.Raw(@ToolbarTemplate().ToHtmlString().Replace("#", "\\#").Replace("</scr", "<\\/scr"))
</script>

<div class="hidden" id="reg-list-div" style="margin-bottom: 70px;">
    <div class="row">
        <div class="col-md-12">
            @(Html.Label("Новые заявки на активацию:", htmlAttributes: new { @class = "control-label", @style = "margin-bottom: 15px,"}))
@(Html.Kendo().Grid<CabinetMvc.ViewModel.User.RegViewModel>()
                                .Name("regListGrid")
                                .DataSource(dataSource => dataSource
                                .Ajax()
                                .Model(model =>
                                {
                                    model.Id(id => id.reg_id);
                                })
                                 .PageSize(5)
                                 .Sort(sort => sort.Add("reg_id").Descending())
                                 .Read(read => read.Action("GetRegActiveList", "Cabinet"))
                                )
                                .Columns(columns =>
                                {
                                    columns.Bound(item => item.org_name)
                                        .ClientTemplate("<a href='/RegEdit?reg_id=#=reg_id#'>#=org_name#</a>")
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))                                        
                                        .Width(150)                                        
                                        ;
                                    columns.Bound(item => item.crt_date)
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                                        .Format("{0:dd.MM.yyyy HH:mm:ss}")
                                        .Width(100)
                                        ;                                    
                                    columns.Bound(item => item.fio)                                        
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                        .Width(100)
                                        ;
                                    columns.Bound(item => item.email)
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                        .Width(100)
                                        ;
                                    columns.Bound(item => item.phone)
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                        .Width(100)
                                        ;
                                    columns.Bound(item => item.login)
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                        .Width(100)
                                        ;                                                                                                                                           
                                })
                                 .Pageable(page => { page.PageSizes(new int[] { 5, 10, 50, 100 }); page.Refresh(true); })
                                 .Resizable(resize => resize.Columns(true))
                                 .Sortable()
                                 .Scrollable(scr => scr.Height("auto")) 
                                 .Filterable(ftb => { ftb.Mode(GridFilterMode.Row); })
                                 .Events(ev => ev.DataBound("clientList.onRegListGridDataBound"))
)
        </div>
    </div>
</div>

<div class="form-inline k-block">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @(Html.Label("Наименование клиента:", htmlAttributes: new { @class = "control-label" }))
                @(Html.Kendo().TextBox().Name("edClientName").HtmlAttributes(new { @class = "ed-search", @style = "width: 350px;", }))
                @(Html.Kendo().CheckBox().Name("chbJur").Checked(true).Label("Юр. лица"))
                @(Html.Kendo().CheckBox().Name("chbPh").Checked(false).Label("Физ. лица"))
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @(Html.Label("Железный ключ:", htmlAttributes: new { @class = "control-label" }))
                @(Html.Kendo().TextBox().Name("edWorkplaceKey").HtmlAttributes(new { @class = "ed-search", @style = "width: 200px;", }))
                @(Html.Label("Рег ключ:", htmlAttributes: new { @class = "control-label" }))
                @(Html.Kendo().TextBox().Name("edRegKey").HtmlAttributes(new { @class = "ed-search", @style = "width: 200px;", }))                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @(Html.Label("Услуга:", htmlAttributes: new { @class = "control-label" }))
                @(Html.Kendo().DropDownList()
                .Name("serviceList")
                .HtmlAttributes(new { @class = "form-control input-sm", @style = "width: 350px;" })
                .DataValueField("id")
                .DataTextField("name")                
                .BindTo(serviceList.OrderBy(ss => ss.id))
                .OptionLabel(" ")
                )
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group pull-right">
                <button type="button" class="btn-sm btn-primary" id="btnFilter">Найти</button>
            </div>
        </div>
    </div>
</div>

@(Html.Kendo().Grid<CabinetMvc.ViewModel.Cabinet.ClientViewModel>()
                                .Name("clientListGrid")
                                .DataSource(dataSource => dataSource
                                .Ajax()
                                .Model(model =>
                                {
                                    model.Id(id => id.id);
                                })
                                 .PageSize(100)
                                 .Sort(sort => sort.Add("id").Descending())
                                 .Read(read => read.Action("GetClientList", "Cabinet").Data("clientList.getClientListData"))
                                 .Filter(filter => filter.Add(s => s.is_phis_str).IsEqualTo("Нет"))
                                )
                                        .ToolBar(tb =>
                                        {                                            
                                            tb.Template(
                                                @<text>
                                                    @ToolbarTemplate()
                                                </text>
                                );
                                        })
                                .Columns(columns =>
                                {      
                                    HtmlExtensions.ColumnsForModel<CabinetMvc.ViewModel.Cabinet.ClientViewModel>(columns, clientGridColumnSettings, clientGridColumnWidths);
                                })
                                 .Pageable(page => page.PageSizes(new int[] { 10, 20, 50, 100 }))
                                 .Resizable(resize => resize.Columns(true))
                                 .Sortable()
                                 .Scrollable(scr => scr.Height("auto"))                                 
                                 .Filterable(ftb => { ftb.Mode(GridFilterMode.Row); })
                                 .ClientDetailTemplateId("templClientDetail")
                                 .Events(ev => { ev.DataBound("clientList.onGridDataBound"); })
)
<script id="activate-confirmation" type="text/x-kendo-template">
    <div class="panel-success" style="padding-left: 35px; padding-top: 20px;">
        <button class="op-confirm k-button" style="width: 130px;"> Активировать </button>
        <button class="op-cancel k-button" style="width: 130px;"> Отмена </button>
    </div>
</script>
<script id="disactivate-confirmation" type="text/x-kendo-template">
    <div class="panel-success" style="padding-left: 35px; padding-top: 20px;">
        <button class="op-confirm k-button" style="width: 130px;"> Деактивировать </button>
        <button class="op-cancel k-button" style="width: 130px;"> Отмена </button>
    </div>
</script>
<script id="templClientDetail" type="text/kendo-tmpl">
    @(Html.Kendo().TabStrip()
              .Name("tabClientDetail_#=id#")
              .Items(tabstrip =>
              {
                  tabstrip.Add().Text("Услуги")
                      .Selected(true)
                      .Content(@<text>
                        @(Html.Kendo().Grid<CabinetMvc.ViewModel.Cabinet.ClientServiceViewModel>()
                        .Name("grid1_#=id#")
                        .Columns(columns =>
                        {
                            columns.Bound(ss => ss.service_name)
                                .ClientFooterTemplate(Html.ActionLink("перейти к услугам", "ClientEdit", "Cabinet", new { @client_id = "#=id#", @active_page = "1" }, null).ToString())
                                .Width(100);
                            columns.Bound(ss => ss.service_description).Width(100);
                            columns.Bound(ss => ss.ServiceCnt).Width(100);
                        })
                        .DataSource(dataSource => dataSource
                            .Ajax()
                              .Model(model =>
                              {
                                  model.Id(id => id.service_id);
                              })
                            .Read(read => read.Action("GetClientServiceList", "Cabinet", new { client_id = "#=id#" }))
                            .Sort(s => s.Add("service_name"))
                        )
                        .Pageable(p => p.Enabled(false))
                        .Sortable()
                        .Scrollable(scr => scr.Height("auto"))
                        .Resizable(resize => resize.Columns(true))
                        .HtmlAttributes(new {@style = "width: 70% !important;" })
                        .Events(ev => ev.DataBound("clientList.onClientDetailGridDataBound"))                                                
                        .ToClientTemplate()
                        )
                    </text>);
              })
            .ToClientTemplate()
    )

</script>
<script>
    var url_ClientList = '@Url.Action("ClientList", "Cabinet", new { })';
</script>