﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util

@model CabinetMvc.ViewModel.Cabinet.DeliveryViewModel

@{
    ViewBag.Title = "Детализация рассылки";    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/cabinet", "delivery-detail-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("delivery", "Рассылка"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Клиенты", "ClientList", "Cabinet") - @Html.ActionLink("Рассылка", "DeliveryList", "Cabinet") - @Html.ActionLink("Детализация рассылки " + Model.delivery_id.ToString(), "DeliveryDetail", "Cabinet", new { delivery_id = Model.delivery_id, })
    </div>
}

<div class="row">
    <div class="col-md-12">
        @(Html.Kendo().Grid<CabinetMvc.ViewModel.Cabinet.DeliveryDetailViewModel>()
                                            .Name("deliveryDetailGrid")
                                            .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .Model(model =>
                                            {
                                                model.Id(id => id.detail_id);
                                            })
                                             .PageSize(100)
                                             .Sort(so => { so.Add("client_name"); })
                                     .Read(read => read.Action("GetDeliveryDetailList", "Cabinet", new { @delivery_id = @Model.delivery_id }))
                                            )
                    .Columns(columns =>
                    {
                        columns.Bound(ss => ss.client_name)
                            .ClientTemplate("<a href='/ClientEdit?client_id=#=client_id#' title='Перейти в карточку клиента'>#=client_name#</a>")
                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                        .Width(220)
                        ;
                        columns.Bound(ss => ss.address)
                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                        .Width(150)
                        ;
                        columns.Bound(ss => ss.state_name)
                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                        .Width(100)
                        ;
                        columns.Bound(ss => ss.state_date)
                            .Format("{0:dd.MM.yyyy HH:mm:ss}")
                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                        .Width(180)
                        ;
                        columns.Bound(ss => ss.mess)
                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                        .Width(180)
                        ;
                    })
                    .Pageable(page => { page.PageSizes(new int[] { 10, 100, 500, 1000 }); page.ButtonCount(5); })
                    .Resizable(resize => resize.Columns(true))
                    .Sortable(s => s.SortMode(GridSortMode.MultipleColumn))
                    .Scrollable(scr => scr.Height("auto"))
                    .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
        )
    </div>
</div>

<script>
</script>
