﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util

@model CabinetMvc.ViewModel.Cabinet.DeliveryTemplateViewModel

@{
    ViewBag.Title = "Шаблон рассылки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/cabinet", "delivery-template-edit-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("delivery", "Рассылка"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Клиенты", "ClientList", "Cabinet") - @Html.ActionLink("Рассылка", "DeliveryList", "Cabinet") - @Html.ActionLink("Шаблоны рассылки", "DeliveryTemplateList", "Cabinet") - @Html.ActionLink("Шаблон рассылки " + Model.template_name ?? Model.template_name, "DeliveryTemplateEdit", "Cabinet", new { @template_id = Model.template_id }, null)
    </div>
}

<style>
    .k-button.k-upload-selected {
        display: none;
    }
</style>

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.template_id)
    @Html.HiddenFor(x => x.group_id)
    @Html.HiddenFor(x => x.Group_Selected)
    @Html.HiddenFor(x => x.Group_Changed)

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    if (!String.IsNullOrEmpty((string)@ViewBag.Message))
    {
        <div class="k-block k-success-colored">
            <strong>@ViewBag.Message</strong>
            <br />
            <br />
        </div>
        <br />
        <hr />
    }

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Группа шаблонов:", htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().ComboBox()
                                      .Name("templateGroupList")
                                      .HtmlAttributes(new { @class = "input-sm", @id = "templateGroupList" })
                                      .DataTextField("group_name")
                                      .DataValueField("group_id")
                                      .DataSource(source =>
                                      {
                                          source.Read(read =>
                                          {
                                              read.Action("GetDeliveryTemplateGroupList", "Cabinet");
                                          });
                                      })
                                    .AutoBind(true)
                                    .Suggest(true)
                                    .Value(ViewData["defTemplate"] == null ? "" : ViewData["defTemplate"].ToString())
                )
                @Html.ValidationMessageFor(model => model.group_id, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Название шаблона:", htmlAttributes: new { @class = "control-label" })
                @Html.Kendo().TextBoxFor(model => model.template_name).HtmlAttributes(new { @class = "form-control", })
                @Html.ValidationMessageFor(model => model.template_name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Тема шаблона:", htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaAutoSizeFor(model => model.subject, new { @class = "form-control", })
                @Html.ValidationMessageFor(model => model.subject, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Текст шаблона:", htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaAutoSizeFor(model => model.body, new { @class = "form-control", })
                @Html.ValidationMessageFor(model => model.body, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @(Html.Label("Файлы:", htmlAttributes: new { @class = "control-label" }))
                @(Html.Kendo().Upload()
                                .Name("uplDeliveryTemplateFile")
                                .Async(s =>
                                {
                                    s.Save("DeliveryTemplateFileSave", "Cabinet");
                                    s.Remove("DeliveryTemplateFileRemove", "Cabinet");
                                    s.AutoUpload(false);
                                })
                                .ShowFileList(true)
                                .Multiple(true)
                                .Messages(mess =>
                                {
                                    mess.Select("Файл...");
                                    mess.StatusUploaded("Готово");
                                    mess.StatusUploading("Загрузка...");
                                    mess.StatusFailed("Ошибка");
                                    mess.Cancel("Отмена");
                                    mess.HeaderStatusUploaded("Готово");
                                    mess.HeaderStatusUploading("Загрузка...");
                                })
                                .Files(f =>
                                {
                                    if (Model.files != null)
                                    {
                                        foreach (var file in Model.files)
                                        {
                                            f.Add().Name(file.file_name).Size(file.file_size).Extension(file.file_ext);
                                        }
                                    }
                                })
                                .Events(ev =>
                                {
                                    ev.Complete("deliveryTemplateEdit.onUplDeliveryTemplateFileComplete");
                                    ev.Upload("deliveryTemplateEdit.onUplDeliveryTemplateFileUpload");
                                    ev.Error("deliveryTemplateEdit.onUplDeliveryTemplateFileError");
                                    ev.Remove("deliveryTemplateEdit.onUplDeliveryTemplateFileRemove");
                                })
                )
            </div>
            <div class="form-group">
                <input type="button" value="Сохранить" class="btn btn-primary" id="btnSubmit" />
                <input type="submit" value="save" class="btn" id="btnSubmitProceed" style="visibility:hidden;" />
            </div>
        </div>
    </div>
}

<script id="save-changes-confirmation" type="text/x-kendo-template">
    <div class="panel-success" style="padding-left: 110px; padding-top: 20px;">
        <button class="confirm k-button" style="width: 60px;"> Да </button>
        <button class="cancel k-button" style="width: 60px;"> Нет </button>
    </div>
</script>

<script>
</script>