﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util

@{
    ViewBag.Title = "Заказанные услуги";    
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? parent_client_id = ViewBag.ParentClientId;
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/cabinet", "order-list-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("client", "Клиенты"))
}

@section menuPath {
<div class="cab-menu-path">
    @Html.ActionLink("Клиенты", "ClientList", "Cabinet") - @Html.ActionLink("Заявки", "OrderList", "Cabinet") - @Html.ActionLink("Заказанные услуги", "OrderList", "Cabinet")
</div>
}

@(Html.Kendo().Grid<CabinetMvc.ViewModel.Cabinet.OrderViewModel>()
                                .Name("orderListGrid")
                                .DataSource(dataSource => dataSource
                                .Ajax()
                                .Model(model =>
                                {
                                    model.Id(id => id.id);
                                })
                                 .PageSize(100)
                                 .Sort(sort => sort.Add("id").Descending())
                                 .Read(read => read.Action("GetOrderListFull", "Cabinet", new { client_id = parent_client_id }))
                                )
                                .Columns(columns =>
                                {
                                    columns.Bound(item => item.order_name)
                                        .ClientTemplate("<a href='/OrderEdit?order_id=#=id#'>#=order_name#</a>")
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                        .Width(220)
                                        ;
                                    columns.Bound(item => item.client_name)
                                        .ClientTemplate("<a href='/ClientEdit?client_id=#=client_id#'>#=client_name#</a>")
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                        .Width(160)
                                        ;
                                    columns.Bound(item => item.created_on)
                                        .Format("{0:dd.MM.yyyy}")
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                                        .Width(160)
                                        ;
                                    columns.Bound(item => item.commentary)
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                        .Width(100)
                                        ;
                                    columns.Bound(item => item.is_conformed_str)
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                        .Width(120)
                                        ;                                    
                                    columns.Bound(item => item.active_status_str)
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                        .Width(120)
                                        ;
                                    columns.Bound(item => item.updated_by)
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                        .Width(120)
                                        ;
                                })
                                 .Pageable(page => { page.PageSizes(new int[] { 10, 20, 50, 100 }); page.Refresh(true); })
                                 .Resizable(resize => resize.Columns(true))
                                 .Sortable()
                                 .Scrollable(scr => scr.Height("auto"))
                                 .Filterable(ftb => { ftb.Mode(GridFilterMode.Row); })
                                 .ClientDetailTemplateId("templOrderItemList")
)
<script id="templOrderItemList" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<CabinetMvc.ViewModel.Cabinet.OrderItemViewModel>()
                .Name("grid1_#=id#")
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(id => id.id);
                    })
                    .PageSize(10)
                    .Sort(sort => sort.Add("service_name").Ascending())
                    .Read(read => read.Action("GetOrderItemList", "Cabinet", new { order_id = "#=id#" }))
                    )
                .Columns(columns =>
                    {
                        columns.Bound(item => item.service_name);
                        columns.Bound(item => item.version_name);
                        columns.Bound(item => item.quantity);
                    })
                 .Pageable(page => page.PageSizes(new int[] { 10, 20, 50, 100 }))
                 .Resizable(resize => resize.Columns(true))
                 .Sortable()
                 .Scrollable(scr => scr.Height("auto"))
                 .Filterable(ftb => ftb.Enabled(false))
                 .ToClientTemplate())
</script>
<script>
</script>