﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util

@model CabinetMvc.ViewModel.Cabinet.OrderViewModel

@{
    ViewBag.Title = "Оформление заявки";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<CabinetMvc.ViewModel.Cabinet.ServiceKitViewModel> serviceKitList = ViewBag.ServiceKitList;
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/cabinet", "order-add-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("client", "Клиенты"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Клиенты", "ClientList", "Cabinet") - @Html.ActionLink("Список клиентов", "ClientList", "Cabinet") - @Html.ActionLink("Карточка клиента " + @Model.client_name, "ClientEdit", "Cabinet", new { @client_id = @Model.client_id }, null) - @Html.ActionLink("Оформление заявки", "OrderAdd", "Cabinet")
    </div>
}

<style>
    .k-overflow-anchor {
        visibility:collapse !important;
    }
</style>

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.client_id)

    @Html.AntiForgeryToken()

    if (!String.IsNullOrEmpty((string)@ViewBag.Message))
    {
        <div class="k-block k-success-colored">
            <strong>@ViewBag.Message</strong>
            <br />
            <br />
        </div>
        <br />
        <hr />
    }

    <div>
        @(Html.Label("Доступные наборы услуг:", new { @class = "control-label" }))
    </div>
    <div style="margin-bottom: 15px;">
        <span>
            @(Html.Kendo().DropDownList().Name("ddlServiceKit").BindTo(serviceKitList)
            .DataTextField("service_kit_name")
            .DataValueField("service_kit_id")
            .OptionLabel("выберите набор")
        .Events(ev => { ev.Change("orderAdd.onDdlServiceKitChange"); })
            )
            @(Html.Kendo().ToolBar()
    .Name("serviceKitToolBar")    
    .Items(items =>
    {
        items.Add().Type(CommandType.Button).Text("").Id("btnServiceKitEdit")
            .Icon("pencil")
            .HtmlAttributes(new { @type = "button", @title = "Корректировать набор услуг", @style = "height: 28px; vertical-align: top;"})
            .Click("orderAdd.onBtnServiceKitEditClick");
        ;
        items.Add().Type(CommandType.Button).Text("").Id("btnServiceKitEdit")
            .Icon("plus")
            .HtmlAttributes(new { @type = "button", @title = "Добавить новый набор услуг", @style = "height: 28px; vertical-align: top;"})
            .Click("orderAdd.onBtnServiceKitAddClick");
        ;
        items.Add().Type(CommandType.Button).Text("").Id("btnServiceKitEdit")
            .Icon("close")
            .HtmlAttributes(new { @type = "button", @title = "Удалить набор услуг", @style = "height: 28px; vertical-align: top;"})
            .Click("orderAdd.onBtnServiceKitDelClick")
        ;                    
    })
    .HtmlAttributes(new { @style = "display: inline-block !important; height: 20px; padding-left: 0;" })
            )
            <span class='hidden' id='ddl-wait'><img src='@Url.Content("Images/ajax-loader.gif")' height='22' width='22'></span>
        </span>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @(Html.Kendo().Grid<CabinetMvc.ViewModel.Cabinet.ServiceViewModel>(@Model.ServiceList)
                                .Name("orderItemListGrid")
                                .DataSource(dataSource => dataSource
                                .Ajax()
                                .Model(model =>
                                {
                                    model.Id(m => m.id);
                                    model.Field(s => s.name).Editable(false);
                                    model.Field(s => s.description).Editable(false);
                                    model.Field(s => s.OrderedVersionId_ReadOnly).Editable(false);
                                })
                                .Group(groups =>
                                {
                                    groups.Add(p => p.group_name);
                                })
                                .Sort(sort => { sort.Add("group_id").Ascending(); sort.Add("priority").Ascending(); })
                                .ServerOperation(false)
                                )
                                .Editable(editable => editable.Mode(GridEditMode.InCell))
                                .Columns(columns =>
                                {
                                    columns.Bound(ss => ss.group_name).Hidden(true);
                                    columns.Bound(ss => ss.id).Visible(false);
                                    columns.Bound(ss => ss.name);
                                    columns.Bound(ss => ss.description);
                                    columns.Bound(ss => ss.OrderedVersionId_ReadOnly)
                                        .HtmlAttributes(new { @class = "versionListCell" })
                                       .ClientTemplate(
                                           @Html.Kendo().DropDownList()
                                            .Name("versionList_#=id#")
                                            .HtmlAttributes(new { @class = "input-sm", @style = "width:90%" })
                                            .DataValueField("id")
                                            .DataTextField("name")
                                            .BindTo((IEnumerable<CabinetMvc.ViewModel.Cabinet.VersionViewModel>)ViewData["versionList"])
                                        //.AutoBind(false)
                                            .Value("#=OrderedVersionId#")
                                            .OptionLabel("Максимальная версия")
                                            .Events(ev => { ev.Open("orderAdd.versionListOpen"); ev.Change("orderAdd.versionListChanged"); })
                                            .ToClientTemplate()
                                            .ToHtmlString()
                                            );
                                    columns.Bound(ss => ss.OrderedLicenseCount)
                                        .HtmlAttributes(new { @class = "orderedLicenseCell" })
                                        .Width(100);
                                })
                 .Pageable(p => p.Enabled(false))
                 .Resizable(resize => resize.Columns(true))
                 .Scrollable(s => s.Enabled(false))
                 .Filterable(f => f.Enabled(false))
                 .Groupable(gr => gr.Enabled(false))
                 .Sortable(sr => sr.Enabled(true))
                .Events(ev => { ev.DataBound("orderAdd.initVersionList"); ev.Edit("orderAdd.onOrderItemListGridEdit"); })
                )
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                @Html.Label("Комментарий:", htmlAttributes: new { @class = "control-label" })
                @(Html.TextAreaFor(model => model.commentary, new { @class = "form-control", }))
                @(Html.ValidationMessageFor(model => model.commentary, "", new { @class = "text-danger" }))
            </div>
            <div class="form-group">
                @Html.Label("Комментарий менеджера:", htmlAttributes: new { @class = "control-label" })
                @(Html.TextAreaFor(model => model.commentary_manager, new { @class = "form-control", }))
                @(Html.ValidationMessageFor(model => model.commentary_manager, "", new { @class = "text-danger" }))
            </div>
            <div class="form-group">
                <input type="button" value="Оформить" class="btn btn-primary" id="btnSubmit" />
                <input type="button" value="Оформить и активировать" class="btn btn-success" id="btnSubmit2" />
                <input type="submit" value="save" class="btn" id="btnSubmitProceed" style="visibility:hidden;" />
            </div>
        </div>
    </div>
}
@(Html.Kendo().Notification()
    .Name("popupNotification")
    .Position(p => p.Pinned(true).Top(90).Right(200))
    .Stacking(NotificationStackingSettings.Down)
)
<script id="save-changes-confirmation" type="text/x-kendo-template">
    <div class="panel-success" style="padding-left: 110px; padding-top: 20px;">
        <button class="confirm k-button" style="width: 60px;"> Да </button>
        <button class="cancel k-button" style="width: 60px;"> Нет </button>
    </div>
</script>
<script>
    var model_client_id = @Model.client_id;
    var url_ServiceKitAdd = '@Html.Raw(Url.Action("ServiceKitEdit", "Cabinet", new { @service_kit_id = 0, @client_id = Model.client_id }))';
    var url_ServiceKitEdit = '@Url.Action("ServiceKitEdit", "Cabinet")';
</script>
