﻿@using CabinetMvc.Util
@using CabinetMvc.Extensions

@model CabinetMvc.ViewModel.User.RegViewModel

@{
    ViewBag.Title = "Заявка на активацию";    
    Layout = "~/Views/Shared/_Layout.cshtml";    
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/cabinet", "reg-edit-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("client", "Клиенты"))
}

@section menuPath {
<div class="cab-menu-path">
    @Html.ActionLink("Клиенты", "ClientList", "Cabinet") - @Html.ActionLink("Заявки на активацию", "RegList", "Cabinet") - @Html.ActionLink("Заявка на активацию " + @Model.reg_id.ToString(), "RegEdit", "Cabinet", new { @reg_id = @Model.reg_id }, null)
</div>
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.reg_id)
    @Html.HiddenFor(x => x.state)
    @Html.HiddenFor(x => x.pwd)

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                @Html.Label("Название организации:", htmlAttributes: new { @class = "control-label" })
                @Html.Kendo().TextBoxFor(model => model.org_name).HtmlAttributes(new { @class = "form-control", @id = "org_name", @readonly = "readonly", })
            </div>
            <div class="form-group">
                @Html.Label("ФИО:", htmlAttributes: new { @class = "control-label" })
                @Html.Kendo().TextBoxFor(model => model.fio).HtmlAttributes(new { @class = "form-control", @id = "fio", @readonly = "readonly", })
            </div>
            <div class="form-group">
                @Html.Label("Электронная почта:", htmlAttributes: new { @class = "control-label" })
                @Html.Kendo().TextBoxFor(model => model.email).HtmlAttributes(new { @class = "form-control", @id = "email", @readonly = "readonly", })
            </div>
            <div class="form-group">
                @Html.Label("Адрес организации:", htmlAttributes: new { @class = "control-label" })
                @Html.Kendo().TextBoxFor(model => model.org_address).HtmlAttributes(new { @class = "form-control", @id = "org_address", @readonly = "readonly", })                
            </div>
            <div class="form-group">
                @Html.Label("Телефон:", htmlAttributes: new { @class = "control-label" })
                @Html.Kendo().MaskedTextBoxFor(model => model.phone).Mask("00000000000").HtmlAttributes(new { @class = "form-control", @id = "phone", @readonly = "readonly", })
            </div>
            <div class="form-group">
                @Html.Label("Логин:", htmlAttributes: new { @class = "control-label" })
                @Html.Kendo().TextBoxFor(model => model.login).HtmlAttributes(new { @class = "form-control", @id = "login", })
                @Html.ValidationMessageFor(model => model.login, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Пароль:", htmlAttributes: new { @class = "control-label" })                                                
                <input type="text" value="" id="input-pwd" class="k-textbox form-control" disabled="disabled" />                
                <button type="button" id="btnGenPwd" class="k-button k-button-icontext pull-right" title="Поменять" style="margin-top:8px;"><span class="k-icon k-i-refresh"></span></button>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-6">
            <div class="form-group">
                @if (Model.state == 0)
                { 
                <input type="button" value="Активировать" class="btn btn-primary" id="btnSubmit" />
                <input type="button" value="Отклонить" class="btn btn-danger" id="btnReject" />
                <input type="submit" value="save" class="btn hidden" id="btnSubmitProceed" />
                }
                else
                {
                    <p>Заявка уже @Model.state_name.ToLower()</p>
                }
            </div>
        </div>
    </div>

}

<script id="save-changes-confirmation" type="text/x-kendo-template">
    <div class="panel-success" style="padding-left: 110px; padding-top: 20px;">
        <button class="confirm k-button" style="width: 60px;"> Да </button>
        <button class="cancel k-button" style="width: 60px;"> Нет </button>
    </div>
</script>
<script>
</script>
