﻿@using CabinetMvc.Util
@using CabinetMvc.Extensions
@{
    ViewBag.Title = "Заявки на активацию";    
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<CabinetMvc.ViewModel.Cabinet.ServiceViewModel> serviceList = ViewBag.ServiceList;
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/cabinet", "reg-list-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel())
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Клиенты", "ClientList", "Cabinet") - @Html.ActionLink("Заявки на активацию", "RegList", "Cabinet")
    </div>
}

<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-default btn-scope" id="btn-scope-all">Все</button>
        <button type="button" class="btn btn-default btn-primary btn-scope" id="btn-scope-active">Активные</button>
        <button type="button" class="btn btn-default btn-scope" id="btn-scope-accepted">Одобренные</button>
        <button type="button" class="btn btn-default btn-scope" id="btn-scope-rejected">Отклоненные</button>
    </div>
</div>

@(Html.Kendo().Grid<CabinetMvc.ViewModel.User.RegViewModel>()
                                .Name("regListGrid")
                                .DataSource(dataSource => dataSource
                                .Ajax()
                                .Model(model =>
                                {
                                    model.Id(id => id.reg_id);
                                })
                                 .PageSize(10)
                                 .Sort(sort => sort.Add("reg_id").Descending())
                                 .Read(read => read.Action("GetRegList", "Cabinet").Data("regList.getScope"))
                                )
                                .Columns(columns =>
                                {
                                    columns.Bound(item => item.org_name)
                                        .ClientTemplate("#if (state == 0) {#" + "<a href='/RegEdit?reg_id=#=reg_id#'>#=org_name#</a>"
                                        + "#} else {#" + "#=org_name#" + "#}#"
                                        )
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                        .Width(150)
                                        ;
                                    columns.Bound(item => item.state)
                                        .ClientTemplate("#=state_name#")
                                        .Filterable(ftb => ftb.Enabled(false))
                                        .Width(150)
                                        ;                                    
                                    columns.Bound(item => item.crt_date)
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                                        .Format("{0:dd.MM.yyyy HH:mm:ss}")
                                        .Width(100)
                                        ;
                                    columns.Bound(item => item.fio)
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                        .Width(100)
                                        ;
                                    columns.Bound(item => item.email)
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                        .Width(100)
                                        ;
                                    columns.Bound(item => item.phone)
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                        .Width(100)
                                        ;
                                    columns.Bound(item => item.login)
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                        .Width(100)
                                        ;
                                    columns.Bound(item => item.upd_user)
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                        .Width(100)
                                        ;
                                    columns.Bound(item => item.upd_date)
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                                        .Format("{0:dd.MM.yyyy HH:mm:ss}")
                                        .Width(100)
                                        ;                                                                   
                                })
                                 .Pageable(page => { page.PageSizes(new int[] { 10, 50, 100, 500 }); page.Refresh(true); })
                                 .Resizable(resize => resize.Columns(true))
                                 .Sortable()
                                 .Scrollable(scr => scr.Height("auto"))
                                 .Filterable(ftb => { ftb.Mode(GridFilterMode.Row); })
                                 .Events(ev => ev.DataBound("regList.onRegListGridDataBound"))
)

<script>
</script>