﻿@using CabinetMvc.Util
@using CabinetMvc.Extensions
@model CabinetMvc.ViewModel.Cabinet.SalesViewModel

@{
    ViewBag.Title = "Добавление торговой точки";   
    Layout = "~/Views/Shared/_Layout.cshtml";
    CabinetMvc.ViewModel.Cabinet.ClientViewModel currClient = ViewBag.CurrClient;
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/cabinet", "sales-add-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("client", "Клиенты"))
}

@section menuPath {
<div class="cab-menu-path">
    @Html.ActionLink("Клиенты", "ClientList", "Cabinet") - @Html.ActionLink("Список клиентов", "ClientList", "Cabinet") - @Html.ActionLink("Карточка клиента " + @Model.client_id.ToString(), "ClientEdit", "Cabinet", new { @client_id = @Model.client_id }, null) - @Html.ActionLink("Добавление торговой точки", "SalesAdd", "Cabinet")
</div>
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.client_id)
    @Html.HiddenFor(x => x.city_id)
    @Html.HiddenFor(x => x.region_zone_id)
    @Html.HiddenFor(x => x.tax_system_type_id)
    @Html.HiddenFor(x => x.RegionName_Selected)
    @Html.HiddenFor(x => x.CityName_Selected)
    @Html.HiddenFor(x => x.RegionName_Changed)
    @Html.HiddenFor(x => x.CityName_Changed)

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                @Html.Label("Регион:", htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().ComboBox()
                                      .Name("regionList")
                                      .HtmlAttributes(new { @class = "input-sm", @id = "regionList" })
                                      .DataTextField("name")
                                      .DataValueField("id")
                                      .DataSource(source =>
                                      {
                                          source.Read(read =>
                                          {
                                              read.Action("GetSprav_Region", "Cabinet");
                                          });
                                      })
                                    .AutoBind(true)
                                    .Suggest(true)
                                    .Value(currClient.region_id.ToString())
                                    .Events(ev => ev.Change("salesAdd.onRegionListChange"))
                )
                @Html.ValidationMessageFor(model => model.region_id, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Зона:", htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().DropDownList()
                                      .Name("regionZoneList")
                                      .HtmlAttributes(new { @class = "input-sm", @id = "regionZoneList" })
                                      .DataTextField("zone_name")
                                      .DataValueField("zone_id")
                                      .DataSource(source =>
                                      {
                                          source.Read(read =>
                                          {
                                              read.Action("GetSprav_RegionZone", "Cabinet").Data("salesAdd.filterRegion");
                                          })
                                          .ServerFiltering(true);
                                      })
                                    .AutoBind(true)
                                    .Value(currClient.region_zone_id.HasValue ? currClient.region_zone_id.ToString() : null)
                                    .OptionLabel("не указана")
                                    .CascadeFrom("regionList")
                )
                @Html.ValidationMessageFor(model => model.region_zone_id, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Город:", htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().ComboBox()
                                      .Name("cityList")
                                      .HtmlAttributes(new { @class = "input-sm", @id = "cityList" })
                                      .DataTextField("name")
                                      .DataValueField("id")
                                      .DataSource(source =>
                                      {
                                          source.Read(read =>
                                          {
                                              read.Action("GetSprav_City", "Cabinet").Data("salesAdd.filterRegion");
                                          })
                                          .ServerFiltering(true);
                                      })
                                    .AutoBind(true)
                                    .Suggest(true)
                                    .Value(currClient.city_id.ToString())
                                    .CascadeFrom("regionList")
                )
                @Html.ValidationMessageFor(model => model.city_id, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Система налогообложения:", htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().DropDownList()
                                      .Name("taxSystemList")
                              .HtmlAttributes(new { @class = "input-sm", @id = "taxSystemList" })
                                      .DataTextField("system_type_name")
                                        .DataValueField("system_type_id")
                                      .DataSource(source =>
                                      {
                                          source.Read(read =>
                                          {
                                              read.Action("GetSprav_TaxSystemType", "Cabinet");
                                          })
                                          .ServerFiltering(true);
                                      })
                                    .Value(currClient.tax_system_type_id.HasValue ? currClient.tax_system_type_id.ToString() : null)
                                    .AutoBind(true)
                                    .OptionLabel("не указана")
                )
                @Html.ValidationMessageFor(model => model.tax_system_type_id, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.Label("Адрес:", htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(model => model.adress, new { @class = "form-control", })
                @Html.ValidationMessageFor(model => model.adress, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Контактное лицо:", htmlAttributes: new { @class = "control-label" })
                @Html.Kendo().TextBoxFor(model => model.contact_person).HtmlAttributes(new { @class = "form-control", })
                @Html.ValidationMessageFor(model => model.contact_person, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Телефон:", htmlAttributes: new { @class = "control-label" })
                @Html.Kendo().MaskedTextBoxFor(model => model.cell).Mask("00000000000").HtmlAttributes(new { @class = "form-control", @id = "cell" })
                <span class="help-block">11 цифр начиная с 8</span>
                @Html.ValidationMessageFor(model => model.cell, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Электронная почта:", htmlAttributes: new { @class = "control-label" })
                @Html.Kendo().TextBoxFor(model => model.email).HtmlAttributes(new { @class = "form-control", @type = "email", @data_email_msg = "Неверно задана электронная почта" })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Код SMID:", htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().NumericTextBoxFor(model => model.sm_id).Name("sm_id").Min(0).Format("#")
                .HtmlAttributes(new { htmlAttributes = new { @type = "text", @class = "form-control input-sm", style = "display: inline !important;", } }))
                @Html.ValidationMessageFor(model => model.sm_id, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="button" value="Сохранить" class="btn btn-default k-button" id="btnSubmit" />
                <input type="submit" value="save" class="btn" id="btnSubmitProceed" style="visibility:hidden;" />
            </div>
        </div>
    </div>
}

<script>
</script>



