﻿@using CabinetMvc.Util
@using CabinetMvc.Extensions

@model CabinetMvc.ViewModel.Cabinet.SalesViewModel

@{
    ViewBag.Title = "Корректировка торговой точки";    
    Layout = "~/Views/Shared/_Layout.cshtml";
    CabinetMvc.ViewModel.Cabinet.ClientViewModel currClient = ViewBag.CurrClient;
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/cabinet", "sales-edit-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("client", "Клиенты"))
}

@section menuPath {
<div class="cab-menu-path">
    @Html.ActionLink("Клиенты", "ClientList", "Cabinet") - @Html.ActionLink("Список клиентов", "ClientList", "Cabinet") - @Html.ActionLink("Карточка клиента " + @Model.client_id.ToString(), "ClientEdit", "Cabinet", new { @client_id = @Model.client_id }, null) - @Html.ActionLink("Корректировка торговой точки " + @Model.adress.ToString(), "SalesEdit", "Cabinet", new { @sales_id = @Model.sales_id }, null)
</div>
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.sales_id)
    @Html.HiddenFor(x => x.client_id)
    @Html.HiddenFor(x => x.city_id)
    @Html.HiddenFor(x => x.region_zone_id)
    @Html.HiddenFor(x => x.tax_system_type_id)
    @Html.HiddenFor(x => x.RegionName_Selected)
    @Html.HiddenFor(x => x.CityName_Selected)
    @Html.HiddenFor(x => x.RegionName_Changed)
    @Html.HiddenFor(x => x.CityName_Changed)

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    if (!String.IsNullOrEmpty((string)@ViewBag.Message))
    {
        <div class="k-block k-success-colored">
            <strong>@ViewBag.Message</strong>
            <br />
            <br />
        </div>
        <br />
        <hr />
    }

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                @Html.Label("Регион:", htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().ComboBox()
                                      .Name("regionList")
                                      .HtmlAttributes(new { @class = "input-sm", @id = "regionList" })
                                      .DataTextField("name")
                                      .DataValueField("id")
                                      .DataSource(source =>
                                      {
                                          source.Read(read =>
                                          {
                                              read.Action("GetSprav_Region", "Cabinet");
                                          });
                                      })
                                              .Suggest(true)
                                            .Events(ev => ev.Change("salesEdit.onRegionListChange"))
                                    .AutoBind(true)
                                    .Value(@Model.region_id.ToString())
                )
            </div>
            <div class="form-group">
                @Html.Label("Зона:", htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().DropDownList()
                                      .Name("regionZoneList")
                                      .HtmlAttributes(new { @class = "input-sm", @id = "regionZoneList" })
                                      .DataTextField("zone_name")
                                      .DataValueField("zone_id")
                                      .DataSource(source =>
                                      {
                                          source.Read(read =>
                                          {
                                              read.Action("GetSprav_RegionZone", "Cabinet").Data("salesEdit.filterRegion");
                                          })
                                          .ServerFiltering(true);
                                      })
                                    .AutoBind(true)
                                    .Value(@Model.region_zone_id.HasValue ? @Model.region_zone_id.ToString() : null)
                                    .OptionLabel("не указана")
                                    .CascadeFrom("regionList")
                )
                @Html.ValidationMessageFor(model => model.region_zone_id, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Город:", htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().ComboBox()
                                      .Name("cityList")
                                      .HtmlAttributes(new { @class = "input-sm", @id = "cityList" })
                                      .DataTextField("name")
                                      .DataValueField("id")
                                      .DataSource(source =>
                                      {
                                          source.Read(read =>
                                          {
                                              read.Action("GetSprav_City", "Cabinet").Data("salesEdit.filterRegion");
                                          })
                                          .ServerFiltering(true);
                                      })
                                              .Suggest(true)                                    
                                    .AutoBind(true)
                                    .Value(@Model.city_id.ToString())
                                    .CascadeFrom("regionList")
                )
            </div>
            <div class="form-group">
                @Html.Label("Система налогообложения:", htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().DropDownList()
                                      .Name("taxSystemList")
                              .HtmlAttributes(new { @class = "input-sm", @id = "taxSystemList" })
                                      .DataTextField("system_type_name")
                                        .DataValueField("system_type_id")
                                      .DataSource(source =>
                                      {
                                          source.Read(read =>
                                          {
                                              read.Action("GetSprav_TaxSystemType", "Cabinet");
                                          })
                                          .ServerFiltering(true);
                                      })
                                    .AutoBind(true)
                    .Value(@Model.tax_system_type_id.HasValue ? @Model.tax_system_type_id.ToString() : null)
                                    .OptionLabel("не указана")
                )
                @Html.ValidationMessageFor(model => model.tax_system_type_id, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Адрес:", htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(model => model.adress, new { @class = "form-control", })
                @Html.ValidationMessageFor(model => model.adress, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Контактное лицо:", htmlAttributes: new { @class = "control-label" })
                @Html.Kendo().TextBoxFor(model => model.contact_person).HtmlAttributes(new { @class = "form-control", })
                @Html.ValidationMessageFor(model => model.contact_person, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Телефон:", htmlAttributes: new { @class = "control-label" })
                @Html.Kendo().MaskedTextBoxFor(model => model.cell).Mask("00000000000").HtmlAttributes(new { @class = "form-control", @id = "cell" })
                <span class="help-block">11 цифр начиная с 8</span>
                @Html.ValidationMessageFor(model => model.cell, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Электронная почта:", htmlAttributes: new { @class = "control-label" })
                @Html.Kendo().TextBoxFor(model => model.email).HtmlAttributes(new { @class = "form-control", @type = "email", @data_email_msg = "Неверно задана электронная почта" })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Код SMID:", htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().NumericTextBoxFor(model => model.sm_id).Name("sm_id").Min(0).Format("#")
                .HtmlAttributes(new { htmlAttributes = new { @type = "text", @class = "form-control input-sm", style = "display: inline !important;", } }))
                @Html.ValidationMessageFor(model => model.sm_id, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="button" value="Сохранить" class="btn btn-default k-button" id="btnSubmit" />
                <input type="button" value="Отменить изменения" class="btn k-button btn-revert-hidden" style="visibility:hidden;" id="btnRevert" />
                <input type="submit" value="save" class="btn" id="btnSubmitProceed" style="visibility:hidden;" />
            </div>
            </div>
    </div>
}

<script id="save-changes-confirmation" type="text/x-kendo-template">
    <div class="panel-success" style="padding-left: 110px; padding-top: 20px;">
        <button class="confirm k-button" style="width: 60px;"> Да </button>
        <button class="cancel k-button" style="width: 60px;"> Нет </button>
    </div>
</script>
<script>
</script>
