﻿@using CabinetMvc.Util
@using CabinetMvc.Extensions

@model CabinetMvc.ViewModel.Cabinet.ServiceCvaViewModel

@{
    ViewBag.Title = "Параметры услуги";    
    Layout = "~/Views/Shared/_Layout.cshtml";    
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/cabinet", "service-cva-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("client", "Клиенты"))
}

@section menuPath {
<div class="cab-menu-path">
    @Html.ActionLink("Клиенты", "ClientList", "Cabinet") - @Html.ActionLink("Список клиентов", "ClientList", "Cabinet") - @Html.ActionLink("Карточка клиента", "ClientEdit", "Cabinet", new { @client_id = @Model.ClientId }, null) - @Html.ActionLink("Параметры услуги", "ServiceCva", "Cabinet")
</div>
}


<style>
</style>

@using (Html.BeginForm("ServiceCva", "Cabinet", FormMethod.Post))
{        
    @Html.HiddenFor(x => x.item_id)
    @Html.HiddenFor(x => x.workplace_id)
    @Html.HiddenFor(x => x.service_id)
    @Html.HiddenFor(x => x.active)
    @Html.HiddenFor(x => x.ClientId)

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    if (!String.IsNullOrEmpty((string)@ViewBag.Message))
    {
        <div class="k-block k-success-colored">
            <strong>@ViewBag.Message</strong>
            <br />            
        </div>
    }

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group service-info">
                    <p>При подключенной услуге данные о товарах и ценах с этой торговой точки будут выгружаться на портал ЦеныВАптеках.РФ</p>
                    <p>Подробное описание полей: <a href="/ServiceCvaDoc">Описание формата ЦеныВАптеках JSON v2_2.doc</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(ss => ss.target_url, htmlAttributes: new { @class = "control-label" })
                    @(Html.Kendo().TextBoxFor(ss => ss.target_url).Name("target_url").HtmlAttributes(new { @class = "form-control", }))
                    @Html.ValidationMessageFor(model => model.target_url, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(ss => ss.pharm_login, htmlAttributes: new { @class = "control-label" })
                    @(Html.Kendo().TextBoxFor(ss => ss.pharm_login).Name("pharm_login").HtmlAttributes(new { @class = "form-control", }))
                    @Html.ValidationMessageFor(model => model.pharm_login, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(ss => ss.pharm_pwd, htmlAttributes: new { @class = "control-label" })
                    @(Html.Kendo().TextBoxFor(ss => ss.pharm_pwd).Name("pharm_pwd").HtmlAttributes(new { @class = "form-control", @type = "password", }))
                    @Html.ValidationMessageFor(model => model.pharm_pwd, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(ss => ss.pharm_code, htmlAttributes: new { @class = "control-label" })
                    @(Html.Kendo().TextBoxFor(ss => ss.pharm_code).Name("pharm_code").HtmlAttributes(new { @class = "form-control", }))
                    @Html.ValidationMessageFor(model => model.pharm_code, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                        @(Html.Kendo().CheckBox().Name("chbActive").Checked(@Model.active == 1).Label("Аптека работает").HtmlAttributes(new { @class = "k-checkbox", @id = "chbActive", }))
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(ss => ss.send_interval, htmlAttributes: new { @class = "control-label" })
                    @(Html.Kendo().NumericTextBoxFor(ss => ss.send_interval).Min(1).Format("#").Name("send_interval").HtmlAttributes(new { @type = "text", @class = "form-control input-sm", @style = "display: inline !important", }))
                    @Html.ValidationMessageFor(model => model.send_interval, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(ss => ss.info_name, htmlAttributes: new { @class = "control-label" })
                    @(Html.Kendo().TextBoxFor(ss => ss.info_name).Name("info_name").HtmlAttributes(new { @class = "form-control", }))
                    @Html.ValidationMessageFor(model => model.info_name, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(ss => ss.info_bank_cards, htmlAttributes: new { @class = "control-label" })
                    @(Html.Kendo().TextBoxFor(ss => ss.info_bank_cards).Name("info_bank_cards").HtmlAttributes(new { @class = "form-control", }))
                    @Html.ValidationMessageFor(model => model.info_bank_cards, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(ss => ss.info_sale_phone, htmlAttributes: new { @class = "control-label" })
                    @(Html.Kendo().TextBoxFor(ss => ss.info_sale_phone).Name("info_sale_phone").HtmlAttributes(new { @class = "form-control", }))
                    @Html.ValidationMessageFor(model => model.info_sale_phone, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(ss => ss.info_additional_info, htmlAttributes: new { @class = "control-label" })
                    @(Html.Kendo().TextBoxFor(ss => ss.info_additional_info).Name("info_additional_info").HtmlAttributes(new { @class = "form-control", }))
                    @Html.ValidationMessageFor(model => model.info_additional_info, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(ss => ss.info_www, htmlAttributes: new { @class = "control-label" })
                    @(Html.Kendo().TextBoxFor(ss => ss.info_www).Name("info_www").HtmlAttributes(new { @class = "form-control", }))
                    @Html.ValidationMessageFor(model => model.info_www, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(ss => ss.info_city, htmlAttributes: new { @class = "control-label" })
                    @(Html.Kendo().TextBoxFor(ss => ss.info_city).Name("info_city").HtmlAttributes(new { @class = "form-control", }))
                    @Html.ValidationMessageFor(model => model.info_city, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(ss => ss.info_city_area, htmlAttributes: new { @class = "control-label" })
                    @(Html.Kendo().TextBoxFor(ss => ss.info_city_area).Name("info_city_area").HtmlAttributes(new { @class = "form-control", }))
                    @Html.ValidationMessageFor(model => model.info_city_area, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(ss => ss.info_address, htmlAttributes: new { @class = "control-label" })
                    @(Html.Kendo().TextBoxFor(ss => ss.info_address).Name("info_address").HtmlAttributes(new { @class = "form-control", }))
                    @Html.ValidationMessageFor(model => model.info_address, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(ss => ss.info_sale_shedule, htmlAttributes: new { @class = "control-label" })
                    @(Html.Kendo().TextBoxFor(ss => ss.info_sale_shedule).Name("info_sale_shedule").HtmlAttributes(new { @class = "form-control", }))
                    @Html.ValidationMessageFor(model => model.info_sale_shedule, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(ss => ss.info_map_gps, htmlAttributes: new { @class = "control-label" })
                    @(Html.Kendo().TextBoxFor(ss => ss.info_map_gps).Name("info_map_gps").HtmlAttributes(new { @class = "form-control", }))
                    @Html.ValidationMessageFor(model => model.info_map_gps, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(ss => ss.info_map_caption, htmlAttributes: new { @class = "control-label" })
                    @(Html.Kendo().TextBoxFor(ss => ss.info_map_caption).Name("info_map_caption").HtmlAttributes(new { @class = "form-control", }))
                    @Html.ValidationMessageFor(model => model.info_map_caption, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <input type="button" value="Сохранить" class="btn btn-primary" id="btnSubmit" />
                    <input type="button" value="Отменить изменения" class="btn k-button btn-revert-hidden" style="visibility:hidden;" id="btnRevert" />
                    <input type="submit" value="save" class="btn" id="btnSubmitProceed" style="visibility:hidden;" />
                </div>
            </div>
        </div>        
    </div>    
}

<script id="save-changes-confirmation" type="text/x-kendo-template">
    <div class="panel-success" style="padding-left: 110px; padding-top: 20px;">
        <button class="confirm k-button" style="width: 60px;"> Да </button>
        <button class="cancel k-button" style="width: 60px;"> Нет </button>
    </div>
</script>
<script>    
</script>
