﻿@using CabinetMvc.Util
@using CabinetMvc.Extensions

@model CabinetMvc.ViewModel.Cabinet.ClientViewModel

@{
    ViewBag.Title = "Регистрация услуг";    
    Layout = "~/Views/Shared/_Layout.cshtml";    
    IEnumerable<CabinetMvc.ViewModel.Cabinet.SalesViewModel> salesList = ViewBag.SalesList;    
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/cabinet", "service-reg-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("client", "Клиенты"))
}

@section menuPath {
<div class="cab-menu-path">
    @Html.ActionLink("Клиенты", "ClientList", "Cabinet") - @Html.ActionLink("Список клиентов", "ClientList", "Cabinet") - @Html.ActionLink("Карточка клиента", "ClientEdit", "Cabinet", new { @client_id = @Model.id }, null) - @Html.ActionLink("Регистрация услуг", "ServiceReg", "Cabinet")
</div>
}

@Html.HiddenFor(model => model.id)

@Html.ValidationSummary()

@(Html.Kendo().Grid<CabinetMvc.ViewModel.Cabinet.SalesViewModel>(salesList)
                                .Name("salesListGrid")
                                .DataSource(dataSource => dataSource
                                .Ajax()
                                .Model(model =>
                                {
                                    model.Id(id => id.sales_id);
                                })
                                    .Sort(sort => { sort.Add("adress").Ascending(); })
                                )
                                .Columns(columns =>
                                {
                                    columns.Bound(ss => ss.adress);
                                    columns.Bound(ss => ss.cell);
                                    columns.Bound(ss => ss.contact_person);
                                })
                                 .Pageable(p => p.Enabled(false))
                                 .Resizable(resize => resize.Columns(true))
                                 .Scrollable(scr => scr.Height("auto"))
                                 .Filterable(f => f.Enabled(false))
                                 .Sortable()                                 
                                 .ClientDetailTemplateId("templWorkplaceList")
)

<script id="templWorkplaceList" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<CabinetMvc.ViewModel.Cabinet.WorkplaceViewModel>()
                    .Name("grid1_#=id#")
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .Model(model =>
                                {
                                    model.Id(p => p.id);
                                })
                                .Sort(s => { s.Add("description").Descending(); })
                                .Read(read => read.Action("GetWorkplaceList", "Cabinet", new { sales_id = "#=id#", }))
                             )
                    .Columns(columns =>
                        {
                            columns.Bound(ss => ss.description)
                                .Width(100);
                            columns.Bound(ss => ss.registration_key)
                                .Width(100);
                        })
                     .AutoBind(false)
                     .Pageable(p => p.Enabled(false))
                     .Resizable(resize => resize.Columns(true))
                     .Scrollable(scr => scr.Height("auto"))
                     .Filterable(f => f.Enabled(false))
                     .Sortable()
                     .Events(e => { e.DetailExpand("serviceReg.onDetailExpand2"); })
                     .ClientDetailTemplateId("templServiceList")
                     .ToClientTemplate()
    )
</script>
<script id="templServiceList" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<CabinetMvc.ViewModel.Cabinet.ClientServiceViewModel>()
                    .Name("grid2_#=id#")
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .Model(model =>
                                {
                                    model.Id(p => p.version_id);
                                })
                                .Sort(s => { s.Add("is_registered").Descending(); s.Add("service_id").Ascending(); })
                                .Read(read => read.Action("GetServiceRegList", "Cabinet", new { client_id = @Model.id.ToString(), workplace_id = "#=id#", }))
                             )
                    .Columns(columns =>
                        {
                            columns.Bound(ss => ss.service_name)
                                .Width(300)
                            ;
                            columns.Bound(ss => ss.version_name)
                                .Width(100)
                            ;
                            columns.Bound(ss => ss.activation_key)
                                .Width(200)
                            ;
                            columns.Bound(ss => ss.DelServiceLink).Encoded(false)
                                .Width(100)
                            ;
                            columns.Bound(ss => ss.ApplyServiceLink).Encoded(false)
                                .Width(100)
                            ;
                        })
                     .AutoBind(false)
                     .Pageable(p => p.Enabled(false))
                     .Resizable(resize => resize.Columns(true))
                     .Scrollable(scr => scr.Height("auto"))
                     .Filterable(f => f.Enabled(false))
                     .Sortable()
                     .ToClientTemplate()
    )
</script>
<script id="activation-confirmation" type="text/x-kendo-template">
    <div class="panel-success" style="padding-left: 20px; padding-top: 20px;">
        <label id="lblActKey">Ключ активации:</label>
        <input id="txtActKey" min="0" name="txtActKey" type="text" class="act-key" />
    </div>
    <div class="panel-success" style="padding-left: 110px; padding-top: 20px;">
        <button class="operation-confirm k-button" style="width: 60px;"> Да </button>
        <button class="operation-cancel k-button" style="width: 60px;"> Нет </button>
    </div>
</script>
<script id="remove-confirmation" type="text/x-kendo-template">
    <div class="panel-success" style="padding-left: 110px; padding-top: 20px;">
        <button class="operation-confirm k-button" style="width: 60px;"> Да </button>
        <button class="operation-cancel k-button" style="width: 60px;"> Нет </button>
    </div>
</script>
<script>
    var model_id = @Model.id;
</script>