﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util

@model CabinetMvc.ViewModel.Cabinet.ServiceKitViewModel

@{
    ViewBag.Title = "Набор услуг";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<CabinetMvc.ViewModel.Cabinet.ServiceViewModel> serviceList1 = ViewBag.ServiceList1;
    IEnumerable<CabinetMvc.ViewModel.Cabinet.ServiceViewModel> serviceList2 = ViewBag.ServiceList2;
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/cabinet", "service-kit-edit-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("cabsprav", "Справочники"))
}


@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Клиенты", "ClientList", "Cabinet") - @Html.ActionLink("Справочники", "CabServiceList", "Cabinet") - @Html.ActionLink("Набор услуг", "ServiceKitEdit", "Cabinet")
    </div>
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.service_kit_id)

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    if (!String.IsNullOrEmpty((string)@ViewBag.Message))
    {
        <div class="k-block k-success-colored">
            <strong>@ViewBag.Message</strong>
            <br />
            <br />
        </div>
        <br />
        <hr />
    }

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @(Html.LabelFor(ss => ss.service_kit_name, new { @class = "control-label" }))
                @(Html.Kendo().TextBoxFor(ss => ss.service_kit_name).HtmlAttributes(new { @class = "form-control" }))
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p><h4>Перетащите нужные услуги из справочника в набор</h4></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            @(Html.Kendo().Grid<CabinetMvc.ViewModel.Cabinet.ServiceViewModel>(serviceList1)
            .Name("serviceGrid1")
            .DataSource(dataSource => dataSource
                .Ajax()
                .Model(model =>
                {
                    model.Id(id => id.id);
                })
                .Sort(so => { so.Add("name"); })
                )
                .Columns(columns =>
                {
                    columns.Bound(ss => ss.name)
                        .Title("Услуга")
                        .ClientTemplate("<span title='#=description#'>#=name#</span>")
                    .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                    ;
                })
                .Pageable(page => { page.Enabled(false); })
                .Resizable(resize => resize.Columns(true))
                .Sortable(s => s.SortMode(GridSortMode.SingleColumn))
                .Scrollable(scr => scr.Height("auto"))
                .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                .HtmlAttributes(new { @style = "cursor:move;" })
            .Events(ev => ev.DataBound("serviceKitEdit.onServiceGrid1DataBound"))
            )
        </div>
        <div class="col-md-4">
            @(Html.Kendo().Grid<CabinetMvc.ViewModel.Cabinet.ServiceViewModel>(serviceList2)
            .Name("serviceGrid2")
            .DataSource(dataSource => dataSource
                .Ajax()
                .Model(model =>
                {
                    model.Id(id => id.id);
                })
                .Sort(so => { so.Add("name"); })
                )
                .Columns(columns =>
                {
                    columns.Bound(ss => ss.name)
                        .Title("Услуга в наборе")
                        .ClientTemplate("<span title='#=description#'>#=name#</span>")
                    .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                    ;
                })
                .Pageable(page => { page.Enabled(false); })
                .Resizable(resize => resize.Columns(true))
                .Sortable(s => s.SortMode(GridSortMode.SingleColumn))
                .Scrollable(scr => scr.Height("auto"))
                .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                .HtmlAttributes(new { @style = "cursor:move;" })
            .Events(ev => ev.DataBound("serviceKitEdit.onServiceGrid2DataBound"))
            )
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-6">
            <div class="form-group">
                <input type="button" value="Сохранить" class="k-button k-primary" id="btnSubmit" />
            </div>
        </div>
    </div>
}


<script id="save-changes-confirmation" type="text/x-kendo-template">
    <div class="panel-success" style="padding-left: 110px; padding-top: 20px;">
        <button class="confirm k-button" style="width: 60px;"> Да </button>
        <button class="cancel k-button" style="width: 60px;"> Нет </button>
    </div>
</script>
<script>
    var backToClient = null;
    @if (ViewBag.BackToClient != null)
    {
        @:backToClient = '@ViewBag.BackToClient';
    }
</script>
