﻿@using CabinetMvc.Util
@using CabinetMvc.Extensions

@{
    ViewBag.Title = "Параметры услуги";    
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

@section sideMenu {
    @(Html.CabSidePanel("client", "Клиенты"))
}

@section menuPath {
<div class="cab-menu-path">
    @Html.ActionLink("Клиенты", "ClientList", "Cabinet") - @Html.ActionLink("Список клиентов", "ClientList", "Cabinet") - @Html.ActionLink("Карточка клиента", "ClientEdit", "Cabinet") - @Html.ActionLink("Параметры услуги", "ServiceCommon", "Cabinet")
</div>
}

@using (Html.BeginForm())
{        
    
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    if (!String.IsNullOrEmpty((string)@ViewBag.Message))
    {
        <div class="k-block k-success-colored">
            <strong>@ViewBag.Message</strong>
            <br />
            <br />
        </div>
        <br />
        <hr />
    }

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.Label("По данной услуге нет настраиваемых параметров", htmlAttributes: new { @class = "control-label" })                
            </div>
        </div>
    </div>

}
<script>
</script>
