﻿
@{
    ViewBag.Title = "HelpDesk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MenuPath {
    <div>
        @Html.ActionLink("Главная", "Index", "Home", null, new { @style = "color:White;" })
        ->
        @Html.ActionLink(((string)ViewBag.Title), "HelpDesk", "HelpDesk", null, new { @style = "color:White;" })
    </div>
}

<table>
    <tr>
        <td>
            <div style="display:inline">
                @(Html.Kendo().Button().Content("Обновить").Name("btnRefresh").Events(ev => ev.Click("btnRefreshClick")))
                <span id="lblRefresh">  @DateTime.Now.ToString()</span>                
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <br />
        </td>
    </tr>
    <tr>
        <td>
            <div>
                @(Html.Kendo().Button().Content("Показать все").Name("btnShowAll").Events(ev => ev.Click("btnShowAllClick")))
                @(Html.Kendo().Button().Content("В очереди").Name("btnShowNotAnswered").Events(ev => ev.Click("btnShowNotAnsweredClick")))
                @(Html.Kendo().Button().Content("Принятые").Name("btnShowAnswered").Events(ev => ev.Click("btnShowAnsweredClick")))
            </div>
        </td>
        <td>            
        </td>
    </tr>
</table>

@(Html.Kendo().Grid<CabinetMvc.Models.HelpDesk.StoryViewModel>()
                  .Name("storyListGrid")
                .DataSource(dataSource => dataSource
                    .SignalR()
                    .AutoSync(true)
                        .PageSize(10)
                        .Transport(tr => tr
                            .Promise("hubStart")
                            .Hub("hub")
                            .Client(c => c
                                .Read("read")                                
                                .Update("update")
                                )
                            .Server(s => s
                                .Read("read")                                
                                .Update("update")
                                ))
                        .Schema(schema => schema
                            .Model(model =>
                            {
                                model.Id(m => m.story_id);
                                model.Field(m => m.story_id).Editable(false);
                            })
                        )
                    )
                      .Events(ev => ev.DataBound("onStoryListGridDataBound"))
                      .Columns(columns =>
                      {
                          columns.Bound(item => item.crt_date).Title("Когда создан").Format("{0:dd.MM.yyyy HH:mm}")
                              .Width(120)
                              .Filterable(ftb => ftb.Cell(cell => { cell.Operator("eq"); }))
                              ;
                          columns.Bound(item => item.org_name).Title("Организация")
                              .Width(200)
                              .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));
                          columns.Bound(item => item.org_address).Title("Адрес")
                              .Width(200)
                              .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));
                          columns.Bound(item => item.person_name).Title("Контакт")
                              .Width(200)
                              .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));
                          columns.Bound(item => item.person_phone).Title("Телефон")
                              .Width(200)
                              .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));
                          columns.Bound(item => item.story_text).Title("Вопрос")
                              .Width(200)
                              .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));
                          columns.Bound(item => item.curr_state_name).Title("Статус")
                              .Width(150)
                              .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));
                          columns.Bound(item => item.curr_state_id).Title("Код статуса")
                              .Visible(false)
                              ;
                          columns.Bound(item => item.is_answered).Title("Отвечен")
                              .Visible(false)
                              ;

                          columns.Command(command =>
                          {
                              command.Custom("btnAcceptStory").Text("Принять").Click("btnAcceptStoryClick").HtmlAttributes(new { @class = "k-grid-accept-story-btn" });
                          }).Width(110);

                          columns.Bound(item => item.crm_num).Title("№ задачи")
                              .Width(160)
                              .Filterable(ftb => ftb.Cell(cell => { cell.Operator("eq"); }));
                          columns.Bound(item => item.resp_user).Title("Кто взял")
                              .Width(120)
                              .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));
                          columns.Bound(item => item.upd_date).Title("Когда взял").Format("{0:dd.MM.yyyy HH:mm}")
                              .Width(120)
                              .Filterable(ftb => ftb.Cell(cell => { cell.Operator("eq"); }));
                      })
                      .Pageable(page => page.PageSizes(new int[] { 10, 20, 50, 100, 500, 1000 }))
                      .Resizable(resize => resize.Columns(true))
                      .Sortable()
                      .Scrollable(scr => scr.Height("auto"))
                      .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
        //.HtmlAttributes(new { style = "max-height:1000px;" })
)
<script>
    var hub = $.connection.storyHub;
    var hubStart = $.connection.hub.start();
</script>
<script id="accept-story-confirmation" type="text/x-kendo-template">
    <div class="panel-success" style="padding-left: 20px; padding-top: 20px;">
        <input id="txtCrmNum" min="0" name="txtCrmNum" type="number" />
    </div>
    <div class="panel-success" style="padding-left: 20px; padding-top: 20px;">         
        <button class="accept-confirm k-button" style="width: 60px"> OK </button>
        <button class="accept-cancel k-button" style="width: 60px"> Отмена </button>
    </div>
</script>
<script>
    function btnAcceptStoryClick(e) {
            e.preventDefault();

            var row = $(e.target).closest("tr");
            var grid = $("#storyListGrid").data("kendoGrid");
            var dataItem = grid.dataItem(row);

            var acceptStoryWindow = $("<div />").kendoWindow({
                actions: [],
                title: "Введите номер задачи",
                resizable: false,
                modal: true,
                width: "400px",
                height: "200px"
            });

            if (dataItem.curr_state_id === 1) {

                acceptStoryWindow.data("kendoWindow")
                        .content($("#accept-story-confirmation").html())
                        .center().open();

                acceptStoryWindow
                        .find(".accept-confirm,.accept-cancel")
                            .click(function () {
                                if ($(this).hasClass("accept-confirm")) {
                                    var crm_num_val = acceptStoryWindow.find("#txtCrmNum").val();
                                    if (crm_num_val) {
                                        acceptStoryWindow.data("kendoWindow").close();
                                        var sendData = { story_id: dataItem.story_id, crm_num: crm_num_val };
                                        $.ajax({
                                            url: 'HelpDesk/StoryEdit',
                                            data: JSON.stringify(sendData),
                                            type: "POST",
                                            contentType: 'application/json; charset=windows-1251',
                                            success: function (response) {
                                                dataItem.set("curr_state_name", response.curr_state_name);
                                                dataItem.set("curr_state_id", response.curr_state_id);                                                
                                                dataItem.set("crm_num", response.crm_num);
                                                dataItem.set("resp_user", response.resp_user);
                                                dataItem.set("upd_date", response.upd_date);
                                                dataItem.set("is_answered", "true");
                                                $(e.target).remove();                                                
                                                //setTimeout(function () {                                                    
                                                    //$("#storyListGrid").data("kendoGrid").trigger("dataBound");
                                                //});
                                                //grid.dataSource.read();
                                                //alert('Success!');
                                            },
                                            error: function (response) {
                                                alert('Ошибка при попытке принять вопрос');
                                            }
                                        });

                                        acceptStoryWindow.data("kendoWindow").close();
                                    }
                                }
                                else {
                                    acceptStoryWindow.data("kendoWindow").close();
                                }
                            })
                         .end()
            }
    };
    function onStoryListGridDataBound() {
        //Selects all accepts buttons
        $("#storyListGrid tbody tr .k-grid-accept-story-btn").each(function () {
            var currentDataItem = $("#storyListGrid").data("kendoGrid").dataItem($(this).closest("tr"));

            //Check in the current dataItem if the row is answered
            if (currentDataItem.is_answered == true) {
                $(this).remove();
            }
        })
    };
    function btnShowAllClick(e) {
        $('#btnShowAll').addClass('k-state-active');
        $('#btnShowNotAnswered').removeClass('k-state-active');
        $('#btnShowAnswered').removeClass('k-state-active');

        var grid = $("#storyListGrid").data("kendoGrid"),
            _fltStatus = { logic: "and", filters: [] };

        grid.dataSource.filter(_fltStatus);
    };
    function btnShowNotAnsweredClick(e) {        
        $('#btnShowAll').removeClass('k-state-active');
        $('#btnShowNotAnswered').addClass('k-state-active');
        $('#btnShowAnswered').removeClass('k-state-active');

        var grid = $("#storyListGrid").data("kendoGrid"),
            _fltStatus = { logic: "and", filters: [] };

        _fltStatus.filters.push({ field: "is_answered", operator: "eq", value: "false" });
        grid.dataSource.filter(_fltStatus);
    };
    function btnShowAnsweredClick(e) {
        $('#btnShowAll').removeClass('k-state-active');
        $('#btnShowNotAnswered').removeClass('k-state-active');
        $('#btnShowAnswered').addClass('k-state-active');        

        var grid = $("#storyListGrid").data("kendoGrid"),
            _fltStatus = { logic: "and", filters: [] };

        _fltStatus.filters.push({ field: "is_answered", operator: "eq", value: "true" });
        grid.dataSource.filter(_fltStatus);
    };

    function addZeroIfNeeded(i) {
        if (i < 10) {
            i = "0" + i;
        }
        return i;
    }

    function refreshDate() {
        var today = new Date();
        var y = today.getFullYear();
        var mo = today.getMonth() + 1;
        var d = today.getDate();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        // add a zero in front of numbers<10
        mo = addZeroIfNeeded(mo);
        m = addZeroIfNeeded(m);
        s = addZeroIfNeeded(s);
        document.getElementById('lblRefresh').innerHTML = d + "." + mo + "." + y + " " + h + ":" + m + ":" + s;
    };
    function btnRefreshClick(e) {        
        $('#btnShowAll').addClass('k-state-active');
        $('#btnShowNotAnswered').removeClass('k-state-active');
        $('#btnShowAnswered').removeClass('k-state-active');

        refreshDate();

        var grid = $("#storyListGrid").data("kendoGrid");

        grid.dataSource.filter([]);
    };
</script>