﻿@using CabinetMvc.Util;
@using CabinetMvc.Extensions

@{
    ViewBag.Title = "Смена пароля";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/user", "change-password-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel())
}

<style>
</style>

@using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { id = "changePasswordForm", name = "changePasswordForm", onkeydown = "if (event.keyCode == 13) { $('#btnSubmit').trigger('click'); return false; }" }))
{

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            @(Html.Label("Введите текущий пароль:", htmlAttributes: new { @class = "control-label" }))
            @(Html.Kendo().TextBox().Name("edPwdOld").HtmlAttributes(new { @type = "password" }))
            @(Html.ValidationMessage("edPwdOld", "", new { @class = "text-danger" }))
        </div>
        <div class="form-group">
            @(Html.Label("Введите новый пароль:", htmlAttributes: new { @class = "control-label" }))
            @(Html.Kendo().TextBox().Name("edPwdNew").HtmlAttributes(new { @type = "password" }))
            @(Html.ValidationMessage("edPwdNew", "", new { @class = "text-danger" }))
        </div>
        <div class="form-group">
            @(Html.Label("Повторите ввод нового пароля:", htmlAttributes: new { @class = "control-label" }))
            @(Html.Kendo().TextBox().Name("edPwdNewConfirm").HtmlAttributes(new { @type = "password" }))
            @(Html.ValidationMessage("edPwdNewConfirm", "", new { @class = "text-danger" }))
        </div>
        <div class="form-group">
            <span>
                @(Html.Kendo().Button().Name("btnSubmit").Content("Изменить").HtmlAttributes(new { @type = "button", @class = "k-primary" }).Events(ev => ev.Click("changePassword.onBtnSubmitClick")))
                <span class='hidden' id='op-wait'><img src='@Url.Content("Images/ajax-loader.gif")' height='22' width='22'></span>
            </span>
        </div>
    </div>
</div>
    
}
@(Html.Kendo().Notification()
    .Name("popupNotification")
    .Position(p => p.Pinned(true).Top(30).Right(130))
    .Stacking(NotificationStackingSettings.Down)
)

<script id="confirm-templ" type="text/kendo-ui-template">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 text-center">
                <p class="confirm-text">Изменить пароль ?</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11 text-center">
                <button type="button" class="k-button confirm" id="btn-win-confirm-ok">OK</button>
                <button type="button" class="k-button cancel" id="btn-win-confirm-cancel">Отмена</button>
            </div>
        </div>
    </div>
</script>

<script>
    var url_ChangePassword = '@Url.Action("UserPasswordEdit", "User")';
</script>
