﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util;
@model CabinetMvc.ViewModel.User.UserViewModel
@{
    ViewBag.Title = "Авторизация";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
    string returnUrl = ViewBag.ReturnUrl;
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/user", "login-{0}.js"))
}

<style>
</style>

@using (Html.BeginForm())
{
    @Html.HiddenFor(ss => ss.ReturnUrl)
    
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <div class="form-horizontal">
                <div class="form-group" style="width:150px;">
                    @(Html.Kendo().TextBoxFor(model => model.UserName).HtmlAttributes(new { @class = "form-control" , @placeholder = "логин"}))
                    @Html.ValidationMessageFor(u => u.UserName)
                </div>
                <div class="form-group" style="width:150px;">
                    @(Html.Kendo().TextBoxFor(model => model.Password).HtmlAttributes(new { @type = "password", @class = "form-control", @placeholder = "пароль" }))
                    @Html.ValidationMessageFor(u => u.Password)
                </div>
                <div class="form-group">
                    @(Html.Kendo().CheckBoxFor(ss => ss.RememberMe).Label("запомнить меня").HtmlAttributes(new { @class = "k-checkbox" }))
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary active" id="btnSubmit" style="width:150px;">Войти</button>                    
                </div>
                <!--
                <div class="form-group">                    
                    <button type="button" class="btn btn-info" id="btnRegister" style="width:150px;">Регистрация</button>
                </div>
                -->
                <div class="form-group">
                    <button type="button" class="btn btn-sm btn-link" id="btnForgot" style="margin-left: -10px;">Забыли пароль ?</button>
                </div>
                <div class="form-group">
                    <div id="email-div" class="hidden">                        
                        <input type="text" class="k-textbox" id="email-text" placeholder="ваш email"/>
                        <div class="email-send">
                            <button type="button" class="btn btn-xs btn-primary" id="btnSend">Восстановить</button>
                            <span class='hidden' id='op-wait'><img src='@Url.Content("Images/ajax-loader.gif")' height='22' width='22'></span>
                        </div>
                    </div>
                    <p id='email-sent-ok' class='hidden email-sent bg-info' ></p>
                    <p id='email-sent-err' class='hidden email-sent bg-warning' ></p>
                </div>
            </div>
        </div>
    </div>
}
<script>
    var return_url = '@returnUrl';
    var url_RestorePwd = '@Url.Action("RestorePassword", "User")';
</script>