﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util;
@model CabinetMvc.ViewModel.User.RegViewModel
@{
    ViewBag.Title = "Регистрация";    
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";   
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/user", "register-{0}.js"))
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.login)
    @Html.HiddenFor(x => x.pwd)

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                @Html.Label("ФИО:", htmlAttributes: new { @class = "control-label" })
                @Html.Kendo().TextBoxFor(model => model.fio).HtmlAttributes(new { @class = "form-control", @id = "fio" })
                @Html.ValidationMessageFor(model => model.fio, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Электронная почта:", htmlAttributes: new { @class = "control-label" })
                @Html.Kendo().TextBoxFor(model => model.email).HtmlAttributes(new { @class = "form-control", @id = "email", @type = "email", @data_email_msg = "Неверно задана электронная почта" })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Название организации:", htmlAttributes: new { @class = "control-label" })
                @Html.Kendo().TextBoxFor(model => model.org_name).HtmlAttributes(new { @class = "form-control", @id = "org_name" })
                @Html.ValidationMessageFor(model => model.org_name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Адрес организации:", htmlAttributes: new { @class = "control-label" })
                @Html.Kendo().TextBoxFor(model => model.org_address).HtmlAttributes(new { @class = "form-control", @id = "org_address" })
                @Html.ValidationMessageFor(model => model.org_address, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Телефон:", htmlAttributes: new { @class = "control-label" })
                @Html.Kendo().MaskedTextBoxFor(model => model.phone).Mask("00000000000").HtmlAttributes(new { @class = "form-control", @id = "phone" })
                <span class="help-block">11 цифр начиная с 8</span>
                @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <input type="button" value="Регистрация" class="btn btn-primary" id="btnSubmit" />
                <input type="submit" value="save" class="btn hidden" id="btnSubmitProceed" />
            </div>
        </div>
    </div>
}


<script>
</script>