﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util;
@{
    ViewBag.Title = "Регистрация завершена";    
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";   
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/user", "register-success-{0}.js"))
}

<style>
    .register-info {
        border: 1px solid;
        border-radius: 5px;
        margin-top: 5px;
        padding: 10px;
        background-color: #e3f5f8;
        border-color: #7af1f1;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group register-info">
                <p>Регистрация успешно завершена ! Уведомление об активации аккаунта после проверки менеджером будет выслано на указанный при регистрации электронный адрес</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">                
                <button type="button" class="btn btn-primary" id="btnLogin">Авторизация</button>
            </div>
        </div>
    </div>
</div> 

<script>
    var url_Login = '@Url.Action("Login", "User")';
</script>
