﻿@using CabinetMvc.Extensions
@{
    ViewBag.Title = "Список исключенных строк региональных реестров ЖНВЛП";
    ViewBag.ImageUrl = "/Images/new/reestr-out.png";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<CabinetMvc.ViewModel.Cabinet.SpravRegionViewModel> regionList = ViewBag.RegionList;
}

@section sideMenu {
    @(Html.CabSidePanel("ved", "ЖНВЛП"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Услуги", "VedReestrItemList", "Ved") - @Html.ActionLink("ЖНВЛП", "VedReestrItemList", "Ved") - @Html.ActionLink("Список исключенных строк региональных реестров ЖНВЛП", "VedReestrRegionItemOutList", "Ved")
    </div>
}

<style>
    .k-grid .k-grid-content {
        max-height: 650px !important;
    }
</style>

<div style="display: inline-block; margin-bottom: 10px;">
    @(Html.Kendo().DropDownList()
                            .Name("regionDropDownList")
                            .HtmlAttributes(new { @class = "form-control" })
                              .DataTextField("name")
                              .DataValueField("id")
                              .BindTo(regionList)
                              .AutoBind(true)
                              .Events(s => s.Change("onRegionChange"))
    )
</div>



@(Html.Kendo().Grid<CabinetMvc.ViewModel.Ved.VedReestrRegionItemOutViewModel>()
                  .Name("vedReestrRegionItemOutGrid")
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {
                          model.Id(e => e.item_code);
                      })
                      .PageSize(100)
                      .Sort(sort => { sort.Add("date_beg").Descending(); sort.Add("item_code").Ascending(); })
                      .Read(read => read.Action("GetVedReestrRegionItemOutList", "Ved").Data("setRegionForGrid"))
                   )
                   .ToolBar(toolbar =>
                   {
                       toolbar.Custom()
                        .Text("Экспорт в Excel")
                        .HtmlAttributes(new { @class = "export", @id = "btnExcel" })
                        .Url(Url.Action("VedReestrItemOutExport", "Ved", new { region_id = 0 }));
                    })
                  .Columns(columns =>
                  {
                      columns.Bound(item => item.date_beg)
                          .Format("{0:dd.MM.yyyy}")
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("eq"); }));                      
                      columns.Bound(item => item.mnn)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));                      
                      columns.Bound(item => item.comm_name)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));                      
                      columns.Bound(item => item.pack_name)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));
                      columns.Bound(item => item.producer)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));
                      columns.Bound(item => item.pack_count)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("eq"); }));
                      columns.Bound(item => item.limit_price)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("eq"); }));
                      columns.Bound(item => item.reg_num)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));
                      columns.Bound(item => item.price_reg_date)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));
                      columns.Bound(item => item.price_reg_ndoc)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));
                      columns.Bound(item => item.ean13)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));
                      columns.Bound(item => item.limit_opt_incr)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("eq"); }));
                      columns.Bound(item => item.limit_rozn_incr)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("eq"); }));
                      columns.Bound(item => item.limit_rozn_price)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("eq"); }));
                      columns.Bound(item => item.limit_rozn_price_with_nds)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("eq"); }));                      
                      columns.Bound(item => item.out_date)
                          .Format("{0:dd.MM.yyyy}")
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("eq"); }));
                      columns.Bound(item => item.out_reazon)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));
                      columns.Bound(item => item.gos_reestr_item_id)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("eq"); }));
                      columns.Bound(item => item.item_code)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("eq"); }));
                      columns.Bound(item => item.reestr_id)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("eq"); }));
                  })
                  .Pageable(page => page.PageSizes(new int[] { 10, 20, 50, 100 }))        
                  .Resizable(resize => resize.Columns(true))
                  .Sortable()
                  .Scrollable(scr => scr.Height("auto"))
                  .Filterable(ftb => ftb.Mode(GridFilterMode.Row))                
)

<script>
    function onRegionChange(e) {
        var grid = $('#vedReestrRegionItemOutGrid').getKendoGrid();
        grid.dataSource.read();
    };
    function setRegionForGrid(e) {
        var id = $('#regionDropDownList').getKendoDropDownList().dataItem()["id"];
        return {
            region_id: id
        };
    };
    $("#btnExcel").click(function (e) {
        e.preventDefault();
        var id = $('#regionDropDownList').getKendoDropDownList().dataItem()["id"];
        location.href = '/VedReestrItemOutExport?region_id=' + id;
        return false;
    });
</script>