﻿@using CabinetMvc.Extensions

@{
    ViewBag.Title = "Список исключенных строк госреестра ЖНВЛП";
    ViewBag.ImageUrl = "/Images/new/reestr-out.png";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section sideMenu {
    @(Html.CabSidePanel("ved", "ЖНВЛП"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Услуги", "VedReestrItemList", "Ved") - @Html.ActionLink("ЖНВЛП", "VedReestrItemList", "Ved") - @Html.ActionLink("Список исключенных строк госреестра ЖНВЛП", "VedReestrItemOutList", "Ved")
    </div>
}

<style>
    .k-grid .k-grid-content {
        max-height: 650px !important;
    }
</style>

@(Html.Kendo().Grid<CabinetMvc.ViewModel.Ved.VedReestrItemOutViewModel>()
                  .Name("vedReestrItemOutGrid")
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {
                          model.Id(e => e.item_code);
                      })
                      .PageSize(100)
                      .Sort(sort => { sort.Add("date_beg").Descending(); sort.Add("item_code").Ascending(); })
                      .Read(read => read.Action("GetVedReestrItemOutList", "Ved"))
                   )
                       .ToolBar(toolbar =>
                       {
                           toolbar.Custom()
                               .Text("Экспорт в Excel")
                               .HtmlAttributes(new { @class = "export" })
                               .Url(Url.Action("VedReestrItemOutExport", "Ved", new { region_id = 0 }));
                       })                   
                  .Columns(columns =>
                  {
                      columns.Bound(item => item.date_beg)
                          .Format("{0:dd.MM.yyyy}")
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("eq"); }));
                      columns.Bound(item => item.mnn)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));                      
                      columns.Bound(item => item.comm_name)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));                      
                      columns.Bound(item => item.pack_name)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));
                      columns.Bound(item => item.producer)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));
                      columns.Bound(item => item.pack_count)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("eq"); }));
                      columns.Bound(item => item.limit_price)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("eq"); }));
                      columns.Bound(item => item.reg_num)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));
                      columns.Bound(item => item.price_reg_date)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));
                      columns.Bound(item => item.price_reg_ndoc)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));                      
                      columns.Bound(item => item.ean13)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));
                      columns.Bound(item => item.out_date)
                          .Format("{0:dd.MM.yyyy}")
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("eq"); }));
                      columns.Bound(item => item.out_reazon)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));
                      columns.Bound(item => item.item_code)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("eq"); }));                      
                      columns.Bound(item => item.reestr_id)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("eq"); }));
                  })
                  .Pageable(page => page.PageSizes(new int[] { 10, 20, 50, 100 }))        
                  .Resizable(resize => resize.Columns(true))
                  .Sortable()
                  .Scrollable(scr => scr.Height("auto"))
                  .Filterable(ftb => ftb.Mode(GridFilterMode.Row))                
)

<script>
</script>