﻿@using CabinetMvc.Extensions
@{
    ViewBag.Title = "Журнал скачивания ЖНВЛП";
    ViewBag.ImageUrl = "/Images/new/log.png";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

@section sideMenu {
    @(Html.CabSidePanel("ved", "ЖНВЛП"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Услуги", "VedReestrItemList", "Ved") - @Html.ActionLink("ЖНВЛП", "VedReestrItemList", "Ved") - @Html.ActionLink("Журнал скачивания ЖНВЛП", "VedRequestList", "Ved")
    </div>
}

<style>
    .k-grid .k-grid-content {
        max-height: 650px !important;
    }
</style>

@(Html.Kendo().Grid<CabinetMvc.ViewModel.Ved.VedRequestViewModel>()
                  .Name("vedRequestGrid")
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {
                          model.Id(e => e.request_id);
                      })
                      .PageSize(100)
                      .Sort(sort => sort.Add("request_id").Descending())
                      .Read(read => read.Action("GetVedRequestList", "Ved"))
                   )
                  .Columns(columns =>
                  {
                      columns.Bound(item => item.login)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(200)
                          ;
                      columns.Bound(item => item.workplace)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(200)
                          ;
                      columns.Bound(item => item.version_num)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(200)
                          ;
                      columns.Bound(item => item.request_date)
                          .Format("{0:dd.MM.yyyy HH:mm:ss}")
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(200)
                          ;
                      columns.Bound(item => item.request_type_str)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(200)
                          ;
                      columns.Bound(item => item.state_str)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(200)
                          ;
                      columns.Bound(item => item.commit_date)
                          .Format("{0:dd.MM.yyyy HH:mm:ss}")
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(200)
                          ;
                  })
                  .Pageable(page => page.PageSizes(new int[] { 10, 20, 50, 100 }))        
                  .Resizable(resize => resize.Columns(true))
                  .Sortable()
                  .Scrollable(scr => scr.Height("auto"))
                  .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
)

<script>
</script>