﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util

@model CabinetMvc.ViewModel.Ved.VedSourceViewModel

@{
    ViewBag.Title = "Источник госреестра ЖНВЛП";
    ViewBag.ImageUrl = "/Images/new/source-edit.png"; 
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<AuDev.Common.Util.SimpleCombo> arcTypeList = ViewBag.ArcTypeList;
    IEnumerable<CabinetMvc.ViewModel.Ved.VedTemplateViewModel> templateList = ViewBag.TemplateList;
}

@section sideMenu {
    @(Html.CabSidePanel("ved", "ЖНВЛП"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Услуги", "VedReestrItemList", "Ved") - @Html.ActionLink("ЖНВЛП", "VedReestrItemList", "Ved") - @Html.ActionLink("Источник госреестра ЖНВЛП", "VedSourceEdit", "Ved")
    </div>
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.ved_source_id)
    @Html.HiddenFor(x => x.arc_type)
    @Html.HiddenFor(x => x.template_id)
    @Html.HiddenFor(x => x.out_template_id)
    
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.descr, new { @class = "control-label" })
                @Html.EditorFor(model => model.descr, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.descr, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.url_site, new { @class = "control-label" })
                @Html.EditorFor(model => model.url_site, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.url_site, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.url_file_main, new { @class = "control-label" })
                @Html.EditorFor(model => model.url_file_main, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.url_file_main, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.url_file_a_content, new { @class = "control-label" })
                @Html.EditorFor(model => model.url_file_a_content, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.url_file_a_content, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.arc_type, htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().DropDownList()
                            .Name("arcTypeDropDownList")
                            .HtmlAttributes(new { @class = "form-control input-sm" })
                              .DataTextField("obj_name")
                              .DataValueField("obj_id")
                              .BindTo(arcTypeList)
                              .Value(@Model.arc_type.ToString())
                              .AutoBind(true)
                )
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.template_id, htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().DropDownList()
                            .Name("mainTemplateList")
                            .HtmlAttributes(new { @class = "form-control input-sm" })
                            .DataTextField("template_name")
                            .DataValueField("template_id")
                            .BindTo(templateList)
                            .Value(@Model.template_id.ToString())
                            .AutoBind(true)
                )
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.out_template_id, htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().DropDownList()
                            .Name("outTemplateList")
                            .HtmlAttributes(new { @class = "form-control input-sm" })
                            .DataTextField("template_name")
                            .DataValueField("template_id")
                            .BindTo(templateList)
                            .Value(@Model.out_template_id.ToString())
                            .AutoBind(true)
                )
            </div>
            <div class="form-group">
                <input type="button" value="Сохранить" class="btn btn-default k-button" id="btnSubmit" />
                <input type="submit" value="save" class="btn" id="btnSubmitProceed" style="visibility:hidden;" />
            </div>
        </div>
    </div>    
}
<script>
    $(function () {
        $("form").kendoValidator();
    });
    $("#btnSubmit").click(function (e) {
        var validator = $("form").getKendoValidator();
        //
        var combo1 = $("#arcTypeDropDownList").data("kendoDropDownList");
        $("#arc_type").val(combo1.dataItem()["obj_id"]);
        var combo2 = $("#mainTemplateList").data("kendoDropDownList");
        $("#template_id").val(combo2.dataItem()["template_id"]);
        var combo3 = $("#outTemplateList").data("kendoDropDownList");
        $("#out_template_id").val(combo3.dataItem()["template_id"]);
        //        
        if (validator.validate()) {
            $("#btnSubmit").attr('disabled', true);
            $("#btnSubmitProceed").trigger('click');
        };
    });
</script>