﻿@using CabinetMvc.Extensions
@{
    ViewBag.Title = "Источники региональных реестров ЖНВЛП";
    ViewBag.ImageUrl = "/Images/new/source-region.png";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

@section sideMenu {
    @(Html.CabSidePanel("ved", "ЖНВЛП"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Услуги", "VedReestrItemList", "Ved") - @Html.ActionLink("ЖНВЛП", "VedReestrItemList", "Ved") - @Html.ActionLink("Источники региональных реестров ЖНВЛП", "VedSourceRegionList", "Ved")
    </div>
}

<style>
    .k-grid .k-delete {
        background: url("../Images/new/source-del.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    }
    .k-grid .k-grid-content {
        max-height: 650px !important;
    }
</style>

@(Html.Kendo().Grid<CabinetMvc.ViewModel.Ved.VedSourceRegionViewModel>()
                  .Name("vedSourceRegionGrid")
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {
                          model.Id(e => e.item_id);
                      })
                      .Sort(sort => sort.Add("item_id").Ascending())
                      .Read(read => read.Action("GetVedSourceRegionList", "Ved"))
                      .Destroy(d => d.Action("VedSourceRegionDel", "Ved"))
                   )
                  .Columns(columns =>
                  {
                      columns.Bound(item => item.region_name)
                          .Width(200)
                          .ClientTemplate("<a href='/VedSourceRegionEdit?item_id=#=item_id#'>#=region_name#</a>")
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));
                      columns.Bound(item => item.descr)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));
                      columns.Bound(item => item.url_site)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));
                      columns.Bound(item => item.url_file_main)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));
                      columns.Bound(item => item.arc_type_name)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));
                      columns.Command(c => c.Destroy());
                  })
                  .ToolBar(s => s.Custom().Text("Добавить источник").Action("VedSourceRegionEdit", "Ved", new { item_id = 0, }))
                  .Resizable(resize => resize.Columns(true))
                  .Sortable()
                  .Scrollable(scr => scr.Height("auto"))
                  .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
)

<script>
</script>