﻿@using CabinetMvc.Extensions
@{
    ViewBag.Title = "Шаблоны для импорта ЖНВЛП";
    ViewBag.ImageUrl = "/Images/new/templ.png";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

@section sideMenu {
    @(Html.CabSidePanel("ved", "ЖНВЛП"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Услуги", "VedReestrItemList", "Ved") - @Html.ActionLink("ЖНВЛП", "VedReestrItemList", "Ved") - @Html.ActionLink("Шаблоны для импорта ЖНВЛП", "VedTemplateList", "Ved")
    </div>
}

<style>
    .k-grid .k-delete {
        background: url("../Images/new/templ-del.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    }
    .k-grid .k-grid-content {
        max-height: 650px !important;
    }
</style>

@(Html.Kendo().Grid<CabinetMvc.ViewModel.Ved.VedTemplateViewModel>()
                  .Name("vedTemplateGrid")
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {
                          model.Id(e => e.template_id);
                      })
                      .Sort(sort => sort.Add("template_id").Ascending())
                      .Read(read => read.Action("GetVedTemplateList", "Ved"))
                      .Destroy(d => d.Action("VedTemplateDel", "Ved"))
                   )
                  .Columns(columns =>
                  {
                      columns.Bound(item => item.template_name)
                          .Width(200)
                          .ClientTemplate("<a href='/VedTemplateEdit?template_id=#=template_id#'>#=template_name#</a>")
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));
                      columns.Bound(item => item.start_row_num)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("eq"); }));
                      columns.Bound(item => item.list_name)
                          .Width(200)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));
                      columns.Command(c => c.Destroy()).Width(100);
                  })
                  .ToolBar(s => s.Custom().Text("Добавить шаблон").Action("VedTemplateEdit", "Ved", new { template_id = 0, }))
                  .Resizable(resize => resize.Columns(true))
                  .Sortable()
                  .Scrollable(scr => scr.Height("auto"))
                  .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
)

<script>
</script>