﻿@using CabinetMvc.Util

@model CabinetMvc.ViewModel.Ved.VedTemplateViewModel

@{
    ViewBag.Title = "Шаблон для импорта ЖНВЛП";
    ViewBag.ImageUrl = "/Images/new/templ-edit.png"; 
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<CabinetMvc.ViewModel.Ved.VedTemplateColumnViewModel> columnList = ViewBag.ColumnList;
}

@section MenuPath {
    <div>
        @Html.ActionLink("Главная", "Index", "Home", null, new { @style = "color:White;" })
        ->
        @Html.ActionLink("Услуги", "DefectList", "Defect", null, new { @style = "color:White;" })
        ->
        @Html.ActionLink("ЖНВЛП", "VedSourceEdit", "Ved", null, new { @style = "color:White;" })
        ->
        @Html.ActionLink("Источники ЖНВЛП", "VedSourceEdit", "Ved", null, new { @style = "color:White;" })
        ->
        @Html.ActionLink("Шаблоны для импорта ЖНВЛП", "VedTemplateList", "Ved", null, new { @style = "color:White;" })
        ->
        @Html.ActionLink(((string)ViewBag.Title), "VedTemplateEdit", "Ved", null, new { @style = "color:White;" }) 
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.template_id)    
    @Html.HiddenFor(x => x.AddMode)

    <div class="form-vertical">
        @if (!String.IsNullOrEmpty((string)@ViewBag.Message))
        {
            <div class="k-block k-success-colored" style="margin-bottom: 10px;">
                <strong>@ViewBag.Message</strong>
            </div>
        }
        
        <div class="form-group">
            @Html.LabelFor(model => model.template_name, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.template_name, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.template_name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.start_row_num, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.start_row_num, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.start_row_num, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.list_name, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.list_name, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.list_name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Колонки", new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @(Html.Kendo().Grid<CabinetMvc.ViewModel.Ved.VedTemplateColumnViewModel>(columnList)
                .Name("vedTemplateColumnGrid")
                .DataSource(dataSource => dataSource.Ajax()
                    .Model(model =>
                    {
                        model.Id(m => m.item_id);
                        model.Field(f => f.column_id_str).Editable(false);
                        model.Field("is_active", typeof(bool)).Editable(true);
                        model.Field("is_for_match", typeof(bool)).Editable(true);
                    })
                .Sort(s => s.Add("column_id").Ascending())
                )
                .Columns(columns =>
                {
                    columns.Bound(item => item.column_id_str)
                        .Width(100)
                        ;
                    columns.Bound(item => item.column_num)
                        .Width(100)
                        ;
                    columns.Bound(item => item.is_active)
                        .ClientTemplate(
                        "<input type='checkbox' value= '#=is_active#' class='chkbx1' " +
                        "# if (is_active) { #" +
                        "checked='checked'" +
                        "# } #" +
                        "/>"
                        )
                        .Width(100)
                        ;
                    columns.Bound(item => item.is_for_match)
                        .ClientTemplate(
                        "<input type='checkbox' value= '#=is_for_match#' class='chkbx2' " +
                        "# if (is_for_match) { #" +
                        "checked='checked'" +
                        "# } #" +
                        "/>"
                        )                        
                        .Width(100)
                        ;
                })
                .Events(e => e.DataBound("onGridDataBound"))
                .Filterable(f => f.Enabled(false))
                .Editable(e => e.Mode(GridEditMode.InCell))
                )
            </div>
        </div>
        <div class="form-group" style="margin-top: 10px;">
            <div class="col-sm-offset-2 col-md-10">
                <input type="button" value="Сохранить" class="btn btn-default k-button" id="btnSubmit" />
                <input type="submit" value="save" class="btn" id="btnSubmitProceed" style="visibility:hidden;" />
            </div>
        </div>
    </div>

}
<script>
    $(function () {
        $("form").kendoValidator();
    });
    $("#btnSubmit").click(function (e) {
        e.preventDefault();
        var validator = $("form").getKendoValidator();
        if (validator.validate()) {
            $('#btnSubmit').removeClass('k-state-active');
            $('#btnSubmit').attr('disabled', true);
            var templ_data = kendo.stringify({ templ_data: $("#vedTemplateColumnGrid").data("kendoGrid").dataSource.view(), template_id: "@Model.template_id", template_name: $('#template_name').val(), start_row_num: $('#start_row_num').val(), list_name: $('#list_name').val() });
            $.ajax({
                type: "POST",
                url: "VedTemplateEdit",
                data: templ_data,
                contentType: 'application/json; charset=windows-1251',
                success: function (response) {
                    window.location = "/VedTemplateList";                    
                },
                error: function (response) {
                    alert('Ошибка при добавлении шаблона !');                    
                }
            });
            return true;
        }
        else {
            return false;
        };

    });
    function onGridDataBound(e) {
        var grid = $('#vedTemplateColumnGrid').data().kendoGrid;
        $.each(grid.dataSource.view(), function () {
            this.dirty = true;
        });
    };
    $(function () {
        $('#vedTemplateColumnGrid').on('click', '.chkbx1', function () {
            var checked = $(this).is(':checked');
            var grid = $('#vedTemplateColumnGrid').data().kendoGrid;
            var dataItem = grid.dataItem($(this).closest('tr'));            
            dataItem.set('is_active', checked);
            grid.refresh();
        })
    });
    $(function () {
        $('#vedTemplateColumnGrid').on('click', '.chkbx2', function () {
            var checked = $(this).is(':checked');
            var grid = $('#vedTemplateColumnGrid').data().kendoGrid;
            var dataItem = grid.dataItem($(this).closest('tr'));
            dataItem.set('is_for_match', checked);
            grid.refresh();
        })
    });
</script>

