.storage {
    background-image: url('/Images/new/storage-png.png?1105');
    background-repeat: no-repeat;
    vertical-align: middle;
    display: inline-block;
}

.storage-block {
    background-image: url('/Images/new/storage-png.png?1105');
    background-repeat: no-repeat;
    vertical-align: middle;
    display: block;
}

.storage-arc {
    width: 16px;
    height: 16px;
    background-position: -5px -5px;
}

.storage-basket {
    width: 16px;
    height: 16px;
    background-position: -31px -5px;
}

.storage-collapse {
    width: 16px;
    height: 16px;
    background-position: -57px -5px;
}

.storage-download {
    width: 16px;
    height: 16px;
    background-position: -83px -5px;
}

.storage-download-2 {
    width: 16px;
    height: 16px;
    background-position: -109px -5px;
}

.storage-download-all {
    width: 16px;
    height: 16px;
    background-position: -5px -31px;
}

.storage-excel {
    width: 16px;
    height: 16px;
    background-position: -31px -31px;
}

.storage-expand {
    width: 16px;
    height: 16px;
    background-position: -57px -31px;
}

.storage-file {
    width: 16px;
    height: 16px;
    background-position: -83px -31px;
}

.storage-file-add {
    width: 16px;
    height: 16px;
    background-position: -109px -31px;
}

.storage-file-del {
    width: 16px;
    height: 16px;
    background-position: -5px -57px;
}

.storage-file-edit {
    width: 16px;
    height: 16px;
    background-position: -31px -57px;
}

.storage-file-versions {
    width: 16px;
    height: 16px;
    background-position: -57px -57px;
}

.storage-file-warn {
    width: 16px;
    height: 16px;
    background-position: -83px -57px;
}

.storage-film {
    width: 16px;
    height: 16px;
    background-position: -109px -57px;
}

.storage-folder {
    width: 16px;
    height: 16px;
    background-position: -5px -83px;
}

.storage-folder-add {
    width: 16px;
    height: 16px;
    background-position: -31px -83px;
}

.storage-folder-del {
    width: 16px;
    height: 16px;
    background-position: -57px -83px;
}

.storage-folder-edit {
    width: 16px;
    height: 16px;
    background-position: -83px -83px;
}

.storage-folder-warn {
    width: 16px;
    height: 16px;
    background-position: -109px -83px;
}

.storage-folders {
    width: 16px;
    height: 16px;
    background-position: -5px -109px;
}

.storage-help {
    width: 16px;
    height: 16px;
    background-position: -31px -109px;
}

.storage-image {
    width: 16px;
    height: 16px;
    background-position: -57px -109px;
}

.storage-music {
    width: 16px;
    height: 16px;
    background-position: -83px -109px;
}

.storage-pdf {
    width: 16px;
    height: 16px;
    background-position: -109px -109px;
}

.storage-ppt {
    width: 16px;
    height: 16px;
    background-position: -135px -5px;
}

.storage-search {
    width: 16px;
    height: 16px;
    background-position: -135px -31px;
}

.storage-sql {
    width: 16px;
    height: 16px;
    background-position: -135px -57px;
}

.storage-text {
    width: 16px;
    height: 16px;
    background-position: -135px -83px;
}

.storage-upload {
    width: 16px;
    height: 16px;
    background-position: -135px -109px;
}

.storage-upload-2 {
    width: 16px;
    height: 16px;
    background-position: -5px -135px;
}

.storage-url {
    width: 16px;
    height: 16px;
    background-position: -31px -135px;
}

.storage-word {
    width: 16px;
    height: 16px;
    background-position: -57px -135px;
}

.storage-xml {
    width: 16px;
    height: 16px;
    background-position: -83px -135px;
}
