﻿@*@model IEnumerable<Kendo_UI_Bootstrap_Integration.Models.ChartViewModel>*@

<div id="example" class="container">
    <section class="well">
        <h2 class="ra-well-title">What is this page?</h2>

        <p>This page shows how to use Kendo UI alongside Twitter Bootstrap.</p>

        <p>The grid layout and responsive CSS is provided by Bootstrap, and widgets are provided by Kendo UI.</p>

        <p>Resize the page or customize it using the pickers above to see its responsive features.</p>

        <p>The source for this demo is <a href="https://github.com/telerik/kendo-bootstrap-demo">available on GitHub</a></p>
    </section>

    @(Html.Kendo().Menu()
        .Name("menu")
        .Items(children =>
            {
                children.Add().Text("Profile").Url("#profile");
                children.Add().Text("Schedule").Url("#schedule");
                children.Add().Text("Orders").Url("#orders");
                children.Add().Text("Gallery").Url("#gallery");
                children.Add().Text("FAQ").Url("#faq");
                children.Add().Text("Kendo UI demos").Url("http://demos.telerik.com/kendo-ui");
            }
        )
    )
    <div class="row clearfix">
        <div class="col-lg-4">
            <section id="profile" class="well">
                <h2 class="ra-well-title">Profile</h2>

                <div class="row">
                    <div class="col-lg-5 col-sm-2">
                        <img src="assets/avatar.jpg" class="ra-avatar img-responsive" />
                    </div>

                    <div class="col-lg-7 col-sm-2">
                        <span class="ra-first-name">Jonathan</span>
                        <span class="ra-last-name">Dodsworth</span>
                        <div class="ra-position">Inside Sales Coordinator</div>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-lg-8">
            @(Html.Kendo().TabStrip()
                .Name("tabstrip")
                .Items(tabstrip =>
                    {
                        tabstrip.Add().Text("<span class='km-icon revenue'></span><span class='hidden-xs'>Revenue</span>")
                                .Encoded(false)
                                .Selected(true)
                                .Content(@<text>
                                        @(Html.Kendo().Chart<Kendo_UI_Bootstrap_Integration.Models.RevenueViewModel>()
                                            .Name("revenue")
                                            .DataSource(ds => ds.Read(read => read.Action("Revenue", "Home")))
                                            .Transitions(false)
                                            .Theme("bootstrap")
                                            .ChartArea(chart => chart.Margin(10, 5, 0, 10).Background("transparent"))
                                            .Legend(l => l.Visible(false))
                                            .SeriesDefaults(s=>s
                                                .Column()
                                                .Stack(true))
                                            .CategoryAxis(a=>a
                                                .Line(l=>l.Visible(false))
                                                .MajorGridLines(m=>m.Visible(false))
                                                .Labels(l=>l.Visible(false)) 
                                                .Categories(m=>m.Date))
                                            .Series(series => {
                                               series.Column(model => model.Canterbury).Name("Canterbury");
                                               series.Column(model => model.Manchester).Name("Manchester");
                                               series.Column(model => model.Rochester).Name("Rochester");
                                            })
                                            .ValueAxis(v=>v
                                                .Numeric()
                                                .Labels(l=>l
                                                    .Step(2)
                                                    .Template("$#= value #")
                                                )
                                                .PlotBands(bands => bands
                                                    .Add().From(30000).To(50000).Color("#a7c9e6").Opacity(0.3)
                                                ))
                                           .Tooltip(t=>t.Visible(true).Template("#= series.name # <br /> #= category #: $#= value #"))
                                        )
            </text>);
                        tabstrip.Add().Text("<span class='km-icon spd'></span><span class='hidden-xs'>Sales / day</span>")
                                .Encoded(false)
                                .Content(@<text>
                                            @(Html.Kendo().Chart<Kendo_UI_Bootstrap_Integration.Models.SalesPerDayViewModel>()
                                            .Name("sales-per-day")
                                            .DataSource(ds => ds.Read(read => read.Action("SalesPerDay", "Home")))
                                            .Transitions(false)
                                            .Theme("bootstrap")
                                            .ChartArea(chart => chart.Margin(0, 10, 0, 0).Background("transparent"))
                                            .Legend(l => l.Visible(false))
                                            .SeriesDefaults(s => s.VerticalBullet())
                                            .CategoryAxis(a => a.Categories(m => m.Date)
                                                .Labels(l => l.Visible(false))
                                                .MajorGridLines(m => m.Visible(false)))
                                            .Series(s => s.VerticalBullet(m => m.Value, m => m.Target))
                                            .Tooltip(t => t.Visible(false))
                                            .ValueAxis(v => v.Date().Labels(l => l.Step(2)).PlotBands(bands =>
                                            {
                                                bands.Add().From(10000).To(20000).Color("#ff0000").Opacity(0.05);
                                            }))
                                            )
            </text>);
                        tabstrip.Add().Text("<span class='km-icon spr'></span><span class='hidden-xs'>Sales / region</span>")
                                .Encoded(false)
                                .Content(@<text>
                                            @(Html.Kendo().Chart<Kendo_UI_Bootstrap_Integration.Models.SalesPerRegionViewModel>()
                                            .Name("sales-per-region")
                                            .DataSource(ds => ds.Read(read => read.Action("SalesPerRegion", "Home")))
                                            .Transitions(false)
                                            .Theme("bootstrap")
                                            .Legend(l=>l.Visible(false))
                                            .ChartArea(c=>c.Margin(10, 8, 0, 10).Background("transparent"))        
                                            .SeriesDefaults(s=>s
                                                .Area()
                                                .Line(l=>l.Style(ChartAreaStyle.Smooth))
                                                .Stack(true))                                       
                                            .CategoryAxis(a=>a
                                                .Categories(m=>m.Date)
                                                .Line(l=>l.Visible(false))
                                                .Labels(l=>l.Visible(false))
                                                .MajorGridLines(l=>l.Visible(false))
                                                )
                                           .Tooltip(t=>t.Visible(false).Template("#= series.name # <br /> #= category #: #= value #"))
                                           .Series(series => {
                                               series.Area(model => model.Canterbury).Name("Canterbury");
                                               series.Area(model => model.Manchester).Name("Manchester");
                                               series.Area(model => model.Rochester).Name("Rochester");
                                            })
                                            .ValueAxis(v=>v.Numeric().Labels(l=>l.Step(2)))
                                        )
            </text>);
                        tabstrip.Add().Text("<span class='km-icon share'></span><span class='hidden-xs'>Market share</span>")
                                .Encoded(false)
                                .Content(@<text>
                                            @(Html.Kendo().Chart<Kendo_UI_Bootstrap_Integration.Models.DonutChartViewModel>()
                                                .HtmlAttributes(new { @class = "market-donut"})
                                                .Name("market-alice-mutton")
                                                .DataSource(ds => ds.Read(read => read.Action("AliceMutton", "Home")).Group(g => g.Add(d=> d.Series)))
                                                .Transitions(false)
                                                .Theme("bootstrap")
                                                .Title(t => t
                                                    .Text("Alice Mutton")
                                                    .Position(ChartTitlePosition.Bottom)
                                                    .Padding(4)
                                                    .Margin(0))
                                                .Legend(l => l.Visible(false))
                                                .ChartArea(c => c
                                                    .Margin(15, 0, 0, 0)
                                                    .Background("transparent"))
                                                .Series(series => {
                                                    series.Donut(d => d.Value, d => d.Category);
                                                })
                                                .Tooltip(t=>t
                                                    .Visible(true)
                                                    .Template("#= category # (#= series.name #): #= value #%"))
                                            )

                                            @(Html.Kendo().Chart<Kendo_UI_Bootstrap_Integration.Models.DonutChartViewModel>()
                                                .HtmlAttributes(new { @class = "market-donut"})
                                                .Name("market-gravad")
                                                .DataSource(ds => ds.Read(read => read.Action("Gravad", "Home")).Group(g => g.Add(d=> d.Series)))
                                                .Transitions(false)
                                                .Theme("bootstrap")
                                                .Title(t => t
                                                    .Text("Gravad lax")
                                                    .Position(ChartTitlePosition.Bottom)
                                                    .Padding(4)
                                                    .Margin(0))
                                                .Legend(l => l.Visible(false))
                                                .ChartArea(c => c
                                                    .Margin(15, 0, 0, 0)
                                                    .Background("transparent"))
                                                .Series(series => {
                                                    series.Donut(d => d.Value, d => d.Category);
                                                })
                                                .Tooltip(t=>t
                                                    .Visible(true)
                                                    .Template("#= category # (#= series.name #): #= value #%"))
                                            )

                                            @(Html.Kendo().Chart<Kendo_UI_Bootstrap_Integration.Models.DonutChartViewModel>()
                                                .HtmlAttributes(new { @class = "market-donut"})
                                                .Name("market-inlagd")
                                                .DataSource(ds => ds.Read(read => read.Action("Inlagd", "Home")).Group(g => g.Add(d=> d.Series)))
                                                .Transitions(false)
                                                .Theme("bootstrap")
                                                .Title(t => t
                                                    .Text("Inlagd Sill")
                                                    .Position(ChartTitlePosition.Bottom)
                                                    .Padding(4)
                                                    .Margin(0))
                                                .Legend(l => l.Visible(false))
                                                .ChartArea(c => c
                                                    .Margin(15, 0, 0, 0)
                                                    .Background("transparent"))
                                                .Series(series => {
                                                    series.Donut(d => d.Value, d => d.Category);
                                                })
                                                .Tooltip(t=>t
                                                    .Visible(true)
                                                    .Template("#= category # (#= series.name #): #= value #%"))
                                            )

                                       @(Html.Kendo().Chart<Kendo_UI_Bootstrap_Integration.Models.DonutChartViewModel>()
                                                .HtmlAttributes(new { @class = "market-donut"})
                                                .Name("market-spageslid")
                                                .DataSource(ds => ds.Read(read => read.Action("Spegesild", "Home")).Group(g => g.Add(d=> d.Series)))
                                                .Transitions(false)
                                                .Theme("bootstrap")
                                                .Title(t => t
                                                    .Text("Spageslid")
                                                    .Position(ChartTitlePosition.Bottom)
                                                    .Padding(4)
                                                    .Margin(0))
                                                .Legend(l => l.Visible(false))
                                                .ChartArea(c => c
                                                    .Margin(15, 0, 0, 0)
                                                    .Background("transparent"))
                                                .Series(series => {
                                                    series.Donut(d => d.Value, d => d.Category);
                                                })
                                                .Tooltip(t=>t
                                                    .Visible(true)
                                                    .Template("#= category # (#= series.name #): #= value #%"))
                                            )
            </text>);
                    }
                )
            )

        </div>
    </div>

    <section class="well">
        <h2 class="ra-well-title">Profile Setup</h2>
        <div class="form-horizontal form-widgets col-sm-6">
            <div class="form-group">
                <label class="control-label col-sm-4" for="name">Name</label>
                <div class="col-sm-8 col-md-6">
                    <input id="name" value="Johnatan Dodsworth" class="k-textbox" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="birthday">Birthday</label>
                <div class="col-sm-8 col-md-6">
                    @(Html.Kendo().DatePicker().Name("date").Value("10/09/1979"))
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="gender">Gender</label>
                <div class="col-sm-8 col-md-6">
                    @(Html.Kendo().DropDownList()
                        .Name("gender")
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .Value("Male")
                        .BindTo(new List<SelectListItem>() {
                              new SelectListItem() {
                                  Text = "Male",
                                  Value = "Male"
                              },
                              new SelectListItem() {
                                  Text = "Female",
                                  Value = "Female"
                              }
                          })
                        )
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="language">Language</label>
                <div class="col-sm-8 col-md-6">
                    @(Html.Kendo().DropDownList()
                        .Name("language")
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .Value("English")
                        .BindTo(new List<SelectListItem>() {
                              new SelectListItem() {
                                  Text = "English",
                                  Value = "English"
                              },
                              new SelectListItem() {
                                  Text = "German",
                                  Value = "German"
                              }
                          })
                        )
                </div>
            </div>
        </div>

        <div class="form-horizontal form-widgets col-sm-6">
            <div class="form-group">
                <label class="control-label col-sm-4" for="occupation">Occupation</label>
                <div class="col-sm-8 col-md-6">
                    <input id="occupation" placeholder="e.g. Developer" class="k-textbox" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="skills">Skills</label>
                <div class="col-sm-8 col-md-6">
                    @(Html.Kendo().MultiSelect()
                        .Name("skills")
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .Value(new string[] { "C#", "jQuery" })
                        .BindTo(new List<SelectListItem>() {
                              new SelectListItem() {
                                  Text = "C",
                                  Value = "C"
                              },
                              new SelectListItem() {
                                  Text = "C++",
                                  Value = "C++"
                              },
                              new SelectListItem() {
                                  Text = "C#",
                                  Value = "C#"
                              },
                              new SelectListItem() {
                                  Text = "JavaScript",
                                  Value = "JavaScript"
                              },
                              new SelectListItem() {
                                  Text = "jQuery",
                                  Value = "jQuery"
                              },
                              new SelectListItem() {
                                  Text = "Git",
                                  Value = "Git"
                              },
                              new SelectListItem() {
                                  Text = "Node.js",
                                  Value = "Node.js"
                              },
                              new SelectListItem() {
                                  Text = "Ruby",
                                  Value = "Ruby"
                              },
                              new SelectListItem() {
                                  Text = "Ruby on Rails",
                                  Value = "Ruby on Rails"
                              },
                              new SelectListItem() {
                                  Text = "Kendo UI",
                                  Value = "Kendo UI"
                              }
                          })
                        )
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="experience">Experience</label>
                <div class="col-sm-8 col-md-6">
                    @(Html.Kendo().NumericTextBox()
                    .Name("experience")
                    .Value(4))
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="form-horizontal form-widgets col-sm-12">
            <div class="form-group">
                <label class="control-label col-sm-2" for="bio">Short bio</label>
                <div class="col-sm-10">
                    @(Html.Kendo().Editor().Name("bio"))
                </div>
            </div>
        </div>

        <div class="buttons-wrap">
            <button class="k-button k-state-default">Cancel</button>
            <button class="k-button k-state-default">Update</button>
        </div>
    </section>

    @(Html.Kendo().Grid<Kendo_UI_Bootstrap_Integration.Orders.OrderViewModel>()
                    .Name("orders")
                    .HtmlAttributes(new { @class = "ra-section" })
                    .Columns(columns =>
                    {
                        columns.Bound(p => p.OrderID).Width(70);
                        columns.Bound(p => p.ShipCountry).Title("Ship Country").Width("20%");
                        columns.Bound(p => p.ShipAddress).Title("Ship Address");
                    })
                    .Pageable(p => p.ButtonCount(4))
                    .Groupable(g => g.Enabled(true))
                    .Sortable(s => s.Enabled(true))
                    .Scrollable(s => s.Enabled(false))
                    .DataSource(dataSource => dataSource
                            .Custom()
                            .Type("odata")
                            .PageSize(10)
                            .ServerPaging(true)
                            .ServerSorting(true)
                            .ServerFiltering(true)
                            .Transport(t => t.Read(r => r.Url("http://demos.telerik.com/kendo-ui/service/Northwind.svc/Orders")))
                    )

     )

    @(Html.Kendo().Scheduler<Kendo_UI_Bootstrap_Integration.Scheduler.TaskViewModel>()
    .Name("schedule")
    .Date(new DateTime(2013, 6, 13))
    .StartTime(new DateTime(2013, 6, 13, 7, 00, 00))
    .EndTime(new DateTime(2013, 6, 13, 20, 00, 00))
    .HtmlAttributes(new { @class = "ra-section" })
    .Views(views =>
    {
        views.DayView(dayView => dayView.Selected(true));
        views.WeekView();
        views.MonthView();
    })
    .Editable(false)
    .Timezone("Etc/UTC")
    .DataSource(dataSource => dataSource
        .Custom()
        .Transport(t => t
            .Read(r => r
                .Url("http://demos.telerik.com/kendo-ui/service/meetings")
                .DataType("jsonp"))
        )
        .Schema(schema => schema
            .Model(m =>
            {
                m.Id(f => f.TaskID);
                m.Field("title", typeof(string)).DefaultValue("No title").From("Title");
                m.Field("start", typeof(DateTime)).From("Start");
                m.Field("end", typeof(DateTime)).From("End");
                m.Field("description", typeof(string)).From("Description");
                m.Field("recurrenceID", typeof(int)).From("RecurrenceID");
                m.Field("recurrenceRule", typeof(string)).From("RecurrenceRule");
                m.Field("recurrenceException", typeof(string)).From("RecurrenceException");
                m.Field("isAllDay", typeof(bool)).From("IsAllDay");
                m.Field("startTimezone", typeof(string)).From("StartTimezone");
                m.Field("endTimezone", typeof(string)).From("EndTimezone");
            })
            )
    )
    )

    <section id="gallery" class="well">
        <h2 class="ra-well-title">Latest photo uploads</h2>

        <script id="listview-template" type="x-kendo-template">
                    <li class="col-xs-6 col-md-4 col-lg-2">
                        <figure>
                            <img src="assets/photos/#= Id #.jpg" class="img-responsive" />
                            <figcaption class="hidden-xs">
                                <h4>#: Title #</h4>
                                <p class="hidden-sm">
                                    #: Description #
                                </p>
                            </figcaption>
                        </figure>
                    </li>
        </script>
        @(Html.Kendo().ListView<Kendo_UI_Bootstrap_Integration.ListViewModel>()
            .Name("listview")
            .HtmlAttributes(new { @class = "ra-well-overlay row" })
            .ClientTemplateId("listview-template")
            .TagName("div")
            .BindTo(new List<ListViewModel>() {
                              new ListViewModel() {
                                  Id = 1,
                                  Title = "Sunrise",
                                  Description = "And what a great July morning it was..."
                              },
                              new ListViewModel() {
                                  Id = 2,
                                  Title = "Fisherman",
                                  Description = "Fishing on the north shore"
                              },
                              new ListViewModel() {
                                  Id = 3,
                                  Title = "Green Forest",
                                  Description = "Summer is everywhere"
                              },
                              new ListViewModel() {
                                  Id = 4,
                                  Title = "Cactus",
                                  Description = "A yellow one..."
                              },
                              new ListViewModel() {
                                  Id = 5,
                                  Title = "Moss",
                                  Description = "Nice mossy green"
                              },
                              new ListViewModel() {
                                  Id = 6,
                                  Title = "Red Boat",
                                  Description = "In the middle of nowhere"
                              },
                              new ListViewModel() {
                                  Id = 7,
                                  Title = "Country Road",
                                  Description = "On my way home"
                              },
                              new ListViewModel() {
                                  Id = 8,
                                  Title = "Bloom",
                                  Description = "Cherry blossoms in full bloom"
                              },
                              new ListViewModel() {
                                  Id = 9,
                                  Title = "San Francisco",
                                  Description = "San Francisco by sunset"
                              },
                              new ListViewModel() {
                                  Id = 10,
                                  Title = "Peaks",
                                  Description = "Was a great holiday"
                              },
                              new ListViewModel() {
                                  Id = 11,
                                  Title = "Thunderstorm",
                                  Description = "Midnight storm on its way"
                              },
                              new ListViewModel() {
                                  Id = 12,
                                  Title = "Leafs",
                                  Description = "Autumn leafs on the patio"
                              }
                          })
        )
    </section>

    <section id="faq" class="well">
        <h2 class="ra-well-title">
            <abbr title="Frequently Asked Questions">FAQ</abbr></h2>

        @(Html.Kendo().PanelBar()
            .Name("panelbar")
            .HtmlAttributes(new { @class = "ra-well-overlay" })
            .Items(panelbar =>
                    {
                        panelbar.Add().Text("What is Kendo UI")
                                .Selected(true)
                                .Content(@<text>
        <div>
            <p>Kendo UI is a HTML5, jQuery-based framework for building modern HTML apps. Kendo UI combines the best of emerging HTML5, CSS3, and JavaScript technologies with robust, cross-browser techniques to deliver a framework that is both powerfully rich and broadly compatible with older browsers.</p>
            <p>Kendo UI combines everything that a developer needs to build a rich JavaScript app, eliminating the traditional challenge of manually researching and combining all of the needed plug-ins, frameworks, and libraries needed to build apps. Kendo UI includes rich UI controls for desktop, mobile and data vizualization, a JavaScript DataSource, fast Templates, cross-device Drag and Drop API, Globalization, Validation and MVVM framework extensions, and more.</p>
            <p><a href="http://www.telerik.com/download/kendo-ui-complete">Download Kendo UI</a> and experience the difference today</p>
        </div></text>);
                        panelbar.Add().Text("Who should use Kendo UI?")
                                            .Encoded(false)
                                            .Content(@<text>
        <div>
            <p>Kendo UI is a HTML5, jQuery-based framework for building modern HTML apps. Kendo UI combines the best of emerging HTML5, CSS3, and JavaScript technologies with robust, cross-browser techniques to deliver a framework that is both powerfully rich and broadly compatible with older browsers.</p>
            <p>Kendo UI combines everything that a developer needs to build a rich JavaScript app, eliminating the traditional challenge of manually researching and combining all of the needed plug-ins, frameworks, and libraries needed to build apps. Kendo UI includes rich UI controls for desktop, mobile and data vizualization, a JavaScript DataSource, fast Templates, cross-device Drag and Drop API, Globalization, Validation and MVVM framework extensions, and more.</p>
            <p><a href="http://www.telerik.com/download/kendo-ui-complete">Download Kendo UI</a> and experience the difference today</p>
        </div></text>);
                        panelbar.Add().Text("What are Kendo UI widgets?")
                                            .Encoded(false)
                                            .Content(@<text>
        <div>
            <p>Kendo UI widgets are part of the Kendo UI Framework. Kendo UI widgets are grouped into three collections:</p>
            <ul>
                <li>Kendo UI Web for touch-enabled desktop development</li>
                <li>Kendo UI DataViz for desktop and mobile data vizualizations</li>
                <li>Kendo UI Mobile for mobile app development, including PhoneGap deployment</li>
            </ul>
            <p>
                All widgets complement the tooling you need for modern HTML5 and JavaScript development.<br />
                <br />
                The Kendo UI Framework provides more than UI, and in the future Kendo UI will offer additional tools to modern HTML developers.
            </p>
        </div></text>);
                        panelbar.Add().Text("How do you use Kendo UI?")
                                            .Encoded(false)
                                            .Content(@<text>
        <div>
            <p>Kendo UI is a pure JavaScript framework, so using Kendo UI is as simple as referencing JavaScript and CSS resources on your page. Once Kendo UI is configured on your page, the rich API gives you everything you need to initialize and configure an application.</p>
            <p>To learn more about using and installing Kendo UI, visit the Kendo UI&nbsp;<a href="http://demos.telerik.com/kendo-ui">online demos</a>.</p>
        </div></text>);
                    }
                )
        )
    </section>
    <footer>Copyright &copy; 2013 <a href="http://telerik.com/">Telerik Inc</a>. All rights reserved.</footer>
</div>
