﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util

@{
    ViewBag.Title = "Главная";
    ViewBag.ImageUrl = "/Images/new/main.png";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currUser = ((CabinetMvc.Controllers.BaseController)ViewContext.Controller).CurrentUser;
    CabinetMvc.ViewModel.Discount.BusinessSummaryViewModel businessSummary = ViewBag.BusinessSummary;
    CabinetMvc.ViewModel.Defect.DefectSummaryViewModel defectSummary = ViewBag.DeffectSummary;    
}

@section sideMenu {
    @(Html.CabSidePanel())
}

@if (TempData["error"] != null)
{
    <div class="k-block k-error-colored">
        @TempData["error"]
    </div>
}

@(Html.Kendo().PanelBar()
.ExpandMode(PanelBarExpandMode.Multiple)
.Name("pnlMainPage")
.Items(panel =>
    {
        panel.Add()
            .Text("Сервисы")
            .Expanded(true)            
            .Content(
            @<text>
                <section class="well">
                    <div id="service-widget-content">
                        <div id="discount-widget" class="service-widget">
                            <h3>Дисконтные карты</h3>
                            <div>
                                @if (currUser.HaveDiscount)
                                {
                                    <dl class="dl-horizontal">
                                        <dt>всего карт: @businessSummary.card_cnt (дисконтные - @businessSummary.card_type_group_1_cnt, бонусные - @businessSummary.card_type_group_2_cnt, смешанные - @businessSummary.card_type_group_3_cnt)</dt>
                                        <dd><a href='@Url.Action("CardList", "Card", new { })'>перейти к списку карт</a></dd>
                                        <dt>владельцев карт: @businessSummary.card_holder_cnt</dt>
                                        <dd><a href='@Url.Action("CardClientList", "Card", new { })'>перейти к владельцам</a></dd>
                                        <dt>продаж: @businessSummary.card_trans_cnt (за сегодня - @businessSummary.card_trans_today_cnt)</dt>
                                        <dd><a href='@Url.Action("CardTransactionList", "Card", new { })'>перейти к продажам</a></dd>
                                    </dl>

                                    @(Html.Kendo().Chart<CabinetMvc.ViewModel.Discount.BusinessSummaryGraphViewModel>(businessSummary.graph)
                                            .Name("businessGraph")
                                        //.DataSource(ds => ds.Read(read => read.Action("SalesPerRegion", "Home")))
                                            .Transitions(false)
                                            .Title("График продаж")
                                        //.Theme("bootstrap")
                                            .Legend(l => l.Visible(false))
                                            .ChartArea(c => c.Margin(10, 8, 0, 10).Background("transparent"))
                                            .SeriesDefaults(s => s
                                                .Area()
                                                .Line(l => l.Style(ChartAreaStyle.Smooth))
                                                .Stack(true))
                                            .CategoryAxis(a => a
                                                .Categories(m => m.date_beg_date)
                                                //.Line(l => l.Visible(false))
                                                .Labels(l => l.Step(30).Format("{0:dd.MM.yy}"))
                                                //.Labels(l => l.Visible(false))
                                                .MajorGridLines(l => l.Visible(false))
                                                )
                                                   .Tooltip(t => t.Visible(true).Template("#= series.name # <br /> #=kendo.format('{0:dd.MM.yy}',category)#: #= value #"))
                                           .Series(series =>
                                           {
                                               series.Area(model => model.trans_sum_total).Name("Сумма продаж");
                                           })
                                            .ValueAxis(v => v.Numeric().Labels(l => l.Step(2)))
                                    )
                                }
                                else
                                {
                                    <span class="text-muted">услуга не зарегестрирована</span>
                                }                                                            
                            </div>    
                        </div>

                        <div id="exchange-widget" class="service-widget">
                            <h3>Обмен с партнерами</h3>
                            <div>
                            @if (currUser.HaveExchange)
                            {
                                <dl class="dl-horizontal">
                                    <dt>
                                        партнеры:
                                        <a href='@Url.Action("ExchangePartnerList", "Exchange")'>Мелодия здоровья</a>
                                        |
                                        <a href='@Url.Action("ExchangePartnerList", "Exchange")'>АСНА</a>
                                    </dt>
                                    <dd><a href='@Url.Action("ExchangeClientList", "Exchange")'>перейти к настройкам обмена</a></dd>
                                </dl>
                                <button type="button" class="btn btn-success" id="btnExchangeMonitor"><img src='@Url.Content("~/Images/new/monitor.png")' />Монитор обмена</button>
                            }
                            else
                            {
                                <span class="text-muted">услуга не зарегестрирована</span>
                            }
                            </div>
                        </div>                        
               
                        <div id="defect-widget" class="service-widget">
                            <h3>Брак</h3>
                            <div>
                                @if (currUser.HaveDefect)
                                { 
                                <dl class="dl-horizontal">
                                    <dt>обновлено на сайте: @defectSummary.defect_upd_date</dt>
                                    <dd><a href='@Url.Action("DefectList", "Defect", new { })'>перейти к списку брака</a></dd>
                                    <dt>актуальных строк: @defectSummary.defect_cnt</dt>
                                    <dd> </dd>
                                </dl>
                                <button type="button" class="btn btn-success" id="btnDownloadDefect"><img src='@Url.Content("~/Images/new/download.png")' />Скачать</button>
                                }
                                else
                                {
                                    <span class="text-muted">услуга не зарегестрирована</span>
                                }
                            </div>
                        </div>                            
                    </div>
                </section>
            </text>);
    }
    )
)

@(Html.Kendo().Sortable()
    .For("#service-widget-content")
        //.ConnectWith("#sidebar")
    .Cursor("move")
    .PlaceholderHandler("placeholder")
    .HintHandler("hint")
)

<script>
    $(document).ready(function () {
        //
    });

    $('#btnExchangeMonitor').click(function (e) {
        //alert('btnExchangeMonitor clicked !');
        window.location = '/ExchangeMonitor';
    });

    $('#btnDownloadDefect').click(function (e) {
        window.location = '/DefectDownload';
    });

    function placeholder(element) {
        return element.clone().addClass("placeholder");
    };

    function hint(element) {
        return element.clone().addClass("hint")
                    .height(element.height())
                    .width(element.width());
    };

    function onclientServiceGridDataBound(e) {
        drawEmptyRow("#clientServiceGrid");
    };
</script>
