﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util;

@{
    ViewBag.Title = "Главная";    
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<CabinetMvc.ViewModel.Cabinet.ClientUserWidgetViewModel> availableWidgetList = ViewBag.AvailableWidgetList;
    IEnumerable<CabinetMvc.ViewModel.Cabinet.ClientUserWidgetViewModel> installedWidgetList = ViewBag.InstalledWidgetList;
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/home", "main-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("main", "Главные разделы"))
}

<style>
</style>

@(Html.Kendo().Sortable()
    .For("#widget-sidebar")
    .Filter(">div")
    .ConnectWith("#widget-main")
    .Cursor("move")
    .PlaceholderHandler("main.placeholder")
        .HintHandler("main.hint")
        .Events(ev => { ev.Change("main.onSidebarChange"); })
)

@(Html.Kendo().Sortable()
    .For("#widget-main")
    .ConnectWith("#widget-sidebar")
    .Cursor("move")
        .PlaceholderHandler("main.placeholder")
        .HintHandler("main.hint")
        .Events(ev => { ev.Change("main.onMainContentChange"); })
)

    <div class="panel-wrap hidden-on-narrow">
        <div id="widget-main">
            <span id="main-content-default" class="hidden">Перетащите сюда доступные виджеты с правой части экрана</span>
            @foreach (var wid in installedWidgetList.OrderBy(ss => ss.sort_num))
            {
                Html.CabWidget(wid);
            }
        </div>
        <div id="widget-sidebar">
            @foreach (var wid in availableWidgetList.OrderBy(ss => ss.sort_num))
            {
                Html.CabWidget(wid);
            }
        </div>
    </div>

    <div class="responsive-message"></div>

    <script id="service-order-confirmation" type="text/x-kendo-template">
        <div class="panel-success" style="padding-left: 110px; padding-top: 20px;">
            <button class="save-changes-confirm k-button" style="width: 60px;"> Да </button>
            <button class="save-changes-cancel k-button" style="width: 60px;"> Нет </button>
        </div>
    </script>
<script>
    var url_medium_priority_svg = @Url.Content("~/Images/svg/medium_priority.svg");
</script>
