﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util
@{
    ViewBag.Title = "Журнал обмена";    
    Layout = "~/Views/Shared/_Layout.cshtml";
    IQueryable<CabinetMvc.ViewModel.Exchange.ExchangePartnerViewModel> dsList = ViewBag.DsList;
    IQueryable<CabinetMvc.ViewModel.Exchange.ExchangeFileNodeViewModel> clientList = ViewBag.ClientList;
    var currUser = ((CabinetMvc.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/exchange", "exchange-log-list-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("exchange", "Обмен с партнерами"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Услуги", "Main", "Home") - @Html.ActionLink("Обмен с партнерами", "ExchangeLogList", "Exchange") - @Html.ActionLink("Журнал обмена", "ExchangeLogList", "Exchange")
    </div>    
}

<style>
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.Label("Партнер: ", new { @class = "control-label" })
                @(Html.Kendo().DropDownList()
                                                                .Name("dsList")
                                                                .HtmlAttributes(new { @class = "form-control input-sm", @style = "width: 200px !important" })
                                                                .DataTextField("ds_name")
                                                                .DataValueField("ds_id")
                                                                .BindTo(dsList)
                                                                .AutoBind(true)
                                                                .OptionLabel("[все]")
                                                                        .Events(ev => ev.Change("exchangeLogList.onDsListChange"))
                )
                @Html.Label("Организация: ", new { @class = "control-label" })
                @if (currUser.IsAdmin)
                { 
                @(Html.Kendo().DropDownList()
                                                                .Name("clientList")
                                                                .HtmlAttributes(new { @class = "form-control input-sm", @style = "width: 200px !important" })
                                                                .DataTextField("client_name")
                                                                .DataValueField("client_id")
                                                                .BindTo(clientList)                                                                
                                                                .AutoBind(true)
                                                                .OptionLabel("[все]")
                                                                        .Events(ev => ev.Change("exchangeLogList.onClientListChange"))
                )
                }
                else
                {
                    @(Html.Kendo().DropDownList()
                                                                .Name("clientList")
                                                                .HtmlAttributes(new { @class = "form-control input-sm", @style = "width: 200px !important" })
                                                                .DataTextField("client_name")
                                                                .DataValueField("client_id")
                                                                .BindTo(clientList)                                                                
                                                                .AutoBind(true)
                                                                .SelectedIndex(0)
                                                                    .Events(ev => ev.Change("exchangeLogList.onClientListChange"))
                    )
                }
                @(Html.Kendo().CheckBox().Name("chbErrorOnly").Checked(false).Label("только ошибки").HtmlAttributes(new { @class = "k-checkbox", @id = "chbErrorOnly", }))
            </div>
        </div>
    </div>
</div>


@(Html.Kendo().Grid<CabinetMvc.ViewModel.Exchange.ExchangeFileLogViewModel>()
                  .Name("exchangeLogGrid")
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {
                          model.Id(ev => ev.id);
                      })
                      //.PageSize(100)
                    .Sort(sort => {
                        sort.Add("node_name").Ascending();
                    })
                        .Read(read => read.Action("GetExchangeFileLogList", "Exchange").Data("exchangeLogList.getLogParams"))
                            .Group(groups =>
                            {
                                groups.Add(p => p.partner_name);
                                groups.Add(p => p.client_name);
                                groups.Add(p => p.sales_address);
                            })
                   )
                          .ToolBar(tb =>
                          {
                              tb.Template(
                                @<text>
                                    <button id="btnRefresh" class="k-button k-button-icontext" title="Обновить"><span class="k-icon k-i-refresh" title="Обновить"></span></button>
                                    @if (currUser.IsAdmin)
                                    { 
                                    <button id="btnNodeAdd" class="k-button k-button-icontext" title="Добавить точку"><span class="k-icon k-i-plus" title="Добавить точку"></span>Добавить точку</button>
                                    }
                                </text>);
                          })
                  .Columns(columns =>
                  {
                      columns.Bound(item => item.partner_name)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(100)
                          .Hidden(true)
                          ;
                      columns.Bound(item => item.client_name)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(100)
                          .Hidden(true)
                          ;
                      columns.Bound(item => item.sales_address)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(100)
                          .Hidden(true)
                          ;
                      if (currUser.IsAdmin)
                      {
                          columns.Bound(item => item.node_name)
                              .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                              .ClientTemplate("<a href='/ExchangeFileNodeEdit?node_id=#=node_id#'>#=node_name#</a>")
                              .Width(100)
                              ;
                      }
                      else
                      {
                          columns.Bound(item => item.node_name)
                              .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))                              
                              .Width(100)
                              ;                          
                      }
                      columns.Bound(item => item.item_name)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(100)                          
                          ;
                      columns.Bound(item => item.filename_last)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.period_last)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.filename_prev)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.period_prev)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(100)
                          ;
                  })
                  //.Pageable(page => page.PageSizes(new int[] { 10, 20, 50, 100, 500 }))                  
                  .Pageable(pg => pg.Enabled(false))
                  .Groupable(gr => gr.Enabled(false))
                  .Resizable(resize => resize.Columns(true))
                  .Scrollable(scr => scr.Height("auto"))
                  .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                  .Sortable(srt => srt.SortMode(GridSortMode.SingleColumn))
                .Events(ev => ev.DataBound("exchangeLogList.onExchangeLogGridDataBound"))
)

<script>
</script>