﻿@using CabinetMvc.Extensions

@model CabinetMvc.ViewModel.Exchange.ExchangeDocDataViewModel

@{
    ViewBag.Title = "Просмотр данных обмена";    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MenuPath {
    <div>
        @Html.ActionLink("Главная", "Index", "Home", null, new { @style = "color:White;" })
        ->
        @Html.ActionLink("Услуги", "DefectList", "Defect", null, new { @style = "color:White;" })
        ->
        @Html.ActionLink("Обмен", "ExchangeClientList", "Exchange", null, new { @style = "color:White;" })
        ->
        @Html.ActionLink(((string)ViewBag.Title), "ExchangeDocDataView", "Exchange", null, new { @style = "color:White;" }) 
    </div>
}

<div class="form-horizontal">
    <div class="form-group" style="padding-top:10px;">
        @Html.TextAreaAutoSizeFor(model => model.DataTextFromBinary, new { @style = "width: 80%;" })
    </div>
</div>



