﻿@using CabinetMvc.Extensions
@{
    ViewBag.Title = "Партнеры";    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section sideMenu {
    @(Html.CabSidePanel("exchange", "Обмен с партнерами"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Услуги", "ExchangeMonitor", "Exchange") - @Html.ActionLink("Обмен с партнерами", "ExchangeMonitor", "Exchange") - @Html.ActionLink("Партнеры", "ExchangePartnerList", "Exchange")
    </div>
}

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
@(Html.Kendo().Grid<CabinetMvc.ViewModel.Exchange.ExchangePartnerViewModel>()
                  .Name("exchangePartnerListGrid")
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {
                          model.Id(id => id.ds_id);
                          model.Field(ss => ss.ds_id).Editable(false);
                      })
                      .Events(e => e.Error("onGridError('exchangePartnerListGrid')"))
                      .Sort(sort => sort.Add("ds_id").Ascending())
                      .Read(read => read.Action("GetExchangePartnerList", "Exchange"))
                      .Create(cr => cr.Action("ExchangePartnerAdd", "Exchange"))
                      .Update(up => up.Action("ExchangePartnerEdit", "Exchange"))
                      .Destroy(destroy => destroy.Action("ExchangePartnerDel", "Exchange"))
                   )
                  .Columns(columns =>
                  {
                      columns.Bound(item => item.ds_id)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("eq"); }))
                          .Width(100)
                          ;
                      columns.Bound(item => item.ds_name)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }))
                          .Width(200)
                          ;
                      columns.Command(command => { command.Edit(); command.Destroy(); })
                          .Width(190)
                          ;
                  })
                  .Resizable(resize => resize.Columns(true))
                  .Sortable()
                  .Editable(ed => ed.Mode(GridEditMode.InLine))
                  .ToolBar(toolbar =>
                  {
                      toolbar.Create();
                  })
)
        </div>
    </div>
</div>

<script>
</script>

