﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util

@model CabinetMvc.ViewModel.Exchange.ExchangeRegPartnerViewModel

@{
    ViewBag.Title = "Добавление регистрации";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<CabinetMvc.ViewModel.Exchange.ExchangePartnerViewModel> exchangePartnerList = ViewBag.ExchangePartnerList;
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/exchange", "exchange-reg-partner-add-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("exchange", "Обмен с партнерами"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Услуги", "ExchangeMonitor", "Exchange") - @Html.ActionLink("Обмен с партнерами", "ExchangeMonitor", "Exchange") - @Html.ActionLink("Участники обмена", "ExchangeClientList", "Exchange") - @Html.ActionLink("Добавление регистрации", "ExchangeRegPartnerAdd", "Exchange", new { @user_id = @Model.user_id }, null)
    </div>
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.ds_id)
    @Html.HiddenFor(x => x.format_type)
    @Html.HiddenFor(x => x.transport_type)
    @Html.HiddenFor(x => x.reg_id)
    @Html.HiddenFor(x => x.user_id)
    @Html.HiddenFor(x => x.upload_arc_type)
    @Html.HiddenFor(x => x.download_arc_type)
    
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    if (!String.IsNullOrEmpty((string)@ViewBag.Message))
    {
        <div class="k-block k-success-colored">
            <strong>@ViewBag.Message</strong>
            <br />
            <br />
        </div>
        <br />
        <hr />
    }

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.ds_id, htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().DropDownList()
                            .Name("exchangePartnerDropDownList")
                            .HtmlAttributes(new { @class = "form-control input-sm" })
                              .DataTextField("ds_name")
                              .DataValueField("ds_id")
                              .BindTo(exchangePartnerList)
                              .Value(@Model.ds_id.ToString())
                              .AutoBind(true)
                )
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.reg_code, htmlAttributes: new { @class = "control-label" })
                @(Html.EditorFor(model => model.reg_code, new { @class = "form-control", @id = "reg_code", }))
                @(Html.ValidationMessageFor(model => model.reg_code, "", new { @class = "text-danger" }))
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.reg_name, htmlAttributes: new { @class = "control-label" })
                @(Html.EditorFor(model => model.reg_name, new { @class = "form-control", @id = "reg_name", }))
                @(Html.ValidationMessageFor(model => model.reg_name, "", new { @class = "text-danger" }))
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.transport_type, htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().DropDownList()
                            .Name("exchangeTransportTypeDropDownList")
                    .HtmlAttributes(new { @class = "form-control input-sm" })
                              .DataTextField("obj_name")
                              .DataValueField("obj_id")
                              .BindTo(@Model.ExchangeTransportList)
                              .Value(@Model.transport_type.ToString())
                              .AutoBind(true)
      .Events(ev => { ev.Change("exchangeRegPartnerAdd.onTransportTypeChange"); ev.DataBound("exchangeRegPartnerAdd.onTransportTypeDataBound"); })
                )
            </div>
            <div id="ftp-group">
                <div class="form-group">
                    @Html.LabelFor(model => model.login_ftp, htmlAttributes: new { @class = "control-label" })
                    @(Html.EditorFor(model => model.login_ftp, new { @class = "form-control", @id = "login_ftp", }))
                    @(Html.ValidationMessageFor(model => model.login_ftp, "", new { @class = "text-danger" }))
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.password_ftp, htmlAttributes: new { @class = "control-label" })
                    @(Html.EditorFor(model => model.password_ftp, new { @class = "form-control", @id = "password_ftp", }))
                    @(Html.ValidationMessageFor(model => model.password_ftp, "", new { @class = "text-danger" }))
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.download_url_ftp, htmlAttributes: new { @class = "control-label" })
                    @(Html.EditorFor(model => model.download_url_ftp, new { @class = "form-control", @id = "download_url_ftp", }))
                    @(Html.ValidationMessageFor(model => model.download_url_ftp, "", new { @class = "text-danger" }))
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.upload_url_ftp, htmlAttributes: new { @class = "control-label" })
                    @(Html.EditorFor(model => model.upload_url_ftp, new { @class = "form-control", @id = "upload_url_ftp", }))
                    @(Html.ValidationMessageFor(model => model.upload_url_ftp, "", new { @class = "text-danger" }))
                </div>
            </div>
            <div id="email-group">
                <div class="form-group">
                    @Html.LabelFor(model => model.download_url_email, htmlAttributes: new { @class = "control-label" })
                    @(Html.EditorFor(model => model.download_url_email, new { @class = "form-control", @id = "download_url_email", }))
                    @(Html.ValidationMessageFor(model => model.download_url_email, "", new { @class = "text-danger" }))
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.password_email, htmlAttributes: new { @class = "control-label" })
                    @(Html.EditorFor(model => model.password_email, new { @class = "form-control", @id = "password_email", }))
                    @(Html.ValidationMessageFor(model => model.password_email, "", new { @class = "text-danger" }))
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.pop3_address_email, htmlAttributes: new { @class = "control-label" })
                    @(Html.EditorFor(model => model.pop3_address_email, new { @class = "form-control", @id = "pop3_address_email", }))
                    @(Html.ValidationMessageFor(model => model.pop3_address_email, "", new { @class = "text-danger" }))
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.pop3_port_email, htmlAttributes: new { @class = "control-label" })
                    @(Html.EditorFor(model => model.pop3_port_email, new { @class = "form-control", @id = "pop3_port_email", }))
                    @(Html.ValidationMessageFor(model => model.pop3_port_email, "", new { @class = "text-danger" }))
                </div>
                <div class="form-group">
                    @(Html.Kendo().CheckBoxFor(model => model.pop3_use_ssl_email).Label("Использовать шифрованное соединение (SSL)").HtmlAttributes(new { @class = "k-checkbox" }))
                    @Html.ValidationMessageFor(model => model.pop3_use_ssl_email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @(Html.Kendo().CheckBoxFor(model => model.upload_equals_download_email).Label("Использовать для отправки этот же адрес").Checked(@Model.upload_equals_download).HtmlAttributes(new { @class = "k-checkbox", @id = "upload_equals_download_email" }))
                    @Html.ValidationMessageFor(model => model.upload_equals_download_email, "", new { @class = "text-danger" })
                </div>
                <div id="email-upload-group">
                    <div class="form-group">
                        @Html.LabelFor(model => model.upload_url_email, htmlAttributes: new { @class = "control-label" })
                        @(Html.EditorFor(model => model.upload_url_email, new { @class = "form-control", @id = "upload_url_email", }))
                        @(Html.ValidationMessageFor(model => model.upload_url_email, "", new { @class = "text-danger" }))
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.upload_url_alias_email, htmlAttributes: new { @class = "control-label" })
                        @(Html.EditorFor(model => model.upload_url_alias_email, new { @class = "form-control", @id = "upload_url_alias_email", }))
                        @(Html.ValidationMessageFor(model => model.upload_url_alias_email, "", new { @class = "text-danger" }))
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.upload_confirm_address, htmlAttributes: new { @class = "control-label" })
                        @(Html.EditorFor(model => model.upload_confirm_address, new { @class = "form-control", @id = "upload_confirm_address", }))
                        @(Html.ValidationMessageFor(model => model.upload_confirm_address, "", new { @class = "text-danger" }))
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.format_type, htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().DropDownList()
                            .Name("exchangeFormatTypeDropDownList")
                              .HtmlAttributes(new { @class = "form-control input-sm" })
                              .DataTextField("obj_name")
                              .DataValueField("obj_id")
                              .BindTo(@Model.ExchangeFormatList)
                              .Value(@Model.format_type.ToString())
                              .AutoBind(true)
                )
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.download_arc_type, htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().DropDownList()
                            .Name("exchangeDownloadArcTypeDropDownList")
                            .HtmlAttributes(new { @class = "form-control input-sm" })
                              .DataTextField("obj_name")
                              .DataValueField("obj_id")
                              .BindTo(@Model.ExchangeCompressionList)
                              .Value(@Model.download_arc_type.ToString())
                              .AutoBind(true)
                )
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.upload_arc_type, htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().DropDownList()
                            .Name("exchangeUploadArcTypeDropDownList")
                               .HtmlAttributes(new { @class = "form-control input-sm" })
                              .DataTextField("obj_name")
                              .DataValueField("obj_id")
                              .BindTo(@Model.ExchangeCompressionList)
                              .Value(@Model.upload_arc_type.ToString())
                              .AutoBind(true)
                )
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.days_cnt_for_mov, htmlAttributes: new { @class = "control-label" })
                @(Html.EditorFor(model => model.days_cnt_for_mov, new { @class = "form-control", @id = "days_cnt_for_mov", }))
                @(Html.ValidationMessageFor(model => model.days_cnt_for_mov, "", new { @class = "text-danger" }))
            </div>
            <div class="form-group">
                @(Html.Kendo().CheckBoxFor(model => model.use_sales_prefix).Label("Использовать префикс торговых точек").HtmlAttributes(new { @class = "k-checkbox" }))
                @Html.ValidationMessageFor(model => model.use_sales_prefix, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @(Html.Kendo().CheckBoxFor(model => model.send_all).Label("Передавать все").HtmlAttributes(new { @class = "k-checkbox" }))
                @Html.ValidationMessageFor(model => model.send_all, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @(Html.Kendo().CheckBoxFor(model => model.is_active).Label("Регистрация активна").HtmlAttributes(new { @class = "k-checkbox" }))
                @Html.ValidationMessageFor(model => model.is_active, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @(Html.Kendo().CheckBoxFor(model => model.is_prepared).Label("Настройки завершены").HtmlAttributes(new { @class = "k-checkbox" }))
                @Html.ValidationMessageFor(model => model.is_prepared, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <input type="button" value="Сохранить" class="btn btn-default k-button" id="btnSubmit" />
                <input type="submit" value="save" class="btn" id="btnSubmitProceed" style="visibility:hidden;" />
            </div>
        </div>
    </div>    
}

<script>
</script>
