﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util

@model CabinetMvc.ViewModel.Exchange.ExchangeUserViewModel

@{
    ViewBag.Title = "Добавление пользователя";    
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<CabinetMvc.ViewModel.Cabinet.SalesViewModel> salesList = ViewBag.SalesList;
    IEnumerable<CabinetMvc.ViewModel.Cabinet.WorkplaceViewModel> workplaceList = ViewBag.WorkplaceList;
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/exchange", "exchange-user-add-{0}.js"))
}


@section sideMenu {
    @(Html.CabSidePanel("exchange", "Обмен с партнерами"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Услуги", "ExchangeMonitor", "Exchange") - @Html.ActionLink("Обмен с партнерами", "ExchangeMonitor", "Exchange") - @Html.ActionLink("Участники обмена", "ExchangeClientList", "Exchange") - @Html.ActionLink("Добавление пользователя", "ExchangeUserAdd", "Exchange")
    </div>
}

@using (Html.BeginForm())
{    
    @Html.HiddenFor(x => x.client_id)
    @Html.HiddenFor(x => x.cabinet_sales_id)
    @Html.HiddenFor(x => x.cabinet_workplace_id)
    
    @Html.AntiForgeryToken()

    @Html.ValidationSummary()

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                @Html.Label("Выберите торговую точку:", new { @class = "control-label" })
                @(Html.Kendo().DropDownList()
                              .BindTo(salesList)
                              .Name("salesList")
                              .HtmlAttributes(new { @class = "input-sm", @id = "salesList" })
                              .DataTextField("adress")
                            .DataValueField("sales_id")
                )                
            </div>
            <div class="form-group">
                @Html.Label("Выберите рабочее место:", new { @class = "control-label" })
                @(Html.Kendo().DropDownList()
                              .BindTo(workplaceList)
                              .Name("workplaceList")
                              .HtmlAttributes(new { @class = "input-sm", @id = "workplaceList" })
                              .DataTextField("WorkplaceFullName")
                              .DataValueField("id")
                              .CascadeFrom("salesList")
                )
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="button" value="Сохранить" class="btn btn-primary" id="btnSubmit" />
                <input type="submit" value="save" class="btn" id="btnSubmitProceed" style="visibility:hidden;" />
            </div>
        </div>
    </div>
}

<script>
</script>