﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util

@model CabinetMvc.ViewModel.Exchange.ExchangeFileNodeViewModel

@{
    ViewBag.Title = "Добавление узла";    
    Layout = "~/Views/Shared/_Layout.cshtml";
    IQueryable<CabinetMvc.ViewModel.Exchange.ExchangePartnerViewModel> dsList = ViewBag.DsList;
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/exchange", "exchange-file-node-add-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("exchange", "Обмен с партнерами"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Услуги", "ExchangeMonitor", "Exchange") - @Html.ActionLink("Обмен с партнерами", "ExchangeMonitor", "Exchange") - @Html.ActionLink("Узлы обмена", "ExchangeFileNodeList", "Exchange") - @Html.ActionLink("Добавление узла", "ExchangeFileNodeAdd", "Exchange", new { @node_id = @Model.node_id }, null)
    </div>
}

@using (Html.BeginForm("ExchangeFileNodeAdd", "Exchange", FormMethod.Post, new { @onkeydown = "return event.keyCode != 13" }))
{
    @Html.HiddenFor(x => x.partner_id)
    @Html.HiddenFor(x => x.client_id)
    @Html.HiddenFor(x => x.sales_id)
    @Html.HiddenFor(x => x.node_item_get_list)
    @Html.HiddenFor(x => x.node_item_send_list)

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.Label("1) Выберите организацию:", new { @class = "control-label" })
    @(Html.Kendo().Grid<CabinetMvc.ViewModel.Cabinet.ClientViewModel>()
                                            .Name("clientGrid")
                                            .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .Model(model =>
                                            {
                                                model.Id(id => id.id);
                                            })
                                             .PageSize(10)
                                             .Sort(so => { so.Add("client_name"); })
                                             .Read(read => read.Action("GetClientList_Sprav", "Cabinet"))
                                            )
                                            .Columns(columns =>
                                            {
                                                columns.Bound(ss => ss.id)
                                                    .HeaderHtmlAttributes(new { style = "display: none;" })
                                                    .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                                                    .Width(100)
                                                    ;
                                                columns.Bound(ss => ss.client_name)
                                                    .HeaderHtmlAttributes(new { style = "display: none;" })
                                                    .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                                    .Width(400)
                                                    ;
                                            })
                                             .Pageable(page => page.PageSizes(new int[] { 10, 20, 50, 100 }))
                                             .Resizable(resize => resize.Columns(true))
                                             .Sortable(s => s.SortMode(GridSortMode.MultipleColumn))
                                             .Scrollable(scr => scr.Height("auto"))
                                             .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                                             .Selectable(se => se.Mode(GridSelectionMode.Single))
                                             .HtmlAttributes(new { @style = "width: 50%;" })
                                                 .Events(ev => ev.Change("exchangeFileNodeAdd.onClientGridChange"))
    )
    @Html.ValidationMessageFor(model => model.client_id, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("2) Выберите торговую точку:", new { @class = "control-label" })
                @(Html.Kendo().DropDownList()
                              .Name("salesList")
                              .HtmlAttributes(new { @class = "input-sm", @id = "salesList" })
                              .DataTextField("adress")
                              .DataValueField("sales_id")
                              .OptionLabel("[не выбрана]")
                      .DataSource(ds => ds.Read(rd => rd.Action("GetSalesList_Sprav", "Cabinet").Data("exchangeFileNodeAdd.getClientId")))
                )
                @Html.ValidationMessageFor(model => model.sales_id, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("3) Укажите имя торговой точки для обмена:", new { @class = "control-label" })
                @Html.Kendo().TextBoxFor(ss => ss.node_name).HtmlAttributes(new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.node_name, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.Label("4) Выберите партнера для обмена:", new { @class = "control-label" })
                @(Html.Kendo().DropDownList()
                        .Name("dsList")
                                .HtmlAttributes(new { @class = "form-control input-sm", })
                                .DataTextField("ds_name")
                                .DataValueField("ds_id")
                                .BindTo(dsList)
                                .AutoBind(true)
                        .Events(ev => ev.Change("exchangeFileNodeAdd.onDsListChange"))
                )
                @Html.ValidationMessageFor(model => model.partner_id, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("5) Выберите типы файлов для отправки партнеру:", new { @class = "control-label" })
                @(Html.Kendo().Grid<CabinetMvc.ViewModel.Exchange.ExchangeFileNodeItemViewModel>()
                                  .Name("nodeItemSendGrid")
                                  .DataSource(dataSource => dataSource
                                      .Ajax()
                                      .Model(model =>
                                      {
                                          model.Id(ss => ss.exchange_item_id);
                                          model.Field(ss => ss.exchange_item_name).Editable(false);
                                      })
                                  .Sort(sort => sort.Add("exchange_item_id").Ascending())
                          .Read(read => read.Action("GetExchangePartnerItemForSendList", "Exchange").Data("exchangeFileNodeAdd.getDsId"))
                                  .Batch(true)
                                   )
                                  .Columns(columns =>
                                  {
                                      columns.Bound(item => item.exchange_item_name);
                                      columns.Bound(item => item.file_name_mask);
                                      columns.Command(cmd => cmd.Destroy().Text(" ").HtmlAttributes(new { @title = "Удалить строку" }));
                                  })
                                  .Resizable(resize => resize.Columns(true))
                                  .Sortable()
                                  .Scrollable(scr => scr.Height("auto"))
                                  .Editable(ed => ed.Mode(GridEditMode.InCell))
                          .Events(ev => ev.DataBound("exchangeFileNodeAdd.onNodeItemSendGridDataBound"))
                )                
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("6) Выберите типы файлов для приема от партнера:", new { @class = "control-label" })
                @(Html.Kendo().Grid<CabinetMvc.ViewModel.Exchange.ExchangeFileNodeItemViewModel>()
                                  .Name("nodeItemGetGrid")
                                  .DataSource(dataSource => dataSource
                                      .Ajax()
                                      .Model(model =>
                                      {
                                          model.Id(ev => ev.exchange_item_id);
                                          model.Field(ss => ss.exchange_item_name).Editable(false);
                                      })
                                  .Sort(sort => sort.Add("exchange_item_id").Ascending())
                          .Read(read => read.Action("GetExchangePartnerItemForGetList", "Exchange").Data("exchangeFileNodeAdd.getDsId"))
                                  .Batch(true)
                                   )
                                  .Columns(columns =>
                                  {
                                      columns.Bound(item => item.exchange_item_name);
                                      columns.Bound(item => item.file_name_mask);
                                      columns.Command(cmd => cmd.Destroy().Text(" ").HtmlAttributes(new { @title = "Удалить строку" }));
                                  })
                                  .Resizable(resize => resize.Columns(true))
                                  .Sortable()
                                  .Scrollable(scr => scr.Height("auto"))
                                  .Editable(ed => ed.Mode(GridEditMode.InCell))
                          .Events(ev => ev.DataBound("exchangeFileNodeAdd.onNodeItemGetGridDataBound"))
                )
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="button" value="Сохранить" class="btn btn-primary" id="btnSubmit" />
                <input type="submit" value="save" class="btn hidden" id="btnSubmitProceed" />
            </div>
        </div>
    </div>
}

<script>
</script>