﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util
@model CabinetMvc.ViewModel.Discount.BusinessViewModel

@{
    ViewBag.Title = "Добавление организации";    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {    
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/discount", "business-add-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("discount", "Дисконтные карты"))
}

@section menuPath {
<div class="cab-menu-path">
    @Html.ActionLink("Услуги", "CardList", "Card") - @Html.ActionLink("Дисконтные карты", "CardList", "Card") - @Html.ActionLink("Организации", "BusinessList", "Card") - @Html.ActionLink("Добавление организации", "BusinessAdd", "Card")
</div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.cabinet_client_id)
    @Html.HiddenFor(model => model.business_name)

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    if (!String.IsNullOrEmpty((string)@ViewBag.Message))
    {
        <div class="k-block k-success-colored">
            <strong>@Html.ActionLink(((string)@ViewBag.Message), "BusinessEdit", "Card", new { business_id = Model.business_id }, new { @class = "text-danger" })</strong>
            <br />
            <br />
        </div>
        <br />
        <hr />
    }

    @Html.Label("Выберите организацию:", new { @class = "control-label" })
    @(Html.Kendo().Grid<CabinetMvc.ViewModel.Cabinet.ClientViewModel>()
                                            .Name("clientGrid")
                                            .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .Model(model =>
                                            {
                                                model.Id(id => id.id);
                                            })
                                             .PageSize(10)
                                             .Sort(so => { so.Add("client_name"); })
                                             .Read(read => read.Action("GetClientList", "Cabinet"))
                                            )
                                            .Columns(columns =>
                                            {
                                                columns.Bound(item => item.id)
                                                    .Filterable(ftb => ftb.Cell(cell => cell.Operator("equals")))
                                                    .Width(150)
                                                    ;
                                                columns.Bound(item => item.client_name)                                                    
                                                    .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                                    .Width(200)
                                                    ;
                                                columns.Bound(item => item.phone)
                                                    .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                                    .Width(120)
                                                    ;
                                                columns.Bound(item => item.site)
                                                    .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                                    .Width(120)
                                                    ;
                                                columns.Bound(item => item.contact_person)
                                                    .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                                    .Width(120)
                                                    ;
                                                columns.Bound(p => p.is_phis_str)
                                                    .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                                    .Width(120)
                                                    ;
                                                columns.Bound(item => item.inn)
                                                    .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                                    .Width(150)
                                                    ;
                                                columns.Bound(item => item.city_name)
                                                    .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                                    .Width(200)
                                                    ;
                                                columns.Bound(item => item.region_name)
                                                    .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                                    .Width(200)
                                                    ;
                                                columns.Bound(item => item.legal_address)
                                                    .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                                    .Width(200)
                                                    ;
                                                columns.Bound(item => item.absolute_address)
                                                    .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                                    .Width(200)
                                                    ;
                                                columns.Bound(item => item.reg_date)
                                                    .Format("{0:dd.MM.yyyy HH:mm}")
                                                    .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                                                    .Width(160)
                                                    ;
                                                columns.Bound(item => item.last_activity_date)
                                                    .Format("{0:dd.MM.yyyy HH:mm}")
                                                    .Width(200)
                                                    .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                                                    ;
                                                columns.Bound(item => item.created_by)
                                                    .Width(160)
                                                    .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                                    ;
                                                columns.Bound(p => p.is_activated_str)
                                                    .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                                    .Width(120)
                                                    ;
                                                columns.Bound(item => item.sales_count)
                                                    .Width(160)
                                                    .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                                                    ;
                                            })
                                             .Pageable(page => page.PageSizes(new int[] { 10, 20, 50, 100 }))
                                             .Resizable(resize => resize.Columns(true))
                                             .Sortable(s => s.SortMode(GridSortMode.MultipleColumn))
                                             .Scrollable(scr => scr.Height("auto"))
                                             .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                                             .Selectable(se => se.Mode(GridSelectionMode.Single))
    )

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                @(Html.Label("Часовой пояс (МСК +):", htmlAttributes: new { @class = "control-label" }))
                @(Html.Kendo().NumericTextBoxFor(model => model.add_to_timezone).HtmlAttributes(new { @type = "text", @class = "form-control input-sm attr-change", @id = "add_to_timezone", @style = "display: inline !important;" })
                .Decimals(0).Format("#"))                
                @(Html.ValidationMessageFor(model => model.add_to_timezone, "", new { @class = "text-danger" }))
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @(Html.Kendo().CheckBoxFor(ss => ss.IsCardScanOnly).Label("Запрет ручного выбора карт").HtmlAttributes(new { @class = "k-checkbox attr-change" }))
            </div>
            <div class="form-group">
                <p class="text-muted">При включенной опции в Кассе карты можно только считать сканером или картридером, вручную карту выбрать нельзя. При отключенной опции в Кассе карту можно найти по номеру карты или по информации о держателе карты, и выбрать карту вручную.</p>
            </div>
            <div class="form-group">
                @(Html.Kendo().CheckBoxFor(ss => ss.IsScannerEqualsReader).Label("Не различать сканер штрих-кодов и картридер при выборе карты").HtmlAttributes(new { @class = "k-checkbox attr-change" }))
            </div>
            <div class="form-group">
                <p class="text-muted">При включенной опции считывание в Кассе карты картридером не отличается от считывание карты сканером: при считывании карты картридером считается, что карта была считана сканером. При отключенной опции считывание карты картридером различается от считывания карты сканером. Данная настройка влияет на продажу по карте, если в алгоритме есть зависимость расчета от способа выбора карты (вручную, сканером, картридером). Например, скидка по карте действует только тогда, когда карта была считана картридером.</p>
            </div>
            <div class="form-group">
                @(Html.Kendo().CheckBoxFor(ss => ss.allow_card_add).Label("Разрешено добавлять карты через Кассу").HtmlAttributes(new { @class = "k-checkbox attr-change" }))
            </div>
            <div class="form-group">
                @(Html.Kendo().CheckBoxFor(ss => ss.allow_phone_num).Label("Разрешено отображение телефонов").HtmlAttributes(new { @class = "k-checkbox attr-change" }))
            </div>
            <div class="form-group">
                @(Html.Kendo().CheckBoxFor(ss => ss.allow_card_nominal_change).Label("Разрешено изменять данные по карте из Кассы").HtmlAttributes(new { @class = "k-checkbox attr-change" }))
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="button" value="Сохранить и продолжить" class="btn btn-primary" id="btnSubmit" />
                <input type="submit" value="save" class="btn hidden" id="btnSubmitProceed" />
            </div>
        </div>
    </div>
}
<script>
</script>

