﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util
@{
    ViewBag.Title = "Типы карт";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<CabinetMvc.ViewModel.Discount.CardTypeViewModel> mainList = ViewBag.MainList;
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/discount", "card-type-list-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("discount", "Дисконтные карты"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Услуги", "CardList", "Card") - @Html.ActionLink("Дисконтные карты", "CardList", "Card") - @Html.ActionLink("Типы карт", "CardTypeList", "Card")
    </div>
}


@(Html.Kendo().Grid<CabinetMvc.ViewModel.Discount.CardTypeViewModel>(mainList)
                                .Name("cardTypeListGrid")
            .DataSource(dataSource => dataSource
            .Ajax()
            .Events(events => { events.Error("onGridError('cardTypeListGrid')"); })
            .Model(model =>
            {
                model.Id(card_type => card_type.card_type_id);
            })
            .ServerOperation(false)
            .Destroy(destroy => destroy.Action("CardTypeDel", "Card"))
                    )
                                .Columns(columns =>
                                {
                                    columns.Bound(item => item.card_type_id)
                                        .ClientTemplate("<a href='/CardTypeEdit?card_type_id=#=card_type_id#' title='Редактировать тип карты'>#=card_type_name#</a>")
                                        .Template(@<text>
                                            @Html.ActionLink(@item.card_type_name, "CardTypeEdit", "Card", null, new { card_type_id = @item.card_type_id.ToString() })
                                        </text>)
                                    .Title("Тип карты")
                                    ;
                                    columns.Bound(item => item.group_name).Title("Группа");
                                    columns.Bound(item => item.programm_name)
                                        .ClientTemplate("<a href='/ProgrammEdit?programm_id=#=programm_id_str#' title='Редактировать алгоритм'>#= (programm_name == null) ? ' ' : programm_name_not_empty#</a>")
                                        .Template(@<text>
                                            @Html.ActionLink(@item.programm_name_not_empty, "ProgrammEdit", "Card", null, new { programm_id = @item.programm_id_str.Trim() })
                                        </text>)
                                        .Title("Алгоритм");
                                    columns.Command(command =>
                                    {
                                        command.Destroy().Text(" ").HtmlAttributes(new { @title = "Удалить тип карты" });
                                    }).Width(110);
                                })
            .ToolBar(toolbar =>
                {
                    toolbar.Custom().Name("btnCardTypeAdd").Text("Добавить тип карты").Action("CardTypeAdd", "Card")
                    .HtmlAttributes(new { @id = "btnCardTypeAdd", @title = "Добавить тип карты" });
                    toolbar.Excel().Text("Экспорт в Excel")
                        .HtmlAttributes(new { @title = "Экспорт отображенного списка в Excel" });
                }
            )
                    .Resizable(resize => resize.Columns(true))
                    .Sortable()
                    .Scrollable(scr => scr.Height("auto"))
                    .Excel(excel => excel
                        .FileName("Список типов карт.xlsx")
                        .AllPages(false)
                     )
)
<script>
</script>

