﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util;
@model CabinetMvc.ViewModel.Discount.CardTransSearch

@{
    ViewBag.Title = "Продажи по картам";    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/discount", "card-transaction-list-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("discount", "Дисконтные карты"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Услуги", "CardList", "Card") - @Html.ActionLink("Дисконтные карты", "CardList", "Card") - @Html.ActionLink("Продажи по картам", "CardTransactionList", "Card")
    </div>
}

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            @Html.Label("№ карты:", htmlAttributes: new { @class = "control-label" })
            @(Html.Kendo().NumericTextBoxFor(model => model.CardNum).Name("edCardNum").Min(0).Format("#").HtmlAttributes(new { htmlAttributes = new { @type = "text", @class = "form-control", } }))
            @Html.ValidationMessageFor(model => model.CardNum, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            @Html.Label("Дата продаж с:", htmlAttributes: new { @class = "control-label" })
            @(Html.Kendo().DatePickerFor(model => model.DateBeg).Name("edDateBeg").HtmlAttributes(new { htmlAttributes = new { @type = "text", @class = "form-control" } }))
            @Html.ValidationMessageFor(model => model.DateBeg, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            @Html.Label("Дата продаж по:", htmlAttributes: new { @class = "control-label" })
            @(Html.Kendo().DatePickerFor(model => model.DateEnd).Name("edDateEnd").HtmlAttributes(new { htmlAttributes = new { @type = "text", @class = "form-control" } }))
            @Html.ValidationMessageFor(model => model.DateEnd, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            @Html.Kendo().Button().Name("btnFilter").Content("Поиск продаж").HtmlAttributes(new { @type = "button", @class = "k-primary" }).Events(ss => ss.Click("cardTransactionList.cardTransactionsFilter"))
        </div>
    </div>
</div>

@(Html.Kendo().Grid<CabinetMvc.ViewModel.Discount.CardTransactionViewModel>()
                                .Name("cardTransactionListGrid")
                                .DataSource(dataSource => dataSource
                                .Ajax()
                                .Model(model =>
                                {
                                    model.Id(trans => trans.card_trans_id);
                                })
                                .PageSize(100)
                                .Read("GetCardTransactionsList", "Card")
                                .Sort(sort => sort.Add("date_beg").Descending())
                                )
                                .AutoBind(false)
                                .Columns(columns =>
                                {
                                    columns.Bound(item => item.date_beg).Title("Дата-время").Format("{0:dd.MM.yyyy HH:mm}")
                                        .Filterable(false)
                                        .Width(130)
                                        ;
                                    columns.Bound(item => item.card_id)
                                        .Title("Номер карты")
                                        .Filterable(false)
                                        .ClientTemplate("<a href='/CardEdit?card_id=#=card_id_str#'>#=card_num_str#</a>")
                                        .Width(150)
                                        ;
                                    columns.Bound(item => item.trans_sum)
                                        .Title("Сумма продажи")
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                                        .HtmlAttributes(new { @style = "text-align:right" })
                                        .ClientTemplate("<a href='/CardTransactionView?card_trans_id=#=card_trans_id_str#'>#=kendo.toString(trans_sum, 'n2')#</a>")                                        
                                        .Width(150)
                                        ;
                                    columns.Bound(item => item.trans_sum_discount).Title("Сумма скидки").Format("{0:n2}")
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                                        .HtmlAttributes(new { @style = "text-align:right" })
                                        .Width(150)
                                        ;
                                    columns.Bound(item => item.trans_sum_with_discount).Title("Сумма с учетом скидки").Format("{0:n2}")
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                                        .HtmlAttributes(new { @style = "text-align:right" })
                                        .Width(150)
                                        ;
                                    columns.Bound(item => item.trans_sum_bonus_for_pay).Title("Бонусов списано").Format("{0:n2}")
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                                        .HtmlAttributes(new { @style = "text-align:right" })
                                        .Width(150)
                                        ;                                    
                                    columns.Bound(item => item.trans_sum_bonus_for_card).Title("Бонусов зачислено").Format("{0:n2}")
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                                        .HtmlAttributes(new { @style = "text-align:right" })
                                        .Width(150)
                                        ;
                                    columns.Bound(item => item.org_name).Title("Отделение")
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                        .Width(150)
                                        ;
                                    columns.Bound(item => item.user_name).Title("Пользователь")
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                        .Width(150)
                                        ;
                                    columns.Bound(item => item.status_date).Title("Подтверждено")
                                        .Format("{0:dd.MM.yyyy HH:mm:ss}")
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                                        .Width(100)
                                        ;
                                    columns.Bound(ss => ss.trans_kind).Title("Тип")
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                                        .ClientTemplate("#if (trans_kind == 2) {#" + "Возврат" + "#} else {#" + "Продажа" + "#}#")
                                        .Width(150)
                                        ;                                      
                                })
                              .ToolBar(toolbar =>
                                  {
                                      toolbar.Excel().Text("Экспорт в Excel");
                                      toolbar.Pdf().Text("Экспорт в PDF");
                                  })                                
                                .ClientDetailTemplateId("templTransDetail")
                                .Pageable(page => { page.PageSizes(new int[] { 10, 20, 50, 100 }); page.Refresh(true); })
                                .Sortable()
                                .Scrollable(scr => scr.Height("auto"))
                                .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                                .Resizable(resize => resize.Columns(true))
                                .Events(ev => ev.DataBound("cardTransactionList.onCardTransactionListGridDataBound"))
                                  .Excel(excel => excel
                                      .FileName("Список продаж.xlsx")
                                          .ProxyURL(Url.Action("CardListExport", "Card"))
                                          .AllPages(true)
                                  )
                                  .Pdf(pdf => pdf
                                               .FileName("Список продаж.pdf")
                                               .ProxyURL(Url.Action("CardListExport", "Card"))
                                               .AllPages()                                               
                                  )                                
)
<script id="templTransDetail" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<CabinetMvc.ViewModel.Discount.CardTransactionDetailViewModel>()
                .Name("grid_#=card_trans_id_str#")
                        .Columns(columns =>
                        {
                            columns.Bound(o => o.unit_num).Title("№ позиции").Width(30);
                            columns.Bound(o => o.unit_name).Title("Наименование").Width(150);
                            columns.Bound(o => o.unit_value).Title("Цена").Format("{0:n2}").HtmlAttributes(new { @style = "text-align:right" }).Width(150);
                            columns.Bound(o => o.unit_value_discount).Title("Скидка").Format("{0:n2}").HtmlAttributes(new { @style = "text-align:right" }).Width(150);
                            columns.Bound(o => o.unit_value_with_discount).Title("Цена с учетом скидки").Format("{0:n2}").HtmlAttributes(new { @style = "text-align:right" }).Width(150);
                            columns.Bound(o => o.unit_value_bonus_for_pay).Title("Бонусов списано").Format("{0:n2}").HtmlAttributes(new { @style = "text-align:right" }).Width(150);
                            columns.Bound(o => o.unit_value_bonus_for_card).Title("Бонусов зачислено").Format("{0:n2}").HtmlAttributes(new { @style = "text-align:right" }).Width(150);
                            columns.Bound(o => o.promo).Title("По акции МЗ")
                            .ClientTemplate("\\#if (promo == 1) {\\#" + "да" + "\\#} else {\\#" + "" + "\\#}\\#")
                            .Width(100);
                        })
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(10)
                            .Read(read => read.Action("GetCardTransactionDetailList", "Card", new { card_trans_id = "#=card_trans_id_str#" }))
                        )
                        .Pageable()
                        .Sortable()
                        .Scrollable(scr => scr.Height("auto"))
                        .Resizable(resize => resize.Columns(true))
                        .ToClientTemplate())
</script>
<script>
</script>

