﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util;
@model CabinetMvc.ViewModel.Discount.CardBatchOperationsViewModel


@{
    ViewBag.Title = "Добавление набора карт";    
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currUser = ((CabinetMvc.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}

@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/discount", "card-batch-add-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("discount", "Дисконтные карты"))
}

@section menuPath {
<div class="cab-menu-path">
    @Html.ActionLink("Услуги", "CardList", "Card") - @Html.ActionLink("Дисконтные карты", "CardList", "Card") - @Html.ActionLink("Карты", "CardList", "Card") - @Html.ActionLink("Добавление набора карт", "CardBatchAdd", "Card")
</div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.card_type_id)
    @Html.HiddenFor(x => x.card_status_id)

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    if (!String.IsNullOrEmpty((string)@ViewBag.Message))
    {
        <div class="k-block k-success-colored">
            <strong>>@ViewBag.Message</strong>
            <br />
            <br />
        </div>
        <br />
        <hr />
    }

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <h5>Основные атрибуты</h5>
                <hr />
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.card_type_id, htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().DropDownList()
                                      .Name("cardTypeList")
                                      .HtmlAttributes(new { @class = "form-control input-sm", @id = "cardTypeList", })
                                      .DataTextField("card_type_name")
                                      .DataValueField("card_type_id")
                                      .DataSource(source =>
                                      {
                                          source.Read(read =>
                                          {
                                              read.Action("GetSprav_CardType", "Card");
                                          });
                                      })
                )
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.card_status_id, htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().DropDownList()
                                          .Name("cardStatusList")
                                  .HtmlAttributes(new { @class = "form-control input-sm", @id = "cardStatusList", })
                                          .DataTextField("card_status_name")
                                          .DataValueField("card_status_id")
                                          .DataSource(source =>
                                          {
                                              source.Read(read =>
                                              {
                                                  read.Action("GetSprav_CardStatus", "Card");
                                              });
                                          })
                )
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.date_beg, htmlAttributes: new { @class = "control-label" })
                @Html.Kendo().DatePickerFor(model => model.date_beg).Format("dd.MM.yyyy").HtmlAttributes(new { @type = "text", @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.date_beg, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.date_end, htmlAttributes: new { @class = "control-label" })
                @Html.Kendo().DatePickerFor(model => model.date_end).Format("dd.MM.yyyy").HtmlAttributes(new { @type = "text", @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.date_end, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.card_count, htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().NumericTextBoxFor(model => model.card_count)
        .HtmlAttributes(new { @type = "text", @class = "form-control res-refresh", @id = "edCardCount", @style = "display: inline !important;", })
                .Min(0).Format("#").Events(ev => ev.Spin("cardBatchAdd.onAttrChanged")))
                @Html.ValidationMessageFor(model => model.card_count, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-3 col-md-offset-1">
            <div class="form-group">
                <h5>Правила генерации номеров</h5>
                <hr />
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.num_first, htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().NumericTextBoxFor(model => model.num_first)
        .HtmlAttributes(new { @type = "text", @class = "form-control res-refresh input-sm", @id = "edNumFirst", @style = "display: inline !important;", })
        .Min(0).Format("#").Events(ev => ev.Spin("cardBatchAdd.onAttrChanged")))
                @Html.ValidationMessageFor(model => model.num_first, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.num_count, htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().NumericTextBoxFor(model => model.num_count)
        .HtmlAttributes(new { @type = "text", @class = "form-control res-refresh input-sm", @id = "edNumCount", @style = "display: inline !important;", })
        .Min(0).Format("#").Events(ev => ev.Spin("cardBatchAdd.onAttrChanged")))
                @Html.ValidationMessageFor(model => model.num_count, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.next_num_first, htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().NumericTextBoxFor(model => model.next_num_first)
        .HtmlAttributes(new { @type = "text", @class = "form-control res-refresh input-sm", @id = "edNextNumFirst", @style = "display: inline !important;", })
        .Min(0).Format("#").Events(ev => ev.Spin("cardBatchAdd.onAttrChanged")))
                @Html.ValidationMessageFor(model => model.next_num_first, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.next_num_step, htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().NumericTextBoxFor(model => model.next_num_step)
        .HtmlAttributes(new { @type = "text", @class = "form-control res-refresh input-sm", @id = "edNextNumStep", @style = "display: inline !important;", })
        .Min(0).Format("#").Events(ev => ev.Spin("cardBatchAdd.onAttrChanged")))
                @Html.ValidationMessageFor(model => model.next_num_step, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @(Html.Kendo().CheckBoxFor(ss => ss.use_check_value).Label("Использовать контр символ").HtmlAttributes(new { @class = "form-control res-refresh k-checkbox", @id = "edUseCheckValue", }))
                @Html.ValidationMessageFor(model => model.use_check_value, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Что получается:", htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="form-group">                
                <span>
                    @Html.Kendo().TextBoxFor(model => model.result_num_first).Enable(false).HtmlAttributes(new { @id = "edResultNumFirst", @style = "width: 49%;" })
                    @Html.Kendo().TextBoxFor(model => model.result_num_last).Enable(false).HtmlAttributes(new { @id = "edResultNumLast", @style = "width: 49%;" })
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <input type="button" value="Создать карты" class="btn btn-primary" id="btnSubmit" />
                <input type="submit" value="save" class="btn" id="btnSubmitProceed" style="visibility:hidden;" />
            </div>
        </div>
    </div>

}

<script id="batch-add-confirmation" type="text/x-kendo-template">
    <div class="panel-success" style="padding-left: 110px; padding-top: 20px;">
        <button class="batch-add-confirm k-button" style="width: 60px;"> Да </button>
        <button class="batch-add-cancel k-button" style="width: 60px;"> Нет </button>
    </div>
</script>
<script>
</script>


            


