﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util;

@{
    ViewBag.Title = "Журнал пакетных операций";    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/discount", "card-batch-operations-log-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("discount", "Дисконтные карты"))
}

@section menuPath {
<div class="cab-menu-path">
    @Html.ActionLink("Услуги", "CardList", "Card") - @Html.ActionLink("Дисконтные карты", "CardList", "Card") - @Html.ActionLink("Карты", "CardList", "Card") - @Html.ActionLink("Пакетные операции", "CardBatchOperations", "Card") - @Html.ActionLink("Журнал пакетных операций", "CardBatchOperationsLog", "Card")
</div>
}

<style>    
    .k-grid .k-grid-content {
        max-height: 700px !important;
    }
</style>

@if (TempData["error"] != null)
{
    <div class="k-block k-error-colored">
        @TempData["error"]
    </div>
}

@(Html.Kendo().Grid<CabinetMvc.ViewModel.Discount.CardBatchOperationsViewModel>()
                                .Name("cardBatchOperationsLogGrid")
                                .DataSource(dataSource => dataSource
                                .Ajax()
                                .Model(model =>
                                {
                                    model.Id(item => item.batch_id);
                                })
                                .PageSize(100)
                                .Read(read => read.Action("GetCardBatchOperations", "Card"))
                                .Sort(sort => sort.Add("crt_date").Descending())
                                )
                                .Columns(columns =>
                                {
                                    columns.Bound(item => item.batch_name)
                                        .Title("Название")
                                        ;
                                    columns.Bound(item => item.crt_date)
                                        .Title("Дата создания").Format("{0:dd.MM.yyyy HH:mm:ss}")
                                        ;
                                    columns.Bound(item => item.state_str)
                                        .Filterable(ftb => ftb.Enabled(false))
                                        .Sortable(false)
                                        .Title("Статус")
                                    ;
                                    columns.Bound(item => item.state_date)
                                        .Title("Дата статуса").Format("{0:dd.MM.yyyy HH:mm:ss}")
                                        ;
                                    columns.Bound(item => item.record_cnt)
                                        .Title("Строк всего")
                                        ;
                                    columns.Bound(item => item.processed_cnt)
                                        .Title("Строк обработано")
                                        ;
                                    columns.Bound(item => item.error_cnt)
                                        .ClientTemplate("<a href='/CardBatchOperationsErrorList?batch_id=#=batch_id#'>#=error_cnt#</a>")
                                        .Template(@<text>
                                            @Html.ActionLink(@item.error_cnt.ToString(), "CardBatchOperationsErrorList", "Card", null, new { batch_id = @item.batch_id.ToString() })
                                        </text>)
                                        .Title("Ошибок");
                                    columns.Bound(item => item.Message)
                                    .Title("Сообщение")
                                    ;
                                    columns.Command(commands =>
                                    {
                                        commands.Custom("Обновить").Click("cardBatchOperationsLog.refreshGridRow");
                                    }).Width(200);
                                })
                                .Pageable(page => { page.PageSizes(new int[] { 10, 20, 50, 100 }); page.Refresh(true); })
                                .Sortable()
                                .Scrollable(scr => scr.Height("auto"))
                                .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                                .Resizable(resize => resize.Columns(true))
                                .Events(ev => ev.DataBound("cardBatchOperationsLog.onCardBatchOperationsLogGridDataBound"))
                               
)

<script type="text/javascript">
    var url_RefreshBatchOperations = '@Url.Action("RefreshBatchOperations", "Card")';
</script>

