﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util;
@model CabinetMvc.ViewModel.Discount.CardClientViewModel

@{
    ViewBag.Title = "Корректировка владельца карты";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currUser = ((CabinetMvc.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}

@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/discount", "card-client-edit-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("discount", "Дисконтные карты"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Услуги", "CardList", "Card") - @Html.ActionLink("Дисконтные карты", "CardList", "Card") - @Html.ActionLink("Владельцы карты", "CardClientList", "Card") - @Html.ActionLink("Корректировка владельца карты", "CardClientEdit", "Card", new { @client_id = @Model.client_id }, null)
    </div>
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(ss => ss.card_num_rel)
    
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    if (!String.IsNullOrEmpty((string)@ViewBag.Message))
    {
        <div class="k-block k-success-colored">
            <strong>@ViewBag.Message</strong>
            <br />
            <br />
        </div>
        <br />
        <hr />
    }

    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                @Html.Label("Фамилия:", htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().TextBoxFor(model => model.client_surname).HtmlAttributes(new { @class = "form-control attr-change", @id = "client_surname" }))
                @Html.ValidationMessageFor(model => model.client_surname, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                @Html.Label("Имя:", htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().TextBoxFor(model => model.client_name).HtmlAttributes(new { @class = "form-control attr-change", @id = "client_name" }))
                @Html.ValidationMessageFor(model => model.client_name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                @Html.Label("Отчество:", htmlAttributes: new { @class = "control-label" })
                @Html.Kendo().TextBoxFor(model => model.client_fname).HtmlAttributes(new { @class = "form-control attr-change", @id = "client_fname" })
                @Html.ValidationMessageFor(model => model.client_fname, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                @Html.Label("Телефон:", htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().TextBoxFor(model => model.phone_num).HtmlAttributes(new { @class = "form-control attr-change", @id = "phone_num" }))
                @Html.ValidationMessageFor(model => model.phone_num, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                @Html.Label("Эл почта:", htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().TextBoxFor(model => model.email).HtmlAttributes(new { @class = "form-control attr-change", @id = "email" }))
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                @Html.Label("Дата рождения:", htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().DatePickerFor(model => model.DateBirth).HtmlAttributes(new { @type = "text", @class = "form-control attr-change input-sm", @id = "date_birth" }).Events(ev => ev.Change("cardClientEdit.onAttrChanged")))
                @Html.ValidationMessageFor(model => model.DateBirth, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Адрес:", htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().TextBoxFor(model => model.address).HtmlAttributes(new { @class = "form-control attr-change", @id = "address", }))
                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Комментарий:", htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(model => model.comment, new { @class = "form-control attr-change", @id = "comment", })
                @Html.ValidationMessageFor(model => model.comment, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Привязанная карта:", htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().AutoComplete()
                .Name("acCardNum")
                .DataTextField("obj_name")
                .Value(@Model.card_num_rel)
                .Filter(FilterType.StartsWith)
                .Placeholder("номер карты...")
                .MinLength(2)
                .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("GetCardNumList", "Card")
                            .Data("cardClientEdit.onAdditionalData");
                        }
                        )
                        .ServerFiltering(true);
                    })
        .Events(ev => ev.Change("cardClientEdit.onAttrChanged"))
                )                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="button" value="Сохранить" class="btn btn-default" id="btnSubmit" disabled />
                <input type="button" value="Отменить изменения" class="btn hidden" id="btnRevert" />
                <input type="submit" value="save" class="btn hidden" id="btnSubmitProceed" />
            </div>
        </div>
    </div>
}

<script id="save-changes-confirmation" type="text/x-kendo-template">
    <div class="panel-success" style="padding-left: 110px; padding-top: 20px;">
        <button class="confirm k-button" style="width: 60px;"> Да </button>
        <button class="cancel k-button" style="width: 60px;"> Нет </button>
    </div>
</script>
<script>
    var model_client_surname = '@Model.client_surname';
    var model_client_name = '@Model.client_name';
    var model_client_fname = '@Model.client_fname';
    var model_phone_num = '@Model.phone_num';
    var model_email = '@Model.email';
    var model_DateBirth = '@Model.DateBirth';
    var model_address = '@Model.address';
    var model_comment = '@Model.comment';
    var model_card_num_rel = '@Model.card_num_rel';
</script>

