﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util;
@model CabinetMvc.ViewModel.Discount.CardViewModel

@{
    ViewBag.Title = "Корректировка карты";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<CabinetMvc.ViewModel.Discount.SpravCardTypeViewModel> cardTypeList = Model.CardTypeList;
    IEnumerable<CabinetMvc.ViewModel.Discount.SpravCardStatusViewModel> cardStatusList = Model.CardStatusList;
    var currUser = ((CabinetMvc.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}

@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/discount", "card-edit-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("discount", "Дисконтные карты"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Услуги", "CardList", "Card") - @Html.ActionLink("Дисконтные карты", "CardList", "Card") - @Html.ActionLink("Карты", "CardList", "Card") - @Html.ActionLink("Корректировка карты " + @Model.card_num.ToString(), "CardEdit", "Card", new { @card_id = @Model.card_id }, null)
    </div>
}

@using (Html.BeginForm("CardEdit", "Card", FormMethod.Post, new { @id = "cardEditForm", @name = "cardEditForm", @role = "form", @onkeydown = "return event.keyCode!=13" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.card_id)
    @Html.HiddenFor(x => x.curr_card_type_id)
    @Html.HiddenFor(x => x.curr_card_status_id)
    @Html.HiddenFor(x => x.curr_client_id)
    @Html.HiddenFor(x => x.curr_client_id_str)
    @Html.HiddenFor(x => x.new_client)
    @Html.HiddenFor(x => x.IsBonusPercentChanged)
    @Html.HiddenFor(x => x.IsBonusValueChanged)
    @Html.HiddenFor(x => x.IsDiscPercentChanged)
    @Html.HiddenFor(x => x.IsMoneyValueChanged)
    @Html.HiddenFor(x => x.IsTransSumChanged)


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    if (!String.IsNullOrEmpty((string)@ViewBag.Message))
    {
        <div class="k-block k-success-colored">
            <strong>@ViewBag.Message</strong>
            <br />
            <br />
        </div>
        <br />
        <hr />
    }

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                @(Html.Label("№ карты:", htmlAttributes: new { @class = "control-label" }))
                @(Html.Kendo().TextBoxFor(model => model.card_num).HtmlAttributes(new { @class = "form-control attr-change", @id = "card_num", @data_val_number = "Номер должен содержать только числа (макс = 19 чисел)" }))
                @(Html.ValidationMessageFor(model => model.card_num, "", new { @class = "text-danger" }))
            </div>
            <div class="form-group">
                @(Html.Label("Доп номер:", htmlAttributes: new { @class = "control-label" }))
                @(Html.Kendo().TextBoxFor(model => model.card_num2).HtmlAttributes(new { @class = "form-control attr-change", @id = "card_num2" }))
                @(Html.ValidationMessageFor(model => model.card_num2, "", new { @class = "text-danger" }))
            </div>
            <div class="form-group">
                @(Html.Label("Период действия карты (с - по):", htmlAttributes: new { @class = "control-label" }))
                @(Html.Kendo().DatePickerFor(model => model.date_beg)
                .HtmlAttributes(new { @type = "text", @class = "form-control attr-change input-sm", @id = "date_beg", @style = "width: 48%;" })
                .Events(ev => ev.Change("cardEdit.onAttrChanged")))
                @(Html.ValidationMessageFor(model => model.date_beg, "", new { @class = "text-danger" }))
                @(Html.Kendo().DatePickerFor(model => model.date_end)
                .HtmlAttributes(new { @type = "text", @class = "form-control attr-change input-sm", @id = "date_end", @style = "width: 50%;" })
                .Events(ev => ev.Change("cardEdit.onAttrChanged")))
                @(Html.ValidationMessageFor(model => model.date_end, "", new { @class = "text-danger" }))
            </div>
            <div class="form-group">
                @(Html.Label("Тип карты:", htmlAttributes: new { @class = "control-label" }))
                @(Html.Kendo().TextBoxFor(model => model.curr_card_type_name).HtmlAttributes(new { @class = "form-control", @id = "curr_card_type_name" }).Enable(false))
                <div id="card-type-ddl" class="hidden">
                    @(Html.Kendo().DropDownList()
                            .Name("cardTypeDropDownList")
                            .HtmlAttributes(new { @class = "form-control input-sm", @id = "cardTypeDropDownList", })
                            .DataTextField("card_type_name")
                            .DataValueField("card_type_id")
                            .BindTo(cardTypeList)
                            .Value(@Model.curr_card_type_id.ToString())
                            .Events(ev => { ev.Change("cardEdit.onCardTypeChange"); ev.DataBound("cardEdit.onCardTypeDataBound"); })
                    )
                </div>
                @(Html.Kendo().Button().Name("btnCardTypeChange").Content("Сменить").Events(ev => ev.Click("cardEdit.btnCardTypeChangeClick")).HtmlAttributes(new { @type = "button", @class = "btn btn-primary", }))
            </div>
            <div class="form-group">
                @(Html.Label("Статус карты:", htmlAttributes: new { @class = "control-label" }))
                @(Html.Kendo().TextBoxFor(model => model.curr_card_status_name).HtmlAttributes(new { @class = "form-control", @id = "curr_card_status_name" }).Enable(false))
                <div id="card-status-ddl" class="hidden">
                    @(Html.Kendo().DropDownList()
                            .Name("cardStatusDropDownList")
                            .HtmlAttributes(new { @class = "form-control input-sm", @id = "cardStatusDropDownList", })
                            .DataTextField("card_status_name")
                            .DataValueField("card_status_id")
                            .BindTo(cardStatusList)
                            .Value(@Model.curr_card_status_id.ToString())
                        .Events(ev => { ev.Change("cardEdit.onAttrChanged"); })
                    )
                </div>
                @(Html.Kendo().Button().Name("btnCardStatusChange").Content("Сменить").Events(ev => ev.Click("cardEdit.btnCardStatusChangeClick")).HtmlAttributes(new { @type = "button", @class = "btn btn-primary", }))
            </div>
            <div class="form-group">
                @(Html.Label("Владелец карты:", htmlAttributes: new { @class = "control-label" }))
                @(Html.Kendo().TextBoxFor(model => model.curr_client_full_name).HtmlAttributes(new { @class = "form-control", @id = "curr_client_full_name" }).Enable(false))
                <div id="card-client-ddl" class="hidden">
                @(Html.Kendo().AutoComplete()
                        .Name("cardClientAutoComplete")
                            .DataTextField("client_full_name")
                            .Filter(FilterType.StartsWith)                            
                          .MinLength(3)
                          .HtmlAttributes(new { @style = "width:100%", @class = "form-control input-sm", @id = "cardClientAutoComplete" })
                          .DataSource(source =>
                          {
                              source.Read(read =>
                              {
                                  read.Action("GetSprav_Client_byText", "Card")
                                      .Data("cardEdit.getCardClientAutoCompleteData");
                              })
                              .ServerFiltering(true);
                          })
                        .Events(ev => ev.Select("cardEdit.onClientChange"))
                )
                </div>
                @(Html.Kendo().Button().Name("btnCardClientChange").Content("Сменить").Events(ev => ev.Click("cardEdit.btnCardClientChangeClick")).HtmlAttributes(new { @type = "button", @class = "btn btn-primary attr-change", }))
            </div>
            <div class="hidden form-group" style="padding: 5px 0 0 0;" id="divCardClientAdd">
                @(Html.Kendo().Button().Name("btnCardClientAdd").Content("Новый владелец").Events(ev => ev.Click("cardEdit.btnCardClientAddClick")).HtmlAttributes(new { @type = "button", @id = "btnCardClient", @class = "btn btn-primary" }))
            </div>
        </div>

        <div class="col-md-3 col-md-offset-1">
            <div class="form-group" id="divTransSum">
                @(Html.Label("Накопленная сумма", htmlAttributes: new { @class = "control-label" }))
                @(Html.Kendo().NumericTextBoxFor(model => model.curr_trans_sum)
                .HtmlAttributes(new { @type = "text", @class = "form-control input-sm attr-change", @id = "curr_trans_sum", @style = "display: inline !important;" })
                .Min(0).Format("#.00").Events(ev => ev.Spin("cardEdit.onAttrChanged")).Enable(false))
                @(Html.Kendo().Button().Name("btnCurrTransSumChange").Content("Сменить").Events(ev => ev.Click("cardEdit.btnCurrTransSumChangeClick")).HtmlAttributes(new { @type = "button", }))
                @(Html.ValidationMessageFor(model => model.curr_trans_sum, "", new { @class = "text-danger" }))
            </div>
            <div class="form-group" id="divDiscPerc">
                @(Html.Label("% скидки", htmlAttributes: new { @class = "control-label" }))
                @(Html.Kendo().NumericTextBoxFor(model => model.curr_discount_percent)
                .HtmlAttributes(new { @type = "text", @class = "form-control input-sm attr-change", @id = "curr_discount_percent", @style = "display: inline !important;" })
                .Min(0).Format("#.00").Events(ev => ev.Spin("cardEdit.onAttrChanged")).Enable(false))
                @(Html.Kendo().Button().Name("btnCurrDiscPercChange").Content("Сменить").Events(ev => ev.Click("cardEdit.btnCurrDiscPercChangeClick")).HtmlAttributes(new { @type = "button", }))
                @(Html.ValidationMessageFor(model => model.curr_discount_percent, "", new { @class = "text-danger" }))
            </div>
            <div class="form-group" id="divBonusPerc">
                @(Html.Label("Бонусный %", htmlAttributes: new { @class = "control-label" }))
                @(Html.Kendo().NumericTextBoxFor(model => model.curr_bonus_percent)
                .HtmlAttributes(new { @type = "text", @class = "form-control input-sm attr-change", @id = "curr_bonus_percent", @style = "display: inline !important;" })
                .Min(0).Format("#.00").Events(ev => ev.Spin("cardEdit.onAttrChanged")).Enable(false))
                @(Html.Kendo().Button().Name("btnCurrBonusPercChange").Content("Сменить").Events(ev => ev.Click("cardEdit.btnCurrBonusPercChangeClick")).HtmlAttributes(new { @type = "button", }))
                @(Html.ValidationMessageFor(model => model.curr_bonus_percent, "", new { @class = "text-danger" }))
            </div>
            <div class="form-group" id="divBonusSum">
                @(Html.Label("Кол-во бонусов", htmlAttributes: new { @class = "control-label" }))
                @(Html.Kendo().NumericTextBoxFor(model => model.curr_bonus_value)
                .HtmlAttributes(new { @type = "text", @class = "form-control input-sm attr-change", @id = "curr_bonus_value", @style = "display: inline !important;" })
                .Min(0).Format("#.00").Events(ev => ev.Spin("cardEdit.onAttrChanged")).Enable(false))
                @(Html.Kendo().Button().Name("btnCurrBonusSumChange").Content("Сменить").Events(ev => ev.Click("cardEdit.btnCurrBonusSumChangeClick")).HtmlAttributes(new { @type = "button", }))
                @(Html.ValidationMessageFor(model => model.curr_bonus_value, "", new { @class = "text-danger" }))
            </div>
            <div class="form-group" id="divMoneySum">
                @(Html.Label("Сумма на сертификате", htmlAttributes: new { @class = "control-label" }))
                @(Html.Kendo().NumericTextBoxFor(model => model.curr_money_value)
                .HtmlAttributes(new { @type = "text", @class = "form-control input-sm attr-change", @id = "curr_money_value", @style = "display: inline !important;" })
                .Min(0).Format("#.00").Events(ev => ev.Spin("cardEdit.onAttrChanged")).Enable(false))
                @(Html.Kendo().Button().Name("btnCurrMoneySumChange").Content("Сменить").Events(ev => ev.Click("cardEdit.btnCurrMoneySumChangeClick")).HtmlAttributes(new { @type = "button", }))
                @(Html.ValidationMessageFor(model => model.curr_money_value, "", new { @class = "text-danger" }))
            </div>
        </div>

    </div>

    <div class="row hidden k-info-colored" id="divCliendAdd">
        <div class="col-md-3">
            <div class="form-group">
                @Html.Label("Фамилия:", htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().TextBoxFor(model => model.new_client_surname).HtmlAttributes(new { @class = "form-control" }))
                @Html.ValidationMessageFor(model => model.new_client_surname, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Имя:", htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().TextBoxFor(model => model.new_client_name).HtmlAttributes(new { @class = "form-control" }))
                @Html.ValidationMessageFor(model => model.new_client_name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Отчество:", htmlAttributes: new { @class = "control-label" })
                @Html.Kendo().TextBoxFor(model => model.new_client_fname).HtmlAttributes(new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.new_client_fname, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Дата рождения:", htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().DatePickerFor(model => model.new_date_birth)
                .HtmlAttributes(new { @type = "text", @class = "form-control input-sm" }))
                @Html.ValidationMessageFor(model => model.new_date_birth, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-3 col-md-offset-1">
            <div class="form-group">
                @Html.Label("Телефон:", htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().TextBoxFor(model => model.new_phone_num).HtmlAttributes(new { @class = "form-control" }))
                @Html.ValidationMessageFor(model => model.new_phone_num, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Эл почта:", htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().TextBoxFor(model => model.new_email).HtmlAttributes(new { @class = "form-control" }))
                @Html.ValidationMessageFor(model => model.new_email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Адрес:", htmlAttributes: new { @class = "control-label" })
                @(Html.Kendo().TextBoxFor(model => model.new_address).HtmlAttributes(new { @class = "form-control" }))
                @Html.ValidationMessageFor(model => model.new_address, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Комментарий:", htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(model => model.new_comment, new { @class = "form-control attr-change", })
                @Html.ValidationMessageFor(model => model.new_comment, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            <div class="form-group">
                @(Html.Label("Комментарий:", htmlAttributes: new { @class = "control-label" }))
                @(Html.TextAreaFor(model => model.mess, new { @class = "form-control attr-change", @id = "mess" }))
                @(Html.ValidationMessageFor(model => model.mess, "", new { @class = "text-danger" }))
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <input type="button" value="Сохранить" class="btn btn-default" id="btnSubmit" disabled />
            <input type="button" value="Отменить изменения" class="btn hidden" id="btnRevert" />
            <input type="submit" value="save" class="btn hidden" id="btnSubmitProceed" />
        </div>
    </div>

    <div class="row" style="margin-top: 10px;">
        <div class="col-md-7">
            <div class="form-group">
                @(Html.Kendo().TabStrip()
                    .Name("tabCardAdditionalNum")
                    .Items(tabstrip =>
                    {
                        tabstrip.Add().Text("Дополнительные номера")
                            .Selected(true)
                            .Content(@<text>
                                @(Html.Kendo().Grid<CabinetMvc.ViewModel.Discount.CardAdditionalNumViewModel>()
                        .Name("cardAdditionalNumListGrid")
                        .Columns(columns =>
                        {
                            columns.Bound(o => o.item_id).Visible(false);
                            columns.Bound(o => o.card_num).Width(180).HeaderHtmlAttributes(new { @style = "display: none;" });
                            columns.Command(command => { command.Edit(); command.Destroy(); }).Width(180).HeaderHtmlAttributes(new { @style = "display: none;" });
                        })
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .Model(model =>
                            {
                                model.Id(p => p.item_id);
                            })
                            .Read(ac => ac.Action("GetCardAdditionalNumList", "Card", new { card_id_str = @Model.card_id_str, }))
                            .Create(ac => ac.Action("CardAdditionalNumAdd", "Card", new { cardIdStr = @Model.card_id_str, }))
                            .Update(ac => ac.Action("CardAdditionalNumEdit", "Card", new { card_id_str = @Model.card_id_str, }))
                            .Destroy(ac => ac.Action("CardAdditionalNumDel", "Card", new { card_id_str = @Model.card_id_str, }))
                            .Events(events => { events.Error("cardEdit.grid_error"); events.RequestEnd("cardEdit.onRequestEnd"); })
                        )
                        .ToolBar(toolbar => { toolbar.Create(); })
                        .Editable(editable => editable.Mode(GridEditMode.InLine))
                        .Scrollable(scr => scr.Height("auto"))
                        .Resizable(r => r.Columns(false))
                                )
                            </text>);
                    })
                )
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @(Html.Kendo().TabStrip()
              .Name("tabCardTrans")
              .Items(tabstrip =>
              {
                  tabstrip.Add().Text("Продажи по карте")
                      .Selected(true)
                      .Content(@<text>
                        @(Html.Kendo().Grid<CabinetMvc.ViewModel.Discount.CardTransactionViewModel>()
                                .Name("cardTransactionListGrid")
                                .DataSource(dataSource => dataSource
                                .Ajax()
                                .Model(model =>
                                {
                                    model.Id(trans => trans.card_trans_id);
                                })
                                .Read("GetCardTransactionsList_byCard", "Card", new { @card_id = Model.card_id.ToString() })
                                .Sort(sort => sort.Add("date_beg").Descending())
                                //.Filter(filter => filter.Add(s => s.card_num).IsEqualTo(@Model.card_num))
                                )
                                .Columns(columns =>
                                {
                                    columns.Bound(ss => ss.date_beg).Title("Дата-время").Format("{0:dd.MM.yyyy HH:mm}")
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                                        .Width(130)
                                        ;
                                    columns.Bound(ss => ss.trans_sum)
                                        .Title("Сумма продажи")
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                                        .HtmlAttributes(new { @style = "text-align:right" })
                                        .ClientTemplate("<a href='/CardTransactionView?card_trans_id=#=card_trans_id_str#'>#=kendo.toString(trans_sum, 'n2')#</a>")
                                        .Width(150)
                                        ;
                                    columns.Bound(ss => ss.trans_sum_discount).Title("Сумма скидки").Format("{0:n2}")
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                                        .HtmlAttributes(new { @style = "text-align:right" })
                                        .Width(150)
                                        ;
                                    columns.Bound(ss => ss.trans_sum_with_discount).Title("Сумма с учетом скидки").Format("{0:n2}")
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                                        .HtmlAttributes(new { @style = "text-align:right" })
                                        .Width(150)
                                        ;
                                    columns.Bound(ss => ss.trans_sum_bonus_for_pay).Title("Бонусов списано").Format("{0:n2}")
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                                        .HtmlAttributes(new { @style = "text-align:right" })
                                        .Width(150)
                                        ;
                                    columns.Bound(ss => ss.trans_sum_bonus_for_card).Title("Бонусов зачислено").Format("{0:n2}")
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                                        .HtmlAttributes(new { @style = "text-align:right" })
                                        .Width(150)
                                        ;
                                    columns.Bound(ss => ss.org_name).Title("Отделение")
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                        .Width(150)
                                        ;
                                    columns.Bound(ss => ss.user_name).Title("Пользователь")
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                        .Width(150)
                                        ;
                                    columns.Bound(ss => ss.status_date).Title("Подтверждено")
                                        .Format("{0:dd.MM.yyyy HH:mm:ss}")
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                                        .Width(100)
                                        ;
                                    columns.Bound(ss => ss.trans_kind).Title("Тип")
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                                        .ClientTemplate("#if (trans_kind == 2) {#" + "Возврат" + "#} else {#" + "Продажа" + "#}#")
                                        .Width(150)
                                        ;                                    
                                })
                          .ToolBar(toolbar =>
                              {
                                  toolbar.Excel().Text("Экспорт в Excel").HtmlAttributes(new { });
                              })
                                .ClientDetailTemplateId("templTransDetail")
                                .Pageable(page => page.PageSizes(new int[] { 10, 50, 100, 500, }))
                                .Sortable()
                                .Scrollable(scr => scr.Height("auto"))
                                .Filterable(ftb => ftb.Mode(GridFilterMode.Menu))
                                .Resizable(resize => resize.Columns(true))
                                      .Excel(excel => excel
                                          .FileName("Список продаж по карте " + @Model.card_num.ToString() + ".xlsx")
                                          .ProxyURL(Url.Action("CardListExport", "Card"))
                                      )
                        )
                    </text>);
              })
                )
            </div>
        </div>
    </div>

}

<script id="templTransDetail" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<CabinetMvc.ViewModel.Discount.CardTransactionDetailViewModel>()
                .Name("grid_#=card_trans_id_str#")
                        .Columns(columns =>
                        {
                            columns.Bound(o => o.unit_num).Title("№ позиции").Width(30);
                            columns.Bound(o => o.unit_name).Title("Наименование").Width(150);
                            columns.Bound(o => o.unit_value).Title("Цена").Format("{0:n2}").HtmlAttributes(new { @style = "text-align:right" }).Width(150);
                            columns.Bound(o => o.unit_value_discount).Title("Скидка").Format("{0:n2}").HtmlAttributes(new { @style = "text-align:right" }).Width(150);
                            columns.Bound(o => o.unit_value_with_discount).Title("Цена с учетом скидки").Format("{0:n2}").HtmlAttributes(new { @style = "text-align:right" }).Width(150);
                            columns.Bound(o => o.unit_value_bonus_for_pay).Title("Бонусов списано").Format("{0:n2}").HtmlAttributes(new { @style = "text-align:right" }).Width(150);
                            columns.Bound(o => o.unit_value_bonus_for_card).Title("Бонусов зачислено").Format("{0:n2}").HtmlAttributes(new { @style = "text-align:right" }).Width(150);
                            columns.Bound(o => o.promo).Title("По акции МЗ")
                            .ClientTemplate("\\#if (promo == 1) {\\#" + "да" + "\\#} else {\\#" + "" + "\\#}\\#")
                            .Width(100);
                        })
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            //.PageSize(10)
                            .Read(read => read.Action("GetCardTransactionDetailList", "Card", new { card_trans_id = "#=card_trans_id_str#" }))
                        )
            //.Pageable()
                        .Sortable()
                        .Scrollable(scr => scr.Height("auto"))
                        .Resizable(resize => resize.Columns(true))
                        .ToClientTemplate())
</script>
<script id="save-changes-confirmation" type="text/x-kendo-template">
    <div class="panel-success" style="padding-left: 110px; padding-top: 20px;">
        <button class="confirm k-button" style="width: 60px;"> Да </button>
        <button class="cancel k-button" style="width: 60px;"> Нет </button>
    </div>
</script>
<script>
    var no_manual_change = @Model.CardStatusList.Where(ss => ss.card_status_id == Model.curr_card_status_id).Select(ss => ss.no_manual_change).FirstOrDefault().ToString().ToLower();

    var model_curr_card_type_id = @Model.curr_card_type_id;
    var model_curr_card_status_id = @Model.curr_card_status_id;
    var model_curr_client_id_str = '@Model.curr_client_id_str';
    var model_curr_bonus_percent = @(Model.curr_bonus_percent.HasValue ? Model.curr_bonus_percent.ToString().Replace(",", ".") : "0");
    var model_curr_bonus_value = @(Model.curr_bonus_value.HasValue ? Model.curr_bonus_value.ToString().Replace(",", ".") : "0");
    var model_curr_discount_percent = @(Model.curr_discount_percent.HasValue ? Model.curr_discount_percent.ToString().Replace(",", ".") : "0");
    var model_curr_money_value = @(Model.curr_money_value.HasValue ? Model.curr_money_value.ToString().Replace(",", ".") : "0");
    var model_curr_trans_sum = @(Model.curr_trans_sum.HasValue ? Model.curr_trans_sum.ToString().Replace(",", ".") : "0");
    var model_card_num = '@Model.card_num';
    var model_card_num2 = '@Model.card_num2';
    var model_date_beg = '@Model.date_beg';
    var model_date_end = '@Model.date_end';
    var model_mess = '@Model.mess';

    var url_CardClient_ValueMapper = '@Url.Action("CardClient_ValueMapper", "Card")';

</script>
