﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util;

@model CabinetMvc.ViewModel.Discount.ProgrammOrderViewModel

@{
    ViewBag.Title = "Добавление алгоритма";    
    Layout = "~/Views/Shared/_Layout.cshtml";    
    IEnumerable<CabinetMvc.ViewModel.Discount.BusinessViewModel> businessList = ViewBag.BusinessList;
    var currUser = ((CabinetMvc.Controllers.BaseController)ViewContext.Controller).CurrentUser;
    string doc_name = "Описание конструктора алгоритмов.doc";
}

@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/discount", "programm-add-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("discount", "Дисконтные карты"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Услуги", "CardList", "Card") - @Html.ActionLink("Дисконтные карты", "CardList", "Card") - @Html.ActionLink("Алгоритмы", "ProgrammList", "Card") - @Html.ActionLink("Добавление алгоритма", "ProgrammAdd", "Card")
    </div>
}


<style>
    div.step-cont {
        border: 1px solid;
        border-radius: 5px;
        margin-top: 5px;
        padding: 10px;
    }
    div#step0-cont {
        background-color: #e3f5f8;
        border-color:#7af1f1;
    }
    div#step1-cont {
        background-color: #ffdfdf;
        border-color: #ffc1c1;
    }
    div#step2-cont {
        background-color: #ffffc4;
        border-color: #dfdf00;
    }
    div#step3-cont {
        background-color:#dff1cf;
        border-color: #c5e6a6;
    }
    div.step-cont.disabled {        
        background-color: #e9e9e9 !important;
        border-color: #c8c8c8 !important;
    }
    span#step3-span-result-error {
        background-color: #bec9c8;
        color: #fe4f30;
    }
    hr.line-black {
        /*border-color: #888486;*/
        border-color: #c4c2c7;        
    }
    div.rounded-corners {
        border-radius: 5px;
    }    
    textarea#descr {
        font-size: .9em;
    }
</style>

<div class="container-fluid step-cont" id="step0-cont">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @(Html.Label("Ссылка на инструкцию:", htmlAttributes: new { @class = "control-label" }))
                @Html.ActionLink(doc_name, "ProgrammAddDoc", "Card", new { @name = doc_name }, null)
            </div>
        </div>
    </div>
</div>

<div class="container-fluid step-cont" id="step1-cont">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @(Html.Label("Выберите организацию:", htmlAttributes: new { @class = "control-label" }))
                @(Html.Kendo().DropDownList()
                            .Name("businessDropDownList")
                            .HtmlAttributes(new { @class = "form-control", @id = "businessDropDownList", })
                            .DataTextField("business_name")
                            .DataValueField("business_id_str")
                            .BindTo(businessList)
                            .Value(@currUser.BusinessId.ToString())
                            .Enable(@currUser.IsAdmin)
                )
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @(Html.Label("Выберите тип карты:", htmlAttributes: new { @class = "control-label" }))
                @(Html.Kendo().DropDownList()
                            .Name("cardTypeDropDownList")
                            .HtmlAttributes(new { @class = "form-control", @id = "cardTypeDropDownList", })
                            .DataTextField("card_type_name")
                            .DataValueField("card_type_id")
                            .DataSource(ds => {
                                ds.Read(rd => rd.Action("GetSprav_CardType_byBusiness", "Card").Data("programmAdd.getBusinessId"));
                                ds.ServerFiltering(true);
                            })
                            .CascadeFrom("businessDropDownList")                            
                )
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @(Html.Label("С какой даты будет действовать алгоритм:", htmlAttributes: new { @class = "control-label" }))
                @(Html.Kendo().DatePickerFor(model => model.date_beg).HtmlAttributes(new { @type = "text", @class = "form-control", @style = "width: 50%;", }))
                @(Html.ValidationMessageFor(model => model.date_beg, "", new { @class = "text-danger" }))
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-9">
            <div class="pull-right">
                <input type="button" value="Далее" class="btn btn-primary btn-form-nav" id="btnNext1" />
            </div>
        </div>
    </div>
</div>
<div class="container-fluid step-cont disabled hidden" id="step2-cont">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">    
                            
                <div class="hidden" id="step2-div-disc">                    
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">                                    
                                    <input type="button" value="Дисконтные параметры:" class="btn btn-success" />
                                </div>
                                <div class="form-group">
                                    <hr class="line-black">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @(Html.Kendo().NumericTextBoxFor(model => model.trans_sum_min_disc)
                                                .HtmlAttributes(new { @type = "text", @class = "form-control input-sm", @style = "display: inline !important; width: 25%;" })
                                        .Min(0).Format("#.00"))
                                    @(Html.Label("мин сумма покупки для применения скидки", htmlAttributes: new { @class = "control-label" }))
                                </div>
                                <div class="form-group">
                                    <hr class="line-black">
                                </div>
                                <div class="form-group">
                                    @(Html.Kendo().CheckBox().Name("chb_add_to_card_trans_sum").Checked(true).Label("Увеличение накопленной суммы на карте"))
                                </div>
                                <div class="form-group" style="margin-left: 20px;">
                                    @(Html.Kendo().RadioButton().Name("rb_add_to_card_trans_sum_with_disc").HtmlAttributes(new { @name = "rb-group1",  }).Checked(true).Label("на сумму со скидкой"))
                                </div>
                                <div class="form-group" style="margin-left: 20px;">
                                    @(Html.Kendo().RadioButton().Name("rb_add_to_card_trans_sum").HtmlAttributes(new { @name = "rb-group1", }).Checked(false).Label("на сумму без скидки"))
                                </div>
                            </div>
                            <div class="col-md-6" style="border-left: 5px solid #c4c2c7;">
                                <div class="form-group">
                                    <input type="button" value="Обычные товары" class="btn btn-primary" id="btnUnitSimple1" />
                                    <input type="button" value="ЖНВЛП" class="btn btn-default disabled no-auto-disable" id="btnUnitZhv1" />
                                    @(Html.Kendo().CheckBox().Name("chb_unit_simple_equals_zhv").Checked(true).Label("для ЖНВЛП так же"))
                                </div>
                                <div id="step2-div-disc-simple">
                                    <div class="form-group">
                                        @(Html.Kendo().RadioButton().Name("rb_proc_const_disc").HtmlAttributes(new { @name = "rb-group2", }).Checked(true).Label("Постоянная скидка:"))
                                    </div>
                                    <div class="form-group" style="margin-left: 20px;">
                                        @(Html.Kendo().RadioButton().Name("rb_proc_const_from_card_disc").HtmlAttributes(new { @name = "rb-group2_1", }).Checked(true).Label("берется с карты"))
                                    </div>
                                    <div class="form-group" style="margin-left: 20px;">
                                        @(Html.Kendo().RadioButton().Name("rb_proc_const_explicit_disc").HtmlAttributes(new { @name = "rb-group2_1", }).Checked(false).Label("задается явно:"))
                                    </div>
                                    <div class="form-group" style="margin-left: 40px;">
                                        @(Html.Kendo().NumericTextBoxFor(model => model.proc_const_disc)
                                                    .HtmlAttributes(new { @type = "text", @class = "form-control input-sm", @style = "display: inline !important; width: 25%;" })
                                            .Min(0).Format("#.00"))
                                        @(Html.Label("процент скидки", htmlAttributes: new { @class = "control-label" }))
                                    </div>
                                    <div class="form-group">
                                        @(Html.Kendo().RadioButton().Name("rb_proc_step_disc").HtmlAttributes(new { @name = "rb-group2", }).Checked(false).Label("Пороговая скидка:"))
                                    </div>
                                    <div class="form-group" style="margin-left: 20px;">
                                        @(Html.Kendo().Grid<SelectListItem>()
                                            .Name("procStepDiscGrid")
                                            .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .Batch(true)
                                            .ServerOperation(false)
                                            .Model(model => { 
                                                model.Id(p => p.Value);
                                                model.Field("Text", typeof(decimal)).Editable(true);
                                                model.Field("Value", typeof(decimal)).Editable(true);
                                            })
                                            .Sort(s => s.Add("Text"))
                                            .Read(rd => rd.Action("GetSelectListFake", "Home"))
                                            )
                                            .Columns(columns =>
                                            {
                                                columns.Bound(item => item.Text).Title("Сумма").Width("40%");
                                                columns.Bound(item => item.Value).Title("Процент").Width("40%");
                                                columns.Command(cmd => cmd.Destroy().Text(" ")).Width("20%");
                                            })
                                            .ToolBar(toolbar =>
                                            {
                                                toolbar.Create().Text(" ");
                                            })
                                            .Editable(editable => editable.Mode(GridEditMode.InCell))
                                            .Sortable()
                                            .HtmlAttributes(new { @style = "width: 60%;" })
                                        )
                                        <br>
                                        @(Html.Label("Сумма - это:", htmlAttributes: new { @class = "control-label" }))
                                        <br>
                                        <div style="margin-left: 20px;">                                            
											@(Html.Kendo().RadioButton().Name("rb_sum_step_card_disc").HtmlAttributes(new { @name = "rb-group3",}).Checked(true).Label("сумма накоплений"))

                                        </div>
                                        <div style="margin-left: 20px;">                                            
											@(Html.Kendo().RadioButton().Name("rb_sum_step_trans_disc").HtmlAttributes(new { @name = "rb-group3", }).Checked(false).Label("сумма продажи"))											
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <hr class="line-black">
                                    </div>
                                    <div class="form-group">
                                        @(Html.Kendo().CheckBox().Name("chb_use_max_percent_disc").Checked(true).Label("Учитывать максимальную скидку по позициям:"))
                                    </div>
                                    <div class="form-group" style="margin-left: 20px;">
                                        @(Html.Kendo().RadioButton().Name("rb_use_au_max_percent_disc").HtmlAttributes(new { @name = "rb-group3_1", }).Checked(true).Label("берется из настроек Аптека-Урал"))
                                    </div>
                                    <div class="form-group" style="margin-left: 20px;">
                                        @(Html.Kendo().RadioButton().Name("rb_use_explicit_max_percent_disc").HtmlAttributes(new { @name = "rb-group3_1", }).Checked(false).Label("задается явно:"))
                                    </div>
                                    <div class="form-group" style="margin-left: 40px;">
                                        @(Html.Kendo().NumericTextBoxFor(model => model.use_explicit_max_percent_disc)
                                                    .HtmlAttributes(new { @type = "text", @class = "form-control input-sm", @style = "display: inline !important; width: 25%;" })
                                            .Min(0).Format("#.00"))
                                        @(Html.Label("макс процент скидки", htmlAttributes: new { @class = "control-label" }))
                                    </div>
                                    <div class="form-group">
                                        @(Html.Kendo().CheckBox().Name("chb_price_margin_percent_lte_forbid_disc").Checked(false).Label("Запрет скидки на товары с процентом розничной наценки <=:"))
                                    </div>
                                    <div class="form-group" style="margin-left: 40px;">
                                        @(Html.Kendo().NumericTextBoxFor(model => model.price_margin_percent_lte_forbid_disc)
                                                    .HtmlAttributes(new { @type = "text", @class = "form-control input-sm", @style = "display: inline !important; width: 25%;" })
                                            .Min(0).Format("#.00"))
                                        @(Html.Label("процент розничной наценки", htmlAttributes: new { @class = "control-label" }))
                                    </div>
                                    <div class="form-group">
                                        @(Html.Kendo().CheckBox().Name("chb_price_margin_percent_gte_forbid_disc").Checked(false).Label("Запрет скидки на товары с процентом розничной наценки >=:"))
                                    </div>
                                    <div class="form-group" style="margin-left: 40px;">
                                        @(Html.Kendo().NumericTextBoxFor(model => model.price_margin_percent_gte_forbid_disc)
                                                    .HtmlAttributes(new { @type = "text", @class = "form-control input-sm", @style = "display: inline !important; width: 25%;" })
                                            .Min(0).Format("#.00"))
                                        @(Html.Label("процент розничной наценки", htmlAttributes: new { @class = "control-label" }))
                                    </div>
                                </div>
                                <div id="step2-div-disc-zhv" class="hidden">
                                    <div class="form-group">
                                        @(Html.Kendo().RadioButton().Name("rb_proc_const_zhv_disc").HtmlAttributes(new { @name = "rb-group4", }).Checked(true).Label("Постоянная скидка:"))
                                    </div>
                                    <div class="form-group" style="margin-left: 20px;">
                                        @(Html.Kendo().RadioButton().Name("rb_proc_const_from_card_zhv_disc").HtmlAttributes(new { @name = "rb-group4_1", }).Checked(true).Label("берется с карты"))
                                    </div>
                                    <div class="form-group" style="margin-left: 20px;">
                                        @(Html.Kendo().RadioButton().Name("rb_proc_const_explicit_zhv_disc").HtmlAttributes(new { @name = "rb-group4_1", }).Checked(false).Label("задается явно:"))
                                    </div>
                                    <div class="form-group" style="margin-left: 40px;">
                                        @(Html.Kendo().NumericTextBoxFor(model => model.proc_const_zhv_disc)
                                                    .HtmlAttributes(new { @type = "text", @class = "form-control input-sm", @style = "display: inline !important; width: 25%;" })
                                            .Min(0).Format("#.00"))
                                        @(Html.Label("процент скидки", htmlAttributes: new { @class = "control-label" }))
                                    </div>
                                    <div class="form-group">
                                        @(Html.Kendo().RadioButton().Name("rb_proc_step_zhv_disc").HtmlAttributes(new { @name = "rb-group4", }).Checked(false).Label("Пороговая скидка:"))
                                    </div>
                                    <div class="form-group" style="margin-left: 20px;">
                                        @(Html.Kendo().Grid<SelectListItem>()
                                            .Name("procStepZhvDiscGrid")
                                            .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .Batch(true)
                                            .ServerOperation(false)
                                            .Model(model => { 
                                                model.Id(p => p.Value);
                                                model.Field("Text", typeof(decimal)).Editable(true);
                                                model.Field("Value", typeof(decimal)).Editable(true);                                                
                                            })
                                            .Sort(s => s.Add("Text"))
                                            .Read(rd => rd.Action("GetSelectListFake", "Home"))
                                            )
                                            .Columns(columns =>
                                            {
                                                columns.Bound(item => item.Text).Title("Сумма").Width("40%");
                                                columns.Bound(item => item.Value).Title("Процент").Width("40%");
                                                columns.Command(cmd => cmd.Destroy().Text(" ")).Width("20%");
                                            })
                                            .ToolBar(toolbar =>
                                            {
                                                toolbar.Create().Text(" ");
                                            })
                                            .Editable(editable => editable.Mode(GridEditMode.InCell))
                                            .Sortable()
                                            .HtmlAttributes(new { @style = "width: 60%;" })
                                        )
                                        <br>
                                        @(Html.Label("Сумма - это:", htmlAttributes: new { @class = "control-label" }))
                                        <br>
                                        <div style="margin-left: 20px;">
                                            @(Html.Kendo().RadioButton().Name("rb_sum_step_card_zhv_disc").HtmlAttributes(new { @name = "rb-group5", }).Checked(true).Label("сумма накоплений"))
                                        </div>
                                        <div style="margin-left: 20px;">
                                            @(Html.Kendo().RadioButton().Name("rb_sum_step_trans_zhv_disc").HtmlAttributes(new { @name = "rb-group5", }).Checked(false).Label("сумма продажи"))
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <hr class="line-black">
                                    </div>
                                    <div class="form-group">
                                        @(Html.Kendo().CheckBox().Name("chb_use_max_percent_zhv_disc").Checked(true).Label("Учитывать максимальную скидку по позициям:"))
                                    </div>
                                    <div class="form-group" style="margin-left: 20px;">
                                        @(Html.Kendo().RadioButton().Name("rb_use_au_max_percent_zhv_disc").HtmlAttributes(new { @name = "rb-group5_1", }).Checked(true).Label("берется из настроек Аптека-Урал"))
                                    </div>
                                    <div class="form-group" style="margin-left: 20px;">
                                        @(Html.Kendo().RadioButton().Name("rb_use_explicit_max_percent_zhv_disc").HtmlAttributes(new { @name = "rb-group5_1", }).Checked(false).Label("задается явно:"))
                                    </div>
                                    <div class="form-group" style="margin-left: 40px;">
                                        @(Html.Kendo().NumericTextBoxFor(model => model.use_explicit_max_percent_zhv_disc)
                                                    .HtmlAttributes(new { @type = "text", @class = "form-control input-sm", @style = "display: inline !important; width: 25%;" })
                                            .Min(0).Format("#.00"))
                                        @(Html.Label("макс процент скидки", htmlAttributes: new { @class = "control-label" }))
                                    </div>
                                    <div class="form-group">
                                        @(Html.Kendo().CheckBox().Name("chb_price_margin_percent_lte_forbid_zhv_disc").Checked(false).Label("Запрет скидки на товары с процентом розничной наценки <=:"))
                                    </div>
                                    <div class="form-group" style="margin-left: 40px;">
                                        @(Html.Kendo().NumericTextBoxFor(model => model.price_margin_percent_lte_forbid_zhv_disc)
                                                    .HtmlAttributes(new { @type = "text", @class = "form-control input-sm", @style = "display: inline !important; width: 25%;" })
                                            .Min(0).Format("#.00"))
                                        @(Html.Label("процент розничной наценки", htmlAttributes: new { @class = "control-label" }))
                                    </div>
                                    <div class="form-group">
                                        @(Html.Kendo().CheckBox().Name("chb_price_margin_percent_gte_forbid_zhv_disc").Checked(false).Label("Запрет скидки на товары с процентом розничной наценки >=:"))
                                    </div>
                                    <div class="form-group" style="margin-left: 40px;">
                                        @(Html.Kendo().NumericTextBoxFor(model => model.price_margin_percent_gte_forbid_zhv_disc)
                                                    .HtmlAttributes(new { @type = "text", @class = "form-control input-sm", @style = "display: inline !important; width: 25%;" })
                                            .Min(0).Format("#.00"))
                                        @(Html.Label("процент розничной наценки", htmlAttributes: new { @class = "control-label" }))
                                    </div>
                                </div>
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <hr class="line-black">
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>                

                <div class="hidden" id="step2-div-bonus">                    
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="button" value="Бонусные параметры:" class="btn btn-success" />
                                </div>
                                <div class="form-group">
                                    <hr class="line-black">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @(Html.Kendo().CheckBox().Name("chb_allow_bonus_for_card").Checked(true).Label("Разрешено накопление бонусов"))
                                </div>
                                <div class="form-group">
                                    @(Html.Kendo().CheckBox().Name("chb_allow_bonus_for_pay").Checked(true).Label("Разрешена оплата бонусами"))
                                </div>
                                <div class="form-group">
                                    @(Html.Kendo().NumericTextBoxFor(model => model.trans_sum_min_bonus_for_card)
                                                .HtmlAttributes(new { @type = "text", @class = "form-control input-sm", @style = "display: inline !important; width: 25%;" })
                                        .Min(0).Format("#.00"))
                                    @(Html.Label("мин сумма покупки для накопления бонусов", htmlAttributes: new { @class = "control-label" }))
                                </div>
                                <div class="form-group">
                                    @(Html.Kendo().NumericTextBoxFor(model => model.trans_sum_min_bonus_for_pay)
                                                .HtmlAttributes(new { @type = "text", @class = "form-control input-sm", @style = "display: inline !important; width: 25%;" })
                                        .Min(0).Format("#.00"))
                                    @(Html.Label("мин сумма покупки для оплаты бонусами", htmlAttributes: new { @class = "control-label" }))
                                </div>
                                <div class="form-group">
                                    <hr class="line-black">
                                </div>
                                <div class="form-group">
                                    @(Html.Label("Какую часть покупки можно оплатить бонусами:", htmlAttributes: new { @class = "control-label" }))
                                </div>
                                <div class="form-group" style="margin-left: 20px;">
                                    @(Html.Kendo().RadioButton().Name("rb_trans_sum_all_bonus_for_pay").HtmlAttributes(new { @name = "rb-group10", }).Checked(true).Label("всю покупку"))
                                </div>
                                <div class="form-group" style="margin-left: 20px;">
                                    @(Html.Kendo().RadioButton().Name("rb_trans_sum_max_bonus_for_pay").HtmlAttributes(new { @name = "rb-group10", }).Checked(false).Label("максимальная сумма:"))
                                </div>
                                <div class="form-group" style="margin-left: 40px;">
                                    @(Html.Kendo().NumericTextBoxFor(model => model.trans_sum_max_bonus_for_pay)
                                                .HtmlAttributes(new { @type = "text", @class = "form-control input-sm", @style = "display: inline !important; width: 25%;" })
                                        .Min(0).Format("#.00"))
                                    @(Html.Label("макс сумма покупки для оплаты бонусами", htmlAttributes: new { @class = "control-label" }))
                                </div>
                                <div class="form-group" style="margin-left: 20px;">
                                    @(Html.Kendo().RadioButton().Name("rb_trans_sum_max_percent_bonus_for_pay").HtmlAttributes(new { @name = "rb-group10", }).Checked(false).Label("максимальный процент:"))
                                </div>
                                <div class="form-group" style="margin-left: 40px;">
                                    @(Html.Kendo().NumericTextBoxFor(model => model.trans_sum_max_percent_bonus_for_pay)
                                                .HtmlAttributes(new { @type = "text", @class = "form-control input-sm", @style = "display: inline !important; width: 25%;" })
                                        .Min(0).Format("#.00"))
                                    @(Html.Label("макс процент покупки для оплаты бонусами", htmlAttributes: new { @class = "control-label" }))
                                </div>
                                <div class="form-group" style="margin-left: 40px;">
                                    @(Html.Kendo().CheckBox().Name("chb_trans_sum_max_percent_and_max_disc_not_zero_bonus_for_pay").Checked(false).Label("считать только суммы позиций, у которых макс скидка не равна 0"))
                                </div>
                                <div class="form-group">
                                    <hr class="line-black">
                                </div>
                                <div class="form-group">
                                    @(Html.Kendo().CheckBox().Name("chb_add_to_card_trans_sum_bonus").Checked(true).Label("Увеличение накопленной суммы на карте"))
                                </div>
                                <div class="form-group" style="margin-left: 20px;">
                                    @(Html.Kendo().RadioButton().Name("rb_add_to_card_trans_sum_wo_bonus_for_pay").HtmlAttributes(new { @name = "rb-group11", }).Checked(false).Label("на сумму до оплаты бонусами"))
                                </div>
                                <div class="form-group" style="margin-left: 20px;">
                                    @(Html.Kendo().RadioButton().Name("rb_add_to_card_trans_sum_with_bonus_for_pay").HtmlAttributes(new { @name = "rb-group11", }).Checked(true).Label("на сумму после оплаты бонусами"))
                                </div>
                            </div>
                            <div class="col-md-6" style="border-left: 5px solid #c4c2c7;">
                                <div class="form-group">
                                    <input type="button" value="Обычные товары" class="btn btn-primary" id="btnUnitSimple2" />
                                    <input type="button" value="ЖНВЛП" class="btn btn-default disabled no-auto-disable" id="btnUnitZhv2" />
                                    @(Html.Kendo().CheckBox().Name("chb_unit_simple_equals_zhv_bonus").Checked(true).Label("для ЖНВЛП так же"))
                                </div>
                                <div id="step2-div-bonus-simple">
                                    <div class="form-group">
                                        @(Html.Kendo().RadioButton().Name("rb_proc_const_bonus_for_card").HtmlAttributes(new { @name = "rb-group12", }).Checked(true).Label("Постоянный бонусный процент:"))
                                    </div>
                                    <div class="form-group" style="margin-left: 20px;">
                                        @(Html.Kendo().RadioButton().Name("rb_proc_const_from_card_bonus_for_card").HtmlAttributes(new { @name = "rb-group12_1", }).Checked(true).Label("берется с карты"))
                                    </div>
                                    <div class="form-group" style="margin-left: 20px;">
                                        @(Html.Kendo().RadioButton().Name("rb_proc_const_explicit_bonus_for_card").HtmlAttributes(new { @name = "rb-group12_1", }).Checked(false).Label("задается явно:"))
                                    </div>
                                    <div class="form-group" style="margin-left: 40px;">
                                        @(Html.Kendo().NumericTextBoxFor(model => model.proc_const_bonus_for_card)
                                                    .HtmlAttributes(new { @type = "text", @class = "form-control input-sm", @style = "display: inline !important; width: 25%;" })
                                            .Min(0).Format("#.00"))
                                        @(Html.Label("процент накопления бонусов", htmlAttributes: new { @class = "control-label" }))
                                    </div>
                                    <div class="form-group">
                                        @(Html.Kendo().RadioButton().Name("rb_proc_step_bonus_for_card").HtmlAttributes(new { @name = "rb-group12", }).Checked(false).Label("Пороговый бонусный процент:"))
                                    </div>
                                    <div class="form-group" style="margin-left: 20px;">
                                        @(Html.Kendo().Grid<SelectListItem>()
                                            .Name("procStepBonusGrid")
                                            .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .Batch(true)
                                            .ServerOperation(false)
                                            .Model(model =>
                                            {
                                                model.Id(p => p.Value);
                                                model.Field("Text", typeof(decimal)).Editable(true);
                                                model.Field("Value", typeof(decimal)).Editable(true);
                                            })
                                            .Sort(s => s.Add("Text"))
                                            .Read(rd => rd.Action("GetSelectListFake", "Home"))
                                            )
                                            .Columns(columns =>
                                            {
                                                columns.Bound(item => item.Text).Title("Сумма").Width("40%");
                                                columns.Bound(item => item.Value).Title("Процент").Width("40%");
                                                columns.Command(cmd => cmd.Destroy().Text(" ")).Width("20%");
                                            })
                                            .ToolBar(toolbar =>
                                            {
                                                toolbar.Create().Text(" ");
                                            })
                                            .Editable(editable => editable.Mode(GridEditMode.InCell))
                                            .Sortable()
                                            .HtmlAttributes(new { @style = "width: 60%;" })
                                        )
                                        <br>
                                        @(Html.Label("Сумма - это:", htmlAttributes: new { @class = "control-label" }))
                                        <br>
                                        <div style="margin-left: 20px;">
                                            @(Html.Kendo().RadioButton().Name("rb_sum_step_card_bonus_for_card").HtmlAttributes(new { @name = "rb-group13", }).Checked(true).Label("сумма накоплений"))
                                        </div>
                                        <div style="margin-left: 20px;">
                                            @(Html.Kendo().RadioButton().Name("rb_sum_step_trans_bonus_for_card").HtmlAttributes(new { @name = "rb-group13", }).Checked(false).Label("сумма продажи"))
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <hr class="line-black">
                                    </div>
                                    <div class="form-group">
                                        @(Html.Kendo().CheckBox().Name("chb_allow_zero_disc_bonus_for_card").Checked(true).Label("Накапливать бонусы на товары с макс скидкой = 0"))
                                    </div>
                                    <div class="form-group">
                                        @(Html.Kendo().CheckBox().Name("chb_allow_zero_disc_bonus_for_pay").Checked(true).Label("Списывать бонусы для товаров с макс скидкой = 0"))
                                    </div>
                                </div>
                                <div id="step2-div-bonus-zhv" class="hidden">
                                    <div class="form-group">
                                        @(Html.Kendo().RadioButton().Name("rb_proc_const_zhv_bonus_for_card").HtmlAttributes(new { @name = "rb-group14", }).Checked(true).Label("Постоянный бонусный процент:"))
                                    </div>
                                    <div class="form-group" style="margin-left: 20px;">
                                        @(Html.Kendo().RadioButton().Name("rb_proc_const_from_card_zhv_bonus_for_card").HtmlAttributes(new { @name = "rb-group14_1", }).Checked(true).Label("берется с карты"))
                                    </div>
                                    <div class="form-group" style="margin-left: 20px;">
                                        @(Html.Kendo().RadioButton().Name("rb_proc_const_explicit_zhv_bonus_for_card").HtmlAttributes(new { @name = "rb-group14_1", }).Checked(false).Label("задается явно:"))
                                    </div>
                                    <div class="form-group" style="margin-left: 40px;">
                                        @(Html.Kendo().NumericTextBoxFor(model => model.proc_const_zhv_bonus_for_card)
                                                    .HtmlAttributes(new { @type = "text", @class = "form-control input-sm", @style = "display: inline !important; width: 25%;" })
                                            .Min(0).Format("#.00"))
                                        @(Html.Label("процент накопления бонусов", htmlAttributes: new { @class = "control-label" }))
                                    </div>
                                    <div class="form-group">
                                        @(Html.Kendo().RadioButton().Name("rb_proc_step_zhv_bonus_for_card").HtmlAttributes(new { @name = "rb-group14", }).Checked(false).Label("Пороговый бонусный процент:"))
                                    </div>
                                    <div class="form-group" style="margin-left: 20px;">
                                        @(Html.Kendo().Grid<SelectListItem>()
                                            .Name("procStepZhvBonusGrid")
                                            .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .Batch(true)
                                            .ServerOperation(false)
                                            .Model(model =>
                                            {
                                                model.Id(p => p.Value);
                                                model.Field("Text", typeof(decimal)).Editable(true);
                                                model.Field("Value", typeof(decimal)).Editable(true);
                                            })
                                            .Sort(s => s.Add("Text"))
                                            .Read(rd => rd.Action("GetSelectListFake", "Home"))
                                            )
                                            .Columns(columns =>
                                            {
                                                columns.Bound(item => item.Text).Title("Сумма").Width("40%");
                                                columns.Bound(item => item.Value).Title("Процент").Width("40%");
                                                columns.Command(cmd => cmd.Destroy().Text(" ")).Width("20%");
                                            })
                                            .ToolBar(toolbar =>
                                            {
                                                toolbar.Create().Text(" ");
                                            })
                                            .Editable(editable => editable.Mode(GridEditMode.InCell))
                                            .Sortable()
                                            .HtmlAttributes(new { @style = "width: 60%;" })
                                        )
                                        <br>
                                        @(Html.Label("Сумма - это:", htmlAttributes: new { @class = "control-label" }))
                                        <br>
                                        <div style="margin-left: 20px;">
                                            @(Html.Kendo().RadioButton().Name("rb_sum_step_card_zhv_bonus_for_card").HtmlAttributes(new { @name = "rb-group15", }).Checked(true).Label("сумма накоплений"))
                                        </div>
                                        <div style="margin-left: 20px;">
                                            @(Html.Kendo().RadioButton().Name("rb_sum_step_trans_zhv_bonus_for_card").HtmlAttributes(new { @name = "rb-group15", }).Checked(false).Label("сумма продажи"))
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <hr class="line-black">
                                    </div>
                                    <div class="form-group">
                                        @(Html.Kendo().CheckBox().Name("chb_allow_zero_disc_zhv_bonus_for_card").Checked(true).Label("Накапливать бонусы на товары с макс скидкой = 0"))
                                    </div>
                                    <div class="form-group">
                                        @(Html.Kendo().CheckBox().Name("chb_allow_zero_disc_zhv_bonus_for_pay").Checked(true).Label("Списывать бонусы для товаров с макс скидкой = 0"))
                                    </div>
                                </div>
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <hr class="line-black">
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>

            </div>
        </div>
    </div>
    <div class="row">        
        <div class="col-md-3 col-md-offset-9">
            <div class="pull-right">
                <input type="button" value="Назад" class="btn btn-primary btn-form-nav" id="btnPrev2" />
                <input type="button" value="Далее" class="btn btn-primary btn-form-nav" id="btnNext2" />
            </div>
        </div>
    </div>
</div>
<div class="container-fluid step-cont disabled hidden" id="step3-cont">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @(Html.Label("Описание алгоритма:", htmlAttributes: new { @class = "control-label" }))
                @(Html.TextAreaFor(ss => ss.descr, new { @class = "form-control", @readonly = "readonly", }))
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @(Html.Label("Комментарий к заявке:", htmlAttributes: new { @class = "control-label" }))
                @(Html.TextAreaFor(ss => ss.mess, new { @class = "form-control", }))
                @(Html.Kendo().CheckBox().Name("mess_contains_ext_info").Checked(false).Label("в комментарии есть дополнительные требования к алгоритму"))
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group pull-right">
                <div class="hidden" id="step3-div-wait">
                    <img src="~/Images/ajax-loader.gif">
                </div>
                <div class="hidden" id="step3-div-result">
                    <span id="step3-span-result-ok">@Html.ActionLink("Ваша заявка принята !", "ProgrammList", "Card")</span>
                    <span id="step3-span-result-ok-done">@Html.ActionLink("Ваша заявка исполнена !", "ProgrammList", "Card")</span>
                    <span id="step3-span-result-error"></span>
                    <input type="button" value="Cначала" class="btn btn-primary" id="btnRestart" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-9">
            <div class="pull-right">
                <input type="button" value="Назад" class="btn btn-primary btn-form-nav" id="btnPrev3" />
                <input type="button" value="Готово" class="btn btn-primary btn-form-nav" id="btnNext3" />
            </div>
        </div>
    </div>
</div>

<script>

</script>


