﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util;
@{
    ViewBag.Title = "Алгоритмы";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //IEnumerable<CabinetMvc.ViewModel.Discount.ProgrammViewModel> mainList = ViewBag.MainList;
    var currUser = ((CabinetMvc.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}

@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/discount", "programm-list-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("discount", "Дисконтные карты"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Услуги", "CardList", "Card") - @Html.ActionLink("Дисконтные карты", "CardList", "Card") - @Html.ActionLink("Алгоритмы", "ProgrammList", "Card")
    </div>
}

@(Html.Kendo().Window()
            .Name("winCopyProgramm")
            .Title("Копирование алгоритма")
            .Content(@<text>
                <p class="confirm-message">Создать копию этого алгоритма ?</p>
                @if (currUser.IsAdmin)
                {
                    @(Html.Kendo().DropDownList().Name("ddlBusiness")
                            .DataSource(source => source
                            .Read(read =>
                            {
                                read.Action("GetBusinessList_Sprav", "Card");
                            })
                            )
                            .DataValueField("business_id_str")
                            .DataTextField("business_name")
                            .AutoBind(true)
                            .Value(@currUser.BusinessId.ToString())
                    )
                }
                <button class="confirm k-button"> Да </button>
                <a href="#" class="cancel k-button">Нет</a>
            </text>)
            .Draggable()
            .Resizable(rs => rs.Enabled(false))
            .Width(300)
            .Height(200)
            .Visible(false)
            //.Position(pos => { pos.Top(10); pos.Left(600); })
            .Modal(true)
            .Actions(actions => actions.Close())
)

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="form-inline">
                <div class="form-group">
                    @(Html.Label("Алгоритмы:"))
                    <button type="button" class="btn btn-xs btn-default btn-programm-list-filter" id="btnProgrammShowAll">Все</button>
                    <button type="button" class="btn btn-xs btn-default btn-primary btn-programm-list-filter" id="btnProgrammShowActive">Активные</button>
                    <button type="button" class="btn btn-xs btn-default btn-programm-list-filter" id="btnProgrammShowNotActive">Неактивные</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            @(Html.Kendo().Grid<CabinetMvc.ViewModel.Discount.ProgrammViewModel>()
                                .Name("programmListGrid")
            .DataSource(dataSource => dataSource
            .Ajax()
            .Events(events => { events.Error("onGridError('programmListGrid')"); })
            .Model(model =>
            {
                model.Id(item => item.programm_id);
            })
                    .Destroy(dest => dest.Action("ProgrammDel", "Card"))
                     .Read(read => read.Action("GetProgrammList", "Card"))                     
                    )
                                .Columns(columns =>
                                {
                                    columns.Bound(item => item.programm_name)
                                        .ClientTemplate("<a href='/ProgrammEdit?programm_id=#=programm_id_str#' title='Редактировать алгоритм'>#=programm_name#</a>")
                                        .Template(@<text>
                                            @Html.ActionLink(@item.programm_name, "ProgrammEdit", "Card", null, new { programm_id = @item.programm_id_str.Trim() })
                                        </text>)
                                        .Title("Название");
                                    columns.Bound(item => item.group_name)
                                        .Title("Группа")
                                        ;
                                    columns.Bound(item => item.date_beg).Format("{0:dd.MM.yyyy}")
                                        .Title("Действует с")
                                        ;
                                    columns.Bound(item => item.date_end).Format("{0:dd.MM.yyyy}")
                                        .Title("Действует по")
                                        ;
                                    columns.Command(command =>
                                    {
                                        command.Custom("btnCopyProgramm").Text(" ").Click("programmList.btnCopyProgrammClick")
                                            .HtmlAttributes(new { @class = "btn-copy-programm", @title = "Скопировать алгоритм" });
                                    }).Width(110);
                                    columns.Command(command =>
                                    {
                                        command.Destroy().Text(" ").HtmlAttributes(new { @title = "Удалить алгоритм" });
                                    }).Width(110);
                                })
                                .ToolBar(toolbar => toolbar.Custom().Name("btnProgrammAdd").Text("Добавить алгоритм").Action("ProgrammAdd", "Card")
                                    .HtmlAttributes(new { @id = "btnProgrammAdd", @title = "Добавить алгоритм" }))
                                .Resizable(resize => resize.Columns(true))
                                .Sortable()
                                .Scrollable(scr => scr.Height("auto"))
                                .Pageable(p => { p.Refresh(true); })
                            .Events(ev => {
                                ev.DataBinding("programmList.onProgrammListGridDataBinding");
                                ev.DataBound("programmList.onProgrammListGridDataBound");
                            })
            )
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="form-inline">
                <div class="form-group">
                    @(Html.Label("Заявки:"))
                    <button type="button" class="btn btn-xs btn-default btn-programm-order-list-filter" id="btnProgrammOrderShowAll">Все</button>
                    <button type="button" class="btn btn-xs btn-default btn-primary btn-programm-order-list-filter" id="btnProgrammOrderShowActive">Активные</button>
                    <button type="button" class="btn btn-xs btn-default btn-programm-order-list-filter" id="btnProgrammOrderShowNotActive">Неактивные</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-12">
            @(Html.Kendo().Grid<CabinetMvc.ViewModel.Discount.ProgrammOrderViewModel>()
                                .Name("programmOrderListGrid")
            .DataSource(dataSource => dataSource
            .Ajax()
            .Events(events => { events.Error("onGridError('programmOrderListGrid')"); })
            .Model(model =>
            {
                model.Id(item => item.order_id);
            })
            .PageSize(5)
            .Sort(srt => srt.Add("order_id").Descending())
            .Read(read => read.Action("GetProgrammOrderList", "Card"))
                    )
                                .Columns(columns =>
                                {
                                    columns.Bound(item => item.order_id)
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                                        .Width(50)
                                        .Title("Код")
                                        ;
                                    if (@currUser.IsAdmin)
                                    {
                                        columns.Bound(item => item.business_name)
                                            .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                            .Width(150)
                                            .Title("Организация")
                                            ;
                                    }
                                    columns.Bound(item => item.card_type_name)
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                        .ClientTemplate("<a href='/CardTypeEdit?card_type_id=#=card_type_id#'>#=card_type_name#</a>")
                                        .Width(150)
                                        .Title("Для типа карты");
                                    columns.Bound(item => item.descr)
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                        .Width(350)
                                        .Title("Описание");
                                    columns.Bound(item => item.crt_date).Format("{0:dd.MM.yyyy HH:mm:ss}")
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                                        .Width(150)
                                        .Title("Дата создания")
                                        ;
                                    columns.Bound(item => item.crt_user)
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                        .Width(150)
                                        .Title("Автор");
                                    columns.Bound(item => item.order_state)
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                        .Width(150)
                                        .Title("Статус");
                                    columns.Bound(item => item.done_date).Format("{0:dd.MM.yyyy HH:mm:ss}")
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                                        .Width(150)
                                        .Title("Дата выполнения");
                                    columns.Bound(item => item.programm_name)
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                        .ClientTemplate("#if (programm_name == null) {#" + "" + "#} else {#" + "<a href='/ProgrammEdit?programm_id=#=programm_id_str#'>#=programm_name#</a>" + "#}#")
                                        .Width(150)
                                        .Title("Алгоритм");
                                })
            .Resizable(resize => resize.Columns(true))
            .Sortable()
            .Scrollable(scr => scr.Height("auto"))
            .Pageable(p => { p.Refresh(true); })
            .Filterable(flt => flt.Mode(GridFilterMode.Row))
                    .Events(ev => {
                        ev.DataBinding("programmList.onProgrammOrderListGridDataBinding");
                        ev.DataBound("programmList.onProgrammOrderListGridDataBound");
                    })
            )
        </div>
    </div>
</div>

<script>
</script>

