﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util
@using AuDev.Common.Util
@using CabinetMvc.ViewModel.Storage
@using Kendo.Mvc.UI.Fluent

@{
    ViewBag.Title = "Хранилище";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currUser = ((CabinetMvc.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/storage", "storage-tree-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("storage", "Хранилище"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Сервис", "TaskList", "Crm") - @Html.ActionLink("Хранилище", "StorageTree", "Storage")
    </div>
}

<style>
</style>

@helper FolderTreeHelper(CabinetMvc.ViewModel.User.UserViewModel usr)
{

    @(Html.Kendo().ToolBar()
    .Name("storageFolderToolBar")
    .Items(items =>
    {
        /*
        items.Add().Template("<input class='k-textbox' type='text' id='search-folder' placeholder='Поиск папок:' onkeyup='storageTree.onStorageFolderSearchKeyup(this)'/>")
            .HtmlAttributes(new { @class = "pull-right", @style = "margin-left: 10px; margin-top: 5px;", });
        */
        items.Add().Type(CommandType.ButtonGroup).Buttons(buttons =>
        {
            buttons.Add().Icon("shape").Text("").Togglable(true).Group("folder-view").Selected(true).HtmlAttributes(new { @title = "обычный вид", @id = "btn-folder-view-simple" });
            buttons.Add().Icon("columns").Text("").Togglable(true).Group("folder-view").HtmlAttributes(new { @title = "расширенный вид", @id = "btn-folder-view-ext" });
        })
        .HtmlAttributes(new { @class = "pull-right", @style = "margin-top: 2px;" });
        if (usr.AllowedEdit(Enums.AuthPartEnum.STORAGE_FOLDER))
        {
            items.Add().Type(CommandType.Button).Text("").Id("storage-folder-root-add")
                .SpriteCssClass("storage storage-folder-add")
                .HtmlAttributes(new { @title = "Добавить корневую папку" })
                .Click("storageTree.onStorageFolderRootAddClick");
            ;
            items.Add().Type(CommandType.Button).Text("").Id("storage-folder-add")
                .SpriteCssClass("storage storage-folders")
                .HtmlAttributes(new { @title = "Добавить подпапку" })
                .Click("storageTree.onStorageFolderAddClick");
            items.Add().Type(CommandType.Button).Text("").Id("storage-folder-edit")
                .SpriteCssClass("storage storage-folder-edit")
                .HtmlAttributes(new { @title = "Переименовать папку" })
                .Click("storageTree.onStorageFolderEditClick");
            items.Add().Type(CommandType.Button).Text("").Id("storage-folder-del")
                .SpriteCssClass("storage storage-folder-del")
                .HtmlAttributes(new { @title = "Удалить папку" })
                .Click("storageTree.onStorageFolderDelClick");
        }
        items.Add().Type(CommandType.Button).Text("").Id("storage-folder-link")
            .SpriteCssClass("storage storage-url")
            .HtmlAttributes(new { @title = "Ссылка на папку", })
            .Click("storageTree.onStorageFolderLinkClick");
        ;
        items.Add().Type(CommandType.Button).Text("").Id("storage-folder-expand")
            .SpriteCssClass("storage storage-expand")
            .HtmlAttributes(new { @title = "Развернуть все" })
            .Click("storageTree.onStorageFolderExpandClick");
        items.Add().Type(CommandType.Button).Text("").Id("storage-folder-collapse")
            .SpriteCssClass("storage storage-collapse")
            .HtmlAttributes(new { @title = "Свернуть все" })
            .Click("storageTree.onStorageFolderCollapseClick");
        if (usr.IsSuperAdmin)
        {
            items.Add().Type(CommandType.Button).Text("").Id("storage-folder-download-all")
                .SpriteCssClass("storage storage-download-all")
                .HtmlAttributes(new { @title = "Скачать все хранилище" })
                .Click("storageTree.onStorageFolderDownloadAllClick");
        }
    })
    .Events(e => e.Toggle("storageTree.onStorageFolderToolBarToggle"))
    )
    @(Html.Kendo().TreeView()
        .Name("folderTree")
        .BindTo((IEnumerable<StorageFolderViewModel>)ViewBag.StorageFolderTree, (NavigationBindingFactory<TreeViewItem> mappings) =>
        {
            mappings.For<StorageFolderViewModel>(binding => binding.ItemDataBound((item, folder) =>
            {
                //item.Text = folder.folder_name;
                item.Id = folder.id.ToString();
                item.HasChildren = folder.hasChildren;
                item.SpriteCssClasses = "storage storage-folder";
                item.Text = "<span class='storage-tree-view-simple'>" + folder.folder_name + "</span>"
                    + "<span class='storage-tree-view-ext hidden'>&nbsp/&nbsp" + folder.folder_cnt.ToString() + "п&nbsp" + folder.file_cnt.ToString() + "ф" + "</span>"
                    ;
                item.Encoded = false;
                //item.Parent.Id = folder.parent_id.HasValue ? folder.parent_id.ToString() : null;
            })
            .Children(folder => folder.ChildrenList));
        })
        .Messages(mess => { mess.Loading("загрузка"); mess.RequestFailed("ошибка"); mess.Retry("повтор"); })
        .DragAndDrop(usr.AllowedEdit(Enums.AuthPartEnum.STORAGE_FOLDER))
            //.HtmlAttributes(new { @style = "height:85%" })
                .Events(e =>
                {
                    e.Drop("storageTree.onFolderTreeDrop");
                    e.Select("storageTree.onFolderTreeSelect");
                    e.Change("storageTree.onFolderTreeChange");
                })
    )
}

@helper FileTreeHelper(CabinetMvc.ViewModel.User.UserViewModel usr)
{
    @(Html.Kendo().ToolBar()
    .Name("storageFileToolBar")
    .Items(items =>
    {
        if (usr.AllowedView(Enums.AuthPartEnum.STORAGE_FILE))
        {
            items.Add().Template("<input class='k-textbox' type='text' id='search-file' style='width: 200px;' placeholder='поиск' onkeyup='storageTree.onStorageFileSearchKeyup(event)'/>")
                .HtmlAttributes(new { @class = "pull-right", @style = "margin-left: 10px; margin-top: 5px;", });
            items.Add().Template("<div class='hidden' id='file-wait' ><img src='" + @Url.Content("Images/ajax-loader.gif") + "' height='22' width='22'></div>")
                .HtmlAttributes(new { @class = "pull-right", @style = "margin-left: 10px; margin-top: 5px;", });
            items.Add().Type(CommandType.Button).Text("").Id("storage-file-download")
                .SpriteCssClass("storage storage-download")
                .HtmlAttributes(new { @title = "Открыть файл", })
                //.Click("storageTree.onStorageFileDownloadClick");
                .Url("javascript:void")
            ;
            items.Add().Type(CommandType.Button).Text("").Id("storage-file-link")
                .SpriteCssClass("storage storage-url")
                .HtmlAttributes(new { @title = "Ссылки на файл", })
                .Click("storageTree.onStorageFileLinkClick");
            ;
            if (usr.AllowedEdit(Enums.AuthPartEnum.STORAGE_FILE))
            {
                items.Add().Type(CommandType.Button).Text("").Id("storage-file-add")
                    .SpriteCssClass("storage storage-upload")
                    .HtmlAttributes(new { @title = "Добавить файл" })
                    .Click("storageTree.onStorageFileAddClick");
                ;
                items.Add().Type(CommandType.Button).Text("").Id("storage-link-add")
                    .SpriteCssClass("storage storage-upload-2")
                    .HtmlAttributes(new { @title = "Добавить ссылку" })
                    .Click("storageTree.onStorageLinkAddClick");
                ;
                items.Add().Type(CommandType.Button).Text("").Id("storage-file-edit")
                    .SpriteCssClass("storage storage-file-edit")
                    .HtmlAttributes(new { @title = "Переименовать файл" })
                    .Click("storageTree.onStorageFileEditClick");
                items.Add().Type(CommandType.Button).Text("").Id("storage-file-del")
                    .SpriteCssClass("storage storage-file-del")
                    .HtmlAttributes(new { @title = "Удалить файл" })
                    .Click("storageTree.onStorageFileDelClick");
            }
            if (usr.AllowedView(Enums.AuthPartEnum.STORAGE_LOG))
            {
                items.Add().Type(CommandType.Button).Text("").Id("storage-file-log")
                    .SpriteCssClass("cab-png cab-png-log")
                    .HtmlAttributes(new { @title = "История файла" })
                    .Click("storageTree.onStorageFileLogClick");
            }
        }
    })
    )
    <div id="upload-div">
        @if (usr.AllowedEdit(Enums.AuthPartEnum.STORAGE_FILE))
        {
            <div class='k-widget k-header file-upload-header noborder-top noborder-bottom'>
                <input id="chb-overwrite" class="k-checkbox" type="checkbox" value="true">
                <label class="k-checkbox-label" for="chb-overwrite">перезаписывать существующие файлы</label>
                <span class="k-link k-icon k-i-arrow-n pull-right" title="Свернуть/развернуть"></span>
            </div>
            @(Html.Kendo().Upload()
                                .Name("uplFile")
                                .Async(s =>
                                {
                                    s.Save("StorageFileTreeSave", "Storage");
                                    s.AutoUpload(true);
                                })
                                .ShowFileList(true)
                                .Multiple(true)
                                .Messages(mess =>
                                {
                                    mess.Select("Файл...");
                                    mess.StatusUploaded("Готово");
                                    mess.StatusUploading("Загрузка...");
                                    mess.StatusFailed("Ошибка");
                                    mess.Cancel("Отмена");
                                    mess.HeaderStatusUploaded("Готово");
                                    mess.HeaderStatusUploading("Загрузка...");
                                    mess.DropFilesHere("перетащите сюда файлы для загрузки в выбранную папку");
                                })
                                .Events(ev =>
                                {
                                    ev.Upload("storageTree.onUplFileUpload");
                                    ev.Success("storageTree.onUplFileSuccess");
                                    ev.Error("storageTree.onUplFileError");
                                    ev.Complete("storageTree.onUplFileComplete");
                                })
            )
        }
    </div>
    @(Html.Kendo().TreeView()
        .Name("fileTree")
        .DataTextField("file_name_full")
            //.DataSpriteCssClassField("sprite_css_class")
        .DataSource(dataSource => dataSource
        .Read(read => read
            .Action("GetStorageFileTree", "Storage").Data("storageTree.getFileRequestData")
            )
        )
        .AutoBind(true)
        .Messages(mess => { mess.Loading("загрузка"); mess.RequestFailed("ошибка"); mess.Retry("повтор"); })
        .DragAndDrop(true)
        .TemplateId("file-tree-templ")
            //.HtmlAttributes(new { @style = "height:65%" })
        .Events(e =>
        {
            e.Select("storageTree.onFileTreeSelect");
            e.Drop("storageTree.onFileTreeDrop");
            e.DataBound("storageTree.onFileTreeDataBound");
        })
    )
}

@helper StorageTrashHelper(CabinetMvc.ViewModel.User.UserViewModel usr)
{
    @(Html.Kendo().Button().Name("btnStorageTrashClear").Content("Очистить корзину").HtmlAttributes(new { @type = "button", @onclick = "storageTree.onBtnStorageTrashClearClick(event)" }).SpriteCssClass("k-icon k-i-close"))
    @(Html.Kendo().Grid<CabinetMvc.ViewModel.Storage.StorageTrashViewModel>()
                  .Name("storageTrashGrid")
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {
                          model.Id(fld => fld.item_id);
                      })
                      .PageSize(10)
                      .Sort(sort => sort.Add("del_date").Descending())
                      .Read(read => read.Action("GetStorageTrashList", "Storage"))
                   )
                  .Columns(columns =>
                  {
                      columns.Bound(ss => ss.item_name_with_extention)
                          .Width("65%")
                          .ClientTemplate("<span class='#=sprite_css_class#'></span>#=item_name_with_extention#")
                         ;
                      columns.Bound(ss => ss.del_date)
                          .Format("{0:dd.MM.yyyy HH:mm:ss}")
                          ;
                      columns.Bound(ss => ss.del_user)
                          ;
                  })
                  .Pageable(page => { page.PageSizes(false); page.ButtonCount(0); page.Info(false); page.Input(false); page.Numeric(false); page.PreviousNext(true); page.Refresh(true); })
                  .Resizable(resize => resize.Columns(true))
                  .Sortable(s => s.SortMode(GridSortMode.SingleColumn))
                  .Scrollable(scr => scr.Height("auto"))
                  .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                  .AutoBind(false)
                  .HtmlAttributes(new { @style = "margin-top: 10px;" })
                  .Events(ev => ev.DataBound("storageTree.onStorageTrashGridDataBound"))
    )
}

@helper StorageLogHelper(CabinetMvc.ViewModel.User.UserViewModel usr)
{
    @(Html.Kendo().Grid<CabinetMvc.ViewModel.Storage.StorageLogViewModel>()
                  .Name("storageFullLogGrid")
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {
                          model.Id(ev => ev.log_id);
                      })
                      .PageSize(10)
                      .Sort(sort => sort.Add("log_id").Descending())
                      .Read(read => read.Action("GetStorageLogList", "Storage"))
                   )
                  .Columns(columns =>
                  {
                      columns.Bound(ss => ss.date_beg)
                          .Format("{0:dd.MM.yyyy HH:mm:ss}")
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("eq"); }));
                      columns.Bound(ss => ss.mess)
                          .Width("50%")
                          ;
                      columns.Bound(item => item.file_name)
                          .ClientTemplate("#if (file_name != null) {#"
                          + "<a href='/StorageTree?file_id=#=file_id#' title='Перейти к файлу'>#=file_name#</a>"
                          + "#} else {#"
                          + ""
                          + "#}#"
                          )
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));
                      columns.Bound(item => item.folder_name)
                          .ClientTemplate("#if (folder_name != null) {#"
                          + "<a href='/StorageTree?folder_id=#=folder_id#' title='Перейти к папке'>#=folder_name#</a>"
                          + "#} else {#"
                          + ""
                          + "#}#"
                          )
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));
                      columns.Bound(ss => ss.user_name)
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));
                  })
                  .Pageable(page => { page.PageSizes(false); page.ButtonCount(0); page.Info(false); page.Input(false); page.Numeric(false); page.PreviousNext(true); page.Refresh(true); })
                  .Resizable(resize => resize.Columns(true))
                  .Sortable(s => s.SortMode(GridSortMode.SingleColumn))
                  .Scrollable(scr => scr.Height("auto"))
                  .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                  .AutoBind(false)
                  .Events(ev => ev.DataBound("storageTree.onStorageFullLogGridDataBound"))
    )
}


@(Html.Kendo().Window()
            .Name("winStorageLog")
            .Title("История")
            .Content(@<text>
                @(Html.Kendo().Grid<CabinetMvc.ViewModel.Storage.StorageLogViewModel>()
                  .Name("storageLogGrid")
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {
                          model.Id(ev => ev.log_id);
                      })
                      .PageSize(10)
                      .Sort(sort => sort.Add("log_id").Descending())
                      .Read(read => read.Action("GetStorageLogList", "Storage").Data("storageTree.getStorageLogGridData"))
                   )
                  .Columns(columns =>
                  {
                      columns.Bound(ss => ss.date_beg)
                          .Format("{0:dd.MM.yyyy HH:mm:ss}")
                          .HeaderHtmlAttributes(new { @style = "visibility:hidden" });
                      columns.Bound(ss => ss.mess)
                          .Width("50%")
                          .HeaderHtmlAttributes(new { @style = "visibility:hidden" });
                      columns.Bound(ss => ss.user_name)
                          .HeaderHtmlAttributes(new { @style = "visibility:hidden" });
                  })
                  .Pageable(page => { page.PageSizes(false); page.ButtonCount(0); page.Info(false); page.Input(false); page.Numeric(false); page.PreviousNext(true); page.Refresh(false); })
                  .Resizable(resize => resize.Columns(true))
                  .Sortable(s => s.SortMode(GridSortMode.SingleColumn))
                  .Scrollable(scr => scr.Height("auto"))
                  .Filterable(ftb => ftb.Enabled(false))
                  .AutoBind(false)
                )
            </text>)
                                                                .Draggable()
                                                                .Resizable()
                                                                .Width(600)
                                                                .Height(450)
                                                                .Visible(false)
                                                                .Modal(true)
                                                                .Actions(actions => actions.Close())
                                        .Events(ev => { ev.Activate("storageTree.onWinStorageLogActivate"); })
)

@(Html.Kendo().Splitter()
      .Name("storageTreeMainSplitter")
      .Orientation(SplitterOrientation.Vertical)
        //.HtmlAttributes(new { style = "height: 100%;" })
      .Panes(verticalPanes =>
      {
          verticalPanes.Add()
              .Size("65%")
              .HtmlAttributes(new { id = "main-pane" })
              .Scrollable(false)
              .Collapsible(false)
              .Content(
                Html.Kendo().Splitter()
                    .Name("storageTreeSplitter")
                    .HtmlAttributes(new { style = "height: 100%;" })
                    .Panes(horizontalPanes =>
                    {
                        horizontalPanes.Add()
                            .HtmlAttributes(new { id = "left-pane" })
                            //.Size("220px")
                            .Resizable(true)
                            .Collapsible(false)
                            .Content(FolderTreeHelper(currUser).ToHtmlString());
                        horizontalPanes.Add()
                            .HtmlAttributes(new { @id = "right-pane" })
                            .Resizable(true)
                            .Collapsible(false)
                            .Content(FileTreeHelper(currUser).ToHtmlString());
                    }).ToHtmlString()
              );
          verticalPanes.Add()
              //.Size("100px")
              .HtmlAttributes(new { id = "bottom-pane" })
              .Collapsible(true)
              .Resizable(true)
              .Content(@<text>
                @(Html.Kendo().TabStrip().Name("tabStorageInfo")
                    .Events(ev => { ev.Activate("storageTree.onTabStorageInfoActivate"); })
                            .Items(tab =>
                            {
                                tab.Add().Selected(true).Text("Инфо").SpriteCssClasses("storage storage-file-versions")
                                    .ContentHtmlAttributes(new { @style = "background-color:transparent;border-bottom:none !important;" })
                                    .Content("<div class='storage-info'>"
                    + "<div>"
                        + "<strong id='storage-folder-info'></strong>"
                    + "</div>"
                    + "<div>"
                        + "<span id='storage-folder-link1' class='hidden'>"
                            + "<strong>Ссылка на папку:</strong>"
                            + "<a id='storage-folder-storage-link' href='javascript:void(0)'></a>"
                        + "</span>"
                    + "</div>"
                    + "<br />"
                    + "<div>"
                        + "<strong id='storage-file-info'></strong>"
                    + "</div>"
                    + "<div>"
                        + "<span id='storage-file-attr' class='hidden'>"
                            + "<strong>Тип:&nbsp</strong>"
                            + "<span id='storage-file-type'></span>"
                            + "<strong>&nbspРазмер:&nbsp</strong>"
                            + "<span id='storage-file-size'></span>"
                            + "<strong>&nbspДата:&nbsp</strong>"
                            + "<span id='storage-file-date'></span>"                            
                            + "<strong>&nbspДобавлен:&nbsp</strong>"
                            + "<span id='storage-file-author'></span>"
                        + "</span>"
                    + "</div>"
                    + "<div>"
                        + "<span id='storage-file-link1' class='hidden'>"
                            + "<strong>Ссылка на хранилище: </strong>"
                            + "<a id='storage-file-storage-link' href='javascript:void(0)'></a>"
                        + "</span>"
                    + "</div>"
                    + "<div>"
                        + "<span id='storage-file-link2' class='hidden'>"
                            + "<strong>Ссылка на скачивание: </strong>"
                            + "<a id='storage-file-download-link' href='javascript:void(0)' target='_blank'></a>"
                        + "</span>"
                    + "</div>"
                    + "<div id='storage-file-versions-attr' class='hidden'>"
                        + "<strong>Предыдущие версии: </strong>"
                        + "<div><a id='storage-file-v2' href='javascript:void(0)' target='_blank'></a></div>"
                        + "<div><a id='storage-file-v1' href='javascript:void(0)' target='_blank'></a></div>"                        
                    + "</div>"
                    + "<div>"
                        + "<div id='storage-file-local-link' class='hidden service-info'>"
                            + "<p>Для открытия данной ссылки нужно скопировать ее и вставить в адресную строку новой вкладки браузера</p>"
                        + "</div>"
                    + "</div>"                    
                + "</div>");
                                tab.Add().Text("Корзина").SpriteCssClasses("storage storage-basket")
                                                    .ContentHtmlAttributes(new { @style = "background-color:transparent;border-bottom:none !important;" })
                                                    .Content(StorageTrashHelper(currUser).ToHtmlString());
                                tab.Add().Text("История").SpriteCssClasses("cab-png cab-png-log")
                                                    .Enabled(currUser.AllowedView(Enums.AuthPartEnum.STORAGE_LOG))
                                                    .ContentHtmlAttributes(new { @style = "background-color:transparent;border-bottom:none !important;" })
                                                    .Content(StorageLogHelper(currUser).ToHtmlString());
                            })
                )
            </text>);
      })
)


@(Html.Kendo().ContextMenu()
        .Name("folderTreeContextMenu")
        .Target("#left-pane")
        //.Target("#folderTree")
        //.Filter("#left-pane:not(.k-toolbar)")
        .Orientation(ContextMenuOrientation.Vertical)
        .Animation(animation =>
        {
            animation.Open(open =>
            {
                open.Fade(FadeDirection.In);
                open.Duration(500);
            });
        })
        .Items(items =>
        {
            if (currUser.AllowedEdit(Enums.AuthPartEnum.STORAGE_FOLDER))
            {
                items.Add()
                    .Text("Добавить корневую папку")
                    .SpriteCssClasses("storage storage-folder-add")
                    .HtmlAttributes(new { @id = "menu-folder-root-add" })
                    ;
                items.Add()
                    .Text("Добавить подпапку")
                    .SpriteCssClasses("storage storage-folders")
                    .HtmlAttributes(new { @id = "menu-folder-add" })
                    ;
                items.Add()
                    .Text("Переименовать папку")
                    .SpriteCssClasses("storage storage-folder-edit")
                    .HtmlAttributes(new { @id = "menu-folder-edit" })
                    ;
                items.Add()
                    .Text("Удалить папку")
                    .SpriteCssClasses("storage storage-folder-del")
                    .HtmlAttributes(new { @id = "menu-folder-del" })
                    ;
            }
            items.Add()
                .Text("Ссылка на папку")
                .SpriteCssClasses("storage storage-url")
                .HtmlAttributes(new { @id = "menu-folder-link" })
                ;
            items.Add()
                .Text("Развернуть все")
                .SpriteCssClasses("storage storage-expand")
                .HtmlAttributes(new { @id = "menu-folder-expand" })
                ;
            items.Add()
                .Text("Свернуть все")
                .SpriteCssClasses("storage storage-collapse")
                .HtmlAttributes(new { @id = "menu-folder-collapse" })
                ;
            if (currUser.IsSuperAdmin)
            {
                items.Add()
                    .Text("Скачать все хранилище")
                    .SpriteCssClasses("storage storage-download-all")
                    .HtmlAttributes(new { @id = "menu-folder-download-all" })
                    ;
            }
        })
        .Events(ev => ev.Select("storageTree.onFolderTreeContextMenuSelect"))
)

@(Html.Kendo().ContextMenu()
        .Name("fileTreeContextMenu")
        .Target("#right-pane")
        .Orientation(ContextMenuOrientation.Vertical)
        .Animation(animation =>
        {
            animation.Open(open =>
            {
                open.Fade(FadeDirection.In);
                open.Duration(200);
            });
        })
        .Items(items =>
        {
            if (currUser.AllowedView(Enums.AuthPartEnum.STORAGE_FILE))
            {
                items.Add()
                    .Text("Открыть файл")
                    .SpriteCssClasses("storage storage-download")
                    .HtmlAttributes(new { @id = "menu-file-download" })
                    .Url("javascript:void(0)")
                    ;
                items.Add()
                    .Text("Ссылки на файл")
                    .SpriteCssClasses("storage storage-url")
                    .HtmlAttributes(new { @id = "menu-file-link" })
                    ;
                if (currUser.AllowedEdit(Enums.AuthPartEnum.STORAGE_FILE))
                {
                    items.Add()
                        .Text("Добавить файл")
                        .SpriteCssClasses("storage storage-upload")
                        .HtmlAttributes(new { @id = "menu-file-add" })
                        ;
                    items.Add()
                        .Text("Добавить ссылку")
                        .SpriteCssClasses("storage storage-upload-2")
                        .HtmlAttributes(new { @id = "menu-link-add" })
                        ;
                    items.Add()
                        .Text("Переименовать файл")
                        .SpriteCssClasses("storage storage-file-edit")
                        .HtmlAttributes(new { @id = "menu-file-edit" })
                        ;
                    items.Add()
                        .Text("Удалить файл")
                        .SpriteCssClasses("storage storage-file-del")
                        .HtmlAttributes(new { @id = "menu-file-del" })
                        ;
                    items.Add()
                        .Text("Версии файла")
                        .SpriteCssClasses("storage storage-file-versions")
                        .HtmlAttributes(new { @id = "menu-file-version" })
                        .Items(versions =>
                        {
                            versions.Add()
                                .Text("-")
                                .HtmlAttributes(new { @id = "menu-file-version2" })
                                .Url("javascript:void(0)");
                            versions.Add()
                                .Text("-")
                                .HtmlAttributes(new { @id = "menu-file-version1" })
                                .Url("javascript:void(0)");                            
                        }
                        )
                        ;
                }
                if (currUser.AllowedView(Enums.AuthPartEnum.STORAGE_LOG))
                {
                    items.Add()
                        .Text("История файла")
                        .SpriteCssClasses("cab-png cab-png-log")
                        .HtmlAttributes(new { @id = "menu-file-log" })
                        ;
                }
            }
        })
            .Events(ev => { ev.Select("storageTree.onFileTreeContextMenuSelect"); ev.Activate("storageTree.onFileTreeContextMenuActivate"); })
)

@(Html.Kendo().Notification()
    .Name("popupNotification")
    .Position(p => p.Pinned(true).Top(30).Right(130))
    .Stacking(NotificationStackingSettings.Down)
)


<script id="file-tree-templ" type="text/kendo-ui-template">
    <a href="#:item.download_link#" target="_blank" title="Открыть файл">
        <span class="k-sprite #:item.sprite_css_class#"></span>
    </a>
    <span class='storage-tree-view-simple'>#:item.file_name_with_extention#</span>
    <span class='storage-tree-view-ext hidden'>&nbsp/&nbsp#:item.file_size_str#</span>
    <span class='storage-tree-view-ext hidden'>&nbsp/&nbsp#:item.crt_user#</span>
    <span class='storage-tree-view-ext hidden'>&nbsp/&nbsp#:item.crt_date_str#</span>
</script>

<script id="file-tooltip-template" type="text/x-kendo-template">
    #var element = target;#
    #var dataItem = target.closest('[data-role="treeview"]').data('kendoTreeView').dataItem(element);#
    #var model = dataItem;#

    #if(model) {#
    <strong>Файл:</strong> #=model.file_name_with_extention#
    <br />
    <strong>Размер:</strong> #=model.file_size_str#
    <br />
    <strong>Тип:</strong> #=model.group_name#
    <br />
    <strong>Дата:</strong> #if(model.file_date_str) {# #=model.file_date_str#  #} else {# - #}#
    <br />
    <strong>Добавлен:</strong> #=model.crt_date_str#  #=model.crt_user#
    <br />
    <strong>Изменен:</strong> #if(model.upd_date_str) {# #=model.upd_date_str#  #=model.upd_user# #} else {# - #}#
    <br />
    <strong>Версии:</strong> #if(model.v1_crt_date_str) {# #=model.v1_crt_date_str# #} else {# - #}#  #if(model.v2_crt_date_str) {# #=model.v2_crt_date_str# #} else {# #}#
    <br />
    #} else {#
    <strong>нет данных</strong>
    #}#
</script>

<script id="confirm-templ" type="text/kendo-ui-template">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 text-center">
                <p class="confirm-text">Выполнить операцию ?</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11 text-center">
                <button type="button" class="k-button confirm" id="btn-win-confirm-ok">OK</button>
                <button type="button" class="k-button cancel" id="btn-win-confirm-cancel">Отмена</button>
            </div>
        </div>
    </div>
</script>
<script id="edit-templ" type="text/x-kendo-template">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11">
                <div class="form-group">
                    <label class="edit-label" for="win-edit-value"></label>
                    <input id="win-edit-value" class="k-textbox k-valid form-control" value="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11 text-center">
                <button type="button" class="k-button confirm" id="btn-win-confirm-ok">OK</button>
                <button type="button" class="k-button cancel" id="btn-win-confirm-cancel">Отмена</button>
            </div>
        </div>
    </div>
</script>
<script id="edit2-templ" type="text/x-kendo-template">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11">
                <div class="form-group">
                    <label class="edit-label" for="win-edit-value"></label>
                    <input id="win-edit-value" class="k-textbox k-valid form-control" value="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11">
                <div class="form-group">
                    <label class="edit2-label" for="win-edit2-value"></label>
                    <input id="win-edit2-value" class="k-textbox k-valid form-control" value="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11 text-center">
                <button type="button" class="k-button confirm" id="btn-win-confirm-ok">OK</button>
                <button type="button" class="k-button cancel" id="btn-win-confirm-cancel">Отмена</button>
            </div>
        </div>
    </div>
</script>

<script>
    var needCheckFile = true;
    var maxFileSize = @ViewBag.MaxFileSize;
    var allowedExtentions = new Array();
    var allowedExtentions_json = @Html.Raw(Json.Encode(@ViewBag.AllowedExtentions));
    for(var i=0;i<allowedExtentions_json.length;i++){
        allowedExtentions[i] = allowedExtentions_json[i];
    }

    var uploadWithOverwrite = false;
    var firstDataBound_fileTree = true;
    var goto_folderId = null;
    var goto_fileId = null;
    @if (!String.IsNullOrEmpty(ViewBag.FolderId))
    {
        @:goto_folderId = @ViewBag.FolderId;
                                }
    @if (!String.IsNullOrEmpty(ViewBag.FileId))
    {
        @:goto_fileId = @ViewBag.FileId;
                                    }

    var popupNotification = null;

    var url_StorageFolderTreeMove = '@Url.Action("StorageFolderTreeMove", "Storage")';
    var url_StorageFolderTreeAdd = '@Url.Action("StorageFolderTreeAdd", "Storage")';
    var url_StorageFolderTreeEdit = '@Url.Action("StorageFolderTreeEdit", "Storage")';
    var url_StorageFolderTreeDel = '@Url.Action("StorageFolderTreeDel", "Storage")';
    var url_StorageFolderTreeDownloadAll = '@Url.Action("StorageFolderTreeDownload", "Storage")';
    var url_StorageFileTreeMove = '@Url.Action("StorageFileTreeMove", "Storage")';
    var url_StorageFileTreeEdit = '@Url.Action("StorageFileTreeEdit", "Storage")';
    var url_StorageFileTreeDel = '@Url.Action("StorageFileTreeDel", "Storage")';
    var url_StorageFileTreeCheck = '@Url.Action("StorageFileTreeCheck", "Storage")';
    var url_StorageLinkAdd = '@Url.Action("StorageLinkAdd", "Storage")';
    var url_StorageFileSearch = '@Url.Action("StorageFileSearch", "Storage")';
    var url_StorageTreeLink = '@Url.Action("StorageTree", "Storage", null, Request.Url.Scheme)';
    var url_StorageTrashClear = '@Url.Action("StorageTrashClear", "Storage")';
    var url_StorageTrashRestore = '@Url.Action("StorageTrashRestore", "Storage")';

    var url_IsAuthorized = '@Url.Action("IsAuthorized", "Adm", new { })';
    var url_Login = '@Url.Action("Login", "Home", new { @ReturnUrl = "StorageTree" })';
</script>
