﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util
@using AuDev.Common.Util
@using CabinetMvc.ViewModel.Storage
@using Kendo.Mvc.UI.Fluent

@{
    ViewBag.Title = "Папки";
    Layout = null;
    var currUser = ((CabinetMvc.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}

<style>
</style>

@(Html.Kendo().ToolBar()
    .Name("storageFolderToolBar")
    .Items(items =>
    {
        items.Add().Template("<input class='k-textbox' type='text' id='search-folder' placeholder='Поиск папок:' onkeyup='storageFolderTree.onStorageFolderSearchKeyup(this)'/>")
            .HtmlAttributes(new { @class = "pull-right", @style = "margin-left: 10px; margin-top: 5px;", });
        items.Add().Type(CommandType.Button).Text("Выбрать").Id("storage-folder-select")
            .Icon("tick")
            .HtmlAttributes(new { @title = "Выбрать текущую папку", })
            .Click("storageFolderTree.onStorageFolderSelectClick");
        ;
        items.Add().Type(CommandType.Button).Text("").Id("storage-folder-expand")
            .SpriteCssClass("storage storage-expand")
            .HtmlAttributes(new { @title = "Развернуть все" })
            .Click("storageFolderTree.onStorageFolderExpandClick");
        items.Add().Type(CommandType.Button).Text("").Id("storage-folder-collapse")
            .SpriteCssClass("storage storage-collapse")
            .HtmlAttributes(new { @title = "Свернуть все" })
            .Click("storageFolderTree.onStorageFolderCollapseClick");        
    })
)
@(Html.Kendo().TreeView()
        .Name("folderTree")
        .BindTo((IEnumerable<StorageFolderViewModel>)ViewBag.StorageFolderTree, (NavigationBindingFactory<TreeViewItem> mappings) =>
        {
            mappings.For<StorageFolderViewModel>(binding => binding.ItemDataBound((item, folder) =>
            {
                item.Id = folder.id.ToString();
                item.HasChildren = folder.hasChildren;
                item.SpriteCssClasses = "storage storage-folder";
                item.Text = "<span class='storage-tree-view-simple'>" + folder.folder_name + "</span>"
                    + "<span class='storage-tree-view-ext hidden'>&nbsp/&nbsp" + folder.folder_cnt.ToString() + "п&nbsp" + folder.file_cnt.ToString() + "ф" + "</span>"
                    ;
                item.Encoded = false;
            })
            .Children(folder => folder.ChildrenList));
        })
        .Messages(mess => { mess.Loading("загрузка"); mess.RequestFailed("ошибка"); mess.Retry("повтор"); })
        .DragAndDrop(false)
                .Events(e =>
                {                    
                    e.Select("storageFolderTree.onFolderTreeSelect");
                    e.Change("storageFolderTree.onFolderTreeChange");
                })
)

<script>
</script>
