﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util
@{
    ViewBag.Title = "Журнал обмена";    
    Layout = "~/Views/Shared/_Layout.cshtml";
    IQueryable<CabinetMvc.ViewModel.Cabinet.ClientViewModel> clientList = ViewBag.ClientList;
    var currUser = ((CabinetMvc.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/cva", "cva-log-list-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("cva", "ЦеныВАптеках.РФ"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Услуги", "Main", "Home") - @Html.ActionLink("ЦВА", "CvaLogList", "Cva") - @Html.ActionLink("Журнал обмена", "CvaLogList", "Cva")
    </div>    
}

<style>
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.Label("Организация: ", new { @class = "control-label" })
                @if (currUser.IsAdmin)
                {
                @(Html.Kendo().DropDownList()
                                                                .Name("clientList")
                                                                .HtmlAttributes(new { @class = "form-control input-sm", @style = "width: 200px !important" })
                                                                .DataTextField("client_name")
                                                                .DataValueField("id")
                                                                .BindTo(clientList)
                                                                .AutoBind(true)
                                                                //.OptionLabel("[все]")
                                                                .SelectedIndex(0)
                                                                .Events(ev => { ev.Change("cvaLogList.onClientListChange");  })
                )
                }
                else
                {
                    @(Html.Kendo().DropDownList()
                                                                .Name("clientList")
                                                                .HtmlAttributes(new { @class = "form-control input-sm", @style = "width: 200px !important" })
                                                                .DataTextField("client_name")
                                                                .DataValueField("id")
                                                                .BindTo(clientList)
                                                                .AutoBind(true)
                                                                .SelectedIndex(0)
                                                                    .Events(ev => { ev.Change("cvaLogList.onClientListChange"); })
                    )
                }
                @Html.Label("Торговая точка: ", new { @class = "control-label" })
                @(Html.Kendo().DropDownList()
                                                                .Name("salesList")
                                                                .HtmlAttributes(new { @class = "form-control input-sm", @style = "width: 200px !important" })
                                                                .DataTextField("adress")
                                                                .DataValueField("sales_id")
                                                                .AutoBind(true)
                                                                .DataSource(ds =>
                                                                    {
                                                                        ds.Read(rd => rd.Action("GetSalesList_Cva", "Cabinet").Data("cvaLogList.getClientId"));
                                                                    })
                                                                .OptionLabel("[все]")
                                                                        .Events(ev => { ev.Change("cvaLogList.onSalesListChange"); ev.DataBound("cvaLogList.onSalesListDataBound"); })
                )
            </div>
        </div>
    </div>
</div>


@(Html.Kendo().Grid<CabinetMvc.ViewModel.Cabinet.ServiceCvaDataViewModel>()
                      .Name("cvaLogGrid")
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {
                          model.Id(ev => ev.item_id);
                      })
                    .PageSize(100)
                    .Sort(sort =>
                    {
                        sort.Add("sales_address").Ascending();
                        sort.Add("batch_num").Descending();
                    })
                    .Read(read => read.Action("GetCvaLogList", "Cva").Data("cvaLogList.getLogParams"))
                    /*
                            .Group(groups =>
                            {
                                groups.Add(p => p.client_name);
                                groups.Add(p => p.sales_address);
                            })
    */
                   )
                          .ToolBar(tb =>
                          {
                              tb.Template(
                                @<text>                                    
                                    @if (currUser.IsAdmin)
                                    { 
                                    <button id="btnNodeAdd" class="k-button k-button-icontext" title="Добавить точку"><span class="k-icon k-i-plus" title="Добавить точку"></span>Добавить точку</button>
                                    }
                                </text>);
                          })
                  .Columns(columns =>
                  {
                      columns.Bound(item => item.client_name)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(100)
                          .Hidden(true)
                          ;
                      columns.Bound(item => item.sales_address)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(200)                          
                          ;
                      if (currUser.IsAdmin)
                      {
                          columns.Bound(item => item.batch_num)
                              .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                              .ClientTemplate("<a href='/CvaDataView?obj_id=#=item_id#'>#=batch_num#</a>")
                              .Width(50)
                              ;
                      }
                      else
                      {
                          columns.Bound(item => item.batch_num)
                              .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))                              
                              .Width(50)
                              ;                          
                      }
                      columns.Bound(item => item.batch_date)
                          .Format("{0:dd.MM.yyyy HH:mm:ss}")
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.batch_size)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.shortformat)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .ClientTemplate("#=shortformat_str#")
                          .Width(100)
                          ;                                                        
                      columns.Bound(item => item.batch_state)
                          .ClientTemplate("#=batch_state_name#")
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.sent_date)
                          .Format("{0:dd.MM.yyyy HH:mm:ss}")
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.mess)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(100)
                          ;                     
                  })
                  .Pageable(page => { page.PageSizes(new int[] { 10, 50, 100, 500 }); page.Refresh(true); })
                  //.Pageable(pg => pg.Enabled(false))
                  .Groupable(gr => gr.Enabled(false))
                  .Resizable(resize => resize.Columns(true))
                  .Scrollable(scr => scr.Height("auto"))
                  .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                  .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                  .Events(ev => ev.DataBound("cvaLogList.onCvaLogGridDataBound"))
)

<script>
</script>