﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    
    <style>
        .k-header-transparent {
            background-color: transparent;
        }

        .k-header h1,
        .k-header-transparent h1 {
            margin: 0;
            padding: 30px 15px;
            font-size: 32px;
            font-weight: lighter;
        }

        /* Sticky footer styles
    -------------------------------------------------- */
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            /* Margin bottom by footer height */
            margin-bottom: 60px;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 60px;
            background-color: #f5f5f5;
        }

        .container-fluid .text-muted {
            margin: 20px 0;
        }

        .placeholders {
            margin: 30px auto;
        }

        .placeholder img {
            display: inline-block;
        }

        p .k-button {
            margin: 0 15px 0 0;
        }
        .btn-toggle {
            position: absolute;
            top: 0;
            left: 0;
            box-shadow: none;
            height: 48px;
        }

        .btn-toggle .k-icon {
            opacity: 1;
        }

        .btn-toggle,
        .k-primary.btn-toggle:hover,
        .btn-toggle:focus:active:not(.k-state-disabled):not([disabled]),
        .btn-toggle:focus:not(.k-state-disabled):not([disabled]) {
            box-shadow: none;
            border-radius: 0;
        }

        .btn-toggle .k-i-hbars,
        .k-primary.btn-toggle:hover .k-i-hbars,
        .btn-toggle:focus:active:not(.k-state-disabled):not([disabled]) .k-i-hbars,
        .btn-toggle:focus:not(.k-state-disabled):not([disabled]) .k-i-hbars {
            background-position: -80px -32px;
        }

        a.site-logo  {     
         background: url(/Images/6.jpg) no-repeat top left;
         width: 150px;       
         height: 150px;
         display: block;       
         text-indent: -9999px;  /*hides the link text*/ 
          }

        @@media (max-width: 768px) {
          .k-item {
            display: block;
            clear: both;
            float: none;
            width: 100%;
          }

          .k-header h1 {
            margin: 0;
            padding: 16px 15px 14px 60px;
            font-size: 18px;
            font-weight: lighter;
           }  
        }
    </style>
	<link href="@Url.Content("~/Content/kendo/2015.2.624/kendo.common.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2015.2.624/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2015.2.624/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.2.624/kendo.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.2.624/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css" />

    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />

	<script src="@Url.Content("~/Scripts/kendo/2015.2.624/jquery.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2015.2.624/jszip.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2015.2.624/kendo.all.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2015.2.624/kendo.aspnetmvc.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>

    <script src="@Url.Content("~/Scripts/cultures/kendo.culture.ru-RU.min.js")"></script>    
</head>
<body>
    <div class="container-fluid">
        <div class="row k-header-transparent">
            <table>
                <tr>
                    <td>
                        @Html.ActionLink("siteHeader", "Index", "Home", null, new { @class = "site-logo" })
                    </td>
                    <td style="vertical-align:bottom">
                        <h1>Аурит HelpDesk</h1>
                    </td>
                </tr>
            </table>             
            <hr />
            <br/>
        </div>        
    </div>
    @RenderBody()
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-18 col-md-12">
                <div id="grid"></div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container-fluid">
            <p class="text-muted">@DateTime.Today.Year АУРИТ</p>
        </div>
    </footer>

    <script>

    </script>
</body>
</html>
