﻿@using CabinetHelpDesk.Util

<!DOCTYPE html>
<html>
<head>
    <title>Аурит HelpDesk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- for IE -->
    <!--
    <link rel="icon" type="image/x-icon" href="/assets/favicons/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicons/favicon.ico" />
    -->
    @Scripts.Render(HelpDeskUtil.GetJsBundleName())
    @Styles.Render(HelpDeskUtil.GetCssBundleName())

    <script type="text/javascript">
        kendo.culture("ru-RU");
    </script>

    <!--[if lt IE 9]>
        <script src="vendor/html5shiv.js"></script>
        <script src="vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <header>
        <nav id="cab-nav-main" class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-2" style="padding-left: 0px; padding-right: 0px;">
                        <img src='@Url.Content("~/Images/assistant.svg")' width="50" height="50">
                        <span>
                            Аурит HelpDesk
                        </span>
                    </div>
                    <div class="col-md-10 hidden-xs hidden-sm">
                        <ul id="MainMenu" class="k-widget k-reset k-header k-menu k-menu-horizontal" style="font-size: 12px;">
                            <li class="k-item k-state-default k-first">
                                <a class="k-link" href="http://aptekaural.ru/dlya-polzovateley/aurit.inventarizacia.doc">
                                    Инвентаризация
                                </a>
                            </li>
                            <li class="k-item k-state-default k-first">
                                <a class="k-link" href="http://aptekaural.ru/dlya-polzovateley/blanki_pisem.rar">
                                    Бланки писем в тех. поддержку
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div id="cab-content" class="container">
        <div class="row nomargin">
            <div id="main-content-div" class="col-sm-12 nopadding-right">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>

<script>
</script>