﻿@using BotDetect.Web.UI.Mvc

@model CabinetHelpDesk.Models.StoryViewModel

@{
    ViewBag.Title = "Задать вопрос";
}

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()
<div class="story-section">    
    <div class="k-block k-success-colored" style="padding: 20px 0px 20px 10px; width: 670px;">
        Полезные ссылки:        
        <br />
        <br />
        <a href="http://aptekaural.ru/dlya-polzovateley/aurit.inventarizacia.doc"><strong>ИНВЕНТАРИЗАЦИЯ</strong></a>
    </div>

    <h2>Пожалуйста заполните все поля и нажмите на кнопку "Отправить вопрос"</h2>

    <ul id="fieldlist">
        <li>
            <label for="org_name">Наименование организации:</label>
            @(Html.Kendo().TextBoxFor(model => model.org_name)
                  .Name("org_name").HtmlAttributes(new { @placeholder = "например, ООО Фармацевтика" })
            )
            @Html.ValidationMessageFor(model => model.org_name)
        </li>
        <li>
            <label for="org_address">Адрес:</label>
            @(Html.Kendo().TextBoxFor(model => model.org_address)
              .Name("org_address").HtmlAttributes(new { @placeholder = "например, г. Екактеринбург, Ленина 41" })
            )
            @Html.ValidationMessageFor(model => model.org_address)
        </li>
        <li>
            <label for="person_name">Контактное лицо:</label>
            @(Html.Kendo().TextBoxFor(model => model.person_name)
                  .Name("person_name")                  
            )
            @Html.ValidationMessageFor(model => model.person_name)
        </li>
        <li>
            <label for="person_phone">Контактный телефон:</label>
            @(Html.Kendo().MaskedTextBoxFor(model => model.person_phone)
                  .Name("person_phone")
                  .Mask("(999) 000-0000")
                  .HtmlAttributes(new { @style = "width: 180px !important;" })
            )
            @Html.ValidationMessageFor(model => model.person_phone)
        </li>
        <li>
            <label for="person_email">Электронная почта:</label>
            @(Html.Kendo().TextBoxFor(model => model.person_email)
                  .Name("person_email")
                  .HtmlAttributes(new { @style = "width: 180px !important;", @type = "email", @data_email_msg = "Неверно задана электронная почта" })
            )
            @Html.ValidationMessageFor(model => model.person_email)
        </li>
        <li>
            <label for="version_name">Номер версии:</label>
            @(Html.Kendo().TextBoxFor(model => model.version_name)
              .Name("version_name")
                  //.Mask("9.9.9.9")
                  .HtmlAttributes(new { @style = "width: 180px !important;" })
            )
            @Html.ValidationMessageFor(model => model.version_name)
        </li>
        <li>            
            <label for="story_text">Ваш вопрос:</label>
            @(Html.TextAreaFor(model => model.story_text, new { @id = "story_text", @name = "story_text", @cols = "65", @rows = "6" }))
            @Html.ValidationMessageFor(model => model.story_text)
        </li>
        <li>                        
            <label for="txtCaptcha">Код подтверждения:</label>
            @(Html.Kendo().TextBox()
            .Name("txtCaptcha").HtmlAttributes(new { @id = "txtCaptcha", @style = "width: 180px !important;" })
            )
        </li>
        <li>            
            @{ MvcCaptcha sendVerifCaptcha = new MvcCaptcha("SendVerifCaptcha"); 
               sendVerifCaptcha.CodeStyle = BotDetect.CodeStyle.Numeric; 
               sendVerifCaptcha.CodeLength = 4; 
               sendVerifCaptcha.ImageStyle = BotDetect.ImageStyle.Graffiti2; 
               sendVerifCaptcha.ImageSize = new System.Drawing.Size(200, 70);
               sendVerifCaptcha.UserInputClientID = "txtCaptcha";                          
               }
            <div style="padding-left: 250px;">
                @Html.Captcha(sendVerifCaptcha)
            </div>            
        </li>
    </ul>      

    <div class="form-group">
        @(Html.Kendo().Button().Name("btnSend")
        //.HtmlAttributes(new { @type = "submit" })
        .HtmlAttributes(new { @id = "btnSend" })
        .Events(ev => ev.Click("btnSendClick"))
        .Content("Отправить вопрос")
        )
    </div>
</div>
}


<style>
    .k-textbox {
        width: 420px !important;
    }	

    .story-section {
        width: auto;
        margin: 10px;
        padding: 10px;
    }

        .story-section h2 {
            text-transform: uppercase;
            font-size: 1.2em;
            margin-bottom: 10px;
        }

    #fieldlist {
        margin: 0;
        padding: 0;
    }

        #fieldlist li {
            list-style: none;
            padding: 10px 0;
        }

        #fieldlist label {
            display: inline-block;
            width: 250px;
            margin-right: 5px;
            text-align: start;
            vertical-align: top;
        }

    #linklist {
        margin: 0;
        padding: 0;
    }

        #linklist li {
            list-style: none;
            padding: 10px 0;
        }
</style>
<script id="send-story-window" type="text/x-kendo-template">    
    <div class="panel-success" style="padding-left: 110px; padding-top: 20px;">
        <button class="return-to-send k-button"> Задать новый вопрос </button>
    </div>    
</script>
<script id="captcha-validate-window" type="text/x-kendo-template">
    <div class="panel-success" style="padding-left: 110px; padding-top: 20px;">
        <button class="return-to-send k-button"> Попробовать еще раз </button>
    </div>
</script>
<script>
    $(function () {
        $("form").kendoValidator();
    });
    $(function () {
        $(document).keypress(function (e) {
            if (e.which == 13 && e.target.tagName != 'TEXTAREA') {
                return false;
            }
        });
    });
    function btnSendClick(e) {

        var sendResultWindow = $("<div />").kendoWindow({
            actions: [],
            title: "Отправка вопроса...",
            resizable: false,
            modal: true,
            width: "400px",
            height: "100px"
        });

        var validator = $("form").kendoValidator().data("kendoValidator");

        // get client-side Captcha object instance
        var captchaObj = $("#txtCaptcha").get(0).Captcha;

        // gather data required for Captcha validation
        var params = {}
        params.CaptchaId = captchaObj.Id;
        params.InstanceId = captchaObj.InstanceId;
        params.UserInput = $("#txtCaptcha").val();

        e.preventDefault();

        if (validator.validate()) {

            // make asynchronous Captcha validation request
            $.getJSON('Home/CheckCaptcha', params, function (result) {
                if (true === result) {
                    //alert('Check passed');
                    $("#btnSend").kendoButton().data("kendoButton").enable(false);

                    sendResultWindow.data("kendoWindow")
                        .content($("#send-story-window").html())
                        .center().open();
                    sendResultWindow.data("kendoWindow").title("Отправка вопроса...");
                    sendResultWindow.find(".return-to-send").prop('disabled', true);
                    sendResultWindow.find(".return-to-send")
                            .click(function () {
                                $("#btnSend").kendoButton().data("kendoButton").enable(true);
                                //$("story_text").val(' ');
                                sendResultWindow.data("kendoWindow").close();
                                captchaObj.ReloadImage();
                            })
                         .end();

                    var sendData = getData();
                    $.ajax({
                        url: 'Home/SendStory',
                        data: JSON.stringify(sendData),
                        type: "POST",
                        contentType: 'application/json; charset=windows-1251',
                        success: function (response) {
                            //alert('Вопрос отправлен');                    
                            sendResultWindow.data("kendoWindow").title(response);
                            sendResultWindow.find(".return-to-send").prop('disabled', false);
                        },
                        error: function (response) {
                            //$("#btnSend").kendoButton().data("kendoButton").enable(true);
                            //alert('Ошибка при попытке отправить вопрос');
                            sendResultWindow.data("kendoWindow").title(response);
                            sendResultWindow.find(".return-to-send").prop('disabled', false);
                        }
                    });
                } else {
                    //alert('Неверный код подтверждения');
                    // always change Captcha code if validation fails
                    //captchaObj.ReloadImage();
                    sendResultWindow.data("kendoWindow")
                        .content($("#captcha-validate-window").html())
                        .center().open();
                    sendResultWindow.data("kendoWindow").title("Неверный код подтверждения");
                    sendResultWindow.find(".return-to-send").prop('disabled', false);
                    sendResultWindow.find(".return-to-send")
                            .click(function () {
                                $("#btnSend").kendoButton().data("kendoButton").enable(true);                                
                                sendResultWindow.data("kendoWindow").close();
                                captchaObj.ReloadImage();
                            })
                         .end();
                    
                }
            });
        }
        else {
            //alert('Не пройдена валидация');
        }
       
    };
    function getData() {

        var org_name_val = $("#org_name").val();
        var org_address_val = $("#org_address").val();
        var person_name_val = $("#person_name").val();
        var person_phone_val = $("#person_phone").val();
        var person_email_val = $("#person_email").val();
        var version_name_val = $("#version_name").val();
        var story_text_val = $("#story_text").val();

        return {
            org_name: org_name_val, org_address: org_address_val, person_name: person_name_val,
            person_phone: person_phone_val, person_email: person_email_val, version_name: version_name_val, story_text: story_text_val
        }
    };


</script>
