﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util
@{
    ViewBag.Title = "Журнал скачивания";    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/defect", "defect-request-list-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("defect", "Брак"))
}

@section menuPath {
<div class="cab-menu-path">
    @Html.ActionLink("Услуги", "DefectList", "Defect") - @Html.ActionLink("Брак", "DefectList", "Defect") - @Html.ActionLink("Журнал скачивания", "DefectRequestList", "Defect")
</div>
}

@(Html.Kendo().Grid<CabinetMvc.ViewModel.Defect.DefectRequestViewModel>()
                                .Name("defectRequestListGrid")
                                .DataSource(dataSource => dataSource
                                .Ajax()                                
                                .Model(model =>
                                {
                                    model.Id(id => id.request_id);
                                })
                                .PageSize(100)
                                .Read(read => read.Action("GetDefectRequestList", "Defect"))                                 
                                .Sort(sort => sort.Add("request_date").Descending())
                                )
                                .Columns(columns =>
                                {
                                    columns.Bound(item => item.login)
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                        .Width(200)
                                        ;
                                    columns.Bound(item => item.workplace)
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                        .Width(200)
                                        ;
                                    columns.Bound(item => item.version_num)
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                        .Width(200)
                                        ;
                                    columns.Bound(item => item.request_date)
                                        .Format("{0:dd.MM.yyyy HH:mm:ss}")
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))                                        
                                        .Width(200)
                                        ;
                                    columns.Bound(item => item.request_type_str)
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                        .Width(200)
                                        ;   
                                    columns.Bound(item => item.state_str)
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                        .Width(200)
                                        ;                                                                         
                                    columns.Bound(item => item.commit_date)
                                        .Format("{0:dd.MM.yyyy HH:mm:ss}")
                                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                                        .Width(200)
                                        ;
                                })
                                .Pageable(page => { page.PageSizes(new int[] { 10, 20, 50, 100 }); page.Refresh(true); })
                                .Resizable(resize => resize.Columns(true))
                                .Sortable()
                                .Scrollable(scr => scr.Height("auto"))
                                .Filterable(ftb => ftb.Mode(GridFilterMode.Row))                                
)

<script>
</script>