﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util;
@{
    ViewBag.Title = "Пользователи АСНА";    
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currUser = ((CabinetMvc.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}

@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/asna", "asna-user-list-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("asna", "АСНА"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Услуги", "CardList", "Card") - @Html.ActionLink("АСНА", "AsnaUserList", "Asna") - @Html.ActionLink("Пользователи АСНА", "AsnaUserList", "Asna")
    </div>
}

@(Html.Kendo().ToolBar().Name("asnaUserToolbar")
    .Resizable(false)
    .Items(item =>
    {
        item.Add().Template("<span><strong>Организация</strong></span>");
        item.Add().Template(Html.Kendo()
            .DropDownList()
            .Name("asnaUserClientDdl")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("GetAsnaClientList", "Asna");
                });
            })
            .AutoBind(true)
            .OptionLabel("все")
            .DataTextField("client_name")
            .DataValueField("client_id")
            .Events(ev =>
            {
                ev.Change("asnaUserList.onAsnaUserClientDdlChange");
                ev.DataBound("asnaUserList.onAsnaUserClientDdlDataBound");
            })
            .HtmlAttributes(new { @id = "asnaUserClientDdl", @style = "width: 150px;" })
            .ToHtmlString()
            );        
        if (currUser.IsAdmin)
        {
            item.Add().Type(CommandType.Separator);
            item.Add().Type(CommandType.Button).Icon("plus").Text("Подключить организацию").Click("asnaUserList.onBtnAsnaClientAddClick").HtmlAttributes(new { @title = "Подключить организацию к сервису АСНА" });
        }
    })
)

@(Html.Kendo().Grid<CabinetMvc.ViewModel.Asna.AsnaUserViewModel>()
                  .Name("asnaUserGrid")
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {
                          model.Id(ev => ev.asna_user_id);
                      })
                      .PageSize(100)
                      .Sort(sort => sort.Add("client_name").Ascending())
                      .Read(read => read.Action("GetAsnaUserList", "Asna").Data("asnaUserList.getAsnaUserGridData"))
                      .Destroy(d => d.Action("AsnaUserDel", "Asna"))
                       .Events(ev => ev.Error("asnaUserList.onAsnaUserGridError"))
                   )
                  .Columns(columns =>
                  {
                      columns.Bound(item => item.client_name)
                          .ClientTemplate("<a href='/AsnaUserEdit?asna_user_id=#=asna_user_id#' title='Редактировать пользователя'>#=client_name#</a>"
                          + "<a title='Данные клиента' href='/ClientEdit?client_id=#=client_id#'>"
                          + "<span class='cab-png cab-png-cardclient' style='margin-left: .5em; height: 17px;' title='Данные клиента'></span>"
                          + "</a>"
                          )
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(300)
                          ;
                      columns.Bound(item => item.sales_name)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(300)
                          ;
                      columns.Bound(item => item.workplace_name)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(200)
                          ;
                      columns.Bound(item => item.user_name)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(150)
                          ;                      
                      columns.Bound(item => item.is_active_str)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.asna_store_id)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(200)
                          ;
                      columns.Bound(item => item.asna_rr_id)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(200)                          
                          ;
                      columns.Bound(item => item.asna_legal_id)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(200)
                          ;                                     
                      columns.Command(c => c.Destroy().Text(" ").HtmlAttributes(new { @title = "Удалить пользователя" }))
                          .Width(70);
                  })
                  .Pageable(page => { page.PageSizes(new int[] { 10, 50, 100, 500, 1000 }); page.Refresh(true); })
                  .Sortable()
                  .Groupable(gr => gr.Enabled(false))
                  .AutoBind(false)
                  .Resizable(resize => resize.Columns(true))
                  .Scrollable(scr => scr.Height("auto"))
                  .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                  .HtmlAttributes(new { @style = "margin-top:15px;" })
                  .Events(ev =>
                  {
                      ev.DataBound("asnaUserList.onAsnaUserGridDataBound");                      
                  })
)

<script>
</script>