﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util;
@{
    ViewBag.Title = "Заказы";    
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currUser = ((CabinetMvc.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}

@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/asna", "asna-order-list-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("asna", "АСНА"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Услуги", "CardList", "Card") - @Html.ActionLink("АСНА", "AsnaUserList", "Asna") - @Html.ActionLink("Заказы", "AsnaOrderList", "Asna")
    </div>
}

@helper AsnaOrderRowHelper()
{
@(Html.Kendo().Grid<CabinetMvc.ViewModel.Asna.AsnaOrderRowViewModel>()
                   .Name("asnaOrderRowGrid_#=order_id#")
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {
                          model.Id(ev => ev.row_id);
                      })
                      .PageSize(100)
                      .Sort(sort => sort.Add("asna_nnt").Ascending())
                      .Read(read => read.Action("GetAsnaOrderRowList", "Asna", new { @order_id = "#=order_id#", }))
                   )
                  .Columns(columns =>
                  {
                      columns.Bound(item => item.asna_nnt)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.asna_name)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(250)
                          ;
                      columns.Bound(item => item.asna_qnt)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(50)
                          ;
                      columns.Bound(item => item.asna_qnt_unrsv)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(50)
                          ;
                      columns.Bound(item => item.asna_ts)
                          .Format("{0:dd.MM.yyyy HH:mm:ss}")
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.state_type_name)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.asna_row_type)
                          .ClientTemplate("\\#if (asna_row_type == 1) {\\#" + "Предзаказ" + "\\#} else {\\#" + "Наличие" + "\\#}\\#")
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(100)
                          ;
                  })
                  .Pageable(page => { page.PageSizes(new int[] { 10, 50, 100, 500, 1000 }); page.Refresh(true); })
                  .Sortable()
                  .Groupable(gr => gr.Enabled(false))
                  .Resizable(resize => resize.Columns(true))
                  .Scrollable(scr => scr.Height("auto"))
                  .ClientDetailTemplateId("templAsnaOrderRowDetail")
                  .Filterable(ftb => ftb.Enabled(false))
                  .Events(ev => ev.DataBound("asnaOrderList.onAsnaOrderRowGridDataBound"))
                  .ToClientTemplate()
    )
}

@helper AsnaOrderStateHelper()
{
    @(Html.Kendo().Grid<CabinetMvc.ViewModel.Asna.AsnaOrderStateViewModel>()
                   .Name("asnaOrderStateGrid_#=order_id#")
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {
                          model.Id(ev => ev.order_state_id);
                      })
                      .PageSize(100)
                      .Sort(sort => sort.Add("asna_date").Descending())
                      .Read(read => read.Action("GetAsnaOrderStateList", "Asna", new { @order_id = "#=order_id#", }))
                   )
                  .Columns(columns =>
                  {
                      columns.Bound(item => item.asna_date)
                          .Format("{0:dd.MM.yyyy HH:mm:ss}")
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.state_type_name)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(300)
                          ;
                      columns.Bound(item => item.asna_cmnt)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(200)
                          ;
                      columns.Bound(item => item.asna_ts)
                          .Format("{0:dd.MM.yyyy HH:mm:ss}")
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(100)
                          ;                                    
                  })
                  .Pageable(page => { page.PageSizes(new int[] { 10, 50, 100, 500, 1000 }); page.Refresh(true); })
                  .Sortable()
                  .Groupable(gr => gr.Enabled(false))
                  .Resizable(resize => resize.Columns(true))
                  .Scrollable(scr => scr.Height("auto"))
                  .Filterable(ftb => ftb.Enabled(false))
                  .ToClientTemplate()
    )
}

@helper AsnaOrderRowStateHelper()
{
    @(Html.Kendo().Grid<CabinetMvc.ViewModel.Asna.AsnaOrderRowStateViewModel>()
                   .Name("asnaOrderRowStateGrid_#=row_id#")
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {
                          model.Id(ev => ev.row_state_id);
                      })
                      .PageSize(100)
                      .Sort(sort => sort.Add("asna_date").Descending())
                      .Read(read => read.Action("GetAsnaOrderRowStateList", "Asna", new { @row_id = "#=row_id#", }))
                   )
                  .Columns(columns =>
                  {
                      columns.Bound(item => item.asna_date)
                          .Format("{0:dd.MM.yyyy HH:mm:ss}")
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.state_type_name)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(300)
                          ;
                      columns.Bound(item => item.asna_cmnt)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(200)
                          ;
                      columns.Bound(item => item.asna_ts)
                          .Format("{0:dd.MM.yyyy HH:mm:ss}")
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(100)
                          ;
                  })
                  .Pageable(page => { page.PageSizes(new int[] { 10, 50, 100, 500, 1000 }); page.Refresh(true); })
                  .Sortable()
                  .Groupable(gr => gr.Enabled(false))
                  .Resizable(resize => resize.Columns(true))
                  .Scrollable(scr => scr.Height("auto"))
                  .Filterable(ftb => ftb.Enabled(false))
                  .ToClientTemplate()
    )
}

@(Html.Kendo().ToolBar().Name("asnaOrderToolbar")
    .Resizable(false)
    .Items(item =>
    {
        item.Add().Template("<span><strong>Организация</strong></span>");
        item.Add().Template(Html.Kendo()
            .DropDownList()
            .Name("asnaUserClientDdl")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("GetAsnaClientList", "Asna");
                });
            })
            .AutoBind(true)
            .DataTextField("client_name")
            .DataValueField("client_id")
            .Events(ev =>
            {
                ev.Change("asnaOrderList.onAsnaUserClientDdlChange");
                ev.DataBound("asnaOrderList.onAsnaUserClientDdlDataBound");
            })
            .HtmlAttributes(new { @id = "asnaUserClientDdl", @style = "width: 150px;" })
            .ToHtmlString()
            );
        item.Add().Type(CommandType.Separator);
        item.Add().Template("<span><strong>Отделение</strong></span>");
        item.Add().Template(Html.Kendo()
            .DropDownList()
            .Name("asnaUserSalesDdl")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("GetAsnaSalesList", "Asna").Data("asnaOrderList.getAsnaUserSalesDdlData");
                });
            })
            .AutoBind(false)
            .DataTextField("adress")
            .DataValueField("sales_id")            
            .Events(ev =>
            {
                ev.Change("asnaOrderList.onAsnaUserSalesDdlChange");
                ev.DataBound("asnaOrderList.onAsnaUserSalesDdlDataBound");
            })
            .HtmlAttributes(new { @id = "asnaUserSalesDdl", @style = "width: 150px;" })
            .ToHtmlString()
            );
        item.Add().Type(CommandType.Separator);
        item.Add().Type(CommandType.Button).Id("btn-asna-user-edit").Icon("arrow-e").Text("Перейти к настройкам")
            .Click("asnaOrderList.onBtnAsnaUserEditClick")
            .HtmlAttributes(new { @title = "Перейти к настройкам выбранного пользователя" });         
    })
)

@(Html.Kendo().Grid<CabinetMvc.ViewModel.Asna.AsnaOrderViewModel>()
                  .Name("asnaOrderGrid")
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {
                          model.Id(ev => ev.order_id);
                      })
                      .PageSize(100)
                        .Sort(sort => sort.Add("asna_num").Descending())
                        .Read(read => read.Action("GetAsnaOrderList", "Asna").Data("asnaOrderList.getAsnaOrderGridData"))
                   )
                  .Columns(columns =>
                  {
                      columns.Bound(item => item.asna_num)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.issuer_sales_name)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(200)
                          ;                      
                      columns.Bound(item => item.asna_name)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(150)
                          ;
                      columns.Bound(item => item.asna_m_phone)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(150)
                          ;
                      columns.Bound(item => item.asna_date)
                          .Format("{0:dd.MM.yyyy HH:mm:ss}")
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.state_type_name)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(150)
                          ;                      
                      columns.Bound(item => item.asna_pay_type)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(150)
                          ;
                      columns.Bound(item => item.asna_d_card)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(150)
                          ;
                      columns.Bound(item => item.asna_src)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.asna_order_id)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.asna_pay_type_id)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.asna_ae)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.asna_union_id)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.asna_ts)
                          .Format("{0:dd.MM.yyyy HH:mm:ss}")
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(100)
                          ;                                                                                                                                                                                             
                      
                  })
                  .Pageable(page => { page.PageSizes(new int[] { 10, 50, 100, 500, 1000 }); page.Refresh(true); })
                  .Sortable()
                  .Groupable(gr => gr.Enabled(false))
                  .AutoBind(false)
                  .Resizable(resize => resize.Columns(true))
                  .Scrollable(scr => scr.Height("auto"))
                  .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                  .ClientDetailTemplateId("templAsnaOrderDetail")
                  .HtmlAttributes(new { @style = "margin-top:15px;" })
                  .Events(ev =>
                  {
                      ev.DataBound("asnaOrderList.onAsnaOrderGridDataBound");                      
                  })
)

<script id="templAsnaOrderDetail" type="text/kendo-tmpl">
@(Html.Kendo().TabStrip().Name("tabAsnaOrderDetail_#=order_id#")
.Items(it =>
{
    it.Add().Text("Строки заказа").Selected(true).Content(AsnaOrderRowHelper().ToHtmlString());
    it.Add().Text("Статусы заказа").Content(AsnaOrderStateHelper().ToHtmlString());
})
.ToClientTemplate()
)
</script>

<script id="templAsnaOrderRowDetail" type="text/kendo-tmpl">
    @(Html.Kendo().TabStrip().Name("tabAsnaOrderRowDetail_#=row_id#")
.Items(it =>
{
    it.Add().Text("Статусы строки").Selected(true).Content(AsnaOrderRowStateHelper().ToHtmlString());    
})
.ToClientTemplate()
    )
</script>