﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util;
@{
    ViewBag.Title = "Задания";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currUser = ((CabinetMvc.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}

@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/asna", "asna-task-list-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("asna", "АСНА"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Услуги", "CardList", "Card") - @Html.ActionLink("АСНА", "AsnaUserList", "Asna") - @Html.ActionLink("Задания", "AsnaTaskList", "Asna")
    </div>
}

@(Html.Kendo().ToolBar().Name("asnaTaskToolbar")
    .Resizable(false)
    .Items(item =>
    {
        item.Add().Template("<span><strong>Организация</strong></span>");
        item.Add().Template(Html.Kendo()
            .DropDownList()
            .Name("asnaUserClientDdl")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("GetAsnaClientList", "Asna");
                });
            })
            .AutoBind(true)
            .DataTextField("client_name")
            .DataValueField("client_id")
            .Events(ev =>
            {
                ev.Change("asnaTaskList.onAsnaUserClientDdlChange");
                ev.DataBound("asnaTaskList.onAsnaUserClientDdlDataBound");
            })
            .HtmlAttributes(new { @id = "asnaUserClientDdl", @style = "width: 150px;" })
            .ToHtmlString()
            );
        item.Add().Type(CommandType.Separator);
        item.Add().Template("<span><strong>Отделение</strong></span>");
        item.Add().Template(Html.Kendo()
            .DropDownList()
            .Name("asnaUserSalesDdl")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("GetAsnaSalesList", "Asna").Data("asnaTaskList.getAsnaUserSalesDdlData");
                });
            })
            .AutoBind(false)
            .DataTextField("adress")
            .DataValueField("sales_id")
            .Events(ev =>
            {
                ev.Change("asnaTaskList.onAsnaUserSalesDdlChange");
                ev.DataBound("asnaTaskList.onAsnaUserSalesDdlDataBound");
            })
            .HtmlAttributes(new { @id = "asnaUserSalesDdl", @style = "width: 150px;" })
            .ToHtmlString()
            );
        item.Add().Type(CommandType.Separator);
        item.Add().Type(CommandType.ButtonGroup).Buttons(btn =>
        {
            btn.Add().Text("Все").Togglable(true).Group("asna-task-filter-group").HtmlAttributes(new { @data_task_state_id = "0" }).Selected(true);
            btn.Add().Text("Активные").Togglable(true).Group("asna-task-filter-group").HtmlAttributes(new { @data_task_state_id = "1,2,3,4,5" }).Selected(false);
            btn.Add().Text("Завершенные").Togglable(true).Group("asna-task-filter-group").HtmlAttributes(new { @data_task_state_id = "6,7,8,9,10" }).Selected(false);
        });        
        item.Add().Type(CommandType.Separator);
        item.Add().Type(CommandType.Button).Id("btn-asna-user-edit").Icon("arrow-e").Text("Перейти к настройкам")
            .Click("asnaTaskList.onBtnAsnaUserEditClick")
            .HtmlAttributes(new { @title = "Перейти к настройкам выбранного пользователя" });
    })
    .Events(e => e.Toggle("asnaTaskList.onAsnaTaskToolbarToggle"))    
)

@(Html.Kendo().Grid<CabinetMvc.ViewModel.Wa.WaTaskViewModel>()
                  .Name("asnaTaskGrid")
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {
                          model.Id(ev => ev.task_id);
                      })
                      .PageSize(100)
                      .Sort(sort => sort.Add("crt_date").Descending())
                      .Read(read => read.Action("GetAsnaTaskList_bySales", "Asna").Data("asnaTaskList.getAsnaTaskGridData"))
                   )
                  .Columns(columns =>
                  {
                      columns.Bound(item => item.task_id)
                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                        .Width(100)
                        ;
                      columns.Bound(item => item.ord_client)
                        .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                        .Width(100)
                        ;
                      columns.Bound(item => item.request_type_name)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(250)
                          ;
                      columns.Bound(item => item.crt_date)
                          .Format("{0:dd.MM.yyyy HH:mm:ss}")
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(150)
                          ;
                      columns.Bound(item => item.crt_user)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.task_state_name)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(200)
                          ;
                      columns.Bound(item => item.state_date)
                          .Format("{0:dd.MM.yyyy HH:mm:ss}")
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(150)
                          ;
                      columns.Bound(item => item.state_user)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.mess)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(200)
                          ;
                      columns.Bound(item => item.is_auto_created_str)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(100)
                          ;
                  })
                  .Pageable(page => { page.PageSizes(new int[] { 10, 50, 100, 500, 1000 }); page.Refresh(true); })
                  .Sortable()
                  .Groupable(gr => gr.Enabled(false))
                  .AutoBind(false)
                  .Resizable(resize => resize.Columns(true))
                  .Scrollable(scr => scr.Height("auto"))
                  .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                  .ClientDetailTemplateId("templAsnaTaskLc")
                  .HtmlAttributes(new { @style = "margin-top:15px;" })
                  .Events(ev =>
                  {
                      ev.DataBound("asnaTaskList.onAsnaTaskGridDataBound");
                  })
)

<script id="templAsnaTaskLc" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<CabinetMvc.ViewModel.Wa.WaTaskLcViewModel>()
                .Name("grid_#=task_id#")
                                .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .Model(model =>
                                    {
                                        model.Id(p => p.task_lc_id);
                                    })
                                    .PageSize(50)
                                    .Sort(sort => sort.Add("task_lc_id").Descending())
                                    .Read(ac => ac.Action("GetAsnaTaskLcList", "Asna", new { @task_id = "#=task_id#", }))                                
                                )
                        .Columns(columns =>
                        {
                            columns.Bound(item => item.task_state_name)
                                .Width(300)
                                ;                            
                            columns.Bound(item => item.state_date)
                                .Format("{0:dd.MM.yyyy HH:mm:ss}")                                
                                .Width(100)
                                ;
                            columns.Bound(item => item.state_user)                                
                                .Width(100)
                                ;
                            columns.Bound(item => item.mess)                                
                                .Width(200)
                                ;
                        })
                        .Pageable(page => { page.Enabled(false); page.Refresh(true); })
                          .Sortable()
                          .Groupable(gr => gr.Enabled(false))
                          .AutoBind(true)
                        .Resizable(resize => resize.Columns(true))
                        .Scrollable(scr => scr.Height("auto"))
                        .Filterable(ftb => ftb.Enabled(false))
                        .ToClientTemplate())
</script>





<script>
</script>