﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util;
@{
    ViewBag.Title = "Справочник связок";    
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currUser = ((CabinetMvc.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}

@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/asna", "asna-link-list-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("asna", "АСНА"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Услуги", "CardList", "Card") - @Html.ActionLink("АСНА", "AsnaUserList", "Asna") - @Html.ActionLink("Справочник связок", "AsnaLinkList", "Asna")
    </div>
}

@(Html.Kendo().ToolBar().Name("asnaLinkToolbar")
    .Resizable(false)
    .Items(item =>
    {
        item.Add().Template("<span><strong>Организация</strong></span>");
        item.Add().Template(Html.Kendo()
            .DropDownList()
            .Name("asnaUserClientDdl")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("GetAsnaClientList", "Asna");
                });
            })
            .AutoBind(true)
            .DataTextField("client_name")
            .DataValueField("client_id")
            .Events(ev =>
            {
                ev.Change("asnaLinkList.onAsnaUserClientDdlChange");
                ev.DataBound("asnaLinkList.onAsnaUserClientDdlDataBound");
            })
            .HtmlAttributes(new { @id = "asnaUserClientDdl", @style = "width: 150px;" })
            .ToHtmlString()
            );
        item.Add().Type(CommandType.Separator);
        item.Add().Template("<span><strong>Отделение</strong></span>");
        item.Add().Template(Html.Kendo()
            .DropDownList()
            .Name("asnaUserSalesDdl")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("GetAsnaSalesList", "Asna").Data("asnaLinkList.getAsnaUserSalesDdlData");
                });
            })
            .AutoBind(false)
            .DataTextField("adress")
            .DataValueField("sales_id")            
            .Events(ev =>
            {
                ev.Change("asnaLinkList.onAsnaUserSalesDdlChange");
                ev.DataBound("asnaLinkList.onAsnaUserSalesDdlDataBound");
            })
            .HtmlAttributes(new { @id = "asnaUserSalesDdl", @style = "width: 150px;" })
            .ToHtmlString()
            );
        item.Add().Type(CommandType.Separator);
        item.Add().Type(CommandType.Button).Id("btn-asna-user-edit").Icon("arrow-e").Text("Перейти к настройкам")
            .Click("asnaLinkList.onBtnAsnaUserEditClick")
            .HtmlAttributes(new { @title = "Перейти к настройкам выбранного пользователя" });
        item.Add().Type(CommandType.Separator);
        item.Add().Type(CommandType.Button).SpriteCssClass("k-icon k-i-excel")
            .Click("asnaLinkList.onBtnAsnaLinkGridExcelClick")
            .HtmlAttributes(new { @title = "Экспорт отображенных данных в Excel" });              
    })
)

@(Html.Kendo().Grid<CabinetMvc.ViewModel.Asna.AsnaLinkViewModel>()
                  .Name("asnaLinkGrid")
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {
                          model.Id(ev => ev.row_id);
                      })
                      .PageSize(100)
                      .Sort(sort => sort.Add("asna_name").Ascending())
                      .Read(read => read.Action("GetAsnaLinkList", "Asna").Data("asnaLinkList.getAsnaLinkGridData"))
                   )
                  .Columns(columns =>
                  {
                      columns.Bound(item => item.asna_nnt)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(150)
                          ;
                      columns.Bound(item => item.asna_sku)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(150)
                          ;                      
                      columns.Bound(item => item.asna_name)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(400)
                          ;
                      columns.Bound(item => item.is_unique)
                          .ClientTemplate("# if (is_unique) {#" + "Да" + "#} else {#" + "Нет" + "#}#")
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(200)
                          ;                      
                  })
                  .Pageable(page => { page.PageSizes(new int[] { 10, 50, 100, 500, 1000 }); page.Refresh(true); })
                  .Sortable()
                  .Groupable(gr => gr.Enabled(false))
                  .AutoBind(false)
                  .Resizable(resize => resize.Columns(true))
                  .Scrollable(scr => scr.Height("auto"))
                  .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                      .Excel(ex =>
                          {
                              ex.AllPages(false);
                              ex.FileName("Список связок.xlsx");
                          })                  
                  .HtmlAttributes(new { @style = "margin-top:15px;" })
                  .Events(ev =>
                  {
                      ev.DataBound("asnaLinkList.onAsnaLinkGridDataBound");                      
                  })
)

<script id="confirm-templ" type="text/kendo-ui-template">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 text-center">
                <p class="confirm-text">Выполнить операцию ?</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11 text-center">
                <button type="button" class="k-button confirm" id="btn-win-confirm-ok">OK</button>
                <button type="button" class="k-button cancel" id="btn-win-confirm-cancel">Отмена</button>
            </div>
        </div>
    </div>
</script>

<script>
</script>