﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util;

@{
    ViewBag.Title = "Остатки";    
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currUser = ((CabinetMvc.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}

@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/asna", "asna-actual-list-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("asna", "АСНА"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Услуги", "CardList", "Card") - @Html.ActionLink("АСНА", "AsnaUserList", "Asna") - @Html.ActionLink("Остатки", "AsnaActualList", "Asna")
    </div>
}

@(Html.Kendo().ToolBar().Name("asnaActualToolbar")
    .Resizable(false)
    .Items(item =>
    {
        item.Add().Template("<span><strong>Организация</strong></span>");
        item.Add().Template(Html.Kendo()
            .DropDownList()
            .Name("asnaUserClientDdl")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("GetAsnaClientList", "Asna");
                });
            })
            .AutoBind(true)
            .DataTextField("client_name")
            .DataValueField("client_id")
            .Events(ev =>
            {
                ev.Change("asnaActualList.onAsnaUserClientDdlChange");
                ev.DataBound("asnaActualList.onAsnaUserClientDdlDataBound");
            })
            .HtmlAttributes(new { @id = "asnaUserClientDdl", @style = "width: 150px;" })
            .ToHtmlString()
            );
        item.Add().Type(CommandType.Separator);
        item.Add().Template("<span><strong>Отделение</strong></span>");
        item.Add().Template(Html.Kendo()
            .DropDownList()
            .Name("asnaUserSalesDdl")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("GetAsnaSalesList", "Asna").Data("asnaActualList.getAsnaUserSalesDdlData");
                });
            })
            .AutoBind(false)
            .DataTextField("adress")
            .DataValueField("sales_id")            
            .Events(ev =>
            {
                ev.Change("asnaActualList.onAsnaUserSalesDdlChange");
                ev.DataBound("asnaActualList.onAsnaUserSalesDdlDataBound");
            })
            .HtmlAttributes(new { @id = "asnaUserSalesDdl", @style = "width: 150px;" })
            .ToHtmlString()
            );
        item.Add().Type(CommandType.Separator);
        item.Add().Type(CommandType.Button).SpriteCssClass("k-icon k-i-excel")
            .Click("asnaActualList.onBtnAsnaActualGridExcelClick")
            .HtmlAttributes(new { @title = "Экспорт отображенных данных в Excel" });
    })
)

@(Html.Kendo().Grid<CabinetMvc.ViewModel.Asna.AsnaStockRowActualViewModel>()
                  .Name("asnaActualGrid")
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {
                          model.Id(ev => ev.row_id);
                      })
                    .PageSize(100)
                    .Sort(sort => sort.Add("asna_nnt").Ascending())
                    .Read(read => read.Action("GetAsnaActualList", "Asna").Data("asnaActualList.getAsnaActualGridData"))
                   )
                  .Columns(columns =>
                  {
                      columns.Bound(item => item.asna_nnt)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(150)
                          ;                      
                      columns.Bound(item => item.asna_sku)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(150)
                          ;
                      columns.Bound(item => item.asna_name)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(250)
                          ;
                      columns.Bound(item => item.asna_qnt)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(100)
                          ;                      
                      columns.Bound(item => item.firm_name)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(250)
                          ;                        
                      columns.Bound(item => item.is_linked)
                           .ClientTemplate("#if (is_linked) {#" + "Да" + "#} else {#" + "Нет" + "#}#")
                           .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                           .Width(150)
                           ;
                      columns.Bound(item => item.asna_prt_id)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.asna_doc)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.asna_sup_inn)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.asna_sup_date)
                          .Format("{0:dd.MM.yyyy}")
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.asna_nds)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.asna_gnvls)
                          .ClientTemplate("#if (asna_gnvls) {#" + "Да" + "#} else {#" + "Нет" + "#}#")
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.asna_dp)
                          .ClientTemplate("#if (asna_dp) {#" + "Да" + "#} else {#" + "Нет" + "#}#")
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.asna_series)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.asna_exp)
                          .Format("{0:dd.MM.yyyy}")
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.asna_prc_man)                          
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.asna_prc_opt)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.asna_prc_opt_nds)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.asna_prc_ret)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.asna_prc_reestr)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.asna_prc_gnvls_max)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.asna_sum_opt)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.asna_sum_opt_nds)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.asna_mr_gnvls)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.asna_tag)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.asna_stock_date)
                          .Format("{0:dd.MM.yyyy HH:mm:ss}")
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.asna_load_date)
                          .Format("{0:dd.MM.yyyy HH:mm:ss}")
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(100)
                          ;                                                             
                  })
                  .Pageable(page => { page.PageSizes(new int[] { 10, 50, 100, 500, 1000 }); page.Refresh(true); })
                  .Sortable()
                  .Groupable(gr => gr.Enabled(false))
                  .AutoBind(false)
                  .Resizable(resize => resize.Columns(true))
                  .Scrollable(scr => scr.Height("auto"))
                  .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                  .Excel(ex => 
                      {
                          ex.AllPages(false);
                          ex.FileName("Список остатков.xlsx");                          
                      })
                  .HtmlAttributes(new { @style = "margin-top:15px;" })
                  .Events(ev =>
                  {
                      ev.DataBound("asnaActualList.onAsnaActualGridDataBound");                      
                  })
)

<script id="confirm-templ" type="text/kendo-ui-template">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 text-center">
                <p class="confirm-text">Выполнить операцию ?</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11 text-center">
                <button type="button" class="k-button confirm" id="btn-win-confirm-ok">OK</button>
                <button type="button" class="k-button cancel" id="btn-win-confirm-cancel">Отмена</button>
            </div>
        </div>
    </div>
</script>

<script>
    var allowedDates = [];     
</script>