﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util;
@{
    ViewBag.Title = "Журнал операций";    
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currUser = ((CabinetMvc.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}

@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/asna", "asna-log-list-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("asna", "АСНА"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Услуги", "CardList", "Card") - @Html.ActionLink("АСНА", "AsnaUserList", "Asna") - @Html.ActionLink("Журнал операций", "AsnaLogList", "Asna")
    </div>
}

@(Html.Kendo().ToolBar().Name("asnaLogToolbar")
    .Resizable(false)
    .Items(item =>
    {
        item.Add().Template("<span><strong>Организация</strong></span>");
        item.Add().Template(Html.Kendo()
            .DropDownList()
            .Name("asnaUserClientDdl")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("GetAsnaClientList", "Asna");
                });
            })
            .AutoBind(true)
            .OptionLabel("все")
            .DataTextField("client_name")
            .DataValueField("client_id")
            .Events(ev =>
            {
                ev.Change("asnaLogList.onAsnaUserClientDdlChange");
                ev.DataBound("asnaLogList.onAsnaUserClientDdlDataBound");
            })
            .HtmlAttributes(new { @id = "asnaUserClientDdl", @style = "width: 150px;" })
            .ToHtmlString()
            );
        item.Add().Type(CommandType.Separator);
        item.Add().Template("<span><strong>Отделение</strong></span>");
        item.Add().Template(Html.Kendo()
            .DropDownList()
            .Name("asnaUserSalesDdl")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("GetAsnaSalesList", "Asna").Data("asnaLogList.getAsnaUserSalesDdlData");
                });
            })
            .AutoBind(false)
            .OptionLabel("все")
            .DataTextField("adress")
            .DataValueField("sales_id")            
            .Events(ev =>
            {
                ev.Change("asnaLogList.onAsnaUserSalesDdlChange");
                ev.DataBound("asnaLogList.onAsnaUserSalesDdlDataBound");
            })
            .HtmlAttributes(new { @id = "asnaUserSalesDdl", @style = "width: 150px;" })
            .ToHtmlString()
            );
    })
)

@(Html.Kendo().Grid<CabinetMvc.ViewModel.Asna.AsnaUserLogViewModel>()
                  .Name("asnaLogGrid")
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {
                          model.Id(ev => ev.log_id);
                      })
                      .PageSize(100)
                      .Sort(sort => sort.Add("crt_date").Descending())
                      .Read(read => read.Action("GetAsnaLogList", "Asna").Data("asnaLogList.getAsnaLogGridData"))
                   )
                  .Columns(columns =>
                  {
                      columns.Bound(item => item.crt_date)
                          .Format("{0:dd.MM.yyyy HH:mm:ss}")
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(150)
                          ;
                      columns.Bound(item => item.client_name)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(200)
                          ;                      
                      columns.Bound(item => item.sales_name)
                          .ClientTemplate("<a href='/AsnaUserEdit?asna_user_id=#=asna_user_id#' title='Редактировать пользователя'>#=sales_name#</a>")
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(200)
                          ;
                      columns.Bound(item => item.mess)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(450)
                          ;
                      columns.Bound(item => item.crt_user)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(200)
                          ;                                         
                  })
                  .Pageable(page => { page.PageSizes(new int[] { 10, 50, 100, 500, 1000 }); page.Refresh(true); })
                  .Sortable()
                  .Groupable(gr => gr.Enabled(false))
                  .AutoBind(false)
                  .Resizable(resize => resize.Columns(true))
                  .Scrollable(scr => scr.Height("auto"))
                  .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                  .HtmlAttributes(new { @style = "margin-top:15px;" })
                  .Events(ev =>
                  {
                      ev.DataBound("asnaLogList.onAsnaLogGridDataBound");                      
                  })
)

<script>
</script>