﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util

@model CabinetMvc.ViewModel.Asna.AsnaUserViewModel

@functions
{
    private bool isAddMode;
}

@{
    ViewBag.Title = "Пользователь АСНА";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currUser = ((CabinetMvc.Controllers.BaseController)ViewContext.Controller).CurrentUser;
    //
    isAddMode = Model.asna_user_id <= 0;
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/asna", "asna-user-edit-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("asna", "АСНА"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Услуги", "CardList", "Card") - @Html.ActionLink("АСНА", "AsnaUserList", "Asna") - @Html.ActionLink("Пользователи АСНА", "AsnaUserList", "Asna") - @Html.ActionLink((!isAddMode ? ("Пользователь " + Model.client_name + " (" + Model.sales_name + ")") : "Добавление пользователя"), "AsnaUserEdit", "Asna", new { @asna_user_id = Model.asna_user_id }, null)
    </div>
}

<style>
</style>

@helper clientHelper()
{
    <div class="container-fluid" style="margin: 15px;">
        <div class="row">
            <div class="col-md-6">
                @if (isAddMode)
                {
                    @Html.Label("Оганизация:", new { @class = "control-label" })
                    @(Html.Kendo().Grid<CabinetMvc.ViewModel.Cabinet.ClientViewModel>()
                                            .Name("clientGrid")
                                            .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .Model(model =>
                                            {
                                                model.Id(id => id.id);
                                            })
                                             .PageSize(10)
                                             .Sort(so => { so.Add("client_name"); })
                                             .Read(read => read.Action("GetClientList_Sprav", "Cabinet"))
                                            )
                                            .Columns(columns =>
                                            {
                                                columns.Bound(ss => ss.id)
                                                    .HeaderHtmlAttributes(new { style = "display: none;" })
                                                    .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                                                    .Width(100)
                                                    ;
                                                columns.Bound(ss => ss.client_name)
                                                    .HeaderHtmlAttributes(new { style = "display: none;" })
                                                    .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                                    .Width(400)
                                                    ;
                                            })
                                             .Pageable(page => { page.Enabled(true); page.PageSizes(false); page.ButtonCount(2); })
                                             .Resizable(resize => resize.Columns(true))
                                                 .Sortable(s => s.SortMode(GridSortMode.SingleColumn))
                                             .Scrollable(scr => scr.Height("auto"))
                                             .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                                             .Selectable(se => se.Mode(GridSelectionMode.Single))
                                             .Events(ev =>
                                             {
                                                 ev.DataBound("asnaUserEdit.onClientGridDataBound");
                                                 ev.Change("asnaUserEdit.onClientGridChange");
                                             })
                        //.HtmlAttributes(new { @style = "width: 50%;" })
                    )
                }
                else
                {
                    <div class="form-group">
                        @(Html.LabelFor(ss => ss.client_name, new { @class = "control-label" }))
                        @(Html.Kendo().TextBoxFor(ss => ss.client_name).Enable(false))
                    </div>
                }

                @Html.ValidationMessageFor(model => model.client_id, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    @(Html.Label("Торговая точка:", new { @class = "control-label" }))
                    @(Html.Kendo()
                    .DropDownList()
                    .Name("salesDdl")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("GetSalesList_Sprav", "Cabinet").Data("asnaUserEdit.getSalesDdlData");
                        });
                    })
                    .AutoBind(Model.asna_user_id > 0)
                    .DataTextField("adress")
                    .DataValueField("sales_id")
                    .Value(Model.sales_id.ToString())
                    .Enable(Model.asna_user_id <= 0)
                    .Events(ev =>
                    {
                        ev.Change("asnaUserEdit.onSalesDdlChange");
                        ev.DataBound("asnaUserEdit.onSalesDdlDataBound");
                    })
                    .HtmlAttributes(new { @id = "salesDdl", })
                    )
                </div>
                <div class="form-group">
                    @(Html.Label("Рабочее место:", new { @class = "control-label" }))
                    @(Html.Kendo()
                    .DropDownList()
                    .Name("workplaceDdl")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("GetWorkplaceList_bySales", "Cabinet").Data("asnaUserEdit.getWorkplaceDdlData");
                        });
                    })
                    .AutoBind(Model.asna_user_id > 0)
                    .DataTextField("WorkplaceFullName")
                    .DataValueField("id")
                    .Value(Model.workplace_id.ToString())
                    .Events(ev =>
                    {
                        ev.DataBound("asnaUserEdit.onWorkplaceDdlDataBound");
                    })
                    .HtmlAttributes(new { @id = "workplaceDdl", })
                    )
                </div>
            </div>
        </div>
        @if (!isAddMode)
        {
            <div class="row">
                <div class="col-md-6">
                    @(Html.KendoCheckBox("chbIsActive", "Пользователь активен", Model.is_active))
                </div>
            </div>
        }
    </div>
}

@helper asnaParamHelper()
{
    <div class="container-fluid" style="margin: 15px;">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @(Html.LabelFor(ss => ss.asna_store_id, new { @class = "control-label" }))
                    @(Html.Kendo().TextBoxFor(ss => ss.asna_store_id))
                    @(Html.ValidationMessageFor(ss => ss.asna_store_id, "", new { @class = "text-danger" }))
                </div>
                <div class="form-group">
                    @(Html.LabelFor(ss => ss.asna_pwd, new { @class = "control-label" }))
                    @(Html.Kendo().TextBoxFor(ss => ss.asna_pwd))
                    @(Html.ValidationMessageFor(ss => ss.asna_pwd, "", new { @class = "text-danger" }))
                </div>
                <div class="form-group">
                    @(Html.LabelFor(ss => ss.asna_rr_id, new { @class = "control-label" }))
                    @(Html.Kendo().TextBoxFor(ss => ss.asna_rr_id))
                    @(Html.ValidationMessageFor(ss => ss.asna_rr_id, "", new { @class = "text-danger" }))
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    @(Html.LabelFor(ss => ss.asna_legal_id, new { @class = "control-label" }))
                    @(Html.Kendo().TextBoxFor(ss => ss.asna_legal_id).HtmlAttributes(new { @placeholder = "будет получен автоматически", @readonly = "readonly" }))
                </div>
                @if (!isAddMode)
                {
                    <div class="form-group">
                        <label class="control-label" style='width:100%;'></label>
                        <input type="button" value="Обновить данные аптеки" class="btn btn-sm btn-primary" id="btnGetStoreInfo" title="Обновить информацию о данной аптеки из АСНА" />
                        <input type="button" value="Обновить справочник связок" class="btn btn-sm btn-primary pull-right" id="btnGetGoodsLinks" title="Обновить справочник связок данной аптеки из АСНА" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" style='width:100%;'></label>
                        <input type="button" value="Получить остатки из АСНА" class="btn btn-sm btn-primary" id="btnGetRemains" title="Загрузить список текущих остатков данной аптеки из АСНА" />
                        <input type="button" value="Удалить остатки в АСНА" class="btn btn-sm btn-primary pull-right" id="btnDelRemains" title="Удалить текущие остатки данной аптеки в АСНА" />
                    </div>
                }
            </div>
        </div>
    </div>
}

@helper remainsFullHelper()
{
    <div class="container-fluid" style="margin: 15px;">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @(Html.Kendo().CheckBoxFor(ss => ss.sch_full_is_active).Label("Использовать расписание"))
                </div>
                <div class="form-group">
                    @(Html.Kendo().CheckBoxFor(ss => ss.sch_full_is_day1).Label("пн"))
                    @(Html.Kendo().CheckBoxFor(ss => ss.sch_full_is_day2).Label("вт"))
                    @(Html.Kendo().CheckBoxFor(ss => ss.sch_full_is_day3).Label("ср"))
                    @(Html.Kendo().CheckBoxFor(ss => ss.sch_full_is_day4).Label("чт"))
                    @(Html.Kendo().CheckBoxFor(ss => ss.sch_full_is_day5).Label("пт"))
                    @(Html.Kendo().CheckBoxFor(ss => ss.sch_full_is_day6).Label("сб"))
                    @(Html.Kendo().CheckBoxFor(ss => ss.sch_full_is_day7).Label("вс"))
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @(Html.Label("Когда начинать", new { @class = "control-label" }))
                    @(Html.Kendo()
                     .DropDownListFor(ss => ss.sch_full_start_time_type_id)
                    .Name("fullStartTimeDdl")
                    .BindTo((IEnumerable<CabinetMvc.ViewModel.Asna.AsnaScheduleTimeTypeViewModel>)ViewData["ScheduleTimeTypeList"])
                    .DataTextField("time_type_name")
                    .DataValueField("time_type_id")
                    .HtmlAttributes(new { @id = "fullStartTimeDdl", })
                    )
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @(Html.Label("Периодичность", new { @class = "control-label" }))
                    @(Html.Kendo()
                    .DropDownListFor(ss => ss.sch_full_interval_type_id)
                    .Name("fullIntervalDdl")
                    .BindTo((IEnumerable<CabinetMvc.ViewModel.Asna.AsnaScheduleIntervalTypeViewModel>)ViewData["ScheduleFullIntervalTypeList"])
                    .DataTextField("interval_type_name")
                    .DataValueField("interval_type_id")
                    .HtmlAttributes(new { @id = "fullIntervalDdl", })
                    )
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @(Html.Label("Когда заканчивать", new { @class = "control-label" }))
                    @(Html.Kendo()
                    .DropDownListFor(ss => ss.sch_full_end_time_type_id)
                    .Name("fullEndTimeDdl")
                    .BindTo((IEnumerable<CabinetMvc.ViewModel.Asna.AsnaScheduleTimeTypeViewModel>)ViewData["ScheduleTimeTypeList"])
                    .DataTextField("time_type_name")
                    .DataValueField("time_type_id")
                    .HtmlAttributes(new { @id = "fullEndTimeDdl", })
                    )
                </div>
            </div>
        </div>
    </div>
}

@helper remainsChangedHelper()
{
    <div class="container-fluid" style="margin: 15px;">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @(Html.Kendo().CheckBoxFor(ss => ss.sch_ch_is_active).Label("Использовать расписание"))
                </div>
                <div class="form-group">
                    @(Html.Kendo().CheckBoxFor(ss => ss.sch_ch_is_day1).Label("пн"))
                    @(Html.Kendo().CheckBoxFor(ss => ss.sch_ch_is_day2).Label("вт"))
                    @(Html.Kendo().CheckBoxFor(ss => ss.sch_ch_is_day3).Label("ср"))
                    @(Html.Kendo().CheckBoxFor(ss => ss.sch_ch_is_day4).Label("чт"))
                    @(Html.Kendo().CheckBoxFor(ss => ss.sch_ch_is_day5).Label("пт"))
                    @(Html.Kendo().CheckBoxFor(ss => ss.sch_ch_is_day6).Label("сб"))
                    @(Html.Kendo().CheckBoxFor(ss => ss.sch_ch_is_day7).Label("вс"))
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @(Html.Label("Когда начинать", new { @class = "control-label" }))
                    @(Html.Kendo()
                    .DropDownListFor(ss => ss.sch_ch_start_time_type_id)
                    .Name("chStartTimeDdl")
                    .BindTo((IEnumerable<CabinetMvc.ViewModel.Asna.AsnaScheduleTimeTypeViewModel>)ViewData["ScheduleTimeTypeList"])
                    .DataTextField("time_type_name")
                    .DataValueField("time_type_id")
                    .HtmlAttributes(new { @id = "chStartTimeDdl", })
                    )
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @(Html.Label("Периодичность", new { @class = "control-label" }))
                    @(Html.Kendo()
                    .DropDownListFor(ss => ss.sch_ch_interval_type_id)
                    .Name("chIntervalDdl")
                    .BindTo((IEnumerable<CabinetMvc.ViewModel.Asna.AsnaScheduleIntervalTypeViewModel>)ViewData["ScheduleChangeIntervalTypeList"])
                    .DataTextField("interval_type_name")
                    .DataValueField("interval_type_id")
                    .HtmlAttributes(new { @id = "chIntervalDdl", })
                    )
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @(Html.Label("Когда заканчивать", new { @class = "control-label" }))
                    @(Html.Kendo()
                    .DropDownListFor(ss => ss.sch_ch_end_time_type_id)
                    .Name("chEndTimeDdl")
                    .BindTo((IEnumerable<CabinetMvc.ViewModel.Asna.AsnaScheduleTimeTypeViewModel>)ViewData["ScheduleTimeTypeList"])
                    .DataTextField("time_type_name")
                    .DataValueField("time_type_id")
                    .HtmlAttributes(new { @id = "chEndTimeDdl", })
                    )
                </div>
            </div>
        </div>
    </div>
}

@helper taskHelper()
{
    <div class="container-fluid" style="margin: 15px;">
        <div class="row">
            <div class="col-md-11">
                @(Html.Kendo().Grid<CabinetMvc.ViewModel.Wa.WaTaskViewModel>()
                                            .Name("taskGrid")
                                            .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .Model(model =>
                                            {
                                                model.Id(id => id.task_id);
                                            })
                                             .PageSize(10)
                                             .Sort(so => { so.Add("ord_client").Descending(); })
                                             .Read(read => read.Action("GetAsnaTaskList", "Asna").Data("asnaUserEdit.getDataTaskGrid"))
                                             .Create(cr => cr.Action("AsnaTaskAdd", "Asna", new { @asna_user_id = Model.asna_user_id }))
                                            )
                                            .ToolBar(tb =>
                                                {
                                                    tb.Template(taskToolbarHelper().ToHtmlString());
                                                })
                                            .Columns(columns =>
                                            {
                                                columns.Command(c =>
                                                {
                                                    c.Custom("btnTaskDel")
                                                        .Text(" ")
                                                        .Click("asnaUserEdit.onBtnTaskDelClick")
                                                        .HtmlAttributes(new { @title = "Отменить задание" })
                                                        ;
                                                }
                                                )
                                                .Width(100)
                                                ;
                                                columns.Bound(ss => ss.ord_client)
                                                    .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                                                    .Width(50)
                                                    ;
                                                columns.Bound(ss => ss.request_type_name)
                                                    .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                                    .Width(200)
                                                    ;
                                                columns.Bound(ss => ss.crt_date)
                                                    .Format("{0:dd.MM.yyyy HH:mm:ss}")
                                                    .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                                                    .Width(100)
                                                    ;
                                                columns.Bound(ss => ss.task_state_name)
                                                    .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                                    .Width(150)
                                                    ;
                                                columns.Bound(ss => ss.state_date)
                                                    .Format("{0:dd.MM.yyyy HH:mm:ss}")
                                                    .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                                                    .Width(100)
                                                    ;
                                                columns.Bound(ss => ss.mess)
                                                    .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                                    .Width(150)
                                                    ;
                                                columns.Bound(ss => ss.btnCheckState)
                                                    .Title("")
                                                    .Sortable(false)
                                                    .Filterable(false)
                                                    .Encoded(false)
                                                    .Width(100)
                                                    ;                                                  

                                            })
                                            .Pageable(page => { page.Enabled(true); page.PageSizes(false); page.ButtonCount(2); page.Refresh(true); })
                                             .Resizable(resize => resize.Columns(true))
                                             .Sortable(s => s.SortMode(GridSortMode.SingleColumn))
                                             .Scrollable(scr => scr.Height("auto"))
                                             .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                                             .Editable(ed => ed.Enabled(false))
                                             .Events(ev =>
                                             {
                                                 ev.DataBound("asnaUserEdit.onTaskGridDataBound");
                                             })
                )
            </div>
        </div>
    </div>
}

@helper logHelper()
{
    <div class="container-fluid" style="margin: 15px;">
        <div class="row">
            <div class="col-md-11">
                @(Html.Kendo().Grid<CabinetMvc.ViewModel.Asna.AsnaUserLogViewModel>()
                                            .Name("logGrid")
                                            .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .Model(model =>
                                            {
                                                model.Id(id => id.log_id);
                                            })
                                             .PageSize(10)
                                             .Sort(so => { so.Add("crt_date").Descending(); })
                                             .Read(read => read.Action("GetAsnaUserLogList", "Asna").Data("asnaUserEdit.getDataLogGrid"))
                                            )
                                            .Columns(columns =>
                                            {
                                                columns.Bound(ss => ss.crt_date)
                                                    .Format("{0:dd.MM.yyyy HH:mm:ss}")
                                                    .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                                                    .Width(200)
                                                    ;
                                                columns.Bound(ss => ss.mess)
                                                    .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                                    .Width(400)
                                                    ;
                                                columns.Bound(ss => ss.crt_user)
                                                    .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                                    .Width(150)
                                                    ;
                                            })
                                            .Pageable(page => { page.Enabled(true); page.PageSizes(false); page.ButtonCount(2); page.Refresh(true); })
                                             .Resizable(resize => resize.Columns(true))
                                             .Sortable(s => s.SortMode(GridSortMode.SingleColumn))
                                             .Scrollable(scr => scr.Height("auto"))
                                             .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                                             .Editable(ed => ed.Enabled(false))
                                             .Events(ev =>
                                             {
                                                 ev.DataBound("asnaUserEdit.onLogGridDataBound");
                                             })
                )
            </div>
        </div>
    </div>
}

@helper saveHelper()
{
    <div class="container-fluid" style="margin: 15px;">
        <div class="row">
            <div class="col-md-6">
                <input type="button" value="@(isAddMode ? "Сохранить и продолжить" : "Сохранить")" class="btn btn-primary" id="btnSubmit" />
                <input type="submit" value="save" class="btn hidden" id="btnSubmitProceed" />
            </div>
        </div>
    </div>
}

@helper taskToolbarHelper()
{
    @(Html.Kendo().Button().Name("btnTaskAdd").Icon("plus").Content("Добавить задание").HtmlAttributes(new { @type = "button" }))
}

@using (Html.BeginForm("AsnaUserEdit", "Asna", FormMethod.Post, new { @onkeydown = "return event.keyCode != 13" }))
{
    @Html.HiddenFor(x => x.asna_user_id)
    @Html.HiddenFor(x => x.workplace_id)
    @Html.HiddenFor(x => x.is_active)
    @Html.HiddenFor(x => x.sch_full_start_time_type_id)
    @Html.HiddenFor(x => x.sch_full_end_time_type_id)
    @Html.HiddenFor(x => x.sch_full_interval_type_id)
    @Html.HiddenFor(x => x.sch_ch_start_time_type_id)
    @Html.HiddenFor(x => x.sch_ch_end_time_type_id)
    @Html.HiddenFor(x => x.sch_ch_interval_type_id)

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    if (!String.IsNullOrEmpty((string)@ViewBag.Message))
    {
        <div class="k-block k-success-colored">
            <strong>@ViewBag.Message</strong>
            <br />
            <br />
        </div>
        <br />
        <hr />
    }

    @(Html.Kendo().PanelBar()
    .Name("asnaUserPanelbar")
    .ExpandMode(PanelBarExpandMode.Multiple)
    .Items(panelbar =>
    {
        panelbar.Add().Text("Выбор организации, торговой точки, рабочего места")
            .Expanded(true)
            .Content(clientHelper().ToHtmlString());
        panelbar.Add().Text("Учетные данные аптеки в АСНА")
            .Expanded(true)
            .Content(asnaParamHelper().ToHtmlString());
        panelbar.Add().Text("Параметры отправки полных остатков")
            .Expanded(false)
            .Content(remainsFullHelper().ToHtmlString());
        panelbar.Add().Text("Параметры отправки изменений остатков")
            .Expanded(false)
            .Content(remainsChangedHelper().ToHtmlString());
        panelbar.Add().Text("Задания")
            .Visible(!isAddMode)
            .Expanded(false)
            .Content(taskHelper().ToHtmlString());
        panelbar.Add().Text("Журнал")
            .Visible(!isAddMode)
            .Expanded(false)
            .Content(logHelper().ToHtmlString());
        panelbar.Add().Text("Сохранение")
            .Expanded(isAddMode)
            .Content(saveHelper().ToHtmlString());
    })
    )
}

@(Html.Kendo().Window()
.Name("winAsnaTask")
.Title("Задание")
.Content(@<text>
        @(Html.Kendo()
    .DropDownList()
    .Name("waRequestTypeDdl")
    .BindTo((IEnumerable<CabinetMvc.ViewModel.Wa.WaRequestTypeViewModel>)ViewData["WaRequestTypeList"])
    .AutoBind(true)
    .DataTextField("request_type_name")
    .DataValueField("request_type_id")
    .HtmlAttributes(new { @id = "waRequestTypeDdl", @style = "width: 100%;" })
        )
        @(Html.Kendo().Button().Name("btnWinAsnaTaskOk").Icon("tick").Content("OK").HtmlAttributes(new { @type = "button" }))
        @(Html.Kendo().Button().Name("btnWinAsnaTaskCancel").Icon("cancel").Content("Отмена").HtmlAttributes(new { @type = "button" }))
</text>)
.Draggable()
.Resizable()
.Width(400)
.Height(150)
.Visible(false)
.Modal(true)
.Actions(actions => actions.Close())
)

<script id="info-templ" type="text/kendo-ui-template">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 text-center">
                <p class="confirm-text">Проверка статуса...</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11 text-center">
                <button type="button" class="k-button confirm" id="btn-win-confirm-ok">OK</button>                
            </div>
        </div>
    </div>
</script>

<script>
    var model_asna_user_id = @Model.asna_user_id;
    var model_client_id = @Model.client_id;
    var model_sales_id = @Model.sales_id;
    var model_workplace_id = @Model.workplace_id;
</script>