﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util;
@{
    ViewBag.Title = "Статусы заказов";    
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currUser = ((CabinetMvc.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}

@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/asna", "asna-order-state-type-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("asna", "АСНА"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Услуги", "CardList", "Card") - @Html.ActionLink("АСНА", "AsnaUserList", "Asna") - @Html.ActionLink("Статусы заказов", "AsnaOrderStateType", "Asna")
    </div>
}

@(Html.Kendo().Grid<CabinetMvc.ViewModel.Asna.AsnaOrderStateTypeViewModel>()
                      .Name("asnaOrderStateTypeGrid")
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {
                          model.Id(ev => ev.state_type_id);
                      })
                      .PageSize(100)
                       .Sort(sort => sort.Add("state_type_id").Ascending())
                       .Read(read => read.Action("GetAsnaOrderStateTypeList", "Asna"))
                   )
                  .Columns(columns =>
                  {
                      columns.Bound(item => item.state_type_id)                          
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(100)
                          ;
                      columns.Bound(item => item.state_type_name)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(300)
                          ;                      
                      columns.Bound(item => item.is_for_order)
                          .ClientTemplate("# if (is_for_order) {#" + "Да" + "#} else {#" + "Нет" + "#}#")
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(150)
                          ;
                      columns.Bound(item => item.is_for_row)
                          .ClientTemplate("# if (is_for_row) {#" + "Да" + "#} else {#" + "Нет" + "#}#")
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(150)
                          ;                      
                  })
                  .Pageable(page => { page.Enabled(false); page.Refresh(true); })
                  .Sortable()
                  .Groupable(gr => gr.Enabled(false))                  
                  .Resizable(resize => resize.Columns(true))
                  .Scrollable(scr => scr.Height("auto"))
                  .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                  //.HtmlAttributes(new { @style = "margin-top:15px;" })
                  .Events(ev =>
                  {
                      ev.DataBound("asnaOrderStateType.onAsnaOrderStateTypeGridDataBound");                      
                  })
)

<script>
</script>