﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util
@{
    ViewBag.Title = "Сотрудники";    
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currUser = ((CabinetMvc.Controllers.BaseController)ViewContext.Controller).CurrentUser;
    IEnumerable<CabinetMvc.ViewModel.Adm.CabUserViewModel> mainList = ViewBag.MainList;
    var add = Request.QueryString["add"];
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/adm", "admin-list-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("auth", "Полномочия"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Администрирование", "CabinetLogList", "Adm") - @Html.ActionLink("Полномочия", "AuthList", "Auth") - @Html.ActionLink("Сотрудники", "AdminList", "Adm")        
    </div>
}

@if (TempData["error"] != null)
{
    <div class="k-block k-error-colored">
        @TempData["error"]
    </div>
}

<div class="row">
    <div class="col-md-12">
        <div class="form-inline">
            <div class="form-group">
                <button type="button" class="btn btn-default btn-admin-list-filter" id="btnShowAll">Все</button>
                <button type="button" class="btn btn-default btn-primary btn-admin-list-filter" id="btnShowActive">Активные</button>
                <button type="button" class="btn btn-default btn-admin-list-filter" id="btnShowNotActive">Неактивные</button>
            </div>
        </div>
    </div>
</div>

@(Html.Kendo().Grid<CabinetMvc.ViewModel.Adm.CabUserViewModel>(mainList)
            .Name("userGrid")
            .DataSource(dataSource => dataSource
            .Ajax()
            .Events(events => events.Error("adminList.grid_error"))
            .Model(model =>
            {
                model.Id(item => item.user_id);                
                model.Field(f => f.is_active).DefaultValue(true);
                model.Field(f => f.is_crm_user).DefaultValue(true);
                model.Field(f => f.is_executer).DefaultValue(false);
                model.Field(f => f.is_superadmin).Editable(false).DefaultValue(false);
                model.Field(f => f.CrmUserRole).DefaultValue(ViewData["CrmUserRoleDefault"] as CabinetMvc.ViewModel.Crm.CrmUserRoleViewModel);
                model.Field(f => f.AuthRole).DefaultValue(ViewData["AuthRoleDefault"] as CabinetMvc.ViewModel.Auth.AuthRoleViewModel);
            })
            .ServerOperation(false)
                    .Update(upd => upd.Action("AdminEdit", "Adm"))
                    .Create(cr => cr.Action("AdminAdd", "Adm"))
                    .Sort(srt => srt.Add("user_name").Ascending())
                    .Filter(flt => flt.Add(f => f.is_active).IsEqualTo(true))
                    )
                                .Columns(columns =>
                                {
                                    if (currUser.IsSuperAdmin)
                                    {
                                        columns.Command(command => { command.Edit().Text(" ").UpdateText(" ").CancelText(" ").HtmlAttributes(new { @title = "Изменить" }); })
                                            .Width(100);
                                    }
                                    columns.Bound(item => item.user_name)
                                        .Width(100)
                                    ;
                                    columns.Bound(item => item.full_name)
                                        .Width(200)
                                    ;
                                    columns.Bound(item => item.user_login)
                                        .Width(100)
                                    ;
                                    columns.Bound(item => item.pwd)
                                    .ClientTemplate("***")                                        
                                        .Width(100)
                                    ;
                                    columns.Bound(item => item.email)
                                        .Width(100)
                                    ;
                                    columns.Bound(item => item.icq)
                                        .Width(100)
                                    ;
                                    columns.Bound(item => item.AuthRole)
                                    .ClientTemplate("#=auth_role_name#")
                                    //.EditorTemplateName("AuthRoleCombo")
                                    .Width(200)
                                    ;                                    
                                    columns.Bound(item => item.is_crm_user)
                                    .ClientTemplate("<input type='checkbox' value='#=is_crm_user#' class='chb-is_crm_user' disabled "
                                    + "# if (is_crm_user) { #"
                                    + "checked='checked'"
                                    + "# } #"
                                    + "/>")
                                    .EditorTemplateName("BooleanEdit")
                                    .Width(100)
                                    ;
                                    columns.Bound(item => item.CrmUserRole)
                                    .ClientTemplate("#=crm_user_role_name#")
                                    //.EditorTemplateName("CrmUserRoleCombo")
                                    .Width(200)
                                    ;
                                    columns.Bound(item => item.is_executer)
                                    .ClientTemplate("<input type='checkbox' value='#=is_executer#' class='chb-is_executer' disabled "
                                    + "# if (is_executer) { #"
                                    + "checked='checked'"
                                    + "# } #"
                                    + "/>")
                                    .EditorTemplateName("BooleanEdit")
                                    .Width(100)
                                    ;
                                    columns.Bound(item => item.is_superadmin)
                                    .ClientTemplate("<input type='checkbox' value='#=is_superadmin#' disabled "
                                    + "# if (is_superadmin) { #"
                                    + "checked='checked'"
                                    + "# } #"
                                    + "/>")
                                    .Width(100)
                                    ;
                                    columns.Bound(item => item.is_active)
                                    .ClientTemplate("<input type='checkbox' value='#=is_active#' class='chb-is_active' disabled "
                                    + "# if (is_active) { #"
                                    + "checked='checked'"
                                    + "# } #"
                                    + "/>")
                                    .EditorTemplateName("BooleanEdit")
                                    .Width(100)
                                    ;
                                })
                        .ToolBar(toolbar =>
                        {
                            if (currUser.IsSuperAdmin)
                            {
                                toolbar.Create().Text(" ").HtmlAttributes(new { @title = "Добавить" });
                            }
                        })
                        .Editable(ed => ed.Mode(GridEditMode.InLine))
                        .Sortable()
                        .Resizable(rs => rs.Columns(true))
                        .Scrollable(scr => scr.Height("auto"))
                        .HtmlAttributes(new { @style = "margin-top: 15px;" })
                        .Events(ev => ev.DataBound("adminList.onUserGridDataBound"))
)

<script>
    var request_add = '@add';
</script>

        