﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util
@{
    ViewBag.Title = "Журнал событий - дисконты";    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/adm", "discount-log-list-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("log", "Журнал событий"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Администрирование", "CabinetLogList", "Adm") - @Html.ActionLink("Журнал событий", "CabinetLogList", "Adm") - @Html.ActionLink("Дисконты", "DiscountLogList", "Adm")
    </div>
}

@(Html.Kendo().Grid<CabinetMvc.ViewModel.Adm.DiscountLogEventViewModel>()
                  .Name("admEventGrid")
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {
                          model.Id(ev => ev.log_id);
                      })
                      .PageSize(100)
                      .Sort(sort => sort.Add("date_beg").Descending())
                      .Read(read => read.Action("GetDiscountLogList", "Adm"))
                   )
                  .Columns(columns =>
                  {
                      columns.Bound(item => item.date_beg)
                          .Format("{0:dd.MM.yyyy HH:mm:ss}")
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(150)
                          ;
                      columns.Bound(item => item.date_end)
                          .Format("{0:dd.MM.yyyy HH:mm:ss}")
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(150)
                          ;
                      columns.Bound(item => item.log_event_type_name)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(150)
                          ;
                      columns.Bound(item => item.mess)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(350)
                          ;
                      columns.Bound(item => item.user_name)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(150)
                          ;
                      columns.Bound(item => item.business_name)
                          .ClientTemplate("#if(business_id != null) {#" + "<a href='/BusinessEdit?business_id=#=business_id_str#'>#=business_name#</a>"
                          + "#} else {#" + "# } #")
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(150)
                          ;
                      columns.Bound(item => item.session_id)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(150)
                          ;
                      columns.Bound(item => item.obj_id)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(150)
                          ;
                      columns.Bound(item => item.mess2)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(150)
                          ;
                  })
                  .Pageable(page => { page.PageSizes(new int[] { 10, 20, 50, 100 }); page.Refresh(true); })
                  .Sortable()
                  .Resizable(resize => resize.Columns(true))
                  .Scrollable(scr => scr.Height("auto"))
                  .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
)
    
<script>
</script>



