﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util

@{
    ViewBag.Title = "Журнал событий";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/adm", "service-log-list-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("log", "Журнал событий"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Администрирование", "CabinetLogList", "Adm") - @Html.ActionLink("Журнал событий", "CabinetLogList", "Adm") - @Html.ActionLink("Сервисы", "ServiceLogList", "Adm")
    </div>
}

@(Html.Kendo().ToolBar().Name("serviceLogToolbar")    
    .Items(item =>
    {
        item.Add().Type(CommandType.ButtonGroup).Buttons(btn =>
        {
            btn.Add().Text("Все").Togglable(true).Group("service-log-scope-group").HtmlAttributes(new { @data_scope = "-1" }).Selected(true);
            btn.Add().Text("Брак/ГР").Togglable(true).Group("service-log-scope-group").HtmlAttributes(new { @data_scope = "3" }).Selected(false);
            btn.Add().Text("Обмен с партнерами").Togglable(true).Group("service-log-scope-group").HtmlAttributes(new { @data_scope = "4" }).Selected(false);
            btn.Add().Text("Стукач").Togglable(true).Group("service-log-scope-group").HtmlAttributes(new { @data_scope = "7" }).Selected(false);
            btn.Add().Text("Почтовый сервис").Togglable(true).Group("service-log-scope-group").HtmlAttributes(new { @data_scope = "8" }).Selected(false);
            btn.Add().Text("ЦеныВАптеках.РФ").Togglable(true).Group("service-log-scope-group").HtmlAttributes(new { @data_scope = "9" }).Selected(false);
            btn.Add().Text("Сводное наличие").Togglable(true).Group("service-log-scope-group").HtmlAttributes(new { @data_scope = "12" }).Selected(false);
            btn.Add().Text("АСНА").Togglable(true).Group("service-log-scope-group").HtmlAttributes(new { @data_scope = "13" }).Selected(false);
            btn.Add().Text("WebAPI").Togglable(true).Group("service-log-scope-group").HtmlAttributes(new { @data_scope = "14" }).Selected(false);
        })
        //.Overflow(ShowInOverflowPopup.Auto)
        ;
        item.Add().Type(CommandType.ButtonGroup).Buttons(btn =>
        {
            btn.Add().Text("Лицензии").Togglable(true).Group("service-log-scope-group").HtmlAttributes(new { @data_scope = "11" }).Selected(false);
            btn.Add().Text("Прочие").Togglable(true).Group("service-log-scope-group").HtmlAttributes(new { @data_scope = "2" }).Selected(false);
        })
            //.Overflow(ShowInOverflowPopup.Auto)
        ;        
    })
    .Resizable(false)    
    .Events(e => e.Toggle("serviceLogList.onServiceLogToolbarToggle"))
)

@(Html.Kendo().CheckBox().Name("chb-error-only").Label("только ошибки").Checked(false).HtmlAttributes(new { @class = "k-checkbox", @id = "chb-error-only" }))

@(Html.Kendo().Grid<CabinetMvc.ViewModel.Adm.EsnLogEventViewModel>()
                  .Name("serviceLogGrid")
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {
                          model.Id(ev => ev.log_id);
                      })
                      .PageSize(100)
                      .Sort(sort => sort.Add("date_beg").Descending())
                          .Read(read => read.Action("GetServiceLogList", "Adm").Data("serviceLogList.getScope"))
                   )
                  .Columns(columns =>
                  {
                      columns.Bound(item => item.date_beg)
                          .Format("{0:dd.MM.yyyy HH:mm:ss}")
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(150)
                          ;
                      columns.Bound(item => item.date_end)
                          .Format("{0:dd.MM.yyyy HH:mm:ss}")
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(150)
                          ;
                      columns.Bound(item => item.log_event_type_name)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(150)
                          ;
                      columns.Bound(item => item.mess)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(350)
                          ;
                      columns.Bound(item => item.user_name)
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(150)
                          ;
                      columns.Bound(item => item.obj_id)
                          .ClientTemplate("#if(obj_id != null) {#" + "<a href='/ServiceLogView?scope=#=scope#&obj_id=#=obj_id#'>#=obj_id# [посмотреть]</a>"
                          + "#} else {#" + "# } #")
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                          .Width(150)
                          ;
                      columns.Bound(item => item.mess2)
                          //.Filterable(false)
                          //.Sortable(false)
                          //.Encoded(false)
                          .ClientTemplate("#=mess2#")
                          .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                          .Width(150)
                          ;
                  })
                  .Pageable(page => { page.PageSizes(new int[] { 10, 20, 50, 100 }); page.Refresh(true); })
                  .Sortable()
                  .Resizable(resize => resize.Columns(true))
                  .Scrollable(scr => scr.Height("auto"))
                  .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                  .HtmlAttributes(new { @style = "margin-top: 5px;" })
                      .Events(ev => ev.DataBound("serviceLogList.onServiceLogGridDataBound"))
)


<script>
</script>
