﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util
@using AuDev.Common.Util

@{
    ViewBag.Title = "Мои задачи";    
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currUser = ((CabinetMvc.Controllers.BaseController)ViewContext.Controller).CurrentUser;
    //
    IEnumerable<CabinetMvc.ViewModel.Sys.CabGridColumnUserSettingsViewModel> taskGridColumnSettings = ViewBag.TaskGridColumnSettings;
    string taskGridColumnWidths = ViewBag.TaskGridColumnWidths;    
    string taskGridSortOptions = ViewBag.TaskGridSortOptions;
    string taskGridFilterOptions = ViewBag.TaskGridFilterOptions;
    int? taskGridColorColumn = ViewBag.TaskGridColorColumn;
    IEnumerable<CabinetMvc.ViewModel.Sys.CabGridColumnViewModel> taskGridColumnColorList = ViewBag.TaskGridColumnColorList;    
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/crm", "my-task-list-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("crm", "Задачи"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Сервис", "TaskList", "Crm") - @Html.ActionLink("Задачи", "TaskList", "Crm") - @Html.ActionLink("Мои задачи", "MyTaskList", "Crm")
    </div>
}

<style>
    .k-grid tbody tr {
        cursor: pointer;
    }

    .k-panelbar > .k-item > .k-link {
        text-decoration: underline !important;
    }

    .k-grid .k-state-selected {
        color: initial;
        text-decoration: underline;
    }
</style>


@if (TempData["error"] != null)
{
    <div class="k-block k-error-colored">
        @TempData["error"]
    </div>
}

@(Html.Kendo().Menu().Name("taskListMenu").Orientation(MenuOrientation.Horizontal).Events(ev => ev.Select("myTaskList.onTaskListMenuSelect"))
.Items(menuItem =>
{
    menuItem.Add().Text("Я - исполнитель").Selected(true).HtmlAttributes(new { @id = "menu-task-exec" }).Url("#");
    menuItem.Add().Text("Я - ответственный").HtmlAttributes(new { @id = "menu-task-assigned" }).Url("#");
    menuItem.Add().Text("Я - участник").HtmlAttributes(new { @id = "menu-task-partner" }).Url("#");
    menuItem.Add().Text("На контроле").HtmlAttributes(new { @id = "menu-task-follow" }).Url("#");
    menuItem.Add().Text("Все").HtmlAttributes(new { @id = "menu-task-all" }).Url("#");
})
)


@(Html.Kendo().Sortable()
    .For("#taskGridColumnSettingsGrid")
    .Filter("table > tbody > tr")
    .Cursor("pointer")
    .HintHandler("noHint")
    .PlaceholderHandler("myTaskList.placeholder")
    .ContainerSelector("#taskGridColumnSettingsGrid tbody")
    .Events(events => events.Change("myTaskList.onSortChange"))
)

@(Html.Kendo().Window()
            .Name("winTaskEditPersonal")
        //.Title("Задача")
        //.LoadContentFrom("TaskEditPersonal", "Crm", new { task_id = "0", })
            .Draggable()
            .Resizable()
            .Position(pos => { pos.Top(5); })
            .Width(950)
            .Iframe(false)
            .Visible(false)
            .Modal(true)
                .Title("Задача")
            .Actions(actions => actions.Close())
            .Events(ev => { ev.Open("myTaskList.onWinTaskEditPersonalOpen"); })            
)

@(Html.Kendo().Window()
            .Name("winTaskGridConfig")
            .Title("Настройка списка задач")
            .Content(@<text>
                @(Html.Label("Атрибут для подцветки строки"))
                @(Html.Kendo().DropDownList()
                    .BindTo(taskGridColumnColorList)
                    .OptionLabel("[Нет]")
                    .DataTextField("column_name_rus")
                    .DataValueField("column_id")
                    .Name("taskGridColumnColorList")
                    .HtmlAttributes(new { @id = "taskGridColumnColorList", })
                    .Value(taskGridColorColumn.ToString())
                )
                @(Html.Kendo().Grid(taskGridColumnSettings)
                      .Name("taskGridColumnSettingsGrid")
                      .DataSource(dataSource => dataSource
                          .Ajax()
                          .PageSize(19)
                          .ServerOperation(false)
                       )
                      .Columns(columns =>
                      {
                          columns.Bound(p => p.column_name_rus)
                              .HeaderHtmlAttributes(new { style = "display: none;" });
                          columns.Bound(p => p.is_visible)
                              .HeaderHtmlAttributes(new { style = "display: none;" })
                              .ClientTemplate(
                                "<input type='checkbox' value= '#=is_visible#' class='chkbx1' onclick='myTaskList.onTaskGridColumnSettingsGridClick(this)' " +
                                    "# if (is_visible) { #" +
                                        "checked='checked'" +
                                    "# } #" +
                                "/>")
                                ;
                      })
                )
                @(Html.Kendo().Button().Name("btnTaskGridConfigOk").Content("OK"))
                @(Html.Kendo().Button().Name("btnTaskGridConfigCancel").Content("Отмена"))
            </text>)
                                .Draggable()
                                .Resizable()
                                .Width(500)
                                .Height(800)
                                .Visible(false)
                                .Modal(true)
                                .Actions(actions => actions.Close())
)

@(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmTaskViewModel>()
                      .Name("taskListGrid")
                      .DataSource(dataSource => dataSource
                          .Ajax()
                          .Model(model =>
                          {
                              model.Id(ev => ev.task_id);
                          })
                          .PageSize(10)
                              .Read(read => read.Action("GetMyTaskList", "Crm").Data("myTaskList.getMyTaskListData"))                          
                       )
                              .Columns(columns =>
                              {
                                  columns.Bound(p => p.is_event_name)
                                      .ClientTemplate("#if(is_event){#" + "<a href='/TaskScheduler?task_id=#=task_id#'>К</a>"
                                        + "#} else {#" + "# } #")
                                      .Filterable(false)
                                      .Sortable(true)
                                      .Width("30px")
                                      .Title("К")
                                      ;
                                  columns.Bound(p => p.moderator_user_id)
                                      .ClientTemplate("#if(moderator_user_id > 0){#" + "<span title='Модерация: #=moderator_user_name#'>М</span>"
                                        + "#} else {#" + "# } #")
                                      .Filterable(false)
                                      .Sortable(true)
                                      .Width("30px")
                                      .Title("М")
                                      ;                                  
                                  HtmlExtensions.ColumnsForModel<CabinetMvc.ViewModel.Crm.CrmTaskViewModel>(columns, taskGridColumnSettings, taskGridColumnWidths);
                              })
                      .ToolBar(toolbar =>
                          {
                              toolbar.Template(
                                @<text>
                                    <div style="float:left;">
                                        <button class="k-button k-button-icontext refresh-list-btn"><span class="k-icon k-i-refresh"></span>Обновить</button>
                                        <button class="k-button k-button-icontext k-grid-excel"><span class="k-icon k-i-excel"></span>Экспорт в Excel</button>
                                        <button class="k-button k-button-icontext k-grid-pdf"><span class="k-icon k-i-pdf"></span>Экспорт в Pdf</button>
                                    </div>
                                </text>
                                );
                          }
                                )
                                .Pageable(page => { page.PageSizes(new int[] { 10, 20, 50, 100 }); page.Refresh(true); })
                                .Resizable(rsb => rsb.Columns(true))
                                .Sortable(sort => sort.SortMode(GridSortMode.SingleColumn))
                                .Scrollable(scr => scr.Height("auto"))
                                .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                                .Selectable(sel => sel.Mode(GridSelectionMode.Single))
                                .Events(ev => ev.DataBound("myTaskList.onTaskGridDataBound"))                                
                                .Excel(excel => excel
                                    .FileName("Список задач.xlsx")
                                    .ProxyURL(Url.Action("TaskListExport", "Crm"))
                                )
                                .Pdf(pdf => pdf.FileName("Список задач.pdf")
                                    .ProxyURL(Url.Action("TaskListExport", "Crm"))
                                    )
                                .HtmlAttributes(new { @style = "margin-top: 10px;" })                                    
        //.HtmlAttributes(new { @style = "max-height: 500px !important;" })
)

<script>    
    var html_taskGridSortOptions = @Html.Raw(taskGridSortOptions);
    var url_TaskList = '@Url.Action("TaskList", "Crm", new { })';
    var settings_state_name = @taskGridColumnSettings.Where(ss => ss.column_id == (int)@Enums.CabGridColumn_TaskList.state_name && ss.is_visible).Select(ss => ss.column_index + 4).FirstOrDefault();
    var taskGridColorColumn_state_name = @(taskGridColorColumn == (int)Enums.CabGridColumn_TaskList.state_name ? "true" : "false");
    var settings_project_name = @taskGridColumnSettings.Where(ss => ss.column_id == (int)@Enums.CabGridColumn_TaskList.project_name && ss.is_visible).Select(ss => ss.column_index + 4).FirstOrDefault();
    var taskGridColorColumn_project_name = @(taskGridColorColumn == (int)Enums.CabGridColumn_TaskList.project_name ? "true" : "false");
    var settings_priority_name = @taskGridColumnSettings.Where(ss => ss.column_id == (int)@Enums.CabGridColumn_TaskList.priority_name && ss.is_visible).Select(ss => ss.column_index + 4).FirstOrDefault();
    var taskGridColorColumn_priority_name = @(taskGridColorColumn == (int)Enums.CabGridColumn_TaskList.priority_name ? "true" : "false");
    var settings_exec_user_name = @taskGridColumnSettings.Where(ss => ss.column_id == (int)@Enums.CabGridColumn_TaskList.exec_user_name && ss.is_visible).Select(ss => ss.column_index + 4).FirstOrDefault();
    var taskGridColorColumn_exec_user_name = @(taskGridColorColumn == (int)Enums.CabGridColumn_TaskList.exec_user_name ? "true" : "false");
    var settings_owner_user_name = @taskGridColumnSettings.Where(ss => ss.column_id == (int)@Enums.CabGridColumn_TaskList.owner_user_name && ss.is_visible).Select(ss => ss.column_index + 4).FirstOrDefault();
    var taskGridColorColumn_owner_user_name = @(taskGridColorColumn == (int)Enums.CabGridColumn_TaskList.owner_user_name ? "true" : "false");
    var settings_assigned_user_name = @taskGridColumnSettings.Where(ss => ss.column_id == (int)@Enums.CabGridColumn_TaskList.assigned_user_name && ss.is_visible).Select(ss => ss.column_index + 4).FirstOrDefault();
    var taskGridColorColumn_assigned_user_name = @(taskGridColorColumn == (int)Enums.CabGridColumn_TaskList.assigned_user_name ? "true" : "false");
    var currUser_CabUserName = '@currUser.CabUserName';
    var currUser_CabUserId = @currUser.CabUserId;
    var url_IsAuthorized = '@Url.Action("IsAuthorized", "Adm", new { })';
    var url_Login = '@Url.Action("Login", "Home", new { @ReturnUrl = "MyTaskList" })';
</script>
