﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util
@using AuDev.Common.Util

@functions
{
    private IEnumerable<CabinetMvc.ViewModel.Crm.CrmTaskGroupOperationViewModel> operationList;
}

@{
    ViewBag.Title = "Задачи";    
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currUser = ((CabinetMvc.Controllers.BaseController)ViewContext.Controller).CurrentUser;
    IEnumerable<CabinetMvc.ViewModel.Sys.CabGridColumnUserSettingsViewModel> taskGridColumnSettings = ViewBag.TaskGridColumnSettings;
    string taskGridColumnWidths = ViewBag.TaskGridColumnWidths;    
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmStateViewModel> filterStateList = ViewBag.FilterStateList;
    IEnumerable<CabinetMvc.ViewModel.Adm.CabUserViewModel> filterUserList = ViewBag.FilterUserList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmProjectViewModel> filterProjectList = ViewBag.FilterProjectList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmClientViewModel> filterClientList = ViewBag.FilterClientList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmPriorityViewModel> filterPriorityList = ViewBag.FilterPriorityList;
    CabinetMvc.ViewModel.Crm.CrmTaskUserFilterViewModel userFilter = ViewBag.UserFilter;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmBatchViewModel> filterBatchList = ViewBag.FilterBatchList;
    operationList = ViewBag.OperationList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmTaskRelTypeViewModel> relTypeList = ViewBag.RelTypeList;
    string taskGridSortOptions = ViewBag.TaskGridSortOptions;
    string taskGridFilterOptions = ViewBag.TaskGridFilterOptions;    
    int? taskGridColorColumn = ViewBag.TaskGridColorColumn;
    int taskGridPageSize = ViewBag.TaskGridPageSize;
    string taskGridColumnsOptions = ViewBag.TaskGridColumnsOptions;
    IEnumerable<CabinetMvc.ViewModel.Sys.CabGridColumnViewModel> taskGridColumnColorList = ViewBag.TaskGridColumnColorList;    
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/crm", "task-list-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("crm", "Задачи"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Сервис", "TaskList", "Crm") - @Html.ActionLink("Задачи", "TaskList", "Crm")
    </div>
}

<style>
    #taskListGrid tbody tr{    
        cursor: pointer
    } 
    /*
    #taskListGrid tbody tr{
        height: 100px;
        cursor: pointer
    } 
    #taskListGrid td{
        white-space: nowrap;
        overflow: hidden;                       
        -o-text-overflow: ellipsis;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }
    */
    #taskListGrid .k-state-selected {
	    color: initial;        
	    text-decoration: underline;
    }
    #main-content-div {
        /*font-size: 12px !important;*/
    }
    #taskFilterPanel>.k-item>.k-link {          
          text-decoration: underline !important;
    }
    input#taskGridPhrase {
        height: 2.5em;
        width: 300px;
    }
    .k-pdf-export .k-grid-pager, .k-pdf-export .k-grid-toolbar {
	    display: none;
    }
</style>

@if (TempData["error"] != null)
{
    <div class="k-block k-error-colored" >
        @TempData["error"]
    </div>
}

@helper ToolbarTemplate()
{
    <div style="float:left;">
        @(Html.Kendo().DropDownList()
                                        .OptionLabel("Действие...")
                                        .BindTo(operationList)
                                        .DataSource(ds =>
                                        {
                                            ds.ServerFiltering(false);
                                        })
                                        .DataTextField("operation_name")
                                        .DataValueField("operation_id")
                                        .Name("taskGridCombo")
                                        .HtmlAttributes(new { @id = "taskGridCombo", })
                                        .Events(ev =>
                                        {                                            
                                            ev.Change("taskList.onTaskGridComboChange");
                                        })                                        
        )
        <button class="k-button k-button-icontext add-task-btn" disabled onclick='taskList.onAddTaskBtnClick(this)' title="Добавить задачу в окне"><span class="k-icon k-i-restore"></span></button>
        <button class="k-button k-button-icontext add-task-new-btn " disabled onclick='taskList.onAddTaskNewBtnClick(this)' title="Добавить задачу в форме"><span class="k-icon k-i-plus"></span></button>
        <button class="k-button k-button-icontext k-grid-excel" title="Экспорт в Excel"><span class="k-icon k-i-excel" title="Экспорт в Excel"></span> </button>
        <button class="k-button k-button-icontext k-grid-pdf" title="Экспорт в PDF"><span class="k-icon k-i-pdf" title="Экспорт в PDF"></span> </button>
        @(Html.Kendo().CheckBox().Name("taskGridExportAll").HtmlAttributes(new { @id = "taskGridExportAll", }).Checked(false).Label("экспорт всех страниц"))
        @(Html.Kendo().TextBox().Name("taskGridPhrase").HtmlAttributes(new { @id = "taskGridPhrase", @placeholder = "поиск по фразе", @style = "margin-left: 10px;" }))
        <a href='#' class='grid-phrase-search-btn' onclick='taskList.onGridPhraseSearchBtnClick(this)'><span class="cab-png cab-png-arrow-right" title="Поиск"></span></a>
    </div>
    <div style="float:right;">
        <a href='#' class='grid-load-settings-btn hidden'><span class="cab-png cab-png-page-edit"></span></a>
        <a href='#' class='grid-clear-filters-btn' onclick='taskList.onGridClearFiltersBtnClick(this)'><span class="cab-png cab-png-cross" title="Очистить фильтры"></span></a>
        <a href='#' class='grid-save-settings-btn' onclick='taskList.onGridSaveSettingsBtnClick(this)'><span class="cab-png cab-png-save" title="Сохранить фильтры и сортировку"></span></a>
        <a href='#' class='grid-config-btn' onclick='taskList.onGridConfigBtnClick(this)'><span class="cab-png cab-png-page-edit" title="Настройка списка"></span></a>
    </div>
}

<script type="text/x-kendo-template" id="toolbarTemplate">    
    @Html.Raw(@ToolbarTemplate().ToHtmlString().Replace("#", "\\#").Replace("</scr", "<\\/scr"))
</script>

<div class="row">
    <div class="col-md-12">
        <div class="form-group service-info">
            <p><strong class="text-danger">ВНИМАНИЕ</strong> ! С 25.05.2017 действует <a href="PrjList">новый раздел задач</a>, здесь можно только просматривать созданные ранее задачи</p>
        </div>
    </div>
</div>

@(Html.Kendo().Menu().Name("taskListMenu").Orientation(MenuOrientation.Horizontal).Events(ev => ev.Select("taskList.onTaskListMenuSelect"))
.Items(menuItem => {    
    menuItem.Add().Text("Неразобранные").HtmlAttributes(new { @id = "menu-task-bucket" }).Url("#");
    menuItem.Add().Text("Обработанные").HtmlAttributes(new { @id = "menu-task-prepared" }).Url("#");
    menuItem.Add().Text("К утверждению").HtmlAttributes(new { @id = "menu-task-fixed" }).Url("#");
    menuItem.Add().Text("В работе").HtmlAttributes(new { @id = "menu-task-approved" }).Url("#");
    menuItem.Add().Text("В версии").HtmlAttributes(new { @id = "menu-task-version" }).Url("#");
    menuItem.Add().Text("Закрытые").HtmlAttributes(new { @id = "menu-task-closed" }).Url("#");
    menuItem.Add().Text("Проекты").HtmlAttributes(new { @id = "menu-task-project" }).Url("#");
    menuItem.Add().Text("Все").HtmlAttributes(new { @id = "menu-task-all" }).Url("#");    
})
)

@(Html.Kendo().PanelBar()
    .Name("taskFilterPanel")
    .ExpandMode(PanelBarExpandMode.Multiple)
    .Items(panelbar =>
    {
        panelbar.Add().Text("Фильтры").LinkHtmlAttributes(new { @id = "filter-panel-header" })
       .Expanded(false)
       .Selected(true)
       .Content(@<text>   
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("Программа", new { @class = "control-label" })
                    @(Html.Kendo().MultiSelect()
                                .Placeholder("...")
                                .AutoClose(false)
                                .AutoBind(true)
                                .BindTo(filterProjectList)
                                .Name("filterProjectList")
                                .HtmlAttributes(new { @id = "filterProjectList" })
                                .DataTextField("project_name")
                                .DataValueField("project_id")
                                .Value(userFilter.projectFilterList)
                            //.Value(new List<int>() {2})
                    )
                </div>
                <div class="form-group">
                    @Html.Label("Клиент", new { @class = "control-label" })
                    @(Html.Kendo().MultiSelect()
                                .Placeholder("...")
                                .AutoClose(false)
                                        .AutoBind(true)
                                .BindTo(filterClientList)
                                .Name("filterClientList")
                                .HtmlAttributes(new { @id = "filterClientList" })
                                .DataTextField("client_name")
                                .DataValueField("client_id")
                                .Value(userFilter.clientFilterList)
                    )
                </div>
                <div class="form-group">
                    @Html.Label("Приоритет", new { @class = "control-label" })
                    @(Html.Kendo().MultiSelect()
                                .Placeholder("...")
                                .AutoClose(false)
                                        .AutoBind(true)
                                .BindTo(filterPriorityList)
                                .Name("filterPriorityList")
                                .HtmlAttributes(new { @id = "filterPriorityList" })
                                .DataTextField("priority_name")
                                .DataValueField("priority_id")
                                .Value(userFilter.priorityFilterList)
                    )
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-sm" id="btnTaskListFilter">Применить</button>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("Статус", new { @class = "control-label" })
                    @(Html.Kendo().MultiSelect()
                                .Placeholder("...")
                                .AutoClose(false)
                                .AutoBind(true)
                                .BindTo(filterStateList)
                                .Name("filterStateList")
                                .HtmlAttributes(new { @id = "filterStateList" })
                                .DataTextField("state_name")
                                .DataValueField("state_id")
                                .Value(userFilter.stateFilterList)
                    )
                </div>
                <div class="form-group">
                    @Html.Label("Ответственный", new { @class = "control-label" })
                    @(Html.Kendo().MultiSelect()
                                .Placeholder("...")
                                .AutoClose(false)
                                .AutoBind(true)
                                .BindTo(filterUserList)
                                .Name("filterAssignedUserList")
                                .HtmlAttributes(new { @id = "filterAssignedUserList" })
                                .DataTextField("user_name")
                                .DataValueField("user_id")
                                .Value(userFilter.assignedUserFilterList)
                    )
                </div>
                <div class="form-group">
                    @Html.Label("Исполнитель", new { @class = "control-label" })
                    @(Html.Kendo().MultiSelect()
                                .Placeholder("...")
                                .AutoClose(false)
                                .AutoBind(true)
                                .BindTo(filterUserList)
                                .Name("filterExecUserList")
                                .HtmlAttributes(new { @id = "filterExecUserList" })
                                .DataTextField("user_name")
                                .DataValueField("user_id")
                                .Value(userFilter.execUserFilterList)
                    )
                </div>
            </div>
            <div class="col-md-2">
                <!-- !!! -->
                <div class="form-group hidden">
                    @Html.Label("Цена (от)", new { @class = "control-label" })
                    @(Html.Kendo().NumericTextBox()
                                .Name("filterFinCost")
                                  .Min(0)                                  
                                  .HtmlAttributes(new { @type = "text", @id = "filterFinCost", @style = "display: inline !important;" })
                                .Value(userFilter.fin_cost_filter)
                    )
                </div>
                <div class="form-group">
                    @Html.Label("Проект", new { @class = "control-label" })
                    @(Html.Kendo().MultiSelect()
                                .Placeholder("...")
                                .AutoClose(false)
                                .AutoBind(true)
                                .BindTo(filterBatchList)
                                .Name("filterBatchList")
                                .HtmlAttributes(new { @id = "filterBatchList" })
                                .DataTextField("batch_name")
                                .DataValueField("batch_id")
                                .Value(userFilter.batchFilterList)
                    )
                </div>
                <div class="form-group">
                    @Html.Label("Плановая дата (с - по)", new { @class = "control-label" })
                    @(Html.Kendo().DatePicker()
                                .Name("filterRequiredDate1")
                                        .HtmlAttributes(new { @type = "text", @id = "filterRequiredDate1", @style = "width: 49% !important;", })
                                .Value(userFilter.required_date1_filter)
                    )
                    @(Html.Kendo().DatePicker()
                                .Name("filterRequiredDate2")
                                        .HtmlAttributes(new { @type = "text", @id = "filterRequiredDate2", @style = "width: 49% !important;", })
                                .Value(userFilter.required_date2_filter)
                    )
                </div>
                <div class="form-group">
                    @Html.Label("Фактическая дата (с - по)", new { @class = "control-label" })
                    @(Html.Kendo().DatePicker()
                                .Name("filterRepairDate1")
                                        .HtmlAttributes(new { @type = "text", @id = "filterRepairDate1", @style = "width: 49% !important;", })
                                .Value(userFilter.repair_date1_filter)
                    )
                    @(Html.Kendo().DatePicker()
                                .Name("filterRepairDate2")
                                        .HtmlAttributes(new { @type = "text", @id = "filterRepairDate2", @style = "width: 49% !important;", })
                                .Value(userFilter.repair_date2_filter)
                    )
                </div>
                <div class="form-group">                    
                    @(Html.Kendo().CheckBox()
                    .Name("filterIsModerated")
                    .HtmlAttributes(new { @id = "filterIsModerated", })
                    .Label("модерация")
                    .Checked(userFilter.is_moderated_filter)                                
                    )
                </div>
            </div>
        </div>
    </div>
    </text>);
    })
    .HtmlAttributes(new { @style = "margin-bottom: 10px; margin-top: 10px;" })
    )

    @(Html.Kendo().Sortable()
    .For("#taskGridColumnSettingsGrid")
    .Filter("table > tbody > tr")
    .Cursor("pointer")
    .HintHandler("noHint")
    .PlaceholderHandler("taskList.placeholder")
    .ContainerSelector("#taskGridColumnSettingsGrid tbody")
    .Events(events => events.Change("taskList.onSortChange"))
    )

    @(Html.Kendo().Window()
            .Name("winTaskEditSimple")
            //.Title("Задача")
            //.LoadContentFrom("TaskEditSimple", "Crm", new { task_id = "0",  })
            .Draggable()
            .Resizable()
            .Position(pos => {pos.Top(5);})
            .Width(950)
            .Iframe(false)
            .Visible(false)
            .Modal(true)
            .Title("Задача")
            .Actions(actions => actions.Close())
    )

    @(Html.Kendo().Window()
            .Name("winTaskEditFull")
            .Draggable()
            .Resizable()
            //.Position(pos => { pos.Top(5); })
            .Width(950)
            .Iframe(false)
            .Visible(false)
            .Modal(true)
            .Title("Задача")
            .Actions(actions => actions.Close())
            .Events(ev => 
            {
                ev.Refresh("taskList.onWinTaskEditFullRefresh"); 
            })

    )

    @(Html.Kendo().Window()
            .Name("winTaskGridConfig")
            .Title("Настройка списка")
            .Content(@<text>
                @(Html.Label("Атрибут для подцветки строки"))
                @(Html.Kendo().DropDownList()
                    .BindTo(taskGridColumnColorList)
                    .OptionLabel("[Нет]")
                    .DataTextField("column_name_rus")
                    .DataValueField("column_id")
                    .Name("taskGridColumnColorList")
                    .HtmlAttributes(new { @id = "taskGridColumnColorList", })
                    .Value(taskGridColorColumn.ToString())
                )
    
                @(Html.Kendo().Grid(taskGridColumnSettings)
                      .Name("taskGridColumnSettingsGrid")
                      .DataSource(dataSource => dataSource
                          .Ajax()
                          .PageSize(30)
                          .ServerOperation(false)
                       )
                      .Columns(columns =>
                      {
                          columns.Bound(p => p.column_name_rus)
                              .HeaderHtmlAttributes(new { style = "display: none;" });
                          columns.Bound(p => p.is_visible)
                              .HeaderHtmlAttributes(new { style = "display: none;" })
                              .ClientTemplate(
                                "<input type='checkbox' value= '#=is_visible#' class='chkbx1' onclick='taskList.onTaskGridColumnSettingsGridClick(this)' " +
                                    "# if (is_visible) { #" +
                                        "checked='checked'" +
                                    "# } #" +
                                "/>")
                                ;
                      })
                )
                @(Html.Kendo().Button().Name("btnTaskGridConfigOk").Content("OK"))
                @(Html.Kendo().Button().Name("btnTaskGridConfigCancel").Content("Отмена"))
            </text>)
            .Draggable()
            .Resizable()
            .Width(500)
            .Height(800)
            .Visible(false)
            .Modal(true)
            .Actions(actions => actions.Close())
    )

@(Html.Kendo().Window()
            .Name("winTaskBatch")
            .Title("Выберите проект")
            .Content(@<text>
                    @(Html.Kendo().DropDownList()
                    .BindTo(filterBatchList)                    
                    .DataTextField("batch_name")
                    .DataValueField("batch_id")
                    .Name("ddlTaskBatch")
                    .HtmlAttributes(new { @id = "ddlTaskBatch", })
                    .Value("0")
                    )
                @(Html.Kendo().Button().Name("btnWinTaskBatchOk").Content("OK").HtmlAttributes(new { @type = "button" }))
                @(Html.Kendo().Button().Name("btnWinTaskBatchCancel").Content("Отмена").HtmlAttributes(new { @type = "button" }))
            </text>)
                                .Draggable()
                                .Resizable()
                                //.Width(300)
                                //.Height(500)
                                .Visible(false)
                                .Modal(true)
                                .Actions(actions => actions.Close())
)

    @(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmTaskViewModel>()
                      .Name("taskListGrid")
                      .DataSource(dataSource => dataSource
                          .Ajax()
                          .Model(model =>
                          {
                              model.Id(ev => ev.task_id);
                          })
                          .PageSize(taskGridPageSize)
                          //.Sort(sort => sort.Add("task_id").Descending())
                          .Read(read => read.Action("GetTaskList", "Crm").Data("taskList.getTaskListData"))
                       )
                              .Columns(columns =>
                              {
                                  columns.Bound(p => p.IsChecked)
                                      .ClientTemplate("<input type='checkbox' value='false' class='cab-grid-checkbox' onclick='taskList.onCabGridCheckboxClick(this)'/>")
                                      .HeaderTemplate("<input type='checkbox' value='false' class='cab-grid-checkbox-header' onclick='taskList.onCabGridCheckboxHeaderClick(this)'/>")
                                      .Filterable(false)
                                      .Sortable(false)
                                      .Width("30px")
                                  ;
                                  columns.Bound(p => p.group_name)
                                      .Filterable(false)
                                      .Sortable(true)
                                      .Hidden(true)
                                      .Width("120px")
                                      ;
                                  columns.Bound(p => p.is_event_name)
                                      //.ClientTemplate("#if(is_event){#" + "<a href='javascript:void' onclick='taskList.onTaskEventCellClick(#=task_id#)' title='Задача в Календаре'>К</a>" + "#} else {#" + "# } #")
                                      .ClientTemplate("#if(is_event){#" + "<span title='Задача в Календаре'>К</span>" + "#} else {#" + "# } #")
                                      .Filterable(false)
                                      .Sortable(true)
                                      .Width("30px")
                                      .Title("К")
                                      .HeaderHtmlAttributes(new { @title = "Задача в Календаре" })
                                      ;                                 
                                  columns.Bound(p => p.moderator_user_id)
                                      .ClientTemplate("#if(moderator_user_id > 0){#" + "<span title='Модерация: #=moderator_user_name#'>М</span>"
                                        + "#} else {#" + "# } #")
                                      .Filterable(false)
                                      .Sortable(true)
                                      .Width("30px")
                                      .Title("М")
                                      .HeaderHtmlAttributes(new { @title = "Задача прошла модерацию" })
                                      ;
                                  columns.Bound(p => p.is_in_storage_name)
                                      .ClientTemplate("#if(is_in_storage){#" + "<a href='javascript:void' onclick='taskList.onTaskStorageCellClick(#=storage_folder_id#)' title='Задача привязана к Хранилищу'>Хр</a>"
                                        + "#} else {#" + "# } #")
                                      .Filterable(false)
                                      .Sortable(true)
                                      .Width("30px")
                                      .Title("Хр")
                                      .HeaderHtmlAttributes(new { @title = "Задача привязана к Хранилищу" })
                                      ;
                                  HtmlExtensions.ColumnsForModel<CabinetMvc.ViewModel.Crm.CrmTaskViewModel>(columns, taskGridColumnSettings, taskGridColumnWidths);
                              })
                      .ToolBar(toolbar =>
                          {
                              toolbar.Template(
                                @<text>
@ToolbarTemplate()
                                </text>
                                );
                          }
                            )
                            .Pageable(page => { page.PageSizes(new int[] { 10, 20, 50, 100 }); page.Refresh(true); })
                            .Resizable(rsb => rsb.Columns(true))
                            .Sortable(sort => sort.SortMode(GridSortMode.SingleColumn))
                            .Scrollable(scr => scr.Height("auto"))
                            .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                            .Selectable(sel => sel.Mode(GridSelectionMode.Single))
                             .Events(ev => { 
                                 ev.DataBound("taskList.onTaskGridDataBound"); 
                                 ev.ExcelExport("taskList.onTaskGridExcelExport"); 
                                 ev.PdfExport("taskList.onTaskGridPdfExport"); 
                             })
                            .ClientDetailTemplateId("templTaskRel")
                            .Excel(excel => excel
                                .FileName("Список задач.xlsx")
                                .ProxyURL(Url.Action("TaskListExport", "Crm"))                                                                
                            )
                            .Pdf(pdf =>
                            {
                                pdf.FileName("Список задач.pdf").ProxyURL(Url.Action("TaskListExport", "Crm"));
                            }
                                )
            //.HtmlAttributes(new { @style = "max-height: 500px !important;" })
    )
<script id="templTaskRel" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmTaskRelViewModel>()
                .Name("grid_#=task_id#")
                        .Columns(columns =>
                        {
                            columns.Bound(o => o.rel_type_id).Visible(false);
                            columns.Bound(o => o.group_id).Visible(false);
                            columns.Bound(o => o.task_num).Title("№ задачи").Width(30);
                            columns.Bound(o => o.rel_type_name).Title("Тип связи").Width(30);
                            columns.Bound(o => o.task_name).Title("Кратко").Width(30);
                            columns.Bound(o => o.exec_user_name).Title("Исполнитель").Width(30);
                            columns.Bound(o => o.state_name).Title("Статус").Width(30);
                            columns.Bound(o => o.project_name).Title("Программа").Width(30);
                            columns.Bound(o => o.required_date).Title("Требуемая дата").Format("{0:dd.MM.yyyy}").Width(30);
                        })
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(10)
                            .Read(read => read.Action("GetTaskRelList", "Crm", new { task_id = "#=task_id#" }))
                        )
                        .Pageable()
                        .Sortable()
                        //.Scrollable(scr => scr.Height("auto"))
                        .Scrollable(scr => scr.Enabled(false))
                        .Resizable(resize => resize.Columns(true))
                        .Selectable(sel => sel.Mode(GridSelectionMode.Single))
                        .Events(ev => ev.DataBound("taskList.onTaskRelGridDataBound('#=task_id#')"))
                        .HtmlAttributes(new { @style = "width: 40% !important;" })
                      .ToolBar(toolbar =>
                          {
                              toolbar.Template(
                                @<text>
                                    <div style="float:left;">
                                        @(Html.Kendo().DropDownList()
                                        .BindTo(relTypeList)
                                        .DataTextField("type_name")
                                        .DataValueField("type_id")
                                        .Name("taskRelTypeCombo_#=task_id#")
                                        .HtmlAttributes(new { @id = "taskRelTypeCombo_#=task_id#", })
                                        .ToClientTemplate()
                                        )
                                        @(Html.Kendo().AutoComplete()
                                              .Name("taskRelAutoComplete_#=task_id#")
                                      .DataTextField("obj_name")
                                      .Filter(FilterType.Contains)
                                              .Placeholder("номер задачи...")
                                      .MinLength(2)
                                      .DataSource(source =>
                                      {
                                          source.Read(read =>
                                          {
                                              read.Action("GetCrmTaskNumList", "Crm")                                                  
                                              .Data("taskList.onAdditionalData");
                                          })
                                          .ServerFiltering(true);
                                      })
                                      .ToClientTemplate()
                                        )
                                        <button class="k-button k-button-icontext add-task-rel" onclick="taskList.addTaskRel('#=task_id#')"><span class="k-icon k-i-plus"></span>Прицепить</button>
                                        <button class="k-button k-button-icontext del-task-rel" onclick="taskList.delTaskRel('#=task_id#')"><span class="k-icon k-i-close"></span>Отцепить</button>
                                    </div>
                                </text>
                                );
                          }
                          )
                .ToClientTemplate())
</script>
<script>
    var html_taskGridSortOptions = @Html.Raw(taskGridSortOptions);
    var html_taskGridFilterOptions = @Html.Raw(taskGridFilterOptions);
    var userFilter_curr_group_id = @userFilter.curr_group_id.GetValueOrDefault(0);    
    var url_TaskList = '@Url.Action("TaskList", "Crm", new { })';
    var settings_state_name = @taskGridColumnSettings.Where(ss => ss.column_id == (int)@Enums.CabGridColumn_TaskList.state_name && ss.is_visible).Select(ss => ss.column_index + 4).FirstOrDefault();
    var taskGridColorColumn_state_name = @(taskGridColorColumn == (int)Enums.CabGridColumn_TaskList.state_name ? "true" : "false");
    var settings_project_name = @taskGridColumnSettings.Where(ss => ss.column_id == (int)@Enums.CabGridColumn_TaskList.project_name && ss.is_visible).Select(ss => ss.column_index + 4).FirstOrDefault();
    var taskGridColorColumn_project_name = @(taskGridColorColumn == (int)Enums.CabGridColumn_TaskList.project_name ? "true" : "false");
    var settings_priority_name = @taskGridColumnSettings.Where(ss => ss.column_id == (int)@Enums.CabGridColumn_TaskList.priority_name && ss.is_visible).Select(ss => ss.column_index + 4).FirstOrDefault();
    var taskGridColorColumn_priority_name = @(taskGridColorColumn == (int)Enums.CabGridColumn_TaskList.priority_name ? "true" : "false");
    var settings_exec_user_name = @taskGridColumnSettings.Where(ss => ss.column_id == (int)@Enums.CabGridColumn_TaskList.exec_user_name && ss.is_visible).Select(ss => ss.column_index + 4).FirstOrDefault();
    var taskGridColorColumn_exec_user_name = @(taskGridColorColumn == (int)Enums.CabGridColumn_TaskList.exec_user_name ? "true" : "false");
    var settings_owner_user_name = @taskGridColumnSettings.Where(ss => ss.column_id == (int)@Enums.CabGridColumn_TaskList.owner_user_name && ss.is_visible).Select(ss => ss.column_index + 4).FirstOrDefault();
    var taskGridColorColumn_owner_user_name = @(taskGridColorColumn == (int)Enums.CabGridColumn_TaskList.owner_user_name ? "true" : "false");
    var settings_assigned_user_name = @taskGridColumnSettings.Where(ss => ss.column_id == (int)@Enums.CabGridColumn_TaskList.assigned_user_name && ss.is_visible).Select(ss => ss.column_index + 4).FirstOrDefault();
    var taskGridColorColumn_assigned_user_name = @(taskGridColorColumn == (int)Enums.CabGridColumn_TaskList.assigned_user_name ? "true" : "false");
    var currUser_CabUserName = '@currUser.CabUserName';
    var currUser_CabUserId = @currUser.CabUserId;
    var url_IsAuthorized = '@Url.Action("IsAuthorized", "Adm", new { })';
    var url_Login = '@Url.Action("Login", "Home", new { @ReturnUrl = "TaskList" })';
</script>    
