﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util
@using AuDev.Common.Util

@{
    ViewBag.Title = "Календарь";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currUser = ((CabinetMvc.Controllers.BaseController)ViewContext.Controller).CurrentUser;
    IEnumerable<CabinetMvc.ViewModel.Sys.CabGridColumnUserSettingsViewModel> taskGridColumnSettings = ViewBag.TaskGridColumnSettings;
    string taskGridColumnWidths = ViewBag.TaskGridColumnWidths;
    IEnumerable<CabinetMvc.ViewModel.Adm.CabUserViewModel> executerList = ViewBag.ExecuterList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmEventGroupViewModel> groupList = ViewBag.GroupList;
    int? taskGridColorColumn = ViewBag.TaskGridColorColumn;
    DateTime schDate = ViewBag.SchDate;
    string state1_color = ViewBag.state1_color;
    string state2_color = ViewBag.state2_color;
    string state3_color = ViewBag.state3_color;
    string state4_color = ViewBag.state4_color;
    string state5_color = ViewBag.state5_color;
    string state6_color = ViewBag.state6_color;
    string state7_color = ViewBag.state7_color;
    string state8_color = ViewBag.state8_color;
    IQueryable<DateTime> overdueDates = ViewBag.OverdueDates;
    int? execUserId = ViewBag.ExecUserId;
    string taskId = Request.QueryString["task_id"];
    string eventId = Request.QueryString["event_id"];
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/crm", "task-scheduler-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("crm", "Задачи"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Сервис", "TaskList", "Crm") - @Html.ActionLink("Задачи", "TaskList", "Crm") - @Html.ActionLink("Календарь", "TaskScheduler", "Crm")
    </div>
}


<style>
    .k-grid tbody tr {
        cursor: pointer;
    }

    .k-grid .k-grid-content {
        max-height: 350px !important;
    }

    #crmTaskOverdueListGrid .k-grid-content {
        max-height: 650px !important;
    }

    .k-grid .k-state-selected {
        color: initial;
        text-decoration: underline;
    }

    .k-grid table {
        border-collapse: collapse;
    }

    .k-grid tr.k-state-selected {
        border: medium solid #000000;
    }

    .k-scheduler-table td, .k-scheduler-table th {
        height: 2.5em;
    }

    .k-scheduler-monthview .k-scheduler-table td {
        height: 20em;
    }

    .k-scheduler-footer {
        visibility: hidden !important;
    }

    .k-scheduler-times .k-scheduler-table tr th.k-slot-cell {
        background-color: lightgray;
    }

    #crmSchedulerTaskListGrid, #crmSchedulerTaskListGrid * {
        font-size: 0.98em !important;
    }

    .k-scheduler-edit-form .k-edit-form-container, .k-scheduler-timezones .k-edit-form-container {
        width: 1020px;
    }

    .k-scheduler-edit-form textarea.k-textbox {
        resize: auto;
    }

    .svg-img {
        width: 18px;
        height: 18px;
        margin-top: -5px;
    }

    .k-scheduler-navigation > li.k-nav-current {
        visibility: hidden;
    }

    #schedulerMenu li.k-item {
        width: 200px;
    }
</style>



@if (TempData["error"] != null)
{
    <div class="k-block k-error-colored">
        @TempData["error"]
    </div>
}

<script>
    var TenDaysView = kendo.ui.TimelineWorkWeekView.extend({
        options: {
            name: "TenDaysView",
            title: "Timeline Month",
            selectedDateFormat: "{0:D} - {1:D}",
            selectedShortDateFormat: "{0:d} - {1:d}",
            majorTick: 2880,
            numberOfDays: 10,
            eventHeight: 80
        },
        name: "TenDaysView",
        calculateDateRange: function() {
            var start = this.options.date,
                idx, length,
                dates = [];

            start = kendo.date.addDays(start, -5);

            for (idx = 0, length = this.options.numberOfDays; idx < length; idx++) {
                dates.push(start);
                start = kendo.date.nextDay(start);
            };

            this._render(dates);
        },
        previousDate: function() {
            var date = new Date(this.startDate());
            date.setDate(date.getDate() - this.options.numberOfDays/2);
            return date
        },
        nextDate: function () {
            return kendo.date.addDays(this.startDate(), this.options.numberOfDays + this.options.numberOfDays/2);
        }
    });

    var OverdueView = kendo.ui.TimelineWorkWeekView.extend({
        options: {
            name: "OverdueView",
            title: "OverdueView",
            selectedDateFormat: "{0:D} - {1:D}",
            selectedShortDateFormat: "{0:d} - {1:d}",
            majorTick: 2880,
            numberOfDays: 10,
            eventHeight: 80
        },
        name: "OverdueView",
        calculateDateRange: function() {
            //create the required number of days

            var dates = [];

            @foreach (var d1 in overdueDates)
            {
                @:dates.push(new Date(@d1.Year, @d1.Month - 1, @d1.Day));
                                                                                                                                                }

            this._render(dates);
        },
        previousDate: function() {
            var date = new Date(this.startDate());
            date.setDate(date.getDate() - this.options.numberOfDays/2);
            return date
        },
        nextDate: function () {
            return kendo.date.addDays(this.startDate(), this.options.numberOfDays + this.options.numberOfDays/2);
        }
    });

    var CustomDaysView = kendo.ui.TimelineWorkWeekView.extend({
        options: {
            name: "CustomDaysView",
            title: "CustomDaysView",
            selectedDateFormat: "{0:D} - {1:D}",
            selectedShortDateFormat: "{0:d} - {1:d}",
            majorTick: 2880,
            numberOfDays: 10,
            eventHeight: 80
        },
        name: "CustomDaysView",
        calculateDateRange: function() {
            var date_beg = $('#edDateBeg').getKendoDatePicker().value();
            var date_end = $('#edDateEnd').getKendoDatePicker().value();
            if ((!date_beg) || (!date_end))
            {
                date_beg = addDays(new Date(), -5);
                date_end = addDays(date_beg, 5);
            }
            var timeDiff = Math.abs(date_end.getTime() - date_beg.getTime());
            var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24)) + 1;
            if (diffDays > 93)
            {
                diffDays = 93;
            }

            var start = date_beg,
                numberOfDays_actual = diffDays,
                idx, length,
                dates = []
            ;

            for (idx = 0, length = numberOfDays_actual; idx < length; idx++) {
                dates.push(start);
                start = kendo.date.nextDay(start);
            };


            this._render(dates);
        },
        previousDate: function() {
            var date = new Date(this.startDate());
            date.setDate(date.getDate() - this.options.numberOfDays/2);
            return date
        },
        nextDate: function () {
            return kendo.date.addDays(this.startDate(), this.options.numberOfDays + this.options.numberOfDays/2);
        }
    });

    var FakeView = kendo.ui.TimelineWorkWeekView.extend({
        options: {
            name: "FakeView",
            title: "FakeView",
            selectedDateFormat: "{0:D} - {1:D}",
            selectedShortDateFormat: "{0:d} - {1:d}",
            majorTick: 2880,
            numberOfDays: 10,
            eventHeight: 80
        },
        name: "FakeView",
        calculateDateRange: function() {
            //create the required number of days

            var dates = [];
            dates.push(new Date());
            this._render(dates);
        },
        previousDate: function() {
            return new Date();
        },
        nextDate: function () {
            return new Date();
        }
    });
</script>

@(Html.Kendo().Window()
            .Name("winTaskEditScheduler")
            .Draggable()
            .Resizable()
        //.Position(pos => { pos.Top(5); })
            .Width(950)
            .Iframe(false)
            .Visible(false)
            .Modal(true)
            .Title("Задача")
            .Actions(actions => actions.Close())
            .Events(ev => { ev.Open("taskScheduler.onWinTaskEditSchedulerOpen"); })
)

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group service-info">
                <p><strong class="text-danger">ВНИМАНИЕ</strong> ! С 10.03.2017 добавление и изменение задач и событий теперь происходит в <strong><a href="Planner">Планировщике</a></strong>, здесь можно только просматривать созданные ранее задачи и события</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-inline">
                <div class="form-group" style="margin-left: 10px;">
                    @(Html.Label("Исполнитель:", new { @class = "control-label", }))
                    @(Html.Kendo().DropDownList()
                                .Name("userList")
                                .HtmlAttributes(new { @class = "form-control", @style = "width: 100px;" })
                                .DataTextField("user_name")
                                .DataValueField("user_id")
                                .OptionLabel("[Все]")
                                .BindTo(executerList)
                                .AutoBind(false)
                                //.Value(execUserId.HasValue ? execUserId.ToString() : null)
                                .Events(s => { s.Change("taskScheduler.onUserChange");})
                    )
                </div>
                <div class="form-group" style="margin-left: 10px;">
                    @(Html.Kendo().CheckBox().Name("chbPriorityControl").Checked(false).Label("приоритет = \"на контроле\""))
                </div>
                <div class="form-group hidden fake-view-only" style="margin-left: 10px;">
                    @(Html.Kendo().RadioButton().Name("rbOverdue").Label("просроченные").Checked(true).HtmlAttributes(new { @name = "overdueMode", @value = "rbOverdue", }))
                    @(Html.Kendo().RadioButton().Name("rbCanceled").Label("отмененные").Checked(false).HtmlAttributes(new { @name = "overdueMode", @value = "rbCanceled", }))
                </div>
                <div class="form-group pull-right">
                    <button type="button" class="btn btn-default btn-xs" id="btn-refresh" title="Обновить календарь"><span class="k-icon k-i-refresh"></span></button>
                    <button type="button" class="btn btn-default btn-xs" id="btn-export-pdf" title="Экспорт в PDF"><span class="k-icon k-i-pdf"></span></button>
                    <button type="button" class="btn btn-default btn-xs" id="btn-export-excel" title="Экспорт в Excel"><span class="k-icon k-i-excel"></span></button>
                    <button type="button" class="btn btn-default btn-xs" id="btn-report1" title="Отчет по активности в задачах за период">Отчет</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row hidden" id="row-params-period" style="margin-top: 10px;">
        <div class="col-md-12">
            <div class="form-inline">
                <div class="form-group" style="margin-left: 10px;">
                    @(Html.Label("Диапазон с:", new { @class = "control-label", }))
                </div>
                <div class="form-group" style="margin-left: 10px;">
                    @(Html.Kendo().DatePicker().Name("edDateBeg").Value(@DateTime.Today.AddDays(-5)).HtmlAttributes(new { @type = "text" }))
                </div>
                <div class="form-group" style="margin-left: 10px;">
                    @(Html.Label("по:", new { @class = "control-label", }))
                </div>
                <div class="form-group" style="margin-left: 10px;">
                    @(Html.Kendo().DatePicker().Name("edDateEnd").Value(@DateTime.Today.AddDays(5)).HtmlAttributes(new { @type = "text" }))
                </div>
                <div class="form-group" style="margin-left: 10px;">
                    <button type="button" class="btn btn-default btn-xs" id="btn-period-apply" title="Применить фильтр"><span class="k-icon k-i-funnel"></span></button>
                </div>
            </div>
        </div>
    </div>

    <div class="row hidden" id="row-grid">
        <div class="col-md-12">
            @(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmSchedulerViewModel>()
                  .Name("crmTaskOverdueListGrid")
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Events(events => { events.Error("onGridError('crmTaskOverdueListGrid')"); events.RequestStart("taskScheduler.onCrmTaskOverdueListGridRequestStart"); })
                      .Model(model =>
                      {
                          model.Id(m => m.task_id);
                      })
                      .PageSize(100)
                      .Read(read => read.Action("GetCrmSchedulerList", "Crm").Data("taskScheduler.getTaskOverdueListData"))
                      .Sort(s => { s.Add("exec_user_name").Ascending(); s.Add("Start").Descending(); })
                   )
                  .Columns(columns =>
                  {
                      columns.Bound(item => item.exec_user_name)
                          .Filterable(ftb => { ftb.Cell(cell => cell.Operator("contains")); })
                          .Title("Исполнитель")
                          .Width(130)
                          ;
                      columns.Bound(item => item.Start)
                          .Format("{0:dd.MM.yyyy}")
                          .Filterable(ftb => { ftb.Cell(cell => cell.Operator("eq")); })
                          .Title("Дата с")
                          .Width(100)
                          ;
                      columns.Bound(item => item.End)
                          .Format("{0:dd.MM.yyyy}")
                          .Filterable(ftb => { ftb.Cell(cell => cell.Operator("eq")); })
                          .Title("Дата по")
                          .Width(100)
                          ;
                      ;
                      columns.Bound(item => item.date_plan)
                          .Format("{0:dd.MM.yyyy}")
                          .Filterable(ftb => { ftb.Cell(cell => cell.Operator("eq")); })
                          .Title("Дата плановая")
                          .Width(120)
                          ;
                      columns.Bound(item => item.date_fact)
                          .Format("{0:dd.MM.yyyy}")
                          .Filterable(ftb => { ftb.Cell(cell => cell.Operator("eq")); })
                          .Title("Дата фактическая")
                          .Width(120)
                          ;
                      columns.Bound(item => item.state_name)
                          .Filterable(ftb => { ftb.Cell(cell => cell.Operator("contains")); })
                          .Title("Статус")
                          .Width(130)
                          ;
                      columns.Bound(item => item.task_num)
                          .Filterable(ftb => { ftb.Cell(cell => cell.Operator("contains")); })
                          .ClientTemplate("#if(task_id != null){#" + "<a href='/TaskScheduler?task_id=#=task_id#' title='Перейти к задаче в календаре'>#=task_num#</a>"
                          + "#} else {#" + "<a href='/TaskScheduler?event_id=#=event_id#' title='Перейти к событию в календаре'>#=task_num#</a>" + "# } #")
                          .Title("№ задачи")
                          .Width(100)
                          ;
                      columns.Bound(item => item.task_name)
                          .Filterable(ftb => { ftb.Cell(cell => cell.Operator("contains")); })
                          .Title("Заголовок")
                          .Width(130)
                          ;
                      columns.Bound(item => item.task_text)
                          .Filterable(ftb => { ftb.Cell(cell => cell.Operator("contains")); })
                          .Title("Текст")
                          .Width(270)
                          ;
                  })
                      .Pageable(page => page.PageSizes(new int[] { 10, 20, 50, 100, 500, 1000 }))
                      .Resizable(resize => resize.Columns(true))
                      .Sortable()
                      .Scrollable(scr => scr.Height("auto"))
                      .Filterable(ftb => ftb.Mode(GridFilterMode.Menu))
                      .AutoBind(false)
                      .Groupable(gr => {
                          gr.Enabled(true);
                          gr.Messages(grm => grm.Empty("Переместите сюда заголовок колонки, чтобы сгруппировать записи из этой колонки"));
                      }))
            )
        </div>
    </div>

    <div class="row" id="row-scheduler">
        <div class="col-md-12">
            <div class="form-group">
                @(Html.Kendo().Scheduler<CabinetMvc.ViewModel.Crm.CrmSchedulerViewModel>()
    .Name("scheduler")
                        //.Date(DateTime.Today)
    .Date(schDate)
    .StartTime(DateTime.Today)
                        //.MajorTick(60)
                        //.Height(980)
    .Views(views =>
    {
        views.CustomView("TenDaysView", cs => { cs.Title("10 дней"); cs.Selected(true); });

        views.TimelineWorkWeekView(timeline =>
        {
            timeline.StartTime(DateTime.Today);
            timeline.MajorTick(2880);
            //timeline.MinorTickCount(1);
            timeline.EventHeight(80);
            //timeline.Selected(true);
            timeline.Title("Неделя");
        });

        views.TimelineMonthView(timeline =>
        {
            timeline.StartTime(DateTime.Today);
            timeline.MajorTick(1440);
            //timeline.MinorTickCount(1);
            timeline.EventHeight(80);
            timeline.Title("Месяц");
        });

        views.CustomView("CustomDaysView", cs => { cs.Title("Произвольные"); cs.Selected(false); });

        views.CustomView("OverdueView", cs => { cs.Title("Просроченные"); cs.Selected(false); });

        views.CustomView("FakeView", cs => { cs.Title("Просроченные (список)"); cs.Selected(false); });

    })
                        //.Timezone("Etc/UTC")
    .Timezone("Asia/Yekaterinburg")
        .Group(group =>
        {
            group.Resources("Users", "Groups").Orientation(SchedulerGroupOrientation.Vertical);
        })
    .Resources(resource =>
         {
             resource.Add(m => m.exec_user_id)
                .Title("User")
                .Name("Users")
                .DataSource(rds =>
                {
                    //rds.Read("GetExecUserList", "Crm");
                    rds.ServerFiltering(false);
                })
                .DataTextField("user_name")
                .DataValueField("user_id")
                 //.DataColorField("Color")
                .BindTo(executerList)
                ;
             resource.Add(m => m.event_group_id)
                .Title("Group")
                .Name("Groups")
                .DataSource(rds =>
                {
                    rds.ServerFiltering(false);
                })
                .DataTextField("group_name")
                .DataValueField("group_id")
                .BindTo(groupList)
                ;
         })
    .DataSource(d => d
            .Model(m =>
            {
                m.Id(f => f.event_id);
                m.RecurrenceId(f => f.RecurrenceID);
            })
            .Read(rd => rd.Action("GetCrmSchedulerList", "Crm").Data("taskScheduler.getEventFilter")
                )
            .Create("CrmSchedulerAdd", "Crm")
            .Update("CrmSchedulerEdit", "Crm")
            .Destroy("CrmSchedulerDel", "Crm")
                    .Events(e => { e.RequestStart("taskScheduler.onSchedulerRequestStart"); })
                    .ServerOperation(true)
    )
    .Editable(ed => {
        ed.TemplateId("crm-scheduler-edit-template");
        ed.Create(false);
        ed.Destroy(false);
        ed.Update(false);
        ed.Move(false);
        ed.Resize(false);
    })
    .EventTemplateId("crm-scheduler-event-template")
            .Events(ev =>
            {
                ev.Edit("taskScheduler.onSchedulerEdit");
                ev.Save("taskScheduler.onSchedulerSave");
                ev.DataBound("taskScheduler.onSchedulerDataBound");
                ev.Navigate("taskScheduler.onSchedulerNavigate");
            })
                    .Pdf(pdf => { pdf.FileName("Календарь задач.pdf"); pdf.Title("PDF"); })
                    .Toolbar(tb => tb.Pdf())
                    .DateHeaderTemplate("")
                )
            </div>
        </div>
    </div>

</div>

<div id="windowcontainer"></div>


@(Html.Kendo().Window()
            .Name("winReport")
            .Title("Отчет")
            .Content(@<text>
                <p class="confirm-message">Выберите исполнителя и диапазон</p>
                @(Html.Kendo().DropDownList().Name("ddlReportExecUser")
                            .BindTo(executerList)
                            .DataValueField("user_id")
                            .DataTextField("user_name")
                            .Value(@currUser.CabUserId.ToString())
                )
                <br />
                <br />
                @(Html.Kendo().DatePicker().Name("dtReportDateBeg").Value(DateTime.Now.AddDays(-1)).HtmlAttributes(new { @type = "text" }))
                @(Html.Kendo().DatePicker().Name("dtReportDateEnd").Value(DateTime.Now).HtmlAttributes(new { @type = "text" }))
                <br />
                <br />
                <button class="confirm k-button"> Ок </button>
                <a href="#" class="cancel k-button">Отмена</a>
            </text>)
            .Draggable()
            .Resizable(rs => rs.Enabled(false))
            .Width(400)
            .Height(300)
            .Visible(false)
            .Modal(true)
            .Actions(actions => actions.Close())
)

<script id="crm-scheduler-edit-template" type="text/x-kendo-template">
    <div class="container-fluid">
        <div class="row hidden" id="div-crm-scheduler-row1">
            <div class="col-md-5">
                <div class="form-group">
                    <button type="button" class="btn btn-primary" id="btn-crm-scheduler-task" onclick="taskScheduler.onBtnTaskClick()">Выберите задачу из списка...</button>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <button type="button" class="btn btn-default" id="btn-crm-scheduler-simple" onclick="taskScheduler.onBtnEventClick()">... или создайте новое событие</button>
                </div>
            </div>
        </div>
        <div class="row" id="div-crm-scheduler-row2">
            <div class="col-md-11" id="div-crm-scheduler-task">
                @(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmTaskViewModel>()
                      .Name("crmSchedulerTaskListGrid")
                      .DataSource(dataSource => dataSource
                          .Ajax()
                          .Model(model =>
                          {
                              model.Id(ev => ev.task_id);
                          })
                          .PageSize(10)
                          .Read(read => read.Action("GetTaskList", "Crm").Data("taskScheduler.getTaskListData"))
                          .Sort(srt => srt.Add("task_num").Descending())
                       )
                       .AutoBind(false)
                              .Columns(columns =>
                              {
                                  columns.Bound(p => p.group_name)
                                      .Width("120px")
                                      ;
                                  columns.Bound(p => p.moderator_user_id)
                                      .ClientTemplate("\\#if(moderator_user_id > 0){\\#" + "<span title='Модерация: \\#=moderator_user_name\\#'>М</span>"
                                        + "\\#} else {\\#" + "\\# } \\#")
                                      .Filterable(false)
                                      .Sortable(true)
                                      .Width("30px")
                                      .Title("М")
                                      ;
                                  HtmlExtensions.ColumnsForModel<CabinetMvc.ViewModel.Crm.CrmTaskViewModel>(columns, taskGridColumnSettings, taskGridColumnWidths, true);
                              })
                                .Pageable(page => { page.PageSizes(false); page.Numeric(false); page.Info(false); page.Input(false); })
                                .Resizable(rsb => rsb.Columns(true))
                                .Sortable(sort => sort.SortMode(GridSortMode.SingleColumn))
                                .Scrollable(scr => scr.Height("auto"))
                                .Filterable(ftb =>
                                {
                                    ftb.Mode(GridFilterMode.Menu);
                                    ftb.Extra(false);
                                })
                                .Selectable(sel => sel.Mode(GridSelectionMode.Single))
                                .Events(ev =>
                                {
                                    ev.DataBound("taskScheduler.onCrmSchedulerTaskListGridDataBound");
                                    ev.Change("taskScheduler.onCrmSchedulerTaskListGridChange");
                                })
                                .ToClientTemplate()
                )
                <label for="task_num" class="hidden">Выбранная задача</label>
                <input name="task_num" id="task_num" class="k-textbox hidden" data-bind="value:task_num" disabled />
                <textarea name="task_text" id="task_text" class="k-textbox"></textarea>
            </div>
            <div class="col-md-11 hidden" id="div-crm-scheduler-simple">
                <div class="form-group">
                    <label for="description">Цель</label>
                    <textarea name="description" id="description" class="k-textbox" data-bind="value:description"></textarea>
                </div>
                <div class="form-group">
                    <label for="date_plan">Плановая дата</label>
                    @(Html.Kendo().DatePicker().Name("date_plan").HtmlAttributes(new { @type = "text", @id = "date_plan", @class = "form-control", @data_bind = "value:date_plan", @style = "width: 30%", }).ToClientTemplate())
                    <div id="div-date-fact" style="display:inline;">
                        <label for="date_fact">Фактическая дата</label>
                        @(Html.Kendo().DatePicker().Name("date_fact").HtmlAttributes(new { @type = "text", @id = "date_fact", @class = "form-control", @data_bind = "value:date_fact", @style = "width: 30%", }).ToClientTemplate())
                    </div>
                </div>
                <div class="form-group hidden" id="div-crm-scheduler-simple-progress">
                    <label for="event_progress">Ход выполнения</label>
                    <textarea name="event_progress" id="event_progress" class="k-textbox" data-bind="value:event_progress"></textarea>
                </div>
                <div class="form-group hidden" id="div-crm-scheduler-simple-result">
                    <label for="event_result">Результат</label>
                    <textarea name="event_result" id="event_result" class="k-textbox" data-bind="value:event_result"></textarea>
                </div>
            </div>
        </div>
        <div class="row hidden" id="div-crm-scheduler-row3">
            <div class="col-md-11">
                <div class="form-group">
                    <button type="button" class="btn btn-primary" id="btn-crm-scheduler-simple-active" onclick="taskScheduler.onBtnEventActiveClick()">Активно</button>
                    <button type="button" class="btn btn-default" id="btn-crm-scheduler-simple-done" onclick="taskScheduler.onBtnEventDoneClick()">Выполнено</button>
                    <button type="button" class="btn btn-default" id="btn-crm-scheduler-simple-canceled" onclick="taskScheduler.onBtnEventCanceledClick()">Отменено</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script>
    function getColor(data) {
        var data_date_plan = data.date_plan;
        var today = new Date();
        today.setHours(0,0,0,0);
        if ((data_date_plan) && (data_date_plan < today) && (!data.is_done) && (!data.is_canceled) && (!data.ignore_date_plan) && (!data.is_done_user_role)) {
            return 'red';
            //return "btn-danger";
        } else {
            if (!data.task_id) {
                if (data.is_done) {
                    //return "grey";
                    //return "btn-success";
                    return '@state5_color';
                } else if (data.is_canceled) {
                    //return "orange";
                    //return "btn-warning";
                    return '@state4_color';
                } else {
                    //return "lightblue";
                    //return "btn-primary";
                    return '@state1_color';
                };
            } else {
                var curr_event_state_id = data.task_state_id;
                if (curr_event_state_id == 1) {
                    return '@state1_color';
                } else if (curr_event_state_id == 2) {
                    return '@state2_color';
                } else if (curr_event_state_id == 3) {
                    return '@state3_color';
                } else if (curr_event_state_id == 4) {
                    return '@state4_color';
                } else if (curr_event_state_id == 5) {
                    return '@state5_color';
                } else if (curr_event_state_id == 6) {
                    return '@state6_color';
                } else if (curr_event_state_id == 7) {
                    return '@state7_color';
                } else if (curr_event_state_id == 8) {
                    return '@state8_color';
                };
            };
        };
    };
    function getFontColor(data) {
        var currColor = getColor(data);
        if ((currColor == 'black') || (currColor == 'rgba(0, 0, 0, 1)')) {
            return 'white';
        } else {
            return 'black';
        };
    };

    function getImg(data) {
        if (1 == 0) {
            return '@Url.Content("~/Images/svg/high_priority.svg")';
        } else {
            if (!data.task_id) {
                if (data.is_done) {
                    return '@Url.Content("~/Images/svg/approval.svg")';
                } else if (data.is_canceled) {
                    return '@Url.Content("~/Images/svg/disclaimer.svg")';
                } else {
                    return '@Url.Content("~/Images/svg/answers.svg")';
                };
            } else {
                switch (data.task_state_id)
                {
                    case 1:
                        return '@Url.Content("~/Images/svg/answers.svg")';
                    case 2:
                        return '@Url.Content("~/Images/svg/fine_print.svg")';
                    case 3:
                        return '@Url.Content("~/Images/svg/external.svg")';
                    case 4:
                        return '@Url.Content("~/Images/svg/disclaimer.svg")';
                    case 5:
                        return '@Url.Content("~/Images/svg/approval.svg")';
                    case 6:
                        return '@Url.Content("~/Images/svg/binoculars.svg")';
                    case 7:
                        return '@Url.Content("~/Images/svg/fine_print.svg")';
                    case 8:
                        return '@Url.Content("~/Images/svg/answers.svg")';
                    default:
                        return '@Url.Content("~/Images/svg/checkmark.svg")';
                }
            };
        };
    };
</script>

<script id="crm-scheduler-event-template" type="text/x-kendo-template">
    <div class="row k-event-row" data-task-id="#:task_id#" data-event-id="#:event_id#" style="height: 100%; background-color: #:getColor(data)#; color: #:getFontColor(data)#;">
        <div class="col-md-12">
            <div class="k-event-template"><span><img src=#:getImg(data)# class='svg-img' /></span> #if(file_exists) {# <span class='cab-png cab-png-pin' title='Есть файлы'></span> #}# #if(task_id) {# <a href='javascript:void' onclick='taskScheduler.onTaskNumCellClick(#= task_id #)'>[#= task_num #]</a>#} else {# [#= task_num #] #}# #= task_name # </div>
        </div>
    </div>
</script>

<script id="crm-scheduler-event-tooltip-template" type="text/x-kendo-template">
    #var element = target.is(".k-task") ? target : target.parent();#
    #var uid = element.attr("data-uid");#
    #var scheduler = target.closest("[data-role=scheduler]").data("kendoScheduler");#
    #var model = scheduler.occurrenceByUid(uid);#

    #if(model) {#
    <strong>Создано:</strong> #=kendo.format('{0:dd.MM.yyyy HH:mm}',model.crt_date)# #=model.crt_user#
    <br />
    <strong>Плановая дата:</strong> #if(model.date_plan) {# #=kendo.format('{0:d}',model.date_plan)# #} else {# - #}#
    <br />
    <strong>Фактическая дата:</strong> #if(model.date_fact) {# #=kendo.format('{0:d}',model.date_fact)# #} else {# - #}#
    <br />
    <strong>Статус:</strong> #=model.state_name#
    <br />
    #if(model.task_num) {#
    <strong>Задача:</strong> #=model.task_num#
    <br />
    #}#
    <strong>Описание:</strong> #=model.description#
    <br />
    #if(!model.task_num) {#
    <strong>Результат:</strong> #if(model.event_result) {# #=model.event_result# #} else {# - #}#
    <br />
    #}#
    #} else {#
    <strong>нет данных</strong>
    #}#
</script>

<script id="crm-scheduler-edit-template2" type="text/x-kendo-template">
    <div class="panel-success">
        <div class="container-fluid form-horizontal">
            <div class="form-group">
                <div class="col-md-5">
                    <label for="date_beg2">В календаре с</label>
                    <input id="date_beg2">
                    <div id="div-date-end2" style="display:inline;">
                        <label for="date_end2">В календаре по</label>
                        <input id="date_end2">
                    </div>
                </div>
                <div class="col-md-11">
                    <label for="description2">Цель</label>
                    <textarea name="description2" id="description2" class="k-textbox"></textarea>
                </div>
                <div class="col-md-11">
                    <label for="event_progress2">Ход выполнения</label>
                    <textarea name="event_progress2" id="event_progress2" class="k-textbox"></textarea>
                </div>
                <div class="col-md-11">
                    <label for="event_result2">Результат</label>
                    <textarea name="event_result2" id="event_result2" class="k-textbox"></textarea>
                </div>
                <div class="col-md-5">
                    <label for="date_plan2">Плановая дата</label>
                    <input id="date_plan2">
                    <div id="div-date-fact2" style="display:inline;">
                        <label for="date_fact2">Фактическая дата</label>
                        <input id="date_fact2">
                    </div>
                </div>
                <div class="col-md-11">
                    <a id="scheduler_link2" href="/">перейти к календарю</a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-md-offset-8">
                    <button class="action-cancel btn btn-warning" id="btn-crm-scheduler-close">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script>
    var settings_state_name = @taskGridColumnSettings.Where(ss => ss.column_id == (int)@Enums.CabGridColumn_TaskList.state_name && ss.is_visible).Select(ss => ss.column_index + 4).FirstOrDefault();
    var taskGridColorColumn_state_name = @(taskGridColorColumn == (int)Enums.CabGridColumn_TaskList.state_name ? "true" : "false");
    var settings_project_name = @taskGridColumnSettings.Where(ss => ss.column_id == (int)@Enums.CabGridColumn_TaskList.project_name && ss.is_visible).Select(ss => ss.column_index + 4).FirstOrDefault();
    var taskGridColorColumn_project_name = @(taskGridColorColumn == (int)Enums.CabGridColumn_TaskList.project_name ? "true" : "false");
    var settings_priority_name = @taskGridColumnSettings.Where(ss => ss.column_id == (int)@Enums.CabGridColumn_TaskList.priority_name && ss.is_visible).Select(ss => ss.column_index + 4).FirstOrDefault();
    var taskGridColorColumn_priority_name = @(taskGridColorColumn == (int)Enums.CabGridColumn_TaskList.priority_name ? "true" : "false");
    var settings_exec_user_name = @taskGridColumnSettings.Where(ss => ss.column_id == (int)@Enums.CabGridColumn_TaskList.exec_user_name && ss.is_visible).Select(ss => ss.column_index + 4).FirstOrDefault();
    var taskGridColorColumn_exec_user_name = @(taskGridColorColumn == (int)Enums.CabGridColumn_TaskList.exec_user_name ? "true" : "false");
    var settings_owner_user_name = @taskGridColumnSettings.Where(ss => ss.column_id == (int)@Enums.CabGridColumn_TaskList.owner_user_name && ss.is_visible).Select(ss => ss.column_index + 4).FirstOrDefault();
    var taskGridColorColumn_owner_user_name = @(taskGridColorColumn == (int)Enums.CabGridColumn_TaskList.owner_user_name ? "true" : "false");
    var settings_assigned_user_name = @taskGridColumnSettings.Where(ss => ss.column_id == (int)@Enums.CabGridColumn_TaskList.assigned_user_name && ss.is_visible).Select(ss => ss.column_index + 4).FirstOrDefault();
    var taskGridColorColumn_assigned_user_name = @(taskGridColorColumn == (int)Enums.CabGridColumn_TaskList.assigned_user_name ? "true" : "false");
    var currUser_CabUserName = '@currUser.CabUserName';
    var currUser_CabUserId = @currUser.CabUserId;
    var url_IsAuthorized = '@Url.Action("IsAuthorized", "Adm", new { })';
    var url_Login = '@Url.Action("Login", "Home", new { @ReturnUrl = "TaskScheduler" })';
    var execUserId = '@execUserId';
    var taskId = '@taskId';
    var eventId = '@eventId';
</script>


