﻿@using CabinetMvc.Util

@model CabinetMvc.ViewModel.Crm.CrmTaskViewModel

@{
    ViewBag.Title = "Задача";
    Layout = "";
    var currUser = ((CabinetMvc.Controllers.BaseController)ViewContext.Controller).CurrentUser;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmProjectViewModel> projectList = ViewBag.ProjectList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmModuleViewModel> moduleList = ViewBag.ModuleList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmModuleVersionViewModel> moduleVersionList = ViewBag.ModuleVersionList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmClientViewModel> clientList = ViewBag.ClientList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmPriorityViewModel> priorityList = ViewBag.PriorityList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmStateViewModel> stateList = ViewBag.StateList;
    IEnumerable<CabinetMvc.ViewModel.Adm.CabUserViewModel> userList = ViewBag.UserList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmGroupViewModel> groupList = ViewBag.GroupList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmBatchViewModel> batchList = ViewBag.BatchList;
    IList<SelectListItem> eventUserList = ViewBag.EventUserList;
}

<style>
    #taskNoteGridFull, #taskNoteGridFull * {
        max-height: 255px !important;
        border: 0 !important;
    }

    #subtaskGridFull {
        max-height: 255px !important;
    }

    #taskLogGridFull, #taskLogGridFull * {
        max-height: 370px !important;
        border: 0 !important;
    }

    #taskFilesGridFull, #taskFilesGridFull * {
        max-height: 320px !important;
        border: 0 !important;
    }

    #winTaskEditFull label {
        font-size: 0.85em;
    }

    #winTaskEditFull .form-horizontal .control-label {
        text-align: left;
    }

    #winTaskEditFull textarea.form-control {
        width: auto;
    }

    #winTaskEditFull .k-dropdown, .k-dropdown-wrap, .k-datepicker, .k-picker-wrap, .k-numerictextbox, .k-numeric-wrap {
        height: 25px !important;
    }

    #winTaskEditFull .k-textbox {
        height: 26px !important;
    }

    #winTaskEditFull .k-picker-wrap > .k-input, .k-numeric-wrap > .k-input {
        height: 20px !important;
    }

    #winTaskEditFull .k-dropdown-wrap > .k-input {
        line-height: normal !important;
    }

    #winTaskEditFull .k-dropdown-wrap > .k-select > .k-icon, .k-picker-wrap > .k-select > .k-icon {
        vertical-align: initial !important;
    }

    #winTaskEditFull .form-group {
        margin-top: -10px;
    }

    #winTaskEditFull .col-sm-5.enlarged .control-label, #winTaskEditFull .col-sm-5.enlarged .col-sm-4 {
	    padding-right:0;
	}

    #winTaskEditFull .enlarged .form-group .col-sm-6 {
        padding-left:0;
        width:59%;
    }

    #winTaskEditFull .bold label {
        font-weight: bold;
    }

    #winTaskEditFull .form-group .bold {
        padding-top: 5px;
    }

    #winTaskEditFull .k-picker-wrap .k-input {
        text-indent: 0.4em;
    }
</style>


@Html.HiddenFor(x => x.task_id)
@Html.HiddenFor(x => x.upd_num)

@Html.ValidationSummary()

@if (TempData["error"] != null)
{
    <div class="k-block k-error-colored">
        @TempData["error"]
    </div>
}

<form class="form-horizontal">
    <div class="row">
        <div class="col-sm-6" style="padding-left: 25px; padding-right: 0;">
            <div class="form-group" style="margin-top: -7px !important;">
                @Html.Label("Задача", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8">
                    @(Html.Kendo().TextBox().Name("taskNameFull").Value(@Model.task_num + " " + @Model.owner_user_name + "\\" + (@Model.crt_date.HasValue ? ((DateTime)@Model.crt_date).ToString("dd.MM.yyyy HH:mm") : "") + (@Model.upd_date.HasValue ? " [" + ((DateTime)@Model.upd_date).ToString("dd.MM.yyyy HH:mm") + "]" : "")).HtmlAttributes(new { @class = "form-control", @readonly = "readonly", @style = "text-indent: 0;" }))
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.task_name, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8">
                    @(Html.Kendo().TextBoxFor(model => model.task_name).HtmlAttributes(new { @id = "task_nameFull", @class = "form-control attr-change" }))
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.task_text, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8">
                    @(Html.TextAreaFor(model => model.task_text, new { @id = "task_textFull", @class = "form-control attr-change", @style = "height: 89px; width: 92%;" }))
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.client_id, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8">
                    @(Html.Kendo().DropDownListFor(ss => ss.client_id)
                .BindTo(clientList)
                .Name("clientListFull")
                .HtmlAttributes(new { @id = "clientListFull", @class = "form-control attr-change" })
                .DataTextField("client_name")
                .DataValueField("client_id")
                        .Events(ev => ev.Change("taskList.onAttrChanged"))
                    )
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.group_id, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8">
                    @(Html.Kendo().DropDownListFor(ss => ss.group_id)
                        .BindTo(groupList)
                        .Name("groupListFull")
                        .HtmlAttributes(new { @id = "groupListFull", @class = "form-control attr-change" })
                        .DataTextField("group_name")
                        .DataValueField("group_id")
                                .Events(ev => ev.Change("taskList.onAttrChanged"))
                    )
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.priority_id, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8">
                    @(Html.Kendo().DropDownListFor(ss => ss.priority_id)
                .BindTo(currUser.IsBoss ? priorityList : (Model.priority_is_boss == true ? priorityList : (priorityList.Where(ss => !ss.is_boss).ToList())))
                .Name("priorityListFull")
                .HtmlAttributes(new { @id = "priorityListFull", @class = "form-control attr-change" })
                .DataTextField("priority_name")
                .DataValueField("priority_id")
                .Enable(!((!currUser.IsBoss) && (Model.priority_is_boss == true)))
                .Events(ev => ev.Change("taskList.onAttrChanged"))
                    )
                </div>
            </div>
            <div class="form-group">
                @Html.Label("ТЗ:план-факт", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-6">
                    @(Html.Kendo().NumericTextBoxFor(model => model.cost_plan)
                    .Min(0)
                    .Max(decimal.MaxValue)
                            .HtmlAttributes(new { @type = "text", @id = "cost_planFull", @class = "form-control attr-change", @style = "display: inline !important; width:35%;" })
                            .Events(ev => ev.Spin("taskList.onAttrChanged"))
                    )
                    @(Html.Kendo().NumericTextBoxFor(model => model.cost_fact)
                    .Min(0)
                    .Max(decimal.MaxValue)
                            .HtmlAttributes(new { @type = "text", @id = "cost_factFull", @class = "form-control attr-change", @style = "display: inline !important; width:35%;" })
                            .Events(ev => ev.Spin("taskList.onAttrChanged"))
                    )
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.fin_cost, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-6">
                    @(Html.Kendo().NumericTextBoxFor(model => model.fin_cost)
                    .Min(0)
                    .Max(decimal.MaxValue)
                            .HtmlAttributes(new { @type = "text", @id = "fin_costFull", @class = "form-control attr-change", @style = "display: inline !important; width:35%;" })
                            .Events(ev => ev.Spin("taskList.onAttrChanged"))
                    )
                </div>
                <div class="col-sm-1">
                    <span class="pull-right" onclick='taskList.onAttrChanged()' title='Модерация: @Model.moderator_user_name' style="padding-top:10px">
                        @(Html.Kendo().CheckBoxFor(model => model.IsModerated).Name("IsModeratedFull").Checked(@Model.IsModerated).Label("модерация")
                        .HtmlAttributes(new { @class = "k-checkbox attr-change", @id = "IsModeratedFull", }))
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-5 enlarged" style="padding-left: 0; padding-right: 0;">
            <div class="form-group" style="margin-top: -7px !important;">
                @Html.LabelFor(model => model.batch_id, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-6">
                    @(Html.Kendo().DropDownListFor(ss => ss.batch_id)
                .BindTo(batchList)
                .Name("batchListFull")
                .HtmlAttributes(new { @id = "batchListFull", @class = "form-control" })
                .DataTextField("batch_name")
                .DataValueField("batch_id")
                .Enable(currUser.IsBossAssistant)
                .Events(ev => ev.Change("taskList.onAttrChanged"))
                    )
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.project_id, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-6">
                    @(Html.Kendo().DropDownListFor(ss => ss.project_id)
                .BindTo(projectList)
                .Name("projectListFull")
                .HtmlAttributes(new { @id = "projectListFull", @class = "form-control" })
                .DataTextField("project_name")
                .DataValueField("project_id")
                .Events(ev => ev.Change("taskList.onAttrChanged"))
                    )
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.module_id, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-6">
                    @(Html.Kendo().DropDownListFor(ss => ss.module_id)
                .BindTo(moduleList)
                .Name("moduleListFull")
                .HtmlAttributes(new { @id = "moduleListFull", @class = "form-control" })
                .DataTextField("module_name")
                .DataValueField("module_id")
                 .CascadeFrom("projectListFull")
                .Events(ev => ev.Change("taskList.onAttrChanged"))
                    )
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.module_version_id, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-6">
                    @(Html.Kendo().DropDownListFor(ss => ss.module_version_id)
                .BindTo(moduleVersionList)
                .Name("moduleVersionListFull")
                            //.OptionLabel("[не указана]")
                .HtmlAttributes(new { @id = "moduleVersionListFull", @class = "form-control" })
                .DataTextField("module_version_name")
                .DataValueField("module_version_id")
                .CascadeFrom("moduleListFull")
                .Events(ev => ev.Change("taskList.onAttrChanged"))
                    )
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.assigned_user_id, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-6">
                    @(Html.Kendo().DropDownListFor(ss => ss.assigned_user_id)
                .BindTo(userList)
                .Name("assignedUserListFull")
                .HtmlAttributes(new { @id = "assignedUserListFull", @class = "form-control attr-change" })
                .DataTextField("user_name")
                .DataValueField("user_id")
                .Events(ev => ev.Change("taskList.onAttrChanged"))
                    )
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.exec_user_id, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-6">
                    @(Html.Kendo().DropDownListFor(ss => ss.exec_user_id)
                .BindTo(userList)
                .Name("execUserListFull")
                .HtmlAttributes(new { @id = "execUserListFull", @class = "form-control attr-change" })
                .DataTextField("user_name")
                .DataValueField("user_id")
                .Events(ev => ev.Change("taskList.onAttrChanged"))
                    )
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.state_id, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-6">
                    @(Html.Kendo().DropDownListFor(ss => ss.state_id)
                .BindTo(stateList)
                .Name("stateListFull")
                .HtmlAttributes(new { @id = "stateListFull", @class = "form-control attr-change" })
                .DataTextField("state_name")
                .DataValueField("state_id")
                .Events(ev => ev.Change("taskList.onAttrChanged"))
                    )
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4">
                    @Html.Label("Даты: план - факт", new { @class = "control-label" })
                    @if ((Model.is_control) && ((Model.required_date_orig != Model.required_date_curr) || (Model.repair_date_orig != Model.repair_date_curr)))
                    {
                        <span class="cab-png cab-png-date-warning pull-right" title="Плановая дата была @(Model.required_date_orig.HasValue ? ((DateTime)Model.required_date_orig).ToString("dd.MM.yyyy") : "-"), стала @(Model.required_date_curr.HasValue ? ((DateTime)Model.required_date_curr).ToString("dd.MM.yyyy") : "-"), фактическая дата была @(Model.repair_date_orig.HasValue ? ((DateTime)Model.repair_date_orig).ToString("dd.MM.yyyy") : "-"), стала @(Model.repair_date_curr.HasValue ? ((DateTime)Model.repair_date_curr).ToString("dd.MM.yyyy") : "-")"></span>
                    }
                </div>
                <div class="col-sm-6">
                    @(Html.Kendo().DatePickerFor(model => model.required_date).HtmlAttributes(new { @type = "text", @id = "required_dateFull", @class = "form-control attr-change", @style = "width: 49%;" })
                                    .Events(ev => ev.Change("taskList.onAttrChanged"))
                    )
                    @(Html.Kendo().DatePickerFor(model => model.repair_date).HtmlAttributes(new { @type = "text", @id = "repair_dateFull", @class = "form-control attr-change", @style = "width: 49%;" })
                            .Events(ev => ev.Change("taskList.onAttrChanged"))
                    )
                </div>
            </div>
            <div class="form-group">
                <div onclick='taskList.onAttrChanged()' class="col-sm-4 bold">
                    @(Html.Kendo().CheckBoxFor(model => model.is_event).Name("is_eventFull").Checked(@Model.is_event).Label("В календаре: с - по")
                                .HtmlAttributes(new { @class = "k-checkbox attr-change", @id = "is_eventFull", }))
                    @if ((Model.is_control) && ((Model.event_date_beg_orig != Model.event_date_beg_curr) || (Model.event_date_end_orig != Model.event_date_end_curr)))
                    {
                        <span class="cab-png cab-png-date-warning pull-right" title="Дата начала в календаре была @(Model.event_date_beg_orig.HasValue ? ((DateTime)Model.event_date_beg_orig).ToString("dd.MM.yyyy") : "-"), стала @(Model.event_date_beg_curr.HasValue ? ((DateTime)Model.event_date_beg_curr).ToString("dd.MM.yyyy") : "-"), дата окончания в календаре была @(Model.event_date_end_orig.HasValue ? ((DateTime)Model.event_date_end_orig).ToString("dd.MM.yyyy") : "-"), стала @(Model.event_date_end_curr.HasValue ? ((DateTime)Model.event_date_end_curr).ToString("dd.MM.yyyy") : "-")"></span>
                    }
                </div>
                <div class="col-sm-6">
                    @(Html.Kendo().DateTimePickerFor(model => model.event_date_beg).HtmlAttributes(new { @type = "text", @id = "event_date_begFull", @class = "form-control attr-change", })
                            .Events(ev => ev.Change("taskList.onAttrChanged"))
                    )
                    @(Html.Kendo().DateTimePickerFor(model => model.event_date_end).HtmlAttributes(new { @type = "text", @id = "event_date_endFull", @class = "form-control attr-change", })
                            .Events(ev => ev.Change("taskList.onAttrChanged"))
                    )
                </div>
            </div>
            @if ((currUser.IsBoss) || ((Model.task_id > 0) && (Model.is_control)))
            {
                <div class="form-group">
                    <div onclick='taskList.onAttrChanged()' class="col-sm-6 col-sm-offset-5">
                        @(Html.Kendo().CheckBoxFor(model => model.is_control).Name("is_controlFull").Checked(@Model.is_control).Label("контроль дат")
                    .Enable(currUser.IsBoss)
                    .HtmlAttributes(new { @class = "k-checkbox attr-change", @id = "is_controlFull", }))
                    </div>
                </div>
            }
            <div class="form-group">
                @Html.LabelFor(model => model.repair_version_id, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-6">
                    @(Html.Kendo().DropDownListFor(ss => ss.repair_version_id)
                .BindTo(moduleVersionList)
                .Name("repairVersionListFull")
                .OptionLabel("[не указана]")
                .HtmlAttributes(new { @id = "repairVersionListFull", @class = "form-control" })
                .DataTextField("module_version_name")
                .DataValueField("module_version_id")
                .CascadeFrom("moduleListFull")
                        .Events(ev => ev.Change("taskList.onAttrChanged"))
                    )
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6" id="div-subtaskFull" style="padding-left: 0 !important; padding-right: 0 !important; margin-left: 10px;">
            @(Html.Kendo().TabStrip()
                    .Name("subtaskTabStripFull")
                    .Items(tabstrip =>
                    {
                        tabstrip.Add().Text("Подзадачи")
                            .SpriteCssClasses("k-icon", "k-i-kpi")
                            .Selected(true)
                            .Content(@<text>
                                @(Html.TextArea("txtSubtaskAddFull", new { @id = "txtSubtaskAddFull", @class = "form-control", @cols = "50", @rows = "3", @placeholder = "текст подзадачи...", @style = "width: 95%;" }))
                                <button type="button" class="btn btn-info btn-xs subtask-addFull" id="btnSubtaskAddFull">добавить</button>
                                <button type="button" class="btn btn-default btn-xs pull-right subtask-excelFull" id="btnSubtaskExcelFull"><span class="k-icon k-i-excel"></span> </button>
                                <button type="button" class="btn btn-default btn-xs pull-right subtask-pdfFull" id="btnSubtaskPdfFull"><span class="k-icon k-i-pdf"></span> </button>
                                @(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmSubtaskViewModel>(Model.subtasks)
                            .Name("subtaskGridFull")
                            .DataSource(dataSource => dataSource
                            .Ajax()
                            .ServerOperation(false)
                            .Model(model =>
                            {
                                model.Id(fld => fld.subtask_id);
                                model.Field(fld => fld.state_id_ReadOnly).DefaultValue(1).Editable(false);
                                model.Field(fld => fld.file_id_ReadOnly).Editable(false);
                                model.Field(fld => fld.task_num).Editable(false);
                                model.Field(fld => fld.crt_date).Editable(false);
                                model.Field(fld => fld.upd_date).Editable(false);
                                model.Field(fld => fld.owner_user_name).Editable(false);
                            })
                            .Destroy(dst => dst.Action("SubtaskDel", "Crm"))
                            .Aggregates(agg => agg.Add(fld => fld.task_num).Max())
                            .Sort(sort => sort.Add("task_num").Descending())
                            .AutoSync(false)
                            )
                            .Columns(columns =>
                            {
                                columns.Bound(fld => fld.task_num)
                                    .Width(50)
                                    .HeaderHtmlAttributes(new { @style = "font-size: 0.7em;" })
                                    .FooterHtmlAttributes(new { @class = "hidden " });

                                columns.Bound(fld => fld.state_name).Hidden(true);

                                columns.Bound(fld => fld.state_name)
                                    .Width(150)
                                    .HtmlAttributes(new { @class = "stateListCell" })
                                   .ClientTemplate(
                                       @Html.Kendo().DropDownList()
                                        .Name("subtaskStateList_#=task_num#")
                                        .HtmlAttributes(new { @style = "width:90%" })
                                        .DataValueField("state_id")
                                        .DataTextField("state_name")
                                        .BindTo(stateList)
                                        .Value("#=state_id#")
                                        .Events(ev => ev.Change("taskList.subtaskStateListChanged"))
                                        .ToClientTemplate()
                                        .ToHtmlString()
                                        )
                                        .HeaderHtmlAttributes(new { @style = "font-size: 0.7em;" })
                                        .FooterHtmlAttributes(new { @class = "hidden " })
                                        ;
                                columns.Bound(fld => fld.subtask_text)
                                    .Encoded(false)
                                    .Width(300)
                                    .HeaderHtmlAttributes(new { @style = "font-size: 0.7em;" })
                                    .FooterHtmlAttributes(new { @class = "hidden " })
                                    ;

                                columns.Bound(fld => fld.file_id_ReadOnly)
                                    .Width(150)
                                    .HtmlAttributes(new { @class = "fileListCell" })
                                   .ClientTemplate(
                                       @Html.Kendo().DropDownList()
                                        .Name("subtaskFileList_#=task_num#")
                                        .HtmlAttributes(new { @style = "width:90%" })
                                        .DataSource(ds =>
                                        {
                                            ds.Read(rd => rd.Action("GetCrmTaskFileList_forSubtask", "Crm", new { @task_id = @Model.task_id }));
                                        })
                                        .DataValueField("file_id")
                                        .DataTextField("file_name")
                                        .Value("#=file_id#")
                                        .AutoBind(true)
                                        .OptionLabel("не выбран")
                                        .Events(ev => ev.Change("taskList.subtaskFileListChanged"))
                                        .ToClientTemplate()
                                        .ToHtmlString()
                                        )
                                    .HeaderHtmlAttributes(new { @style = "font-size: 0.7em;" })
                                    .FooterHtmlAttributes(new { @class = "hidden " })
                                    ;
                                columns.Bound(fld => fld.crt_date)
                                    .Format("{0:dd.MM.yy HH:mm:ss}")
                                    .Width(150)
                                    .HeaderHtmlAttributes(new { @style = "font-size: 0.7em;" })
                                    .FooterHtmlAttributes(new { @class = "hidden " })
                                    .Title("Создано [изменено]")
                                    .ClientTemplate("<span>#:owner_user_name# #:kendo.toString(crt_date, 'dd.MM.yy HH:mm:ss')#</span>"
                                    + "#if (upd_date) {#" + "<span>&nbsp;[#:kendo.toString(upd_date, 'dd.MM.yy HH:mm:ss')#]</span>" + "#}#"
                                    )
                                    ;

                                if (@currUser.IsSuperAdmin)
                                {
                                    columns.Command(command => { command.Destroy().Text(" "); })
                                        .Title("Удалить")
                                        .Width(70)
                                        .HeaderHtmlAttributes(new { @style = "font-size: 0.7em;" })
                                        .FooterHtmlAttributes(new { @class = "hidden " })
                                        ;
                                }
                            })
                                                                                .Pageable(page => page.Enabled(false))
                                                                                .Resizable(resize => resize.Columns(true))
                                                                                .Sortable()
                                                                                .Scrollable(scr => scr.Height("auto"))
                                                                                .Editable(ed => ed.Mode(GridEditMode.InCell))
                                                                                .HtmlAttributes(new { @style = "width: 100%;" })
                                                                                .Excel(excel => excel
                                                                                    .FileName("Список подзадач.xlsx")
                                                                                    .ProxyURL(Url.Action("CardListExport", "Card"))
                                                                                    .ForceProxy(true)
                                                                                )
                                                                            .Pdf(pdf => pdf
                                                                                .FileName("Список подзадач.pdf")
                                                                                .ProxyURL(Url.Action("CardListExport", "Card"))
                                                                                .ForceProxy(true)
                                                                             )
                                                                        .Events(ev =>
                                                                        {
                                                                            ev.DataBound("taskList.onSubtaskGridFullDataBound");
                                                                            ev.Edit("taskList.onSubtaskGridFullEdit");
                                                                            ev.Remove("taskList.onSubtaskGridFullRemove");
                                                                            ev.ExcelExport("taskList.onSubtaskGridFullExcelExport");
                                                                            ev.PdfExport("taskList.onSubtaskGridFullPdfExport");
                                                                        })
                                )
                            </text>);
                    }
                                                                                                                                                                                                                                                                                                            )
                                                                                                                                                                                                                                                                                                            .HtmlAttributes(new { @style = "width: 98%;" })
            )
        </div>
        <div class="col-sm-6" id="div-commentFull" style="padding-left: 0 !important; padding-right: 0 !important; margin-left: -10px;">
            @(Html.Kendo().TabStrip()
                    .Name("taskNoteTabStripFull")
                    .Items(tabstrip =>
                    {
                        tabstrip.Add().Text("Комментарии")
                            .SpriteCssClasses("k-icon", "k-i-kpi")
                            .Selected(true)
                            .Content(@<text>
                                @(Html.TextArea("txtTaskNoteAddFull", new { @id = "txtTaskNoteAddFull", @class = "form-control", @cols = "50", @rows = "3", @placeholder = "напишите комментарий...", @style = "width: 95%;" }))
                                <button type="button" class="btn btn-info btn-xs task-note-addFull" id="btnTaskNoteAddFull">добавить</button>
                                @(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmTaskNoteViewModel>(Model.notes)
                            .Name("taskNoteGridFull")
                            .DataSource(dataSource => dataSource
                            .Ajax()
                            .Model(model =>
                            {
                                model.Id(fld => fld.note_id);
                            })
                            .Sort(sort => sort.Add("note_id").Descending())
                            )
                            .Columns(columns =>
                            {
                                columns.Bound(fld => fld.crt_date)
                                    .Width("37%")
                                    .HeaderHtmlAttributes(new { @style = "display: none;" })
                                    .ClientTemplate("<span>#:kendo.toString(crt_date, 'dd.MM.yy HH:mm:ss')#&nbsp;#:user_name#</span>")
                                    ;
                                columns.Bound(fld => fld.note_text)
                                    .Encoded(false)
                                    .HeaderHtmlAttributes(new { @style = "display: none;" });
                            })
                            .Pageable(page => page.Enabled(false))
                            .Resizable(resize => resize.Columns(true))
                            .Sortable()
                            .Scrollable(scr => scr.Height("auto"))
                            .Filterable(ftb => ftb.Enabled(false))
                            .HtmlAttributes(new { @style = "width: 100%;" })
                                )
                            </text>);
                        tabstrip.Add().Text("Файлы")
                            .Content(@<text>
                                @if (Model.task_id > 0)
                                {
                                    @(Html.Kendo().Upload()
                                        .Name("uplTaskFile")
                                    .HtmlAttributes(new { @id = "uplFileFull" })
                                .Async(s =>
                                {
                                    s.Save("TaskFileSave", "Crm", new { @task_id = @Model.task_id });
                                    s.Remove("TaskFileRemove", "Crm");
                                    s.AutoUpload(true);
                                })
                                .ShowFileList(false)
                                .Multiple(false)
                                .Messages(mess =>
                                {
                                    mess.Select("Файл...");
                                    mess.StatusUploaded("Готово");
                                    mess.StatusUploading("Загрузка...");
                                    mess.StatusFailed("Ошибка");
                                    mess.Cancel("Отмена");
                                    mess.HeaderStatusUploaded("Готово");
                                    mess.HeaderStatusUploading("Загрузка...");
                                })
                                .Events(ev =>
                                {
                                    ev.Success("taskList.onUplFileFullSuccess");
                                    ev.Error("taskList.onUplFileFullError");
                                })
                                    )
                                }
                                else
                                {
                                    <span class="text-muted">добавление файлов возможно только после создания задачи</span>
                                }
                                @(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmTaskFileViewModel>(Model.files)
                                    .Name("taskFilesGridFull")
                                    .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .Model(model =>
                                    {
                                        model.Id(fld => fld.file_id);
                                    })
                                    .Sort(sort => sort.Add("file_name").Ascending())
                                    .Read(rd => rd.Action("GetCrmTaskFileList", "Crm", new { @task_id = @Model.task_id }))
                                    )
                                    .Columns(columns =>
                                    {
                                        columns.Bound(fld => fld.file_path)
                                            .ClientTemplate("<a href='#=file_path#' target='_blank'>#=file_name#</a>")
                                            //.Encoded(false)
                                            .HeaderHtmlAttributes(new { @style = "display: none;" });
                                        columns.Bound(fld => fld.TaskFileRemoveBtn)
                                            .Encoded(false)
                                            .HeaderHtmlAttributes(new { @style = "display: none;" });
                                    })
                                    .Pageable(page => page.Enabled(false))
                                    .Resizable(resize => resize.Columns(true))
                                    .Sortable()
                                    .Scrollable(scr => scr.Height("auto"))
                                    .Filterable(ftb => ftb.Enabled(false))
                                )
                            </text>);
                        tabstrip.Add().Text("История")
                            .Content(@<text>
                                @(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmLogViewModel>(Model.logs)
                                    .Name("taskLogGridFull")
                                    .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .Model(model =>
                                    {
                                        model.Id(fld => fld.log_id);
                                    })
                                    .Sort(sort => sort.Add("log_id").Descending())
                                    )
                                    .Columns(columns =>
                                    {
                                        columns.Bound(fld => fld.date_beg)
                                            .Format("{0: dd.MM.yy HH:mm:ss}")
                                            .Width("20%")
                                            .HeaderHtmlAttributes(new { @style = "display: none;" });
                                        columns.Bound(fld => fld.user_name)
                                            .Width("15%")
                                            .HeaderHtmlAttributes(new { @style = "display: none;" });
                                        columns.Bound(fld => fld.mess)
                                            .HeaderHtmlAttributes(new { @style = "display: none;" });
                                    })
                                    .Pageable(page => page.Enabled(false))
                                    .Resizable(resize => resize.Columns(true))
                                    .Sortable()
                                    .Scrollable(scr => scr.Height("auto"))
                                    .Filterable(ftb => ftb.Enabled(false))
                                )
                            </text>);
                    })
                                                                                                                                                                                                                                                                                                                                                                                                                                                        .HtmlAttributes(new { @style = "width: 98%;" })
            )
        </div>
    </div>

    <div class="row">
        <div class="form-horizontal">
            <div class="form-group" style="margin-top: 15px;">
                <div class="col-sm-3 col-sm-offset-1">
                    <span id="spanTaskErrMessFull" class="hidden k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" data-for="btnTaskOkFull" data-valmsg-for="btnTaskOkFull" role="alert">
                        <span class="k-icon k-warning"></span>
                    </span>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-default btn-task-add" id="btnTaskOkFull" disabled>Сохранить и выйти</button>
                    <button type="button" class="btn btn-default btn-task-save hidden" id="btnTaskSaveFull" disabled>Сохранить</button>
                    <button type="button" class="btn btn-danger" id="btnTaskCancelFull">Выйти</button>
                </div>
            </div>
        </div>
    </div>
</form>



<script>
    taskList.init_popup();
</script>