﻿@using CabinetMvc.Util

@model CabinetMvc.ViewModel.Crm.CrmTaskViewModel

@{
    ViewBag.Title = "Задача";
    Layout = "";
    var currUser = ((CabinetMvc.Controllers.BaseController)ViewContext.Controller).CurrentUser;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmProjectViewModel> projectList = ViewBag.ProjectList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmModuleViewModel> moduleList = ViewBag.ModuleList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmModuleVersionViewModel> moduleVersionList = ViewBag.ModuleVersionList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmClientViewModel> clientList = ViewBag.ClientList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmPriorityViewModel> priorityList = ViewBag.PriorityList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmStateViewModel> stateList = ViewBag.StateList;
    IEnumerable<CabinetMvc.ViewModel.Adm.CabUserViewModel> userList = ViewBag.UserList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmGroupViewModel> groupList = ViewBag.GroupList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmBatchViewModel> batchList = ViewBag.BatchList;
    IList<SelectListItem> eventUserList = ViewBag.EventUserList;
}

<style>
    #taskNoteGridScheduler, #taskNoteGridScheduler * {
        max-height: 255px !important;
        border: 0 !important;
    }

    #subtaskGridScheduler {
        max-height: 255px !important;
    }

    #taskLogGridScheduler, #taskLogGridScheduler * {
        max-height: 370px !important;
        border: 0 !important;
    }

    #taskFilesGridScheduler, #taskFilesGridScheduler * {
        max-height: 320px !important;
        border: 0 !important;
    }

    #winTaskEditScheduler label {
        font-size: 0.85em;
    }

    #winTaskEditScheduler .form-horizontal .control-label {
        text-align: left;
    }

    #winTaskEditScheduler textarea.form-control {
        width: auto;
    }

    #winTaskEditScheduler .k-dropdown, .k-dropdown-wrap, .k-datepicker, .k-picker-wrap, .k-numerictextbox, .k-numeric-wrap {
        height: 25px !important;
    }

    
    #winTaskEditScheduler .k-textbox {
        height: 26px !important;
    }
    

    #winTaskEditScheduler .k-picker-wrap > .k-input, .k-numeric-wrap > .k-input {
        height: 20px !important;
    }

    #winTaskEditScheduler .k-dropdown-wrap > .k-input {
        line-height: normal !important;
    }

    #winTaskEditScheduler .k-dropdown-wrap > .k-select > .k-icon, .k-picker-wrap > .k-select > .k-icon {
        vertical-align: initial !important;
    }
    
    #winTaskEditScheduler .form-group {
        margin-top: -10px;
    }
</style>


@Html.HiddenFor(x => x.task_id)
@Html.HiddenFor(x => x.upd_num)

@Html.ValidationSummary()

@if (TempData["error"] != null)
{
    <div class="k-block k-error-colored">
        @TempData["error"]
    </div>
}

<form class="form-horizontal">
    <div class="row">
        <div class="col-sm-6" style="padding-left: 25px; padding-right: 0;">
            <div class="form-group">
                @Html.Label("Задача", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8">
                    @(Html.Kendo().TextBox().Name("taskNameScheduler").Value(@Model.task_num + " " + @Model.owner_user_name + "\\" + (@Model.crt_date.HasValue ? ((DateTime)@Model.crt_date).ToString("dd.MM.yyyy HH:mm") : "") + (@Model.upd_date.HasValue ? " [" + ((DateTime)@Model.upd_date).ToString("dd.MM.yyyy HH:mm") + "]" : "")).HtmlAttributes(new { @class = "form-control", @readonly = "readonly", @style = "text-indent: 0;" }))
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.task_name, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8">
                    @(Html.Kendo().TextBoxFor(model => model.task_name).HtmlAttributes(new { @id = "task_nameScheduler", @class = "form-control attr-change" }))
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.task_text, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8">
                    @(Html.TextAreaFor(model => model.task_text, new { @id = "task_textScheduler", @class = "form-control attr-change", @style = "height: 89px; width: 92%;" }))
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.client_id, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8">
                    @(Html.Kendo().DropDownListFor(ss => ss.client_id)
                .BindTo(clientList)
                .Name("clientListScheduler")
                .HtmlAttributes(new { @id = "clientListScheduler", @class = "form-control attr-change" })
                .DataTextField("client_name")
                .DataValueField("client_id")
                        .Events(ev => ev.Change("taskScheduler.onAttrChanged"))
                    )
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.group_id, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8">
                    @(Html.Kendo().DropDownListFor(ss => ss.group_id)
                        .BindTo(groupList)
                        .Name("groupListScheduler")
                        .HtmlAttributes(new { @id = "groupListScheduler", @class = "form-control attr-change" })
                        .DataTextField("group_name")
                        .DataValueField("group_id")
                                .Events(ev => ev.Change("taskScheduler.onAttrChanged"))
                    )
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.priority_id, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8">
                    @(Html.Kendo().DropDownListFor(ss => ss.priority_id)
                .BindTo(currUser.IsBoss ? priorityList : (Model.priority_is_boss == true ? priorityList : (priorityList.Where(ss => !ss.is_boss).ToList())))
                .Name("priorityListScheduler")
                .HtmlAttributes(new { @id = "priorityListScheduler", @class = "form-control attr-change" })                        
                .DataTextField("priority_name")
                .DataValueField("priority_id")
                .Enable(!((!currUser.IsBoss) && (Model.priority_is_boss == true)))                
                        .Events(ev => ev.Change("taskScheduler.onAttrChanged"))
                    )
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.fin_cost, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-2">
                    @(Html.Kendo().NumericTextBoxFor(model => model.fin_cost)
                    .Min(0)
                    .Max(decimal.MaxValue)
                    .HtmlAttributes(new { @type = "text", @id = "fin_costScheduler", @class = "form-control attr-change", @style = "display: inline !important;" })
                            .Events(ev => ev.Spin("taskScheduler.onAttrChanged"))
                    )
                </div>
                <div class="col-sm-2">
                    <div onclick='taskScheduler.onAttrChanged()' title='Модерация: @Model.moderator_user_name'>
                        @(Html.Kendo().CheckBoxFor(model => model.IsModerated).Name("IsModeratedScheduler").Checked(@Model.IsModerated).Label("модерация")
                        .HtmlAttributes(new { @class = "k-checkbox attr-change", @id = "IsModeratedScheduler", }))
                    </div>
                </div>
                <div class="col-sm-3">
                    <div onclick="taskScheduler.onAttrChanged()">
                        @(Html.Kendo().CheckBoxFor(model => model.is_event).Name("is_eventScheduler").Checked(@Model.is_event).Label("в календаре").HtmlAttributes(new { @class = "k-checkbox attr-change", @id = "is_eventScheduler", }))
                    </div>
                    @if ((Model.task_id > 0) && (Model.is_event))
                    {
                        <a href="/TaskScheduler?task_id=@Model.task_id.ToString()" title="перейти к календарю">[перейти]</a>
                    }
                    else if ((Model.task_id > 0) && (!Model.is_event))
                    {
                        @(Html.Kendo().DropDownListFor(ss => ss.is_event_for_exec)
                .BindTo(eventUserList)
                    .Name("eventUserListScheduler")
                        .HtmlAttributes(new { @id = "eventUserListScheduler", @class = "form-control", @style = "width: 100px;" })
                .DataTextField("Text")
                .DataValueField("Value")
                        )
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-5" style="padding-left: 25px; padding-right: 0;">
            <div class="form-group" style="margin-top: -7px !important;">
                @Html.LabelFor(model => model.batch_id, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-6">
                    @(Html.Kendo().DropDownListFor(ss => ss.batch_id)
                .BindTo(batchList)
                .Name("batchListScheduler")
                .HtmlAttributes(new { @id = "batchListScheduler", @class = "form-control" })
                .DataTextField("batch_name")
                .DataValueField("batch_id")
                        .Enable(currUser.IsBossAssistant)
                .Events(ev => ev.Change("taskScheduler.onAttrChanged"))
                    )
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.project_id, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-6">
                    @(Html.Kendo().DropDownListFor(ss => ss.project_id)
                .BindTo(projectList)
                .Name("projectListScheduler")
                .HtmlAttributes(new { @id = "projectListScheduler", @class = "form-control" })
                .DataTextField("project_name")
                .DataValueField("project_id")
                .Events(ev => ev.Change("taskScheduler.onAttrChanged"))
                    )
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.module_id, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-6">
                    @(Html.Kendo().DropDownListFor(ss => ss.module_id)
                .BindTo(moduleList)
                .Name("moduleListScheduler")
                .HtmlAttributes(new { @id = "moduleListScheduler", @class = "form-control" })
                .DataTextField("module_name")
                .DataValueField("module_id")
                 .CascadeFrom("projectListScheduler")
                .Events(ev => ev.Change("taskScheduler.onAttrChanged"))
                    )
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.module_version_id, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-6">
                    @(Html.Kendo().DropDownListFor(ss => ss.module_version_id)
                .BindTo(moduleVersionList)
                .Name("moduleVersionListScheduler")
                            //.OptionLabel("[не указана]")
                .HtmlAttributes(new { @id = "moduleVersionListScheduler", @class = "form-control" })
                .DataTextField("module_version_name")
                .DataValueField("module_version_id")
                .CascadeFrom("moduleListScheduler")
                .Events(ev => ev.Change("taskScheduler.onAttrChanged"))
                    )
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.assigned_user_id, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-6">
                    @(Html.Kendo().DropDownListFor(ss => ss.assigned_user_id)
                .BindTo(userList)
                .Name("assignedUserListScheduler")
                .HtmlAttributes(new { @id = "assignedUserListScheduler", @class = "form-control attr-change" })
                .DataTextField("user_name")
                .DataValueField("user_id")
                .Events(ev => ev.Change("taskScheduler.onAttrChanged"))
                    )
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.exec_user_id, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-6">
                    @(Html.Kendo().DropDownListFor(ss => ss.exec_user_id)
                .BindTo(userList)
                .Name("execUserListScheduler")
                .HtmlAttributes(new { @id = "execUserListScheduler", @class = "form-control attr-change" })
                .DataTextField("user_name")
                .DataValueField("user_id")
                .Events(ev => ev.Change("taskScheduler.onAttrChanged"))
                    )
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.state_id, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-6">
                    @(Html.Kendo().DropDownListFor(ss => ss.state_id)
                .BindTo(stateList)
                .Name("stateListScheduler")
                .HtmlAttributes(new { @id = "stateListScheduler", @class = "form-control attr-change" })
                .DataTextField("state_name")
                .DataValueField("state_id")
                .Events(ev => ev.Change("taskScheduler.onAttrChanged"))
                    )
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.required_date, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-6">
                    @(Html.Kendo().DatePickerFor(model => model.required_date).HtmlAttributes(new { @type = "text", @id = "required_dateScheduler", @class = "form-control attr-change" })
                                    .Events(ev => ev.Change("taskScheduler.onAttrChanged"))
                    )
                </div>
            </div>
            @if (Model.task_id > 0)
            {
                <div class="form-group">
                    @Html.Label("В календаре", new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-6">
                        @(Html.Kendo().TextBox().Name("eventPeriodScheduler").Value(@Model.EventPeriod)
                    .HtmlAttributes(new { @class = "form-control", @readonly = "readonly", @style = "text-indent: 0;" }))
                    </div>
                </div>
            }
            <div class="form-group">
                @Html.LabelFor(model => model.repair_date, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-6">
                    @(Html.Kendo().DatePickerFor(model => model.repair_date).HtmlAttributes(new { @type = "text", @id = "repair_dateScheduler", @class = "form-control attr-change" })
                            .Events(ev => ev.Change("taskScheduler.onAttrChanged"))
                    )
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.repair_version_id, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-6">
                    @(Html.Kendo().DropDownListFor(ss => ss.repair_version_id)
                .BindTo(moduleVersionList)
                .Name("repairVersionListScheduler")
                .OptionLabel("[не указана]")
                .HtmlAttributes(new { @id = "repairVersionListScheduler", @class = "form-control" })
                .DataTextField("module_version_name")
                .DataValueField("module_version_id")
                .CascadeFrom("moduleListScheduler")
                        .Events(ev => ev.Change("taskScheduler.onAttrChanged"))
                    )
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6" id="div-subtaskScheduler" style="padding-left: 0 !important; padding-right: 0 !important; margin-left: 10px;">
            @(Html.Kendo().TabStrip()
                    .Name("subtaskTabStripScheduler")
                    .Items(tabstrip =>
                    {
                        tabstrip.Add().Text("Подзадачи")
                            .SpriteCssClasses("k-icon", "k-i-kpi")
                            .Selected(true)
                            .Content(@<text>
                                @(Html.TextArea("txtSubtaskAddScheduler", new { @id = "txtSubtaskAddScheduler", @class = "form-control", @cols = "50", @rows = "3", @placeholder = "текст подзадачи...", @style = "width: 95%;" }))
                                <button type="button" class="btn btn-info btn-xs subtask-addScheduler" id="btnSubtaskAddScheduler">добавить</button>
                                <button type="button" class="btn btn-default btn-xs pull-right subtask-excelScheduler" id="btnSubtaskExcelScheduler"><span class="k-icon k-i-excel"></span> </button>
                                <button type="button" class="btn btn-default btn-xs pull-right subtask-pdfScheduler" id="btnSubtaskPdfScheduler"><span class="k-icon k-i-pdf"></span> </button>
                                @(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmSubtaskViewModel>(Model.subtasks)
                            .Name("subtaskGridScheduler")
                            .DataSource(dataSource => dataSource
                            .Ajax()
                            .ServerOperation(false)
                            .Model(model =>
                            {
                                model.Id(fld => fld.subtask_id);
                                model.Field(fld => fld.state_id_ReadOnly).DefaultValue(1).Editable(false);
                                model.Field(fld => fld.file_id_ReadOnly).Editable(false);
                                model.Field(fld => fld.task_num).Editable(false);
                                model.Field(fld => fld.crt_date).Editable(false);
                                model.Field(fld => fld.upd_date).Editable(false);
                                model.Field(fld => fld.owner_user_name).Editable(false);
                            })
                            .Destroy(dst => dst.Action("SubtaskDel", "Crm"))
                            .Aggregates(agg => agg.Add(fld => fld.task_num).Max())
                            .Sort(sort => sort.Add("task_num").Descending())
                            .AutoSync(false)
                            )
                            .Columns(columns =>
                            {
                                columns.Bound(fld => fld.task_num)
                                    .Width(50)
                                    .HeaderHtmlAttributes(new { @style = "font-size: 0.7em;" })
                                    .FooterHtmlAttributes(new { @class = "hidden " });

                                columns.Bound(fld => fld.state_name).Hidden(true);

                                columns.Bound(fld => fld.state_name)
                                    .Width(150)
                                    .HtmlAttributes(new { @class = "stateListCell" })
                                   .ClientTemplate(
                                       @Html.Kendo().DropDownList()
                                        .Name("subtaskStateList_#=task_num#")
                                        .HtmlAttributes(new { @style = "width:90%" })
                                        .DataValueField("state_id")
                                        .DataTextField("state_name")
                                        .BindTo(stateList)
                                        .Value("#=state_id#")
                                        .Events(ev => ev.Change("taskScheduler.subtaskStateListChanged"))
                                        .ToClientTemplate()
                                        .ToHtmlString()
                                        )
                                        .HeaderHtmlAttributes(new { @style = "font-size: 0.7em;" })
                                        .FooterHtmlAttributes(new { @class = "hidden " })
                                        ;
                                columns.Bound(fld => fld.subtask_text)
                                    .Encoded(false)
                                    .Width(300)
                                    .HeaderHtmlAttributes(new { @style = "font-size: 0.7em;" })
                                    .FooterHtmlAttributes(new { @class = "hidden " })
                                    ;

                                columns.Bound(fld => fld.file_name).Hidden(true);

                                columns.Bound(fld => fld.file_id_ReadOnly)
                                    .Width(150)
                                    .HtmlAttributes(new { @class = "fileListCell" })
                                   .ClientTemplate(
                                       @Html.Kendo().DropDownList()
                                        .Name("subtaskFileList_#=task_num#")
                                        .HtmlAttributes(new { @style = "width:90%" })
                                        .DataSource(ds =>
                                        {
                                            ds.Read(rd => rd.Action("GetCrmTaskFileList_forSubtask", "Crm", new { @task_id = @Model.task_id }));
                                        })
                                        .DataValueField("file_id")
                                        .DataTextField("file_name")
                                        .Value("#=file_id#")
                                        .AutoBind(true)
                                        .OptionLabel("не выбран")
                                        .Events(ev => ev.Change("taskScheduler.subtaskFileListChanged"))
                                        .ToClientTemplate()
                                        .ToHtmlString()
                                        )
                                    .HeaderHtmlAttributes(new { @style = "font-size: 0.7em;" })
                                    .FooterHtmlAttributes(new { @class = "hidden " })
                                    ;
                                columns.Bound(fld => fld.crt_date)
                                    .Format("{0:dd.MM.yy HH:mm:ss}")
                                    .Width(150)
                                    .HeaderHtmlAttributes(new { @style = "font-size: 0.7em;" })
                                    .FooterHtmlAttributes(new { @class = "hidden " });
                                columns.Bound(fld => fld.upd_date)
                                    .Format("{0:dd.MM.yy HH:mm:ss}")
                                    .Width(150)
                                    .HeaderHtmlAttributes(new { @style = "font-size: 0.7em;" })
                                    .FooterHtmlAttributes(new { @class = "hidden " });
                                columns.Bound(fld => fld.owner_user_name)
                                    .Width(100)
                                    .HeaderHtmlAttributes(new { @style = "font-size: 0.7em;" })
                                    .FooterHtmlAttributes(new { @class = "hidden " });

                                if (@currUser.IsSuperAdmin)
                                {
                                    columns.Command(command => { command.Destroy().Text(" "); })
                                        .Title("Удалить")
                                        .Width(70)
                                        .HeaderHtmlAttributes(new { @style = "font-size: 0.7em;" })
                                        .FooterHtmlAttributes(new { @class = "hidden " })
                                        ;
                                }
                            })
                                                                                .Pageable(page => page.Enabled(false))
                                                                                .Resizable(resize => resize.Columns(true))
                                                                                .Sortable()
                                                                                .Scrollable(scr => scr.Height("auto"))
                                                                                .Editable(ed => ed.Mode(GridEditMode.InCell))
                                                                                .HtmlAttributes(new { @style = "width: 100%;" })
                                                                                .Excel(excel => excel
                                                                                    .FileName("Список подзадач.xlsx")
                                                                                    .ProxyURL(Url.Action("CardListExport", "Card"))
                                                                                    .ForceProxy(true)
                                                                                )
                                                                            .Pdf(pdf => pdf
                                                                                .FileName("Список подзадач.pdf")
                                                                                .ProxyURL(Url.Action("CardListExport", "Card"))
                                                                                .ForceProxy(true)
                                                                             )
                                                                        .Events(ev =>
                                                                        {
                                                                            ev.DataBound("taskScheduler.onSubtaskGridSchedulerDataBound");
                                                                            ev.Edit("taskScheduler.onSubtaskGridSchedulerEdit");
                                                                            ev.Remove("taskScheduler.onSubtaskGridSchedulerRemove");
                                                                            ev.ExcelExport("taskScheduler.onSubtaskGridSchedulerExcelExport");
                                                                            ev.PdfExport("taskScheduler.onSubtaskGridSchedulerPdfExport");
                                                                        })
                                )
                            </text>);
                    }
                                                                                                                                    )
                                                                                                                                    .HtmlAttributes(new { @style = "width: 98%;" })
            )
        </div>
        <div class="col-sm-6" id="div-commentScheduler" style="padding-left: 0 !important; padding-right: 0 !important; margin-left: -10px;">
            @(Html.Kendo().TabStrip()
                    .Name("taskNoteTabStripScheduler")
                    .Items(tabstrip =>
                    {
                        tabstrip.Add().Text("Комментарии")
                            .SpriteCssClasses("k-icon", "k-i-kpi")
                            .Selected(true)
                            .Content(@<text>
                                @(Html.TextArea("txtTaskNoteAddScheduler", new { @id = "txtTaskNoteAddScheduler", @class = "form-control", @cols = "50", @rows = "3", @placeholder = "напишите комментарий...", @style = "width: 95%;" }))
                                <button type="button" class="btn btn-info btn-xs task-note-addScheduler" id="btnTaskNoteAddScheduler">добавить</button>
                                @(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmTaskNoteViewModel>(Model.notes)
                            .Name("taskNoteGridScheduler")
                            .DataSource(dataSource => dataSource
                            .Ajax()
                            .Model(model =>
                            {
                                model.Id(fld => fld.note_id);
                            })
                            .Sort(sort => sort.Add("note_id").Descending())
                            )
                            .Columns(columns =>
                            {
                                columns.Bound(fld => fld.crt_date)
                                    .Format("{0: dd.MM.yy HH:mm:ss}")
                                    .Width("20%")
                                    .HeaderHtmlAttributes(new { @style = "display: none;" });
                                columns.Bound(fld => fld.user_name)
                                    .Width("15%")
                                    .HeaderHtmlAttributes(new { @style = "display: none;" });
                                columns.Bound(fld => fld.note_text)
                                    .Encoded(false)
                                    .HeaderHtmlAttributes(new { @style = "display: none;" });
                            })
                            .Pageable(page => page.Enabled(false))
                            .Resizable(resize => resize.Columns(true))
                            .Sortable()
                            .Scrollable(scr => scr.Height("auto"))
                            .Filterable(ftb => ftb.Enabled(false))
                            .HtmlAttributes(new { @style = "width: 100%;" })
                                )
                            </text>);
                        tabstrip.Add().Text("Файлы")
                            .Content(@<text>
                                @if (Model.task_id > 0)
                                {
                                 @(Html.Kendo().Upload()
                                .Name("uplTaskFile")
                                .HtmlAttributes(new { @id = "uplFileScheduler" })
                                .Async(s =>
                                {
                                    s.Save("TaskFileSave", "Crm", new { @task_id = @Model.task_id });
                                    s.Remove("TaskFileRemove", "Crm");
                                    s.AutoUpload(true);
                                })
                                .ShowFileList(false)
                                .Multiple(false)
                                .Messages(mess =>
                                {
                                    mess.Select("Файл...");
                                    mess.StatusUploaded("Готово");
                                    mess.StatusUploading("Загрузка...");
                                    mess.StatusFailed("Ошибка");
                                    mess.Cancel("Отмена");
                                    mess.HeaderStatusUploaded("Готово");
                                    mess.HeaderStatusUploading("Загрузка...");
                                })
                                .Events(ev =>
                                {
                                    ev.Success("taskScheduler.onUplFileSchedulerSuccess");
                                    ev.Error("taskScheduler.onUplFileSchedulerError");
                                })
                                    )
                                }
                                else
                                {
                                    <span class="text-muted">добавление файлов возможно только после создания задачи</span>
                                }
                                @(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmTaskFileViewModel>(Model.files)
                                    .Name("taskFilesGridScheduler")
                                    .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .Model(model =>
                                    {
                                        model.Id(fld => fld.file_id);
                                    })
                                    .Sort(sort => sort.Add("file_name").Ascending())
                                    .Read(rd => rd.Action("GetCrmTaskFileList", "Crm", new { @task_id = @Model.task_id }))
                                    )
                                    .Columns(columns =>
                                    {
                                        columns.Bound(fld => fld.file_path)
                                            .ClientTemplate("<a href='#=file_path#' target='_blank'>#=file_name#</a>")
                                            //.Encoded(false)
                                            .HeaderHtmlAttributes(new { @style = "display: none;" });
                                        columns.Bound(fld => fld.TaskFileRemoveBtn)
                                            .Encoded(false)
                                            .HeaderHtmlAttributes(new { @style = "display: none;" });
                                    })
                                    .Pageable(page => page.Enabled(false))
                                    .Resizable(resize => resize.Columns(true))
                                    .Sortable()
                                    .Scrollable(scr => scr.Height("auto"))
                                    .Filterable(ftb => ftb.Enabled(false))
                                )
                            </text>);
                        tabstrip.Add().Text("История")
                            .Content(@<text>
                                @(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmLogViewModel>(Model.logs)
                                    .Name("taskLogGridScheduler")
                                    .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .Model(model =>
                                    {
                                        model.Id(fld => fld.log_id);
                                    })
                                    .Sort(sort => sort.Add("log_id").Descending())
                                    )
                                    .Columns(columns =>
                                    {
                                        columns.Bound(fld => fld.date_beg)
                                            .Format("{0: dd.MM.yy HH:mm:ss}")
                                            .Width("20%")
                                            .HeaderHtmlAttributes(new { @style = "display: none;" });
                                        columns.Bound(fld => fld.user_name)
                                            .Width("15%")
                                            .HeaderHtmlAttributes(new { @style = "display: none;" });
                                        columns.Bound(fld => fld.mess)
                                            .HeaderHtmlAttributes(new { @style = "display: none;" });
                                    })
                                    .Pageable(page => page.Enabled(false))
                                    .Resizable(resize => resize.Columns(true))
                                    .Sortable()
                                    .Scrollable(scr => scr.Height("auto"))
                                    .Filterable(ftb => ftb.Enabled(false))
                                )
                            </text>);
                    })
                                                                                                                                                                                                                                                                                .HtmlAttributes(new { @style = "width: 98%;" })
            )
        </div>
    </div>

    <div class="row">
        <div class="form-horizontal">
            <div class="form-group" style="margin-top: 15px;">
                <div class="col-sm-3 col-sm-offset-1">
                    <span id="spanTaskErrMessScheduler" class="hidden k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" data-for="btnTaskOkScheduler" data-valmsg-for="btnTaskOkScheduler" role="alert">
                        <span class="k-icon k-warning"></span>
                    </span>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-default btn-task-add" id="btnTaskOkScheduler" disabled>Сохранить и выйти</button>
                    <button type="button" class="btn btn-default btn-task-save hidden" id="btnTaskSaveScheduler" disabled>Сохранить</button>
                    <button type="button" class="btn btn-danger" id="btnTaskCancelScheduler">Выйти</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    taskScheduler.init_popup();
</script>