﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util
@using AuDev.Common.Util

@{
    ViewBag.Title = "Задачи 2";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currUser = ((CabinetMvc.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}

@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/crm", "task-list-partial-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("crm", "Задачи"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Сервис", "TaskList", "Crm") - @Html.ActionLink("Задачи", "TaskList", "Crm")
    </div>
}
<style>
</style>

<div>
    @{
        Html.RenderPartial("TaskListPartial");
    }
</div>

<script>
    $(function () {
        taskListPartial.loadTaskGridConfig();
    });
</script>