﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util

@{
    ViewBag.Title = "Справочники";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currUser = ((CabinetMvc.Controllers.BaseController)ViewContext.Controller).CurrentUser;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmProjectViewModel> projectList = ViewBag.ProjectList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmPriorityViewModel> priorityList = ViewBag.PriorityList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmStateViewModel> stateList = ViewBag.StateList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmTaskRelTypeViewModel> relTypeList = ViewBag.RelTypeList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmUserRoleViewModel> userRoleList = ViewBag.UserRoleList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmBatchViewModel> batchList = ViewBag.BatchList;
}

<style>
    #main-content-div {
        font-size: 12px !important;
    }

    .k-grid {
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }
</style>
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/crm", "task-sprav-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("crm", "Задачи"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Сервис", "TaskList", "Crm") - @Html.ActionLink("Задачи", "TaskList", "Crm") - @Html.ActionLink("Справочники", "TaskSprav", "Crm")
    </div>
}


@if (TempData["error"] != null)
{
    <div class="k-block k-error-colored">
        @TempData["error"]
    </div>
}

<section class="well" style="background-color: transparent !important;">
    <h3 class="ra-well-title">Статусы, приоритеты</h3>
    <div class="row" style="padding: 10px;">
        <div class="col-md-6">
            @(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmStateViewModel>(stateList)
    .Name("stateGrid")
    .DataSource(dataSource => dataSource
        .Ajax()
        .Events(events => { events.Error("onGridError('stateGrid')"); events.RequestEnd("onGridRequestEnd('stateGrid')"); })
        .Model(model =>
        {
            model.Id(item => item.state_id);
            model.Field(item => item.state_id).Editable(false);
            model.Field(i => i.fore_color).DefaultValue("#000000");
        })
            .Read(read => read.Action("GetCrmStateList", "Crm"))
            .Destroy(destroy => destroy.Action("CrmStateDel", "Crm"))
            .Create(create => create.Action("CrmStateAdd", "Crm"))
            .Update(upd => upd.Action("CrmStateEdit", "Crm"))
                .Sort(srt => srt.Add("ord").Ascending())
        )
    .Columns(columns =>
    {
        columns.Bound(item => item.state_id).HeaderHtmlAttributes(new { @style = "display: none;" });
        columns.Bound(item => item.state_name).HeaderHtmlAttributes(new { @style = "display: none;" });
        columns.Bound(item => item.fore_color)
                        .ClientTemplate("<div class='k-textbox' style='background-color:#=fore_color#; width:80px; height:20px;'></div>")
                        .EditorTemplateName("ForeColor")
                        .HeaderHtmlAttributes(new { @style = "display: none;" });
        columns.Bound(item => item.ord).HeaderHtmlAttributes(new { @style = "display: none;" });
        if (currUser.IsBoss)
        {
            columns.Command(command =>
            {
                command.Edit().Text(" ").UpdateText(" ").CancelText(" ").HtmlAttributes(new { @title = "Изменить" });
                command.Destroy().Text(" ").HtmlAttributes(new { @title = "Удалить" });
            })
            .HeaderHtmlAttributes(new { @style = "display: none;" }).Width("40%")
                ;
        }
    })
        .ToolBar(toolbar =>
        {
            toolbar.Custom().Text("Статусы").Url("javascript:void(0)");
            if (currUser.IsBoss)
            {
                toolbar.Create().Text(" ").HtmlAttributes(new { @title = "Добавить" });
            }            
        })
.Editable(ed => ed.Mode(GridEditMode.InLine))
                            .Events(events =>
                            {
                                events.Edit("taskSprav.onGridEdit");
                            })
            )
        </div>

        <div class="col-md-6">
            @(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmPriorityViewModel>(priorityList)
    .Name("priorityGrid")
    .DataSource(dataSource => dataSource
        .Ajax()
        .Events(events => { events.Error("onGridError('priorityGrid')"); events.RequestEnd("onGridRequestEnd('priorityGrid')"); })
        .Model(model =>
        {
            model.Id(item => item.priority_id);
            model.Field(item => item.priority_id).Editable(false);
            model.Field(i => i.fore_color).DefaultValue("#000000");
        })
        .Read(read => read.Action("GetCrmPriorityList", "Crm"))
        .Destroy(destroy => destroy.Action("CrmPriorityDel", "Crm"))
        .Create(create => create.Action("CrmPriorityAdd", "Crm"))
        .Update(upd => upd.Action("CrmPriorityEdit", "Crm"))
        .Sort(srt => srt.Add("ord").Ascending())
        )
    .Columns(columns =>
    {
        columns.Bound(item => item.priority_id).HeaderHtmlAttributes(new { @style = "display: none;" });
        columns.Bound(item => item.priority_name).HeaderHtmlAttributes(new { @style = "display: none;" });
        columns.Bound(item => item.fore_color)
                        .ClientTemplate("<div class='k-textbox' style='background-color:#=fore_color#; width:80px; height:20px;'></div>")
                        .EditorTemplateName("ForeColor")
                        .HeaderHtmlAttributes(new { @style = "display: none;" });
        columns.Bound(item => item.ord).HeaderHtmlAttributes(new { @style = "display: none;" });
        columns.Bound(item => item.is_control).HeaderHtmlAttributes(new { @style = "display: none;" })
            .ClientTemplate("#if (is_control) {#" + "К" + "#} else {#" + "" + "#}#")
            ;
        if (currUser.IsBoss)
        {            
            columns.Command(command =>
            {
                command.Edit().Text(" ").UpdateText(" ").CancelText(" ").HtmlAttributes(new { @title = "Изменить" });
                command.Destroy().Text(" ").HtmlAttributes(new { @title = "Удалить" });
            })
            .HeaderHtmlAttributes(new { @style = "display: none;" })
            .Width("40%");
        }
    })
        .ToolBar(toolbar =>
        {
            toolbar.Custom().Text("Приоритеты").Url("javascript:void(0)");
            if (currUser.IsBoss)
            {
                toolbar.Create().Text(" ").HtmlAttributes(new { @title = "Добавить" });
            }
        })
.Editable(ed => ed.Mode(GridEditMode.InLine))
                                    .Events(events =>
                                    {
                                        events.Edit("taskSprav.onGridEdit");
                                    })
            )
        </div>
    </div>
</section>

<section class="well" style="background-color: transparent !important;">
    <h3 class="ra-well-title">Программы: участники, модули, версии</h3>

    <div class="row" style="padding: 10px;">
        <div class="col-md-8">
            @(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmProjectViewModel>(projectList)
    .Name("projectGrid")
    .DataSource(dataSource => dataSource
        .Ajax()
        .Events(events => { events.Error("onGridError('projectGrid')"); events.RequestEnd("onGridRequestEnd('projectGrid')"); })
        .Model(model =>
        {
            model.Id(item => item.project_id);
            model.Field(item => item.project_id).Editable(false);
            model.Field(i => i.fore_color).DefaultValue("#000000");
        })
            .Read(read => read.Action("GetCrmProjectList", "Crm"))
            .Destroy(destroy => destroy.Action("CrmProjectDel", "Crm"))
            .Create(create => create.Action("CrmProjectAdd", "Crm"))
            .Update(upd => upd.Action("CrmProjectEdit", "Crm"))
                    .Sort(srt => srt.Add("project_id").Ascending())
        )
    .Columns(columns =>
    {
        columns.Bound(item => item.project_id).HeaderHtmlAttributes(new { @style = "display: none;" });
        columns.Bound(item => item.project_name).HeaderHtmlAttributes(new { @style = "display: none;" });
        columns.Bound(item => item.fore_color)
                        .ClientTemplate("<div class='k-textbox' style='background-color:#=fore_color#; width:80px; height:20px;'></div>")
                        .EditorTemplateName("ForeColor")
                        .HeaderHtmlAttributes(new { @style = "display: none;" });
        if (currUser.IsBoss)
        {
            columns.Command(command =>
            {
                command.Edit().Text(" ").UpdateText(" ").CancelText(" ").HtmlAttributes(new { @title = "Изменить" });
                command.Destroy().Text(" ").HtmlAttributes(new { @title = "Удалить" });
            })
            .HeaderHtmlAttributes(new { @style = "display: none;" })
            .Width("20%");
        }
    })
        .ToolBar(toolbar =>
        {
            toolbar.Custom().Text("Программы").Url("javascript:void()");
            if (currUser.IsBoss)
            {
                toolbar.Create().Text(" ").HtmlAttributes(new { @title = "Добавить" });
            }
        })
.Editable(ed => ed.Mode(GridEditMode.InLine))
.Selectable(sel => sel.Mode(GridSelectionMode.Single))
        .Events(ev => { ev.Change("taskSprav.onProjectGridChange"); ev.Edit("taskSprav.onGridEdit"); })
            )
        </div>
    </div>

    <div class="row" style="padding: 10px;">
        <div class="col-md-4">
            @(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmProjectUserViewModel>()
     .Name("projectUserGrid")
    .DataSource(dataSource => dataSource
        .Ajax()
         .Events(events => { events.Error("onGridError('projectUserGrid')"); events.RequestEnd("onGridRequestEnd('projectUserGrid')"); })
        .Model(model =>
        {
            model.Id(item => item.item_id);
            model.Field(item => item.user_id).Editable(false);
        })
             .Destroy(destroy => destroy.Action("CrmProjectUserDel", "Crm"))
             .Create(create => create.Action("CrmProjectUserAdd", "Crm").Data("taskSprav.getProjectId"))
             .Update(upd => upd.Action("CrmProjectUserEdit", "Crm"))
             .Read(read => read.Action("GetCrmProjectUserList", "Crm").Data("taskSprav.getProjectId"))
             .Sort(srt => srt.Add("user_name").Ascending())
        )
    .Columns(columns =>
    {
        columns.Bound(item => item.user_id).HeaderHtmlAttributes(new { @style = "display: none;" });
        columns.Bound(item => item.ProjectUser)
            .ClientTemplate("#=user_name#")
            .HeaderHtmlAttributes(new { @style = "display: none;" });
        if (currUser.IsBoss)
        {
            columns.Command(command =>
            {
                command.Edit().Text(" ").UpdateText(" ").CancelText(" ").HtmlAttributes(new { @title = "Изменить" });
                command.Destroy().Text(" ").HtmlAttributes(new { @title = "Удалить" });
            }).HeaderHtmlAttributes(new { @style = "display: none;" })
            .Width("70%");
        }
    })
        .ToolBar(toolbar =>
        {
            if (currUser.IsBoss)
            {
                toolbar.Template(
                    @<text>
                        Участники
                        <a class="k-button k-button-icontext k-grid-add" title="Добавить участника" href="/GetCrmProjectUserList?projectUserGrid-mode=insert">
                            <span class="k-icon k-add"></span>
                        </a>
                    </text>);
            }
            else
            {
                toolbar.Template(
                    @<text>
                        Участники
                    </text>);
            }
        })
                                    .Pageable(pag => pag.Enabled(true))
                                    .Editable(ed => ed.Mode(GridEditMode.InLine))
            )
        </div>
        <div class="col-md-4">
            @(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmModuleViewModel>()
    .Name("moduleGrid")
    .DataSource(dataSource => dataSource
        .Ajax()
        .Events(events => { events.Error("onGridError('moduleGrid')"); events.RequestEnd("onGridRequestEnd('moduleGrid')"); })
        .Model(model =>
        {
            model.Id(item => item.module_id);
            model.Field(item => item.module_id).Editable(false);
        })
                    .Read(read => read.Action("GetCrmModuleList", "Crm").Data("taskSprav.getProjectId"))
            .Destroy(destroy => destroy.Action("CrmModuleDel", "Crm"))
                    .Create(create => create.Action("CrmModuleAdd", "Crm").Data("taskSprav.getProjectId"))
            .Update(upd => upd.Action("CrmModuleEdit", "Crm"))
            .Sort(srt => srt.Add("module_id").Ascending())
            .PageSize(10)
        )
    .Columns(columns =>
    {
        columns.Bound(item => item.module_id).HeaderHtmlAttributes(new { @style = "display: none;" });
        columns.Bound(item => item.module_name).HeaderHtmlAttributes(new { @style = "display: none;" });
        if (currUser.IsBoss)
        {
            columns.Command(command =>
            {
                command.Edit().Text(" ").UpdateText(" ").CancelText(" ").HtmlAttributes(new { @title = "Изменить" });
                command.Destroy().Text(" ").HtmlAttributes(new { @title = "Удалить" });
            }).HeaderHtmlAttributes(new { @style = "display: none;" })
            .Width("70%");
        }
    })
        .ToolBar(toolbar =>
        {
            if (currUser.IsBoss)
            {
                toolbar.Template(
                    @<text>
                        Модули
                        <a class="k-button k-button-icontext k-grid-add" title="Добавить модуль" href="/GetCrmModuleList?moduleGrid-mode=insert">
                            <span class="k-icon k-add"></span>
                        </a>
                    </text>);
            }
            else
            {
                toolbar.Template(
                    @<text>
                        Модули
                    </text>);
            }
        })
                                    .Editable(ed => ed.Mode(GridEditMode.InLine))
                                    .Selectable(sel => sel.Mode(GridSelectionMode.Single))
                                    .Pageable(pag => pag.Enabled(true))
                                    .Events(ev => ev.Change("taskSprav.onModuleGridChange"))
            )
        </div>
        <div class="col-md-4">
            @(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmModuleVersionViewModel>()
    .Name("moduleVersionGrid")
    .DataSource(dataSource => dataSource
        .Ajax()
        .Events(events => { events.Error("onGridError('moduleVersionGrid')"); events.RequestEnd("onGridRequestEnd('moduleVersionGrid')"); })
        .Model(model =>
        {
            model.Id(item => item.module_version_id);
            model.Field(item => item.module_version_id).Editable(false);
        })
            .Read(read => read.Action("GetCrmModuleVersionList", "Crm").Data("taskSprav.getModuleId"))
            .Destroy(destroy => destroy.Action("CrmModuleVersionDel", "Crm"))
                    .Create(create => create.Action("CrmModuleVersionAdd", "Crm").Data("taskSprav.getModuleId"))
            .Update(upd => upd.Action("CrmModuleVersionEdit", "Crm"))
                    .Sort(srt => srt.Add("module_version_id").Ascending())
            .PageSize(10)
        )
    .Columns(columns =>
    {
        columns.Bound(item => item.module_version_id).HeaderHtmlAttributes(new { @style = "display: none;" });
        columns.Bound(item => item.module_version_name).HeaderHtmlAttributes(new { @style = "display: none;" });
        if (currUser.IsBoss)
        {
            columns.Command(command =>
            {
                command.Edit().Text(" ").UpdateText(" ").CancelText(" ").HtmlAttributes(new { @title = "Изменить" });
                command.Destroy().Text(" ").HtmlAttributes(new { @title = "Удалить" });
            }).HeaderHtmlAttributes(new { @style = "display: none;" })
                .Width("70%");
        }
    })
        .ToolBar(toolbar =>
        {
            if (currUser.IsBoss)
            {
                toolbar.Template(
                    @<text>
                        Версии
                        <a class="k-button k-button-icontext k-grid-add" title="Добавить версию" href="/GetCrmModuleVersionList?moduleVersionGrid-mode=insert">
                            <span class="k-icon k-add"></span>
                        </a>
                    </text>);
            }
            else
            {
                toolbar.Template(
                    @<text>
                        Версии
                    </text>);
            }
        })
            .Editable(ed => ed.Mode(GridEditMode.InLine))
            .Selectable(sel => sel.Mode(GridSelectionMode.Single))
            .Pageable(pag => pag.Enabled(true))
)
        </div>
    </div>

</section>


<section class="well" style="background-color: transparent !important;">
    <h3 class="ra-well-title">Роли пользователей и статусы "выполнено" для календаря</h3>
    <div class="row" style="padding: 10px;">
        <div class="col-md-6">
            @(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmUserRoleViewModel>(userRoleList)
    .Name("userRoleGrid")
    .DataSource(dataSource => dataSource
        .Ajax()
        .Events(events => { events.Error("onGridError('userRoleGrid')"); events.RequestEnd("onGridRequestEnd('userRoleGrid')"); })
        .Model(model =>
        {
            model.Id(item => item.role_id);
            model.Field(item => item.role_id).Editable(false);
        })
        .Read(read => read.Action("GetCrmUserRoleList", "Crm"))
        .Destroy(destroy => destroy.Action("CrmUserRoleDel", "Crm"))
        .Create(create => create.Action("CrmUserRoleAdd", "Crm"))
        .Update(upd => upd.Action("CrmUserRoleEdit", "Crm"))
        .Sort(srt => srt.Add("role_id").Ascending())
        )
    .Columns(columns =>
    {
        columns.Bound(item => item.role_id);
        columns.Bound(item => item.role_name);
        columns.Bound(item => item.ignore_date_plan)
            .ClientTemplate("<input type='checkbox' value= '#=ignore_date_plan#' disabled " +
                                    "# if (ignore_date_plan) { #" +
                                        "checked='checked'" +
                                    "# } #" +
                                "/>");
        if (currUser.IsBoss)
        {
            columns.Command(command =>
            {
                command.Edit().Text(" ").UpdateText(" ").CancelText(" ").HtmlAttributes(new { @title = "Изменить" });
                command.Destroy().Text(" ").HtmlAttributes(new { @title = "Удалить" });
            })
            .HeaderHtmlAttributes(new { @style = "display: none;" }).Width("40%")
                ;
        }
    })
        .ToolBar(toolbar =>
        {
            if (currUser.IsBoss)
            {                
                toolbar.Create().Text(" ").HtmlAttributes(new { @title = "Добавить" });
            }
        })
        .Editable(ed => ed.Mode(GridEditMode.InLine))
                .ClientDetailTemplateId("templCrmUserRoleStateDoneList")
            )
        </div>
    </div>
</section>

<section class="well" style="background-color: transparent !important;">
    <h3 class="ra-well-title">Клиенты</h3>
    <div class="row" style="padding: 10px;">
        <div class="col-md-12">
            @(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmClientViewModel>()
    .Name("clientGrid")
    .DataSource(dataSource => dataSource
        .Ajax()
        .Events(events => { events.Error("onGridError('clientGrid')"); events.RequestEnd("onGridRequestEnd('clientGrid')"); })
        .Model(model =>
        {
            model.Id(item => item.client_id);
            model.Field(item => item.client_id).Editable(false);
        })
        .Read(read => read.Action("GetCrmClientList", "Crm"))
        .Destroy(destroy => destroy.Action("CrmClientDel", "Crm"))
        .Create(create => create.Action("CrmClientAdd", "Crm"))
        .Update(upd => upd.Action("CrmClientEdit", "Crm"))
                .Sort(srt => srt.Add("client_name").Ascending())
        .PageSize(10)
        )
    .Columns(columns =>
    {
        columns.Bound(item => item.client_id).HeaderHtmlAttributes(new { @style = "display: none;" });
        columns.Bound(item => item.client_name).HeaderHtmlAttributes(new { @style = "display: none;" });
        columns.Command(command =>
        {
            command.Edit().Text(" ").UpdateText(" ").CancelText(" ").HtmlAttributes(new { @title = "Изменить" });
            command.Destroy().Text(" ").HtmlAttributes(new { @title = "Удалить" });
        }).HeaderHtmlAttributes(new { @style = "display: none;" })
            .Width("30%");
    })
        .ToolBar(toolbar =>
        {
            toolbar.Template(
                @<text>
                    <a class="k-button k-button-icontext k-grid-add" title="Добавить клиента" href="/GetCrmClientList?clientGrid-mode=insert">
                        <span class="k-icon k-add"></span>
                    </a>
                </text>);
        })
                .Editable(ed => ed.Mode(GridEditMode.InLine))
                .Pageable(pag => pag.Enabled(true))
                .Sortable()
                .Filterable(flt => flt.Mode(GridFilterMode.Row))
            )
        </div>
    </div>
</section>

<section class="well" style="background-color: transparent !important;">
    <h3 class="ra-well-title">Типы связей</h3>
    <div class="row" style="padding: 10px;">
        <div class="col-md-6">
            @(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmTaskRelTypeViewModel>(relTypeList)
    .Name("relTypeGrid")
    .DataSource(dataSource => dataSource
        .Ajax()
        .Events(events => { events.Error("onGridError('relTypeGrid')"); events.RequestEnd("onGridRequestEnd('relTypeGrid')"); })
        .Model(model =>
        {
            model.Id(item => item.type_id);
            model.Field(item => item.type_id).Editable(false);
        })
            .Read(read => read.Action("GetCrmRelTypeList", "Crm"))
                    .Destroy(destroy => destroy.Action("CrmRelTypeDel", "Crm"))
                    .Create(create => create.Action("CrmRelTypeAdd", "Crm"))
                    .Update(upd => upd.Action("CrmRelTypeEdit", "Crm"))
                .Sort(srt => srt.Add("type_id").Ascending())
        )
    .Columns(columns =>
    {
        columns.Bound(item => item.type_id).HeaderHtmlAttributes(new { @style = "display: none;" });
        columns.Bound(item => item.type_name).HeaderHtmlAttributes(new { @style = "display: none;" });
        if (currUser.IsBoss)
        {
            columns.Command(command =>
            {
                command.Edit().Text(" ").UpdateText(" ").CancelText(" ").HtmlAttributes(new { @title = "Изменить" });
                command.Destroy().Text(" ").HtmlAttributes(new { @title = "Удалить" });
            }).HeaderHtmlAttributes(new { @style = "display: none;" })
                .Width("50%")
                ;
        }
    })
        .ToolBar(toolbar =>
        {
            if (currUser.IsBoss)
            {
            toolbar.Template(
                @<text>
                    <a class="k-button k-button-icontext k-grid-add" title="Добавить тип связи" href="/GetCrmRelTypeList?relTypeGrid-mode=insert">
                        <span class="k-icon k-add"></span>
                    </a>
                </text>);
            }
        })
                .Editable(ed => ed.Mode(GridEditMode.InLine))
            )
        </div>

    </div>
</section>

<section class="well" style="background-color: transparent !important;">
    <h3 class="ra-well-title">Проекты</h3>
    <div class="row" style="padding: 10px;">
        <div class="col-md-12">
            @(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmBatchViewModel>(batchList)
    .Name("batchGrid")
    .DataSource(dataSource => dataSource
        .Ajax()
        .Events(events => { events.Error("onGridError('batchGrid')"); events.RequestEnd("onGridRequestEnd('batchGrid')"); })
        .Model(model =>
        {
            model.Id(item => item.batch_id);
            model.Field(item => item.batch_id).Editable(false);
        })
            .Read(read => read.Action("GetCrmBatchList", "Crm"))
            .Destroy(destroy => destroy.Action("CrmBatchDel", "Crm"))
            .Create(create => create.Action("CrmBatchAdd", "Crm"))
            .Update(upd => upd.Action("CrmBatchEdit", "Crm"))
            .Sort(srt => srt.Add("batch_id").Ascending())
        )
    .Columns(columns =>
    {
        columns.Bound(item => item.batch_id).HeaderHtmlAttributes(new { @style = "display: none;" });
        columns.Bound(item => item.batch_name).HeaderHtmlAttributes(new { @style = "display: none;" });
        columns.Bound(item => item.date_beg).Format("{0:dd.MM.yyyy}").HeaderHtmlAttributes(new { @style = "display: none;" });
        columns.Bound(item => item.date_end).Format("{0:dd.MM.yyyy}").HeaderHtmlAttributes(new { @style = "display: none;" });
        if (currUser.IsBoss)
        {
            columns.Command(command =>
            {
                command.Edit().Text(" ").UpdateText(" ").CancelText(" ").HtmlAttributes(new { @title = "Изменить" });
                command.Destroy().Text(" ").HtmlAttributes(new { @title = "Удалить" });
            }).HeaderHtmlAttributes(new { @style = "display: none;" })
                .Width("50%")
                ;
        }
    })
        .ToolBar(toolbar =>
        {
            if (currUser.IsBoss)
            {
                toolbar.Template(
                    @<text>
                    <a class="k-button k-button-icontext k-grid-add" title="Добавить проект" href="/GetCrmBatchList?batchGrid-mode=insert">
                        <span class="k-icon k-add"></span>
                    </a>
                    </text>);
            }
        })
      .Editable(ed => ed.Mode(GridEditMode.InLine))
      )
        </div>

    </div>
</section>


<script id="templCrmUserRoleStateDoneList" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmUserRoleStateDoneViewModel>()
                .Name("grid_#=role_id#")
                        .Columns(columns =>
                        {
                            columns.Bound(o => o.State).ClientTemplate("\\#=state_name\\#");
                            columns.Command(command =>
                            {
                                command.Edit().Text(" ").UpdateText(" ").CancelText(" ").HtmlAttributes(new { @title = "Изменить" });
                                command.Destroy().Text(" ").HtmlAttributes(new { @title = "Удалить" });
                            }).Width(180);
                        })
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .Model(model =>
                            {
                                model.Id(p => p.item_id);
                                model.Field(f => f.state_name).Editable(false);
                            })
                            .Read(ac => ac.Action("GetCrmUserRoleStateDoneList", "Crm", new { role_id = "#=role_id#", }))
                            .Create(ac => ac.Action("CrmUserRoleStateDoneAdd", "Crm", new { roleId = "#=role_id#", }))
                            .Update(ac => ac.Action("CrmUserRoleStateDoneEdit", "Crm"))
                            .Destroy(ac => ac.Action("CrmUserRoleStateDoneDel", "Crm"))
                            .Events(ev => ev.RequestEnd("taskSprav.onRequestEnd(\"grid_#=role_id#\")"))
                        )
                        .ToolBar(toolbar => { toolbar.Create().Text(" ").HtmlAttributes(new { @title = "Добавить" }); })
                        .Editable(editable => editable.Mode(GridEditMode.InLine))
                        .Scrollable(scr => scr.Height("auto"))
                        .Resizable(resize => resize.Columns(true))
                        .ToClientTemplate())
</script>

<script>
</script>
