﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util
@using AuDev.Common.Util

@model CabinetMvc.ViewModel.Crm.CrmNotifyViewModel
@{
    ViewBag.Title = "Уведомления";    
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmNotifyParamUserViewModel> paramUsers_icq = Model.paramUsers_icq;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmNotifyParamAttrViewModel> paramAttr_icq = Model.paramAttr_icq;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmNotifyParamContentViewModel> paramContent_icq = Model.paramContent_icq;
    IEnumerable<SelectListItem> paramTransport = Model.paramTransport;
}

@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/crm", "task-notify-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("crm", "Задачи"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Сервис", "TaskList", "Crm") - @Html.ActionLink("Задачи", "TaskList", "Crm") - @Html.ActionLink("Уведомления", "TaskNotify", "Crm")
    </div>
}

<style>
</style>
<p>
Выберите параметры уведомлений, следуя постепенно с первой до последней страницы настроек:
</p>
<br/>
@(Html.Kendo().TabStrip().Name("tabNotifyParam")
.Scrollable(true)
.Items(tab =>
{
    tab.Add().Text("1. Куда присылать уведомления").Selected(true).Content(@<text>
        @(Html.Kendo().Grid<SelectListItem>(paramTransport)
                      .Name("paramTransportGrid")
                      .DataSource(dataSource => dataSource
                          .Ajax()
                          .Model(model =>
                          {
                              model.Id(ev => ev.Value);
                              model.Field(fld => fld.Value).Editable(false);
                              model.Field(fld => fld.Disabled).Editable(false);
                          })
                          .PageSize(100)
                          .Batch(true)
                          .Sort(srt => srt.Add("Value"))
                          .Read(read => read.Action("GetCrmNotifyParamTransportList", "Crm", new { @user_id = Model.user_id }))
                          .Update(upd => upd.Action("NotifyParamTransportEdit", "Crm", new { @user_id = Model.user_id }))
                          .Events(dse => dse.RequestEnd("taskNotify.onParamTransportGridRequestEnd"))
                       )
                               .ToolBar(tb => { tb.Save(); })
                              .Columns(columns =>
                              {
                                  columns.Bound(p => p.Value).Title("Куда присылать");
                                  columns.Bound(p => p.Text).Title("Адрес");
                                  columns.Bound(p => p.Disabled)
                                      .ClientTemplate("<input type='checkbox'"+
                                        "# if (!Disabled) { #" +
                                        "value='true'"+
                                        "# } #" +
                                        "class='chb-is-transport-disabled' " +
                                        "# if (!Disabled) { #" +
                                        "checked='checked'" +
                                        "# } #" +
                                        "/>")
                                        .HeaderTemplate("<span><input type='checkbox' class='chb-is-transport-disabled-all' " +
                                        "/><span class='margin-left-5'>Включено</span></span>")
                                        .Sortable(false)
                                        ;
                                  //columns.Bound(p => p.is_active);
                              })
                //.Pageable(page => page.PageSizes(new int[] { 10, 20, 50, 100 }))
                              .Pageable(page => page.Enabled(false))
                              .Resizable(rsb => rsb.Columns(true))
                              .Sortable(sort => sort.SortMode(GridSortMode.SingleColumn))
                              .Scrollable(scr => scr.Height("auto"))
                              .Editable(ed => ed.Mode(GridEditMode.InCell))
                            .Events(ev => ev.DataBound("taskNotify.onParamTransportGridDataBound"))
        )
    </text>);
    tab.Add().Text("2. Чьи задачи отслеживать").Content(@<text>
        @(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmNotifyParamUserViewModel>(paramUsers_icq)
                      .Name("paramUsersIcqGrid")
                      .DataSource(dataSource => dataSource
                          .Ajax()
                          .Model(model =>
                          {
                              model.Id(ev => ev.adr);
                              model.Field(fld => fld.user_name).Editable(false);
                              model.Field(fld => fld.is_executer).Editable(false);
                              model.Field(fld => fld.is_owner).Editable(false);
                              model.Field(fld => fld.is_active).Editable(false);
                          })
                          .PageSize(100)
                          .Batch(true)
                          .Sort(srt => srt.Add("user_name"))
                          .Read(read => read.Action("GetCrmNotifyParamUserList", "Crm", new { @user_id = Model.user_id, @transport_type = 0 }))
                          .Update(upd => upd.Action("NotifyParamUserEdit", "Crm", new { @user_id = Model.user_id, @transport_type = 0 }))
                        .Events(dse => dse.RequestEnd("taskNotify.onParamUsersIcqGridRequestEnd"))
                       )
                               .ToolBar(tb => { tb.Save(); })
                              .Columns(columns =>
                              {
                                  columns.Bound(p => p.user_name);
                                  columns.Bound(p => p.is_executer)
                                      .ClientTemplate("<input type='checkbox' value='#=is_executer#' class='chb-is-executer' " +
                                        "# if (is_executer) { #" +
                                        "checked='checked'" +
                                        "# } #" +
                                        "/>")
                                        .HeaderTemplate("<span><input type='checkbox' class='chb-is-executer-all' " +
                                        "/><span class='margin-left-5'>Пользователь = исполнитель по задаче</span></span>")
                                        .Sortable(false)
                                        ;
                                  columns.Bound(p => p.is_owner)
                                      .ClientTemplate("<input type='checkbox' value='#=is_owner#' class='chb-is-owner' " +
                                        "# if (is_owner) { #" +
                                        "checked='checked'" +
                                        "# } #" +
                                        "/>")
                                        .HeaderTemplate("<span><input type='checkbox' class='chb-is-owner-all' " +
                                        "/><span class='margin-left-5'>Пользователь = ответственный по задаче</span></span>")                                        
                                        .Sortable(false);
                                  //columns.Bound(p => p.is_active);
                              })
        //.Pageable(page => page.PageSizes(new int[] { 10, 20, 50, 100 }))
                              .Pageable(page => page.Enabled(false))
                              .Resizable(rsb => rsb.Columns(true))
                              .Sortable(sort => sort.SortMode(GridSortMode.SingleColumn))
                              .Scrollable(scr => scr.Height("auto"))
                              .Editable(ed => ed.Mode(GridEditMode.InCell))
                            .Events(ev => ev.DataBound("taskNotify.onParamUsersIcqGridDataBound"))
        )
    </text>);
    tab.Add().Text("3. Изменения каких атрибутов отслеживать").Content(@<text>
        @(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmNotifyParamAttrViewModel>(paramAttr_icq)
                      .Name("paramAttrIcqGrid")
                      .DataSource(dataSource => dataSource
                          .Ajax()
                          .Model(model =>
                          {
                              model.Id(ev => ev.adr);
                              model.Field(fld => fld.column_name_rus).Editable(false);
                              model.Field(fld => fld.is_active).Editable(false);
                          })
                          .PageSize(100)
                          .Batch(true)
                          .Sort(srt => srt.Add("column_name_rus"))
                          .Read(read => read.Action("GetCrmNotifyParamAttrList", "Crm", new { @user_id = Model.user_id, @transport_type = 0 }))
                          .Update(upd => upd.Action("NotifyParamAttrEdit", "Crm", new { @user_id = Model.user_id, @transport_type = 0 }))
                        .Events(dse => dse.RequestEnd("taskNotify.onParamAttrIcqGridRequestEnd"))
                       )
                              .ToolBar(tb => { tb.Save(); })
                              .Columns(columns =>
                              {
                                  columns.Bound(p => p.column_name_rus);
                                  columns.Bound(p => p.is_active)
                                      .ClientTemplate("<input type='checkbox' value='#=is_active#' class='chb-is-active' " +
                                        "# if (is_active) { #" +
                                        "checked='checked'" +
                                        "# } #" +
                                        "/>")
                                        .HeaderTemplate("<span><input type='checkbox' class='chb-is-active-all' " +
                                        "/><span class='margin-left-5'>Отслеживать изменения этого атрибута</span></span>")
                                        .Sortable(false)
                                        ;
                              })                
                              .Pageable(page => page.Enabled(false))
                              .Resizable(rsb => rsb.Columns(true))
                              .Sortable(sort => sort.SortMode(GridSortMode.SingleColumn))
                              .Scrollable(scr => scr.Height("auto"))
                              .Editable(ed => ed.Mode(GridEditMode.InCell))
                            .Events(ev => ev.DataBound("taskNotify.onParamAttrIcqGridDataBound"))
        )
    </text>);
    tab.Add().Text("4. Какие атрибуты присылать в уведомлениях").Content(@<text>
        @(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmNotifyParamContentViewModel>(paramContent_icq)
                      .Name("paramContentIcqGrid")
                      .DataSource(dataSource => dataSource
                          .Ajax()
                          .Model(model =>
                          {
                              model.Id(ev => ev.adr);
                              model.Field(fld => fld.column_name_rus).Editable(false);
                              model.Field(fld => fld.is_active).Editable(false);
                          })
                          .PageSize(100)
                          .Batch(true)
                          .Sort(srt => srt.Add("column_name_rus"))
                          .Read(read => read.Action("GetCrmNotifyParamContentList", "Crm", new { @user_id = Model.user_id, @transport_type = 0 }))
                          .Update(upd => upd.Action("NotifyParamContentEdit", "Crm", new { @user_id = Model.user_id, @transport_type = 0 }))
                        .Events(dse => dse.RequestEnd("taskNotify.onParamContentIcqGridRequestEnd"))
                       )
                              .ToolBar(tb => { tb.Save(); })
                              .Columns(columns =>
                              {
                                  columns.Bound(p => p.column_name_rus);
                                  columns.Bound(p => p.is_active)
                                      .ClientTemplate("<input type='checkbox' value='#=is_active#' class='chb-is-active' " +
                                        "# if (is_active) { #" +
                                        "checked='checked'" +
                                        "# } #" +
                                        "/>")
                                        .HeaderTemplate("<span><input type='checkbox' class='chb-is-active-all' " +
                                        "/><span class='margin-left-5'>Присылать этот атрибут в уведомлениях</span></span>")
                                        .Sortable(false)
                                        ;
                              })
                              .Pageable(page => page.Enabled(false))
                              .Resizable(rsb => rsb.Columns(true))
                              .Sortable(sort => sort.SortMode(GridSortMode.SingleColumn))
                              .Scrollable(scr => scr.Height("auto"))
                              .Editable(ed => ed.Mode(GridEditMode.InCell))
                            .Events(ev => ev.DataBound("taskNotify.onParamContentIcqGridDataBound"))
        )
    </text>);
})
)
<script>
</script>    
