﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util
@using AuDev.Common.Util

@model CabinetMvc.ViewModel.Crm.CrmTaskViewModel

@{
    ViewBag.Title = "Задача";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currUser = ((CabinetMvc.Controllers.BaseController)ViewContext.Controller).CurrentUser;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmProjectViewModel> projectList = ViewBag.ProjectList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmModuleViewModel> moduleList = ViewBag.ModuleList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmModuleVersionViewModel> moduleVersionList = ViewBag.ModuleVersionList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmClientViewModel> clientList = ViewBag.ClientList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmPriorityViewModel> priorityList = ViewBag.PriorityList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmStateViewModel> stateList = ViewBag.StateList;
    IEnumerable<CabinetMvc.ViewModel.Adm.CabUserViewModel> userList = ViewBag.UserList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmGroupViewModel> groupList = ViewBag.GroupList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmBatchViewModel> batchList = ViewBag.BatchList; 
    IList<SelectListItem> eventUserList = ViewBag.EventUserList;
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/crm", "task-edit-{0}.js"))
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/storage", "storage-folder-tree-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("crm", "Задачи"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Сервис", "TaskList", "Crm") - @Html.ActionLink("Задачи", "TaskList", "Crm") - @Html.ActionLink("Задача" + (@Model.task_id > 0 ? " " + @Model.task_num : ""), "TaskEdit", "Crm", new { @task_id = @Model.task_id }, null)
    </div>
}

<style>
#subtaskGrid > .k-grid-content, #taskNoteGrid > .k-grid-content, #taskFilesGrid > .k-grid-content, #taskLogGrid > .k-grid-content {
    max-height: 300px;
}
    .bold label {
        font-weight: bold;
    }

    .col-sm-10 .bold {
        margin-top: 5px;
        padding-left: 0;
    }
</style>

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.task_id)
    @Html.HiddenFor(x => x.task_num)
    @Html.HiddenFor(x => x.client_id)
    @Html.HiddenFor(x => x.group_id)
    @Html.HiddenFor(x => x.priority_id)
    @Html.HiddenFor(x => x.project_id)
    @Html.HiddenFor(x => x.module_id)
    @Html.HiddenFor(x => x.module_version_id)
    @Html.HiddenFor(x => x.assigned_user_id)
    @Html.HiddenFor(x => x.exec_user_id)
    @Html.HiddenFor(x => x.state_id)
    @Html.HiddenFor(x => x.repair_version_id)
    @Html.HiddenFor(x => x.storage_folder_id)
    @Html.HiddenFor(x => x.is_event_for_exec)
    @Html.HiddenFor(x => x.batch_id)

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    if (!String.IsNullOrEmpty((string)@ViewBag.Message))
    {
        <div class="k-block k-success-colored">
            <strong>@ViewBag.Message</strong>
            <br />
            <br />
        </div>
        <br />
        <hr />
    }

    if (TempData["error"] != null)
    {
        <div class="k-block k-error-colored">
            @TempData["error"]
        </div>
    }

    <div class="floating-right-top">
        <input type="button" value="Сохранить задачу" class="btn btn-primary" id="btnSubmit" disabled />
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group service-info">
                    <p><strong class="text-danger">ВНИМАНИЕ</strong> ! С 25.05.2017 действует <a href="PrjList">новый раздел задач</a>, здесь можно только просматривать созданные ранее задачи</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="form-group">
                    <button type="button" class="k-button k-button-icontext k-info-colored" onclick="javascript: window.location = '/TaskList';"><span class="k-icon k-i-arrow-w"></span>К задачам</button>
                    <button type="button" class="k-button k-button-icontext k-info-colored" onclick="javascript: window.location = '/Planner';"><span class="k-icon k-i-arrow-w"></span>К планировщику</button>
                    <button type="button" class="k-button k-button-icontext k-info-colored" onclick="javascript: window.location = '/TaskEdit?task_id=0';"><span class="k-icon k-i-plus"></span>Новая задача</button>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="col-md-6">
                <div class="form-group">
                    @(Html.Label("Задача", new { @class = "control-label" }))
                    @(Html.Kendo().TextBox().Name("taskName").Value(@Model.task_num + " " + @Model.owner_user_name + "\\" + (@Model.crt_date.HasValue ? ((DateTime)@Model.crt_date).ToString("dd.MM.yyyy HH:mm") : "") + (@Model.upd_date.HasValue ? " [" + ((DateTime)@Model.upd_date).ToString("dd.MM.yyyy HH:mm") + "]" : "")).HtmlAttributes(new { @class = "form-control", @readonly = "readonly", }))
                    @(Html.ValidationMessageFor(model => model.task_num, "", new { @class = "text-danger" }))
                </div>
                <div class="form-group">
                    @(Html.LabelFor(model => model.task_name, new { @class = "control-label" }))
                    @(Html.Kendo().TextBoxFor(model => model.task_name).HtmlAttributes(new { @id = "task_name", @class = "form-control" }))
                    @(Html.ValidationMessageFor(model => model.task_name, "", new { @class = "text-danger" }))
                </div>
                <div class="form-group">
                    @(Html.LabelFor(model => model.task_text, new { @class = "control-label" }))
                    @(Html.TextAreaFor(model => model.task_text, new { @id = "task_text", @class = "form-control", @rows = "10" }))
                    @(Html.ValidationMessageFor(model => model.task_text, "", new { @class = "text-danger" }))
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.client_id, new { @class = "control-label" })
                    @(Html.Kendo().DropDownListFor(ss => ss.client_id)
                        .BindTo(clientList)
                        .Name("clientList")
                        .HtmlAttributes(new { @id = "clientList", @class = "form-control input-sm" })
                        .DataTextField("client_name")
                        .DataValueField("client_id")
                    )
                    @(Html.ValidationMessageFor(model => model.client_id, "", new { @class = "text-danger" }))
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.group_id, new { @class = "control-label" })
                    @(Html.Kendo().DropDownListFor(ss => ss.group_id)
                        .BindTo(groupList)
                        .Name("groupList")
                        .HtmlAttributes(new { @id = "groupList", @class = "form-control input-sm" })
                        .DataTextField("group_name")
                        .DataValueField("group_id")
                    )
                    @(Html.ValidationMessageFor(model => model.group_id, "", new { @class = "text-danger" }))
                </div>
                <div class="form-group">
                    @(Html.LabelFor(model => model.priority_id, new { @class = "control-label" }))
                    @(Html.Kendo().DropDownListFor(ss => ss.priority_id)
                        .BindTo(currUser.IsBoss ? priorityList : (Model.priority_is_boss == true ? priorityList : (priorityList.Where(ss => !ss.is_boss).ToList())))
                        .Name("priorityList")
                        .HtmlAttributes(new { @id = "priorityList", @class = "form-control input-sm" })
                        .DataTextField("priority_name")
                        .DataValueField("priority_id")
                        .Enable(!((!currUser.IsBoss) && (Model.priority_is_boss == true)))
                    )
                    @(Html.ValidationMessageFor(model => model.priority_id, "", new { @class = "text-danger" }))
                </div>
                <div class="form-group">
                    @(Html.LabelFor(model => model.fin_cost, new { @class = "control-label" }))
                    @(Html.Kendo().NumericTextBoxFor(model => model.fin_cost)
                    .Min(0)
                    .Max(decimal.MaxValue)
                    .HtmlAttributes(new { @type = "text", @id = "fin_cost", @class = "form-control input-sm", @style = "display: inline !important;" }))
                    @(Html.ValidationMessageFor(model => model.fin_cost, "", new { @class = "text-danger" }))
                </div>
                <div class="form-group">
                    <div class="col-sm-10" style="padding-left:0;">
                        @(Html.Label("ТЗ план-факт", new { @class = "control-label" }))
                    </div>
                    @(Html.Kendo().NumericTextBoxFor(model => model.cost_plan)
                    .Min(0)
                    .Max(decimal.MaxValue)
                    .HtmlAttributes(new { @type = "text", @id = "cost_plan", @class = "form-control input-sm", @style = "display: inline !important;width:49%;", @title = "Трудозатраты планируемые" }))
                    @(Html.Kendo().NumericTextBoxFor(model => model.cost_fact)
                    .Min(0)
                    .Max(decimal.MaxValue)
                    .HtmlAttributes(new { @type = "text", @id = "cost_fact", @class = "form-control input-sm", @style = "display: inline !important;width:50%;", @title = "Трудозатраты фактические, заполняются после выполнения задачи" }))
                    @(Html.ValidationMessageFor(model => model.cost_plan, "", new { @class = "text-danger" }))
                    @(Html.ValidationMessageFor(model => model.cost_fact, "", new { @class = "text-danger" }))
                </div>
                <div class="form-group">
                    <span title='Модерация: @Model.moderator_user_name'>
                        @(Html.Kendo().CheckBoxFor(model => model.IsModerated).Name("IsModerated").Checked(@Model.IsModerated).Label("модерация")
                            .HtmlAttributes(new { @class = "k-checkbox", @id = "IsModerated", }))
                    </span>
                </div>
                <div class="form-group">
                    <div>
                        <span id='storage-folder-tree-span'>
                            @(Html.Kendo().CheckBoxFor(model => model.is_in_storage).Name("is_in_storage")
                        .Checked(Model.is_in_storage).Label("в хранилище")                        
                        .HtmlAttributes(new { @class = "k-checkbox", @id = "is_in_storage", })
                            )
                        </span>
                    </div>
                    @if (Model.storage_folder_id > 0)
                    {
                        <div id="storage-folder-selected-div">
                            @(Html.Kendo().Menu()
                            .Name("storageFolderMenu")
                            .Direction(MenuDirection.Right)
                            .Items(menuItem => menuItem.Add().Text("Папка")
                                .Items(menuSubitem =>
                            {
                                menuSubitem.Add().Text("Сменить");
                                menuSubitem.Add().Text("Очистить");
                            }))
                            .HtmlAttributes(new { @style = "width:78px; height:28px; display: inline-block;" })
                            .Events(ev => { ev.Select("taskEdit.onStorageFolderMenuSelect"); })
                            )
                            <span class="storage storage-folder" style="margin-left: 10px; margin-right: 5px;"></span><span id="storage-folder-selected-span">@Model.storage_folder_name</span>
                        </div>
                    }
                    else
                    {
                        <div id="storage-folder-selected-div" class="hidden">
                            @(Html.Kendo().Menu()
                            .Name("storageFolderMenu")
                            .Direction(MenuDirection.Right)
                            .Items(menuItem => menuItem.Add().Text("Папка")
                                .Items(menuSubitem =>
                            {
                                menuSubitem.Add().Text("Сменить");
                                menuSubitem.Add().Text("Очистить");
                            }))
                            .HtmlAttributes(new { @style = "width:78px; height:28px; display: inline-block;" })
                            .Events(ev => { ev.Select("taskEdit.onStorageFolderMenuSelect"); })
                            )
                            <span class="storage storage-folder" style="margin-left: 10px; margin-right: 5px;"></span><span id="storage-folder-selected-span"></span>
                        </div>
                    }
                    <div id="storage-folder-tree-div" class="hidden">
                        @if (currUser.AllowedView(Enums.AuthPartEnum.STORAGE_FOLDER))
                        {
                            @(Html.Kendo().TabStrip().Name("storageFolderTreeTab")
                            .Items(tab =>
                            {
                                tab.Add().Text("Папки").Selected(true).LoadContentFrom("StorageFolderTree", "Storage");
                            })
                            .HtmlAttributes(new { @class = "notabheader" })
                            )
                        }
                        else
                        {
                            <span>нет прав</span>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @(Html.LabelFor(model => model.batch_id, new { @class = "control-label" }))
                    @(Html.Kendo().DropDownListFor(ss => ss.batch_id)
                    .BindTo(batchList)
                    .Name("batchList")
                    .HtmlAttributes(new { @id = "batchList", @class = "form-control input-sm" })
                    .DataTextField("batch_name")
                    .DataValueField("batch_id")
                    .Enable(currUser.IsBossAssistant)
                    )
                    @(Html.ValidationMessageFor(model => model.batch_id, "", new { @class = "text-danger" }))
                </div>
                <div class="form-group">
                    @(Html.LabelFor(model => model.project_id, new { @class = "control-label" }))
                    @(Html.Kendo().DropDownListFor(ss => ss.project_id)
                    .BindTo(projectList)
                    .Name("projectList")
                    .HtmlAttributes(new { @id = "projectList", @class = "form-control input-sm" })
                    .DataTextField("project_name")
                    .DataValueField("project_id")
                    )
                    @(Html.ValidationMessageFor(model => model.project_id, "", new { @class = "text-danger" }))
                </div>
                <div class="form-group">
                    @(Html.LabelFor(model => model.module_id, new { @class = "control-label" }))
                    @(Html.Kendo().DropDownListFor(ss => ss.module_id)
                        .BindTo(moduleList)
                        .Name("moduleList")
                        .HtmlAttributes(new { @id = "moduleList", @class = "form-control input-sm" })
                        .DataTextField("module_name")
                        .DataValueField("module_id")
                        .CascadeFrom("projectList")
                    )
                    @(Html.ValidationMessageFor(model => model.module_id, "", new { @class = "text-danger" }))
                </div>
                <div class="form-group">
                    @(Html.LabelFor(model => model.module_version_id, new { @class = "control-label" }))
                    @(Html.Kendo().DropDownListFor(ss => ss.module_version_id)
                    .BindTo(moduleVersionList)
                    .Name("moduleVersionList")
                    .HtmlAttributes(new { @id = "moduleVersionList", @class = "form-control input-sm" })
                    .DataTextField("module_version_name")
                    .DataValueField("module_version_id")
                    .CascadeFrom("moduleList")
                    )
                    @(Html.ValidationMessageFor(model => model.module_version_id, "", new { @class = "text-danger" }))
                </div>
                <div class="form-group">
                    @(Html.LabelFor(model => model.assigned_user_id, new { @class = "control-label" }))
                    @(Html.Kendo().DropDownListFor(ss => ss.assigned_user_id)
                        .BindTo(userList)
                        .Name("assignedUserList")
                        .HtmlAttributes(new { @id = "assignedUserList", @class = "form-control input-sm" })
                        .DataTextField("user_name")
                        .DataValueField("user_id")
                    )
                    @(Html.ValidationMessageFor(model => model.assigned_user_id, "", new { @class = "text-danger" }))
                </div>
                <div class="form-group">
                    @(Html.LabelFor(model => model.exec_user_id, new { @class = "control-label" }))
                    @(Html.Kendo().DropDownListFor(ss => ss.exec_user_id)
                        .BindTo(userList)
                        .Name("execUserList")
                        .HtmlAttributes(new { @id = "execUserList", @class = "form-control input-sm" })
                        .DataTextField("user_name")
                        .DataValueField("user_id")
                    )
                    @(Html.ValidationMessageFor(model => model.exec_user_id, "", new { @class = "text-danger" }))
                </div>
                <div class="form-group">
                    @(Html.LabelFor(model => model.state_id, new { @class = "control-label" }))
                    @(Html.Kendo().DropDownListFor(ss => ss.state_id)
                        .BindTo(stateList)
                        .Name("stateList")
                        .HtmlAttributes(new { @id = "stateList", @class = "form-control input-sm" })
                        .DataTextField("state_name")
                        .DataValueField("state_id")
                    )
                    @(Html.ValidationMessageFor(model => model.state_id, "", new { @class = "text-danger" }))
                </div>
                <div class="form-group">
                    @(Html.LabelFor(model => model.required_date, new { @class = "control-label" }))
                    @if ((Model.is_control) && (Model.required_date_orig != Model.required_date_curr))
                    {
                        <span class="cab-png cab-png-date-warning" title="Плановая дата была @(Model.required_date_orig.HasValue ? ((DateTime)Model.required_date_orig).ToString("dd.MM.yyyy") : "-"), стала @(Model.required_date_curr.HasValue ? ((DateTime)Model.required_date_curr).ToString("dd.MM.yyyy") : "-"), фактическая дата была @(Model.repair_date_orig.HasValue ? ((DateTime)Model.repair_date_orig).ToString("dd.MM.yyyy") : "-"), стала @(Model.repair_date_curr.HasValue ? ((DateTime)Model.repair_date_curr).ToString("dd.MM.yyyy") : "-")"></span>
                    }
                    @(Html.Kendo().DatePickerFor(model => model.required_date).HtmlAttributes(new { @type = "text", @id = "required_date", @class = "form-control input-sm" }))
                    @(Html.ValidationMessageFor(model => model.required_date, "", new { @class = "text-danger" }))
                </div>
                <div class="form-group">
                    @(Html.LabelFor(model => model.repair_date, new { @class = "control-label" }))
                    @if ((Model.is_control) && (Model.repair_date_orig != Model.repair_date_curr))
                    {
                        <span class="cab-png cab-png-date-warning" title="Плановая дата была @(Model.required_date_orig.HasValue ? ((DateTime)Model.required_date_orig).ToString("dd.MM.yyyy") : "-"), стала @(Model.required_date_curr.HasValue ? ((DateTime)Model.required_date_curr).ToString("dd.MM.yyyy") : "-"), фактическая дата была @(Model.repair_date_orig.HasValue ? ((DateTime)Model.repair_date_orig).ToString("dd.MM.yyyy") : "-"), стала @(Model.repair_date_curr.HasValue ? ((DateTime)Model.repair_date_curr).ToString("dd.MM.yyyy") : "-")"></span>
                    }
                    @(Html.Kendo().DatePickerFor(model => model.repair_date).HtmlAttributes(new { @type = "text", @id = "repair_date", @class = "form-control input-sm" }))
                    @(Html.ValidationMessageFor(model => model.repair_date, "", new { @class = "text-danger" }))
                </div>
                <div class="form-group">
                    <div class="col-sm-10 bold">
                        @(Html.Kendo().CheckBoxFor(model => model.is_event).Name("is_event").Checked(@Model.is_event).Label("В календаре")
                .HtmlAttributes(new { @class = "k-checkbox", @id = "is_event", }))
                        @if ((Model.is_control) && ((Model.event_date_beg_orig != Model.event_date_beg_curr) || (Model.event_date_end_orig != Model.event_date_end_curr)))
                        {
                            <span class="cab-png cab-png-date-warning" title="Дата начала в календаре была @(Model.event_date_beg_orig.HasValue ? ((DateTime)Model.event_date_beg_orig).ToString("dd.MM.yyyy") : "-"), стала @(Model.event_date_beg_curr.HasValue ? ((DateTime)Model.event_date_beg_curr).ToString("dd.MM.yyyy") : "-"), дата окончания в календаре была @(Model.event_date_end_orig.HasValue ? ((DateTime)Model.event_date_end_orig).ToString("dd.MM.yyyy") : "-"), стала @(Model.event_date_end_curr.HasValue ? ((DateTime)Model.event_date_end_curr).ToString("dd.MM.yyyy") : "-")"></span>
                        }
                    </div>
                    @(Html.Kendo().DatePickerFor(model => model.event_date_beg).HtmlAttributes(new { @type = "text", @id = "event_date_beg", @class = "form-control input-sm", @style = "width:49%;" }))
                    @(Html.Kendo().DatePickerFor(model => model.event_date_end).HtmlAttributes(new { @type = "text", @id = "event_date_end", @class = "form-control input-sm", @style = "width:50%;" }))
                    @(Html.ValidationMessageFor(model => model.event_date_beg, "", new { @class = "text-danger" }))
                    @(Html.ValidationMessageFor(model => model.event_date_end, "", new { @class = "text-danger" }))
                </div>
                @if ((currUser.IsBoss) || ((Model.task_id > 0) && (Model.is_control)))
                {
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-9">
                            @(Html.Kendo().CheckBoxFor(model => model.is_control).Name("is_control").Checked(@Model.is_control).Label("контроль дат")
                            .Enable(currUser.IsBoss)
                        .HtmlAttributes(new { @class = "k-checkbox", @id = "is_control", }))
                        </div>
                    </div>
                }
                <div class="form-group">
                    @(Html.LabelFor(model => model.repair_version_id, new { @class = "control-label" }))
                    @(Html.Kendo().DropDownListFor(ss => ss.repair_version_id)
                        .BindTo(moduleVersionList)
                        .Name("repairVersionList")
                        .OptionLabel("[не указана]")
                        .HtmlAttributes(new { @id = "repairVersionList", @class = "form-control input-sm" })
                        .DataTextField("module_version_name")
                        .DataValueField("module_version_id")
                        .CascadeFrom("moduleList")
                    )
                    @(Html.ValidationMessageFor(model => model.repair_version_id, "", new { @class = "text-danger" }))
                </div>
            </div>
        </div>
        @if (Model.task_id > 0)
        {
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-12">
                    @(Html.Label("Подзадачи", new { @class = "control-label" }))
                    @(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmSubtaskViewModel>(@Model.subtasks)
                    .Name("subtaskGrid")
                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .Events(events =>
                    {
                        events.Error("onGridError('subtaskGrid')");
                        events.RequestEnd("taskEdit.onSubtaskGridRequestEnd");
                    })
                    .Model(model =>
                    {
                        model.Id(fld => fld.subtask_id);
                        model.Field(fld => fld.task_num).Editable(false);
                        model.Field(fld => fld.crt_date).Editable(false);
                        model.Field(fld => fld.upd_date).Editable(false);
                        model.Field(fld => fld.owner_user_name).Editable(false);
                        model.Field(fld => fld.State).DefaultValue(new CabinetMvc.ViewModel.Crm.CrmStateViewModel() { state_id = 1, state_name = "Заявка" });
                        model.Field(fld => fld.ExecUser).DefaultValue(new CabinetMvc.ViewModel.Adm.CabUserViewModel() { user_id = @Model.exec_user_id, user_name = @Model.exec_user_name });
                    })
                    .PageSize(1000)
                    .Sort(srt => srt.Add("task_num").Descending())
                    .Read(read => read.Action("GetSubtaskList", "Crm", new { task_id = @Model.task_id, }))
                    .Create(update => update.Action("SubtaskAdd", "Crm", new { taskId = @Model.task_id, }))
                    .Update(update => update.Action("SubtaskEdit", "Crm"))
                    .Destroy(update => update.Action("SubtaskDel", "Crm"))
                    )
                    .Columns(columns =>
                        {
                            columns.Command(command =>
                            {
                                command.Edit().Text(" ").CancelText(" ").UpdateText(" ").HtmlAttributes(new { @title = "Редактировать подзадачу" });
                            })
                            .Width(80);
                            columns.Bound(fld => fld.task_num).Width(50);
                            columns.Bound(fld => fld.State)
                                .ClientTemplate("#=state_name_db#").Width(100);
                            columns.Bound(fld => fld.subtask_text).Encoded(false).Width(350);
                            columns.Bound(fld => fld.ExecUser)
                                .ClientTemplate("#=exec_user_name_db#").Width(100);                            
                            columns.Bound(fld => fld.TaskFile)
                                .ClientTemplate("#=file_name#").Width(100);
                            columns.Bound(fld => fld.crt_date)
                                .Format("{0:dd.MM.yy HH:mm:ss}").Width(140);
                            columns.Bound(fld => fld.upd_date)
                                .Format("{0:dd.MM.yy HH:mm:ss}").Width(140);
                            columns.Bound(fld => fld.owner_user_name).Width(70);
                            if (currUser.IsSuperAdmin)
                            {
                                columns.Command(command =>
                                {
                                    command.Destroy().Text(" ").HtmlAttributes(new { @title = "Удалить подзадачу" });
                                }).Width(80);
                            }
                        })
                    .ToolBar(toolbar =>
                    {
                        toolbar.Create().Text(" ").HtmlAttributes(new { @title = "Добавить подзадачу" });
                        toolbar.Excel().Text(" ").HtmlAttributes(new { @title = "Экспорт списка в Excel" });
                        toolbar.Pdf().Text(" ").HtmlAttributes(new { @title = "Экспорт списка в Pdf" });
                    })
                    .Editable(editable => editable.Mode(GridEditMode.InLine))
                    .Resizable(resize => resize.Columns(true))
                    .Sortable()
                    .Scrollable(scr => scr.Height("auto"))
                    .Pageable(page => { page.PageSizes(false); page.ButtonCount(0); page.Info(false); page.Input(false); page.Numeric(false); page.PreviousNext(false); page.Refresh(true); })
                    .Filterable(flt => flt.Enabled(false))
                    .Excel(excel => excel
                        .FileName("Список подзадач.xlsx")
                        .ProxyURL(Url.Action("CardListExport", "Card"))
                        .ForceProxy(true)
                     )
                     .Pdf(pdf => pdf
                        .FileName("Список подзадач.pdf")
                        .ProxyURL(Url.Action("CardListExport", "Card"))
                        .ForceProxy(true)
                     )
                    .Events(ev => ev.DataBound("taskEdit.onSubtaskGridDataBound"))
                    )
                </div>
            </div>

            <div class="row" style="margin-top: 30px;">
                <div class="col-md-12">
                    @(Html.Label("Комментарии", new { @class = "control-label" }))
                    @(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmTaskNoteViewModel>(@Model.notes)
                    .Name("taskNoteGrid")
                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .Events(events =>
                    {
                        events.Error("onGridError('taskNoteGrid')");
                        events.RequestEnd("taskEdit.onTaskNoteGridRequestEnd");
                    })
                    .Model(model =>
                    {
                        model.Id(fld => fld.note_id);
                        model.Field(fld => fld.crt_date).Editable(false);
                        model.Field(fld => fld.user_name).Editable(false);
                    })
                    .PageSize(1000)
                    .Sort(srt => srt.Add("note_id").Descending())
                    .Read(read => read.Action("GetTaskNoteList", "Crm", new { task_id = @Model.task_id, }))
                    .Update(update => update.Action("TaskNoteAdd", "Crm", new { taskId = @Model.task_id, }))
                    .Create(update => update.Action("TaskNoteAdd", "Crm", new { taskId = @Model.task_id, }))
                    )
                    .Columns(columns =>
                        {
                            columns.Command(command =>
                            {
                                command.Edit().Text(" ").CancelText(" ").UpdateText(" ").HtmlAttributes(new { @title = "Сохранить комментарий" });
                            })
                            .Width("7%");
                            columns.Bound(fld => fld.crt_date)
                                .Format("{0: dd.MM.yy HH:mm:ss}")
                                .Width("15%");
                            columns.Bound(fld => fld.user_name)
                                .Width("15%");
                            columns.Bound(fld => fld.note_text).Encoded(false);
                        })
                    .ToolBar(toolbar =>
                    {
                        toolbar.Create().Text(" ").HtmlAttributes(new { @title = "Добавить комментарий" });
                        toolbar.Excel().Text(" ").HtmlAttributes(new { @title = "Экспорт списка в Excel" });
                        toolbar.Pdf().Text(" ").HtmlAttributes(new { @title = "Экспорт списка в Pdf" });
                    })
                    .Editable(editable => editable.Mode(GridEditMode.InLine))
                    .Pageable(page => { page.PageSizes(false); page.ButtonCount(0); page.Info(false); page.Input(false); page.Numeric(false); page.PreviousNext(false); page.Refresh(true); })
                    .Resizable(resize => resize.Columns(true))
                    .Sortable()
                    .Scrollable(scr => scr.Height("auto"))
                    .Filterable(flt => flt.Enabled(false))
            .Excel(excel => excel
                .FileName("Список подзадач.xlsx")
                .ProxyURL(Url.Action("CardListExport", "Card"))
                .ForceProxy(true)
             )
             .Pdf(pdf => pdf
                .FileName("Список подзадач.pdf")
                .ProxyURL(Url.Action("CardListExport", "Card"))
                .ForceProxy(true)
             )
                    .Events(ev => ev.DataBound("taskEdit.onTaskNoteGridDataBound"))
                    )
                </div>
            </div>

            <div class="row" style="margin-top: 30px;">
                <div class="col-md-12">
                    @(Html.Label("Файлы", new { @class = "control-label" }))
                    @(Html.Kendo().Upload()
                                .Name("uplTaskFile")
                                .HtmlAttributes(new { @id = "uplFileFull" })
                                .Async(s =>
                                {
                                    s.Save("TaskFileSave", "Crm", new { @task_id = @Model.task_id });
                                    s.Remove("TaskFileRemove", "Crm");
                                    s.AutoUpload(true);
                                })
                                .ShowFileList(false)
                                .Multiple(false)
                                .Messages(mess =>
                                {
                                    mess.Select("Файл...");
                                    mess.StatusUploaded("Готово");
                                    mess.StatusUploading("Загрузка...");
                                    mess.StatusFailed("Ошибка");
                                    mess.Cancel("Отмена");
                                    mess.HeaderStatusUploaded("Готово");
                                    mess.HeaderStatusUploading("Загрузка...");
                                })
                                .Events(ev =>
                                {
                                    ev.Success("taskEdit.onUplFileSuccess");
                                    ev.Error("taskEdit.onUplFileError");
                                })
                    )
                    @(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmTaskFileViewModel>(Model.files)
                                    .Name("taskFilesGrid")
                                    .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .Model(model =>
                                    {
                                        model.Id(fld => fld.file_id);
                                    })
                                    .PageSize(1000)
                                    .Sort(sort => sort.Add("file_name").Ascending())
                                    .Read(rd => rd.Action("GetCrmTaskFileList", "Crm", new { @task_id = @Model.task_id }))
                                    )
                                    .Columns(columns =>
                                    {
                                        columns.Bound(fld => fld.file_path)
                                            .ClientTemplate("<a href='#=file_path#' target='_blank'>#=file_name#</a>")
                                            .Width("80%");
                                        columns.Bound(fld => fld.TaskFileRemoveBtn)
                                            .Encoded(false);
                                    })
                                    .Pageable(page => { page.PageSizes(false); page.ButtonCount(0); page.Info(false); page.Input(false); page.Numeric(false); page.PreviousNext(false); page.Refresh(true); })
                                    .Resizable(resize => resize.Columns(true))
                                    .Sortable()
                                    .Scrollable(scr => scr.Height("auto"))
                                    .Filterable(flt => flt.Enabled(false))
                                    .Events(ev => ev.DataBound("taskEdit.onTaskFilesGridDataBound"))
                    )
                </div>
            </div>

            <div class="row" style="margin-top: 30px;">
                <div class="col-md-12">
                    @(Html.Label("История", new { @class = "control-label" }))
                    @(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmLogViewModel>(Model.logs)
                                    .Name("taskLogGrid")
                                    .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .Model(model =>
                                    {
                                        model.Id(fld => fld.log_id);
                                    })
                                    .PageSize(1000)
                                    .Sort(sort => sort.Add("log_id").Descending())
                                    .Read(read => read.Action("GetTaskLogList", "Crm", new { task_id = @Model.task_id, }))
                                    )
                                    .Columns(columns =>
                                    {
                                        columns.Bound(fld => fld.date_beg)
                                            .Format("{0: dd.MM.yy HH:mm:ss}")
                                            .Width("20%");
                                        columns.Bound(fld => fld.user_name)
                                            .Width("15%");
                                        columns.Bound(fld => fld.mess);
                                    })
                                    .Pageable(page => { page.PageSizes(false); page.ButtonCount(0); page.Info(false); page.Input(false); page.Numeric(false); page.PreviousNext(false); page.Refresh(true); })
                                    .Resizable(resize => resize.Columns(true))
                                    .Sortable()
                                    .Scrollable(scr => scr.Height("auto"))
                                    .Filterable(flt => flt.Enabled(false))
                                    .Events(ev => ev.DataBound("taskEdit.onTaskLogGridDataBound"))
                    )
                </div>
            </div>
        }
        <div class="row" style="margin-top: 30px;">
            <div class="col-md-6">
                <div class="form-group">                    
                    <input type="submit" value="save" class="btn" id="btnSubmitProceed" style="visibility:hidden;" />
                </div>
            </div>
        </div>

    </div>
}

<script id="save-changes-confirmation" type="text/x-kendo-template">
    <div class="panel-success" style="padding-left: 110px; padding-top: 20px;">
        <button class="confirm k-button" style="width: 60px;"> Да </button>
        <button class="cancel k-button" style="width: 60px;"> Нет </button>
    </div>
</script>

<script>

</script>
