﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util

@{
    ViewBag.Title = "История";    
    Layout = "~/Views/Shared/_Layout.cshtml";    
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/crm", "task-log-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("crm", "Задачи"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Сервис", "TaskList", "Crm") - @Html.ActionLink("Задачи", "TaskList", "Crm") - @Html.ActionLink("История", "TaskLog", "Crm")
    </div>
}

<style>
</style>


@if (TempData["error"] != null)
{
    <div class="k-block k-error-colored">
        @TempData["error"]
    </div>
}

@(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmLogViewModel>()
                  .Name("crmLogGrid")
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Model(model =>
                      {
                          model.Id(ev => ev.log_id);
                      })
                      .PageSize(100)
                      .Sort(sort => sort.Add("log_id").Descending())
                      .Read(read => read.Action("GetCrmLogList", "Crm"))                      
                   )
                  .Columns(columns =>
                  {
                      columns.Bound(item => item.date_beg)
                          .Format("{0:dd.MM.yyyy HH:mm:ss}")                          
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("eq"); }));
                      columns.Bound(item => item.task_num)
                          .ClientTemplate("<a href='/TaskEdit?task_id=#=task_id#' title='Перейти к задаче'>#=task_num#</a>")     
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));
                      columns.Bound(item => item.mess)
                          .Width("50%")
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));                      
                      columns.Bound(item => item.user_name)                          
                          .Filterable(ftb => ftb.Cell(cell => { cell.Operator("contains"); }));
                  })
                  .Pageable(page => { page.PageSizes(new int[] { 10, 20, 50, 100 }); page.Refresh(true); })
                  .Resizable(resize => resize.Columns(true))
                  .Sortable()
                  .Scrollable(scr => scr.Height("auto"))
                  .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                      .Events(ev => ev.DataBound("taskLog.onCrmLogGridDataBound"))
)

<script>
</script>

