﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util
@using CabinetMvc.ViewModel.Crm;
@using AuDev.Common.Util
@using Kendo.Mvc.UI.Fluent

@{    
    Layout = null;    
}

<div>
    @(Html.Kendo().TreeView()    
        .Name("taskFilterTree")
        .BindTo((IEnumerable<CrmTaskFilterViewModel>)ViewBag.TaskFilter, (NavigationBindingFactory<TreeViewItem> mappings) =>
        {
            mappings.For<CrmTaskFilterViewModel>(binding => binding.ItemDataBound((item, filter) =>
            {
                //item.Text = folder.folder_name;
                item.Id = filter.adr.ToString();
                item.HasChildren = filter.HasChildren;
                item.Text = filter.filter_value_name;                
            })
            .Children(filter => filter.ChildrenList));
        })
        .Checkboxes(ch => { ch.Enabled(true); ch.CheckChildren(true); })        
    )
</div>


@(Html.Kendo().MultiSelect()
          .Name("msTaskListColumn")
          .AutoClose(false)
          .TagMode(TagMode.Single)
          .Placeholder("колонки")
          .DataTextField("column_name")
          .DataValueField("column_index")
          .AutoBind(true)
          .HtmlAttributes(new { @style = "width:200px;" })
          .Events(ev => ev.Select("taskListPartial.onMsTaskListColumnSelect"))
)

@(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmTaskViewModel>()
.Name("taskListGrid")
.DataSource(dataSource => dataSource
    .Ajax()
    .Model(model =>
    {
        model.Id(ev => ev.task_id);
    })
    .PageSize(100)
    .Sort(sort => sort.Add("task_num").Descending())
    .Read(read => read.Action("GetTaskList", "Crm").Data("taskListPartial.getTaskListData"))
)
                              .Columns(columns =>
                              {
                                  columns.Bound(p => p.IsChecked)
                                      .ClientTemplate("<input type='checkbox' value='false' class='cab-grid-checkbox' onclick='taskListPartial.onCabGridCheckboxClick(this)'/>")                                      
                                      .HeaderTemplate("<input type='checkbox' value='false' class='cab-grid-checkbox-header' onclick='taskListPartial.onCabGridCheckboxHeaderClick(this)'/>")
                                      .Filterable(false)
                                      .Sortable(false)  
                                      .Title("")
                                      .Width("150px")                                      
                                  ;
                                  columns.Bound(p => p.group_name)
                                      .Filterable(false)
                                      .Width("150px")
                                      ;
                                  columns.Bound(p => p.is_event_name)                                      
                                      .ClientTemplate("#if(is_event){#" + "<span title='Задача в Календаре'>К</span>" + "#} else {#" + "# } #")
                                      .Filterable(false)
                                      .Title("К")
                                      .HeaderHtmlAttributes(new { @title = "Задача в Календаре" })
                                      .Width("150px")
                                      ;
                                  columns.Bound(p => p.moderator_user_id)
                                      .ClientTemplate("#if(moderator_user_id > 0){#" + "<span title='Модерация: #=moderator_user_name#'>М</span>"
                                        + "#} else {#" + "# } #")
                                      .Filterable(false)
                                      .Title("М")
                                      .HeaderHtmlAttributes(new { @title = "Задача прошла модерацию" })
                                      .Width("150px")
                                      ;
                                  columns.Bound(p => p.is_in_storage_name)
                                      .ClientTemplate("#if(is_in_storage){#" + "<a href='javascript:void' onclick='taskListPartial.onTaskStorageCellClick(#=storage_folder_id#)' title='Задача привязана к Хранилищу'>Хр</a>"
                                        + "#} else {#" + "# } #")
                                      .Filterable(false)
                                      .Title("Хр")
                                      .HeaderHtmlAttributes(new { @title = "Задача привязана к Хранилищу" })
                                      .Width("150px")
                                      ;

                                  columns.Bound(p => p.task_id).Width("150px");
                                  columns.Bound(p => p.crt_date).Format("{0: dd.MM.yyyy HH:mm:ss}").Width("150px");
                                  columns.Bound(p => p.task_num).Width("150px");
                                  columns.Bound(p => p.task_name).Width("150px");
                                  columns.Bound(p => p.state_name).Width("150px");
                                  columns.Bound(p => p.client_name).Width("150px");
                                  columns.Bound(p => p.exec_user_name).Width("150px");
                                  columns.Bound(p => p.module_name).Width("150px");
                                  columns.Bound(p => p.module_version_name).Width("150px");
                                  columns.Bound(p => p.owner_user_name).Width("150px");
                                  columns.Bound(p => p.priority_name).Width("150px");
                                  columns.Bound(p => p.project_name).Width("150px");
                                  columns.Bound(p => p.required_date).Format("{0: dd.MM.yyyy}").Width("150px");
                                  columns.Bound(p => p.repair_date).Format("{0: dd.MM.yyyy}").Width("150px");
                                  columns.Bound(p => p.repair_version_name).Width("150px");
                                  columns.Bound(p => p.assigned_user_name).Width("150px");
                                  columns.Bound(p => p.is_fin_name).Width("150px");
                                  columns.Bound(p => p.fin_cost).Width("150px");
                                  columns.Bound(p => p.upd_date).Format("{0: dd.MM.yyyy HH:mm:ss}").Width("150px");
                                  columns.Bound(p => p.task_text).Width("150px");
                                  columns.Bound(p => p.subtasks_count).Width("150px");
                                  columns.Bound(p => p.notes_count).Width("150px");
                                  columns.Bound(p => p.batch_name).Width("150px");
                                  columns.Bound(p => p.cost_plan).Width("150px");
                                  columns.Bound(p => p.cost_fact).Width("150px");                   
                              })
                              .Pageable(page => { page.PageSizes(new int[] { 10, 20, 50, 100 }); page.Refresh(true); })
                              .Resizable(rsb => rsb.Columns(true))
                              .Sortable(sort => sort.SortMode(GridSortMode.SingleColumn))
                              .Scrollable(scr => scr.Height("auto"))
                              .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                              .Selectable(sel => sel.Mode(GridSelectionMode.Single))
                              .Reorderable(rd => rd.Columns(true))
                              .AutoBind(false)
                              .Events(ev =>
                              {
                                  ev.DataBound("taskListPartial.onTaskGridDataBound");
                                  ev.ColumnHide("taskListPartial.saveTaskGridConfig");
                                  ev.ColumnReorder("taskListPartial.saveTaskGridConfig");
                                  ev.ColumnResize("taskListPartial.saveTaskGridConfig");
                                  ev.ColumnShow("taskListPartial.saveTaskGridConfig");
                              })
                              .Excel(excel => 
                                excel.FileName("Список задач.xlsx").ProxyURL(Url.Action("TaskListExport", "Crm"))
                              )
                              .Pdf(pdf =>
                                pdf.FileName("Список задач.pdf").ProxyURL(Url.Action("TaskListExport", "Crm"))
                              )
)
