﻿@using CabinetMvc.Util

@model CabinetMvc.ViewModel.Crm.CrmTaskViewModel

@{
    ViewBag.Title = "Задача";
    Layout = "";
    var currUser = ((CabinetMvc.Controllers.BaseController)ViewContext.Controller).CurrentUser;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmProjectViewModel> projectList = ViewBag.ProjectList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmModuleViewModel> moduleList = ViewBag.ModuleList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmModuleVersionViewModel> moduleVersionList = ViewBag.ModuleVersionList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmClientViewModel> clientList = ViewBag.ClientList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmPriorityViewModel> priorityList = ViewBag.PriorityList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmStateViewModel> stateList = ViewBag.StateList;
    IEnumerable<CabinetMvc.ViewModel.Adm.CabUserViewModel> userList = ViewBag.UserList;
    IEnumerable<CabinetMvc.ViewModel.Crm.CrmGroupViewModel> groupList = ViewBag.GroupList;
    IList<SelectListItem> eventUserList = ViewBag.EventUserList;
}

<style>
    #taskNoteGridPersonal, #taskNoteGridPersonal * {
        max-height: 255px !important;
        border: 0 !important;
    }


    #subtaskGridPersonal {
        max-height: 255px !important;
    }

        #subtaskGridPersonal * {
            max-height: 225px !important;
        }

    #taskLogGridPersonal, #taskLogGridPersonal * {
        max-height: 370px !important;
        border: 0 !important;
    }

    #taskFilesGridPersonal, #taskFilesGridPersonal * {
        max-height: 320px !important;
        border: 0 !important;
    }

    label {
        font-size: 0.85em;
    }

    .form-horizontal .control-label {
        text-align: left;
    }

    textarea.form-control {
        width: auto;
    }

    .k-dropdown, .k-dropdown-wrap, .k-datepicker, .k-picker-wrap, .k-numerictextbox, .k-numeric-wrap {
        height: 25px !important;
    }

    #winTaskEditPersonal .k-textbox {
        height: 26px !important;
    }

    .k-picker-wrap > .k-input, .k-numeric-wrap > .k-input {
        height: 20px !important;
    }

    .k-dropdown-wrap > .k-input {
        line-height: normal !important;
    }

    .k-dropdown-wrap > .k-select > .k-icon, .k-picker-wrap > .k-select > .k-icon {
        vertical-align: initial !important;
    }
</style>


@Html.HiddenFor(x => x.task_id)
@Html.HiddenFor(x => x.upd_num)

@Html.ValidationSummary()

@if (TempData["error"] != null)
{
    <div class="k-block k-error-colored">
        @TempData["error"]
    </div>
}

<form class="form-horizontal">
    <div class="row">
        <div class="col-sm-6" style="padding-left: 25px; padding-right: 0;">
            <div class="form-group">
                @Html.Label("Задача", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8">
                    @(Html.Kendo().TextBox().Name("taskNamePersonal").Value(@Model.task_num + " " + @Model.owner_user_name + "\\" + ((DateTime)@Model.crt_date).ToString("dd.MM.yyyy HH:mm") + (@Model.upd_date.HasValue ? " [" + ((DateTime)@Model.upd_date).ToString("dd.MM.yyyy HH:mm") + "]" : "")).HtmlAttributes(new { @class = "form-control", @readonly = "readonly", @style = "text-indent: 0;" }))
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.task_name, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8">
                    @(Html.Kendo().TextBoxFor(model => model.task_name).HtmlAttributes(new { @id = "task_namePersonal", @class = "form-control attr-change" }))
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.task_text, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8">
                    @(Html.TextAreaFor(model => model.task_text, new { @id = "task_textPersonal", @class = "form-control attr-change", @style = "height: 89px; width: 92%;" }))
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.client_id, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8">
                    @(Html.Kendo().DropDownListFor(ss => ss.client_id)
                .BindTo(clientList)
                .Name("clientListPersonal")
                .HtmlAttributes(new { @id = "clientListPersonal", @class = "form-control attr-change" })
                .DataTextField("client_name")
                .DataValueField("client_id")
                        .Events(ev => ev.Change("myTaskList.onAttrChanged"))
                    )
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.group_id, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8">
                    @(Html.Kendo().DropDownListFor(ss => ss.group_id)
                        .BindTo(groupList)
                        .Name("groupListPersonal")
                        .HtmlAttributes(new { @id = "groupListPersonal", @class = "form-control attr-change" })
                        .DataTextField("group_name")
                        .DataValueField("group_id")
                                .Events(ev => ev.Change("myTaskList.onAttrChanged"))
                    )
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.priority_id, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8">
                    @(Html.Kendo().DropDownListFor(ss => ss.priority_id)
                .BindTo(priorityList)
                .Name("priorityListPersonal")
                .HtmlAttributes(new { @id = "priorityListPersonal", @class = "form-control attr-change" })
                .DataTextField("priority_name")
                .DataValueField("priority_id")
                        .Events(ev => ev.Change("myTaskList.onAttrChanged"))
                    )
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.fin_cost, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-2">
                    @(Html.Kendo().NumericTextBoxFor(model => model.fin_cost)
                    .Min(0)
                    .Max(decimal.MaxValue)
                    .HtmlAttributes(new { @type = "text", @id = "fin_costPersonal", @class = "form-control attr-change", @style = "display: inline !important;" })
                            .Events(ev => ev.Spin("myTaskList.onAttrChanged"))
                    )
                </div>
                <div class="col-sm-2">
                    <div onclick='myTaskList.onAttrChanged()' title='Модерация: @Model.moderator_user_name'>
                        @(Html.Kendo().CheckBoxFor(model => model.IsModerated).Name("IsModeratedPersonal").Checked(@Model.IsModerated).Label("модерация")
                                .HtmlAttributes(new { @class = "k-checkbox attr-change", @id = "IsModeratedPersonal", }))
                    </div>
                </div>
                <div class="col-sm-3">
                    <div onclick="myTaskList.onAttrChanged()">
                        @(Html.Kendo().CheckBoxFor(model => model.is_event).Name("is_eventPersonal").Checked(@Model.is_event).Label("в календаре").HtmlAttributes(new { @class = "k-checkbox attr-change", @id = "is_eventPersonal", }))
                    </div>
                    @if ((Model.task_id > 0) && (Model.is_event))
                    {
                        <a href="/TaskScheduler?task_id=@Model.task_id.ToString()" title="перейти к календарю">[перейти]</a>
                    }
                    else if ((Model.task_id > 0) && (!Model.is_event))
                    {
                        @(Html.Kendo().DropDownListFor(ss => ss.is_event_for_exec)
                .BindTo(eventUserList)
                        .Name("eventUserListPersonal")
                            .HtmlAttributes(new { @id = "eventUserListPersonal", @class = "form-control", @style = "width: 100px;" })
                .DataTextField("Text")
                .DataValueField("Value")
                        )
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-5" style="padding-left: 25px; padding-right: 0;">
            <div class="form-group">
                @Html.LabelFor(model => model.project_id, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-6">
                    @(Html.Kendo().DropDownListFor(ss => ss.project_id)
                .BindTo(projectList)
                .Name("projectListPersonal")
                .HtmlAttributes(new { @id = "projectListPersonal", @class = "form-control" })
                .DataTextField("project_name")
                .DataValueField("project_id")
                .Events(ev => ev.Change("myTaskList.onAttrChanged"))
                    )
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.module_id, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-6">
                    @(Html.Kendo().DropDownListFor(ss => ss.module_id)
                .BindTo(moduleList)
                .Name("moduleListPersonal")
                .HtmlAttributes(new { @id = "moduleListPersonal", @class = "form-control" })
                .DataTextField("module_name")
                .DataValueField("module_id")
                 .CascadeFrom("projectListPersonal")
                .Events(ev => ev.Change("myTaskList.onAttrChanged"))
                    )
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.module_version_id, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-6">
                    @(Html.Kendo().DropDownListFor(ss => ss.module_version_id)
                .BindTo(moduleVersionList)
                .Name("moduleVersionListPersonal")
                            //.OptionLabel("[не указана]")
                .HtmlAttributes(new { @id = "moduleVersionListPersonal", @class = "form-control" })
                .DataTextField("module_version_name")
                .DataValueField("module_version_id")
                .CascadeFrom("moduleListPersonal")
                .Events(ev => ev.Change("myTaskList.onAttrChanged"))
                    )
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.assigned_user_id, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-6">
                    @(Html.Kendo().DropDownListFor(ss => ss.assigned_user_id)
                .BindTo(userList)
                .Name("assignedUserListPersonal")
                .HtmlAttributes(new { @id = "assignedUserListPersonal", @class = "form-control attr-change" })
                .DataTextField("user_name")
                .DataValueField("user_id")
                .Events(ev => ev.Change("myTaskList.onAttrChanged"))
                    )
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.exec_user_id, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-6">
                    @(Html.Kendo().DropDownListFor(ss => ss.exec_user_id)
                .BindTo(userList)
                .Name("execUserListPersonal")
                .HtmlAttributes(new { @id = "execUserListPersonal", @class = "form-control attr-change" })
                .DataTextField("user_name")
                .DataValueField("user_id")
                .Events(ev => ev.Change("myTaskList.onAttrChanged"))
                    )
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.state_id, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-6">
                    @(Html.Kendo().DropDownListFor(ss => ss.state_id)
                .BindTo(stateList)
                .Name("stateListPersonal")
                .HtmlAttributes(new { @id = "stateListPersonal", @class = "form-control attr-change" })
                .DataTextField("state_name")
                .DataValueField("state_id")
                .Events(ev => ev.Change("myTaskList.onAttrChanged"))
                    )
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.required_date, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-6">
                    @(Html.Kendo().DatePickerFor(model => model.required_date).HtmlAttributes(new { @type = "text", @id = "required_datePersonal", @class = "form-control attr-change" })
                                    .Events(ev => ev.Change("myTaskList.onAttrChanged"))
                    )
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.repair_date, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-6">
                    @(Html.Kendo().DatePickerFor(model => model.repair_date).HtmlAttributes(new { @type = "text", @id = "repair_datePersonal", @class = "form-control attr-change" })
                            .Events(ev => ev.Change("myTaskList.onAttrChanged"))
                    )
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.repair_version_id, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-6">
                    @(Html.Kendo().DropDownListFor(ss => ss.repair_version_id)
                .BindTo(moduleVersionList)
                .Name("repairVersionListPersonal")
                .OptionLabel("[не указана]")
                .HtmlAttributes(new { @id = "repairVersionListPersonal", @class = "form-control" })
                .DataTextField("module_version_name")
                .DataValueField("module_version_id")
                .CascadeFrom("moduleListPersonal")
                        .Events(ev => ev.Change("myTaskList.onAttrChanged"))
                    )
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6" id="div-subtaskPersonal" style="padding-left: 0 !important; padding-right: 0 !important; margin-left: 10px;">
            @(Html.Kendo().TabStrip()
                    .Name("subtaskTabStripPersonal")
                    .Items(tabstrip =>
                    {
                        tabstrip.Add().Text("Подзадачи")
                            .SpriteCssClasses("k-icon", "k-i-kpi")
                            .Selected(true)
                            .Content(@<text>
                                @(Html.TextArea("txtSubtaskAddPersonal", new { @id = "txtSubtaskAddPersonal", @class = "form-control", @cols = "50", @rows = "3", @placeholder = "текст подзадачи...", @style = "width: 95%;" }))
                                <button type="button" class="btn btn-info btn-xs subtask-addPersonal" id="btnSubtaskAddPersonal">добавить</button>
                                <button type="button" class="btn btn-default btn-xs pull-right subtask-excelPersonal" id="btnSubtaskExcelPersonal"><span class="k-icon k-i-excel"></span> </button>
                                <button type="button" class="btn btn-default btn-xs pull-right subtask-pdfPersonal" id="btnSubtaskPdfPersonal"><span class="k-icon k-i-pdf"></span> </button>
                                @(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmSubtaskViewModel>(Model.subtasks)
                            .Name("subtaskGridPersonal")
                            .DataSource(dataSource => dataSource
                            .Ajax()
                            .ServerOperation(false)
                            .Model(model =>
                            {
                                model.Id(fld => fld.subtask_id);
                                model.Field(fld => fld.state_id_ReadOnly).DefaultValue(1).Editable(false);
                                model.Field(fld => fld.file_id_ReadOnly).Editable(false);
                                model.Field(fld => fld.task_num).Editable(false);
                                model.Field(fld => fld.crt_date).Editable(false);
                                model.Field(fld => fld.upd_date).Editable(false);
                                model.Field(fld => fld.owner_user_name).Editable(false);
                            })
                            .Destroy(dst => dst.Action("SubtaskDel", "Crm"))
                            .Aggregates(agg => agg.Add(fld => fld.task_num).Max())
                            .Sort(sort => sort.Add("task_num").Descending())
                            .AutoSync(false)
                            )
                            .Columns(columns =>
                            {
                                columns.Bound(fld => fld.task_num)
                                    .Width(50)
                                    .HeaderHtmlAttributes(new { @style = "font-size: 0.7em;" })
                                    .FooterHtmlAttributes(new { @class = "hidden " });

                                columns.Bound(fld => fld.state_name).Hidden(true);

                                columns.Bound(fld => fld.state_name)
                                    .Width(150)
                                    .HtmlAttributes(new { @class = "stateListCell" })
                                   .ClientTemplate(
                                       @Html.Kendo().DropDownList()
                                        .Name("subtaskStateList_#=task_num#")
                                        .HtmlAttributes(new { @style = "width:90%" })
                                        .DataValueField("state_id")
                                        .DataTextField("state_name")
                                        .BindTo(stateList)
                                        .Value("#=state_id#")
                                        .Events(ev => ev.Change("myTaskList.subtaskStateListChanged"))
                                        .ToClientTemplate()
                                        .ToHtmlString()
                                        )
                                        .HeaderHtmlAttributes(new { @style = "font-size: 0.7em;" })
                                        .FooterHtmlAttributes(new { @class = "hidden " })
                                        ;

                                columns.Bound(fld => fld.subtask_text)
                                    .Encoded(false)
                                    .Width(300)
                                    .HeaderHtmlAttributes(new { @style = "font-size: 0.7em;" })
                                    .FooterHtmlAttributes(new { @class = "hidden " })
                                    ;

                                columns.Bound(fld => fld.file_name).Hidden(true);

                                columns.Bound(fld => fld.file_id_ReadOnly)
                                    .Width(150)
                                    .HtmlAttributes(new { @class = "fileListCell" })
                                   .ClientTemplate(
                                       @Html.Kendo().DropDownList()
                                        .Name("subtaskFileList_#=task_num#")
                                        .HtmlAttributes(new { @style = "width:90%" })
                                        .DataSource(ds =>
                                        {
                                            ds.Read(rd => rd.Action("GetCrmTaskFileList_forSubtask", "Crm", new { @task_id = @Model.task_id }));
                                        })
                                        .DataValueField("file_id")
                                        .DataTextField("file_name")
                                        .Value("#=file_id#")
                                        .AutoBind(true)
                                        .OptionLabel("не выбран")
                                        .Events(ev => ev.Change("myTaskList.subtaskFileListChanged"))
                                        .ToClientTemplate()
                                        .ToHtmlString()
                                        )
                                    .HeaderHtmlAttributes(new { @style = "font-size: 0.7em;" })
                                    .FooterHtmlAttributes(new { @class = "hidden " })
                                    ;

                                columns.Bound(fld => fld.crt_date)
                                    .Format("{0:dd.MM.yy HH:mm:ss}")
                                    .Width(150)
                                    .HeaderHtmlAttributes(new { @style = "font-size: 0.7em;" })
                                    .FooterHtmlAttributes(new { @class = "hidden " });
                                columns.Bound(fld => fld.upd_date)
                                    .Format("{0:dd.MM.yy HH:mm:ss}")
                                    .Width(150)
                                    .HeaderHtmlAttributes(new { @style = "font-size: 0.7em;" })
                                    .FooterHtmlAttributes(new { @class = "hidden " });
                                columns.Bound(fld => fld.owner_user_name)
                                    .Width(100)
                                    .HeaderHtmlAttributes(new { @style = "font-size: 0.7em;" })
                                    .FooterHtmlAttributes(new { @class = "hidden " });

                                if (@currUser.IsSuperAdmin)
                                {
                                    columns.Command(command => { command.Destroy().Text(" "); })
                                        .Title("Удалить")
                                        .Width(70)
                                        .HeaderHtmlAttributes(new { @style = "font-size: 0.7em;" })
                                        .FooterHtmlAttributes(new { @class = "hidden " })
                                        ;
                                }
                            })
                                                                                .Pageable(page => page.Enabled(false))
                                                                                .Resizable(resize => resize.Columns(true))
                                                                                .Sortable()
                                                                                .Scrollable(scr => scr.Height("auto"))
                                                                                .Editable(ed => ed.Mode(GridEditMode.InCell))
                                                                                .HtmlAttributes(new { @style = "width: 100%;" })
                                                                                .Excel(excel => excel
                                                                                    .FileName("Список подзадач.xlsx")
                                                                                    .ProxyURL(Url.Action("CardListExport", "Card"))
                                                                                    .ForceProxy(true)
                                                                                )
                                                                            .Pdf(pdf => pdf
                                                                                .FileName("Список подзадач.pdf")
                                                                                .ProxyURL(Url.Action("CardListExport", "Card"))
                                                                                .ForceProxy(true)
                                                                             )
                                                    .Events(ev =>
                                                    {
                                                        ev.DataBound("myTaskList.onSubtaskGridPersonalDataBound");
                                                        ev.Edit("myTaskList.onSubtaskGridPersonalEdit");
                                                        ev.Remove("myTaskList.onSubtaskGridPersonalRemove");
                                                        ev.ExcelExport("myTaskList.onSubtaskGridPersonalExcelExport");
                                                        ev.PdfExport("myTaskList.onSubtaskGridPersonalPdfExport");
                                                    })
                                )
                            </text>);
                    }
                                                                        )
                                                                        .HtmlAttributes(new { @style = "width: 98%;" })
            )
        </div>
        <div class="col-sm-6" id="div-commentPersonal" style="padding-left: 0 !important; padding-right: 0 !important; margin-left: -10px;">
            @(Html.Kendo().TabStrip()
                    .Name("taskNoteTabStripPersonal")
                    .Items(tabstrip =>
                    {
                        tabstrip.Add().Text("Комментарии")
                            .SpriteCssClasses("k-icon", "k-i-kpi")
                            .Selected(true)
                            .Content(@<text>
                                @(Html.TextArea("txtTaskNoteAddPersonal", new { @id = "txtTaskNoteAddPersonal", @class = "form-control", @cols = "50", @rows = "3", @placeholder = "напишите комментарий...", @style = "width: 95%;" }))
                                <button type="button" class="btn btn-info btn-xs task-note-addPersonal" id="btnTaskNoteAddPersonal">добавить</button>
                                @(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmTaskNoteViewModel>(Model.notes)
                            .Name("taskNoteGridPersonal")
                            .DataSource(dataSource => dataSource
                            .Ajax()
                            .Model(model =>
                            {
                                model.Id(fld => fld.note_id);
                            })
                            .Sort(sort => sort.Add("note_id").Descending())
                            )
                            .Columns(columns =>
                            {
                                columns.Bound(fld => fld.crt_date)
                                    .Format("{0: dd.MM.yy HH:mm:ss}")
                                    .Width("20%")
                                    .HeaderHtmlAttributes(new { @style = "display: none;" });
                                columns.Bound(fld => fld.user_name)
                                    .Width("15%")
                                    .HeaderHtmlAttributes(new { @style = "display: none;" });
                                columns.Bound(fld => fld.note_text)
                                    .Encoded(false)
                                    .HeaderHtmlAttributes(new { @style = "display: none;" });
                            })
                            .Pageable(page => page.Enabled(false))
                            .Resizable(resize => resize.Columns(true))
                            .Sortable()
                            .Scrollable(scr => scr.Height("auto"))
                            .Filterable(ftb => ftb.Enabled(false))
                            .HtmlAttributes(new { @style = "width: 100%;" })
                                )
                            </text>);
                        tabstrip.Add().Text("Файлы")
                            .Content(@<text>
                                @if (Model.task_id > 0)
                                {
                                    @(Html.Kendo().Upload()
                                     .Name("uplTaskFile")
                                    .HtmlAttributes(new { @id = "uplFilePersonal" })
                                .Async(s =>
                                {
                                    s.Save("TaskFileSave", "Crm", new { @task_id = @Model.task_id });
                                    s.Remove("TaskFileRemove", "Crm");
                                    s.AutoUpload(true);
                                })
                                .ShowFileList(false)
                                .Multiple(false)
                                .Messages(mess =>
                                {
                                    mess.Select("Файл...");
                                    mess.StatusUploaded("Готово");
                                    mess.StatusUploading("Загрузка...");
                                    mess.StatusFailed("Ошибка");
                                    mess.Cancel("Отмена");
                                    mess.HeaderStatusUploaded("Готово");
                                    mess.HeaderStatusUploading("Загрузка...");
                                })
                                .Events(ev =>
                                {
                                    ev.Success("myTaskList.onUplFilePersonalSuccess");
                                    ev.Error("myTaskList.onUplFilePersonalError");
                                })
                                    )
                                }
                                else
                                {
                                    <span class="text-muted">добавление файлов возможно только после создания задачи</span>
                                }
                                @(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmTaskFileViewModel>(Model.files)
                                    .Name("taskFilesGridPersonal")
                                    .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .Model(model =>
                                    {
                                        model.Id(fld => fld.file_id);
                                    })
                                    .Sort(sort => sort.Add("file_name").Ascending())
                                    .Read(rd => rd.Action("GetCrmTaskFileList", "Crm", new { @task_id = @Model.task_id }))
                                    )
                                    .Columns(columns =>
                                    {
                                        columns.Bound(fld => fld.file_path)
                                            .ClientTemplate("<a href='#=file_path#' target='_blank'>#=file_name#</a>")
                                            //.Encoded(false)
                                            .HeaderHtmlAttributes(new { @style = "display: none;" });
                                        columns.Bound(fld => fld.TaskFileRemoveBtn)
                                            .Encoded(false)
                                            .HeaderHtmlAttributes(new { @style = "display: none;" });
                                    })
                                    .Pageable(page => page.Enabled(false))
                                    .Resizable(resize => resize.Columns(true))
                                    .Sortable()
                                    .Scrollable(scr => scr.Height("auto"))
                                    .Filterable(ftb => ftb.Enabled(false))
                                )
                            </text>);
                        tabstrip.Add().Text("История")
                            .Content(@<text>
                                @(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmLogViewModel>(Model.logs)
                                    .Name("taskLogGridPersonal")
                                    .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .Model(model =>
                                    {
                                        model.Id(fld => fld.log_id);
                                    })
                                    .Sort(sort => sort.Add("log_id").Descending())
                                    )
                                    .Columns(columns =>
                                    {
                                        columns.Bound(fld => fld.date_beg)
                                            .Format("{0: dd.MM.yy HH:mm:ss}")
                                            .Width("20%")
                                            .HeaderHtmlAttributes(new { @style = "display: none;" });
                                        columns.Bound(fld => fld.user_name)
                                            .Width("15%")
                                            .HeaderHtmlAttributes(new { @style = "display: none;" });
                                        columns.Bound(fld => fld.mess)
                                            .HeaderHtmlAttributes(new { @style = "display: none;" });
                                    })
                                    .Pageable(page => page.Enabled(false))
                                    .Resizable(resize => resize.Columns(true))
                                    .Sortable()
                                    .Scrollable(scr => scr.Height("auto"))
                                    .Filterable(ftb => ftb.Enabled(false))
                                )
                            </text>);
                    })
                                                                            .HtmlAttributes(new { @style = "width: 98%;" })
            )
        </div>
    </div>

    <div class="row">
        <div class="form-horizontal">
            <div class="form-group" style="margin-top: 15px;">
                <div class="col-sm-3 col-sm-offset-1">
                    <span id="spanTaskErrMessPersonal" class="hidden k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" data-for="btnTaskOkPersonal" data-valmsg-for="btnTaskOkPersonal" role="alert">
                        <span class="k-icon k-warning"></span>
                    </span>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-default btn-task-add" id="btnTaskOkPersonal" disabled>Сохранить и выйти</button>
                    <button type="button" class="btn btn-default btn-task-save hidden" id="btnTaskSavePersonal" disabled>Сохранить</button>
                    <button type="button" class="btn btn-danger" id="btnTaskCancelPersonal">Выйти</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    myTaskList.init_popup();
</script>