﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util

@{
    ViewBag.Title = "Архив задач";    
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<CabinetMvc.ViewModel.Sys.CabGridColumnUserSettingsViewModel> taskGridColumnSettings = ViewBag.TaskGridColumnSettings;
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/crm", "task-archive-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("crm", "Задачи"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Сервис", "TaskList", "Crm") - @Html.ActionLink("Задачи", "TaskList", "Crm") - @Html.ActionLink("Архив задач", "TaskArchive", "Crm")
    </div>
}

<style>
    #main-content-div {
        font-size: 12px !important;
    }
</style>

@if (TempData["error"] != null)
{
    <div class="k-block k-error-colored">
        @TempData["error"]
    </div>
}

    @(Html.Kendo().Grid<CabinetMvc.ViewModel.Crm.CrmTaskViewModel>()
                      .Name("taskArcListGrid")
                      .DataSource(dataSource => dataSource
                          .Ajax()
                          .Model(model =>
                          {
                              model.Id(ev => ev.task_id);
                          })
                          .PageSize(10)
                          .Read(read => read.Action("GetTaskArcList", "Crm"))
                       )
                              .Columns(columns =>
                              {
                                  columns.Bound(p => p.IsChecked)
                                      .ClientTemplate("<input type='checkbox' value='false' class='cab-grid-checkbox' onclick='taskArchive.onCabGridCheckboxClick(this)'/>")
                                      .HeaderTemplate("<input type='checkbox' value='false' class='cab-grid-checkbox-header' onclick='taskArchive.onCabGridCheckboxHeaderClick(this)'/>")
                                      .Filterable(false)
                                      .Sortable(false)
                                      .Width("30px")
                                  ;
                                  columns.Bound(p => p.group_name)
                                    .Width("120px")
                                    ;
                                  HtmlExtensions.ColumnsForModel<CabinetMvc.ViewModel.Crm.CrmTaskViewModel>(columns, taskGridColumnSettings, "");
                              })
                      .ToolBar(toolbar =>
                          {
                              toolbar.Template(
                                @<text>
                                    <div style="float:left;">
                                        <button type="button" class="btn btn-primary btn-sm" id="btnRemoveFromArchive">Вернуть из архива</button>
                                    </div>
                                </text>
                                );
                          }
                                )
                                .Pageable(page => page.PageSizes(new int[] { 10, 20, 50, 100 }))
                                .Resizable(rsb => rsb.Columns(true))
                                .Sortable(sort => sort.SortMode(GridSortMode.SingleColumn))
                                .Scrollable(scr => scr.Height("auto"))
                                .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                                        .Events(ev => ev.DataBound("taskArchive.onTaskArcListGridDataBound"))
            
    )
<script>
</script>    
