﻿@{
    ViewBag.Title = "Календарь руководителя";
    ViewBag.ImageUrl = "/Images/new/calendar.png";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MenuPath {
    <div>
        @Html.ActionLink("Главная", "Index", "Home", null, new { @style = "color:White;" })
        ->
        @Html.ActionLink("Сервис", "Calend", "Home", null, new { @style = "color:White;" })
        ->
        @Html.ActionLink(((string)ViewBag.Title), "Calend", "Home", null, new { @style = "color:White;" })
    </div>
}

<style type="text/css">
    .k-grid .k-header {
        display: none;
    }
</style>

<script type="text/javascript">
    $(document.body).keydown(function (e) {
        if (e.altKey && e.keyCode == 87) {
            $("#scheduler").data("kendoScheduler").wrapper.focus();
        }
    });
</script>

@(Html.Kendo().Scheduler<CabinetMvc.ViewModel.Scheduler.MeetingViewModel>()
    .Name("scheduler")
        //.Date(new DateTime(2013, 6, 13))
    .Date(DateTime.Today)
        //.StartTime(new DateTime(2013, 6, 13, 7, 00, 00))
    .StartTime(new DateTime(DateTime.Today.Year, DateTime.Today.Month, DateTime.Today.Day, 6, 00, 00))
    .WorkDayStart(new DateTime(DateTime.Today.Year, DateTime.Today.Month, DateTime.Today.Day, 8, 00, 00))
    .WorkDayEnd(new DateTime(DateTime.Today.Year, DateTime.Today.Month, DateTime.Today.Day, 20, 00, 00))
    .Height(600)
    .Views(views =>
    {
        views.DayView();
        views.WeekView(weekView => weekView.Selected(true));
        views.MonthView();
        views.AgendaView();
        views.TimelineView(tlView => tlView.Title("Таймлайн"));
    })
    .Selectable(true)
    .Resources(resource =>
         {
             resource.Add(m => m.RoomID)
                 .Title("Тип")
                 .DataTextField("Text")
                 .DataValueField("Value")
                 .DataColorField("Color")
                 .BindTo(new[] {
                    new { Text = "Встреча", Value = 1, Color = "#FBEF6E" },
                    new { Text = "Совещание", Value = 2, Color = "#6eb3fa" },
                    new { Text = "Звонок", Value = 3, Color = "#f58a8a" }
                });
         })
    .DataSource(d => d
            .Model(m =>
            {
                m.Id(f => f.MeetingID);
                m.RecurrenceId(f => f.RecurrenceID);
            })
        .Read("Meetings_Read", "Scheduler")
        .Create("Meetings_Create", "Scheduler")
        .Destroy("Meetings_Destroy", "Scheduler")
        .Update("Meetings_Update", "Scheduler")
    )
)

<div class="box wide">
    <div class="box-col">
        <br />
        <h2>Управление календарем</h2>
        <ul class="keyboard-legend">
            <li>
                <span class="button-preview">
                    <span class="key-button leftAlign">Alt</span>
                    +
                    <span class="key-button">w</span>
                </span>
                <span class="button-descr">
                    фокусирует календарь
                </span>
            </li>
        </ul>
        <ul class="keyboard-legend">
            <li>
                <span class="button-preview">
                    <span class="key-button wider">Клавиши со стрелками</span>
                </span>
                <span class="button-descr">
                    для перехода по ячейкам.
                </span>
            </li>
            <li>
                <span class="button-preview">
                    <span class="key-button">Enter</span>
                </span>
                <span class="button-descr">
                    создает новое событие на выделенный ячейках.                    
                </span>
            </li>
            <li>
                <span class="button-preview">
                    <span class="key-button">Tab</span>
                </span>
                <span class="button-descr">
                    переходит между имеющимися событиями.
                </span>
            </li>
            <li>
                <span class="button-preview">
                    <span class="key-button leftAlign">Shift</span>
                    +
                    <span class="key-button">Tab</span>
                </span>
                <span class="button-descr">
                    переходит между имеющимися событиями в обратную сторону.
                </span>
            </li>
            <li>
                <span class="button-preview">
                    <span class="key-button">1</span>
                    -
                    <span class="key-button">5</span>
                </span>
                <span class="button-descr">
                    переключают режимы просмотра календаря
                </span>
            </li>
            <li>
                <span class="button-preview">
                    <span class="key-button">Esc</span>
                </span>
                <span class="button-descr">
                    закрывает всплывающее окно события.
                </span>
            </li>
            <li>
                <span class="button-preview">
                    <span class="key-button leftAlign">Shift</span>
                </span>
                <span class="button-descr">
                    для выделения нескольких ячеек.
                </span>
            </li>
        </ul>
    </div>
</div>






