﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util

@model CabinetMvc.ViewModel.Update.UpdateBatchViewModel

@{
    ViewBag.Title = "Пакет обновления";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/update", "update-batch-edit-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("update", "Обновления"))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Обновления", "UpdateSoftList", "Update") - @Html.ActionLink("Пакеты обновлений", "UpdateBatchList", "Update") - @Html.ActionLink("Пакет обновления " + (Model.batch_id > 0 ? Model.batch_name : ""), "UpdateBatchEdit", "Update", new { @batch_id = Model.batch_id }, null)
    </div>
}

<style>
</style>

@using (Html.BeginForm("UpdateBatchEdit", "Update", FormMethod.Post, new { @onkeydown = "return event.keyCode != 13" }))
{
    @Html.HiddenFor(x => x.batch_id)
    @Html.HiddenFor(x => x.client_id)
    @Html.HiddenFor(x => x.update_batch_item_list)
    

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    if (!String.IsNullOrEmpty((string)@ViewBag.Message))
    {
        <div class="k-block k-success-colored">
            <strong>@ViewBag.Message</strong>
            <br />
            <br />
        </div>
        <br />
        <hr />
    }

    if (Model.batch_id <= 0)
    { 
    @Html.Label("Выберите организацию:", new { @class = "control-label" })
    @(Html.Kendo().Grid<CabinetMvc.ViewModel.Cabinet.ClientViewModel>()
                                            .Name("clientGrid")
                                            .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .Model(model =>
                                            {
                                                model.Id(id => id.id);
                                            })
                                             .PageSize(10)
                                             .Sort(so => { so.Add("client_name"); })                                             
                                             .Read(read => read.Action("GetClientList_Sprav", "Cabinet"))
                                            )
                                            .Columns(columns =>
                                            {
                                                columns.Bound(ss => ss.id)
                                                    .HeaderHtmlAttributes(new { style = "display: none;" })
                                                    .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                                                    .Width(100)
                                                    ;
                                                columns.Bound(ss => ss.client_name)
                                                    .HeaderHtmlAttributes(new { style = "display: none;" })
                                                    .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                                    .Width(400)
                                                    ;
                                            })
                                             .Pageable(page => page.PageSizes(new int[] { 10, 20, 50, 100 }))
                                             .Resizable(resize => resize.Columns(true))
                                             .Sortable(s => s.SortMode(GridSortMode.MultipleColumn))
                                             .Scrollable(scr => scr.Height("auto"))
                                             .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                                             .Selectable(se => se.Mode(GridSelectionMode.Single))
                                             .HtmlAttributes(new { @style = "width: 50%;" })
    )
    }
    else
    {
        @(Html.Label("Организация:", new { @class = "control-label" }))
        @(Html.Kendo().TextBoxFor(ss => ss.client_name).HtmlAttributes(new { @readonly = "readonly" }))
    }
    
    @Html.ValidationMessageFor(model => model.client_id, "", new { @class = "text-danger" })

    <br />
    
    @Html.Label("Выберите программы для пакета обновлений:", new { @class = "control-label" })
    @(Html.Kendo().Grid<CabinetMvc.ViewModel.Update.UpdateBatchItemViewModel>()
                                  .Name("updateBatchItemGrid")
                                  .DataSource(dataSource => dataSource
                                      .Ajax()
                                      .Model(model =>
                                      {
                                          model.Id(ss => ss.soft_id);                                          
                                      })
                                      .Sort(sort => sort.Add("soft_id").Ascending())
                                      .Read(read => read.Action("GetUpdateBatchItemList", "Update").Data("updateBatchEdit.getBatchId"))                                  
                                   )
                                  .Columns(columns =>
                                  {
                                      columns.Bound(item => item.is_subscribed)
                                          .Filterable(false)
                                          .Sortable(false)
                                          .ClientTemplate("<input type='checkbox' onclick='updateBatchEdit.checkEl(this)' class='checkbox' " + "#if (is_subscribed) {#" + "checked" + "#}#" + " />")
                                          .HeaderTemplate("<input type='checkbox' id='masterCheckBox' onclick='updateBatchEdit.checkAll(this)'/>")
                                          ;
                                      columns.Bound(item => item.soft_name);
                                      columns.Bound(item => item.last_download_date);                                                                         
                                  })
                                  .Resizable(resize => resize.Columns(true))
                                  .Sortable()
                                  .Scrollable(scr => scr.Height("auto"))
                                      .HtmlAttributes(new { @style = "width: 50%;" })
                                  .Events(ev => ev.DataBound("updateBatchEdit.onUpdateBatchItemGridDataBound"))
    )

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="button" value="Сохранить" class="btn btn-primary" id="btnSubmit" />
                <input type="submit" value="save" class="btn hidden" id="btnSubmitProceed" />
            </div>
        </div>
    </div>
}

<script id="save-changes-confirmation" type="text/x-kendo-template">
    <div class="panel-success" style="padding-left: 110px; padding-top: 20px;">
        <button class="confirm k-button" style="width: 60px;"> Да </button>
        <button class="cancel k-button" style="width: 60px;"> Нет </button>
    </div>
</script>

<script>
    var model_batch_id = @Model.batch_id;
    var model_client_id = @Model.client_id;
</script>