﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util
@{
    ViewBag.Title = "Пакеты обновлений";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/update", "update-batch-list-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("update", "Обновления"))
}

@section menuPath {
<div class="cab-menu-path">
    @Html.ActionLink("Обновления", "UpdateSoftList", "Update") - @Html.ActionLink("Пакеты обновлений", "UpdateBatchList", "Update")
</div>
}

@(Html.Kendo().Grid<CabinetMvc.ViewModel.Update.UpdateBatchViewModel>()
                        .Name("updateBatchGrid")
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                  .Model(model =>
                                  {
                                      model.Id(id => id.batch_id);                                      
                                  })
                                .PageSize(100)
                                .Read(read => read.Action("GetUpdateBatchList", "Update"))
                                .Destroy(d => d.Action("UpdateBatchDel", "Update"))
                                .Sort(so => { so.Add("client_id").Ascending(); so.Add("batch_id").Descending(); })
                            )
                        .Columns(columns =>
                        {
                            columns.Bound(ss => ss.batch_id);
                            columns.Bound(ss => ss.client_name).ClientTemplate("<a href='/UpdateBatchEdit?batch_id=#=batch_id#' title='Редактировать пакет'>#=client_name#</a>");
                            //columns.Bound(ss => ss.client_id);
                            columns.Bound(ss => ss.crt_date).Format("{0:dd.MM.yyyy HH:mm:ss}");
                            columns.Bound(ss => ss.crt_user);
                            columns.Bound(ss => ss.last_download_date).Format("{0:dd.MM.yyyy HH:mm:ss}");
                            columns.Command(cmd => { cmd.Destroy(); });
                        })
                        .Pageable(page => { page.PageSizes(new int[] { 10, 100, 500, 1000 }); page.Refresh(true); })
                        .Sortable()
                        .Scrollable(scr => scr.Height("auto"))
                        .Resizable(resize => resize.Columns(true))
                        .ToolBar(toolbar =>
                        {
                            toolbar.Custom().Name("btnUpdateBatchAdd").Text("Добавить пакет").Action("UpdateBatchEdit", "Update", new { @batch_id = "0" });
                        })
                        .Events(ev => ev.DataBound("updateBatchList.onUpdateBatchGridDataBound"))
)

<script>
</script>

