﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util
@{
    ViewBag.Title = "Софт для обновления";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}
@section scripts {
    @Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/update", "update-soft-list-{0}.js"))
}

@section sideMenu {
    @(Html.CabSidePanel("update", "Обновления"))
}

@section menuPath {
<div class="cab-menu-path">
    @Html.ActionLink("Обновления", "UpdateSoftList", "Update") - @Html.ActionLink("Софт для обновления", "UpdateSoftList", "Update")
</div>
}

@(Html.Kendo().Grid<CabinetMvc.ViewModel.Update.UpdateSoftViewModel>()
                        .Name("updateSoftGrid")
                        .Columns(columns =>
                        {
                            columns.Bound(ss => ss.soft_id);
                            columns.Bound(ss => ss.soft_name);
                            columns.Bound(ss => ss.SoftGroup)
                                .ClientTemplate("#=group_name#");
                            columns.Bound(ss => ss.service_id);
                            columns.Command(command => { command.Edit(); command.Destroy(); });
                        })
                        .DataSource(dataSource => dataSource
                            .Ajax()
                              .Model(model =>
                              {
                                  model.Id(id => id.soft_id);
                                  model.Field(f => f.soft_id).Editable(false);
                                  model.Field(p => p.SoftGroup).DefaultValue(ViewData["UpdateSoftGroupDefault"] as CabinetMvc.ViewModel.Update.UpdateSoftGroupViewModel);
                              })
                            .PageSize(100)
                            .Read(read => read.Action("GetUpdateSoftList", "Update"))
                            .Destroy(destroy => destroy.Action("UpdateSoftDel", "Update"))
                            .Create(cr => cr.Action("UpdateSoftAdd", "Update"))
                            .Update(cr => cr.Action("UpdateSoftEdit", "Update"))
                            .Sort(so => so.Add("soft_id").Ascending())
                            .Events(ev => ev.Error("onGridError('updateSoftGrid')"))
                        )
                        .Pageable(page => { page.PageSizes(new int[] { 10, 100, 500, 1000 }); page.Refresh(true); })
                        .Sortable()
                        .Editable(ed => ed.Mode(GridEditMode.InLine))
                        .Scrollable(scr => scr.Height("auto"))
                        .Resizable(resize => resize.Columns(true))
                        .ToolBar(toolbar =>
                        {
                            toolbar.Create().Text("Добавить софт");
                        })
        .Events(ev => ev.DataBound("updateSoftList.onUpdateSoftGridDataBound"))                        
        .ClientDetailTemplateId("templUpdateSoftVersion")
)

<script id="templUpdateSoftVersion" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<CabinetMvc.ViewModel.Update.UpdateSoftVersionViewModel>()
                        .Name("updateSoftVersionGrid_#=soft_id#")
                        .Columns(columns =>
                        {
                            columns.Bound(ss => ss.version_id);
                            columns.Bound(ss => ss.version_name);                            
                            columns.Bound(ss => ss.version_build);
                            columns.Bound(ss => ss.version_date);
                            columns.Bound(ss => ss.file_path).ClientTemplate("\\#=file_name\\#").Title("Файл");
                            columns.Bound(ss => ss.xml_file_path).ClientTemplate("\\#=xml_file_name\\#").Title("XML файл");
                            columns.Command(command => { command.Edit(); command.Destroy(); });
                        })
                        .DataSource(dataSource => dataSource
                            .Ajax()
                              .Model(model =>
                              {
                                  model.Id(id => id.version_id);
                                  model.Field(ss => ss.file_name).Editable(false);
                                  model.Field(ss => ss.xml_file_name).Editable(false);
                              })
                            .Read(read => read.Action("GetUpdateSoftVersionList", "Update", new { softId = "#=soft_id#" }))
                            .Create(cr => cr.Action("UpdateSoftVersionAdd", "Update", new { softId = "#=soft_id#" }))
                            .Update(upd => upd.Action("UpdateSoftVersionEdit", "Update", new { softId = "#=soft_id#" }))
                            .Destroy(destroy => destroy.Action("UpdateSoftVersionDel", "Update"))
                            .Events(ev => ev.Error("onGridError('updateSoftVersionGrid_#=soft_id#')"))
                        )
                        .Pageable(p => p.Enabled(false))
                        .Sortable()
                        .Scrollable(scr => scr.Height("auto"))
                        .Resizable(resize => resize.Columns(true))
                        .Editable(ed => ed.Mode(GridEditMode.PopUp))
                        .ToolBar(toolbar =>
                        {
                            toolbar.Create().Text("Добавить версию");
                        })
                .Events(ev => { ev.Save("updateSoftList.onUpdateSoftVersionGridSave"); })
                        .ToClientTemplate()
    )
</script>

<script>
</script>

