﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util


@{
    ViewBag.Title = "Справка";
    Layout = null;
}

<style>
</style>

<p>
    <h4>Админ</h4>
</p>
<p>
    Подразделы:
    <ul>
        <li>
            Журнал событий <a href="/CabHelp?help_id=22">(перейти к описанию)</a>
        </li>
        <li>
            Полномочия <a href="/CabHelp?help_id=23">(перейти к описанию)</a>
        </li>
    </ul>
</p>

<script>
</script>


