﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util


@{
    ViewBag.Title = "Справка";
    Layout = null;
}

<style>
</style>

<p>
    <h4 id="top">Полномочия</h4>
</p>
<p>
    <ul class="list-unstyled">
        <li>
            <a href="#list">Добавление сотрудника в ЛК</a>
        </li>
        <li>
            <a href="#perm">Настройка полномочий сотрудника</a>
        </li>
        <li>
            <a href="#role">Настройка полномочий роли</a>
        </li>
    </ul>
</p>
<hr />
<h4 id="list">
    Добавление сотрудника в ЛК
</h4>
<a class="pull-right" href="#top">наверх</a>
<p>
    Раздел Личного Кабинета: Админ -> Полномочия -> Права сотрудников (1)
</p>
<p>
    <img src='@Url.Content("~/Images/views/auth/auth01.jpg")' wid width="80%" title="Список сотрудников" />
</p>
<p>
    Нажать кнопку "Добавить сотрудника" (2) (находится над списком сотрудников).
    Откроется страница добавления сотрудника в ЛК.
</p>
<p>
    <img src='@Url.Content("~/Images/views/auth/auth02.jpg")' wid width="80%" title="Добавление сотрудника в ЛК" />
</p>
<p>
    Задать необходимые параметры:
</p>
<p>
    <ul>
        <li>
            Признак "Сотрудник активен"
            <em>при отключении этого признака сотрудник не сможет зайти в ЛК</em>
        </li>
        <li>
            Имя
        </li>
        <li>
            Полное имя
        </li>
        <li>
            Логин
        </li>
        <li>
            Пароль
        </li>
        <li>
            Роль
        </li>
        <li>
            Адрес электронной почты
        </li>
        <li>
            Номер ICQ
        </li>
        <li>
            Признак "Сотрудник есть в Задачах"
            <em>при включении этого признака сотрудник появится в функционале Задачи</em>
        </li>
        <li>
            Роль в Задачах
            <em>если сотрудник есть в Задачах – здесь определяется его роль там</em>
        </li>
        <li>
            Признак "Сотрудник есть в Календаре"
            <em>при включении этого признака сотрудник появится в Календаре</em>
        </li>
    </ul>
</p>
<p>
    Нажать на кнопку "Сохранить" (3)
</p>
<p>
    После этого снова откроется страница со списком сотрудников, в котором появится вновь добавленный сотрудник.
</p>
<p>
    Изменить атрибуты сотрудника, указанные при создании, можно нажав на ссылку “Атрибуты” в выпадающем меню в ячейке с именем сотрудника. (4)
</p>
<p>
    <img src='@Url.Content("~/Images/views/auth/auth03.jpg")' wid width="80%" title="" />
</p>
<hr />
<h4 id="perm">
    Настройка полномочий сотрудника
</h4>
<a class="pull-right" href="#top">наверх</a>
<p>
    Раздел Личного Кабинета: Админ -> Полномочия -> Права сотрудников (1)
</p>
<p>
    <img src='@Url.Content("~/Images/views/auth/auth04.jpg")' wid width="80%" title="Список сотрудников" />
</p>
<p>
    Нажать на ссылку “Полномочия” в выпадающем меню в ячейке с именем сотрудника. (5)
    Откроется страница редактирования полномочий сотрудника.
</p>
<p>
    Сверху страницы можно сменить текущую роль сотрудника, указанную ранее в его атрибутах (6).
    При смене роли автоматически обновится таблица с секциями настройки полномочий, находящаяся под выбранной ролью (7).
</p>
<p>
    Полномочия задаются на секции и на разделы внутри секций, отдельно на операции просмотра и отдельно на операции редактирования.
    По - умолчанию сотрудник имеет те же полномочия, что и присвоенная ему роль.
    При желании можно индивидуально для данного сотрудника переопределить нужные полномочия. Для этого раскрыть нужную строчку в списке секций настройки полномочий отделением (значок ">" в самой левой колонке строчки) и проставить/снять галочки с нужных разделов раскрытой секции. При нажатии на галочку в строке с самой секцией – будут проставлены/сняты все галочки в соответствующем столбце в разделах секции.
</p>
<p>
    Для сохранения изменений нажать на кнопку “Сохранить” (8).  После этого все изменения сохранятся и обновится таблица с секциями настройки полномочий
</p>
<hr />
<h4 id="role">
    Настройка полномочий роли
</h4>
<a class="pull-right" href="#top">наверх</a>
<p>
    Раздел Личного Кабинета: Админ -> Полномочия -> Права сотрудников
</p>
<p>
    Нажать на ссылку “Полномочия” в выпадающем меню в ячейке с именем сотрудника (9).
</p>
<p>
    <img src='@Url.Content("~/Images/views/auth/auth05.jpg")' wid width="80%" title="" />
</p>
<p>
    Откроется страница редактирования полномочий роли.
</p>
<p>
    <img src='@Url.Content("~/Images/views/auth/auth06.jpg")' wid width="80%" title="Полономочия роли" />
</p>
<p>
    Работа с секциями и разделами на этой странице идентична работе с секциями и разделами на странице редактирования полномочий сотрудника (см. пункт 2)
</p>
<p>
    Для сохранения изменений нажать на кнопку “Сохранить” (10).  После этого все изменения сохранятся и обновится таблица с секциями настройки полномочий
</p>
<p>
    <strong>ВАЖНО !</strong>
    Все полномочия на выбранной роли распространяются на всех сотрудников, принадлежащих данной роли, за исключением случаев, когда у конкретного сотрудника были заведены индивидуальные переопределения полномочий – в таких случаях индивидуальные полномочия приоритетней
</p>

<script>
</script>


