﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util
@using AuDev.Common.Util
@using CabinetMvc.ViewModel.Cabinet
@using Kendo.Mvc.UI.Fluent

@{
    ViewBag.Title = "Справка";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string menuPath = ViewBag.MenuPath;
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.Raw(menuPath)
    </div>
}

@section sideMenu {
    @(Html.CabSidePanel((string)ViewBag.MenuName, (string)ViewBag.MenuHeader))
}

<style>
</style>

<div id='op-wait'>
    <span><img src='@Url.Content("Images/ajax-loader.gif")' height='22' width='22'></span>
    <span>справка загружается...</span>
</div>

@(Html.Kendo().TabStrip().Name("cabHelpTab")
    .Items(tab =>
    {
        //tab.Add().Text("Хранилище").Selected(true).LoadContentFrom("StorageHelpPartial", "Storage");
        tab.Add().Text("Справка").Selected(true).LoadContentFrom("CabHelpPart", "Help", new { @help_id = ViewBag.HelpId });
    })
    .HtmlAttributes(new { @class = "notabheader" })
            .Events(ev => ev.ContentLoad("cabHelp.onCabHelpTabContentLoad"))
)
<script>
    var goto_cabHelpId = null;
    @if (!String.IsNullOrEmpty(ViewBag.HelpId))
    {
        @:goto_cabHelpId = @ViewBag.HelpId;
    }
</script>
