﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util


@{
    ViewBag.Title = "Справка";
    Layout = null;
}

<style>
</style>

<p>
    <h4>Сменить пароль</h4>
</p>
<p>
    Раздел Личного Кабинета: меню пользователя -> Сменить пароль
<p>
    <img src='@Url.Content("~/Images/views/user/user02.jpg")' width="80%" title="Смена пароля" />
</p>
<p>
    На странице смены пароля нужно указать свой текущий пароль и дважды ввести желаемый новый пароль
</p>
<p>
    После нажатия на конпку "Изменить" (1) и подтверждения операции пароль будет изменен
</p>

<script>
</script>


