﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util


@{
    ViewBag.Title = "Справка";
    Layout = null;
}

<style>
</style>

<p>
    <h4 id="top">Задачи</h4>
</p>
<p>
    <ul class="list-unstyled">
        <li>
            <a href="#list">Список задач</a>
        </li>
        <li>
            <a href="#add">Добавление задачи</a>
        </li>
        <li>
            <a href="#calend">Работа с календарем</a>
        </li>
        <li>
            <a href="#arc">Архив задач</a>
        </li>
        <li>
            <a href="#sprav">Справочники</a>
        </li>
        <li>
            <a href="#log">История операций</a>
        </li>
        <li>
            <a href="#notify">Настройка уведомлений</a>
        </li>
    </ul>
</p>
<hr />
<h4 id="list">
    Список задач
</h4>
<a class="pull-right" href="#top">наверх</a>
<p>
    Раздел Личного Кабинета: Сервис -> Задачи -> Все задачи (1)
</p>
<p>
    <img src='@Url.Content("~/Images/views/crm/crm01.jpg")' width="80%" title="Список задач" />
</p>
<p>
    <img src='@Url.Content("~/Images/views/crm/crm02.jpg")' width="55%" title="Настройка колонок списка" />
</p>
<p>
    Внешний вид списка задач настраивается индивидуально для каждого пользователя.
</p>
<p>
    Цвет строк определяется настройкой в разделе "Справочники" (<a href="#sprav">перейти к описанию</a>).
</p>
<p>
    Состав и порядок колонок определяется настройкой колонок списка, открывающейся по нажатию на кнопку "Настройка списка" (2) (в правой верхней части списка).
    Чтобы поменять порядок колонок - нужно строчки с колонками перетащить левой кнопкой мыши вверх или вниз (3).
    Чтобы показать/скрыть колонку - нужно поставить/убрать галочку во втором столбце списка (4).
</p>
<p>
    Ширина колонок, а также сортировка и фльтры по колонкам регулируется стандартным образом. Чтобы сохранить ширину, сортировку и фильтры нужно нажать кнопку "Сохранить фильтры и сортировку" (5) (в правой верхней части списка).
</p>
<p>
    Список задач разбит на группы - неразобранные, обработанные, к утверждению, в работе, в версии, закрытые, все (6).
    Текущая выбранная пользователем группа применяется как фильтр к списку задач и сохраняется в дальнейшем как группа по умолчанию.
</p>
<p>
    Помимо стандартных фильтров по колонкам, в списке задач есть дополнительные фильтры, открывающиеся по кнопке "Фильтры" (7).
    Там можно задать одно или несколько дополнительных условий фильтрации списка задач.
</p>
<p>
    Кнопка "Очистить фильтры" (8) (в правой верхней части списка) сбросит все текущие примененные к списку задач фильтры (кроме фильтра по группе !)
</p>
<p>
    В левой верхней части списка задач есть выпадающий список "Действие..." (9). Это набор операций, применяющихся к списку отмеченных галочкой задач.
    Операции переносят задачи между группами, ставят/убирают задачи на контроль текущему пользователю, переносят задачи в архив.
</p>
<p>
    Список задач можно выгрузить в Excel и PDF (10).
    Галочка "экспорт всех страниц" регулирует, выгружать ли весь отфильтрованный текущий список задач или только текущую отображенную страницу списка.
</p>
<hr />
<h4 id="add">
    Добавление задачи
</h4>
<a class="pull-right" href="#top">наверх</a>
<p>
    Раздел Личного Кабинета: Сервис -> Задачи -> Все задачи (1)
</p>
<p>
    <img src='@Url.Content("~/Images/views/crm/crm03.jpg")' width="80%" title="Список задач" />
</p>
<p>
    Добавить новую задачу можно двумя способами:
    <ul>
        <li>
            в отдельной странице (2)
        </li>
        <li>
            во всплывающем окне (3)
        </li>
    </ul>
</p>
<p>
    Эти два варианта отличаются только способом ввода атрибутов задачи, выбор варианта зависит от предпочтения пользователя
</p>
<h4>
    Добавление задачи в отдельной странице
</h4>
<p>
    <img src='@Url.Content("~/Images/views/crm/crm04.jpg")' width="80%" title="Добавление задачи в отдельной странице" />
</p>
<p>
    Заполнить атрибуты задачи:
</p>
<p>
    <ul>
        <li>
            кратко
        </li>
        <li>
            подробно
        </li>
        <li>
            клиент
        </li>
        <li>
            группа
        </li>
        <li>
            приоритет
        </li>
        <li>
            цена
        </li>
        <li>
            модерация
        </li>
        <li>
            в календаре
        </li>
        <li>
            проект
        </li>
        <li>
            модуль
        </li>
        <li>
            версия обнаружения
        </li>
        <li>
            ответственный
        </li>
        <li>
            исполнитель
        </li>
        <li>
            статус
        </li>
        <li>
            плановая дата
        </li>
        <li>
            фактическая дата
        </li>
        <li>
            версия исполнения
        </li>
    </ul>
</p>
<p>
    После этого нажать на кнопку "Сохранить" (1). Задача будет сохранена и произойдет переход в редактор задачи.
    Там будут доступны все те же атрибуты, что и при добавлении задачи, а также появится возможность добавить подзадачи, комментарии и файлы к задаче
</p>
<p>
    <img src='@Url.Content("~/Images/views/crm/crm05.jpg")' width="80%" title="Редактор задачи" />
</p>
<h4>
    Добавление задачи во всплывающем окне
</h4>
<p>
    <img src='@Url.Content("~/Images/views/crm/crm06.jpg")' width="80%" title="Добавление задачи во всплывающем окне" />
</p>
<p>
    Здесь доступны все те же атрибуты, и сразу же можно добавить подзадачи и комментарии
</p>

<hr />
<h4 id="calend">
    Работа с календарем
</h4>
<a class="pull-right" href="#top">наверх</a>
<p>
    Раздел Личного Кабинета: Сервис -> Задачи -> Календарь (1)
</p>
<p>
    <img src='@Url.Content("~/Images/views/crm/crm21.jpg")' width="80%" title="Календарь задач" />
</p>
<p>
    В календаре происходит ежедневная работа по планированию и учету выполнения задач.
</p>
<p>
    Календарь представляет собой таблицу, строки которой - это пользователи ЛК, определенные для работы в календаре, столбцы - это календарные даты.
    В ячейках календаря находятся задачи, определенные для пользователя на заданные даты.
</p>
<p>
    Каждая задача может быть растянута по горизонтали на несколько дат, но не может быть растянута по вертикали на несколько сотрдников.
</p>
<p>
    Каждая строка дополнительна разделена на три группы - срочные, важные, обычные. Это позволяет выстраивать задачи для осотрудника по приоритету важности задач.
</p>
<p>
    Перетаскивание и растягивание заведенных в календарь задач осуществлестся левой кнопкой мыши.
</p>
<p>
    При наведении курсора на задачу появится всплывающая подсказка с более детальной информацией по задаче
</p>
<p>
    Цветовая гамма задач соответствует настройкам цветов в справочнике (см. раздел справки <a href="#sprav">Справочники</a>). Красный цвет задачи говорит о том, что она просрочена,
    т.е. статус задачи не соответствует статусу "выполнено" для текущего сотрудника (см. настройку Роли пользователей и статусы "выполнено" для календаря в  разделе справки <a href="#sprav">Справочники</a>),
    и плновая дата исполнения задачи уже прошла.
</p>
<p>
    Календарь можно отфильтовать по исполнителю (2) и по диапазонам дат (3).
</p>
<p>
    Календарь можно выгрузить в Excel либо в PDF (4)
</p>
<p>
    Календарь можно перелистывать вперед и назад (5)
</p>
<p>
    Добавление задачи в календарь возможно тремя способами:
</p>
<p>
    <ol>
        <li>
            выбрать существующую задачу и добавить ее в календарь
        </li>
        <li>
            создать новую задачу и добавить ее в календарь
        </li>
        <li>
            создать новое событие в календаре
        </li>
    </ol>        
</p>
<p>
    <h4>1. Добавление существующей задачи</h4>
</p>
<p>
    Чтобы добавить в календарь существующую задачу, нужно нажать правой кнопкой мыши на нужную ячейку и выбрать пункт всплывающего меню "Выбрать задачу".
    Появится окно со списком задач.
</p>
<p>
    <img src='@Url.Content("~/Images/views/crm/crm22.jpg")' width="80%" title="Список задач лдя выбора" />
</p>
<p>
    В этом списке необходимо найти нужную задачу, кликнуть на нее левой кнопкой мыши (чтобы описание задачи появилось под списком (1)) и нажать на кнопку "Сохранить" (2)
</p>
<p>
    После этого окно закроется и в календаре (в выбранной ячейке) появится выбранная задача
</p>
<p>
    <h4>2. Добавление новой задачи</h4>
</p>
<p>
    Чтобы создать и добавить в календарь новую задачу, нужно нажать правой кнопкой мыши на нужную ячейку и выбрать пункт всплывающего меню "Добавить новую задачу".
    Появится окно для создания задачи.
</p>
<p>
    <img src='@Url.Content("~/Images/views/crm/crm23.jpg")' width="80%" title="Создание новой задачи" />
</p>
<p>
    В этом окне необходимо заполнить все атрибуты задачи (плановая дата и признак "в календаре" уже будут проинициализированы) и нажать кнопку "Сохранить и выйти" (1)
</p>
<p>
    После этого окно закроется, задача создастся и появится в календаре (в выбранной ячейке)
</p>
<p>
    <h4>3. Добавление нового события</h4>
</p>
<p>
    Событие не является задачей, его можно использовать в случае, если работа по исполнению события не вписывается в рамки стандартных задач, выполняемых сотрудниками компании, либо если трудозатраты на исполнения событие минимальны и не требуют учета.
</p>
<p>
    Чтобы создать в календаре новое событие, нужно нажать правой кнопкой мыши на нужную ячейку и выбрать пункт всплывающего меню "Добавить новое событие".
    Появится окно для создания события.
</p>
<p>
    <img src='@Url.Content("~/Images/views/crm/crm24.jpg")' width="80%" title="Создание события" />
</p>
<p>
    В этом окне необходимо заполнить все атрибуты события и нажать кнопку "Сохранить" (1)
</p>
<p>
    После этого окно закроется, событие создастся и появится в календаре (в выбранной ячейке)
</p>
<hr />
<h4 id="arc">
    Архив задач
</h4>
<a class="pull-right" href="#top">наверх</a>
<p>
    Раздел Личного Кабинета: Сервис -> Задачи -> Архив (1)
</p>
<p>
    <img src='@Url.Content("~/Images/views/crm/crm07.jpg")' width="80%" title="Архив задач" />
</p>
<p>
    Здесь находятся задачи, отправленные в архив из основного списка задач. Это могут быт ошибочно заведенные задачи, дубликаты, закрытые задачи, старые задачи.
</p>
<p>
    Выделенные галочкой строки с задачами можно восстановить из архива (кнопка "Вернуть из архива" (2)). Такие задачи снова будут доступны для работы в списке задач.
</p>
<hr />
<h4 id="sprav">
    Справочники
</h4>
<a class="pull-right" href="#top">наверх</a>
<p>
    Раздел Личного Кабинета: Сервис -> Задачи -> Справочники (1)
</p>
<p>
    <img src='@Url.Content("~/Images/views/crm/crm08.jpg")' width="80%" title="Справочники" />
</p>
<p>
    Здесь происходит работа со справочниками, используемыми в задачах.
</p>
<p>
    Список справочников:
</p>
<p>
    <ul>
        <li>
            Статусы
        </li>
        <li>
            Приоритеты
        </li>
        <li>
            Проекты
        </li>
        <li>
            Участники проектов
        </li>
        <li>
            Модули проектов
        </li>
        <li>
            Версии модулей
        </li>
        <li>
            Роли пользователей и статусы "выполнено" для календаря
        </li>
        <li>
            Клиенты
        </li>
    </ul>
</p>
<p>
    <h4>1. Статусы</h4>
</p>
<p>
    <img src='@Url.Content("~/Images/views/crm/crm09.jpg")' width="80%" title="Справочник статусов" />
</p>
<p>
    Здесь отображается список статусов задач. В справочник можно добавить новый статус (кнопка "Добавить" (1)), удалить статус (кнопка "Удалить" (2))
    и откорректировать атрибуты статуса (кнопка "Изменить" (3)):
</p>
<p>
    <ul>
        <li>
            наименование
        </li>
        <li>
            цвет задачи с данным статусом
        </li>
        <li>
            порядковый номер статуса в выпадающем списке в задачах
        </li>
    </ul>
</p>
<p>
    <h4>2. Приоритеты</h4>
</p>
<p>
    <img src='@Url.Content("~/Images/views/crm/crm10.jpg")' width="80%" title="Справочник приоритетов" />
</p>
<p>
    Здесь отображается список приоритетов задач. В справочник можно добавить новый приоритет (кнопка "Добавить" (1)), удалить приоритет (кнопка "Удалить" (2))
    и откорректировать атрибуты приоритета (кнопка "Изменить" (3)):
</p>
<p>
    <ul>
        <li>
            наименование
        </li>
        <li>
            цвет задачи с данным приоритетом
        </li>
        <li>
            порядковый номер приоритета в выпадающем списке в задачах
        </li>
        <li>
            признак "приоритет = на контроле" (используется для отслеживания задач, поставленных на контроль)
        </li>
    </ul>
</p>
<p>
    <h4>3.Проекты</h4>
</p>
<p>
    <img src='@Url.Content("~/Images/views/crm/crm11.jpg")' width="80%" title="Справочник проектов" />
</p>
<p>
    Здесь отображается список проектов задач. В справочник можно добавить новый проект (кнопка "Добавить" (1)), удалить проект (кнопка "Удалить" (2))
    и откорректировать атрибуты проекта (кнопка "Изменить" (3)):
</p>
<p>
    <ul>
        <li>
            наименование
        </li>
        <li>
            цвет задачи с данным проектом
        </li>
        <li>
            порядковый номер проекта в выпадающем списке в задачах
        </li>
    </ul>
</p>
<p>
    <h4>4.Участники и модули проекта</h4>
</p>
<p>
    <img src='@Url.Content("~/Images/views/crm/crm12.jpg")' width="80%" title="Справочники участников и модулей проекта" />
</p>
<p>
    Здесь отображается список участников и список модулей выбранного проекта (1). В справочники можно добавить новоых участника и модуль (кнопка "Добавить" (2)), удалить участника и модуль (кнопка "Удалить" (3))
    и откорректировать атрибуты участника и модуля (кнопка "Изменить" (4)):
</p>
<p>
    <ul>
        <li>
            наименование
        </li>
    </ul>
</p>
<p>
    <h4>5.Версии модуля</h4>
</p>
<p>
    <img src='@Url.Content("~/Images/views/crm/crm13.jpg")' width="80%" title="Справочник версий модуля" />
</p>
<p>
    Здесь отображается список версий выбранного модуля (1). В справочник можно добавить новую версию (кнопка "Добавить" (2)), удалить версию (кнопка "Удалить" (3))
    и откорректировать атрибуты версии (кнопка "Изменить" (4)):
</p>
<p>
    <ul>
        <li>
            номер версии
        </li>
    </ul>
</p>
<p>
    <h4>6.Роли пользователей и статусы "выполнено" для календаря</h4>
</p>
<p>
    <img src='@Url.Content("~/Images/views/crm/crm14.jpg")' width="80%" title="Роли пользователей и статусы 'выполнено' для календаря" />
</p>
<p>
    Здесь отображается спсиок ролей пользователей в задачах. При нажатии на стрелку в левой части строки с ролью (1) раскроется список статусов, которые определены для данной роли как статус "задача выполнена".
    По этим настройкам определяется, является ли задача просроченной или нет в календаре у пользователя с этой ролью.
    Можно добавлять (2), корректировать (3) и удалять (4) вхождение статусов в роль.
</p>
<p>
    У роли можно проставить галочку "Игнорировать плановую дату" (5).
    Это означает, что плановая дата выполнения задачи не будет учитываться при определении, является ли задача просроченной или нет в календаре у пользователя с этой ролью.
</p>
<p>
    <ul>
        <li>
            номер версии
        </li>
    </ul>
</p>
<p>
    <h4>7. Клиенты</h4>
</p>
<p>
    <img src='@Url.Content("~/Images/views/crm/crm15.jpg")' width="80%" title="Справочник клиентов" />
</p>
<p>
    Здесь отображается список клиентов, используемых в задачах.
</p>
<p>
    <strong>ВАЖНО !!!</strong>
    Этот справочник по историческим причинам никак не связан с общим справочником клиентов компании
</p>
<p>
    В справочник можно добавить нового клиента (кнопка "Добавить" (1)), удалить клиента (кнопка "Удалить" (2))
    и откорректировать атрибуты клиента (кнопка "Изменить" (3)):
</p>
<p>
    <ul>
        <li>
            наименование
        </li>
    </ul>
</p>
<hr />
<h4 id="log">
    История операций
</h4>
<a class="pull-right" href="#top">наверх</a>
<p>
    Раздел Личного Кабинета: Сервис -> Задачи -> История (1)
</p>
<p>
    <img src='@Url.Content("~/Images/views/crm/crm16.jpg")' width="80%" title="История операций" />
</p>
<p>
    Здесь отображается список всех операций с задачами, выполненных пользователями в Личном Кабинете
</p>
<p>
    Список отсортирован по убыванию даты операции (т.е. сверху находятся самые свежие операции)
</p>
<hr />
<h4 id="notify">
    Настройка уведомлений
</h4>
<a class="pull-right" href="#top">наверх</a>
<p>
    Раздел Личного Кабинета: Сервис -> Задачи -> Уведомления (1)
</p>
<p>
    <img src='@Url.Content("~/Images/views/crm/crm17.jpg")' width="80%" title="Настройка уведомлений (первый шаг)" />
</p>
<p>
    Здесь находится разбитый на страницы диалог настройки отправки уведомлений о изменения в задачах на ICQ и электронную почту текущему пользователю
</p>
<p>
    <strong>ВАЖНО !!!</strong>Отправка на электронную почту будет реализована в ближайшее время
</p>
<p>
    На первой странице (2) нужно указать, куда присылать уведомления (номер ICQ, адрес электронной почты (3)), а также включить либо отключить доставку уведомлений на указанные адреса (4)
    Для сохранения изменений нужно нажать кнопку "Сохранить изменения" (5) и перейти к следующей странице
</p>
<p>
    <img src='@Url.Content("~/Images/views/crm/crm18.jpg")' width="80%" title="Настройка уведомлений (второй шаг)" />
</p>
<p>
    На второй странице (6) нужно указать, изменения в чьих задачах нужно отслеживать.
    Отдельно указывается, является ли отслеживаемый пользователь исполнителем по задачам (7) или ответственным по задачам (8) (или оба варианта).
    Галочкой в заголовке колонок можно выделить (или снять выделение) сразу все строки (9).
    Для сохранения изменений нужно нажать кнопку "Сохранить изменения" (10) и перейти к следующей странице
</p>
<p>
    <img src='@Url.Content("~/Images/views/crm/crm19.jpg")' width="80%" title="Настройка уведомлений (третий шаг)" />
</p>
<p>
    На третьей странице (11) нужно указать, изменения каких атрибутов задачи нужно отслеживать.
    Галочкой в заголовке колонок можно выделить (или снять выделение) сразу все строки (12).
    Для сохранения изменений нужно нажать кнопку "Сохранить изменения" (13) и перейти к следующей странице
</p>
<p>
    <img src='@Url.Content("~/Images/views/crm/crm20.jpg")' width="80%" title="Настройка уведомлений (четвертый шаг)" />
</p>
<p>
    На четвертой странице (14) нужно указать, какие атрибуты задачи присылать в уведомлениях.
    Галочкой в заголовке колонок можно выделить (или снять выделение) сразу все строки (15).
    Для сохранения изменений нужно нажать кнопку "Сохранить изменения" (16).
    После этого настройки уведомлений будут завершены.
</p>

<script>
</script>


