﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util


@{
    ViewBag.Title = "Справка";
    Layout = null;
}

<style>
</style>

<p>
    <h4 id="top">Брак</h4>
</p>
<p>
    <ul class="list-unstyled">
        <li>
            <a href="#list">Список брака</a>
        </li>
        <li>
            <a href="#log">Журнал скачивания</a>
        </li>
    </ul>
</p>
<hr />
<h4 id="list">
    Список брака
</h4>
<a class="pull-right" href="#top">наверх</a>
<p>
    Раздел Личного Кабинета: Услуги -> Брак -> Список брака (1)
</p>
<p>
    <img src='@Url.Content("~/Images/views/defect/defect01.jpg")' width="80%" title="Список брака" />
</p>
<p>
    В списке брака отображаются строки в текущем реестре забракованных препаратов.
    Список можно фильтровать по всем колонкам.
</p>
<p>
    Обновление реестра происходит ежедневно рано утром, новые строки скачиваются с сайта Росздравнадзора: <a href="http://www.roszdravnadzor.ru/services/lssearch" target="_blank">http://www.roszdravnadzor.ru/services/lssearch</a>
</p>
<hr />
<h4 id="log">
    Журнал скачивания
</h4>
<a class="pull-right" href="#top">наверх</a>
<p>
    Раздел Личного Кабинета: Услуги -> Брак -> Журнал скачивания (2)
</p>
<p>
    <img src='@Url.Content("~/Images/views/defect/defect02.jpg")' width="80%" title="Журнал скачивания брака" />
</p>
<p>
    В журнале скачивания брака отображается информация о попытках скачивания бракак клиентами через модуль "ЖПК" либо через модуль "Склад".
    Список можно фильтровать по всем колонкам.
</p>
<p>
    Каждая строка соответствует одной попытке скачивания. Если попытка было удачной - в колонке "Статус запроса" должно быть написано "Подтверждено".
    Если попытка не удалась - в колонке "Статус запроса" должно быть написано "Не подтверждено".    
</p>
<p>
    <strong>ВАЖНО !!!</strong>
    Если у какого-либо клиента большинство строк находятся в статусе "Не подтверждено" - это говорит о каких-то проблемах у данного клиента со скачиванием брака.
    Рекомендуется связаться с ним для выяснения обстоятельств проблемы.
</p>

<script>
</script>


