﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util


@{
    ViewBag.Title = "Справка";
    Layout = null;
}

<style>
</style>

<p>
    <h4 id="top">Расслыка</h4>
</p>
<p>
    <ul class="list-unstyled">
        <li>
            <a href="#delivery">Добавление рассылки</a>
        </li>
        <li>
            <a href="#send">Запуск рассылки</a>
        </li>
        <li>
            <a href="#template">Добавление шаблонов рассылки</a>
        </li>
    </ul>
</p>
<hr />
<h4 id="delivery">
    Добавление рассылки
</h4>
<a class="pull-right" href="#top">наверх</a>
<p>
    Раздел Личного Кабинета: Клиенты -> Рассылка -> Рассылки (1)
</p>
<p>
    <img src='@Url.Content("~/Images/views/delivery/delivery01.jpg")' width="80%" title="Рассылки" />
</p>
<p>
    Нажать кнопку "Добавить рассылку" (2). Появится окно добавления новой рассылки
</p>
<p>
    <img src='@Url.Content("~/Images/views/delivery/delivery02.jpg")' width="80%" title="Добавление рассылки" />
</p>
<p>
    Нужно задать атрибуты новой рассылки:
</p>
<p>
    <ul>
        <li>
            Наименование рассылки
            <em>будет отображаться в списке рассылок</em>
        </li>
        <li>
            Шаблон рассылки
            <em>из него будет браться тема и текст рассылки</em>
        </li>
    </ul>
</p>
<p>
    Затем нужно выбрать из списка клиентов компании тех клиентов, которым будет отправлена эта расылка.
</p>
<p>
    Для этого в левом списке клиентов (1) нужно найти одного или несколько клиентов для рассылки, выделить их левой кнопкой мыши и нажать кнопку "Отправить в список выбранных" (2).
    Выделенные клиенты появтся в правом списке (3).
</p>
<p>
    Если у клиента не указан адрес электронной почты, его можно вручную ввести во второй колонке правого списка (4).
</p>
<p>
    При нажатии на кнопку "Сохранить" (5) рассылка будет сохранена, но не будет запущена, ее можно будет запустить позже в списке рассылок.
    При нажатии на кнопку "Сохранить и запустить" (6) рассылка будет сохранена и сразу запущена.
</p>
<hr />
<h4 id="send">
    Запуск рассылки
</h4>
<a class="pull-right" href="#top">наверх</a>
<p>
    Раздел Личного Кабинета: Клиенты -> Рассылка -> Рассылки (1)
</p>
<p>
    <img src='@Url.Content("~/Images/views/delivery/delivery03.jpg")' width="80%" title="Рассылки" />
</p>
<p>
    Нажать кнопку "Запустить" (2). После подтверждения выполнения операции рассылка будет запущена.
</p>
<p>
    <img src='@Url.Content("~/Images/views/delivery/delivery04.jpg")' width="80%" title="Запущенная рассылка" />
</p>
<p>
    При нажатии на кнопку "Прервать" (3) выполнение рассылки будет прервано.
    При нажатии на кнопку "Обновить" (4) будет обновляться статус рассылки.
</p>
<p>
    <img src='@Url.Content("~/Images/views/delivery/delivery09.jpg")' width="80%" title="Завершенная рассылка" />
</p>
<p>
    Завершенная рассылка будет иметь статус "Выполнена" (5), а также информацию об общем количестве обработанных строк, о количестве обработанных успешно строк и количестве обработанных строк с ошибкой (6)
</p>
<p>
    Завершенную рассылку можно запустить повторно нажатием на кнопку "Запустить" (7).
    При этом в списке рассылок появится новая строка даннной рассылки, с номером запуска, увеличенным на единицу.
</p>
<p>
    При нажатии на ссылку в колонке "Наименование" (8) откроется диалог редакиорвания состава клиентов для рассылки.
</p>
<p>
    При нажатии на ссылку в колонке "Номер запуска" (9) откроется диалог просмотра детализации рассылки.
    В диалоге будет отображен список клиентов из рассылки с указанием адреса электронной почты, статуса рассылки, даты и комментария (10)
</p>
<p>
    <img src='@Url.Content("~/Images/views/delivery/delivery10.jpg")' width="80%" title="Детализация рассылки" />
</p>

<hr />
<h4 id="template">
    Добавление шаблонов рассылки
</h4>
<a class="pull-right" href="#top">наверх</a>
<p>
    Раздел Личного Кабинета: Клиенты -> Рассылка -> Шаблоны рассылки (1)
</p>
<p>
    <img src='@Url.Content("~/Images/views/delivery/delivery07.jpg")' width="80%" title="Шаблоны рассылки" />
</p>
<p>
    Нажать кнопку "Добавить шаблон" (2). Появится окно добавления нового шаблона рассылки
</p>
<p>
    <img src='@Url.Content("~/Images/views/delivery/delivery11.jpg")' width="80%" title="Добавление шаблона рассылки" />
</p>
<p>
    Нужно задать атрибуты шаблона:
</p>
<p>
    <ul>
        <li>
            Группа шаблонов
        </li>
        <li>
            Название шаблона
        </li>
        <li>
            Тема шаблона
        </li>
        <li>
            Текст шаблона
        </li>
        <li>
            Список файлов для прикрепления к письму
        </li>
    </ul>
</p>
<p>
    При нажатии на кнопку "Сохранить" (1) шаблон будет сохранен и будет доступен для использования в рассылках
</p>

<script>
</script>


