﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util


@{
    ViewBag.Title = "Справка";
    Layout = null;
}

<style>
</style>

<p>
    <h4 id="top">Дисконтные карты</h4>
</p>
<p>
    <ul class="list-unstyled">
        <li>
            <a href="#business">Добавление организации к дисконтному сервису</a>
        </li>
        <li>
            <a href="#cardtype">Добавление типов карт для организации</a>
        </li>
        <li>
            <a href="#card">Добавление карт для организации</a>
        </li>
        <li>
            <a href="#programm">Добавление алгоритма для организации</a>
        </li>
        <li>
            <a href="#kassa">Настройка Кассы</a>
        </li>
        <li>
            <a href="#programm-avialable">Доступные алгоритмы</a>
        </li>
        <li>
            <a href="#programm-model">Как устроены дисконтные алгоритмы</a>
        </li>
    </ul>
</p>
<hr />
<h4 id="business">
    Добавление организации к дисконтному сервису
</h4>
<a class="pull-right" href="#top">наверх</a>
<p>
    Раздел Личного Кабинета: Услуги -> Дисконтные карты -> Организации (1)
</p>
<p>
    <img src='@Url.Content("~/Images/views/discount/discount01.jpg")' width="80%" title="Организации дисконтного сервиса" />
</p>
<p>
    Нажать кнопку "Добавить организацию" (2) (находится над списком организации).
</p>
<p>
    Появится окно добавления организации к дисконтному сервису.
</p>
<p>
    <img src='@Url.Content("~/Images/views/discount/discount02.jpg")' width="80%" title="Добавление организации" />
</p>
<p>
    Выбрать из списка клиентов компании (3) организацию для подключения к дисконтному сервису.
</p>
<p>
    Задать необходимые параметры:
    <ul>
        <li>
            Часовой пояс
        </li>
        <li>
            Запрет ручного выбора карт
        </li>
        <li>
            Не различать сканер штрих-кодов и картридер при выборе карты
        </li>
        <li>
            Разрешено добавлять карты через Кассу
        </li>
    </ul>
</p>
<p>
    Нажать на кнопку "Сохранить и продолжить" (4).
</p>
<p>
    После этого в окне редактирования организации появится код, присвоенной данной организации для дисконтного сервиса (5).
    Его нужно будет позже скопировать и вставить в конфигуратор Кассы в разделе настроек дисконтного сервиса.
</p>
<p>
    <img src='@Url.Content("~/Images/views/discount/discount03.jpg")' width="80%" title="Код организации" />
</p>
<p>
    В этом же окне нужно добавить отделения организации (кнопка "Добавить отделение" (6)), в которых должен будет работать дисконтный сервис.
</p>
<p>
    <img src='@Url.Content("~/Images/views/discount/discount04.jpg")' width="80%" title="Отделения организации" />
</p>
<p>
    Задать необходимые параметры:
    <ul>
        <li>
            Название (адрес) отделения
        </li>
        <li>
            Часовой пояс
        </li>
        <li>
            Запрет ручного выбора карт
        </li>
        <li>
            Не различать сканер штрих-кодов и картридер при выборе карты
        </li>
        <li>
            Разрешено добавлять карты через Кассу
        </li>
    </ul>
</p>
<p>
    В списке отделений организации появится добавленное отделение.
</p>
<p>
    В это отделение теперь нужно добавить пользователя - раскрыть строчку с отделением (значок ">" в самой левой колонке строчки) и нажать кнопку "Добавить" (7). Задать логин, пароль, описание пользователя (например, ФИО). Для сохранения нажать кнопку "Обновить".
</p>
<p>
    <img src='@Url.Content("~/Images/views/discount/discount05.jpg")' width="80%" title="Пользователи организации" />
</p>
<hr />
<h4 id="cardtype">
    Добавление типов карт для организации
</h4>
<a class="pull-right" href="#top">наверх</a>
<p>
    <strong>ВАЖНО !!!</strong>
    Чтобы работать с картами нужной организации, нужно в ЛК разделе "Профиль" (находится в левой нижней части страницы) сменить текущую организацию.
</p>
<p>
    <img src='@Url.Content("~/Images/views/discount/discount06.jpg")' width="40%" title="Смена организации" />
</p>
<p>
    Для этого нужно нажать на ссылку с названием текущей организации (8) (напр. "ООО Аурит"), после этого появится всплывающее окно "Выберите организацию" со списком всех доступных организаций. В этом списке найти нужную организацию и дважды щелкнуть по ней левой клавишей мыши. После этого всплывающее окно закроется, страница ЛК перезагрузится и в разделе "Профиль" должны появиться данные по нужной организации.
</p>
<p>
    Теперь можно добавить типы карт для текущей организации.
</p>
<p>
    Раздел Личного Кабинета: Услуги -> Дисконтные карты -> Типы карт
</p>
<p>
    Нажать кнопку "Добавить тип карты" (9) (находится над списком организации).
    Появится окно добавления типа карты.
</p>
<p>
    <img src='@Url.Content("~/Images/views/discount/discount07.jpg")' width="80%" title="Добавление типа карты" />
</p>
<p>
    Задать необходимые параметры:
    <ul>
        <li>
            Наименование типа карт
        </li>
        <li>
            Признак "Обновлять номиналы при выборе карты"
            <div class="text-muted">используется в Кассе при поиске карты - если этот признак включен, то когда в Кассе находится карта с заданным номером, перед отображением данных по карте на экране пересчитываются все ее номиналы (бонусы, скидки, сумма накоплений)</div>
        </li>
        <li>
            Группа карт (дисконтная, бонусная, дисконтно-бонусная)
        </li>
        <li>
            Дисконтный алгоритм
            <div class="text-muted">для новых организаций алгоритмов пока нет, этот параметр не заполняется</div>
        </li>
        <li>
            Признаки, что нужно печатать на чеках в Кассе при продаже по картам этого типа
            <div><strong>ВАЖНО !!!</strong><span class="text-muted">В Кассе это пока не реализовано</span></div>
        </li>
    </ul>
</p>
<p>
    Нажать на кнопку "Сохранить". (10)
    После этого откроется окно редактирования созданного типа карты, в котором можно внести корректировки в параметры, заданные при создании.
</p>
<hr />
<h4 id="card">
    Добавление карт для организации
</h4>
<a class="pull-right" href="#top">наверх</a>
<p>
    (Предварительно убедиться, что в "Профиле" выбрана нужная организация, см. раздел <a href="#cardtype">Добавление типов карт для организации</a>)
</p>
<p>
    Раздел Личного Кабинета: Услуги -> Дисконтные карты -> Карты
</p>
<p>
    <img src='@Url.Content("~/Images/views/discount/discount08.jpg")' width="80%" title="Дисконтные карты" />
</p>
<p>
    Можно добавить одну карту (кнопка "Добавить карту" (11)), либо можно добавить набор карт (кнопка "Добавить набор карт" (12)).
</p>
<p>
    <strong>Добавление одной карты</strong>
</p>
<p>
    <img src='@Url.Content("~/Images/views/discount/discount09.jpg")' width="80%" title="Добавление карты" />
</p>
<p>
    Задать необходимые параметры:
    <ul>
        <li>
            Номер карты (числовой)
        </li>
        <li>
            Доп. номер карты (символьный)
        </li>
        <li>
            Период действия карт (с - по)
            <div class="text-muted">дату окончания можно не указывать, тогда это будет бессрочная карта</div>
        </li>
        <li>
            Тип карт
            <div class="text-muted">выбирается тип из выпадающего списка всех доступных типов карт для организации</div>
        </li>
        <li>
            Статус карты
        </li>
        <li>
            Владелец карты
            <div class="text-muted">если ранее были заведены Владельцы карт, здесь можно выбрать нужного владельца</div>
        </li>
        <li>
            Накопленная сумма
            <div class="text-muted">можно ввести начальную сумму на карте</div>
        </li>
        <li>
            Процент скидки
            <div class="text-muted">можно ввести начальный процент скидки</div>
        </li>
        <li>
            Процент бонусов
            <div class="text-muted">можно ввести начальный процент бонусов</div>
        </li>
        <li>
            Сумма бонусов
            <div class="text-muted">можно ввести начальное количество бонусов</div>
        </li>
    </ul>
</p>
<p>
    Нажать на кнопку "Сохранить и продолжить" (13).
    После этого откроется окно редактирования созданной карты, в котором можно внести корректировки в параметры, заданные при создании.
</p>
<p>
    <strong>Добавление набора карт</strong>
</p>
<p>
    <img src='@Url.Content("~/Images/views/discount/discount10.jpg")' width="80%" title="Добавление набора карт" />
</p>
<p>
    Выбирается нужный тип карт, статус карт, дата начала действия карт, количество карт которые будут созданы (14).
</p>
<p>
    Далее задаются правила генерации номеров: (15)
    <ul>
        <li>
            Первые символы (от 1 до 3)
        </li>
        <li>
            Кол-во символов
        </li>
        <li>
            Первый номер
        </li>
        <li>
            Шаг увеличения номера
        </li>
        <li>
            Признак "Использовать контр символ"
        </li>
    </ul>
</p>
<p>
    Внизу в разделе "Что получается" (16) можно увидеть номер первой и номер последней карты, которые будут созданы с текущими правилами генерации номеров.
</p>
<p>
    Нажать на копку "Создать карты" (17).
</p>
<p>
    После этого откроется окно "Журнал пакетных операций", где в колонке "Статус" будет написан статус выполнения операции создания набора карт.
    Обновить данные можно по нажатию кнопки "Обновить".
    Когда статус перейдет в "Завершена" – это значит карты созданы.
</p>
<hr />
<h4 id="programm">
    Добавление алгоритма для организации
</h4>
<a class="pull-right" href="#top">наверх</a>
<p>
    (Предварительно убедиться, что в "Профиле" выбрана нужная организация, см. раздел <a href="#cardtype">Добавление типов карт для организации</a>)
</p>
<p>
    Раздел Личного Кабинета: Услуги -> Дисконтные карты -> Алгоритмы
</p>
<p>
    <img src='@Url.Content("~/Images/views/discount/discount11.jpg")' width="80%" title="Дисконтные алгоритмы" />
</p>
<p>
    Добавить алгоритм можно двумя способами - скопировать существующий алгоритм либо создать новый алгоритм (кнопка "Добавить алгоритм" (18))
</p>
<p>
    <strong>Копирование существующего алгоритма</strong>
</p>
<p>
    Скопировать алгоритм можно с любой организации. Для этого нужно в "Профиле" выбрать нужную организацию (см. описание выбора организации в п.2).
</p>
<p>
    <strong>ПРИМЕЧАНИЕ</strong>
    Много алгоритмов есть на организациях "!Тест_Монолит", "ООО Аурит"
</p>
<p>
    В появившемся списке алгоритмов найти нужный и нажать кнопку "Скопировать алгоритм" (19) (квадратик в предпоследней колонке списка).
    Появится всплывающее окно "Создать копию", в котором нужно выбрать целевую организацию (ту, в которой будет создан новый алгоритм) и нажать подтверждение.
</p>
<p>
    После этого снова нужно в "Профиле" сменить организацию на ту, в которой создавали алгоритм. В списке алгоритмов должен появиться новый алгоритм - копия исходного алгоритма.
</p>
<p>
    <strong>Создание нового алгоритма</strong>
</p>
<p>
    <img src='@Url.Content("~/Images/views/discount/discount12.jpg")' width="80%" title="Создание алгоритма" />
</p>
<p>
    Нажать на кнопку "Добавить алгоритм" (18). Появится окно с конструктором алгоритмов.
</p>
<p>
    <strong>ПРИМЕЧАНИЕ</strong>
    В верхней части окна есть ссылка на инструкцию (19) - как пользоваться конструктором алгоритмов.
</p>
<p>
    <strong>Привязка алгоритма к типу карт</strong>
</p>
<p>
    После создания алгоритма его нужно привязать к типу карт.
</p>
<p>
    Раздел Личного Кабинета: Услуги -> Дисконтные карты -> Типы карт.
</p>
<p>
    <img src='@Url.Content("~/Images/views/discount/discount13.jpg")' width="80%" title="Типы карт" />
</p>
<p>
    В списке типов карт найти нужный тип карты, нажать на ссылку с наименование типа карты (20) (первый столбец).
</p>
<p>
    <img src='@Url.Content("~/Images/views/discount/discount14.jpg")' width="80%" title="Привязка алгоритма к типу карт" />
</p>
<p>
    Откроется окно редактирования типа карты, в котором в разделе "Дисконтный алгоритм" (21) нужно выбрать из выпадающего списка нужный алгоритм и затем нажать на кнопку "Сохранить" (22).
</p>
<hr />
<h4 id="kassa">
    Настройка Кассы
</h4>
<a class="pull-right" href="#top">наверх</a>
<p>
    В конфигураторе кассы в разделе настроек дисконтного сервиса нужно прописать:
    <ul>
        <li>
            адрес сервиса
        </li>
        <li>
            код организации (полученный после создания организации)
        </li>
        <li>
            логин-пароль пользователя (заведенного в отделении организации)
        </li>
    </ul>
</p>
<p>
    После этого в Кассе можно продавать по картам, созданным для организации
</p>
<hr />
<h4 id="programm-avialable">
    Доступные алгоритмы
</h4>
<a class="pull-right" href="#top">наверх</a>
<p>
    (нажмите на картинку для увеличения)
</p>
<p>
    <a href="@Url.Content("~/Images/views/discount/discount15.png")" target="_blank">
        <img src='@Url.Content("~/Images/views/discount/discount15.png")' width="80%" title="Доступные алгоритмы" />
    </a>
</p>
<hr />
<h4 id="programm-model">
    Как устроены дисконтные алгоритмы
</h4>
<a class="pull-right" href="#top">наверх</a>
<p>
    <h5>1. Введение</h5>
</p>
<p>
    Дисконтный алгоритм (ДА) - совокупность параметров, шагов, условий и операций, позволяющая выполнить расчет продажи с использованием карт дисконтного сервиса
</p>
<p>
    ДА может применяться для любых типов карт – дисконтных, бонусных, дисконтно-бонусных, подарочных сертификатов, купонов и т.д.
</p>
<p>
    Специфика расчета продаж, зависящая от типа текущей карты, описывается в шагах ДА. Общие же правила выполнения ДА всегда одинаковы и не зависят от типа карты.
</p>
<p>
    Каждый ДА привязывается к определенному типу карты. В зависимости от того, для каких типов карт нужен ДА, настраиваются его “внутренности” - параметры, шаги, условия и опе-рации.
</p>
<p>
    <strong>ВАЖНО !</strong>
    Нельзя использовать ДА, созданный для одного типа карты, при расчете по другому типу карты.
</p>
<p>
    <h5>2. Общие правила выполнения ДА</h5>
</p>
<p>
    2.1. Из Кассы на дисконтный сервис уходит запрос на расчет по карте. В запросе есть:
</p>
<p>
    <ul>
        <li>
            код организации
        </li>
        <li>
            номер карты
        </li>
        <li>
            параметры продажи
        </li>
        <li>
            дополнительные специфические необязательные атрибуты
        </li>
    </ul>
</p>
<p>
    2.2. Дисконтный сервис ищет для данной организации и данной карты привязанный ДА. Если не находит – сообщение об этом отправляется в Кассу
</p>
<p>
    2.3. Найденный ДА запускается. В ходе выполнения ДА заполняет значениями свои выходные параметры. Также ДА может изменить значения параметров, полученных от Кассы (например, уменьшить сумму бонусов, переданную Кассой для оплаты продажи, если такая логика есть в ДА).
</p>
<p>
    2.4. Дисконтный сервис отсылает в Кассу ответ на запрос расчета по карте. В параметрах это-го ответа находятся все посчитанные ДА значения, плюс дополнительные специфические атрибуты.
</p>
<p>
    <h5>3. Внутренности ДА</h5>
</p>
<p>
    ДА состоит из четырех основных объектов:
</p>
<p>
    <ul>
        <li>
            Параметры
        </li>
        <li>
            Шаги
        </li>
        <li>
            Операции
        </li>
        <li>
            Условия
        </li>
    </ul>
</p>
<p>
    3.1 Параметры ДА
</p>
<p>
    Параметры ДА делятся на 3 группы:
</p>
<p>
    <ul>
        <li>
            Параметры карты
        </li>
        <li>
            Параметры продажи
        </li>
        <li>
            Настраиваемые параметры ДА
        </li>
    </ul>
</p>
<p>
    3.1.1 Параметры карты
</p>
<p>
    Когда от Кассы приходит запрос на расчет по карте, в нем содержится код организации и номер выбранной карты. По этим атрибутам дисконтный сервис находит карту и передает в ДА атрибуты этой карты.
    Если в ДА нужно реализовать какую-то операцию, связанную с атрибутами выбранной кар-ты – для этого нужно использовать Параметры карты.
</p>
<p>
    Доступные на текущий момент Параметры карты:
</p>
<p>
    <ol>
        <li>
            Сумма бонусов
        </li>
        <li>
            Процент скидки
        </li>
        <li>
            Сумма на сертификате
        </li>
        <li>
            Бонусный процент
        </li>
        <li>
            Сумма скидки
        </li>
        <li>
            Накопленная сумма на карте
        </li>
        <li>
            Количество продаж по карте
        </li>
        <li>
            Дата сгорания накопленной суммы
        </li>
        <li>
            Статус карты
        </li>
        <li>
            Лимит по карте (в деньгах)
        </li>
        <li>
            Использованный лимит по карте (в деньгах)
        </li>
        <li>
            Лимит по карте (в бонусах)
        </li>
        <li>
            Использованный лимит по карте (в бонусах)
        </li>
        <li>
            Сумма неактивных бонусов
        </li>
    </ol>
</p>
<p>
    3.1.2 Параметры продажи
</p>
<p>
    Когда от Кассы приходит запрос на расчет по карте, в нем содержатся Параметры продажи.
    Параметр продажи может быть определен как для позиции продажи, так и для всей продажи в целом.
    Если в ДА нужно реализовать какую-то операцию, связанную с позицией продажи либо со всей продажей – для этого нужно использовать Параметры продажи
</p>
<p>
    Доступные на текущий момент Параметры продажи:
</p>
<p>
    по позициям:
</p>
<p>
    <ol>
        <li>
            Номер позиции
        </li>
        <li>
            Сумма позиции
        </li>
        <li>
            Наименование позиции
        </li>
        <li>
            Количество позиций в продаже
        </li>
        <li>
            Количество единиц товара в позиции продажи
        </li>
        <li>
            Процент стоимости позиции от стоимости продажи
        </li>
        <li>
            Стоимость позиции со скидкой
        </li>
        <li>
            Сумма скидки по позиции
        </li>
        <li>
            Процент скидки по позиции
        </li>
        <li>
            Сумма бонусов к зачислению по позиции
        </li>
        <li>
            Процент бонусов к зачислению по позиции
        </li>
        <li>
            Сумма бонусов к оплате по позиции
        </li>
        <li>
            Процент бонусов к оплате по позиции
        </li>
        <li>
            Макс. процент скидки по позиции
        </li>
        <li>
            Макс. процент бонусов к зачислению по позиции
        </li>
        <li>
            Макс. процент бонусов к оплате по позиции
        </li>
        <li>
            Процент розничной наценки по позиции
        </li>
        <li>
            Позиция является ЖНВЛП
        </li>
        <li>
            Позиция участвует в промо-акции
        </li>
        <li>
            Процент НДС по позиции
        </li>
    </ol>
</p>
<p>
    по всей продаже:
</p>
<p>
    <ol>
        <li>
            Дата-время продажи
        </li>
        <li>
            Сумма продажи со скидкой
        </li>
        <li>
            Сумма скидки по продаже
        </li>
        <li>
            Процент скидки по продаже
        </li>
        <li>
            Сумма бонусов к зачислению по продаже
        </li>
        <li>
            Процент бонусов к зачислению по продаже
        </li>
        <li>
            Сумма бонусов к оплате по продаже
        </li>
        <li>
            Процент бонусов к оплате по продаже
        </li>
        <li>
            Карта выбрана сканером
        </li>
        <li>
            Карта выбрана карт-ридером
        </li>
    </ol>
</p>
<p>
    3.1.3 Настраиваемые параметры ДА
</p>
<p>
    На каждом ДА есть возможность завести произвольные Настраиваемые параметры, значения которых будут постоянными при любых продажах по данному алгоритму.
    Настраиваемые параметры могут быть типа:
</p>
<p>
    <ul>
        <li>
            Число
        </li>
        <li>
            Строка
        </li>
        <li>
            Дата
        </li>
        <li>
            Время
        </li>
        <li>
            Дата-время
        </li>
    </ul>
</p>
<p>
    Такие параметры используются в ДА:
</p>
<p>
    <ul>
        <li>
            для задания порогов скидок
        </li>
        <li>
            для задания максимальной суммы оплаты бонусами
        </li>
        <li>
            для задания фиксированного процента скидки на ЖНВЛП
        </li>
        <li>
            и т.д.
        </li>
    </ul>
</p>
<p>
    3.2 Шаги ДА
</p>
<p>
    Шаги ДА определяют последовательность, в которой будут выполняться операции алгорит-ма при расчете.
    Шаг ДА можно определить либо для позиции продажи, либо для всей продажи. Если Шаг определен для позиции продажи, то он будет выполнен последовательно для каждой пози-ции продажи. Если Шаг определен для всей продажи, то он будет выполнен один раз.
</p>
<p>
    На каждом Шаге  нужно описать:
</p>
<p>
    <ul>
        <li>
            какие из Параметров будут использованы в этом Шаге
        </li>
        <li>
            какие Операции будут выполнены в текущем шаге
        </li>
        <li>
            какие Условия  нужно проверять перед выполнением Операций, описанных в теку-щем Шаге
        </li>
    </ul>
</p>
<p>
    3.2.1 Параметры шага
</p>
<p>
</p>
<p>
    При  описании Параметров, используемых в этом Шаге, можно указать, что этот Параметр является “Выходным параметром” для ДА. Это означает, что значение такого Параметра, вычисленное на этом Шаге, попадет в набор выходных значений расчета для отправки отве-та на Кассу.
    Если один и тот же Параметр был отмечен в нескольких Шагах как “Выходной параметр” – в набор выходных значений попадет значение этого Параметра из самого позднего по вы-полнению Шага.
</p>
<p>
    ВАЖНО !
    Если Шаг определен для всей продажи – в нем нельзя использовать Параметры продажи, определенные для позиций продажи.
</p>
<p>
    3.2.2 Операции шага
</p>
<p>
    Операция шага представляет собой вычисление нового значения на основании заданных значений, с учетом выполнения (или невыполнения) заданного в Операции условия.
    На каждом шаге можно описать несколько операций, которые будут выполнены последова-тельно, по возрастанию своего порядкового номера.
</p>
<p>
    Операция шага состоит из:
</p>
<p>
    <ul>
        <li>
            Тип операции
        </li>
        <li>
            Входные параметры
        </li>
        <li>
            Условие выполнения
        </li>
        <li>
            Выходной параметр
        </li>
    </ul>
</p>
<p>
    3.2.2.1 Тип операции
</p>
<p>
    Доступные на текущий момент типы операций:
</p>
<p>
    <ol>
        <li>
            Сложить
        </li>
        <li>
            Вычесть
        </li>
        <li>
            Взять процент
        </li>
        <li>
            Взять процент от суммы
        </li>
        <li>
            Умножить
        </li>
        <li>
            Разделить
        </li>
        <li>
            Взять первый параметр
        </li>
        <li>
            Взять дату
        </li>
        <li>
            Взять время от даты
        </li>
        <li>
            Взять год от даты
        </li>
        <li>
            Взять месяц от даты
        </li>
        <li>
            Взять день месяца
        </li>
        <li>
            Взять день недели
        </li>
        <li>
            Взять час от времени
        </li>
        <li>
            Взять минуту от времени
        </li>
    </ol>
</p>
<p>
    3.2.2.2 Входные параметры операции
</p>
<p>
    Входными параметрами операции служат один или два Параметра, определенных в Шаге.
    Для некоторых типов операций нужно иметь два параметра (Сложить, Вычесть и т.д.), а для некоторых достаточно одного параметра (Взять первый параметр, Взять дату и т.д.).
</p>
<p>
    3.2.2.3 Условие выполнения операции
</p>
<p>
    Логическое условие,  может быть “Истина” либо “Ложь”. Если условие = “Истина”, то операция будет выполнена, иначе – не будет выполнена.
    Подробнее см. в разделе описания Условий шага.
</p>
<p>
    3.2.2.4 Выходной параметр операции
</p>
<p>
    В выходной параметр операции записывается значение, посчитанное на основании входных параметров и типа операции, если было выполнено условие операции.
    Если же условие операции не было выполнено – предусмотрена возможность запи-сать значение в выходной параметр из любого другого параметра, определенного в этом Шаге.
</p>
<p>
    3.2.3 Условия шага
</p>
<p>
    Условие шага представляет собой сравнение значений двух выбранных параметров Шага заданным типом сравнения.
</p>
<p>
    Доступные на текущий момент типы сравнения:
</p>
<p>
    <ol>
        <li>
            Больше чем
        </li>
        <li>
            Равно
        </li>
        <li>
            Не равно
        </li>
        <li>
            Больше или равно
        </li>
    </ol>
</p>
<p>
    Если сравнение пройдено успешно – результат проверки условия в операции шага будет “Истина”, иначе – “Ложь”
    На каждом шаге можно описать несколько условий сравнения, которые можно привязывать к разным операциям шага.
</p>
<p>
    ВАЖНО !
    К одной операции шага можно привязать только одно условие. Если на операции нужно проверять несколько условий – такую операцию необходимо разбить на несколько более простых операций, в каждой из которых проверять одно нужное условие.
</p>
<p>
    4. Итог
</p>
<p>
    Вернемся еще раз к описанию общего правила работы ДА  и более подробно опишем сам ход выполнения алгоритма:
</p>
<p>
    1. Перед стартом выполнения ДА создается упорядоченный список всех Шагов ДА.
    Внутри каждого шага – создается упорядоченный список Операций ДА.
</p>
<p>
    2. Выполнение алгоритма начинается с первого Шага из упорядоченного  списка шагов.
</p>
<p>
    3. Если Шаг определен для позиции продажи – все Операции шага будут последовательно выполнены по каждой позиции продажи, если Шаг определен для всей продажи – все Опе-рации шага будут выполнены один раз.
</p>
<p>
    4. Все значения выходных параметров Операции шага становятся доступны для следующих в цепочке выполнения Операций (как текущего Шага, так и следующих Шагов)
</p>
<p>
    5. По мере выполнения Шагов и их Операций накапливается набор выходных параметров ДА – в него попадают значения из выходных параметров Операций, помеченные как “Вы-ходной параметр” для ДА.
</p>
<p>
    6. После выполнения последней Операции последнего Шага набор выходных параметров отправляется дисконтным сервисом в Кассу как ответ на запрос расчета по карте.
</p>

<script>
</script>


