﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util


@{
    ViewBag.Title = "Справка";
    Layout = null;
}

<style>
</style>

<p>
    <h4 id="top">Обмен с партнерами</h4>
</p>
<p>
    <ul class="list-unstyled">
        <li>
            <a href="#log">Журнал обмена</a>
        </li>
        <li>
            <a href="#node">Настройка узлов обмена</a>
        </li>
        <li>
            <a href="#user">Регистрация участников обмена</a>
        </li>
    </ul>
</p>
<hr />
<h4 id="log">
    Журнал обмена
</h4>
<a class="pull-right" href="#top">наверх</a>
<p>
    Раздел Личного Кабинета: Услуги -> Обмен с партнерами -> Журнал обмена (1)
</p>
<p>
    <img src='@Url.Content("~/Images/views/exchange/exch01.jpg")' width="80%" title="Журнал обмена" />
</p>
<p>
    В журнале обмена отображается информация по двум последним выгрузкам данных от клиентов компании для партнеров (Мелодия Здоровья, АСНА).
    Журнал сгруппирован по партнеру, организации, торговой и точке. Для каждой торговой точки выводятся строки с определенными для нее типами выгружаемых файлов.
    Если файл данного был отправлен за последние сутки - строка зеленая, если больше суток назад - строка желтая, если больше трех дней назад - строка красная.
</p>
<p>
    Предварительная фильтрация журнала возможна по партнеру (2) и по организации (3). При установленной галочке "только ошиюки" (4) будут показаны только красные ошибочные строки.
</p>
<p>
    В столбце с наименованием узла обмена есть ссылка (5) в диалог настройки параметров обмена данного узла.
</p>
<p>
    В верхней части журнала есть кнопки: "Обновить" (6) (обновляет данные журнала), "Добавить точку" (7) (переходит в диалог добавления нового узла обмена).
</p>
<hr />
<h4 id="node">
    Настройка узлов обмена
</h4>
<a class="pull-right" href="#top">наверх</a>
<p>
    Раздел Личного Кабинета: Услуги -> Обмен с партнерами -> Журнал обмена
</p>
<p>
    <strong>ВАЖНО !!!</strong>
    Здесь настраиваются параметры выгрузки файлов через утилиту FtpSender.
    Выгрузка файлов через веб-сервис обмена настраивается в разделе "Участники обмена" (см. пункт "Регистрация участников обмена")
</p>
<p>
    <img src='@Url.Content("~/Images/views/exchange/exch02.jpg")' width="80%" title="Настройка узлов обмена" />
</p>
<p>
    Для добавления нового узла обмена - нажать на кнопку "Добавить точку".
    Для редактирования существующего узла - найти его в Журнале обмена и нажать на ссылку в колонке с наименованием узла
</p>
<p>
    Иструкция по настройке есть в Хранилище:
</p>
</p>
<p>
    <ul>
        <li>
            Мелодия Здоровья: <a href="https://cab.aptekaural.ru/StorageTree?folder_id=72">https://cab.aptekaural.ru/StorageTree?folder_id=72</a>
        </li>
        <li>
            АСНА: <a href="https://cab.aptekaural.ru/StorageTree?folder_id=75">https://cab.aptekaural.ru/StorageTree?folder_id=75</a>
        </li>
    </ul>
</p>
<hr />
<h4 id="user">
    Регистрация участников обмена
</h4>
<a class="pull-right" href="#top">наверх</a>
<p>
    Раздел Личного Кабинета: Услуги -> Обмен с партнерами -> Участники обмена
</p>
<p>
    <strong>ВАЖНО !!!</strong>
    Здесь настраиваются параметры выгрузки файлов через веб-сервис.
    Выгрузка файлов через утилиту FtpSender обмена настраивается в разделе "Журнал обмена" (см. пункт "Настройка узлов обмена")
</p>
<p>
    <img src='@Url.Content("~/Images/views/exchange/exch03.jpg")' width="80%" title="Регистрация участников обмена" />
</p>
<p>
    Иструкция по настройке есть в Хранилище:
</p>
<p>
    <ul>
        <li>
            Мелодия Здоровья: <a href="https://cab.aptekaural.ru/StorageTree?folder_id=72">https://cab.aptekaural.ru/StorageTree?folder_id=72</a>
        </li>
        <li>
            АСНА: <a href="https://cab.aptekaural.ru/StorageTree?folder_id=75">https://cab.aptekaural.ru/StorageTree?folder_id=75</a>
        </li>
    </ul>
</p>
<script>
</script>


