﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util


@{
    ViewBag.Title = "Справка";
    Layout = null;
}

<style>
</style>

<p>
    <h4>HelpDesk</h4>
</p>
<p>
    Раздел Личного Кабинета: Сервис - HelpDesk
</p>
<p>
    <img src='@Url.Content("~/Images/views/helpdesk/hd01.jpg")' width="80%" title="Список вопросов" />
</p>
<p>
    В этом раздела отображаются все вопросы, поступившие через сайт <a href="http://help.aptekaural.ru/">http://help.aptekaural.ru/</a>
    Вопросы разбиты на группы - все, в очереди, принятые.
    Новые поступившие вопрос попадают в группу "в очереди". После обработки этого вопроса сотрудником компании он переходит в группу "принятые"
</p>
<p>
    Вопросы разбиты на группы - все, в очереди, принятые.
    Новый поступивший вопрос попадает в группу "в очереди". После обработки этого вопроса сотрудником компании он переходит в группу "принятые"
</p>
<p>
    Чтобы обработать вопрос нужно нажать на кнопку "Принять" в правой части строки с вопросом.
    Появится всплывающее окно с местом для ввода номера задачи из SM, привязанной к этому вопросу, а также с возможность сразу же отправить этот вопрос в Задачи ЛК.
</p>
<p>
    После подтверждения операции вопрос переходит в группу "принятые".
</p>

<script>
</script>


