﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util


@{
    ViewBag.Title = "Справка";
    Layout = null;
}

<style>
</style>

<p>
    <h4 id="top">Журнал событий</h4>
</p>
<p>
    <ul class="list-unstyled">
        <li>
            <a href="#cab">ЛК</a>
        </li>
        <li>
            <a href="#discount">Дисконты</a>
        </li>
        <li>
            <a href="#service">Сервисы</a>
        </li>
    </ul>
</p>
<hr />
<h4 id="cab">
    ЛК
</h4>
<a class="pull-right" href="#top">наверх</a>
<p>
    Раздел Личного Кабинета: Админ -> Журнал событий -> ЛК (1)
</p>
<p>
    <img src='@Url.Content("~/Images/views/admin/admin01.jpg")' width="80%" title="Журнал событий ЛК" />
</p>
<p>
    Здесь отображается журнал операций, выполненных пользователями в ЛК.
    Указаны дата-время операции, тип операции, наименование и код объекта операции и пользователь, соввершивший операцию
</p>
<p>
    Список отсортирован по убыванию даты-времени операции (т.е. сверху находятся самые свежии операции)
</p>
<p>
    При нажатии на ссылку в колонке "Событие" (2) произойдет переход в диалог просмотра деталей операции.
    Это служебный диалог, данные в нем представлены в неотформатированном виде.
</p>
<p>
    <img src='@Url.Content("~/Images/views/admin/admin02.jpg")' width="80%" title="Просмотр деталей операции" />
</p>
<hr />
<h4 id="discount">
    Дисконты
</h4>
<a class="pull-right" href="#top">наверх</a>
<p>
    Раздел Личного Кабинета: Админ -> Журнал событий -> Дисконты (1)
</p>
<p>
    <img src='@Url.Content("~/Images/views/admin/admin03.jpg")' width="80%" title="Журнал событий дисконтного сервиса" />
</p>
<p>
    Здесь отображается журнал операций, выполненных пользователями в дисконтном сервисе.
    Указаны дата-время операции, тип операции, комментарий, организация и пользователь, соввершивший операцию
</p>
<p>
    Список отсортирован по убыванию даты-времени операции (т.е. сверху находятся самые свежии операции)
</p>
<hr />
<h4 id="service">
    Сервисы
</h4>
<a class="pull-right" href="#top">наверх</a>
<p>
    Раздел Личного Кабинета: Админ -> Журнал событий -> Сервисы (1)
</p>
<p>
    <img src='@Url.Content("~/Images/views/admin/admin04.jpg")' width="80%" title="Журнал событий сервисов" />
</p>
<p>
    Здесь отображается журнал операций, выполненных сервисами компании.
    Указаны дата-время операции, тип операции, комментарий и пользователь, соввершивший операцию
</p>
<p>
    Список отсортирован по убыванию даты-времени операции (т.е. сверху находятся самые свежии операции)
</p>
<p>
    Список разбит на группы:
</p>
<p>
<ul>
    <li>
        Все
    </li>
    <li>
        Брак
    </li>
    <li>
        Обмен с партнерами
    </li>
    <li>
        Стукач
    </li>
    <li>
        Почтовый сервис
    </li>
    <li>
        ЦВА
    </li>
    <li>
        Лицензии
    </li>
</ul>
</p>
<p>
    Для некоторых операций есть ссылка на объект в колонке "Код объекта" (2)
    При нажатии на эту ссылку роизойдет переход в диалог просмотра деталей операции.    
</p>

<script>
</script>


