﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util


@{
    ViewBag.Title = "Справка";
    Layout = null;
}

<style>
</style>

<p>
    <h4>Главная страница</h4>
</p>
<p>
    <strong>1.	Адрес</strong>
</p>
<p>
    Главная страница находится в Личном Кабинете по адресу:
    <a href="https://cab.aptekaural.ru/Main">https://cab.aptekaural.ru/Main</a>
    (путь  через главное меню ЛК: Главная)
</p>
<p>
    <strong>2.	Структура</strong>
</p>
<p>
    Главная страница разделена на две панели:
    <ul>
        <li>
            Панель установленных виджетов (1)
        </li>
        <li>
            Панель доступных виджетов (2)
        </li>
    </ul>
</p>
<p>
    <img src='@Url.Content("~/Images/views/home/main01.jpg")' width="80%" title="Главная страница" />
</p>
<p>
    Виджеты представляют собой блок информации по соотвествтующей услуге.
</p>
<p>
    Если услуга виджета установлена у текущего клиента (т.е. у клиента, к которому относится текущий пользователь ЛК), этот виджет будет помечен зеленой галочкой.
</p>
<p>
    Если услуга виджета не установлена у текущего клиента - на этом виджете будет кнопка "Заказать", при нажатии на которою у текущего клиента сформируется заявка на эту услугу (подробнее см. описание раздела "Клиенты").
</p>
<p>
    Если услуга виджета заказана, но еще не оформлена клиенту - этот виджет будет помечен значком ожидания "Услуга заказана".
</p>
<p>
    <strong>2.1	Панель установленных виджетов</strong>
</p>
<p>
    На панели установленных виджетов находятся виджеты по услугам, установленные пользователем на главной странице.
    Список виджетов:
    <ul>
        <li>
            Дисконтные карты
        </li>
        <li>
            Обмен с партнерами
        </li>
        <li>
            Брак
        </li>
        <li>
            ЦеныВАптеках.РФ
        </li>
        <li>
            Брак на почту
        </li>
        <li>
            Госреестр на почту
        </li>
    </ul>
</p>
<p>
    Каждый виджет показывает информацию по своей услуге.
    На виджете есть ссылки для перехода в разделы Личного Кабинета, соответствующие данной услуге.
</p>
<p>
    Установленные виджеты можно менять местами, а также убирать на панель доступных виджетов.
</p>
<p>
    <strong>2.2	Панель доступных виджетов</strong>
</p>
<p>
    На панели доступных виджетов находятся виджеты, доступные для установки полльзователем на главную страницу.
</p>

<script>
</script>


