﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util


@{
    ViewBag.Title = "Справка";
    Layout = null;
}

<style>
</style>

<p>
    <h4>Заявки на акивацию</h4>
</p>
<p>
    Раздел Личного Кабинета: Клиенты -> Заявки на активацию
</p>
<p>
    <img src='@Url.Content("~/Images/views/reg/reg01.jpg")' width="80%" title="Заявки на активацию" />
</p>
<p>
    В этом разделе отображается список заявок на активацию, поступивших со страницы регистрации пользователей в Личном Кабинете.
</p>
<p>
    Список разбит на группы:
</p>
<p>
    <ul>
        <li>
            Все
        </li>
        <li>
            Активные
        </li>
        <li>
            Одобренные
        </li>
        <li>
            Отклоненные
        </li>
    </ul>
</p>
<p>
    Поступившие заявки находятся в группе "Активные". Такую заявку можно активировать либо отклонить,
    перейдя в диалог просмотра заявки (ссылка в поле Организация" (1))
</p>
<p>
    <img src='@Url.Content("~/Images/views/reg/reg02.jpg")' width="60%" title="Просмотр заявки" />
</p>
<p>
    Если заявку нужно активировать: в диалоге просмотра заявки нужно указать логин для входа Вличный Кабинет для этой заявки,
    а также сгенерировать пароль (1). После этого при нажатии на кнопку "Активировать" заявка активируется и автору заявки будет отправлено на электронный адрес соответствующее уведомление.
</p>
<p>
    Если заявку не нужно активировать: при нажатии на кнопку "Отклонить" заявка отклоняется.
</p>

<script>
</script>


