﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util


@{
    ViewBag.Title = "Справка";
    Layout = null;
}

<style>
</style>

<p>
    <h4>Услуги</h4>
</p>
<p>
    Список услуг:
    <ul>
        <li>
            Дисконтные карты <a href="/CabHelp?help_id=11">(перейти к описанию)</a>
        </li>
        <li>
            Обмен с партнерами <a href="/CabHelp?help_id=12">(перейти к описанию)</a>
        </li>
        <li>
            Брак <a href="/CabHelp?help_id=13">(перейти к описанию)</a>
        </li>
        <li>
            ЦеныВАптеках.РФ (ЦВА) <a href="/CabHelp?help_id=14">(перейти к описанию)</a>
        </li>
    </ul>
</p>

<script>
</script>


