﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util


@{
    ViewBag.Title = "Справка";
    Layout = null;
}

<style>
</style>

<p>
    <h4>Сервис</h4>
</p>
<p>
    Подразделы:
    <ul>
        <li>
            HelpDesk <a href="/CabHelp?help_id=19">(перейти к описанию)</a>
        </li>
        <li>
            Задачи <a href="/CabHelp?help_id=20">(перейти к описанию)</a>
        </li>
        <li>
            Хранилище <a href="/CabHelp?help_id=21">(перейти к описанию)</a>
        </li>
    </ul>
</p>

<script>
</script>


