﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util


@{
    ViewBag.Title = "Справка";
    Layout = null;
}

<style>
</style>

<p>
    <h4>Организация управления данными в хранилище</h4>
</p>
<p>
    <strong>1.	Адрес</strong>
</p>
<p>
    Хранилище находится в Личном Кабинете по адресу:
    <a href="https://cab.aptekaural.ru/StorageTree">https://cab.aptekaural.ru/StorageTree</a>
    (путь  через главное меню ЛК: Сервис -> Хранилище)
</p>
<p>
    <strong>2.	Полномочия</strong>
</p>
<p>
    Если при попытке зайти в Хранилище происходит перенаправление на страницу авторизации – это говорит об отсутствии полномочий на работу с Хранилищем. Полномочия могут быть настроены следующими сотрудниками:
    <ul>
        <li>
            Крапивин Олег Владимирович
        </li>
        <li>
            Кобелев Андрей Владимирович
        </li>
        <li>
            Павлов Михаил Сергеевич
        </li>
    </ul>
</p>
<p>
    <strong>3.	Структура</strong>
</p>
<p>
    Хранилище разделено на три панели:
    <ul>
        <li>
            Панель папок (1)
        </li>
        <li>
            Панель файлов (2)
        </li>
        <li>
            Панель информации (3)
        </li>
    </ul>
</p>
<p>
    <img src='@Url.Content("~/Images/views/storage/storage01.jpg")' width="80%" title="Структура Хранилища" />
</p>

<p>
    <strong>3.1	Панель папок</strong>
</p>
<p>
    В панели папок находится структура папок хранилища.
    Папки можно перетаскивать, зажав и удерживая левую кнопку мыши. При перемещении папки вместе с ней будут перемещены все ее дочерние папки.
    Действия над папками выполняются:
    <ul>
        <li>
            через верхний тулбар с кнопками (4)
<p><img src='@Url.Content("~/Images/views/storage/storage02.jpg")' width="30%" title="Тулбар с действиями над папками" /></p>
        </li>
<li>
    через всплывающее по правой кнопке мыши меню
    <p><img src='@Url.Content("~/Images/views/storage/storage04.jpg")' width="30%" title="Меню с действиями над папками" /></p>
</li>
    </ul>
</p>
<p>
    Доступные действия:
    <ul>
        <li>
            <span class="underline">Добавить корневую папку</span> – папка добавляется как корневая, т.е. на самом верхнем уровне Хранилища
        </li>
        <li>
            <span class="underline">Добавить подпапку</span> – папка добавляется как дочерняя к текущей выбранной папке
        </li>
        <li>
            <span class="underline">Переименовать папку</span> – папка переименовывается
        </li>
        <li>
            <span class="underline">Удалить папку</span> – папка удаляется в корзину, при этом удаляются все ее дочерние папки и все файлы этой и дочерних папок
        </li>
        <li>
            <span class="underline">Ссылка на папку</span> – позволяет скопировать ссылку на папку
        </li>
        <li>
            <span class="underline">Развернуть все</span> – разворачивается вся структура папок
        </li>
        <li>
            <span class="underline">Свернуть все</span> – сворачивается вся структура папок
        </li>
        <li>
            <span class="underline">Скачать все хранилище</span> – все папки и файлы из хранилища скачивается в ZIP-архиве на локальный компьютер
        </li>
        <li>
            <span class="underline">Обычный вид</span> – отображаются только названия папок и файлов
        </li>
        <li>
            <span class="underline">Расширенный вид</span> – отображаются названия папок и файлов, количество файлов и подпапок, размер файла, автор и дата загрузки файла в Хранилище
        </li>
    </ul>
</p>
<p>
    Если некоторые из описанных выше действий отсутствуют либо недоступны – это говорит об отсутствии полномочий на эти действия (см. пункт 2)
</p>
<p>
    <strong>3.2	Панель файлов</strong>
</p>
<p>
    В панели файлов отображаются все  файлы и ссылки, находящиеся в текущей выбранной папке.
    Файлы можно перетаскивать между папками, зажав и удерживая левую кнопку мыши.
    Для добавления файла в Хранилище можно перетащить один или несколько нужных файлов в область “перетащите сюда файлы для загрузки”. Файлы будут добавлены в текущую выбранную папку, если пройдут проверку:
    <ul>
        <li>
            размер файла не превышает максимально допустимый размер (по умолчанию: 20 Мб)
        </li>
        <li>
            тип файла разрешен к добавлению в хранилище
        </li>
    </ul>
    Текущие настройки для загрузки файлов можно посмотреть в разделе “Настройки” в левом меню Личного Кабинета.
    Если при добавлении файла в текущей выбранной папке уже есть такой файл – его можно перезаписать, отметив галочкой "перезаписывать существующие файлы" (над областью для загрузки). При этом предыдущая версия файла сохраняется в Хранилище и может быть скачана отдельно. У каждого файла может быть максимум две предыдущие версии, все более старые версии удаляются из Хранилища при создании новой версии.
</p>
<p>
    Действия над файлами выполняются:
    <ul>
        <li>
            через верхний тулбар с кнопками (5)
<p><img src='@Url.Content("~/Images/views/storage/storage03.jpg")' width="30%" title="Тулбар с действиями над файлами   " /></p>
        </li>
<li>
    через всплывающее по правой кнопке мыши меню
    <p><img src='@Url.Content("~/Images/views/storage/storage05.jpg")' width="30%" title="Меню с действиями над файлами" /></p>
</li>
    </ul>
</p>
<p>
    Доступные действия:
    <ul>
        <li>
            <span class="underline">Открыть файл</span> – файл скачивается на локальный компьютер, либо (если это ссылка) открывается в новой вкладке браузера
        </li>
        <li>
            <span class="underline">Ссылки на файл</span> – позволяет скопировать ссылки на файл (ссылку на скачивание файла и ссылку на файл в Хранилище)
        </li>
        <li>
            <span class="underline">Добавить файл</span> – файл загружается в Хранилище в выбранную папку (см. описание добавления файла выше в пункте 3.2)
        </li>
        <li>
            <span class="underline">Добавить ссылку</span> – ссылка добавляется в Хранилище в выбранную папку
        </li>
        <li>
            <span class="underline">Переименовать файл</span>  – файл переименовывается
        </li>
        <li>
            <span class="underline">Удалить файл</span> – файл удаляется в корзину
        </li>
        <li>
            <span class="underline">История файла</span> – показывается всплывающее окно с историей создания и изменения файла
        </li>
        <li>
            <span class="underline">Поиск</span> - ищутся файлы и папки, в название которых входит фраза, введенная в область "поиск". Найденные файлы и папки подсвечиваются характерной рамочкой
        </li>
    </ul>
</p>
<p>
    Если некоторые из описанных выше действий отсутствуют либо недоступны – это говорит об отсутствии полномочий на эти действия (см. пункт 2)
</p>
<p>
    <strong>3.3	Панель информации</strong>
</p>
<p>
    Панель информации разделена на три вкладки:
</p>
<ul>
    <li>
        Инфо
    </li>
    <li>
        Корзина
    </li>
    <li>
        История
    </li>
</ul>
<p>
    На вкладке "Инфо" отображается информация о текущей выбранной папке и о текущем выбранном файле.
</p>
<p>
    <img src='@Url.Content("~/Images/views/storage/storage06.jpg")' width="80%" title="Панель информации, вкладка 'Инфо'" />
</p>
<p>
    На вкладке "Корзина" отображается удаленные файлы и папки.
</p>
<p>
    <img src='@Url.Content("~/Images/views/storage/storage07.jpg")' width="80%" title="Панель информации, вкладка 'Корзина'" />
</p>
<p>
    Файлы и папки из корзины можно восстановить из корзины. Для этого нужно найти папку или файл для восстановления, зажать ее левой кнопокой мыши и перетащить в нужное место в Хранилище.
    Нажатие на кнопку "Очистить корзину" приведет к окончательному удалению папок и файлов из корзины, без возможности их восстановления.
</p>
<p>
    На вкладке "История" отображается история всех операций в Хранилище.
</p>
<p>
    <img src='@Url.Content("~/Images/views/storage/storage08.jpg")' width="80%" title="Панель информации, вкладка 'История'" />
</p>
<p>
    <strong>4. Настройки</strong>
</p>
<p>
    Настройки Хранилища находится в Личном Кабинете по адресу:
    <a href="https://cab.aptekaural.ru/StorageParam">https://cab.aptekaural.ru/StorageParam</a>
    (путь  через меню ЛК: Сервис -> Хранилище -> Настройки)
</p>
<p>
    <img src='@Url.Content("~/Images/views/storage/storage09.jpg")' width="80%" title="Настройки Хранилища" />
</p>
<p>
    Настройками определяются следующие параметры:
</p>
<ul>
    <li>
        максимальный размер файла
    </li>
    <li>
        допустимые типы файлов
    </li>
</ul>
<p>
    Максимальный размер файла выбирается из выпадающего списка с допустимыми значениями (1).
    Сразу после выбора значение сохраняется как текущий максимальный размер загружаемого файла.
    Если выпадающий список с допустимыми значениями отсутсвует, это говорит о недостаточном уровне полномочий для изменения данной настройки.
</p>
<p>
    Допустимые типы файлов можно добавлять (2) и удалять (3) в таблице допустимых типов файлов.
    Для вновь добавляемого типа нужно указать расширение файла (колонка "Наименование") и группу, в которую будут входить файлы данного типа.
    Если нужная группа отсутствует в выпадающем списке - можно выбрать "Документ текстовый".
    Если кнопки "Добавить" и "Удалить" отсутсвуют, это говорит о недостаточном уровне полномочий для изменения данной настройки.
</p>
<p>
    <strong>5. История</strong>
</p>
<p>
    История изменений в Хранилище находится в Личном Кабинете по адресу:
    <a href="https://cab.aptekaural.ru/StorageLog">https://cab.aptekaural.ru/StorageLog</a>
    (путь  через меню ЛК: Сервис -> Хранилище -> История)
</p>
<p>
    <img src='@Url.Content("~/Images/views/storage/storage10.jpg")' width="80%" title="Настройки Хранилища" />
</p>
<p>
    В истории изменений в Хранилище представлен список всех операций с файлами и папками Хранилища, с указанием описания, автора и даты-времени операции.
    Если операция была произведена с папкой - в колонке "Папка" будет ссылка на эту папку (1) в Хранилище (за исключением случаев, когда папка была удалена из Хранилища в результате этой операции).
    Если операция была произведена с файлом - в колонках "Папка" и "Файл" будут ссылки на эти папку (1) и файл (2) в Хранилище (за исключением случаев, когда файл был удален из Хранилища в результате этой операции).
</p>

<script>
</script>


