﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util


@{
    ViewBag.Title = "Справка";
    Layout = null;
}

<style>
</style>

<p>
    <h4>Профиль</h4>
</p>
<p>
    Раздел Личного Кабинета: Мои страницы -> Настроить (или: меню пользователя -> Профиль)
<p>
    <img src='@Url.Content("~/Images/views/user/user01.jpg")' width="80%" title="Профиль пользователя" />
</p>
<p>
    На странице настройки профиля пользователя можно указать стартовую страницу Личного Кабинета (1), а также определить список "Мои страницы" (2),
    которые всегда будут доступны в разделе главного меню "Мои страницы"
</p>
<p>
    Чтобы указать стартовую страницу, нужно в списке доступных страниц ЛК (3) выбрать нужную страницу и нажать на кнопку "Сделать стартовой" (4).
    Выбранная страница отобразится сверху как "Стартовая страница" (1)
</p>
<p>
    Чтобы определить список "Мои страницы" нужно поочередно выбирать в списке доступных страниц ЛК (3) нужную страницу и нажимать кнопку "В Мои страницы" (5).
    Так будет наполняться список "Мои страницы" (2). Чтобы удалить страницу из этого списка, нужно нажать на кнопку "Удалить" (6). Также можно полностью очистить список "Мои страницы" (кнопка (7)).
</p>
<p>
    <strong>ВАЖНО !</strong>
    Все изменения сохранятся только после нажатия на кнопку "Сохранить" (8)
</p>

<script>
</script>


