﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util
@using AuDev.Common.Util
@using AuDev.Common.Extensions
@using Kendo.Mvc.UI.Fluent

@functions
{
    private List<string> userSettings_prj;
    private List<string> userSettings_project;
    private List<string> userSettings_resp_user;
    private List<string> userSettings_exec_user;
    private List<string> userSettings_priority;
    private CabinetMvc.ViewModel.Prj.PrjUserSettingsViewModel userSettingsCurrent;
    private int userSettingsCurrent_id;
    private string userSettingsCurrent_name;
    private string userSettingsCurrent_grid;
    private List<string> userSettings_brief_claim_type;
    private List<string> userSettings_brief_claim_stage;    
}

@{
    Layout = null;
    Dictionary<string, string> userSettings = (Dictionary<string, string>)ViewData["userSettings"];
    string userSettings_selected_grid_name = (string)ViewData["selectedGridName"];
    string userSettings_grid_name = !String.IsNullOrWhiteSpace(userSettings_selected_grid_name) ? userSettings_selected_grid_name : userSettings.GetStringValue("brief_grid_name");
    userSettings_grid_name = String.IsNullOrWhiteSpace(userSettings_grid_name) ? "#prjBriefGrid" : userSettings_grid_name;
    int? userSettings_selected_brief_type = (int?)ViewData["selectedBriefType"];
    string userSettings_brief_type = userSettings_selected_brief_type.GetValueOrDefault(0) > 0 ? userSettings_selected_brief_type.ToString() : userSettings.GetStringValue("brief_type");
    userSettings_brief_type = String.IsNullOrWhiteSpace(userSettings_brief_type) ? "1" : userSettings_brief_type;
    //string userSettings_brief_interval = userSettings.GetStringValue("brief_interval");
    DateTime? userSettings_brief_date_beg = userSettings.GetDateTimeValue("brief_date_beg");
    DateTime? userSettings_brief_date_end = userSettings.GetDateTimeValue("brief_date_end");
    userSettings_brief_date_beg = userSettings_brief_date_beg.HasValue ? userSettings_brief_date_beg : (DateTime?)DateTime.Today.AddMonths(-1);
    userSettings_brief_date_end = userSettings_brief_date_end.HasValue ? userSettings_brief_date_end : (DateTime?)DateTime.Today;
    string userSettings_brief_date_cut = userSettings.GetStringValue("brief_date_cut");
    string userSettings_brief_auto_refresh_str = userSettings.GetStringValue("brief_auto_refresh");
    bool userSettings_brief_auto_refresh = String.IsNullOrWhiteSpace(userSettings_brief_auto_refresh_str) ? true : bool.Parse(userSettings_brief_auto_refresh_str);
    userSettings_prj = userSettings.GetListValueFromJSArray("brief_prj");
    userSettings_project = userSettings.GetListValueFromJSArray("brief_project");
    userSettings_resp_user = userSettings.GetListValueFromJSArray("brief_resp_user");
    userSettings_exec_user = userSettings.GetListValueFromJSArray("brief_exec_user");
    userSettings_priority = userSettings.GetListValueFromJSArray("brief_priority");
    userSettingsCurrent = (CabinetMvc.ViewModel.Prj.PrjUserSettingsViewModel)ViewData["userSettingsCurrent"];
    userSettingsCurrent_id = userSettingsCurrent != null ? userSettingsCurrent.setting_id : 0;
    userSettingsCurrent_name = userSettingsCurrent != null ? userSettingsCurrent.setting_name : "-";
    userSettingsCurrent_grid = (userSettingsCurrent != null && !String.IsNullOrWhiteSpace(userSettingsCurrent.settings_grid_json)) ? HttpUtility.HtmlDecode(userSettingsCurrent.settings_grid_json) : "{}";
    userSettings_brief_claim_type = userSettings.GetListValueFromJSArray("brief_claim_type");
    userSettings_brief_claim_stage = userSettings.GetListValueFromJSArray("brief_claim_stage");
}

@helper PrjBriefFilterHelper()
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @(Html.Label("Группа", new { @for = "prjBriefPrjFilter", @class = "control-label" }))
                    @(Html.Kendo().MultiSelect()
                                .Placeholder("...")
                                .AutoClose(false)
                                .AutoBind(true)
                                .BindTo((IEnumerable<CabinetMvc.ViewModel.Prj.PrjViewModel>)ViewData["prjList"])
                                .Name("prjBriefPrjFilter")
                                .HtmlAttributes(new { @id = "prjBriefPrjFilter" })
                                .DataTextField("prj_name")
                                .DataValueField("prj_id")
                                .Value(userSettings_prj)
                    )
                </div>
                <div class="form-group">
                    @(Html.Label("Проект", new { @for = "prjBriefProjectFilter", @class = "control-label" }))
                    @(Html.Kendo().MultiSelect()
                                .Placeholder("...")
                                .AutoClose(false)
                                .AutoBind(true)
                                .BindTo((IEnumerable<CabinetMvc.ViewModel.Crm.CrmProjectViewModel>)ViewData["projectList"])
                                .Name("prjBriefProjectFilter")
                                .HtmlAttributes(new { @id = "prjBriefProjectFilter" })
                                .DataTextField("project_name")
                                .DataValueField("project_id")
                                .Value(userSettings_project)
                    )
                </div>
                <div class="form-group">
                    <input type="button" value="Применить" class="btn btn-sm btn-primary" id="btn-prj-brief-apply-filter" />
                    <input type="button" value="Сбросить" class="btn btn-sm btn-warning" id="btn-prj-brief-reset-filter" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @(Html.Label("Ответственный", new { @for = "prjBriefRespFilter", @class = "control-label" }))
                    @(Html.Kendo().MultiSelect()
                                .Placeholder("...")
                                .AutoClose(false)
                                .AutoBind(true)
                                .BindTo((IEnumerable<CabinetMvc.ViewModel.Adm.CabUserViewModel>)ViewData["cabUserList"])
                                .Name("prjBriefRespFilter")
                                .HtmlAttributes(new { @id = "prjBriefRespFilter" })
                                .DataTextField("user_name")
                                .DataValueField("user_id")
                                .Value(userSettings_resp_user)
                    )
                </div>
                <div class="form-group">
                    @(Html.Label("Исполнитель", new { @for = "prjBriefExecFilter", @class = "control-label" }))
                    @(Html.Kendo().MultiSelect()
                                .Placeholder("...")
                                .AutoClose(false)
                                .AutoBind(true)
                                .BindTo((IEnumerable<CabinetMvc.ViewModel.Adm.CabUserViewModel>)ViewData["cabUserList"])
                                .Name("prjBriefExecFilter")
                                .HtmlAttributes(new { @id = "prjBriefExecFilter" })
                                .DataTextField("user_name")
                                .DataValueField("user_name")
                                .Value(userSettings_exec_user)
                    )
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @(Html.Label("Приоритет", new { @for = "prjBriefPriorityFilter", @class = "control-label" }))
                    @(Html.Kendo().MultiSelect()
                                .Placeholder("...")
                                .AutoClose(false)
                                .AutoBind(true)
                                .BindTo((IEnumerable<CabinetMvc.ViewModel.Crm.CrmPriorityViewModel>)ViewData["priorityList"])
                                .Name("prjBriefPriorityFilter")
                                .HtmlAttributes(new { @id = "prjBriefPriorityFilter" })
                                .DataTextField("priority_name")
                                .DataValueField("priority_id")
                                .Value(userSettings_priority)
                    )
                </div>
                <div class="form-group">
                    @(Html.Label("Тип", new { @for = "prjBriefClaimTypeFilter", @class = "control-label" }))
                    @(Html.Kendo().MultiSelect()
                                .Placeholder("...")
                                .AutoClose(false)
                                .AutoBind(true)
                                .BindTo((IEnumerable<CabinetMvc.ViewModel.Prj.PrjClaimTypeViewModel>)ViewData["claimTypeList"])
                                .Name("prjBriefClaimTypeFilter")
                                .HtmlAttributes(new { @id = "prjBriefClaimTypeFilter" })
                                .DataTextField("claim_type_name")
                                .DataValueField("claim_type_id")
                                .Value(userSettings_brief_claim_type)
                    )
                </div>
                <div class="form-group">
                    @(Html.Label("Этап", new { @for = "prjBriefClaimStageFilter", @class = "control-label" }))
                    @(Html.Kendo().MultiSelect()
                                .Placeholder("...")
                                .AutoClose(false)
                                .AutoBind(true)
                                .BindTo((IEnumerable<CabinetMvc.ViewModel.Prj.PrjClaimStageViewModel>)ViewData["claimStageList"])
                                .Name("prjBriefClaimStageFilter")
                                .HtmlAttributes(new { @id = "prjBriefClaimStageFilter" })
                                .DataTextField("claim_stage_name")
                                .DataValueField("claim_stage_id")
                                .Value(userSettings_brief_claim_stage)
                    )
                </div>
            </div>
        </div>
    </div>
}

@(Html.Kendo().ToolBar().Name("prjBriefToolbar")
.Resizable(true)
.Items(item =>
{
    item.Add().Template("<span><strong>СВОДКА</strong></span>")
        .Overflow(ShowInOverflowPopup.Auto);
    item.Add().Type(CommandType.Separator)
        .Overflow(ShowInOverflowPopup.Auto);
    item.Add().Template(Html.Kendo()
        .DropDownList()
        .Name("prjBriefTypeFilter")
        .BindTo((IEnumerable<CabinetMvc.ViewModel.Prj.PrjBriefTypeViewModel>)ViewData["prjBriefTypes"])
        .AutoBind(true)
        .DataTextField("brief_type_name")
        .DataValueField("brief_type_id")
        .Value(String.IsNullOrEmpty(userSettings_brief_type) ? "1" : userSettings_brief_type)
        .Events(ev =>
        {
            ev.Change("prjBriefPartial.onPrjBriefTypeFilterChange");
        })
        .HtmlAttributes(new { @id = "prjBriefTypeFilter", @style = "width: 160px;" })
        .ToHtmlString()
        )
        .Overflow(ShowInOverflowPopup.Never);

    item.Add().Template(Html.Kendo()
        .DatePicker()
        .Name("prjBriefDateBegFilter")
        .Value(userSettings_brief_date_beg)
        .HtmlAttributes(new { @type = "text", @id = "prjBriefDateBegFilter", @style = "width: 100px;" })
        .Events(ev => ev.Change("prjBriefPartial.onPrjBriefDateBegFilterChange"))
        .ToHtmlString()
        )
        .Overflow(ShowInOverflowPopup.Never);
    item.Add().Template(Html.Kendo()
        .DatePicker()
        .Name("prjBriefDateEndFilter")
        .Value(userSettings_brief_date_end)
        .HtmlAttributes(new { @type = "text", @id = "prjBriefDateEndFilter", @style = "width: 100px;" })
        .Events(ev => ev.Change("prjBriefPartial.onPrjBriefDateEndFilterChange"))
        .ToHtmlString()
        )
        .Overflow(ShowInOverflowPopup.Never);

    item.Add().Template(Html.Kendo()
        .DropDownList()
        .Name("prjBriefDateCutTypeFilter")
        .BindTo((IEnumerable<CabinetMvc.ViewModel.Prj.PrjBriefDateCutTypeViewModel>)ViewData["prjBriefDateCutTypes"])
        .AutoBind(true)
        .DataTextField("date_cut_type_name")
        .DataValueField("date_cut_type_id")
        .Value(String.IsNullOrEmpty(userSettings_brief_date_cut) ? "1" : userSettings_brief_date_cut)
        .Events(ev => ev.Change("prjBriefPartial.onPrjBriefDateCutTypeFilterChange"))
        .HtmlAttributes(new { @id = "prjBriefDateCutTypeFilter", @style = "width: 120px;" })
        .ToHtmlString()
        )
        .Overflow(ShowInOverflowPopup.Never);

    item.Add().Type(CommandType.Button)
        .SpriteCssClass("k-icon" + (userSettings_brief_auto_refresh ? " k-i-clock" : " k-warning"))
        .Text(userSettings_brief_auto_refresh ? "Автообн. вкл" : "Автообн. откл")
        .Togglable(true).Selected(userSettings_brief_auto_refresh)
        .Overflow(ShowInOverflowPopup.Never)
        .HtmlAttributes(new { @class = "k-button k-button-icon prj-brief-auto-refresh" + (userSettings_brief_auto_refresh ? " k-state-active" : ""), @title = "Автообновление каждые 5 минут" });

    item.Add().Type(CommandType.SplitButton)
        .Text("<span class='toolbar-overflow-text'>Сохранить конфигурацию</span>")
        .SpriteCssClass("k-icon k-goup")
        .Click("prjList.onBtnConfigClick")
        .Id("btn-prj-brief-config")
        .HtmlAttributes(new { @title = "Сохранить текущую конфигурацию", @data_config_action_type = "1" })
        .MenuButtons(buttons =>
        {
            buttons.Add().Text("Сохранить конфигурацию")
                .Id("btn-prj-brief-config-save")
                .SpriteCssClass("k-icon k-goup")
                .HtmlAttributes(new { @title = "Сохранить конфигурацию", @data_config_action_type = "2" });
            buttons.Add().Text("Загрузить конфигурацию")
                .Id("btn-prj-brief-config-load")
                .SpriteCssClass("k-icon k-goup")
                .HtmlAttributes(new { @title = "Загрузить конфигурацию", @data_config_action_type = "3" });
        })
    .Overflow(ShowInOverflowPopup.Never);

    item.Add().Type(CommandType.ButtonGroup).Buttons(buttons =>
    {
        buttons.Add().Text("<span class='toolbar-overflow-text'>Экспорт в Excel</span>")
            .SpriteCssClass("k-icon k-i-excel")
            .Click("prjBriefPartial.onBtnPrjBriefExcelClick")
            .Togglable(false)
            .HtmlAttributes(new { @title = "Экспорт в Excel" });
        buttons.Add().Text("<span class='toolbar-overflow-text'>На печать</span>")
            .SpriteCssClass("k-icon k-i-custom")
            .Click("prjBriefPartial.onBtnPrjBriefPrintClick")
            .Togglable(false)
            .HtmlAttributes(new { @title = "На печать" });
    })
    .Overflow(ShowInOverflowPopup.Auto);

    item.Add().Type(CommandType.SplitButton)
        .Text("<span class='toolbar-overflow-text'>Дополнительные фильтры</span>")
        .SpriteCssClass("k-icon k-filter")
        .Click("prjBriefPartial.onBtnPrjBriefFilterClick")
        .Id("btn-prj-brief-filter")
        .HtmlAttributes(new { @title = "Дополнительные фильтры", @data_config_action_type = "1" })
        .MenuButtons(buttons =>
        {
            buttons.Add().Text("Очистить фильтры")
                .Id("btn-prj-brief-filter-cancel")
                .SpriteCssClass("k-icon k-clear-filter")
                .HtmlAttributes(new { @title = "Очистить фильтры", @data_config_action_type = "2" });
            buttons.Add().Text("Очистить сортировку")
                .Id("btn-prj-brief-sort-cancel")
                .SpriteCssClass("k-icon k-strikethrough")
                .HtmlAttributes(new { @title = "Очистить сортировку", @data_config_action_type = "3" });
        })
    .Overflow(ShowInOverflowPopup.Never);

    item.Add().Type(CommandType.ButtonGroup).Buttons(buttons =>
    {
        buttons.Add().Text("<span class='toolbar-overflow-text'>Развернуть строки</span>")
            .SpriteCssClass("k-icon k-i-collapse")
            .Click("prjBriefPartial.onBtnPrjBriefExpandAllClick")
            .Togglable(false)
            .HtmlAttributes(new { @title = "Развернуть все строки" });
        buttons.Add().Text("<span class='toolbar-overflow-text'>Свернуть строки</span>")
            .SpriteCssClass("k-icon k-i-expand")
            .Click("prjBriefPartial.onBtnPrjBriefCollapseAllClick")
            .Togglable(false)
            .HtmlAttributes(new {  @title = "Свернуть все строки" });
    })
    .Overflow(ShowInOverflowPopup.Auto);

})
    .Events(ev => ev.Toggle("prjBriefPartial.onPrjBriefToolbarToggle"))
)
@(Html.Kendo().PanelBar().Name("prjBriefFilter").Items(panel =>
    {
        panel.Add().Text("Фильтр").Expanded(false).Content(PrjBriefFilterHelper().ToHtmlString())
            .HtmlAttributes(new { @id = "prj-brief-filter-panel" });
    }))

@if (userSettings_brief_type == "1")
{ 
@(Html.Kendo().Grid<CabinetMvc.ViewModel.Prj.PrjClaimViewModel>()
.Name("prjBriefGrid")
.DataSource(dataSource => dataSource
    .Ajax()
    .Model(model =>
    {
        model.Id(ev => ev.claim_id);        
    })
    .PageSize(1000)
    .Sort(sort => sort.Add("claim_num").Descending())
    .Read(read => read.Action("GetPrjBriefList", "Prj").Data("prjBriefPartial.getPrjBriefGridData"))
    .Aggregates(ag => ag.Add(f => f.brief_state_type_name).Count())
    .Events(ev => ev.RequestEnd("prjBriefPartial.onPrjBriefGridRequestEnd"))
)
.Columns(columns =>
{
    columns.Bound(p => p.claim_num)
        .ClientTemplate("<span" + "#if (is_overdue) {#" + " class='text-danger'" + "#}#" + ">#:claim_num#</span>")
        .Width("100px")
        .IncludeInMenu(false);
    columns.Bound(p => p.claim_name)
        .ClientTemplate("<span" + "#if (is_overdue) {#" + " class='text-danger'" + "#}#" + " title='#:claim_text#'>#:claim_name#</span>")        
        .Width("250px");
    columns.Bound(p => p.resp_user_name).Width("100px");
    columns.Bound(p => p.exec_user_name_list).Width("100px");
    columns.Bound(p => p.claim_state_type_name).Width("120px")
        .ClientTemplate("#=claim_state_type_templ#");
    columns.Bound(p => p.task_cnt).Width("150px")
          .ClientTemplate("<span title='Всего заданий: #:task_cnt#"
              + " #if (task_cnt > 0) {#" + " [неразобрано: #:new_task_cnt#, активно: #:active_task_cnt#, выполнено: #:done_task_cnt#, отменено: #:canceled_task_cnt#]"
              + " #}#" + "'>"
              + " #if (task_cnt > 0) {#" + "<strong>#:task_cnt#</strong>" + "#} else {#" + " #:task_cnt#" + "#}#"
              + " #if (task_cnt > 0) {#" + " [ <span class='text-danger'>#:new_task_cnt#</span> <span class='text-success'>#:active_task_cnt#</span> <span class='text-primary'>#:done_task_cnt#</span> <span class='text-warning'>#:canceled_task_cnt#</span> ]"
              + " #}#" + "</span>");
    columns.Bound(p => p.project_name).Width("100px");
    columns.Bound(p => p.date_plan).Format("{0:dd.MM.yyyy}").Width("100px");
    columns.Bound(p => p.date_fact).Format("{0:dd.MM.yyyy}").Width("100px");    
    columns.Bound(p => p.module_name).Width("100px");
    columns.Bound(p => p.module_part_name).Width("100px");
    columns.Bound(p => p.project_version_name).Width("100px");
    columns.Bound(p => p.project_repair_version_name).Width("100px");
    columns.Bound(p => p.client_name).Width("100px");
    columns.Bound(p => p.priority_name).Width("100px");    
    columns.Bound(p => p.crt_date).Format("{0:dd.MM.yyyy HH:mm}").Width("100px");        
    columns.Bound(p => p.crt_user).Width("100px");
    columns.Bound(p => p.upd_date).Format("{0:dd.MM.yyyy HH:mm}").Width("100px");
    columns.Bound(p => p.upd_user).Width("100px");
    columns.Bound(p => p.active_work_type_name).Width("100px");
    columns.Bound(p => p.brief_state_type_name).Width("100px").ClientGroupHeaderTemplate("#=value# (#=count#)");
    columns.Bound(p => p.claim_type_name).Width("100px");
    columns.Bound(p => p.claim_stage_name).Width("100px");
    columns.Bound(p => p.prj_name_list).Width("100px");
})
.ColumnMenu(cm =>
{
    cm.Columns(true);
    cm.Sortable(false);
    cm.Filterable(true);
    cm.Messages(m => { m.Columns("Колонки"); });
})
    .Pageable(page =>
    {
        page.ButtonCount(5);
        page.Info(true);
        page.Input(true);
        page.Messages(m =>
        {
            m.Display("{0} - {1} из {2}");
            m.Empty("");
            m.ItemsPerPage("");
            m.Page("стр.");
            m.Of(" из {0}");
        });
        page.PageSizes(new int[] { 10, 20, 50, 100, 500, 1000 });
        page.Numeric(false);
        page.PreviousNext(true);
        page.Refresh(true);
    })
    //.AutoBind(false)
.Resizable(rsb => rsb.Columns(true))
.Sortable(sort => sort.SortMode(GridSortMode.MultipleColumn))
.Scrollable(scr => scr.Height("auto"))
.Filterable(ftb => ftb.Mode(GridFilterMode.Menu))
.Selectable(sel => sel.Enabled(false))
.Reorderable(rd => rd.Columns(true))
.Navigatable(nv => nv.Enabled(true))
.Groupable(gr => { gr.Enabled(true); gr.ShowFooter(true); })
.Excel(excel => excel
    .FileName("Список задач.xlsx")
    .AllPages(false)
)
.Events(ev =>
{
    ev.DataBinding("prjBriefPartial.onPrjBriefGridDataBinding");
    ev.DataBound("prjBriefPartial.onPrjBriefGridDataBound");
    ev.ExcelExport("prjBriefPartial.onPrjBriefGridExcelExport");
})
)
}
else if (userSettings_brief_type == "2")
{
@(Html.Kendo().Grid<CabinetMvc.ViewModel.Prj.PrjWorkViewModel>()
.Name("prjBriefWorkGrid")
.DataSource(dataSource => dataSource
    .Ajax()
    .Model(model =>
    {
        model.Id(ev => ev.work_id);
    })
    .PageSize(1000)
    .Sort(sort => sort.Add("claim_num").Descending())
    .Read(read => read.Action("GetPrjBriefList", "Prj").Data("prjBriefPartial.getPrjBriefGridData"))
    .Aggregates(ag => ag.Add(f => f.brief_state_type_name).Count())
    .Events(ev => ev.RequestEnd("prjBriefPartial.onPrjBriefGridRequestEnd"))
)
.Columns(columns =>
{
    columns.Bound(p => p.claim_num)
        .ClientTemplate("<span" + "#if (is_overdue) {#" + " class='text-danger'" + "#}#" + ">#:claim_num#</span>")
        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
        .Width("100px")
        .IncludeInMenu(false);
    columns.Bound(p => p.claim_name)
        .ClientTemplate("<span" + "#if (is_overdue) {#" + " class='text-danger'" + "#}#" + " title='#:claim_text#'>#:claim_name#</span>")
        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains"))).Width("200px");
    columns.Bound(p => p.task_num)
        .ClientTemplate("<span" + "#if (is_overdue) {#" + " class='text-danger'" + "#}#" + ">#:task_num#</span>")
        .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
        .Width("80px");
    columns.Bound(p => p.task_text_short)
        .Encoded(false)
        .ClientTemplate("<span" + "#if (is_overdue) {#" + " class='text-danger'" + "#}#" + " title='#=task_text#'>#=task_text_short#</span>")
        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains"))).Width("200px");
    columns.Bound(p => p.work_num)
        .ClientTemplate("<span" + "#if (is_overdue) {#" + " class='text-danger'" + "#}#" + ">#:work_num#</span>")
        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
        .Width("100px");
    columns.Bound(p => p.work_type_name)
        .ClientTemplate("<span" + "#if (is_overdue) {#" + " class='text-danger'" + "#}#" + ">#:work_type_name#</span>")
        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
        .Width("150px");
    columns.Bound(p => p.state_type_name).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
        .ClientTemplate("#=state_type_templ#")
        .Width("150px");
    columns.Bound(p => p.is_accept)
        .ClientTemplate("<input type='checkbox' " + "#if (is_accept) {#" + "checked " + "#}#" + " />")
        .Filterable(ftb => ftb.Enabled(false))
        .Width("80px");
    columns.Bound(p => p.exec_user_name).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains"))).Width("150px");
    columns.Bound(p => p.date_beg).Filterable(ftb => ftb.Cell(cell => cell.Operator("eq"))).Format("{0: dd.MM.yyyy}").Width("120px");
    columns.Bound(p => p.date_end).Filterable(ftb => ftb.Cell(cell => cell.Operator("eq"))).Format("{0: dd.MM.yyyy}").Width("120px");
    columns.Bound(p => p.cost_plan).Filterable(ftb => ftb.Cell(cell => cell.Operator("eq"))).Width("80px");
    columns.Bound(p => p.cost_fact).Filterable(ftb => ftb.Cell(cell => cell.Operator("eq"))).Width("80px");
    columns.Bound(p => p.claim_resp_user_name).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains"))).Width("100px");
    columns.Bound(p => p.claim_state_type_name).Filterable(ftb => ftb.Cell(cell => cell.Operator("eq"))).Width("120px")
        .ClientTemplate("#=claim_state_type_templ#");
    columns.Bound(p => p.claim_project_name).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains"))).Width("100px");
    columns.Bound(p => p.claim_date_plan).Format("{0:dd.MM.yyyy}").Filterable(ftb => ftb.Cell(cell => cell.Operator("contains"))).Width("100px");
    columns.Bound(p => p.claim_date_fact).Format("{0:dd.MM.yyyy}").Filterable(ftb => ftb.Cell(cell => cell.Operator("contains"))).Width("100px");
    columns.Bound(p => p.claim_module_name).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains"))).Width("100px");
    columns.Bound(p => p.claim_module_part_name).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains"))).Width("100px");
    columns.Bound(p => p.claim_project_version_name).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains"))).Width("100px");
    columns.Bound(p => p.claim_project_repair_version_name).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains"))).Width("100px");
    columns.Bound(p => p.claim_client_name).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains"))).Width("100px");
    columns.Bound(p => p.claim_priority_name).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains"))).Width("100px");    
    columns.Bound(p => p.crt_date).Format("{0:dd.MM.yyyy HH:mm}").Width("100px");
    columns.Bound(p => p.crt_user).Width("100px");
    columns.Bound(p => p.upd_date).Format("{0:dd.MM.yyyy HH:mm}").Width("100px");
    columns.Bound(p => p.upd_user).Width("100px");
    columns.Bound(p => p.brief_state_type_name).Width("100px").ClientGroupHeaderTemplate("#=value# (#=count#)");
    columns.Bound(p => p.claim_type_name).Width("100px");
    columns.Bound(p => p.claim_stage_name).Width("100px");
    columns.Bound(p => p.prj_name_list).Width("100px");
})
.ColumnMenu(cm =>
{
    cm.Columns(true);
    cm.Sortable(false);
    cm.Filterable(true);
    cm.Messages(m => { m.Columns("Колонки"); });
})
    .Pageable(page =>
    {
        page.ButtonCount(5);
        page.Info(true);
        page.Input(true);
        page.Messages(m =>
        {
            m.Display("{0} - {1} из {2}");
            m.Empty("");
            m.ItemsPerPage("");
            m.Page("стр.");
            m.Of(" из {0}");
        });
        page.PageSizes(new int[] { 10, 20, 50, 100, 500, 1000 });
        page.Numeric(false);
        page.PreviousNext(true);
        page.Refresh(true);
    })
        //.AutoBind(false)
.Resizable(rsb => rsb.Columns(true))
.Sortable(sort => sort.SortMode(GridSortMode.MultipleColumn))
.Scrollable(scr => scr.Height("auto"))
.Filterable(ftb => ftb.Mode(GridFilterMode.Menu))
.Selectable(sel => sel.Enabled(false))
.Reorderable(rd => rd.Columns(true))
.Navigatable(nv => nv.Enabled(true))
.Groupable(gr => { gr.Enabled(true); gr.ShowFooter(true); })
.Excel(excel => excel
    .FileName("Список работ.xlsx")
    .AllPages(false)
)
.Events(ev =>
{
    ev.DataBinding("prjBriefPartial.onPrjBriefGridDataBinding");
    ev.DataBound("prjBriefPartial.onPrjBriefGridDataBound");
    ev.ExcelExport("prjBriefPartial.onPrjBriefGridExcelExport");
})
)
}
else if (userSettings_brief_type == "3")
{
@(Html.Kendo().Grid<CabinetMvc.ViewModel.Prj.PrjTaskViewModel>()
.Name("prjBriefTaskGrid")
.DataSource(dataSource => dataSource
    .Ajax()
    .PageSize(1000)
        .Sort(sort =>
        {
            sort.Add("user_state_user_name").Ascending();
        })
    .Aggregates(ag => ag.Add(f => f.user_state_type_name).Count())
    .Read(read => read.Action("GetPrjBriefList", "Prj").Data("prjBriefPartial.getPrjBriefGridData"))
    .Events(ev => ev.RequestEnd("prjBriefPartial.onPrjBriefGridRequestEnd"))
)
.Columns(columns =>
{
    columns.Bound(p => p.claim_num)        
        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
        .Width("100px")
        .IncludeInMenu(false);
    columns.Bound(p => p.claim_name)        
        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains"))).Width("200px");
    columns.Bound(p => p.task_num)        
        .Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
        .Width("80px");
    columns.Bound(p => p.task_text_short)
        .Encoded(false)
        .ClientTemplate("<span title='#=task_text#'>#=task_text_short#</span>")
        .Filterable(ftb => ftb.Cell(cell => cell.Operator("contains"))).Width("200px");
    columns.Bound(p => p.claim_resp_user_name).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains"))).Width("100px");
    columns.Bound(p => p.claim_state_type_name).Filterable(ftb => ftb.Cell(cell => cell.Operator("eq"))).Width("120px")
        .ClientTemplate("#=claim_state_type_templ#");

    columns.Bound(p => p.user_state_user_name).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains"))).Width("100px");
    columns.Bound(p => p.user_state_type_name).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains"))).Width("100px").ClientGroupHeaderTemplate("#=value# (#=count#)");
    columns.Bound(p => p.user_state_crt_date).Format("{0:dd.MM.yyyy HH:mm:ss}").Filterable(ftb => ftb.Cell(cell => cell.Operator("eq"))).Width("100px");
    
    columns.Bound(p => p.claim_project_name).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains"))).Width("100px");
    columns.Bound(p => p.claim_date_plan).Format("{0:dd.MM.yyyy}").Filterable(ftb => ftb.Cell(cell => cell.Operator("eq"))).Width("100px");
    columns.Bound(p => p.claim_date_fact).Format("{0:dd.MM.yyyy}").Filterable(ftb => ftb.Cell(cell => cell.Operator("eq"))).Width("100px");
    columns.Bound(p => p.claim_module_name).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains"))).Width("100px");
    columns.Bound(p => p.claim_module_part_name).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains"))).Width("100px");
    columns.Bound(p => p.claim_project_version_name).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains"))).Width("100px");
    columns.Bound(p => p.claim_project_repair_version_name).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains"))).Width("100px");
    columns.Bound(p => p.claim_client_name).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains"))).Width("100px");
    columns.Bound(p => p.claim_priority_name).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains"))).Width("100px");    
    columns.Bound(p => p.crt_date).Format("{0:dd.MM.yyyy HH:mm}").Width("100px");
    columns.Bound(p => p.crt_user).Width("100px");
    columns.Bound(p => p.upd_date).Format("{0:dd.MM.yyyy HH:mm}").Width("100px");
    columns.Bound(p => p.upd_user).Width("100px");
    columns.Bound(p => p.claim_type_name).Width("100px");
    columns.Bound(p => p.claim_stage_name).Width("100px");
    columns.Bound(p => p.user_state_type_id).Filterable(ftb => ftb.Cell(cell => cell.Operator("eq"))).Width("50px");
    columns.Bound(p => p.prj_name_list).Width("100px");
})
.ColumnMenu(cm =>
{
    cm.Columns(true);
    cm.Sortable(false);
    cm.Filterable(true);
    cm.Messages(m => { m.Columns("Колонки"); });
})
    .Pageable(page =>
    {
        page.ButtonCount(5);
        page.Info(true);
        page.Input(true);
        page.Messages(m =>
        {
            m.Display("{0} - {1} из {2}");
            m.Empty("");
            m.ItemsPerPage("");
            m.Page("стр.");
            m.Of(" из {0}");
        });
        page.PageSizes(new int[] { 10, 20, 50, 100, 500, 1000 });
        page.Numeric(false);
        page.PreviousNext(true);
        page.Refresh(true);
    })
        //.AutoBind(false)
.Resizable(rsb => rsb.Columns(true))
.Sortable(sort => sort.SortMode(GridSortMode.MultipleColumn))
.Scrollable(scr => scr.Height("auto"))
.Filterable(ftb => ftb.Mode(GridFilterMode.Menu))
.Selectable(sel => sel.Enabled(false))
.Reorderable(rd => rd.Columns(true))
.Navigatable(nv => nv.Enabled(true))
.Groupable(gr => { gr.Enabled(true); gr.ShowFooter(true); })
.Excel(excel => excel
    .FileName("Список заданий.xlsx")
    .AllPages(false)
)
.Events(ev =>
{
    ev.DataBinding("prjBriefPartial.onPrjBriefGridDataBinding");
    ev.DataBound("prjBriefPartial.onPrjBriefGridDataBound");
    ev.ExcelExport("prjBriefPartial.onPrjBriefGridExcelExport");
})
)
}

<script>
    curr_user_settings_id = @userSettingsCurrent_id;
    curr_user_settings_name = '@userSettingsCurrent_name';
    curr_user_settings_grid = @Html.Raw(userSettingsCurrent_grid);
    curr_user_settings_grid_name = selected_grid_name ? selected_grid_name : '@userSettings_grid_name';
</script>
