﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util
@using AuDev.Common.Util
@using AuDev.Common.Extensions
@using Kendo.Mvc.UI.Fluent

@model CabinetMvc.ViewModel.Prj.PrjClaimFilterViewModel

@{
    Layout = null;
    var currUser = ((CabinetMvc.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.filter_id)

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="container-fluid form-inline prj-claim-filter-layout">
    <div>
        <div class="form-group">
            @Html.Kendo().Button().Name("btnPrjClaimFilterBack").Content("Назад").Icon("arrow-w").HtmlAttributes(new { @type = "button", @class = "k-btn-info" }).Events(e => e.Click("prjClaimFilterEditPartial.onBtnPrjClaimFilterBackClick"))
            @Html.Kendo().Button().Name("btnPrjClaimFilterSave").Content("Сохранить").Icon("tick").HtmlAttributes(new { @type = "button", @class = "k-btn-primary" }).Events(e => e.Click("prjClaimFilterEditPartial.onBtnPrjClaimFilterSaveClick"))
            @Html.Kendo().Button().Name("btnPrjClaimFilterCancel").Content("Отмена").Icon("cancel").HtmlAttributes(new { @type = "button", @class = "k-btn-warning" }).Events(e => e.Click("prjClaimFilterEditPartial.onBtnPrjClaimFilterCancelClick"))
            @Html.Kendo().Button().Name("btnPrjClaimFilterDelete").Content("Удалить").Icon("cancel").HtmlAttributes(new { @type = "button", @class = "k-btn-danger" }).Events(e => e.Click("prjClaimFilterEditPartial.onBtnPrjClaimFilterDeleteClick"))
        </div>
    </div>
    <br />
    <div>
        <div class="form-group">
            @(Html.Kendo().TextBoxFor(ss => ss.filter_name).HtmlAttributes(new { @class = "form-control input-sm", @placeholder = "название фильтра", @style = "width: 250px;" }))
        </div>
        <div class="form-group">
            @(Html.KendoCheckBox("is_active", "фильтр активен", Model.is_active).HtmlAttributes(new { @style = "width: 140px;" }))
        </div>
        <div class="form-group">
            @(Html.KendoCheckBox("is_global", "для всех пользователей", !Model.user_id.HasValue).HtmlAttributes(new { @style = "width: 140px;" }))
        </div>
    </div>
    <br />
    <br />
    @(Html.Raw(Html.GetPrjClaimFilterLayout(Model, ((CabinetMvc.Controllers.BaseController)ViewContext.Controller), "prjClaimFilterEditPartial")))
</div>

}

<script>
</script>