﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util
@using AuDev.Common.Util
@using AuDev.Common.Extensions
@using Kendo.Mvc.UI.Fluent

@functions
{
    private string userSettings_project;
    private string userSettings_version;
    private string userSettings_claim_stage;
    private string userSettings_exec_user;
    private string userSettings_task_user_state_type;
    private bool userSettings_claim_state_type_1;
    private bool userSettings_claim_state_type_2;
    private bool userSettings_claim_state_type_3;
    private bool userSettings_claim_state_type_4;
    private List<string> userSettings_resp_user;
    private List<string> userSettings_client;
    private List<string> userSettings_priority;
    private List<string> userSettings_prj;
    private DateTime? userSettings_claim_crt_date1;
    private DateTime? userSettings_claim_crt_date2;
    private string userSettings_claim_text;
    private string userSettings_splitter;
    private string userSettings_splitter_child;
    private CabinetMvc.ViewModel.Prj.PrjUserSettingsViewModel userSettingsCurrent;
    private int userSettingsCurrent_id;
    private string userSettingsCurrent_name;
    private string userSettingsCurrent_grid;
    private List<string> userSettings_claim_claim_type;
}

@{
    Layout = null;
    Dictionary<string, string> userSettings = (Dictionary<string, string>)ViewData["userSettings"];
    userSettings_project = userSettings.GetStringValue("project");
    userSettings_version = userSettings.GetStringValue("version");
    userSettings_claim_stage = userSettings.GetStringValue("claim_stage");
    userSettings_exec_user = userSettings.GetStringValue("exec_user");
    userSettings_task_user_state_type = userSettings.GetStringValue("task_user_state_type");
    userSettings_claim_state_type_1 = userSettings.GetBoolValue("claim_state_type_1");
    userSettings_claim_state_type_2 = userSettings.GetBoolValue("claim_state_type_2");
    userSettings_claim_state_type_3 = userSettings.GetBoolValue("claim_state_type_3");
    userSettings_claim_state_type_4 = userSettings.GetBoolValue("claim_state_type_4");
    userSettings_resp_user = userSettings.GetListValueFromJSArray("claim_resp_user");
    userSettings_client = userSettings.GetListValueFromJSArray("claim_client");
    userSettings_priority = userSettings.GetListValueFromJSArray("claim_priority");
    userSettings_prj = userSettings.GetListValueFromJSArray("prj");
    userSettings_claim_crt_date1 = userSettings.GetDateTimeValue("claim_crt_date1");
    userSettings_claim_crt_date2 = userSettings.GetDateTimeValue("claim_crt_date2");
    userSettings_claim_text = userSettings.GetStringValue("claim_text");
    userSettings_splitter = userSettings.GetSplitterSize("claim_splitter", "60%");
    userSettings_splitter_child = userSettings.GetSplitterSize("claim_splitter_child", "50%");
    userSettingsCurrent = (CabinetMvc.ViewModel.Prj.PrjUserSettingsViewModel)ViewData["userSettingsCurrent"];
    userSettingsCurrent_id = userSettingsCurrent != null ? userSettingsCurrent.setting_id : 0;
    userSettingsCurrent_name = userSettingsCurrent != null ? userSettingsCurrent.setting_name : "-";
    userSettingsCurrent_grid = (userSettingsCurrent != null && !String.IsNullOrWhiteSpace(userSettingsCurrent.settings_grid_json)) ? HttpUtility.HtmlDecode(userSettingsCurrent.settings_grid_json) : "{}";
    userSettings_claim_claim_type = userSettings.GetListValueFromJSArray("claim_claim_type");
}

@(Html.Kendo().Window()
            .Name("winPrjUserSelect")
            .Title("Параметры действия")
            .Content(@<text>
                <div class="container-fluid">
                    <div id="div-prj-user-select" class="form-group">
                        @(Html.Label("Исполнитель"))
                        @(Html.Kendo()
                                                            .DropDownList()
                                                            .Name("ddlPrjUserSelect")
                                                            .BindTo((IEnumerable<CabinetMvc.ViewModel.Adm.CabUserViewModel>)ViewData["cabUserList"])
                                                            .DataTextField("user_name")
                                                            .DataValueField("user_id")
                                                            .Events(ev => ev.Select("prjClaimListPartial.onDdlPrjUserSelectSelect"))
                                                            .HtmlAttributes(new { @id = "ddlPrjUserSelect", @style = "width: 90%;", @class = "form-control" })
                        )
                    </div>
                    <div id="div-prj-user-select-work-type" class="form-group">
                        @(Html.Label("Тип работы"))
                        @(Html.Kendo()
                                                            .DropDownList()
                                                            .Name("ddlPrjUserSelectWorkType")
                                                            .BindTo((IEnumerable<CabinetMvc.ViewModel.Prj.PrjWorkTypeViewModel>)ViewData["workTypeList"])
                                                            .DataTextField("work_type_name")
                                                            .DataValueField("work_type_id")
                                                            .Value("1")
                                                            .HtmlAttributes(new { @id = "ddlPrjUserSelectWorkType", @style = "width: 90%;", @class = "form-control" })
                        )
                    </div>
                    <div id="div-prj-user-select-comment" class="form-group">
                        @(Html.Label("Комментарий"))
                        @(Html.TextArea("txtPrjUserSelectComment", new { @class = "form-control input-sm", @rows = "3", @style = "width:90%;", }))
                    </div>
                    <div class="form-group">
                        @(Html.Kendo().Button().Name("btnPrjUserSelectOk").Icon("tick").Content("OK").HtmlAttributes(new { @type = "button", }))
                        @(Html.Kendo().Button().Name("btnPrjUserSelectCancel").Icon("cancel").Content("Отмена").HtmlAttributes(new { @type = "button", }))
                    </div>
                </div>
            </text>)
                                    .Draggable()
                                    .Resizable()
                                    .Width(400)
                                    .Height(300)
                                    .Visible(false)
                                    .Modal(true)
                                    .Actions(actions => actions.Close())
.Events(ev => ev.Activate("prjClaimListPartial.onWinPrjUserSelectActivate"))
)

@(Html.Kendo().Window()
            .Name("winPrjTaskAdd")
            .Title("Новое задание")
            .Content(@<text>
                <div class="container-fluid">
                    <div class="form-group">
                        @(Html.Label("Текст задания"))
                        @(Html.TextArea("txtTaskText", new { @class = "form-control input-sm", @rows = "5", @style = "width:90%;", }))
                    </div>
                    <div class="form-group">
                        @(Html.Kendo().Button().Name("btnPrjTaskAddOk").Icon("tick").Content("OK").HtmlAttributes(new { @type = "button" }))
                        @(Html.Kendo().Button().Name("btnPrjTaskAddCancel").Icon("cancel").Content("Отмена").HtmlAttributes(new { @type = "button" }))
                    </div>
                </div>
            </text>)
                                    .Draggable()
                                    .Resizable()
                                    .Width(400)
                                    .Height(250)
                                    .Visible(false)
                                    .Modal(true)
                                    .Actions(actions => actions.Close())
)

@(Html.Kendo().Window()
            .Name("winPrjWorkTypeChange")
            .Title("Смена типа работы")
            .Content(@<text>
                <div class="container-fluid">
                    <div class="form-group">
                        @(Html.Label("Новый тип работы"))
                        @(Html.Kendo()
                                                                .DropDownList()
                                                                .Name("ddlPrjWorkTypeChange")
                                                                .BindTo((IEnumerable<CabinetMvc.ViewModel.Prj.PrjWorkTypeViewModel>)ViewData["workTypeList"])
                                                                .DataTextField("work_type_name")
                                                                .DataValueField("work_type_id")
                                                                .HtmlAttributes(new { @id = "ddlPrjWorkTypeChange", @style = "width: 90%;", @class = "form-control" })
                        )
                    </div>
                    <div class="form-group">
                        @(Html.Kendo().Button().Name("btnPrjWorkTypeChangeOk").Icon("tick").Content("OK").HtmlAttributes(new { @type = "button" }))
                        @(Html.Kendo().Button().Name("btnPrjWorkTypeChangeCancel").Icon("cancel").Content("Отмена").HtmlAttributes(new { @type = "button" }))
                    </div>
                </div>
            </text>)
                                    .Draggable()
                                    .Resizable()
                                    .Width(400)
                                    .Height(250)
                                    .Visible(false)
                                    .Modal(true)
                                    .Actions(actions => actions.Close())
)

@(Html.Kendo().Window()
            .Name("winPrjClaimMess")
            .Title("Комментарии")
            .Content(@<text>
                @(Html.Kendo().Grid<CabinetMvc.ViewModel.Prj.PrjMessViewModel>()
                                    .Name("prjClaimMessGrid")
                                    .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .Model(model => { model.Id(ev => ev.mess_id); })
                                    .PageSize(100)
                                    .Read(rd => rd.Action("GetPrjMessList_byClaimOrTask", "Prj").Data("prjClaimListPartial.getPrjClaimMessGridData"))
                                    .Sort(sort => sort.Add("crt_date").Descending())
                                    )
                                    .Columns(columns =>
                                    {
                                        columns.Bound(p => p.crt_date)
                    .HeaderHtmlAttributes(new { @style = "display:none;" })
                    .ClientTemplate("<span><p class='nomargin'>#= formatTextToHTML(mess) #</p>"
                    + "<span class='pull-right'>"
                    + "<small><strong>"
                    + "#if (task_id) {#" + "<span title='Комментарий к заданию " + "#=task_num#" + "'>[зд." + "#=task_num#" + "]</span> " + "#}#"
                    + "#=user_name# #=kendo.toString(kendo.parseDate(crt_date), 'dd.MM.yy HH:mm')#"
                    + "</strong></small></span></span>")
                    .Width("100%");
                                    })
                                    .Resizable(rsb => rsb.Columns(true))
                                    .Sortable(sort => sort.SortMode(GridSortMode.SingleColumn))
                                    .Scrollable(scr => scr.Height("auto"))
                                    .Filterable(ftb => ftb.Enabled(false))
                            .Pageable(page =>
                            {
                                page.ButtonCount(5);
                                page.Info(true);
                                page.Input(false);
                                page.Messages(m =>
                                {
                                    m.Display("{0} - {1} из {2}");
                                    m.Empty("");
                                    m.ItemsPerPage("");
                                    m.Page("стр.");
                                    m.Of(" из {0}");
                                });
                                page.PageSizes(false);
                                page.Numeric(false);
                                page.PreviousNext(true);
                                page.Refresh(true);
                            }))
            </text>)
                        .Draggable()
                        .Resizable()
                        .Width(500)
                        .Height(350)
                        .Visible(false)
                        .Modal(true)
                        .Actions(actions => actions.Close())
                        .Events(ev => ev.Activate("prjClaimListPartial.onWinPrjClaimMessActivate"))
)

@helper PrjClaimGridHelper()
    {
        @(Html.Kendo().ToolBar().Name("prjClaimToolbar")
                                .Resizable(true)
                                .Items(item =>
                                {
                                    item.Add().Template("<input class='k-textbox' type='text' id='prj-claim-search' style='width: 90px;' placeholder='поиск' title='поиск по номеру, названию и формулировке задачи' onkeyup='prjClaimListPartial.onPrjClaimSearchKeyup(event)'/>")
                                        .Overflow(ShowInOverflowPopup.Never)
                                        .HtmlAttributes(new { @class = "pull-right", @style = "margin-left: 10px; margin-top: 5px;", });

                                    item.Add().Type(CommandType.SplitButton)
                                        .Text("")
                                        .Icon("plus")
                                        .Click("prjClaimListPartial.onBtnPrjClaimActionsClick")
                                        .Id("btn-prj-claim-add")
                                        .HtmlAttributes(new { @title = "Добавить задачу", @data_config_action_type = "1" })
                                        .MenuButtons(buttons =>
                                        {
                                            buttons.Add().Text("В корзину")
                                                .Id("btn-prj-claim-del")
                                                .Icon("cancel")
                                                .HtmlAttributes(new { @title = "Переместить задачу в корзину", @data_config_action_type = "2" });
                                        })
                                    .Overflow(ShowInOverflowPopup.Never);


                                    item.Add().Template(Html.Kendo()
                                        .DropDownList()
                                        .Name("prjClaimProjectFilter")
                                        .BindTo((IEnumerable<CabinetMvc.ViewModel.Crm.CrmProjectViewModel>)ViewData["projectList"])
                                        .AutoBind(true)
                                        .DataTextField("project_name")
                                        .DataValueField("project_id")
                                        .OptionLabel("все проекты")
                                        //.Value(userSettings_project)
                                        .Events(ev => { ev.Change("prjClaimListPartial.onPrjClaimProjectFilterChange"); })
                                        .HtmlAttributes(new { @id = "prjClaimProjectFilter", @style = "width: 100px;", @title = "Фильтр по проектам" })
                                        .ToHtmlString()
                                        )
                                        .Overflow(ShowInOverflowPopup.Never);
                                    item.Add().Template(Html.Kendo()
                                        .DropDownList()
                                        .Name("prjClaimVersionFilter")
                                        .BindTo((IEnumerable<CabinetMvc.ViewModel.Cabinet.VersionMainViewModel>)ViewData["versionMainList"])
                                        .AutoBind(true)
                                        .DataTextField("version_main_name")
                                        .DataValueField("version_main_id")
                                        .OptionLabel("все версии")
                                        .Value(userSettings_version)
                                        .Events(ev => { ev.Change("prjClaimListPartial.onPrjClaimVersionFilterChange"); ev.DataBound("prjClaimListPartial.onPrjClaimVersionFilterDataBound"); })
                                        .HtmlAttributes(new { @id = "prjClaimVersionFilter", @style = "width: 120px;", @title = "Фильтр по версиям" })
                                        .ToHtmlString()
                                        )
                                        .Overflow(ShowInOverflowPopup.Never);
                                    item.Add().Template(Html.Kendo()
                                        .DropDownList()
                                        .Name("prjClaimStageFilter")
                                        .BindTo((IEnumerable<CabinetMvc.ViewModel.Prj.PrjClaimStageViewModel>)ViewData["claimStageList"])
                                        .AutoBind(true)
                                        .DataTextField("claim_stage_name")
                                        .DataValueField("claim_stage_id")
                                        .OptionLabel("все этапы")
                                        .Value(userSettings_claim_stage)
                                        .Events(ev => { ev.Change("prjClaimListPartial.onPrjClaimStageFilterChange"); })
                                        .HtmlAttributes(new { @id = "prjClaimStageFilter", @style = "width: 100px;", @title = "Фильтр по этапам" })
                                        .ToHtmlString()
                                        )
                                        .Overflow(ShowInOverflowPopup.Never);


                                    item.Add().Template(Html.Kendo()
                                        .DropDownList()
                                        .Name("prjClaimExecUserFilter")
                                        .BindTo((IEnumerable<CabinetMvc.ViewModel.Adm.CabUserViewModel>)ViewData["cabUserList"])
                                        .AutoBind(true)
                                        .DataTextField("user_name")
                                        .DataValueField("user_id")
                                        .OptionLabel("все")
                                        .Value(userSettings_exec_user)
                                        .Events(ev => ev.Change("prjClaimListPartial.onPrjClaimExecUserFilterChange"))
                                        .HtmlAttributes(new { @id = "prjClaimExecUserFilter", @style = "width: 60px;", @title = "Ответственный или исполнитель" })
                                        .ToHtmlString()
                                        )
                                        .Overflow(ShowInOverflowPopup.Never);
                                    item.Add().Template(Html.Kendo()
                                        .DropDownList()
                                        .Name("prjClaimTaskUserStateFilter")
                                        .BindTo((IEnumerable<CabinetMvc.ViewModel.Prj.PrjTaskUserStateTypeViewModel>)ViewData["prjTaskUserStateTypeList"])
                                        .AutoBind(true)
                                        .DataTextField("state_type_name")
                                        .DataValueField("state_type_id")
                                        .OptionLabel("все задачи")
                                        .Value(userSettings_task_user_state_type)
                                        .Events(ev => ev.Change("prjClaimListPartial.onPrjClaimTaskUserStateFilterChange"))
                                        .HtmlAttributes(new { @id = "prjClaimTaskUserStateFilter", @style = "width: 100px;", @title = "Фильтр по заданиям" })
                                        .ToHtmlString()
                                        )
                                        .Overflow(ShowInOverflowPopup.Auto);
                                    item.Add().Type(CommandType.ButtonGroup).Buttons(btn =>
                                    {
                                        btn.Add().Text("Нз").Togglable(true).HtmlAttributes(new { @title = "Неразобрано", @data_state_type_id = "1" }).Selected(userSettings_claim_state_type_1);
                                        btn.Add().Text("Ак").Togglable(true).HtmlAttributes(new { @title = "Активно", @data_state_type_id = "2" }).Selected(userSettings_claim_state_type_2);
                                        btn.Add().Text("Вп").Togglable(true).HtmlAttributes(new { @title = "Выполнено", @data_state_type_id = "3" }).Selected(userSettings_claim_state_type_3);
                                        btn.Add().Text("От").Togglable(true).HtmlAttributes(new { @title = "Отменено", @data_state_type_id = "4" }).Selected(userSettings_claim_state_type_4);
                                    })
                                    .Overflow(ShowInOverflowPopup.Never);

                                    item.Add().Type(CommandType.Button).Text("<span class='toolbar-overflow-text'>Избранные</span>").SpriteCssClass("cab-png cab-png-favor-not").Click("prjClaimListPartial.onBtnPrjClaimFavorClick")
                                        .Overflow(ShowInOverflowPopup.Never)
                                        .HtmlAttributes(new { @title = "Показать избранные задачи" });

                                    item.Add().Template(Html.Kendo()
                                        .DropDownList()
                                        .Name("prjClaimFilter")
                                        .DataSource(ds => {
                                            ds.Read("GetPrjClaimFilterList", "Prj");
                                        })
                                        .AutoBind(true)
                                        .DataTextField("filter_name")
                                        .DataValueField("filter_id")
                                        .OptionLabel("без фильтра")
                                        //.Template("<span>"
                                        //+ "<a class='prj-claim-filter-item-edit' href='/' title='Редактировать фильтр'>р</a>"
                                        //+ "<span style='margin-left:5px;'>#:data.filter_name#</span></span>")
                                        .Events(ev => { ev.Change("prjClaimListPartial.onPrjClaimFilterChange"); })
                                        .HtmlAttributes(new { @id = "prjClaimFilter", @style = "width: 150px;", @title = "Настраиваемые фильтры" })
                                        .ToHtmlString()
                                        )
                                        .HtmlAttributes(new { @class = "prj-claim-filter-ddl" })
                                        .Overflow(ShowInOverflowPopup.Never);

                                    item.Add().Type(CommandType.SplitButton)
                                        .Text("<span class='toolbar-overflow-text'>Сохранить конфигурацию</span>")
                                        .SpriteCssClass("k-icon k-goup")
                                        .Click("prjList.onBtnConfigClick")
                                        .Id("btn-prj-claim-config")
                                        .HtmlAttributes(new { @title = "Сохранить текущую конфигурацию", @data_config_action_type = "1" })
                                        .MenuButtons(buttons =>
                                        {
                                            buttons.Add().Text("Сохранить конфигурацию")
                                                .Id("btn-prj-claim-config-save")
                                                .SpriteCssClass("k-icon k-goup")
                                                .HtmlAttributes(new { @title = "Сохранить конфигурацию", @data_config_action_type = "2" });
                                            buttons.Add().Text("Загрузить конфигурацию")
                                                .Id("btn-prj-claim-config-load")
                                                .SpriteCssClass("k-icon k-goup")
                                                .HtmlAttributes(new { @title = "Загрузить конфигурацию", @data_config_action_type = "3" });
                                        })
                                    .Overflow(ShowInOverflowPopup.Never);

                                    item.Add().Type(CommandType.SplitButton)
                                        .Text("<span class='toolbar-overflow-text'>Дополнительные фильтры</span>")
                                        .SpriteCssClass("k-icon k-filter")
                                        .Click("prjClaimListPartial.onBtnPrjClaimFilterClick")
                                        .Id("btn-prj-claim-filter")
                                        .HtmlAttributes(new { @title = "Дополнительные фильтры", @data_config_action_type = "1" })
                                        .MenuButtons(buttons =>
                                        {
                                            buttons.Add().Text("Очистить фильтры")
                                                .Id("btn-prj-claim-filter-cancel")
                                                .SpriteCssClass("k-icon k-clear-filter")
                                                .HtmlAttributes(new { @title = "Очистить фильтры", @data_config_action_type = "2" });
                                            buttons.Add().Text("Очистить сортировку")
                                                .Id("btn-prj-claim-sort-cancel")
                                                .SpriteCssClass("k-icon k-strikethrough")
                                                .HtmlAttributes(new { @title = "Очистить сортировку", @data_config_action_type = "3" });
                                            buttons.Add().Text("Сортировать по алгоритму")
                                                .Id("btn-prj-claim-sort-alg")
                                                .SpriteCssClass("k-icon k-insertUnorderedList")
                                                .HtmlAttributes(new { @title = "Сортировать задачи по специальному алгоритму", @data_config_action_type = "4" });
                                        })
                                    .Overflow(ShowInOverflowPopup.Never);

                                    item.Add().Type(CommandType.Button).Text("<span class='toolbar-overflow-text'>Экспорт в Excel</span>")
                                        .SpriteCssClass("k-icon k-i-excel")
                                        .Click("prjClaimListPartial.onBtnPrjClaimExcelClick")
                                        .Overflow(ShowInOverflowPopup.Auto)
                                        .HtmlAttributes(new { @title = "Экспорт в Excel" });

                                    item.Add().Type(CommandType.Separator)
                                        .Overflow(ShowInOverflowPopup.Auto);

                                    item.Add().Type(CommandType.Button).Text("<span class='toolbar-overflow-text'>Справка</span>")
                                        .SpriteCssClass("k-icon cab-png cab-png-help")
                                        .Click("prjClaimListPartial.onBtnPrjFaqClick")
                                        .Overflow(ShowInOverflowPopup.Auto)
                                        .HtmlAttributes(new { @title = "Часто задаваемые вопросы" });
                                })
                                .Events(e => e.Toggle("prjClaimListPartial.onPrjClaimToolbarToggle"))
        )
        @(Html.Kendo().PanelBar().Name("prjClaimFilterPanel").Items(panel =>
                                {
                                    panel.Add().Text("Фильтр").Expanded(false).Content(PrjClaimFilterHelper().ToHtmlString())
                                        .HtmlAttributes(new { @id = "prj-claim-filter-panel" });
                                }))
        @(Html.Kendo().Grid<CabinetMvc.ViewModel.Prj.PrjClaimViewModel>()
                            .Name("prjClaimGrid")
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .Model(model =>
                                {
                                    model.Id(ev => ev.claim_id);
                                })
                                .PageSize(100)
                                .Sort(sort => sort.Add("claim_num").Descending())
                                     .Read(read => read.Action("GetPrjClaimList", "Prj").Data("prjClaimListPartial.getPrjClaimGridData"))
                            )
                            .Columns(columns =>
                            {
                                columns.Bound(p => p.is_favor)
                                        .ClientTemplate("<span class='k-sprite cab-png " + "#if (is_favor) {#" + "cab-png-favor " + "#} else {#" + "cab-png-favor-not " + "#}#" + "claim-list-favor-cell'></span>")
                                        .Width("37px")
                                        .Title("И")
                                        .Filterable(false)
                                        .IncludeInMenu(false);
                                columns.Bound(p => p.claim_num)
                                    //.ClientTemplate("<span" + "#if (is_overdue) {#" + " class='text-danger'" + "#}#" + ">#:claim_num#<span class='pull-right' title='Комментарии'>К</span></span>")
                                    .ClientTemplate("<span" + "#if (is_overdue) {#" + " class='text-danger'" + "#}#" + ">#:claim_num#"
                                                            + "#if (mess_cnt) {#"
                                                            + "<span class='prj-claim-mess-info' title='Комментарии'><button type='button' class='btn btn-default btn-xs' style='font-size: 0.65em;' onclick='prjClaimListPartial.prjClaimGridMessCntClick(" + "#:claim_id#" + ")'>" + "#:mess_cnt#" + "</button></span>"
                                                            + "#}#"
                                                            + "</span>")
                                    .Width("100px")
                                    .IncludeInMenu(false);
                                columns.Bound(p => p.claim_name)
                                    .HtmlAttributes(new { @class = "prj-claim-name" })
                                    .ClientTemplate("<span" + "#if (is_overdue) {#" + " class='text-danger'" + "#}#" + " title='#:claim_text#'>#:claim_name#</span>")
                                    .Width("250px");
                                columns.Bound(p => p.resp_user_name).Width("100px");
                                columns.Bound(p => p.claim_state_type_name).Width("120px")
                                    .ClientTemplate("#=claim_state_type_templ#");
                                columns.Bound(p => p.task_cnt).Width("150px")
                                      .ClientTemplate("<span title='Всего заданий: #:task_cnt#"
                                          + " #if (task_cnt > 0) {#" + " [неразобрано: #:new_task_cnt#, активно: #:active_task_cnt#, выполнено: #:done_task_cnt#, отменено: #:canceled_task_cnt#]"
                                          + " #}#" + "'>"
                                          + " #if (task_cnt > 0) {#" + "<strong>#:task_cnt#</strong>" + "#} else {#" + " #:task_cnt#" + "#}#"
                                          + " #if (task_cnt > 0) {#" + " [ <span class='text-danger'>#:new_task_cnt#</span> <span class='text-success'>#:active_task_cnt#</span> <span class='text-primary'>#:done_task_cnt#</span> <span class='text-warning'>#:canceled_task_cnt#</span> ]"
                                          + " #}#" + "</span>")
                                      ;
                                columns.Bound(p => p.claim_text).Width("300px");
                                columns.Bound(p => p.project_name).Width("100px");
                                columns.Bound(p => p.date_plan).Format("{0:dd.MM.yyyy}").Width("100px");
                                columns.Bound(p => p.date_fact).Format("{0:dd.MM.yyyy}").Width("100px");
                                columns.Bound(p => p.module_name).Width("100px");
                                columns.Bound(p => p.module_part_name).Width("100px");
                                columns.Bound(p => p.module_version_name).Width("100px");
                                columns.Bound(p => p.repair_version_name).Width("100px");
                                columns.Bound(p => p.client_name).Width("100px");
                                columns.Bound(p => p.priority_name).Width("100px");                                
                                columns.Bound(p => p.old_group_name).Width("100px");
                                columns.Bound(p => p.old_state_name).Width("100px");
                                columns.Bound(p => p.crt_date).Format("{0:dd.MM.yyyy HH:mm}").Width("100px");
                                columns.Bound(p => p.crt_user).Width("100px");
                                columns.Bound(p => p.upd_date).Format("{0:dd.MM.yyyy HH:mm}").Width("100px");
                                columns.Bound(p => p.upd_user).Width("100px");
                                columns.Bound(p => p.active_work_type_name).Width("100px");
                                columns.Bound(p => p.exec_user_name_list).Width("100px");
                                columns.Bound(p => p.claim_type_name).Width("100px");
                                columns.Bound(p => p.claim_stage_name).Width("100px");
                                columns.Bound(p => p.summary_rate).Width("100px");
                                columns.Bound(p => p.prj_name_list).Width("100px");
                                columns.Bound(p => p.version_name).Width("100px");
                                columns.Bound(p => p.version_value).Width("100px");
                            })
                            .ColumnMenu(cm =>
                            {
                                cm.Columns(true);
                                cm.Sortable(false);
                                cm.Filterable(true);
                                cm.Messages(m => { m.Columns("Колонки"); });
                            })
                            .Pageable(page =>
                            {
                                page.ButtonCount(5);
                                page.Info(true);
                                page.Input(true);
                                page.Messages(m =>
                                {
                                    m.Display("{0} - {1} из {2}");
                                    m.Empty("");
                                    m.ItemsPerPage("");
                                    m.Page("стр.");
                                    m.Of(" из {0}");
                                });
                                page.PageSizes(new int[] { 10, 20, 50, 100, 500, 1000 });
                                page.Numeric(false);
                                page.PreviousNext(true);
                                page.Refresh(true);
                            })
                            .Resizable(rsb => rsb.Columns(true))
                            .Sortable(sort => sort.SortMode(GridSortMode.SingleColumn))
                            .Scrollable(scr => scr.Height("auto"))
                            .Filterable(ftb => ftb.Mode(GridFilterMode.Menu))
                            .Selectable(sel => sel.Mode(GridSelectionMode.Single))
                            .Reorderable(rd => rd.Columns(true))
                            .Navigatable(nv => nv.Enabled(true))
                            .Groupable(gr => gr.Enabled(false))
                            .Excel(excel => excel
                                .FileName("Список задач.xlsx")
                                .AllPages(false)
                            )
                            .Events(ev =>
                            {
                                ev.DataBinding("prjClaimListPartial.onPrjClaimGridDataBinding");
                                ev.DataBound("prjClaimListPartial.onPrjClaimGridDataBound");
                                ev.Change("prjClaimListPartial.onPrjClaimGridChange");
                            })
        )
}

@helper PrjClaimFilterHelper()
    {
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @(Html.Label("Ответственный", new { @for = "prjClaimRespFilter", @class = "control-label" }))
                        @(Html.Kendo().MultiSelect()
                                                            .Placeholder("...")
                                                            .AutoClose(false)
                                                            .AutoBind(true)
                                                            .BindTo((IEnumerable<CabinetMvc.ViewModel.Adm.CabUserViewModel>)ViewData["cabUserList"])
                                                            .Name("prjClaimRespFilter")
                                                            .HtmlAttributes(new { @id = "prjClaimRespFilter" })
                                                            .DataTextField("user_name")
                                                            .DataValueField("user_id")
                                                            .Value(userSettings_resp_user)
                        )
                    </div>
                    <div class="form-group">
                        @(Html.Label("Источник", new { @for = "prjClaimClientFilter", @class = "control-label" }))
                        @(Html.Kendo().MultiSelect()
                                                            .Placeholder("...")
                                                            .AutoClose(false)
                                                            .AutoBind(true)
                                                            .BindTo((IEnumerable<CabinetMvc.ViewModel.Crm.CrmClientViewModel>)ViewData["clientList"])
                                                            .Name("prjClaimClientFilter")
                                                            .HtmlAttributes(new { @id = "prjClaimClientFilter" })
                                                            .DataTextField("client_name")
                                                            .DataValueField("client_id")
                                                                    .Value(userSettings_client)
                        )
                    </div>
                    <div class="form-group">
                        <input type="button" value="Применить" class="btn btn-sm btn-primary" id="btn-prj-claim-apply-filter" />
                        <input type="button" value="Сбросить" class="btn btn-sm btn-warning" id="btn-prj-claim-reset-filter" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @(Html.Label("Приоритет", new { @for = "prjClaimPriorityFilter", @class = "control-label" }))
                        @(Html.Kendo().MultiSelect()
                                                            .Placeholder("...")
                                                            .AutoClose(false)
                                                            .AutoBind(true)
                                                            .BindTo((IEnumerable<CabinetMvc.ViewModel.Crm.CrmPriorityViewModel>)ViewData["priorityList"])
                                                            .Name("prjClaimPriorityFilter")
                                                            .HtmlAttributes(new { @id = "prjClaimPriorityFilter" })
                                                            .DataTextField("priority_name")
                                                            .DataValueField("priority_id")
                                                            .Value(userSettings_priority)
                        )
                    </div>
                    <div class="form-group">
                        @(Html.Label("Тип", new { @for = "prjClaimClaimTypeFilter", @class = "control-label" }))
                        @(Html.Kendo().MultiSelect()
                                                            .Placeholder("...")
                                                            .AutoClose(false)
                                                            .AutoBind(true)
                                                            .BindTo((IEnumerable<CabinetMvc.ViewModel.Prj.PrjClaimTypeViewModel>)ViewData["claimTypeList"])
                                                            .Name("prjClaimClaimTypeFilter")
                                                            .HtmlAttributes(new { @id = "prjClaimClaimTypeFilter" })
                                                            .DataTextField("claim_type_name")
                                                            .DataValueField("claim_type_id")
                                                            .Value(userSettings_claim_claim_type)
                        )
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Дата создания (с - по)", new { @class = "control-label" })
                        <div>
                            @(Html.Kendo().DatePicker().Name("prjClaimCrtDate1")
                                                    .Value(userSettings_claim_crt_date1)
                                                    .HtmlAttributes(new { @type = "text", @id = "prjClaimCrtDate1", @style = "width: 48% !important;", }))
                            @(Html.Kendo().DatePicker().Name("prjClaimCrtDate2")
                                                    .Value(userSettings_claim_crt_date2)
                                                    .HtmlAttributes(new { @type = "text", @id = "prjClaimCrtDate2", @style = "width: 48% !important;", }))
                        </div>
                    </div>
                    <div class="form-group">
                        @(Html.Label("Группа", new { @for = "prjClaimPrjFilter", @class = "control-label" }))
                        @(Html.Kendo().MultiSelect()
                                                .Placeholder("...")
                                                .AutoClose(false)
                                                .AutoBind(true)
                                                .BindTo((IEnumerable<CabinetMvc.ViewModel.Prj.PrjViewModel>)ViewData["prjList"])
                                                .Name("prjClaimPrjFilter")
                                                .HtmlAttributes(new { @id = "prjClaimPrjFilter" })
                                                .DataTextField("prj_name")
                                                .DataValueField("prj_id")
                                                .Value(userSettings_prj)
                        )
                    </div>
                </div>
            </div>
        </div>
}

@helper PrjClaimSplitterPaneBottomLeftHelper()
    {
        @(Html.Kendo().ToolBar()
                                .Resizable(true)
                                .Name("prjTaskChildToolbar")
                                .Items(item =>
                                {
                                    item.Add().Template("<span><strong>ЗАДАНИЯ</strong></span>")
                                        .Overflow(ShowInOverflowPopup.Never);
                                    item.Add().Type(CommandType.Separator)
                                        .Overflow(ShowInOverflowPopup.Never);
                                    item.Add().Type(CommandType.SplitButton)
                                        .Text("")
                                        .Icon("plus")
                                        .Click("prjClaimListPartial.onBtnPrjTaskChildActionsClick")
                                        .Id("btn-prj-task-child-add")
                                        .HtmlAttributes(new { @title = "Добавить задание", @data_config_action_type = "1" })
                                        .MenuButtons(buttons =>
                                        {
                                            buttons.Add().Text("Передать в работу")
                                                .Id("btn-prj-task-child-send-to-work")
                                                .SpriteCssClass("k-icon cab-png cab-png-send-task")
                                                .HtmlAttributes(new { @title = "Передать задание в работу", @data_config_action_type = "2" });
                                            buttons.Add().Text("Принять в работу")
                                                .Id("btn-prj-task-child-receive-to-work")
                                                .SpriteCssClass("k-icon cab-png cab-png-receive-task")
                                                .HtmlAttributes(new { @title = "Принять задание в работу", @data_config_action_type = "3" });
                                            buttons.Add().Text("Выполнить и передать дальше")
                                                .Id("btn-prj-task-child-complete-and-forward")
                                                .SpriteCssClass("k-icon cab-png cab-png-done-task")
                                                .HtmlAttributes(new { @title = "Выполнить работу и передать задание дальше", @data_config_action_type = "4" });
                                            buttons.Add().Text("Выполнить и вернуть")
                                                .Id("btn-prj-task-child-complete-and-return")
                                                .SpriteCssClass("k-icon cab-png cab-png-return-task")
                                                .HtmlAttributes(new { @title = "Выполнить работу и вернуть задание на доработку", @data_config_action_type = "5" });
                                            buttons.Add().Text("Выполнить и завершить")
                                                .Id("btn-prj-task-child-complete-and-close")
                                                .SpriteCssClass("k-icon cab-png cab-png-finish-task")
                                                .HtmlAttributes(new { @title = "Выполнить работу и завершить задание", @data_config_action_type = "6" });
                                            buttons.Add().Text("Отменить")
                                                .Id("btn-prj-task-child-cancel")
                                                .SpriteCssClass("k-icon cab-png cab-png-cancel-task")
                                                .HtmlAttributes(new { @title = "Отменить задание", @data_config_action_type = "7" });
                                        })
                                    .Overflow(ShowInOverflowPopup.Never);
                                })
        )
        @(Html.Kendo().Grid<CabinetMvc.ViewModel.Prj.PrjTaskViewModel>()
                            .Name("prjTaskChildGrid")
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .Model(model =>
                                {
                                    model.Id(ev => ev.task_id);
                                })
                                .PageSize(100)
                                .Sort(sort => sort.Add("task_num").Ascending())
                                .Read(read => read.Action("GetPrjTaskList_byClaim", "Prj").Data("prjClaimListPartial.getPrjTaskChildGridData"))
                            )
                                                          .Columns(columns =>
                                                          {
                                                              columns.Bound(p => p.user_state_type_templ).Encoded(false).Sortable(false).Filterable(false).Width("40px").Title("").IncludeInMenu(false);
                                                              columns.Bound(p => p.task_num).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                    .ClientTemplate("<span>#:task_num#"
                                                            + "#if (task_mess_cnt) {#"
                                                            + "<span class='pull-right' title='Комментарии'><button type='button' class='btn btn-default btn-xs' style='font-size: 0.65em;' onclick='prjClaimListPartial.prjClaimGridTaskMessCntClick(" + "#:task_id#" + ")'>" + "#:task_mess_cnt#" + "</button></span>"
                                                            + "#}#"
                                                            + "</span>")
                                                              .Title("№").Width("50px").IncludeInMenu(false);
                                                              columns.Bound(p => p.task_text).Encoded(false).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains"))).Width("300px");
                                                              columns.Bound(p => p.task_state_type_name).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                                                  .ClientTemplate("#=task_state_type_templ#")
                                                                  .Width("150px");
                                                              columns.Bound(p => p.work_cnt).Width("150px")
                                                                    .ClientTemplate("<span title='Всего работ: #:work_cnt#"
                                                                        + " #if (work_cnt > 0) {#" + " [активно: #:active_work_cnt#, выполнено: #:done_work_cnt#, отменено: #:canceled_work_cnt#]"
                                                                        + " #}#" + "'>"
                                                                        + " #if (work_cnt > 0) {#" + "<strong>#:work_cnt#</strong>" + "#} else {#" + " #:work_cnt#" + "#}#"
                                                                        + " #if (work_cnt > 0) {#" + " [ <span class='text-success'>#:active_work_cnt#</span> <span class='text-primary'>#:done_work_cnt#</span> <span class='text-warning'>#:canceled_work_cnt#</span> ]"
                                                                        + " #}#" + "</span>")
                                                                    ;
                                                              columns.Bound(p => p.date_plan).Filterable(ftb => ftb.Cell(cell => cell.Operator("eq"))).Format("{0: dd.MM.yyyy}").Width("120px");
                                                              columns.Bound(p => p.upd_date).Filterable(ftb => ftb.Cell(cell => cell.Operator("eq")))
                                                                  .ClientTemplate("#= kendo.toString(upd_date, 'dd.MM.yyyy HH:mm') #&nbsp;#=upd_user#")
                                                                  .Width("150px");
                                                          })
                                                          .ColumnMenu(cm =>
                                                          {
                                                              cm.Columns(true);
                                                              cm.Sortable(false);
                                                              cm.Filterable(true);
                                                              cm.Messages(m => { m.Columns("Колонки"); });
                                                          })
                                                            .Pageable(page =>
                                                            {
                                                                page.ButtonCount(5);
                                                                page.Info(true);
                                                                page.Input(true);
                                                                page.Messages(m =>
                                                                {
                                                                    m.Display("{0} - {1} из {2}");
                                                                    m.Empty("");
                                                                    m.ItemsPerPage("");
                                                                    m.Page("стр.");
                                                                    m.Of(" из {0}");
                                                                });
                                                                page.PageSizes(false);
                                                                page.Numeric(false);
                                                                page.PreviousNext(true);
                                                                page.Refresh(true);
                                                            })
                                                          .Resizable(rsb => rsb.Columns(true))
                                                          .Sortable(sort => sort.SortMode(GridSortMode.SingleColumn))
                                                          .Scrollable(scr => scr.Height("auto"))
                                                          .Filterable(ftb => ftb.Mode(GridFilterMode.Menu))
                                                          .Selectable(sel => sel.Mode(GridSelectionMode.Single))
                                                          .Reorderable(rd => rd.Columns(true))
                                                          .Navigatable(nv => nv.Enabled(true))
                                                          .AutoBind(false)
                                                          .Events(ev =>
                                                          {
                                                              ev.DataBinding("prjClaimListPartial.onPrjTaskChildGridDataBinding");
                                                              ev.DataBound("prjClaimListPartial.onPrjTaskChildGridDataBound");
                                                              ev.Change("prjClaimListPartial.onPrjTaskChildGridChange");
                                                          })
        )
}

@helper PrjClaimSplitterPaneBottomRightHelper()
    {
        @(Html.Kendo().ToolBar().Name("prjTaskChildWorkChildToolbar")
                                .Resizable(true)
                                .Items(item =>
                                {
                                    item.Add().Template("<span><strong>РАБОТЫ</strong></span>");
                                    item.Add().Type(CommandType.Separator)
                                        .Overflow(ShowInOverflowPopup.Never);
                                    item.Add().Type(CommandType.SplitButton)
                                        .Text("")
                                        .Icon("plus")
                                        .Click("prjClaimListPartial.onBtnPrjTaskChildWorkChildActionsClick")
                                        .Id("btn-prj-task-child-work-child-add")
                                        .HtmlAttributes(new { @title = "Добавить работу", @data_config_action_type = "1" })
                                        .MenuButtons(buttons =>
                                        {
                                            buttons.Add().Text("Изменить тип")
                                                .Id("btn-prj-task-child-work-child-change-type")
                                                .SpriteCssClass("k-icon cab-png cab-png-change")
                                                .HtmlAttributes(new { @title = "Изменить тип работы", @data_config_action_type = "2" });
                                        })
                                    .Overflow(ShowInOverflowPopup.Never);
                                })
        )
        @(Html.Kendo().Grid<CabinetMvc.ViewModel.Prj.PrjWorkViewModel>()
                            .Name("prjTaskChildWorkChildGrid")
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .Model(model =>
                                {
                                    model.Id(ev => ev.work_id);
                                })
                                .PageSize(100)
                                .Sort(sort => sort.Add("work_num").Ascending())
                                .Read(read => read.Action("GetPrjWorkList_byTask", "Prj").Data("prjClaimListPartial.getPrjTaskChildWorkChildGridData"))
                            )
                                                          .Columns(columns =>
                                                          {
                                                              columns.Bound(p => p.work_num).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains"))).Width("100px").IncludeInMenu(false);
                                                              columns.Bound(p => p.work_type_name).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains"))).Width("150px");
                                                              columns.Bound(p => p.state_type_name).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")))
                                                                  .ClientTemplate("#=state_type_templ#")
                                                                  .Width("150px");
                                                              columns.Bound(p => p.exec_user_name).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains"))).Width("150px");
                                                              columns.Bound(p => p.is_accept)
                                                                  .ClientTemplate("<input type='checkbox' " + "#if (is_accept) {#" + "checked " + "#}#" + " />")
                                                                  .Filterable(ftb => ftb.Enabled(false))
                                                                  .Width("80px");
                                                              columns.Bound(p => p.date_send).Filterable(ftb => ftb.Cell(cell => cell.Operator("eq"))).Format("{0: dd.MM.yyyy}").Width("120px");
                                                              columns.Bound(p => p.date_beg).Filterable(ftb => ftb.Cell(cell => cell.Operator("eq"))).Format("{0: dd.MM.yyyy}").Width("120px");
                                                              columns.Bound(p => p.date_end).Filterable(ftb => ftb.Cell(cell => cell.Operator("eq"))).Format("{0: dd.MM.yyyy}").Width("120px");
                                                              columns.Bound(p => p.upd_date).Filterable(false)
                                                                  .ClientTemplate("#= kendo.toString(upd_date, 'dd.MM.yyyy HH:mm') #&nbsp;#=upd_user#")
                                                                  .Width("150px");
                                                          })
                                                          .ColumnMenu(cm =>
                                                          {
                                                              cm.Columns(true);
                                                              cm.Sortable(false);
                                                              cm.Filterable(true);
                                                              cm.Messages(m => { m.Columns("Колонки"); });
                                                          })
                                                            .Pageable(page =>
                                                            {
                                                                page.ButtonCount(5);
                                                                page.Info(true);
                                                                page.Input(true);
                                                                page.Messages(m =>
                                                                {
                                                                    m.Display("{0} - {1} из {2}");
                                                                    m.Empty("");
                                                                    m.ItemsPerPage("");
                                                                    m.Page("стр.");
                                                                    m.Of(" из {0}");
                                                                });
                                                                page.PageSizes(false);
                                                                page.Numeric(false);
                                                                page.PreviousNext(true);
                                                                page.Refresh(true);
                                                            })
                                                          .Resizable(rsb => rsb.Columns(true))
                                                          .Sortable(sort => sort.SortMode(GridSortMode.SingleColumn))
                                                          .Scrollable(scr => scr.Height("auto"))
                                                          //.Scrollable(scr => scr.Enabled(false))
                                                          .Filterable(ftb => ftb.Mode(GridFilterMode.Menu))
                                                          .Selectable(sel => sel.Mode(GridSelectionMode.Single))
                                                          .Reorderable(rd => rd.Columns(true))
                                                          .Navigatable(nv => nv.Enabled(true))
                                                          .AutoBind(false)
                                                          .Events(ev =>
                                                          {
                                                              ev.DataBound("prjClaimListPartial.onPrjTaskChildWorkChildGridDataBound");
                                                          })
        )
}


@(Html.Kendo().Splitter().Name("prjClaimSplitter")
                .Orientation(SplitterOrientation.Vertical)
                .Panes(pane =>
                {
                    pane.Add()
                .Size(userSettings_splitter)
                .Collapsible(false)
                .Resizable(true)
                .Scrollable(false)
                .HtmlAttributes(new { @id = "clame-pane-top" })
                .Content(PrjClaimGridHelper().ToHtmlString())
                ;
                    pane.Add()
                .Collapsible(false)
                .Resizable(true)
                .Scrollable(false)
                .HtmlAttributes(new { @id = "clame-pane-bottom" })
                .Content(
                    Html.Kendo().Splitter().Name("prjClaimSplitterBottom")
                    .Orientation(SplitterOrientation.Horizontal)
                    .Panes(pane2 =>
                    {
                                pane2.Add()
                                .Size(userSettings_splitter_child)
                                .Collapsible(true)
                                .Resizable(true)
                                .Scrollable(false)
                                .HtmlAttributes(new { @id = "claim-pane-bottom-left" })
                                .Content(PrjClaimSplitterPaneBottomLeftHelper().ToHtmlString())
                                ;
                                pane2.Add()
                                .Collapsible(true)
                                .Resizable(true)
                                .Scrollable(false)
                                .HtmlAttributes(new { @id = "claim-pane-bottom-right" })
                                .Content(PrjClaimSplitterPaneBottomRightHelper().ToHtmlString())
                                ;
                            })
                    .HtmlAttributes(new { @style = "height:100%;" })
                    .ToHtmlString())
                    ;
                })
                .Events(ev =>
                {
                    ev.Resize("prjClaimListPartial.onPrjClaimSplitterResize");
                })
)

<script>
    curr_user_settings_id = @userSettingsCurrent_id;
    curr_user_settings_name = '@userSettingsCurrent_name';
    curr_user_settings_grid = @Html.Raw(userSettingsCurrent_grid);
</script>
