﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util
@using AuDev.Common.Util
@using Kendo.Mvc.UI.Fluent

@model CabinetMvc.ViewModel.Prj.PrjViewModel

@{
    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.prj_id)
    @Html.HiddenFor(x => x.state_type_id)

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    if (!String.IsNullOrEmpty((string)@ViewBag.Message))
    {
        <div class="k-block k-success-colored">
            <strong>@ViewBag.Message</strong>
            <br />
            <br />
        </div>
        <br />
        <hr />
    }

    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <button type="button" class="k-button k-button-icontext k-info-colored" id="btn-prj-edit-back"><span class="k-icon k-i-arrow-w"></span>Назад</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @(Html.LabelFor(l => l.prj_name, htmlAttributes: new { @class = "control-label" }))
                @(Html.Kendo().TextBoxFor(ss => ss.prj_name).HtmlAttributes(new { @class = "form-control input-sm", }))
                @(Html.ValidationMessageFor(model => model.prj_name, "", new { @class = "text-danger" }))
            </div>
            <div class="form-group">
                @(Html.LabelFor(l => l.date_beg, htmlAttributes: new { @class = "control-label" }))
                @(Html.Kendo().DatePickerFor(ss => ss.date_beg).HtmlAttributes(new { @class = "form-control input-sm", @type = "text" }))
                @(Html.ValidationMessageFor(model => model.date_beg, "", new { @class = "text-danger" }))
            </div>
            <div class="form-group">
                @(Html.LabelFor(l => l.date_end, htmlAttributes: new { @class = "control-label" }))
                @(Html.Kendo().DatePickerFor(ss => ss.date_end).HtmlAttributes(new { @class = "form-control input-sm", @type = "text" }))
                @(Html.ValidationMessageFor(model => model.date_end, "", new { @class = "text-danger" }))
            </div>
            <div class="form-group">
                @(Html.LabelFor(l => l.project_id, htmlAttributes: new { @class = "control-label" }))
                @(Html.Kendo().DropDownListFor(ss => ss.project_id)
                      .BindTo((IEnumerable<CabinetMvc.ViewModel.Crm.CrmProjectViewModel>)ViewData["projectList"])                      
                      .DataTextField("project_name")
                      .DataValueField("project_id")
                      .OptionLabel("нет проекта")
                      .Enable(Model.prj_id <= 0)
                      .HtmlAttributes(new { @class = "form-control input-sm" })
                )
                @(Html.ValidationMessageFor(model => model.project_id, "", new { @class = "text-danger" }))
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">                
                <input type="button" value="Подготовка" class="btn btn-default btn-prj-state-type" data-curr-state-type-id="1" />
                <input type="button" value="Активно" class="btn btn-default btn-prj-state-type" data-curr-state-type-id="2" />
                <input type="button" value="Закрыто" class="btn btn-default btn-prj-state-type" data-curr-state-type-id="3" />                
                @(Html.ValidationMessageFor(model => model.state_type_id, "", new { @class = "text-danger" }))
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 10px;">
        <div class="col-md-6">
            <div class="form-group">
                <input type="button" value="Сохранить" class="btn btn-primary" id="btnPrjEditSubmit" />
                <input type="button" value="Отмена" class="btn btn-warning" id="btnPrjEditCancel" />
            </div>
        </div>
    </div>
}

<script>
</script>