﻿@using CabinetMvc.ViewModel.Prj
@using CabinetMvc.Extensions
@using CabinetMvc.Util
@{
    ViewBag.Title = "Задачи";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currUser = ((CabinetMvc.Controllers.BaseController)ViewContext.Controller).CurrentUser;
    PrjDefaultViewModel userPrjDefault = (PrjDefaultViewModel)ViewData["userPrjDefault"];
}
@section scripts {
    @(Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/prj", "prj-list-{0}.js")))
    @(Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/prj", "prj-claim-list-partial-{0}.js")))
    @(Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/prj", "prj-notebook-partial-{0}.js")))
    @(Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/prj", "prj-brief-partial-{0}.js")))
    @(Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/prj", "prj-settings-partial-{0}.js")))
    @(Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/prj", "prj-sprav-partial-{0}.js")))
    @(Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/prj", "prj-log-partial-{0}.js")))
    @(Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/prj", "prj-edit-partial-{0}.js")))
    @(Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/prj", "prj-claim-edit-partial-{0}.js")))
    @(Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/prj", "prj-bin-partial-{0}.js")))
    @(Scripts.Render(CabinetUtil.GetScripts("/Scripts/views/prj", "prj-claim-filter-edit-partial-{0}.js")))
}

@section menuPath {
    <div class="cab-menu-path">
        @Html.ActionLink("Сервис", "PrjList", "Prj") - @Html.ActionLink("Задачи", "PrjList", "Prj")
    </div>
}

<style>
</style>

@(Html.Kendo().Window()
        .Name("winPrjUserSettingsLoad")
        .Title("Загрузка конфигурации")
        .Content(@<text>
            @(Html.Kendo()
                            .DropDownList()
                            .Name("ddlPrjUserSettingsLoad")
                            .DataSource(ds =>
                            {
                                        ds.Read(r => r.Action("GetPrjUserSettingsList", "Prj").Data("prjList.getCurrPageTypeId"));
                                        ds.ServerFiltering(false);
                                    })
                            .AutoBind(false)
                            .OptionLabel("[по умолчанию]")
                            .DataTextField("setting_name")
                            .DataValueField("setting_id")
                            .Events(ev => ev.DataBound("prjList.onDdlPrjUserSettingsLoadDataBound"))
                            .HtmlAttributes(new { @id = "ddlPrjUserSettingsLoad", @style = "width: 100%;" })
            )
            @(Html.Kendo().Button().Name("btnPrjUserSettingsLoadOk").Icon("tick").Content("OK").HtmlAttributes(new { @type = "button" }))
            @(Html.Kendo().Button().Name("btnPrjUserSettingsLoadCancel").Icon("cancel").Content("Отмена").HtmlAttributes(new { @type = "button" }))
        </text>)
                        .Draggable()
                        .Resizable()
                        .Width(400)
                        .Height(150)
                        .Visible(false)
                        .Modal(true)
                        .Actions(actions => actions.Close())
                        .Events(ev => ev.Open("prjList.onWinPrjUserSettingsLoadOpen"))
)

@(Html.Kendo().Window()
        .Name("winPrjUserSettingsSave")
        .Title("Сохранение конфигурации")
        .Content(@<text>
            @(Html.Kendo().RadioButton().Name("rbNewSetting").HtmlAttributes(new { @name = "rb-prj-user-settings-save", })
                                            .Checked(true)
                                            .Label("создать новую"))
            @(Html.Kendo().TextBox().Name("txtNewSetting").Value("Новая").HtmlAttributes(new { @placeholder = "название конфигурации", @style = "width: 90%;" }))
            <br />
            <br />
            @(Html.Kendo().RadioButton().Name("rbRewriteCurrent").HtmlAttributes(new { @name = "rb-prj-user-settings-save", })
                                            .Checked(false)
                                            .Label("перезаписать текущую"))
            @(Html.Kendo().TextBox().Name("txtCurrentSetting").HtmlAttributes(new { @placeholder = "название конфигурации", @style = "width: 90%;" }))
            <br />
            <br />
            @(Html.Kendo().RadioButton().Name("rbRewriteOther").HtmlAttributes(new { @name = "rb-prj-user-settings-save", })
                                            .Checked(false)
                                            .Label("перезаписать существующую"))
            @(Html.Kendo()
                            .DropDownList()
                            .Name("ddlPrjUserSettingsSave")
                            .DataSource(ds =>
                            {
                                        ds.Read(r => r.Action("GetPrjUserSettingsList", "Prj").Data("prjList.getCurrPageTypeId"));
                                        ds.ServerFiltering(false);
                                    })
                            .AutoBind(false)
                            .DataTextField("setting_name")
                            .DataValueField("setting_id")
                            .Events(ev => ev.DataBound("prjList.onDdlPrjUserSettingsSaveDataBound"))
                            .HtmlAttributes(new { @id = "ddlPrjUserSettingsSave", @style = "width: 90%;" })
            )
            <br />
            <br />
            @(Html.Kendo().Button().Name("btnPrjUserSettingsSaveOk").Icon("tick").Content("OK").HtmlAttributes(new { @type = "button" }))
            @(Html.Kendo().Button().Name("btnPrjUserSettingsSaveCancel").Icon("cancel").Content("Отмена").HtmlAttributes(new { @type = "button" }))
        </text>)
                        .Draggable()
                        .Resizable()
                        .Width(400)
                        .Height(300)
                        .Visible(false)
                        .Modal(true)
                        .Actions(actions => actions.Close())
                        .Events(ev => ev.Open("prjList.onWinPrjUserSettingsSaveOpen"))
)

@helper PrjMainSplitterPaneLeftHelper(PrjDefaultViewModel userPrjDefault)
    {
        @(Html.Kendo().TabStrip().Name("tsPrj")
                    .TabPosition(TabStripTabPosition.Left)
                    .Navigatable(false)
                    .Items(item =>
                    {
            //item.Add().Text("ГРУППЫ")
            //.LoadContentFrom("PrjListPartial", "Prj")
            //.Selected(userPrjDefault.start_page.Trim().ToLower().Equals("prj"));
            item.Add().Text("ЗАДАЧИ")
                                .LoadContentFrom("PrjClaimListPartial", "Prj")
                                .Selected(userPrjDefault.start_page.Trim().ToLower().Equals("claim"));
            //item.Add().Text("РАБОТЫ")
            //.LoadContentFrom("PrjWorkListPartial", "Prj")
            //.Selected(userPrjDefault.start_page.Trim().ToLower().Equals("work"));
            //item.Add().Text("КАЛЕНДАРЬ")
            //.LoadContentFrom("PrjPlanPartial", "Prj")
            //.Selected(userPrjDefault.start_page.Trim().ToLower().Equals("plan"));
            item.Add().Text("БЛОКНОТ")
                                .LoadContentFrom("PrjNotebookPartial", "Prj")
                                .Selected(userPrjDefault.start_page.Trim().ToLower().Equals("notebook"));
                        item.Add().Text("СВОДКА")
                            .LoadContentFrom("PrjBriefPartial", "Prj")
                            .Selected(userPrjDefault.start_page.Trim().ToLower().Equals("brief"));
                        item.Add().Text("СПИСКИ")
                            .LoadContentFrom("PrjSpravPartial", "Prj")
                            .Selected(false);
                        item.Add().Text("ЖУРНАЛ")
                            .LoadContentFrom("PrjLogPartial", "Prj")
                            .Selected(false);
                        item.Add().Text("СЕРВИС")
                            .LoadContentFrom("PrjSettingsPartial", "Prj")
                            .Selected(false);
                        item.Add().Text("КОРЗИНА")
                            .LoadContentFrom("PrjBinPartial", "Prj")
                            .Selected(false);
                    })
                    .Events(ev => { ev.ContentLoad("prjList.onTsPrjContentLoad"); })
        )
}

<div id="prj-loading"></div>

@(Html.Kendo().Splitter().Name("prjMainSplitter")
        .Orientation(SplitterOrientation.Horizontal)
        .Panes(pane =>
        {
            pane.Add()
            .Collapsible(true)
            .Resizable(true)
            .HtmlAttributes(new { @id = "prj-main-pane-left" })
            .Scrollable(false)
            .Content(PrjMainSplitterPaneLeftHelper(userPrjDefault).ToHtmlString())
            ;
            pane.Add()
            .Collapsible(true)
            .Resizable(true)
            .Collapsed(true)
            .HtmlAttributes(new { @id = "prj-main-pane-right", @style = "padding-left: 5px; padding-top: 5px;" })
            //.LoadContentFrom("PrjEditPartial", "Prj", new { @prj_id = "-1" })
            ;
        })
        .Events(ev => ev.ContentLoad("prjList.onPrjMainSplitterContentLoad"))
)

<script id="prj-plan-event-tooltip-template" type="text/x-kendo-template">
    #var element = target.is(".k-task") ? target : target.parent();#
    #var uid = element.attr("data-uid");#
    #var scheduler = target.closest("[data-role=scheduler]").data("kendoScheduler");#
    #var model = scheduler.occurrenceByUid(uid);#

    #if(model) {#

    #if(model.claim_id) {#
    <strong>Задача:</strong> #=model.claim_num#
    <br />
    <strong>Задание:</strong> #=model.task_num#
    <br />
    <strong>Работа:</strong> #=model.work_type_name#
    <br />
    <strong>Статус:</strong> #=model.state_type_name#
    <br />
    <strong>Текст:</strong> #=model.task_text#
    <br />
    <strong>Период:</strong> #=kendo.toString(model.start, 'dd.MM.yyyy HH:mm')# - #=kendo.toString(model.end, 'dd.MM.yyyy HH:mm')#
    #} else {#
    <strong>Событие:</strong> #=model.claim_num#
    <br />
    <strong>Статус:</strong> #=model.state_type_name#
    <br />
    <strong>Текст:</strong> #=model.claim_name#
    <br />
    <strong>Период:</strong> #=kendo.toString(model.start, 'dd.MM.yyyy HH:mm')# - #=kendo.toString(model.end, 'dd.MM.yyyy HH:mm')#
    #}#

    #}#
</script>

<script>
    var ThreeDaysView = kendo.ui.WeekView.extend({
        options: {
            name: "ThreeDaysView",
            title: "ThreeDaysView",
            selectedDateFormat: "{0:D} - {1:D}",
            selectedShortDateFormat: "{0:d} - {1:d}",
            numberOfDays: 3,
            eventHeight: 30,
            showWorkHours: true,
            workDayStart: new Date("2013/1/1 08:00 AM"),
            workDayEnd: new Date("2013/1/1 7:00 PM"),
        },
        name: "ThreeDaysView",
        calculateDateRange: function () {
            var start = this.options.date,
                idx, length,
                dates = [];

            start = kendo.date.addDays(start, -1);

            for (idx = 0, length = this.options.numberOfDays; idx < length; idx++) {
                dates.push(start);
                start = kendo.date.nextDay(start);
            };

            this._render(dates);
        },
        previousDate: function () {
            var date = new Date(this.startDate());
            date.setDate(date.getDate() - this.options.numberOfDays / 2);
            return date
        },
        nextDate: function () {
            return kendo.date.addDays(this.startDate(), this.options.numberOfDays + this.options.numberOfDays / 2);
        }
    });
    var OverdueAgendaView = kendo.ui.AgendaView.extend({
        options: {
            name: "OverdueAgendaView",
            title: "OverdueAgendaView",
        },
        startDate: function () {
            return new Date(2014, 1, 1);
        },
        endDate: function () {
            return new Date(2034, 1, 1);
        }
    });
</script>

<script id="prj-plan-event-templ" type="text/x-kendo-template">
    <div class="k-event-template">
        <div class="#:getClassForStateTypeId(state_type_id)#">
            #:plan_num# #:exec_user_name#
            <span class="prj-plan-event-templ-detail" style="display:none;">
                &nbsp;#if (isAllDay) {# #=kendo.toString(start, 'dd.MM.yyyy')# - #=kendo.toString(end, 'dd.MM.yyyy')# #} else {# #=kendo.toString(start, 'dd.MM.yyyy HH:mm')# - #=kendo.toString(end, 'dd.MM.yyyy HH:mm')# #}#
            </span>
        </div>
        #if(claim_name) {#<div class="prj-plan-event-templ-detail" style="display:none;"><strong>#=claim_name#</strong></div>#}#
        <div>#=title#</div>
    </div>
</script>

<script id="confirm-templ" type="text/kendo-ui-template">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 text-center">
                <p class="confirm-text">Выполнить операцию ?</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11 text-center">
                <button type="button" class="k-button confirm" id="btn-win-confirm-ok">OK</button>
                <button type="button" class="k-button cancel" id="btn-win-confirm-cancel">Отмена</button>
            </div>
        </div>
    </div>
</script>

<script id="edit2-templ" type="text/x-kendo-template">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11">
                <div class="form-group">
                    <label class="edit-label" for="win-edit-value"></label>
                    <input id="win-edit-value" class="k-textbox k-valid form-control" value="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11">
                <div class="form-group">
                    <label class="edit2-label" for="win-edit2-value"></label>
                    <input id="win-edit2-value" class="k-textbox k-valid form-control" value="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11 text-center">
                <button type="button" class="k-button confirm" id="btn-win-confirm-ok">OK</button>
                <button type="button" class="k-button cancel" id="btn-win-confirm-cancel">Отмена</button>
            </div>
        </div>
    </div>
</script>

<script>
    var currUser_CabUserId = @currUser.CabUserId;
    var currUser_CabUserName = '@currUser.CabUserName';
    var currUser_CabUserCrmRoleId = @currUser.CabUserCrmRoleId;
    var maxFileSize = @ViewData["maxFileSize"];
    var allowedExtentions = new Array();
    var allowedExtentions_json = @Html.Raw(Json.Encode(ViewData["allowedExtentions"]));
    for(var i=0;i<allowedExtentions_json.length;i++){
        allowedExtentions[i] = allowedExtentions_json[i];
    }
    function getClassForStateTypeId(state_type_id) {
        switch (state_type_id) {
            case 1:
                return 'text-success';
            case 2:
                return 'text-primary';
            case 3:
                return 'text-warning';
            case 4:
                return 'text-danger';
            default:
                return 'text-primary';
        }
    };
</script>