﻿@using CabinetMvc.Extensions
@using CabinetMvc.Util
@using CabinetMvc.ViewModel.Prj
@using AuDev.Common.Util
@using Kendo.Mvc.UI.Fluent

@{
    Layout = null;
    PrjDefaultViewModel userPrjDefault = (PrjDefaultViewModel)ViewData["userPrjDefault"];
    PrjClaimDefaultViewModel userClaimDefault = (PrjClaimDefaultViewModel)ViewData["userClaimDefault"];
    List<PrjWorkDefaultViewModel> userWorkListDefault = (List<PrjWorkDefaultViewModel>)ViewData["userWorkListDefault"];
}

@helper PrjSettingsStartPageHelper(PrjDefaultViewModel userPrjDefault)
{
    @(Html.Kendo().ToolBar().Name("prjSettingsStartPageToolbar")
    .Resizable(false)
    .Items(item =>
    {
        item.Add().Type(CommandType.ButtonGroup).Buttons(btn =>
        {                        
            btn.Add().Text("Задачи").Togglable(true).Group("start-page-group").HtmlAttributes(new { @data_start_page = "claim" }).Selected(userPrjDefault.start_page.Trim().ToLower().Equals("claim"));                        
            btn.Add().Text("Блокнот").Togglable(true).Group("start-page-group").HtmlAttributes(new { @data_start_page = "notebook", }).Selected(userPrjDefault.start_page.Trim().ToLower().Equals("notebook"));
            btn.Add().Text("Сводка").Togglable(true).Group("start-page-group").HtmlAttributes(new { @data_start_page = "brief", }).Selected(userPrjDefault.start_page.Trim().ToLower().Equals("brief"));
        });
    })
    .Events(e => e.Toggle("prjSettingsPartial.onPrjSettingsStartPageToolbarToggle"))
    )
}

@helper PrjSettingsSaveHelper()
{
    <div class="container-fluid">
        <div class="row" style="margin-top: 10px;">
            <div class="col-lg-5 col-md-5 col-sm-5">
                <div class="form-group">
                    <input type="button" value="Сохранить настройки" class="btn btn-primary" id="btnPrjSettingsSubmit" />                    
                </div>
            </div>
        </div>
    </div>
}

@helper PrjSettingsClaimDefaultHelper(PrjClaimDefaultViewModel userClaimDefault)
{
    <div class="container-fluid">
        <div class="row" style="margin-top: 10px;">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="form-group">
                    @Html.Label("Группа", new { @class = "control-label" })
                    @(Html.Kendo().DropDownList()                        
                        .BindTo((IEnumerable<CabinetMvc.ViewModel.Prj.PrjViewModel>)ViewData["prjList"])
                        .Name("prjClaimDefaultDdl")
                        .HtmlAttributes(new { @id = "prjClaimDefaultDdl", @class = "form-control input-sm" })
                        .DataTextField("prj_name")
                        .DataValueField("prj_id")
                        .Value(userClaimDefault.prj_id.ToString())
                    )
                </div>
                <div class="form-group">
                    @Html.Label("Источник", new { @class = "control-label" })
                    @(Html.Kendo().DropDownList()
                        .BindTo((IEnumerable<CabinetMvc.ViewModel.Crm.CrmClientViewModel>)ViewData["clientList"])
                        .Name("clientClaimDefaultDdl")
                        .HtmlAttributes(new { @id = "clientClaimDefaultDdl", @class = "form-control input-sm" })
                        .DataTextField("client_name")
                        .DataValueField("client_id")
                        .Value(userClaimDefault.client_id.ToString())
                    )
                </div>
                <div class="form-group">
                    @Html.Label("Приоритет", new { @class = "control-label" })
                    @(Html.Kendo().DropDownList()
                        .BindTo((IEnumerable<CabinetMvc.ViewModel.Crm.CrmPriorityViewModel>)ViewData["priorityList"])
                        .Name("priorityClaimDefaultDdl")
                        .HtmlAttributes(new { @id = "priorityClaimDefaultDdl", @class = "form-control input-sm" })
                        .DataTextField("priority_name")
                        .DataValueField("priority_id")
                        .Value(userClaimDefault.priority_id.ToString())
                    )
                </div>
                <div class="form-group">
                    @Html.Label("Ответственный", new { @class = "control-label" })
                    @(Html.Kendo().DropDownList()
                        .BindTo((IEnumerable<CabinetMvc.ViewModel.Adm.CabUserViewModel>)ViewData["cabUserList"])
                        .Name("respUserClaimDefaultDdl")
                        .HtmlAttributes(new { @id = "respUserClaimDefaultDdl", @class = "form-control input-sm" })
                        .DataTextField("user_name")
                        .DataValueField("user_id")
                        .Value(userClaimDefault.resp_user_id.ToString())
                    )
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="form-group">
                    @Html.Label("Проект", new { @class = "control-label" })
                    @(Html.Kendo().DropDownList()
                        .BindTo((IEnumerable<CabinetMvc.ViewModel.Crm.CrmProjectViewModel>)ViewData["projectList"])
                        .Name("projectClaimDefaultDdl")
                        .HtmlAttributes(new { @id = "projectClaimDefaultDdl", @class = "form-control input-sm" })
                        .DataTextField("project_name")
                        .DataValueField("project_id")
                        .Value(userClaimDefault.project_id.ToString())
                    )
                </div>
                <div class="form-group">
                    @Html.Label("Модуль", new { @class = "control-label" })
                    @(Html.Kendo().DropDownList()
                        .BindTo((IEnumerable<CabinetMvc.ViewModel.Crm.CrmModuleViewModel>)ViewData["moduleList"])
                        .Name("moduleClaimDefaultDdl")
                        .HtmlAttributes(new { @id = "moduleClaimDefaultDdl", @class = "form-control input-sm" })
                        .DataTextField("module_name")
                        .DataValueField("module_id")
                        .CascadeFrom("projectClaimDefaultDdl")
                        .Value(userClaimDefault.module_id.ToString())
                    )
                </div>
                <div class="form-group">
                    @Html.Label("Раздел модуля", new { @class = "control-label" })
                    @(Html.Kendo().DropDownList()
                        .BindTo((IEnumerable<CabinetMvc.ViewModel.Crm.CrmModulePartViewModel>)ViewData["modulePartList"])
                        .Name("modulePartClaimDefaultDdl")
                        .HtmlAttributes(new { @id = "modulePartClaimDefaultDdl", @class = "form-control input-sm" })
                        .DataTextField("module_part_name")
                        .DataValueField("module_part_id")
                        .CascadeFrom("moduleClaimDefaultDdl")
                        .Value(userClaimDefault.module_part_id.ToString())
                    )
                </div>
                <div class="form-group">
                    @Html.Label("Версия модуля", new { @class = "control-label" })
                    @(Html.Kendo().DropDownList()
                        .BindTo((IEnumerable<CabinetMvc.ViewModel.Crm.CrmModuleVersionViewModel>)ViewData["moduleVersionList"])
                        .Name("moduleVersionClaimDefaultDdl")
                        .HtmlAttributes(new { @id = "moduleVersionClaimDefaultDdl", @class = "form-control input-sm" })
                        .DataTextField("module_version_name")
                        .DataValueField("module_version_id")
                        .CascadeFrom("moduleClaimDefaultDdl")
                        .Value(userClaimDefault.module_version_id.ToString())
                    )
                </div>
                <div class="form-group">
                    @Html.Label("Версия исправления", new { @class = "control-label" })
                    @(Html.Kendo().DropDownList()
                        .BindTo((IEnumerable<CabinetMvc.ViewModel.Crm.CrmModuleVersionViewModel>)ViewData["moduleVersionList"])
                        .Name("repairVersionClaimDefaultDdl")
                        .HtmlAttributes(new { @id = "repairVersionClaimDefaultDdl", @class = "form-control input-sm" })
                        .DataTextField("module_version_name")
                        .DataValueField("module_version_id")
                        .CascadeFrom("moduleClaimDefaultDdl")
                        .Value(userClaimDefault.repair_version_id.ToString())
                    )
                </div>
            </div>
        </div>
    </div>
}

@helper PrjSettingsWorkDefaultHelper(List<PrjWorkDefaultViewModel> userWorkListDefault)
{
    @(Html.Kendo().Grid<CabinetMvc.ViewModel.Prj.PrjWorkDefaultViewModel>(userWorkListDefault)
                .Name("prjWorkDefaultGrid")
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model => { model.Id(ev => ev.work_type_id); })
                    .PageSize(100)
                    .ServerOperation(false)
                    .Sort(sort => sort.Add("work_type_id").Ascending())
                )
                .Columns(columns =>
                {
                    columns.Bound(p => p.is_default).Width("50px")
                        .Title("По-умолчанию")
                        .ClientTemplate("<input type='checkbox' id='work_default_#=work_type_id#' " + "#if (is_default) {#" + "checked" + "#}#" + " />");
                    columns.Bound(p => p.work_type_name)
                        .Title("Тип работы").Width("100px");
                    columns.Bound(p => p.is_accept)
                        .ClientTemplate("<input type='checkbox' id='work_default_is_accept_#=work_type_id#' " + "#if (is_accept) {#" + "checked" + "#}#" + " />")
                        .Title("Акцепт").Width("50px");
                    columns.Template(@<text></text>)
                            .HtmlAttributes(new { @class = "templateCell" })
                            .ClientTemplate(
                                    Html.Kendo().DropDownList()
                                    .BindTo((IEnumerable<CabinetMvc.ViewModel.Adm.CabUserViewModel>)ViewData["cabUserList"])
                                    .Name("work_default_exec_user_ddl_#=work_type_id#")
                                    .HtmlAttributes(new { @id = "work_default_exec_user_ddl_#=work_type_id#", @class = "form-control input-sm", @style = "width:100px;", })
                                    .DataTextField("user_name")
                                    .DataValueField("user_id")
                                    .Value("#=exec_user_id#")
                                    .ToClientTemplate()
                                    .ToHtmlString()
                                    )
                            .Title("Исполнитель").Width("120px");
                })
                        .Pageable(page => { page.Enabled(false); })
                        .Resizable(rsb => rsb.Columns(true))
                        .Scrollable(scr => scr.Height("auto"))
                        .Filterable(ftb => ftb.Enabled(false))
                        .Events(ev => ev.DataBound("prjSettingsPartial.onPrjWorkDefaultGridDataBound"))
    )
}

@(Html.Kendo().PanelBar()
        .Name("prjSettingsPanel")
        .Items(panelbar =>
        {
            panelbar.Add()
                .Text("Стартовая страница")
                .Content(PrjSettingsStartPageHelper(userPrjDefault).ToHtmlString())
                .Selected(true)
                .Expanded(true);
            panelbar.Add()
                .Text("Параметры задач по умолчанию")
                .Content(PrjSettingsClaimDefaultHelper(userClaimDefault).ToHtmlString());
            panelbar.Add()
                .Text("Параметры работ по умолчанию")
                .Content(PrjSettingsWorkDefaultHelper(userWorkListDefault).ToHtmlString());         
            panelbar.Add()
                .Text("Сохранение")
                .Content(PrjSettingsSaveHelper().ToHtmlString())
                .Expanded(true);
        })
)

<script>
</script>
